Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

autogen: the batch help and layoutOrder's split
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-img/README.md
  website/docs/config/LinearAlignmentsDisplay.md
  website/docs/jbrowse-img.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

ideas: the portal's cards are a contig a row, with context tracks and both counts
  agent-docs/ideas/ready/sv-review-portal.md
Due: prettier --write

The plugin reads gate takes accepted removals, and reports one that excuses nothing
  agent-docs/reference/PLUGIN_ABI_STABILITY.md
  packages/core/src/ReExports/acceptedPluginReadRemovals.json
  scripts/check-plugin-reads.ts
  scripts/pluginHostReads.test.ts
  scripts/pluginHostReads.ts
Due: prettier --write, eslint --fix

jb2export batch counts a deletion of SV size as a gap of half its length or more
  agent-docs/ideas/ready/sv-review-portal.md
  packages/alignments-core/src/variantSortColumn.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/nonReferenceAt.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/tooltipUtils.ts
  products/jbrowse-img/src/batch.ts
  products/jbrowse-img/src/options.ts
  products/jbrowse-img/src/runBatch.ts
  products/jbrowse-img/src/vcfJunctions.test.ts
  products/jbrowse-img/src/vcfJunctions.ts
Due: prettier --write, eslint --fix

autogen: the batch help for a deletion's least gap
  products/jbrowse-img/README.md
  website/docs/jbrowse-img.md
Due: prettier --write

@jbrowse/core/ReExports/names publishes the export names behind each plugin ABI key
  packages/core/package.json
  packages/core/scripts/generateExports.mjs
  packages/core/src/ReExports/names.generated.ts
  packages/core/src/ReExports/names.ts
  scripts/generateReExports.ts
Due: prettier --write, eslint --fix

hprc demo: walks track reads the per-reference GRCh38 file set from gfa-to-tabix 0.5.0
  demos/hprc/README.txt
  demos/hprc/config.json
Due: none

jb2export reads a file named relative to a --config file from beside it
  products/jbrowse-img/src/readData.test.ts
  products/jbrowse-img/src/readData.ts
Due: prettier --write, eslint --fix

addRendererType says renderers were removed, where a v4 plugin got 'is not a function'
  packages/core/src/PluginManager.test.ts
  packages/core/src/PluginManager.ts
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

CI green: far dome solve skips the float32 oracle, split joins the layoutOrder snapshot, diagram rows are string[][]
  packages/render-core/src/shaders/curveDistance.slang
  products/jbrowse-web/src/schemaTests/__snapshots__/ConfigSlotDefaults.test.ts.snap
  website/scripts/gen-diagram-usage.ts
Due: prettier --write, eslint --fix

main deploy keeps old static chunks for 30 days, so open tabs can still lazy-load them
  .github/workflows/push.yml
Due: none

genomes_proteins leads with the protein browser, session-spec blob becomes a footnote
  website/docs/tutorials/genomes_proteins.md
Due: prettier --write

autogen: the bundle sizes
  scripts/registryBundleSizes.json
Due: none

An evicted BAM or CRAM adapter clears its read cache
  packages/core/src/data_adapters/BaseAdapter/BaseAdapter.ts
  packages/core/src/data_adapters/dataAdapterCache.ts
  packages/core/src/data_adapters/freeAdapterSession.integration.test.ts
  plugins/alignments/src/BamAdapter/BamAdapter.ts
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/CramAdapter/cramBudgetWiring.test.ts
Due: prettier --write, eslint --fix

Pangenome hosting tutorial covers haplotype walks from gfa-to-tabix --walks, update docs
  website/docs/tutorials/pangenome_prepare_graph.md
Due: prettier --write

HPRC test config gains the CHM13 walk-indexed graph on hs1
  test_data/graphgenomeview/hprc.json
Due: none

genomes_proteins shows the TP53 session the protein browser builds, opened on R248
  figures.lock
  website/docs/tutorials/genomes_proteins.md
  website/scripts/specs/msa.ts
Due: prettier --write, eslint --fix

autogen: live link for protein/protein_browser_tp53
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Build-your-own examples: each description and doc names a component and what it does
  products/jbrowse-build-your-own/examples-site/scripts/smoke.mjs
  products/jbrowse-build-your-own/examples-site/src/docs/color-and-group-by-a-field.md
  products/jbrowse-build-your-own/examples-site/src/docs/dark-theme.md
  products/jbrowse-build-your-own/examples-site/src/docs/every-chromosome.md
  products/jbrowse-build-your-own/examples-site/src/docs/feature-details.md
  products/jbrowse-build-your-own/examples-site/src/docs/local-files.md
  products/jbrowse-build-your-own/examples-site/src/docs/plot-from-json.md
  products/jbrowse-build-your-own/examples-site/src/docs/search-by-name.md
  products/jbrowse-build-your-own/examples-site/src/docs/session-in-url.md
  products/jbrowse-build-your-own/examples-site/src/docs/svg-figures.md
  products/jbrowse-build-your-own/examples-site/src/docs/synteny.md
  products/jbrowse-build-your-own/examples-site/src/docs/track-loading-and-errors.md
  products/jbrowse-build-your-own/examples-site/src/docs/track-selector.md
  products/jbrowse-build-your-own/examples-site/src/docs/view-controls.md
  products/jbrowse-build-your-own/examples-site/src/examples.ts
  products/jbrowse-build-your-own/examples-site/src/examples/TrackLoadingAndErrors.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/ViewLoadingAndErrors.tsx
  products/jbrowse-build-your-own/examples-site/src/pages/index.astro
Due: prettier --write, eslint --fix

HPRC demo README: the 0.4.0 single set and the chr22 walk files are gone, and the contig-layout links file is restored
  demos/hprc/README.txt
Due: none

chore: pre-push autofix
  website/scripts/third-party-hosts.txt
Due: none

An evicted tabix-backed adapter clears its chunk cache
  plugins/bed/src/BedGraphTabixAdapter/BedGraphTabixAdapter.ts
  plugins/bed/src/BedTabixAdapter/BedTabixAdapter.ts
  plugins/comparative-adapters/src/MultiGenomeIndexedPAFAdapter/MultiGenomeIndexedPAFAdapter.ts
  plugins/comparative-adapters/src/PairwiseIndexedPAFAdapter/PairwiseIndexedPAFAdapter.ts
  plugins/comparative-adapters/src/PifFile.ts
  plugins/gff3/src/Gff3TabixAdapter/Gff3TabixAdapter.ts
  plugins/gtf/src/GtfTabixAdapter/GtfTabixAdapter.ts
  plugins/variants/src/PlinkLDAdapter/PlinkLDTabixAdapter.ts
  plugins/variants/src/SplitVcfTabixAdapter/SplitVcfTabixAdapter.ts
  plugins/variants/src/VcfTabixAdapter/VcfTabixAdapter.test.ts
  plugins/variants/src/VcfTabixAdapter/VcfTabixAdapter.ts
Due: prettier --write, eslint --fix

Build-your-own examples: the one-track page is ultraminimal again
  agent-docs/ideas/waiting-on-a-number/host-chosen-plugin-sets-for-embedded-products.md
  packages/display-ui/src/FloatingLegend.tsx
  products/jbrowse-build-your-own/examples-site/demoHeights.json
  products/jbrowse-build-your-own/examples-site/eagerBundleSizes.json
  products/jbrowse-build-your-own/examples-site/scripts/eagerGraph.mjs
  products/jbrowse-build-your-own/examples-site/scripts/smoke.mjs
  products/jbrowse-build-your-own/examples-site/src/examples.ts
  products/jbrowse-build-your-own/examples-site/src/examples/Ultraminimal.tsx
  products/jbrowse-build-your-own/examples-site/src/pages/one-track.astro
  products/jbrowse-build-your-own/examples-site/src/pages/ultraminimal.astro
Due: prettier --write, eslint --fix

Bump @gmod/shared-read-cache to 2.0 and the parsers built on it
  packages/core/package.json
  packages/core/src/data_adapters/dataAdapterCache.ts
  plugins/alignments/package.json
  plugins/bed/package.json
  plugins/comparative-adapters/package.json
  plugins/gff3/package.json
  plugins/gtf/package.json
  plugins/hic/package.json
  plugins/legacy-jbrowse/package.json
  plugins/sequence/package.json
  plugins/variants/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

jb2export batch keeps a record's adapters open for the next
  products/jbrowse-img/src/renderRegion.ts
  products/jbrowse-img/src/runBatch.test.ts
  products/jbrowse-img/src/runBatch.ts
  products/jbrowse-img/src/types.ts
Due: prettier --write, eslint --fix

Protein browser TP53 figure: NCBI orthologs replace the 100-way alignment
  figures.lock
  website/docs/tutorials/genomes_proteins.md
  website/scripts/specs/msa.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

handoff: the jbrowse-web bundle audit, ranked, with what measured as not worth it
  agent-docs/handoffs/README.md
  agent-docs/handoffs/jbrowse-web-bundle-audit.md
Due: prettier --write

Bump @gmod/bbi to 11.3.1
  package.json
  plugins/bed/package.json
  plugins/wiggle/package.json
  pnpm-lock.yaml
Due: none

docs: the mouse pangenome tutorial reaches Dock2 by its region, since the portal page offers curated examples
  website/docs/tutorials/pangenome_mouse.md
Due: prettier --write

A multi-sample variant window with no records finishes loading
  agent-docs/architecture-decision-records/adr-210-both-variant-layouts-ship-one-cell-payload.md
  plugins/variants/src/LinearMultiSampleVariantDisplay/matrix/columnGeometry.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/model.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/regionHasData.test.ts
  plugins/variants/src/VariantRPC/executeVariantCellData.ts
  plugins/variants/src/VariantRPC/groupFeaturesByRegion.test.ts
  plugins/variants/src/VariantRPC/groupFeaturesByRegion.ts
Due: prettier --write, eslint --fix

autogen: the matrix block's doc
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearMultiSampleVariantDisplay.md
Due: prettier --write

docs: the HPRC page figure with the sidecar's lane wording, and SMN is no longer one of its examples
  figures.lock
  website/docs/tutorials/pangenome_hprc.md
Due: prettier --write

HPRC demo: a lanes track read from the haplotype walk files
  demos/hprc/README.txt
  demos/hprc/config.json
Due: none

docs: the pangenome tutorials say what the graph, the VCF and the lanes do not show
  website/docs/tutorials/pangenome_hprc.md
  website/docs/tutorials/pangenome_hprc_haplotypes.md
  website/docs/tutorials/pangenome_mouse.md
Due: prettier --write

docs: the HPRC graph launch opens the graph over its bubbles and alleles
  figures.lock
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/specs/genomes_pangenome.ts
Due: prettier --write, eslint --fix

autogen: the HPRC graph launch's live link
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Pangenome tutorials and figure specs read haplotype lanes from the walk files
  package.json
  pnpm-lock.yaml
  website/docs/tutorials/pangenome_hprc_haplotypes.md
  website/docs/tutorials/pangenome_hprc_repeats.md
  website/docs/tutorials/pangenome_prepare_graph.md
  website/scripts/specs/genomes_pangenome.ts
  website/scripts/specs/graph-hprc.ts
  website/scripts/specs/graph-reading.ts
  website/scripts/specs/synteny.ts
  website/src/lib/liveLinks.generated.ts
  website/src/lib/spec-recipe/hostedConfigs.generated.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
