Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

The multi-row display keys its rows and draws them through the table
  packages/render-core/src/marks/index.ts
  packages/render-core/src/marks/rowTable.test.ts
  packages/render-core/src/marks/rowTable.ts
  packages/render-core/src/marks/spanMark.ts
  packages/render-core/src/shaders/rowTable.js.generated.ts
  packages/render-core/src/shaders/rowTable.slang
  packages/render-core/src/shaders/spanMark.glsl.generated.ts
  packages/render-core/src/shaders/spanMark.wgsl.generated.ts
  plugins/canvas/benches/rowTableRepack.bench.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/featurePaintInputs.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/hitTesting.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/renderSvg.test.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/featurePainting.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/multiRowChannels.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/multiRowChannels.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/multiRowMarks.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/multiRowRenderingBackendTypes.ts
  test_data/volvox/config.json
Due: prettier --write, eslint --fix

Regenerate the artifacts the row table moved, and type the glyph test's state
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/drawMultiRowIndelGlyphs.test.ts
  website/docs/models/LinearMultiRowFeatureDisplay.md
Due: prettier --write, eslint --fix

Record the row table: ADR, the docs it amends, and the frame and re-pack benches
  agent-docs/architecture-decision-records/adr-NNN-the-row-axis-rides-a-table-the-vertex-stage-samples.md
  agent-docs/handoffs/grammar-of-graphics-convergence.md
  agent-docs/ideas/waiting-on-someone-else/wiggle-instance-records-carry-per-row-constants.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  plugins/canvas/benches/rowTableFrame.probe.ts
Due: prettier --write, eslint --fix

The row table ADR takes 164, and the artifacts regenerate over main
  agent-docs/architecture-decision-records/adr-164-the-row-axis-rides-a-table-the-vertex-stage-samples.md
  agent-docs/handoffs/grammar-of-graphics-convergence.md
  agent-docs/ideas/waiting-on-someone-else/wiggle-instance-records-carry-per-row-constants.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  agent-docs/reference/SHADER_SHAPE_LIBRARY.md
  packages/core/src/ReExports/reExports.generated.json
Due: prettier --write

The row table ADR takes 165, and its census and artifacts regenerate over main
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-165-the-row-axis-rides-a-table-the-vertex-stage-samples.md
  agent-docs/handoffs/grammar-of-graphics-convergence.md
  agent-docs/ideas/waiting-on-someone-else/wiggle-instance-records-carry-per-row-constants.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  plugins/canvas/src/LinearMultiRowFeatureDisplay/__snapshots__/workCensus.test.ts.snap
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/chromeBundleSizes.json
  scripts/registryBundleSizes.json
Due: prettier --write

A clustered no-value row keeps its dendrogram
  packages/tree-sidebar/src/clusterMatrix.test.ts
  packages/tree-sidebar/src/clusterMatrix.ts
  packages/tree-sidebar/src/writeNewick.ts
Due: prettier --write, eslint --fix

The feature hit box is the painted span, the arrow included
  plugins/canvas/src/LinearBasicDisplay/components/hitTesting.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/hitTesting.ts
  plugins/canvas/src/LinearBasicDisplay/marks/strandArrow.ts
  plugins/canvas/src/LinearBasicDisplay/packRef.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/glyphUtils.ts
Due: prettier --write, eslint --fix

A repartition back to auto stops pinning the old field
  plugins/canvas/src/LinearMultiRowFeatureDisplay/partitionFieldTransport.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/partitionFields.ts
Due: prettier --write, eslint --fix

tree-sidebar notes name the empty-row newick gap
  packages/tree-sidebar/CLAUDE.md
Due: prettier --write

pnpm autogen
  agent-docs/reference/SVG_EXPORT.md
Due: prettier --write

A glyph's own palette yields to the track's color
  plugins/canvas/src/RenderFeatureDataRPC/collect/emitPrimitives.ts
  plugins/canvas/src/RenderFeatureDataRPC/collect/glyphColors.ts
  plugins/canvas/src/RenderFeatureDataRPC/collect/glyphEmitters.ts
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.test.ts
Due: prettier --write, eslint --fix

The canvas feature colour's scale is the main thread's
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/colorLegend.test.ts
  plugins/canvas/src/LinearBasicDisplay/colorViews.ts
  plugins/canvas/src/LinearBasicDisplay/components/resolveRegionColors.ts
  plugins/canvas/src/LinearBasicDisplay/derivedColorKey.ts
  plugins/canvas/src/LinearBasicDisplay/fetchAutorun.test.ts
  plugins/canvas/src/LinearBasicDisplay/isoformTrim.ts
  plugins/canvas/src/LinearBasicDisplay/renderSvg.test.tsx
  plugins/canvas/src/LinearBasicDisplay/renderSvg.tsx
  plugins/canvas/src/RenderFeatureDataRPC/collect/colorKey.ts
  plugins/canvas/src/RenderFeatureDataRPC/collect/emitPrimitives.ts
  plugins/canvas/src/RenderFeatureDataRPC/collect/glyphColors.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/collect/glyphColors.ts
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.ts
  plugins/canvas/src/RenderFeatureDataRPC/colorClasses.ts
  plugins/canvas/src/RenderFeatureDataRPC/packRenderArrays.ts
  plugins/canvas/src/RenderFeatureDataRPC/renderConfig.ts
  plugins/canvas/src/RenderFeatureDataRPC/rpcTypes.ts
  plugins/canvas/src/RenderFeatureDataRPC/testUtils.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/geneGlyphParity.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/laneDisplayConfig.ts
Due: prettier --write, eslint --fix

The feature colour takes a ramp, labels and a title
  agent-docs/architecture-decision-records/adr-156-the-feature-colour-takes-a-threshold.md
  agent-docs/architecture-decision-records/adr-163-the-feature-colours-scale-resolves-on-the-main-thread.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  packages/core/src/util/categoricalField.ts
  packages/core/src/util/markEncoding.ts
  packages/core/src/util/markEncodingTypes.ts
  packages/display-kit/src/channelSpec.test.ts
  packages/display-kit/src/channelSpec.ts
  packages/display-kit/src/colorConfigSchema.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/channelSpec.test.ts
  plugins/canvas/src/LinearBasicDisplay/colorLegend.test.ts
  plugins/canvas/src/LinearBasicDisplay/colorViews.ts
  plugins/canvas/src/LinearBasicDisplay/derivedColorKey.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/configSchema.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/geneColorConfigSchema.ts
  plugins/marks/src/LinearMarkDisplay/markColorConfigSchema.ts
  plugins/variants/src/LinearVariantDisplay/model.ts
  plugins/variants/src/shared/cellColorConfigSchema.ts
Due: prettier --write, eslint --fix

The feature display's key comes from its colour object alone
  demos/ecoli_pangenome/config.json
  packages/core/README.md
  packages/core/src/ReExports/reExports.generated.json
  plugins/canvas/src/LinearBasicDisplay/baseConfigSchema.ts
  plugins/canvas/src/LinearBasicDisplay/colorLegend.test.ts
  plugins/canvas/src/LinearBasicDisplay/configSchema.ts
  plugins/canvas/src/LinearBasicDisplay/densityTier.test.ts
  plugins/canvas/src/LinearBasicDisplay/fetchAutorun.test.ts
  plugins/canvas/src/LinearBasicDisplay/model.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/api/core.md
  website/docs/config/FeatureColor.md
  website/docs/config/LinearBasicDisplay.md
  website/docs/config/LinearCanvasBaseDisplay.md
  website/docs/config/LinearVariantDisplay.md
  website/docs/config/MarkColor.md
  website/docs/config/MultiWayGeneColor.md
  website/docs/config/MultiWaySyntenyDisplay.md
  website/docs/cookbook.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/repeatmasker_classes.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/scripts/spec-recipe-unmapped.txt
  website/scripts/specs/cookbook.ts
  website/scripts/specs/graph-fixtures.ts
  website/scripts/specs/sv.ts
  website/src/lib/liveLinks.generated.ts
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

A label over the view stays drawn after its feature leaves it
  plugins/canvas/src/LinearBasicDisplay/components/labelPositioning.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/labelPositioning.ts
  plugins/canvas/src/LinearBasicDisplay/featureHighlightInk.ts
Due: prettier --write, eslint --fix

Label-row lanes hold a gene's transcripts past 255
  plugins/canvas/src/LinearBasicDisplay/applyLayout.ts
  plugins/canvas/src/RenderFeatureDataRPC/packRenderArrays.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/packRenderArrays.ts
  plugins/canvas/src/RenderFeatureDataRPC/rpcTypes.ts
Due: prettier --write, eslint --fix

A transcript's label is reserved from the transcript
  plugins/canvas/src/LinearBasicDisplay/layout.test.ts
  plugins/canvas/src/LinearBasicDisplay/packRef.ts
Due: prettier --write, eslint --fix

A failed jexl colour paints the misconfiguration grey
  plugins/canvas/src/RenderFeatureDataRPC/collect/glyphColors.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/collect/glyphColors.ts
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.test.ts
Due: prettier --write, eslint --fix

Field colours: a palette per scale, stamped regions, and the review's holes
  agent-docs/architecture-decision-records/adr-163-the-feature-colours-scale-resolves-on-the-main-thread.md
  packages/core/src/util/markEncoding.ts
  packages/core/src/util/markEncodingTypes.ts
  packages/display-kit/src/colorScale.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/colorLegend.test.ts
  plugins/canvas/src/LinearBasicDisplay/colorViews.ts
  plugins/canvas/src/LinearBasicDisplay/components/paintFeatureBand.ts
  plugins/canvas/src/LinearBasicDisplay/components/resolveRegionColors.ts
  plugins/canvas/src/LinearBasicDisplay/densityTier.test.ts
  plugins/canvas/src/LinearBasicDisplay/isoformTrimPipeline.test.ts
  plugins/canvas/src/LinearBasicDisplay/renderSvg.test.tsx
  plugins/canvas/src/LinearBasicDisplay/renderSvg.tsx
  plugins/canvas/src/RenderFeatureDataRPC/collect/colorKey.ts
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.ts
  plugins/canvas/src/RenderFeatureDataRPC/colorClasses.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/colorClasses.ts
  plugins/canvas/src/RenderFeatureDataRPC/rpcTypes.ts
  plugins/canvas/src/RenderFeatureDataRPC/testUtils.ts
  plugins/marks/src/LinearMarkDisplay/legend.test.ts
  plugins/marks/src/LinearMarkDisplay/legend.ts
  plugins/marks/src/LinearMarkDisplay/markColorConfigSchema.ts
  plugins/marks/src/LinearMarkDisplay/markProblems.test.ts
  plugins/marks/src/LinearMarkDisplay/markProblems.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-cli/src/commands/validate/markDisplays.test.ts
  products/jbrowse-cli/src/commands/validate/markRules/colorScale.ts
  products/jbrowse-cli/src/commands/validate/markRules/markProblems.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/MarkColor.md
  website/docs/config_guides/mark_display.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

The colour object's views are shared, for the multi-row display to compose
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/colorViews.ts
  plugins/canvas/src/RenderFeatureDataRPC/renderConfig.ts
  plugins/canvas/src/shared/featureColorViews.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
Due: prettier --write, eslint --fix

labels names a threshold's intervals too
  packages/core/README.md
  packages/core/src/util/markEncoding.ts
  packages/core/src/util/markEncodingTypes.ts
  packages/core/src/util/thresholdScale.ts
  packages/display-kit/src/colorConfigSchema.ts
  packages/display-kit/src/colorScale.ts
  plugins/canvas/src/LinearBasicDisplay/colorLegend.test.ts
  plugins/marks/src/LinearMarkDisplay/legend.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-cli/src/commands/validate/markRules/colorScale.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/api/core.md
  website/docs/config/FeatureColor.md
  website/docs/config/MarkColor.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

pnpm autogen, and an empty key title is no title
  agent-docs/ARCHITECTURE.md
  agent-docs/architecture-decision-records/README.md
  plugins/canvas/src/LinearBasicDisplay/colorLegend.test.ts
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

The multi-row display's colour is the FeatureColor object
  agent-docs/ARCHITECTURE.md
  agent-docs/architecture-decision-records/adr-163-the-feature-colours-scale-resolves-on-the-main-thread.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  demos/cgiab/config.json
  plugins/canvas/src/LinearMultiRowFeatureDisplay/clusterField.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/colorLegendGate.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/configSchema.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/fieldColor.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/partitionFields.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/colorLegend.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/featurePainting.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/multiRowChannels.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/multiRowRenderingBackendTypes.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/retiredSettings.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rowOrderByValueAt.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rowOrderByValueAt.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/executeMultiRowGetFeatures.test.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/packMultiRowFeatures.test.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/packMultiRowFeatures.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/rpcTypes.ts
  plugins/canvas/src/shared/featureColorViews.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/LinearMultiRowFeatureDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/docs/tutorials/tcga_cohort_cnv.md
  website/docs/user_guides/multirow_feature_track.md
  website/scripts/specs/sv.ts
  website/scripts/specs/tcga.ts
  website/src/lib/liveLinks.generated.ts
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

Docs follow the arc plugin's deletion and the multi-row colour object
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  scripts/build_syri_synteny.sh
  test_data/syri/config.json
  website/docs/tutorials/k562_fusions.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/docs/tutorials/syri_synteny.md
Due: prettier --write

The modification extract walks only the fetched region of each read
  agent-docs/handoffs/alignments_misc.md
  agent-docs/reference/MODIFICATION_TAGS.md
  packages/cigar-utils/src/getNextRefPos.ts
  packages/cigar-utils/src/index.ts
  packages/cigar-utils/src/refWindowToRead.test.ts
  packages/cigar-utils/src/refWindowToRead.ts
  packages/modifications-utils/src/forEachModRefPos.ts
  packages/modifications-utils/src/getMethBins.ts
  packages/modifications-utils/src/getModPositions.fuzz.test.ts
  packages/modifications-utils/src/getModPositions.test.ts
  packages/modifications-utils/src/getModPositions.ts
  plugins/alignments/benches/mmParseShape.bench.ts
  plugins/alignments/benches/modWindow.bench.ts
  plugins/alignments/src/features/modification/extract.test.ts
  plugins/alignments/src/features/modification/extract.ts
  plugins/alignments/src/shared/getMaxProbModAtEachPosition.test.ts
  plugins/alignments/src/shared/getMaxProbModAtEachPosition.ts
Due: prettier --write, eslint --fix

Handoff
  agent-docs/handoffs/arabidopsis.md
  agent-docs/handoffs/identity_coloring.md
  agent-docs/handoffs/introgression.md
  agent-docs/handoffs/inversion.md
  agent-docs/handoffs/json_addtrack.md
  agent-docs/handoffs/mstfork.md
  agent-docs/handoffs/multirow.md
  agent-docs/handoffs/restack.md
  agent-docs/handoffs/review.md
  agent-docs/handoffs/star.md
  agent-docs/handoffs/wheel.md
Due: prettier --write

Handoff notes carry frontmatter, variants names WorkerColor, the cattle spec is a URL spec
  agent-docs/handoffs/alignments_misc.md
  agent-docs/handoffs/arabidopsis.md
  agent-docs/handoffs/identity_coloring.md
  agent-docs/handoffs/introgression.md
  agent-docs/handoffs/inversion.md
  agent-docs/handoffs/json_addtrack.md
  agent-docs/handoffs/mark.md
  agent-docs/handoffs/mstfork.md
  agent-docs/handoffs/multirow.md
  agent-docs/handoffs/restack.md
  agent-docs/handoffs/review.md
  agent-docs/handoffs/star.md
  agent-docs/handoffs/wheel.md
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  website/scripts/specs/graph-mouse-cattle.ts
Due: prettier --write, eslint --fix

pnpm autogen
  agent-docs/handoffs/README.md
  packages/cigar-utils/README.md
  packages/modifications-utils/README.md
  website/docs/api/cigar-utils.md
  website/docs/api/modifications-utils.md
Due: prettier --write

Guards follow main: importGraph maps add-track-core, render-core pins the link-mark subpaths, the fetch autorun's pinned reads take the session guard's probes, and its closure ceiling rises to 70
  packages/display-ui/src/importGraph.node.ts
  packages/render-core/src/__snapshots__/publicApi.test.ts.snap
  plugins/linear-genome-view/src/displayKitTests/installPerRegionFetchAutoruns.test.ts
  scripts/moduleClosure.test.ts
Due: prettier --write, eslint --fix

Variant and mark display tests follow the one multi-sample display, the derived key and the unspent shape
  products/jbrowse-web/src/tests/MarkDisplay.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/vcf-cluster-test-tsx-opens-a-vcf-track-and-clusters-genotypes-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/vcf-matrix-test-tsx-matrix-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/vcf-matrix-test-tsx-mphased-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/vcf_cluster_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/VcfCluster.test.tsx.snap
Due: prettier --write, eslint --fix

Search, SV inspector and label tests follow searchIndexes, the connector's hover path and fit-by-default height
  products/jbrowse-web/src/tests/CollapseIntrons.test.tsx
  products/jbrowse-web/src/tests/SVInspector.test.tsx
  products/jbrowse-web/src/tests/SubfeatureLabels.test.tsx
  products/jbrowse-web/src/tests/TextSearching.test.tsx
Due: prettier --write, eslint --fix

SVG export pins follow true read starts, the connector hit path, short-way chords and fit-by-default height; the reversed-region label test sets fixed
  products/jbrowse-web/src/tests/ReversedRegionLabels.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/alignments_vector_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/breakpoint_split_view_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/canvas_feature_vector_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/circular_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_gridlines_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/reversed_region_labels_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_color_legend_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_gridlines_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/BreakpointSplitView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgBreakpointSplitView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgCircular.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgDisplayTypes.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgLinearSyntenyView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ReversedRegionLabels.test.tsx.snap
Due: prettier --write, eslint --fix

The docs generator compares a slot table's call parts, which the website typecheck names as unhandled
  website/scripts/api-docs/enumConstants.ts
Due: prettier --write, eslint --fix

Bank the build-your-own site's eager bundle after the colour-object round
  products/jbrowse-build-your-own/examples-site/eagerBundleSizes.json
Due: none

Figure recipes render inline markdown in notes, put launch options before Launch, and pin the dialog's top
  agent-docs/handoffs/README.md
  agent-docs/handoffs/json_addtrack.md
  website/scripts/recipe-path-labels.ts
  website/src/lib/derive-desktop-steps.test.ts
  website/src/lib/derive-desktop-steps.ts
  website/src/lib/spec-recipe/fields.ts
  website/src/lib/spec-recipe/html.ts
  website/src/lib/spec-recipe/launchSteps.test.ts
  website/src/lib/spec-recipe/recipe.ts
  website/src/styles/widgets/spec-recipe.css
Due: prettier --write, eslint --fix

Declarations name synteny-core and LGV types from their entries, a slot tag documents one row, and the config-read baseline takes three widened reads
  agent-docs/architecture-decision-records/adr-052-slot-name-safety-is-a-write-guard.md
  agent-docs/architecture-decision-records/adr-091-a-displays-settings-are-a-declaration.md
  agent-docs/measurements/config-read-gap-populations.json
  agent-docs/measurements/config-read-type-gaps.json
  packages/synteny-core/package.json
  plugins/linear-genome-view/src/index.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/configReadTypeGaps.txt
  website/docs/config/FeatureColor.md
  website/scripts/api-docs/generateConfigDocs.ts
Due: prettier --write, eslint --fix

Handoffs take Colin's calls: inversion straightening parks in ideas, the GRCh38 hub is dropped, the HPRC curated panel is rejected
  agent-docs/handoffs/README.md
  agent-docs/handoffs/hprc-graph-overview-and-live-stack.md
  agent-docs/handoffs/inversion.md
  agent-docs/handoffs/restack.md
  agent-docs/ideas/README.md
  agent-docs/ideas/ready/straighten-an-inversion-by-reversing-its-span.md
Due: prettier --write

Hi-C loops draw as mark display links, and the adapter guide's preProcessSnapshot link lands on the schema section
  website/docs/developer_guides/creating_adapter.md
  website/docs/user_guides/hic_track.md
Due: prettier --write

TODO: a paired record draws its links with no config
  agent-docs/TODO.md
  agent-docs/todo/a-paired-record-draws-its-links-with-no-config.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
