Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(test): name the shape a pin-coverage fixture's opener returns
  products/jbrowse-web/src/tests/PromotablePinCoverage.test.ts
Due: prettier --write, eslint --fix

fix(test): the marker-region test reads the notice it splices
  website/scripts/api-docs/util.test.ts
Due: prettier --write, eslint --fix

test(synteny): the ribbon slots resolve through the cascade, not to their base
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/ribbonSettingsCascade.test.ts
Due: prettier --write, eslint --fix

docs(autogen): generate the promotable adopter table
  agent-docs/reference/DISPLAY_TYPE_DEFAULTS.md
  agent-docs/reference/GENERATED_DOC_BLOCKS.md
  website/scripts/api-docs/generateConfigDocs.ts
Due: prettier --write, eslint --fix

docs: drop the counts the adopter table replaced
  agent-docs/reference/DISPLAY_TYPE_DEFAULTS.md
  products/jbrowse-web/src/tests/PromotedBaseDescriptions.test.ts
  website/scripts/api-docs/generateConfigDocs.ts
Due: prettier --write, eslint --fix

docs(test): the fallback-sentence count is 40, across seven plugins
  products/jbrowse-web/src/tests/PromotedBaseDescriptions.test.ts
Due: prettier --write, eslint --fix

docs: the SV-channels row and the ribbon pins, as they actually behave
  agent-docs/reference/DEMO_DATASETS.md
  website/docs/tutorials/sv_contact_maps.md
  website/docs/user_guides/display_defaults.md
Due: prettier --write

fix(scripts): the .hic checks read a jar, they do not fetch one
  scripts/build_sv_contact_maps.sh
  scripts/check-build-scripts.py
  scripts/sv_contact_maps.py
Due: none

perf(lgv): pool PaddingBlocks' divs by position, and a render census to see it
  plugins/linear-genome-view/src/LinearGenomeView/components/PaddingBlocks.tsx
  products/jbrowse-web/src/tests/ZoomRenderCensus.test.tsx
  products/jbrowse-web/src/tests/ZoomStopTokenMints.test.tsx
  products/jbrowse-web/src/tests/renderCensus.ts
Due: prettier --write, eslint --fix

test(docs): check the fallback promise where the reader meets it
  products/jbrowse-web/src/tests/PromotedBaseDescriptions.test.ts
  website/scripts/check-doc-slots.ts
Due: prettier --write, eslint --fix

test(zoom): gate the two poolings a zoom gesture depends on
  plugins/linear-genome-view/src/LinearGenomeView/components/PaddingBlocks.test.tsx
  products/jbrowse-web/src/tests/ZoomRenderCensus.test.tsx
Due: prettier --write, eslint --fix

perf(lgv): publish the content right edge as a scalar, not an array read
  packages/display-kit/src/regionHost.test.ts
  packages/display-kit/src/regionHost.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/wiggle/src/LinearWiggleDisplay/components/WiggleComponent.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/MultiWiggleComponent.tsx
  plugins/wiggle/src/shared/WiggleFamilySvg.tsx
  plugins/wiggle/src/shared/wiggleComponentUtils.test.ts
  plugins/wiggle/src/shared/wiggleComponentUtils.ts
  products/jbrowse-web/src/tests/ZoomRenderCensus.test.tsx
Due: prettier --write, eslint --fix

docs(zoom perf): a computed rebuilding an empty array is not free
  agent-docs/ideas/README.md
  agent-docs/ideas/zoom-perf-followups.md
  agent-docs/reference/INTERACTION_PERF.md
Due: prettier --write

docs(zoom perf): what the render census found, and what it killed
  agent-docs/ideas/zoom-perf-followups.md
  agent-docs/reference/INTERACTION_PERF.md
  agent-docs/reference/REJECTED_IDEAS.md
Due: prettier --write

perf(lgv): a view with nothing to mask draws no padding overlay
  agent-docs/ideas/README.md
  agent-docs/reference/README.md
  plugins/linear-genome-view/src/LinearGenomeView/components/PaddingBlocks.tsx
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  products/jbrowse-web/src/tests/ZoomRenderCensus.test.tsx
  website/docs/models/LinearGenomeView.md
Due: prettier --write, eslint --fix

refactor(lgv): name the padding-span shape, keep it spelled out in the API doc
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  website/docs/models/LinearGenomeView.md
Due: prettier --write, eslint --fix

test(zoom): the census summarises in one line unless asked for the tables
  products/jbrowse-web/src/tests/ZoomRenderCensus.test.tsx
Due: prettier --write, eslint --fix

docs(zoom perf): say which of the two named targets survived
  agent-docs/ideas/README.md
  agent-docs/ideas/zoom-perf.md
Due: prettier --write

docs(interaction perf): name the census flag beside the harness
  agent-docs/reference/INTERACTION_PERF.md
Due: prettier --write

perf(zoom): verify the padding-overlay fixes in a real browser
  agent-docs/ARCHITECTURE.md
  agent-docs/architecture-decision-records/adr-016-bicolorpivot-stays-in-worker.md
  agent-docs/ideas/zoom-perf-followups.md
  agent-docs/reference/INTERACTION_PERF.md
  packages/display-kit/CLAUDE.md
  plugins/linear-genome-view/src/LinearGenomeView/components/PaddingBlocks.tsx
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  products/jbrowse-web/browser-tests/probe-zoom-churn.ts
  products/jbrowse-web/browser-tests/zoom-census-url.ts
Due: prettier --write, eslint --fix

docs(zoom perf): tighten five claims a review found overstated
  agent-docs/ideas/zoom-perf-followups.md
  agent-docs/reference/INTERACTION_PERF.md
  agent-docs/reference/REJECTED_IDEAS.md
  eslint.config.mjs
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  products/jbrowse-web/src/tests/ZoomRenderCensus.test.tsx
  website/docs/models/LinearGenomeView.md
Due: prettier --write, eslint --fix

docs(zoom perf): where the census belongs, and what bicolorPivot says about pack
  agent-docs/ideas/zoom-perf-followups.md
  agent-docs/reference/PERF_INSTRUMENTATION.md
  agent-docs/reference/README.md
  packages/display-kit/CLAUDE.md
Due: prettier --write

feat(synteny)!: the ribbon settings live on the display config alone
  agent-docs/reference/DISPLAY_TYPE_DEFAULTS.md
  demos/ecoli_pangenome/config.json
  plugins/linear-comparative-view/src/LinearComparativeView/components/SyntenySettingsMenu.test.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/components/syntenySettingsMenuItems.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/configSchemaF.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/ribbonSettingsCascade.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/types.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/util/initHelpers.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/util/initHelpers.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/hover.integration.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/configSchema.ts
  products/jbrowse-web/src/tests/ExportSvgLinearSyntenyView.test.tsx
  scripts/build_ecoli_pangenome_cactus.sh
  website/docs/config/LinearSyntenyDisplay.md
  website/docs/config/MultiWaySyntenyDisplay.md
  website/docs/models/LinearSyntenyDisplay.md
  website/docs/models/LinearSyntenyView.md
  website/docs/urlparams.md
  website/docs/user_guides/display_defaults.md
  website/scripts/specs/demoBase.ts
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

docs(interaction perf): one clause of the July alignments verdict has expired
  agent-docs/reference/INTERACTION_PERF.md
Due: prettier --write

docs(upgrading): the synteny ribbon settings moved off the view
  website/docs/developer_guides/upgrading_v5.md
Due: prettier --write

docs(ideas): park the promotable-slot and sv_contact_maps follow-ups
  agent-docs/ideas/README.md
  agent-docs/ideas/promotable-slot-escape-hatches.md
  agent-docs/ideas/sv-contact-maps-read-selection.md
Due: prettier --write

docs(interaction perf): the sashimi clause gets its measurement and its fix
  agent-docs/measurements/sashimi-frame-split.json
  agent-docs/reference/INTERACTION_PERF.md
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  products/jbrowse-web/src/tests/ZoomRenderCensus.test.tsx
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write, eslint --fix

perf(alignments): the two per-frame overlay geometries share their empty array
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/sashimiFrameSplit.test.ts
  products/jbrowse-web/src/tests/ZoomRenderCensus.test.tsx
Due: prettier --write, eslint --fix

perf(sashimi): the junction merge leaves the per-frame computed
  plugins/alignments/benches/k562-chr22-junctions.tsv
  plugins/alignments/benches/sashimiFrame.bench.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/overlaySections.ts
  plugins/alignments/src/features/sashimi/computeOverlay.ts
Due: prettier --write, eslint --fix

docs(optimizations): publish the sashimi split, and the SVG result it did not support
  agent-docs/measurements/sashimi-frame-split.json
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiArcLabels.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/sashimiArcs.ts
  plugins/alignments/src/LinearAlignmentsDisplay/overlaySections.ts
  plugins/alignments/src/features/sashimi/compute.ts
  plugins/alignments/src/features/sashimi/computeOverlay.ts
  plugins/alignments/src/features/sashimi/junctions.ts
  website/docs/developer_guides/optimizations.md
Due: prettier --write, eslint --fix

docs(sashimi): the split's docstring names the getter that holds the merge
  plugins/alignments/src/features/sashimi/computeOverlay.ts
Due: prettier --write, eslint --fix

docs(interaction perf): the sashimi note follows the ruler thread instead of splitting it
  agent-docs/reference/INTERACTION_PERF.md
Due: prettier --write

perf(arc): the arcs become one canvas, and the hover becomes a hit test
  packages/sv-core/src/arcHitRanking.ts
  packages/sv-core/src/index.ts
  plugins/alignments/src/features/arcs/crossRegionHitTarget.test.ts
  plugins/alignments/src/features/arcs/crossRegionOverlay.ts
  plugins/alignments/src/features/arcs/hitTest.test.ts
  plugins/alignments/src/features/arcs/hitTest.ts
  plugins/arc/src/LinearArcDisplay/components/Arcs.tsx
  plugins/arc/src/LinearArcDisplay/components/ReactComponent.tsx
  plugins/arc/src/LinearArcDisplay/components/semicirclePath.test.ts
  plugins/arc/src/LinearArcDisplay/model.ts
  plugins/arc/src/LinearArcDisplay/renderSvg.tsx
  plugins/arc/src/LinearPairedArcDisplay/components/Arcs.tsx
  plugins/arc/src/LinearPairedArcDisplay/components/ReactComponent.tsx
  plugins/arc/src/LinearPairedArcDisplay/model.ts
  plugins/arc/src/LinearPairedArcDisplay/renderSvg.tsx
  plugins/arc/src/shared/ArcGlyph.tsx
  plugins/arc/src/shared/Arcs.test.tsx
  plugins/arc/src/shared/Arcs.tsx
  plugins/arc/src/shared/ArcsContainer.test.tsx
  plugins/arc/src/shared/ArcsContainer.tsx
  plugins/arc/src/shared/arcHitTest.test.ts
  plugins/arc/src/shared/arcHitTest.ts
  plugins/arc/src/shared/arcHover.test.tsx
  plugins/arc/src/shared/arcLayout.ts
  plugins/arc/src/shared/arcShape.test.ts
  plugins/arc/src/shared/arcShape.ts
  plugins/arc/src/shared/drawArcs.test.ts
  plugins/arc/src/shared/drawArcs.ts
  plugins/arc/src/shared/renderArcSvg.tsx
  products/jbrowse-web/src/tests/ZoomRenderCensus.test.tsx
Due: prettier --write, eslint --fix

test(zoom census): give the arc band an arm
  products/jbrowse-web/src/tests/ZoomRenderCensus.test.tsx
Due: prettier --write, eslint --fix

docs(arc): say Canvas2D where twelve places still said SVG
  agent-docs/ARCHITECTURE.md
  agent-docs/ideas/README.md
  agent-docs/ideas/arc-antialiasing-without-msaa.md
  agent-docs/ideas/zoom-perf-followups.md
  agent-docs/reference/ARC_BAND.md
  agent-docs/reference/DISPLAYCHROME.md
  agent-docs/reference/SVG_EXPORT.md
  packages/display-kit/src/DisplayChrome.tsx
  packages/display-kit/src/DisplayStatusChromeBase.tsx
  packages/display-kit/src/GlobalFetchMixin.ts
  plugins/arc/CLAUDE.md
  plugins/arc/src/LinearArcDisplay/model.ts
  plugins/arc/src/LinearPairedArcDisplay/lineWidthMenu.tsx
  plugins/arc/src/LinearPairedArcDisplay/model.ts
  plugins/arc/src/shared/ArcFetchModel.ts
  plugins/arc/src/shared/BaseDisplayComponent.tsx
  plugins/arc/src/shared/scoreFilter.ts
  plugins/arc/src/shared/testEnv.ts
  products/jbrowse-web/src/tests/__image_snapshots__/arc_sv_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgDisplayTypes.test.tsx.snap
  website/docs/models/ArcFetchModel.md
  website/docs/models/GlobalFetchMixin.md
  website/docs/models/LinearArcDisplay.md
  website/docs/models/LinearPairedArcDisplay.md
Due: prettier --write, eslint --fix

refactor(arc): the label baseline is one number, not two
  plugins/arc/src/shared/Arcs.tsx
  plugins/arc/src/shared/arcLayout.ts
  plugins/arc/src/shared/drawArcs.ts
Due: prettier --write, eslint --fix

test(arc): read the pixels, not just the calls
  plugins/arc/src/shared/Arcs.test.tsx
Due: prettier --write, eslint --fix

test(arc): pin semicircle mode, whose radius is not a config slot
  plugins/arc/src/shared/Arcs.test.tsx
Due: prettier --write, eslint --fix

style(arc): thin the comments to what a reader cannot derive
  packages/sv-core/src/arcHitRanking.ts
  plugins/arc/src/LinearArcDisplay/model.ts
  plugins/arc/src/LinearPairedArcDisplay/model.ts
  plugins/arc/src/shared/Arcs.tsx
  plugins/arc/src/shared/arcHitTest.ts
  plugins/arc/src/shared/arcLayout.ts
  plugins/arc/src/shared/arcShape.ts
  plugins/arc/src/shared/drawArcs.ts
  website/docs/models/LinearArcDisplay.md
  website/docs/models/LinearPairedArcDisplay.md
Due: prettier --write, eslint --fix

fix(arc): the hit test culls where the painter culls
  plugins/arc/src/shared/Arcs.tsx
  plugins/arc/src/shared/arcHitTest.test.ts
  plugins/arc/src/shared/arcHitTest.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
