Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

feature-details: the formatted feature is derived, and the track tier outlives the track
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/Attributes.test.tsx
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/Attributes.tsx
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/CoreDetails.tsx
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/featureCallbacks.test.tsx
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/index.tsx
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/util.ts
  packages/core/src/BaseFeatureWidget/formatDetails.ts
  packages/core/src/BaseFeatureWidget/formatDetailsTiers.test.ts
  packages/core/src/BaseFeatureWidget/index.test.tsx
  packages/core/src/BaseFeatureWidget/index.ts
  packages/core/src/BaseFeatureWidget/stateModelFactory.ts
  packages/core/src/BaseFeatureWidget/util.test.ts
  packages/core/src/BaseFeatureWidget/util.tsx
  packages/core/src/configuration/formatDetailsConfigSchema.ts
  packages/core/src/configuration/mergeFormatCallbacks.test.ts
  packages/core/src/configuration/mergeFormatCallbacks.ts
  packages/core/src/util/simpleFeature.ts
  packages/product-core/src/ui/AboutDialogContents.tsx
  packages/product-core/src/ui/util.test.ts
  packages/product-core/src/ui/util.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/FormatDetails.md
  website/docs/config_guides/customizing_feature_details.md
  website/docs/models/BaseFeatureWidget.md
  website/docs/models/VariantFeatureWidget.md
Due: prettier --write, eslint --fix

measure what the worker skips by stubbing the UI half of the ABI
  agent-docs/reference/EAGER_BUNDLE.md
  package.json
  scripts/autogen.ts
  scripts/measureRegistryBundle.ts
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

about: the dialog hydrates once, and every panel reads a live config node
  packages/core/README.md
  packages/core/src/ReExports/reExports.generated.json
  packages/core/src/configuration/index.ts
  packages/core/src/configuration/readConfObject.ts
  packages/core/src/configuration/readConfSlot.test.ts
  packages/product-core/src/ui/AboutDialog.tsx
  packages/product-core/src/ui/AboutDialogContents.test.tsx
  packages/product-core/src/ui/AboutDialogContents.tsx
  packages/product-core/src/ui/AssemblyInfoPanel.test.tsx
  packages/product-core/src/ui/AssemblyInfoPanel.tsx
  packages/product-core/src/ui/DescriptionPanel.test.tsx
  packages/product-core/src/ui/DescriptionPanel.tsx
  packages/product-core/src/ui/FileInfoPanel.test.tsx
  packages/product-core/src/ui/FileInfoPanel.tsx
  packages/product-core/src/ui/RefNameInfoDialog.test.tsx
  packages/product-core/src/ui/RefNameInfoDialog.tsx
  packages/product-core/src/ui/aboutExtensionPoints.test.tsx
  packages/product-core/src/ui/aboutTestUtils.ts
  packages/product-core/src/ui/descriptionHtml.test.ts
  packages/product-core/src/ui/descriptionHtml.ts
  packages/product-core/src/ui/util.test.ts
  packages/product-core/src/ui/util.ts
  website/docs/api/core-configuration.md
  website/docs/developer_guides/extension_points.md
  website/docs/developer_guides/upgrading_v5.md
Due: prettier --write, eslint --fix

lgv: context levels, wider views of the same locus stacked above the tracks
  plugins/linear-genome-view/src/LinearGenomeView/afterAttach.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/ContextLevels.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeViewContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScalebarPolygon.tsx
  plugins/linear-genome-view/src/LinearGenomeView/contextLevels.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/contextLevels.ts
  plugins/linear-genome-view/src/LinearGenomeView/menuItems.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
Due: prettier --write, eslint --fix

lgv: a context level's own launch is not a gesture
  plugins/linear-genome-view/src/LinearGenomeView/contextLevels.ts
Due: prettier --write, eslint --fix

lgv: context levels pin their gesture sets, redirect slide and export to SVG
  plugins/linear-genome-view/src/LinearGenomeView/contextLevels.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/contextLevels.ts
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGLinearGenomeView.tsx
Due: prettier --write, eslint --fix

docs: context levels in the basic usage guide, with two figures
  figures.lock
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearGenomeView.md
  website/docs/urlparams.md
  website/docs/user_guides/basic_usage.md
  website/scripts/screenshot-specs.ts
  website/scripts/spec-recipe-unmapped.txt
  website/scripts/specs/context_levels.ts
  website/src/lib/liveLinks.generated.ts
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

groupBy: a re-pick keeps the curated domain, and a signed key compares by magnitude
  packages/core/src/util/groupKeys.test.ts
  packages/core/src/util/groupKeys.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/groupBy.ts
  plugins/canvas/src/LinearBasicDisplay/groupBySections.test.ts
Due: prettier --write, eslint --fix

alignments: the group-by takes a domain, the same order rule as the feature display's
  packages/core/src/util/groupKeys.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/configSchema.ts
  plugins/alignments/src/LinearAlignmentsDisplay/groupedDataMaps.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/groupedDataMaps.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.coupling.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/shared/groupFeatures.test.ts
  plugins/alignments/src/shared/groupFeatures.ts
  plugins/alignments/src/shared/types.ts
Due: prettier --write, eslint --fix

markEncoding: the legend order is the facet order
  packages/core/src/util/markEncoding.test.ts
  packages/core/src/util/markEncoding.ts
Due: prettier --write, eslint --fix

autogen: the alignments groupBy domain in the slot docs and schema, carryGroupDomain in the reexports
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  packages/core/src/ReExports/reExports.generated.json
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
  website/docs/config/LGVSyntenyDisplay.md
  website/docs/config/LinearAlignmentsDisplay.md
  website/docs/config_guides/mark_display.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

docs: a facet domain is optional, and left off the sections are every value the data holds
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  plugins/alignments/src/LinearAlignmentsDisplay/configSchema.ts
  plugins/canvas/src/LinearBasicDisplay/baseConfigSchema.ts
  plugins/marks/src/LinearMarkDisplay/configSchema.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
  website/docs/config/LGVSyntenyDisplay.md
  website/docs/config/LinearAlignmentsDisplay.md
  website/docs/config/LinearBasicDisplay.md
  website/docs/config/LinearCanvasBaseDisplay.md
  website/docs/config/LinearMarkDisplay.md
  website/docs/config/LinearVariantDisplay.md
  website/docs/config_guides/mark_display.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

test(web): put back the four SVG review files a failing export run swept into the domain commit
  products/jbrowse-web/src/tests/__image_snapshots__/alignments_vector_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/arc_sv_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/canvas_feature_vector_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/wiggle_vector_snapshot.svg
Due: none

feat(synteny): a Sections menu on LGVSyntenyDisplay
  plugins/alignments/src/LinearAlignmentsDisplay/menus/index.ts
  plugins/alignments/src/index.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/trackMenuItems.test.ts
  website/docs/tutorials/allvsall_synteny.md
Due: prettier --write, eslint --fix

docs: sortedBy/sortRowsBy and groupBy are each two mechanisms, not one
  agent-docs/reference/SESSION_SPEC_FORMAT.md
Due: prettier --write

autogen: getSectionOrderMenuItems in the alignments reexports
  packages/core/src/ReExports/reExports.generated.json
  products/jbrowse-desktop/src/workerReExports.generated.ts
  products/jbrowse-react-app/src/workerReExports.generated.ts
  products/jbrowse-react-linear-genome-view/src/workerReExports.generated.ts
  products/jbrowse-web/src/workerReExports.generated.ts
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

feat(display-kit): jexlFilters moves off the base schema onto the three displays that read it
  agent-docs/reference/DOG10K_DATASETS.md
  packages/core/src/util/jexlFilters.ts
  packages/display-kit/package.json
  packages/display-kit/src/configSchema.ts
  packages/display-kit/src/jexlFilterConfigSchemaFields.ts
  packages/product-core/src/sessionMigrations/index.ts
  packages/product-core/src/sessionMigrations/sessionMigrations.test.ts
  plugins/canvas/src/LinearBasicDisplay/baseConfigSchema.ts
  plugins/marks/src/LinearMarkDisplay/configSchema.ts
  plugins/variants/src/shared/SharedVariantConfigSchema.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.test.ts
  products/jbrowse-web/src/tests/JexlFilterSlotOwners.test.ts
  website/docs/config_guides/mark_display.md
  website/docs/cookbook.md
Due: prettier --write, eslint --fix

autogen: jexlFilters off the six displays in the config docs, JSON schema, validator manifest and typeDocs
  agent-docs/ARCHITECTURE.md
  packages/core/src/ReExports/list.ts
  packages/core/src/ReExports/reExports.generated.json
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  products/jbrowse-desktop/src/reExports.generated.ts
  products/jbrowse-desktop/src/workerReExports.generated.ts
  products/jbrowse-react-app/src/reExports.generated.ts
  products/jbrowse-react-app/src/workerReExports.generated.ts
  products/jbrowse-react-circular-genome-view/src/reExports.generated.ts
  products/jbrowse-react-circular-genome-view/src/workerReExports.generated.ts
  products/jbrowse-react-linear-genome-view/src/reExports.generated.ts
  products/jbrowse-react-linear-genome-view/src/workerReExports.generated.ts
  products/jbrowse-web/src/reExports.generated.ts
  products/jbrowse-web/src/workerReExports.generated.ts
  scripts/registryBundleSizes.json
  website/docs/config/BaseLinearDisplay.md
  website/docs/config/LDTrackDisplay.md
  website/docs/config/LGVSyntenyDisplay.md
  website/docs/config/LinearAlignmentsDisplay.md
  website/docs/config/LinearBasicDisplay.md
  website/docs/config/LinearCanvasBaseDisplay.md
  website/docs/config/LinearMafDisplay.md
  website/docs/config/LinearMarkDisplay.md
  website/docs/config/LinearMultiRowFeatureDisplay.md
  website/docs/config/LinearMultiSampleVariantDisplay.md
  website/docs/config/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/config/LinearVariantDisplay.md
  website/docs/config/MultiWaySyntenyDisplay.md
  website/docs/config/SharedVariantDisplay.md
  website/docs/developer_guides/imports_and_reexports.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

test: refresh the two slot snapshots — the new display-kit subpath, and jexlFilters off six displays
  packages/display-kit/src/__snapshots__/publicApi.test.ts.snap
  products/jbrowse-web/src/tests/__snapshots__/ConfigSlotDefaults.test.ts.snap
Due: none

autogen: regenerate the four worker re-export maps after the rebase
  products/jbrowse-desktop/src/workerReExports.generated.ts
  products/jbrowse-react-app/src/workerReExports.generated.ts
  products/jbrowse-react-linear-genome-view/src/workerReExports.generated.ts
  products/jbrowse-web/src/workerReExports.generated.ts
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

feat(core): a categorical color scale takes a domain and the legend sorts by it
  packages/core/src/ui/colorScale.test.ts
  packages/core/src/ui/colorScale.ts
Due: prettier --write, eslint --fix

feat(canvas): a colorDomain orders the multi-row colour key
  plugins/canvas/src/LinearMultiRowFeatureDisplay/colorLegendGate.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/configSchema.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  website/docs/user_guides/multirow_feature_track.md
Due: prettier --write, eslint --fix

feat(gwas): a colorDomain orders the Manhattan field key and the palette it walks
  plugins/gwas/src/LinearManhattanDisplay/configSchemaFactory.ts
  plugins/gwas/src/LinearManhattanDisplay/fieldColoring.test.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
  plugins/gwas/src/LinearManhattanDisplay/testEnv.ts
  plugins/gwas/src/ManhattanRPC/executeGetManhattanData.ts
  plugins/gwas/src/ManhattanRPC/rpcTypes.ts
  website/docs/config_guides/gwas_track.md
Due: prettier --write, eslint --fix

feat(lcv): a ribbonColorDomain orders a multiway attribute mode's labels
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/configSchema.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/legend.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
Due: prettier --write, eslint --fix

feat(synteny-core): a view-wide colorDomain orders a text column's labels
  packages/synteny-core/src/TrackColorsMixin.test.ts
  packages/synteny-core/src/TrackColorsMixin.ts
Due: prettier --write, eslint --fix

refactor(alignments): the display's setColorScheme is setColorBy, after the slot it writes
  plugins/alignments/src/LinearAlignmentsDisplay/chromosomePainting.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/dialogs/ColorByTagDialog.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/dialogs/GroupByDialog.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/dialogs/GroupByDialog.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/fetchAutorun.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/bisulfiteMenu.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/colorBy.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/menus/colorBy.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/modificationsMenu.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.coupling.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/perBaseBinSupersession.test.ts
  products/jbrowse-build-your-own/examples-site/src/examples/TrackSettings.tsx
  products/jbrowse-desktop/electron/mcp/docSearch.test.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  products/jbrowse-web/browser-tests/bisulfite-coverage-probe.ts
  products/jbrowse-web/browser-tests/suites/multi-region-sort.ts
  products/jbrowse-web/src/tests/LGVSyntenyDisplayColorBy.test.ts
Due: prettier --write, eslint --fix

docs: the legend order is the facet's word and rule, in the synteny and dotplot guides
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  website/docs/user_guides/dotplot_view.md
  website/docs/user_guides/linear_synteny_view.md
Due: prettier --write

autogen: the four colour domains in the slot docs, the schema and the census, and the alignments rename
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  website/docs/config/LinearManhattanDisplay.md
  website/docs/config/LinearMultiRowFeatureDisplay.md
  website/docs/config/MultiWaySyntenyDisplay.md
  website/docs/models/DotplotView.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/docs/models/LinearSyntenyView.md
  website/docs/models/MultiWaySyntenyDisplay.md
  website/docs/models/TrackColorsMixin.md
  website/docs/urlparams.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

test(web): the three new colour-domain slots in the config-slot defaults snapshot
  products/jbrowse-web/src/tests/__snapshots__/ConfigSlotDefaults.test.ts.snap
Due: none

autogen: the display census, the type docs and the bundle sizes against main's tip
  agent-docs/ARCHITECTURE.md
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
Due: prettier --write

docs: give the facet paragraph's closing sentence its own paragraph
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
Due: prettier --write

groupKeys: a digit run inside a key compares by magnitude, and the two doc lines the domain rename left behind
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
  packages/core/src/util/groupKeys.test.ts
  packages/core/src/util/groupKeys.ts
  plugins/gwas/src/LinearManhattanDisplay/fieldColoring.test.ts
  website/docs/config_guides/mark_display.md
  website/release_announcement_drafts/v5.0.0.changelog.md
Due: prettier --write, eslint --fix

refactor(variants): the multi-sample displays' row grouping is a facet
  packages/core/src/configuration/index.ts
  packages/core/src/configuration/liftField.ts
  plugins/marks/src/LinearMarkDisplay/configSchema.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/SharedVariantConfigSchema.ts
  plugins/variants/src/shared/multiSampleVariantMenuItems.ts
Due: prettier --write, eslint --fix

test(variants): the facet rename, and sorted band order in place of size order
  plugins/variants/src/LinearMultiSampleVariantDisplay/colorBy.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/rowArrangement.test.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.test.ts
  plugins/variants/src/shared/applyClusterOrder.test.ts
  plugins/variants/src/shared/facetMenuItem.test.ts
Due: prettier --write, eslint --fix

docs(variants): the multi-sample row facet in the specs, tutorials and spec-recipe
  agent-docs/reference/SESSION_SPEC_FORMAT.md
  packages/core/src/ReExports/reExports.generated.json
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  website/docs/config/SharedVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
  website/docs/tutorials/ld_mosquitoes.md
  website/docs/tutorials/population_genomics.md
  website/docs/tutorials/tcga_cohort_mutations.md
  website/scripts/figure-manifest.json
  website/scripts/specs/ld.ts
  website/scripts/specs/popgen.ts
  website/scripts/specs/tcga.ts
  website/src/lib/liveLinks.generated.ts
  website/src/lib/spec-recipe/fields.ts
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

test(web): the variant displays' groupBy slot leaves the config-slot defaults snapshot
  products/jbrowse-web/src/tests/__snapshots__/ConfigSlotDefaults.test.ts.snap
Due: none

docs(dog10k): the declined size-grouped figure names the facet slot
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
  website/docs/config/LinearMultiSampleVariantDisplay.md
  website/docs/config/LinearMultiSampleVariantMatrixDisplay.md
  website/scripts/specs/dog10k.ts
Due: prettier --write, eslint --fix

feat(tree-sidebar): a shared `domain` row-order slot and `orderRowsByDomain`
  packages/tree-sidebar/CLAUDE.md
  packages/tree-sidebar/src/TreeSidebarMixin.test.ts
  packages/tree-sidebar/src/TreeSidebarMixin.ts
  packages/tree-sidebar/src/clusterUtils.test.ts
  packages/tree-sidebar/src/clusterUtils.ts
  packages/tree-sidebar/src/index.ts
  packages/tree-sidebar/src/treeSidebarConfigSchemaFields.ts
Due: prettier --write, eslint --fix
