Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

fix(r-export): mismatches for a read with no MD tag
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRMismatchEquivalence.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
  plugins/linear-genome-view/src/LinearGenomeView/rHelpers.generated.ts
  plugins/linear-genome-view/src/LinearGenomeView/rhelpers/bam_mismatches.R
  plugins/linear-genome-view/src/LinearGenomeView/rhelpers/open_reference.R
  plugins/linear-genome-view/src/LinearGenomeView/rhelpers/rhelpers.test.ts
  plugins/linear-genome-view/src/index.ts
Due: prettier --write, eslint --fix

docs(r-export): correct three claims the rebase and the MD fix outdated
  agent-docs/handoffs/R_EXPORT_HANDOFF.md
  agent-docs/reference/R_EXPORT.md
Due: prettier --write

fix(r-export): a file: uri is the path R opens, not a URL it fetches
  packages/core/src/util/io/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/rexportShared.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/rexportShared.ts
Due: prettier --write, eslint --fix

refactor(r-export): the fragment a display contributes moves to display-kit
  agent-docs/reference/R_EXPORT.md
  packages/display-kit/package.json
  packages/display-kit/src/RExportFragment.test.ts
  packages/display-kit/src/RExportFragment.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/canvas/src/LinearBasicDisplay/exportRCode.ts
  plugins/canvas/src/LinearBasicDisplay/model.ts
  plugins/gwas/src/LinearManhattanDisplay/exportRCode.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
  plugins/hic/src/LinearHicDisplay/exportRCode.ts
  plugins/hic/src/LinearHicDisplay/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
  plugins/linear-genome-view/src/LinearGenomeView/types.ts
  plugins/linear-genome-view/src/index.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/exportRCode.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/model.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/exportRCode.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/model.ts
  plugins/variants/src/LinearVariantDisplay/exportRCode.ts
  plugins/variants/src/LinearVariantDisplay/model.ts
  plugins/wiggle/src/LinearWiggleDisplay/exportRCode.ts
  plugins/wiggle/src/LinearWiggleDisplay/model.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/exportRCode.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
Due: prettier --write, eslint --fix

docs(r-export): the parked SMN figure's blocker expired both ways
  agent-docs/handoffs/R_EXPORT_HANDOFF.md
  website/scripts/specs/rexport.ts
Due: prettier --write, eslint --fix

test(display-kit): pin ./RExportFragment on the public surface
  packages/display-kit/src/__snapshots__/publicApi.test.ts.snap
Due: none

docs(r-export): four gates the branch predates, and one path my refactor moved
  agent-docs/reference/R_EXPORT.md
  website/docs/user_guides/r_export.md
  website/docs/user_guides/r_export_gallery.md
  website/scripts/third-party-hosts.txt
Due: prettier --write

feat(r-export): the two-color and unmarked-base fill modification views
  agent-docs/handoffs/R_EXPORT_HANDOFF.md
  agent-docs/reference/R_EXPORT.md
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRModificationEquivalence.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRRun.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
  plugins/linear-genome-view/src/LinearGenomeView/rHelpers.generated.ts
  plugins/linear-genome-view/src/LinearGenomeView/rhelpers/bam_modifications.R
  plugins/linear-genome-view/src/LinearGenomeView/rhelpers/cytosine_context.R
  plugins/linear-genome-view/src/LinearGenomeView/rhelpers/mod_colors.R
  plugins/linear-genome-view/src/LinearGenomeView/rhelpers/mod_coverage.R
Due: prettier --write, eslint --fix

wip(r-export): collapse_isoforms learns the curated tag, ranking not yet wired
  agent-docs/handoffs/R_EXPORT_HANDOFF.md
  plugins/canvas/src/LinearBasicDisplay/exportRCode.ts
  plugins/canvas/src/LinearBasicDisplay/exportRRun.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/rHelpers.generated.ts
  plugins/linear-genome-view/src/LinearGenomeView/rhelpers/collapse_isoforms.R
  plugins/linear-genome-view/src/LinearGenomeView/rhelpers/read_gff.R
Due: prettier --write, eslint --fix

fix(r-export): the curated tag reaches the isoform pick
  plugins/linear-genome-view/src/LinearGenomeView/rHelpers.generated.ts
  plugins/linear-genome-view/src/LinearGenomeView/rhelpers/collapse_isoforms.R
Due: prettier --write, eslint --fix

chore(r-export): regenerate the three docs the rebase conflicted on
  agent-docs/handoffs/README.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
Due: prettier --write

docs(r-export): the isoform-ranking entry is closed, not open
  agent-docs/handoffs/R_EXPORT_HANDOFF.md
Due: prettier --write

fix(multiway synteny): the lanes draw the feature track's gene glyph, not a copy of it that drifted
  plugins/canvas/src/RenderFeatureDataRPC/collect/emitPrimitives.ts
  plugins/canvas/src/index.ts
  plugins/linear-comparative-view/benches/multiwayZoomCost.probe.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/geneGlyph.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/geneGlyph.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayBackendParity.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.ts
Due: prettier --write, eslint --fix

test(multiway synteny): the lane glyph is pinned against the feature track's own emitter
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/geneGlyphParity.test.ts
Due: prettier --write, eslint --fix

fix(multiway synteny): a CDS-only lane gene implies its UTRs from its own bounds
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/geneGlyph.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/geneGlyph.ts
Due: prettier --write, eslint --fix

chore(docs): regenerate the multiway model doc for the split lane cells
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write

chore(figures): re-capture the nine multiway lane figures for the glyph fix
  figures.lock
Due: none

docs(ideas): the multiway gene glyph points at its parity test, not at a restatement
  agent-docs/ideas/multiway-synteny-lgv-track.md
Due: prettier --write

chore(media): re-film the multiway zoom-out tour for the glyph fix
  website/media.lock
Due: none

fix(videos): the grasses launch tour stops unticking a panel that is no longer wrong
  agent-docs/ideas/multiway-synteny-lgv-track.md
  website/docs/user_guides/multiway_synteny_track.md
  website/media.lock
  website/scripts/videos/synteny.ts
Due: prettier --write, eslint --fix

fix(multiway synteny): a reorder stops deleting the lanes it cannot see
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/MultiWayOverlay.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/menus.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/menus.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
Due: prettier --write, eslint --fix

chore(docs): regenerate the multiway model doc for resetRowOrder
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write

feat(multiway synteny): hovering a drawn gene lights its ortholog group
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/geneGlyph.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/geneGlyph.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.ts
  products/jbrowse-web/src/tests/MultiWaySyntenyDisplay.test.tsx
Due: prettier --write, eslint --fix

feat(multiway synteny): a lane finds annotation past GFF3, and a ribbon says where it is
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneAnnotation.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneAnnotation.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.ts
Due: prettier --write, eslint --fix

chore(docs): regenerate the multiway model doc for the widened annotation lookup
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write

refactor(multiway synteny): the lane headers are HTML on screen and a caption in the export
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/LaneHeaders.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/MultiWayOverlay.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/ReactComponent.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/SvgLaneHeaders.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneHeader.ts
  products/jbrowse-web/src/tests/MultiWaySyntenyDisplay.test.tsx
Due: prettier --write, eslint --fix

fix(multiway synteny): the HTML header converts its baseline to a box top
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/LaneHeaders.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneHeader.ts
Due: prettier --write, eslint --fix

chore(figures): re-capture the nine multiway stills and both tours for the header split
  agent-docs/reference/SVG_EXPORT.md
  figures.lock
  website/media.lock
Due: prettier --write

chore: pre-push autofix
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneAnnotation.ts
Due: prettier --write, eslint --fix

fix(multiway synteny): annotationRank returns early for an undefined type
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneAnnotation.ts
Due: prettier --write, eslint --fix

fix(docs): restore the orientation gist and the multipart prerequisites read
  website/docs/developer_guide.md
  website/scripts/check-prereq-tools.ts
Due: prettier --write, eslint --fix

docs: restore the overlay-freeze record, and regenerate the figure manifest
  agent-docs/reference/COMPILER_TERNARY_FINDING.md
  website/scripts/figure-manifest.json
Due: prettier --write

fix(website): a curated order slug has to name a page, and check it
  scripts/check-docs.ts
  website/docs/agents.md
  website/package.json
  website/scripts/check-doc-removed-symbols.ts
  website/scripts/check-guide-order.ts
  website/src/lib/guide-categories.ts
Due: prettier --write, eslint --fix

fix(alignments): the blue swatch names what it covers, and three claims narrow
  agent-docs/ideas/per-base-wall-at-wide-zoom.md
  packages/modifications-utils/src/cytosineContext.ts
  plugins/alignments/src/LinearAlignmentsDisplay/viewSplitAlignmentRegions.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/viewSplitAlignmentRegions.ts
  plugins/alignments/src/features/modification/buildArrays.ts
  plugins/alignments/src/features/modification/extract.test.ts
  plugins/alignments/src/features/modification/extract.ts
  plugins/alignments/src/shared/legendUtils.test.ts
  plugins/alignments/src/shared/legendUtils.ts
Due: prettier --write, eslint --fix

fix(display-uniformity): the pan marker clears on every press, and two claims
  plugins/canvas/src/LinearBasicDisplay/components/FeatureComponent.tsx
  plugins/hic/src/LinearHicDisplay/components/HicOverlayPanel.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/useSideScroll.test.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/useSideScroll.ts
Due: prettier --write, eslint --fix

fix(website): the orientation gist goes in the generator, not its output
  packages/modifications-utils/README.md
  plugins/wiggle/src/shared/WiggleCommonMixin.ts
  website/docs/api/modifications-utils.md
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/SharedGCContentModel.md
  website/docs/models/WiggleCommonMixin.md
  website/docs/user_guide.md
  website/scripts/generate-guide-indexes.ts
Due: prettier --write, eslint --fix

docs(website): the three generated guide indexes say they are generated
  website/docs/config_guide.md
  website/docs/developer_guide.md
  website/docs/user_guide.md
  website/scripts/generate-guide-indexes.ts
Due: prettier --write, eslint --fix

feat(scripts): a 100-genome E. coli ortholog stack, built without aligning anything
  scripts/build_ecoli_pangenome_orthologs.sh
Due: none

fix(ci): allow alo/ahi as words, re-export two leaked display types
  _typos.toml
  plugins/alignments/src/index.ts
  plugins/canvas/src/index.ts
Due: prettier --write, eslint --fix
