Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

An all-negative window keeps its top under a domain quantile
  packages/wiggle-core/src/autoscale.test.ts
  packages/wiggle-core/src/autoscale.ts
Due: prettier --write, eslint --fix

A mark's key names are the config's, and its size and colour default by type
  packages/core/src/util/markEncoding.ts
  packages/core/src/util/markEncodingTypes.ts
  packages/wiggle-core/README.md
  plugins/marks/src/LinearMarkDisplay/components/MarkTooltip.tsx
  plugins/marks/src/LinearMarkDisplay/configSchema.ts
  plugins/marks/src/LinearMarkDisplay/legend.test.ts
  plugins/marks/src/LinearMarkDisplay/legend.ts
  plugins/marks/src/LinearMarkDisplay/markColorConfigSchema.ts
  plugins/marks/src/LinearMarkDisplay/markRequest.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/api/wiggle-core.md
  website/docs/config/LinearManhattanDisplay.md
  website/docs/config/LinearMarkDisplay.md
  website/docs/config/MarkColor.md
  website/docs/developer_guides/configuration_schema.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMarkDisplay.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

Review fixes: a shape key's glyphs keep the default blue, and empty bins beside negatives keep the top at 0
  packages/wiggle-core/src/autoscale.test.ts
  packages/wiggle-core/src/autoscale.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
Due: prettier --write, eslint --fix

pnpm autogen
  packages/wiggle-core/README.md
  scripts/registryBundleSizes.json
  website/docs/api/wiggle-core.md
Due: prettier --write

Row-display and corpus-audit collections drop what they decline or already closed
  agent-docs/ideas/collections/row-display-followups.md
  agent-docs/ideas/collections/synteny-comparative.md
  agent-docs/ideas/collections/tutorial-corpus-audit.md
  agent-docs/ideas/collections/tutorial-tours.md
  website/docs/tutorials/CLAUDE.md
Due: prettier --write

Multi-way's settled measurements move to its reference doc; synteny-comparative splits out block-level chaining
  agent-docs/ideas/collections/multiway-synteny-lgv-track.md
  agent-docs/ideas/collections/synteny-comparative.md
  agent-docs/ideas/ready/block-level-synteny-from-external-tools.md
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
Due: prettier --write

Tutorial ideas audit splits its four priority tutorials into ready/ and its demand tally into reference/
  agent-docs/ideas/collections/tutorial-ideas-audit.md
  agent-docs/ideas/ready/tutorial-exporting-figures.md
  agent-docs/ideas/ready/tutorial-notebooks-python-and-r.md
  agent-docs/ideas/ready/tutorial-serving-your-labs-data.md
  agent-docs/ideas/ready/tutorial-variant-interpretation.md
  agent-docs/reference/DEMO_DATASETS.md
  agent-docs/reference/TUTORIAL_DEMAND.md
  website/docs/tutorials/CLAUDE.md
Due: prettier --write

Alignments collection: CRAM decode measurements move to CRAM_STACK_INTEGRATION.md, SBX and coverage summarization get their own files
  agent-docs/ideas/collections/alignments.md
  agent-docs/ideas/ready/coverage-summarization-by-read-attribute.md
  agent-docs/ideas/ready/sbx-duplex-yc-colouring.md
  agent-docs/reference/CRAM_STACK_INTEGRATION.md
Due: prettier --write

pnpm autogen
  agent-docs/ideas/README.md
  agent-docs/reference/README.md
  agent-docs/reference/TUTORIAL_DEMAND.md
Due: prettier --write

A film fails when a menu, or a drawer the tour does not end on, stands over the payoff
  website/CLAUDE.md
  website/scripts/generate-video.ts
  website/scripts/video-report.ts
  website/scripts/video-spec-types.ts
  website/scripts/videos/CLAUDE.md
  website/scripts/videos/ui.ts
Due: prettier --write, eslint --fix

DisplayChrome owns the container height
  agent-docs/ideas/README.md
  agent-docs/ideas/waiting-on-a-call/display-chrome-owns-the-container-height.md
  packages/display-kit/src/DisplayChrome.test.tsx
  packages/display-kit/src/DisplayChromeBase.tsx
  packages/display-kit/src/DisplayStatusChromeBase.tsx
  packages/wiggle-core/src/ScorePlotChrome.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/AlignmentsDisplayComponent.tsx
  plugins/canvas/src/LinearBasicDisplay/components/FeatureComponent.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/components/LinearMultiRowFeatureDisplayComponent.tsx
  plugins/hic/src/LinearHicDisplay/components/ReactComponent.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/ReactComponent.tsx
  plugins/maf/src/LinearMafDisplay/components/LinearMafDisplayComponent.tsx
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/SequenceDisplayComponent.tsx
  plugins/variants/src/LDDisplay/components/LDDisplayComponent.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/VariantDisplayComponent.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/matrix/VariantMatrixDisplayComponent.tsx
  plugins/wiggle/src/LinearWiggleDisplay/components/WiggleComponent.tsx
  scripts/chromeBundleSizes.json
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

One rampMidNorm, in render-core's scoreScale; the mark rules and Color by picks read ColorSlots
  packages/core/README.md
  packages/core/src/ReExports/reExports.generated.json
  packages/core/src/util/markEncoding.ts
  packages/core/src/util/markEncodingTypes.ts
  packages/display-kit/src/colorConfigSchema.ts
  packages/display-kit/src/colorScale.ts
  packages/render-core/src/marks/markRamp.ts
  packages/render-core/src/scoreScale.ts
  packages/synteny-core/src/colorRamps.ts
  plugins/marks/src/LinearMarkDisplay/legend.ts
  plugins/marks/src/LinearMarkDisplay/markProblems.ts
  plugins/marks/src/LinearMarkDisplay/markRuleFacts.ts
  plugins/wiggle/src/shared/densityColorParity.test.ts
  plugins/wiggle/src/shared/getDensityColor.ts
  plugins/wiggle/src/shared/wiggleMarks.ts
  products/jbrowse-cli/src/commands/validate/markRules/colorScale.ts
  products/jbrowse-cli/src/commands/validate/markRules/markProblems.ts
  products/jbrowse-cli/src/commands/validate/markRules/markRuleFacts.ts
  scripts/registryBundleSizes.json
  website/docs/api/core.md
Due: prettier --write, eslint --fix

A link on the circular view's ring places each region at its slice
  packages/display-kit/src/regionHost.ts
  packages/display-kit/src/viewRegionTable.test.ts
  packages/display-kit/src/viewRegionTable.ts
  plugins/circular-view/src/rings/ringHost.test.ts
  plugins/circular-view/src/rings/ringHost.ts
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

A mark's colour on score is a ramp, as a feature display's is
  packages/core/src/ReExports/reExports.generated.json
  packages/display-kit/src/colorConfigSchema.ts
  packages/display-kit/src/colorScale.ts
  plugins/marks/src/LinearMarkDisplay/markColorConfigSchema.ts
  plugins/marks/src/LinearMarkDisplay/markEdit.test.ts
  plugins/marks/src/LinearMarkDisplay/markEdit.ts
  plugins/marks/src/LinearMarkDisplay/markProblems.test.ts
  plugins/marks/src/LinearMarkDisplay/markProblems.ts
  plugins/marks/src/LinearMarkDisplay/markRequest.ts
  plugins/marks/src/LinearMarkDisplay/markRuleFacts.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-cli/src/commands/validate/markRules/colorScale.ts
  products/jbrowse-cli/src/commands/validate/markRules/markProblems.ts
  products/jbrowse-cli/src/commands/validate/markRules/markRuleFacts.ts
  scripts/registryBundleSizes.json
  website/docs/config/MarkColor.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

A track on the circle draws with the circle's own display type where its track type has one
  agent-docs/architecture-decision-records/adr-119-the-circular-view-is-a-coordinate-stage-over-the-linear-displays.md
  packages/core/src/util/tracks.test.ts
  packages/core/src/util/tracks.ts
  plugins/circular-view/src/rings/ringTypes.test.ts
Due: prettier --write, eslint --fix

A hovered link lights its curve, not the box under it
  packages/core/src/ReExports/reExports.generated.json
  packages/display-kit/src/ChromeHighlight.test.tsx
  packages/display-kit/src/ChromeHighlight.tsx
  packages/render-core/src/marks/index.ts
  packages/render-core/src/marks/linkMark.test.ts
  packages/render-core/src/marks/linkMark.ts
  packages/render-core/src/marks/markInk.test.ts
  packages/render-core/src/marks/markInk.ts
  packages/render-core/src/marks/types.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/model.ts
  scripts/chromeBundleSizes.json
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

Handoffs: the ring placement and hover-box link findings are done
  agent-docs/handoffs/README.md
  agent-docs/handoffs/grammar-next-steps.md
  agent-docs/handoffs/review.md
  scripts/chromeBundleSizes.json
  scripts/registryBundleSizes.json
Due: prettier --write

A breakend pair draws one chord, and every SV kind is pinned to its ends
  plugins/circular-view/src/ChordVariantDisplay/models/stateModelFactory.ts
  plugins/circular-view/src/ChordVariantDisplay/models/svKinds.test.ts
  plugins/circular-view/src/ChordVariantDisplay/test_data/sv_kinds.vcf
Due: prettier --write, eslint --fix

Idea: one display pick for every track route
  agent-docs/ideas/README.md
  agent-docs/ideas/ready/one-display-pick-for-every-track-route.md
Due: prettier --write

pnpm autogen
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/chromeBundleSizes.json
  scripts/registryBundleSizes.json
  website/docs/models/ChordVariantDisplay.md
Due: prettier --write

A log scale's open ends follow the positive values it met
  packages/core/src/util/markEncoding.test.ts
  packages/core/src/util/markEncoding.ts
  packages/core/src/util/quantileExtent.test.ts
  packages/core/src/util/quantileExtent.ts
Due: prettier --write, eslint --fix

A pair spelt through an alias inside one region draws once
  plugins/marks/src/LinearMarkDisplay/linkOwners.test.ts
  plugins/marks/src/LinearMarkDisplay/linkOwners.ts
Due: prettier --write, eslint --fix

A colour ramp's domainQuantile outside 0.5 to 1 is a named problem
  packages/display-kit/src/colorScale.test.ts
  packages/display-kit/src/colorScale.ts
  plugins/marks/src/LinearMarkDisplay/markProblems.test.ts
  plugins/marks/src/LinearMarkDisplay/markProblems.ts
  products/jbrowse-cli/src/commands/validate/markDisplays.test.ts
  products/jbrowse-cli/src/commands/validate/markRules/colorScale.ts
  products/jbrowse-cli/src/commands/validate/markRules/markProblems.ts
  website/docs/config_guides/mark_display.md
Due: prettier --write, eslint --fix

Clip outliers re-ticks at the quantile its untick wrote over
  packages/wiggle-core/src/ScoreScaleMixin.ts
  packages/wiggle-core/src/scoreMenuItems.test.ts
  packages/wiggle-core/src/scoreMenuItems.ts
Due: prettier --write, eslint --fix

A row that slides under a resting pointer is no hover
  agent-docs/handoffs/review.md
  packages/core/src/ui/CascadingMenu.test.tsx
  packages/core/src/ui/CascadingMenu.tsx
Due: prettier --write, eslint --fix

Handoffs: the review findings are landed, the submenu close is read and pinned
  agent-docs/handoffs/README.md
  agent-docs/handoffs/grammar-next-steps.md
  agent-docs/handoffs/scales-and-colour-keys.md
Due: prettier --write

pnpm autogen
  packages/core/README.md
  packages/core/src/ReExports/reExports.generated.json
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
  website/docs/api/core.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMarkDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/ScoreFieldConfigMixin.md
  website/docs/models/ScoreScaleMixin.md
  website/docs/models/WiggleCommonMixin.md
  website/docs/models/WiggleScoreConfigMixin.md
Due: prettier --write

A view picks only among the displays a track's adapter can feed
  packages/core/src/pluggableElementTypes/models/baseTrackConfig.ts
  packages/core/src/pluggableElementTypes/models/displayAdapterCapabilities.test.ts
  packages/core/src/util/tracks.ts
  plugins/circular-view/src/rings/ringTypes.test.ts
Due: prettier --write, eslint --fix

Idea: the display pick after review
  agent-docs/ideas/README.md
  agent-docs/ideas/ready/one-display-pick-for-every-track-route.md
  scripts/registryBundleSizes.json
Due: prettier --write

star handoff: the tutorial section is written; the lane-pitch deploy and the production move remain
  agent-docs/handoffs/star.md
Due: prettier --write

genomes_synteny: Many genomes at once, from the TNNT3 gene page's link into hg38's multi-way star
  website/docs/tutorials/genomes_synteny.md
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

A noSession figure with actions waits for network idle, not the app-phase marker a plain page never publishes
  website/scripts/screenshot-ready.ts
Due: prettier --write, eslint --fix

figures: genomes_synteny/star_link and star_lanes
  figures.lock
Due: none

pnpm autogen
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

pnpm autogen, with hg38's staging config snapshotted
  agent-docs/handoffs/README.md
  website/src/lib/spec-recipe/hostedConfigs.generated.ts
Due: prettier --write, eslint --fix

demos/hprc: KIV-2 copies by unit, a VCF 4.5 <CNV:TR> record
  demos/hprc/README.txt
  demos/hprc/config.json
  demos/hprc/hprc_kiv2_copies.vcf
Due: none

A track opens only as a display its adapter feeds
  packages/app-core/src/JbApi/jbApi.test.ts
  packages/app-core/src/JbApi/jbApi.ts
  packages/core/src/pluggableElementTypes/models/BaseTrackModel.ts
  packages/core/src/pluggableElementTypes/models/baseTrackConfig.ts
  packages/core/src/pluggableElementTypes/models/displayAdapterCapabilities.test.ts
  packages/core/src/util/tracks.test.ts
  packages/core/src/util/tracks.ts
  plugins/linear-genome-view/src/LinearGenomeView/displayPickFedByAdapter.test.ts
  products/jbrowse-img/src/renderRegion.ts
Due: prettier --write, eslint --fix

Idea: the chord variant colour, now that the display pick has landed
  agent-docs/architecture-decision-records/adr-134-displaydefaults-routes-a-value-to-the-displays-that-take-it.md
  agent-docs/ideas/README.md
  agent-docs/ideas/ready/chord-variant-colour-is-the-shared-colour-object.md
  agent-docs/ideas/ready/one-display-pick-for-every-track-route.md
Due: prettier --write

displayDefaults fills in the displays a track has and adds none
  agent-docs/architecture-decision-records/adr-134-displaydefaults-routes-a-value-to-the-displays-that-take-it.md
  packages/core/src/pluggableElementTypes/models/baseTrackConfig.ts
  packages/core/src/pluggableElementTypes/models/displayAdapterCapabilities.test.ts
  packages/core/src/pluggableElementTypes/models/expandTrackConfigShorthand.test.ts
  packages/core/src/pluggableElementTypes/models/expandTrackConfigShorthand.ts
  packages/core/src/pluggableElementTypes/models/shorthandRetiredRouting.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
