Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

fix(build): re-export two types that leaked source paths into emitted .d.ts
  plugins/alignments/src/index.ts
  plugins/canvas/src/index.ts
Due: prettier --write, eslint --fix

fix(gff3): name the index.location slot in its own doc annotation
  plugins/gff3/src/Gff3TabixAdapter/configSchema.ts
  website/docs/config/Gff3TabixAdapter.md
Due: prettier --write, eslint --fix

docs(agent): stop citing a gitignored build path as a repo reference
  agent-docs/guides/GRAPH_DELETION_ARC_HANDOFF.md
Due: prettier --write

style: fix two typos and reformat
  packages/core/src/util/SvgCanvas.test.ts
  packages/core/src/util/renderToStaticMarkup.test.tsx
  plugins/alignments/src/features/arcs/arcShape.test.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/showLabelsMode.ts
  website/docs/tutorials/pangenome_ecoli.md
Due: prettier --write, eslint --fix

docs(pangenome): generate the missing pggb variants figure
  website/scripts/specs/pangenome.ts
  website/static/img/pangenome/pggb_variants.png
Due: prettier --write, eslint --fix

docs(pangenome): drop the untangle figure, whose track was never published
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/specs/pangenome.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

docs(pangenome): draw the strain paths through the subgraph, and name whose is whose
  test_data/graphgenomeview/config.json
  test_data/graphgenomeview/ecoli_pangenome.json
  test_data/graphgenomeview/hprc.json
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/figure-manifest.json
  website/scripts/specs/graph.ts
  website/src/lib/galleryLinks.generated.ts
  website/src/lib/spec-recipe/fields.ts
  website/static/img/pangenome/pggb_haplotype_paths.png
Due: prettier --write, eslint --fix

fix(pangenome): close the rowOrder quote, and fit the degree lane
  scripts/build_ecoli_pangenome_graph.sh
  website/scripts/specs/pangenome.ts
Due: prettier --write, eslint --fix

fix(pangenome): repin the graph plugin for the evenly spread ribbon hues
  test_data/graphgenomeview/config.json
  test_data/graphgenomeview/ecoli_pangenome.json
  test_data/graphgenomeview/hprc.json
  website/static/img/pangenome/pggb_haplotype_paths.png
Due: none

docs(pangenome): say what the backbone node is, name the insertion, retire the strain paths
  website/docs/user_guides/graph_genome_view.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-review.json
  website/scripts/specs/graph.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/pangenome/graph_resolution.png
  website/static/img/pangenome/graph_resolution_minigraph.png
  website/static/img/pangenome/graph_resolution_pggb.png
  website/static/img/pangenome/rgfa_hover_sync.png
  website/static/img/pangenome/rgfa_strain_paths.png
Due: prettier --write, eslint --fix

docs(pangenome): stop the depth caption promising a curve the figure lacks
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/specs/pangenome.ts
Due: prettier --write, eslint --fix

docs(pangenome): draw a collapsed repeat, and the nine copies that walk it
  scripts/build_ecoli_pangenome_graph.sh
  test_data/graphgenomeview/config.json
  test_data/graphgenomeview/ecoli_pangenome.json
  test_data/graphgenomeview/hprc.json
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/figure-manifest.json
  website/scripts/specs/graph.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/pangenome/pggb_collapsed_repeat.png
Due: prettier --write, eslint --fix

fix(synteny): don't settle a level while its init is still adding its tracks
  agent-docs/reference/SVG_EXPORT.md
  agent-docs/reference/VIEW_INIT.md
  packages/synteny-core/src/DiagonalizeProgressMixin.ts
  packages/synteny-core/src/SyntenyFetchStateMixin.ts
  packages/synteny-core/src/index.ts
  plugins/dotplot-view/src/DotplotView/afterAttach.ts
  plugins/dotplot-view/src/DotplotView/initDiagonalizeGate.integration.test.ts
  plugins/dotplot-view/src/DotplotView/model.test.ts
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/afterAttach.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/initSettleGate.integration.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/parentViewDuck.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/stateModelFactory.ts
  website/docs/models/DiagonalizeProgressMixin.md
  website/docs/models/DotplotView.md
  website/docs/models/LinearSyntenyDisplay.md
  website/docs/models/LinearSyntenyView.md
Due: prettier --write, eslint --fix

feat(lgv): split amino acid drawing out of colorByCDS, on by default
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/RenderFeatureDataRPC/executeRenderFeatureData.ts
  plugins/canvas/src/RenderFeatureDataRPC/peptides/peptideUtils.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/peptides/peptideUtils.ts
  plugins/canvas/src/RenderFeatureDataRPC/rpcTypes.ts
  plugins/linear-genome-view/src/LinearGenomeView/afterAttach.ts
  plugins/linear-genome-view/src/LinearGenomeView/initKeys.ts
  plugins/linear-genome-view/src/LinearGenomeView/menuItems.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/types.ts
  products/jbrowse-web/browser-tests/suites/svg-export.ts
  products/jbrowse-web/src/tests/PeptideRendering.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/peptide-rendering-test-tsx-renders-peptide-letters-without-color-by-cds-1-snap.png
  website/docs/automating.md
  website/docs/developer_guides/drawer_widgets.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearGenomeView.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/urlparams.md
  website/docs/user_guides/gene_track.md
  website/scripts/specs/features.ts
  website/src/lib/spec-recipe/fields.ts
  website/static/img/gene_track_color_by_cds.png
Due: prettier --write, eslint --fix

docs(pangenome): make the image-bump warning a controlled comparison
  scripts/build_ecoli_pangenome_graph.sh
Due: none

fix(build): stop stripping JSDoc from published .d.ts, cache the typecheck
  plugins/linear-genome-view/tsconfig.build.esm.json
  products/jbrowse-web/tsconfig.oauth.json
  tsconfig.json
Due: none

fix(ci): typecheck the api-docs generator and the cypress specs
  component_tests/app-vite/cypress/tsconfig.json
  component_tests/app-vite/tsconfig.json
  component_tests/cgv-vite/cypress/tsconfig.json
  component_tests/cgv-vite/tsconfig.json
  component_tests/lgv-vite/cypress/tsconfig.json
  component_tests/lgv-vite/tsconfig.json
  website/package.json
  website/tsconfig.json
Due: none

chore(build): drop the seven package tsconfigs only the editor read
  packages/core/tsconfig.json
  products/jbrowse-desktop/tsconfig.json
  products/jbrowse-img/tsconfig.json
  products/jbrowse-react-app/tsconfig.json
  products/jbrowse-react-circular-genome-view/tsconfig.json
  products/jbrowse-react-linear-genome-view/tsconfig.json
  products/jbrowse-web/tsconfig.json
Due: none

fix(theme): resolve dark-tuned colors on every theme path
  packages/core/src/ui/theme.test.ts
  packages/core/src/ui/theme.ts
Due: prettier --write, eslint --fix

refactor(theme): hoist the static base theme out of createJBrowseBaseTheme
  packages/core/src/ui/theme.ts
Due: prettier --write, eslint --fix

fix(ui): key the open submenu by identity, not by list position
  packages/core/src/ui/CascadingMenu.test.tsx
  packages/core/src/ui/CascadingMenu.tsx
  packages/core/src/ui/DraggableDialog.tsx
  packages/core/src/ui/HoverMenu.tsx
  packages/core/src/ui/MenuItemTrailing.tsx
  packages/core/src/ui/ResizeHandle.tsx
  packages/core/src/ui/SvgColorLegend.tsx
  packages/core/src/ui/TagTextField.tsx
Due: prettier --write, eslint --fix

fix(core): restore the defaultCodonTable export the plugin ABI relies on
  packages/core/src/util/geneticCodes.ts
  packages/core/src/util/index.ts
Due: prettier --write, eslint --fix

fix(docs): anchor link_to_split_view on the link's own label constant
  plugins/variants/src/VariantFeatureWidget/LaunchBreakendPanel/LaunchBreakendPanel.tsx
  plugins/variants/src/VariantFeatureWidget/LaunchBreakendPanel/LaunchSvPanel.tsx
  plugins/variants/src/VariantFeatureWidget/LaunchBreakendPanel/labels.ts
  website/docs/user_guides/sv_visualization.md
  website/scripts/specs/ui.ts
Due: prettier --write, eslint --fix

docs(screenshots): rehost the NCBI BAMs the figures read
  test_data/config_demo.json
  website/scripts/screenshot-spec-helpers.ts
  website/scripts/screenshot-spec-types.ts
  website/scripts/specs/gallery.ts
  website/scripts/specs/sv.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

docs(build): give the incremental typecheck comment the measured range
  tsconfig.json
Due: none

chore(build): drop the dead .js half of the ESM include globs
  tsconfig.base.esm.json
Due: none

test(core): snapshot the util barrel's export list
  packages/core/src/util/__snapshots__/publicApi.test.ts.snap
  packages/core/src/util/publicApi.test.ts
Due: prettier --write, eslint --fix

chore(demos): check the hosted demo configs into the repo
  CLAUDE.md
  demos/cgiab/config.json
  demos/ecoli_pangenome/config.json
  demos/grape_peach_cacao/config.json
  demos/hprc/config.json
  demos/hpylori/config.json
  scripts/check-demo-configs.ts
  scripts/deploy-demo.sh
Due: prettier --write, eslint --fix

docs(screenshots): pin protein3d to 0.8.0 for protein/connected
  test_data/protein3d_config.json
  website/scripts/specs/features.ts
Due: prettier --write, eslint --fix

fix(cli): typecheck jbrowse-cli under the node settings it actually runs with
  package.json
  products/jbrowse-cli/package.json
  products/jbrowse-cli/src/testUtil.ts
  products/jbrowse-cli/tsconfig.build.json
  products/jbrowse-cli/tsconfig.json
  tsconfig.json
Due: prettier --write, eslint --fix

chore(component_tests): use bundler resolution under the "Bundler mode" heading
  component_tests/app-vite/tsconfig.node.json
  component_tests/cgv-vite/tsconfig.node.json
  component_tests/lgv-vite/tsconfig.node.json
  component_tests/plugin-vite/tsconfig.node.json
Due: none

fix(desktop): remove the partial .fai when indexing a FASTA fails
  products/jbrowse-desktop/electron/ipc/fileHandlers.ts
Due: prettier --write, eslint --fix

chore(desktop): @gmod/faidx ^3.0.0
  products/jbrowse-desktop/package.json
Due: none

chore: relock for @gmod/faidx 3.0.0 and @gmod/cram 10.1.0
  plugins/alignments/package.json
  pnpm-lock.yaml
Due: none

test(core): pin the external-plugin ABI so removals fail here, not in the wild
  packages/core/src/ReExports/abi.test.ts
  packages/core/src/ReExports/abiBaseline.json
Due: prettier --write, eslint --fix

fix(maf): draw the codon conservation band only where codons resolve
  plugins/maf/src/BgzipTaffyAdapter/tafParsing.ts
  plugins/maf/src/LinearMafDisplay/components/MafBandLabels.tsx
  plugins/maf/src/LinearMafDisplay/components/MafConservationBand.tsx
  plugins/maf/src/LinearMafDisplay/renderSvg.tsx
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/maf/src/MafTabixAdapter/MafTabixAdapter.ts
  website/docs/models/LinearMafDisplay.md
Due: prettier --write, eslint --fix

test(core): fold the util barrel snapshot into the ABI baseline
  packages/core/src/ReExports/abi.test.ts
  packages/core/src/util/__snapshots__/publicApi.test.ts.snap
  packages/core/src/util/publicApi.test.ts
Due: prettier --write, eslint --fix

fix(core): restore four util barrel exports published plugins still import
  packages/core/src/ReExports/abiBaseline.json
  packages/core/src/util/index.ts
Due: prettier --write, eslint --fix

Global plugins
  products/jbrowse-desktop/electron/electron.ts
  products/jbrowse-desktop/electron/fileSystemInit.ts
  products/jbrowse-desktop/electron/ipc/channelNames.ts
  products/jbrowse-desktop/electron/ipc/channels.ts
  products/jbrowse-desktop/electron/ipc/globalPluginHandlers.ts
  products/jbrowse-desktop/electron/paths.ts
  products/jbrowse-desktop/src/components/StartScreen/GlobalPluginsPanel.tsx
  products/jbrowse-desktop/src/components/StartScreen/StartScreen.tsx
  products/jbrowse-desktop/src/components/StartScreen/util.tsx
Due: prettier --write, eslint --fix
