Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Fix for plugin store not installing
  products/jbrowse-web/src/SessionLoader.ts
  products/jbrowse-web/src/components/Loader.tsx
  products/jbrowse-web/src/createPluginManager.ts
  products/jbrowse-web/src/rootModel/rootModel.ts
Due: prettier --write, eslint --fix

Fix ready detection
  products/jbrowse-web/src/SessionLoader.ts
Due: prettier --write, eslint --fix

[skip ci] Update
  website/release_announcement_drafts/v3.4.1.md
Due: prettier --write

Bump x-data-grid
  yarn.lock
Due: none

Don't infer CDS type gene features from entries where cdsStartStat/cdsEndStat are 'none'
  plugins/bed/src/BigBedAdapter/BigBedAdapter.ts
  plugins/bed/src/generateUcscTranscript.ts
Due: prettier --write, eslint --fix

Check that the subtracks of breakpoint split view are ready before fetching (#5037)
  plugins/alignments/src/LinearAlignmentsDisplay/model.tsx
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/model.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/getClip.test.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/getClip.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/model.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/util.ts
Due: prettier --write, eslint --fix

Avoid inferring CDS subfeatures from non-coding gene pred features (#5042)
  plugins/bed/src/BigBedAdapter/BigBedAdapter.ts
  plugins/bed/src/generateUcscTranscript.ts
  yarn.lock
Due: prettier --write, eslint --fix

About assembly
  packages/app-core/src/JBrowseModel/index.ts
  packages/product-core/src/ui/AssemblyAboutDialog.tsx
  packages/product-core/src/ui/AssemblyAboutDialogContents.tsx
  packages/product-core/src/ui/AssemblyRefNameInfoDialog.tsx
  packages/product-core/src/ui/index.ts
  plugins/data-management/src/AssemblyManager/AssemblyManager.tsx
  plugins/data-management/src/AssemblyManager/AssemblyTable.tsx
Due: prettier --write, eslint --fix

Save track data
  packages/core/package.json
  packages/core/pluggableElementTypes/models/BaseTrackModel.ts
  packages/core/pluggableElementTypes/models/components/SaveTrackData.tsx
  packages/core/pluggableElementTypes/models/saveTrackFileTypes/bed.ts
  packages/core/pluggableElementTypes/models/saveTrackFileTypes/genbank.ts
  packages/core/pluggableElementTypes/models/saveTrackFileTypes/gff3.ts
  packages/core/rpc/coreRpcMethods.ts
  packages/core/rpc/methods/CoreGetRegions.ts
  packages/core/rpc/methods/CoreSaveFeatureData.ts
  packages/core/ui/Dialog.tsx
  packages/core/ui/Menu.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/GetSequenceDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabel.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/variants/src/VariantTrack/index.ts
  plugins/variants/src/VariantTrack/saveTrackFormats/vcf.ts
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
Due: prettier --write, eslint --fix

Squash updates
  packages/app-core/src/JBrowseConfig/index.ts
  packages/app-core/src/JBrowseModel/index.ts
  packages/core/configuration/configurationSchema.ts
  packages/core/util/tracks.ts
  packages/core/util/types/index.ts
  packages/product-core/src/Session/Tracks.ts
  packages/product-core/src/ui/AboutDialog.tsx
  packages/product-core/src/ui/AboutDialogContents.tsx
  packages/product-core/src/ui/FileInfoPanel.tsx
  packages/product-core/src/ui/RefNameInfoDialog.tsx
  packages/web-core/src/BaseWebSession/index.ts
  plugins/circular-view/src/CircularView/model.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackLabel.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackListNode.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/util.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/facetedModel.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/facetedUtil.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/filterTracks.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/generateHierarchy.ts
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/stateModelFactory.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  products/jbrowse-desktop/src/jbrowseModel.ts
  products/jbrowse-desktop/src/rootModel/rootModel.test.ts
  products/jbrowse-react-app/src/jbrowseModel.ts
  products/jbrowse-react-app/src/rootModel/__snapshots__/rootModel.test.ts.snap
  products/jbrowse-react-app/src/rootModel/rootModel.test.ts
  products/jbrowse-web/src/jbrowseModel.test.ts
  products/jbrowse-web/src/jbrowseModel.ts
  products/jbrowse-web/src/rootModel/__snapshots__/rootModel.test.ts.snap
  products/jbrowse-web/src/rootModel/rootModel.test.ts
  products/jbrowse-web/src/rootModel/rootModel.ts
  products/jbrowse-web/src/tests/Loader.test.tsx
Due: prettier --write, eslint --fix

Make reloadPluginManager params required
  products/jbrowse-web/src/components/Loader.tsx
  products/jbrowse-web/src/createPluginManager.ts
  products/jbrowse-web/src/rootModel/rootModel.ts
Due: prettier --write, eslint --fix

Bump electron
  package.json
  products/jbrowse-desktop/package.json
  yarn.lock
Due: none

Core external link component
  packages/core/ui/ExternalLink.tsx
  packages/core/ui/index.ts
Due: prettier --write, eslint --fix

Clarify actions taken when session set at creation
  products/jbrowse-web/src/SessionLoader.ts
  products/jbrowse-web/src/components/SessionTriaged.tsx
Due: prettier --write, eslint --fix

Refactor logic for when session loader is ready
  products/jbrowse-web/src/SessionLoader.ts
Due: prettier --write, eslint --fix

Do deep clone with structuredClone
  products/jbrowse-web/src/rootModel/rootModel.ts
Due: prettier --write, eslint --fix

Fix for no-refresh plugin store not installing plugins (#5040)
  products/jbrowse-web/src/SessionLoader.ts
  products/jbrowse-web/src/components/Loader.tsx
  products/jbrowse-web/src/components/SessionTriaged.tsx
  products/jbrowse-web/src/createPluginManager.ts
  products/jbrowse-web/src/rootModel/rootModel.ts
Due: prettier --write, eslint --fix

In-app use of external link component
  packages/core/ui/ErrorMessageStackTraceDialog.tsx
  packages/core/ui/ExternalLink.tsx
  packages/embedded-core/src/ui/VersionAboutDialog.tsx
  plugins/data-management/src/AddConnectionWidget/components/ConnectionTypeSelect.tsx
  plugins/data-management/src/AddConnectionWidget/components/__snapshots__/AddConnectionWidget.test.tsx.snap
  plugins/data-management/src/AddTrackWidget/components/AddTrackUnknownAdapterPrompt.tsx
  plugins/data-management/src/AddTrackWidget/components/Unsupported.tsx
  plugins/data-management/src/PluginStoreWidget/components/PluginCard.tsx
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.tsx.snap
  plugins/menus/src/AboutWidget/components/AboutWidget.tsx
  plugins/menus/src/AboutWidget/components/__snapshots__/AboutWidget.test.tsx.snap
  plugins/menus/src/HelpWidget/components/HelpWidget.tsx
  plugins/menus/src/HelpWidget/components/__snapshots__/HelpWidget.test.tsx.snap
Due: prettier --write, eslint --fix

Add @jbrowse/core/ui/ExternalLink component (#5043)
  packages/core/ui/ErrorMessageStackTraceDialog.tsx
  packages/core/ui/ExternalLink.tsx
  packages/core/ui/index.ts
  packages/embedded-core/src/ui/VersionAboutDialog.tsx
  plugins/data-management/src/AddConnectionWidget/components/ConnectionTypeSelect.tsx
  plugins/data-management/src/AddConnectionWidget/components/__snapshots__/AddConnectionWidget.test.tsx.snap
  plugins/data-management/src/AddTrackWidget/components/AddTrackUnknownAdapterPrompt.tsx
  plugins/data-management/src/AddTrackWidget/components/Unsupported.tsx
  plugins/data-management/src/PluginStoreWidget/components/PluginCard.tsx
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.tsx.snap
  plugins/menus/src/AboutWidget/components/AboutWidget.tsx
  plugins/menus/src/AboutWidget/components/__snapshots__/AboutWidget.test.tsx.snap
  plugins/menus/src/HelpWidget/components/HelpWidget.tsx
  plugins/menus/src/HelpWidget/components/__snapshots__/HelpWidget.test.tsx.snap
Due: prettier --write, eslint --fix

Try out generic-filehandle2
  packages/core/package.json
  plugins/bed/package.json
  plugins/comparative-adapters/package.json
  plugins/gff3/package.json
  plugins/gtf/package.json
  plugins/spreadsheet-view/package.json
  plugins/variants/package.json
  yarn.lock
Due: none

[skip ci] Bump generic-filehandle2
  yarn.lock
Due: none

[skip ci] Note about plugins with embedded components
  products/jbrowse-react-linear-genome-view/stories/UsingPlugins.mdx
Due: prettier --write

Back to main
  yarn.lock
Due: none

Updates
  website/yarn.lock
  yarn.lock
Due: none

[skip ci] v3.4.1 release announcement (#5041)
  website/release_announcement_drafts/v3.4.1.md
Due: prettier --write

[skip ci] Embedded demo env var
  embedded_demos/update_all.sh
Due: none

Rename to minor release
  website/release_announcement_drafts/v3.5.0.md
Due: prettier --write

Prepare for v3.5.0 release
  CHANGELOG.md
  website/blog/2025-05-27-v3.5.0-release.md
  website/docusaurus.config.json
Due: prettier --write

[skip ci] Bump version.js
  products/jbrowse-react-circular-genome-view/src/version.js
Due: none

[skip ci] Bump version.js
  products/jbrowse-react-app/src/version.js
Due: none

[skip ci] Bump version.js
  products/jbrowse-react-linear-genome-view/src/version.js
Due: none

[update docs] Fix some typos
  website/blog/2025-05-27-v3.5.0-release.md
Due: prettier --write

[update docs] Update autogen docs
  website/docs/config/NcbiSequenceReportAliasAdapter.md
  website/docs/models/BaseFeatureWidget.md
  website/docs/models/BaseLinearDisplay.md
  website/docs/models/BreakpointSplitView.md
  website/docs/models/JBrowseWebRootModel.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearGenomeView.md
  website/docs/models/LinearSNPCoverageDisplay.md
  website/docs/models/LinearSyntenyView.md
  website/docs/quickstart_web.md
  website/src/pages/gallery.md
Due: prettier --write

Root config
  packages/app-core/src/JBrowseConfig/RootConfiguration.ts
  packages/app-core/src/JBrowseConfig/index.ts
  packages/core/PhasedScheduler.ts
  packages/core/Plugin.ts
  packages/core/PluginManager.ts
Due: prettier --write, eslint --fix

Allow plugins to register entries onto the root configuration (#5044)
  packages/app-core/src/JBrowseConfig/RootConfiguration.ts
  packages/app-core/src/JBrowseConfig/index.ts
  packages/core/PhasedScheduler.ts
  packages/core/Plugin.ts
  packages/core/PluginManager.ts
Due: prettier --write, eslint --fix

Add react compiler
  webpack/config/webpack.config.js
Due: none

Callback for rootConfigurationSchema
  packages/core/Plugin.ts
  packages/core/PluginManager.ts
Due: prettier --write, eslint --fix

Avoid re-rendering header
  packages/core/ui/DropDownMenu.tsx
  packages/core/ui/FileSelector/FileSelector.tsx
  packages/core/ui/Menu.tsx
  products/jbrowse-img/src/index.ts
  products/jbrowse-web/src/rootModel/__snapshots__/rootModel.test.ts.snap
  products/jbrowse-web/src/rootModel/rootModel.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
