Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(alignments): @gmod/cram 14
  plugins/alignments/package.json
  plugins/alignments/src/CramAdapter/readFeaturesToCIGAR.test.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

perf(alignments): CramSlightlyLazyFeature is the CRAM record
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/CramAdapter/CramSlightlyLazyFeature.ts
  plugins/alignments/src/CramAdapter/cramRecordOverrides.test.ts
Due: prettier --write, eslint --fix

perf(core): one cache budget, now that @gmod/cram weighs bytes
  agent-docs/architecture-decision-records/adr-064-parsed-chunk-budgets-are-per-worker-not-per-file.md
  packages/core/src/util/cacheBudgets.ts
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/CramAdapter/cramBudgetWiring.test.ts
Due: prettier --write, eslint --fix

docs(cram): the @gmod/cram 14 adoption, measured
  agent-docs/reference/CRAM_STACK_INTEGRATION.md
Due: prettier --write

fix(canvas): bound the partition-candidate value walk instead of letting it scale with the region
  plugins/canvas/src/LinearMultiRowFeatureDisplay/partitionRowCounts.test.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/packMultiRowFeatures.test.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/packMultiRowFeatures.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/rpcTypes.ts
Due: prettier --write, eslint --fix

feat(alignments): a lane hides from its chip, and a grouping's tag is required exactly where it exists
  plugins/alignments/src/LinearAlignmentsDisplay/components/GroupLabelsOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupComponent.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/dialogs/ColorByTagDialog.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/dialogs/GroupByDialog.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/dialogs/GroupByDialog.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/dialogs/SortByTagDialog.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/dialogs/tagGroupingVerdict.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/contextMenu.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/groupByMenu.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/hiddenGroupsItems.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/index.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/reads.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/menus/reads.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/sortGroup.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/RenderAlignmentDataRPC/GetGlobalValueForTag.ts
  plugins/alignments/src/index.ts
  plugins/alignments/src/shared/commonTags.ts
  plugins/alignments/src/shared/getUniqueTags.ts
  plugins/alignments/src/shared/groupByLabels.ts
  plugins/alignments/src/shared/groupFeatures.ts
  plugins/alignments/src/shared/types.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/hiddenGroupKeys.test.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/menus.test.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/menus.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/model.ts
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/user_guides/alignments_track.md
Due: prettier --write, eslint --fix

chore(docs): the display census counts the new hidden-lanes volatile
  agent-docs/ARCHITECTURE.md
Due: prettier --write

fix(core): a prerelease host resolves store plugins as its release
  packages/core/src/util/pluginStore.test.ts
  packages/core/src/util/pluginStore.ts
Due: prettier --write, eslint --fix

chore(core): the exports map drops ./util/QuickLRU
  packages/core/package.json
Due: none

fix(desktop,web): a plugin load that finished clears the marker, and an unreadable list says so
  products/jbrowse-desktop/src/components/StartScreen/GlobalPluginsDialog.tsx
  products/jbrowse-desktop/src/components/StartScreen/StartScreen.tsx
  products/jbrowse-desktop/src/components/StartScreen/globalPlugins.test.ts
  products/jbrowse-desktop/src/components/StartScreen/globalPlugins.ts
  products/jbrowse-desktop/src/components/StartScreen/pluginManagers.tsx
  products/jbrowse-desktop/src/components/factoryReset.ts
  products/jbrowse-web/src/SessionLoader.ts
  products/jbrowse-web/src/createPluginManager.ts
  products/jbrowse-web/src/permanentPlugins.test.ts
  products/jbrowse-web/src/permanentPlugins.ts
Due: prettier --write, eslint --fix

fix(web): safe mode is not a place to pin a plugin, and says that it is on
  packages/core/src/util/types/index.ts
  plugins/data-management/src/PluginStoreWidget/components/util.ts
  products/jbrowse-web/src/components/Loader.tsx
  products/jbrowse-web/src/createPluginManager.ts
  products/jbrowse-web/src/sessionModel/index.ts
  website/docs/models/JBrowseWebSessionModel.md
Due: prettier --write, eslint --fix

feat(plugin-store): a kept plugin carries its store ref, so it survives the upgrade
  plugins/data-management/src/PluginStoreWidget/components/InstalledPlugin.tsx
  plugins/data-management/src/PluginStoreWidget/components/util.ts
  products/jbrowse-desktop/src/components/StartScreen/GlobalPluginsDialog.tsx
Due: prettier --write, eslint --fix

fix(web): a shared link drops safeMode
  products/jbrowse-web/src/components/buildShareUrl.test.ts
  products/jbrowse-web/src/components/buildShareUrl.ts
Due: prettier --write, eslint --fix

chore(docs): regenerate
  agent-docs/architecture-decision-records/README.md
  agent-docs/reference/README.md
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/developer_guides/creating_adapter.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
Due: prettier --write

fix(alignments): a bezier connector hovers, selects and clicks like the reads it joins
  agent-docs/ideas/a-same-strand-junction-across-unfetched-segments-is-still-drawn-solid.md
  agent-docs/ideas/sa-hops-in-the-bezier-overlay.md
  packages/sv-core/src/hiddenSegments.ts
  packages/sv-core/src/index.ts
  plugins/alignments/benches/bezierEnumerate.probe.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/HighlightOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupBezierOverlay.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupBezierOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/useAlignmentsBase.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/RenderAlignmentDataRPC/executeRenderAlignmentData.ts
  plugins/alignments/src/features/linkedReads/computeOverlay.test.ts
  plugins/alignments/src/features/linkedReads/computeOverlay.ts
  plugins/alignments/src/shared/buildChainMetadata.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/AlignmentConnections.tsx
Due: prettier --write, eslint --fix

chore(docs): regenerate the model docs for selectReadWithChain, and the three stale on main
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write

docs(agent-docs): bezier overlay handoff, and the hidden-hop ideas corrected to a quiet-box measurement
  agent-docs/handoffs/README.md
  agent-docs/handoffs/bezier-overlay-hover.md
  agent-docs/ideas/a-same-strand-junction-across-unfetched-segments-is-still-drawn-solid.md
  agent-docs/ideas/sa-hops-in-the-bezier-overlay.md
Due: prettier --write

perf(web): the entry script stops carrying the MST fork and mobx
  agent-docs/reference/EAGER_BUNDLE.md
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/OverrideBadge.test.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/OverrideBadge.tsx
  products/jbrowse-web/src/components/Loader.tsx
  products/jbrowse-web/src/index.tsx
Due: prettier --write, eslint --fix

perf(core): a realm with no runtime plugins does not fetch the plugin ABI
  packages/core/src/PluginLoader.ts
  packages/product-core/src/loadPlugins.test.ts
  packages/product-core/src/loadPlugins.ts
  packages/product-core/src/rpcWorker.ts
  products/jbrowse-desktop/src/components/StartScreen/pluginManagers.tsx
  products/jbrowse-web/src/sessionLoaderHelpers.ts
  scripts/measureWebBundle.ts
Due: prettier --write, eslint --fix

fix(core): PluginLoader publishes the ABI for whoever built it
  packages/core/src/PluginLoader.ts
Due: prettier --write, eslint --fix

docs(eager-bundle): the worker's React stack, measured, and the two cuts that lose
  agent-docs/reference/EAGER_BUNDLE.md
Due: prettier --write

docs(cookbook): consolidate the recipes down to what the guides don't already carry
  website/docs/cookbook.md
Due: prettier --write

docs(cookbook): cut to the recipes people copy, move the niche ones to their own pages
  plugins/sequence/src/CrisprGuideAdapter/configSchema.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/CrisprGuideAdapter.md
  website/docs/config_guides/customizing_feature_colors.md
  website/docs/config_guides/file_types.md
  website/docs/cookbook.md
  website/docs/user_guides/sequence_search.md
Due: prettier --write, eslint --fix

docs(agents): cut the section to a user TL;DR plus the three pages agents read
  scripts/agent-demos/CLAUDE.md
  scripts/agent-demos/webDemo.mjs
  website/docs/agents.md
  website/docs/agents_capture.md
  website/docs/agents_hosted_data.md
  website/docs/agents_live_model.md
  website/docs/agents_mcp.md
  website/docs/agents_recipes.md
  website/docs/agents_web.md
  website/scripts/sync-doc-snippets.ts
  website/sidebars.json
Due: prettier --write, eslint --fix

docs(config): one page for the config and session document
  products/jbrowse-desktop/electron/mcp/docsContent.ts
  website/astro.config.mjs
  website/docs/automating.md
  website/docs/config.md
  website/docs/config_and_session_json.md
  website/docs/config_guides/intro.md
  website/docs/embedded_components.md
  website/docs/faq.md
  website/docs/introduction.md
  website/docs/urlparams.md
  website/scripts/sync-doc-snippets.ts
  website/sidebars.json
Due: prettier --write, eslint --fix

docs(urlparams): bullet the prose and keep one worked example per idea
  website/docs/urlparams.md
Due: prettier --write

docs(quickstart): bullet both quickstarts and point synteny at its guide
  website/docs/quickstart_desktop.md
  website/docs/quickstart_web.md
Due: prettier --write

docs(config_guides): cut every guide to what the generated pages and the cookbook don't carry
  website/docs/config_guides/alignments_track.md
  website/docs/config_guides/assemblies.md
  website/docs/config_guides/authentication.md
  website/docs/config_guides/avoiding_stale_config.md
  website/docs/config_guides/connections.md
  website/docs/config_guides/customizing_feature_colors.md
  website/docs/config_guides/customizing_feature_details.md
  website/docs/config_guides/default_session.md
  website/docs/config_guides/deploying.md
  website/docs/config_guides/disable_analytics.md
  website/docs/config_guides/file_types.md
  website/docs/config_guides/from_config.md
  website/docs/config_guides/gwas_track.md
  website/docs/config_guides/hic_track.md
  website/docs/config_guides/intro.md
  website/docs/config_guides/jexl.md
  website/docs/config_guides/maf_track.md
  website/docs/config_guides/multiquantitative_track.md
  website/docs/config_guides/plugins.md
  website/docs/config_guides/quantitative_track.md
  website/docs/config_guides/serving_data.md
  website/docs/config_guides/slot_types.md
  website/docs/config_guides/synteny_track.md
  website/docs/config_guides/text_searching.md
  website/docs/config_guides/theme.md
  website/docs/config_guides/track_selector.md
  website/docs/config_guides/tracks.md
  website/docs/config_guides/variant_track.md
  website/docs/quickstart_adminserver.md
Due: prettier --write

docs: restore drawerViewHeight mention, lower the fence baseline, reformat
  website/docs/agents_live_model.md
  website/docs/embedded_components.md
  website/scripts/sync-doc-snippets.ts
Due: prettier --write, eslint --fix

[skip ci] fix(embedded-cgv): assert addView's snapshot against the one view it writes
  products/jbrowse-react-circular-genome-view/src/createModel/createSessionModel.ts
Due: prettier --write, eslint --fix

fix(canvas): the fit ladder measures a same-start pile and an expanded gene by what a rung can actually take
  plugins/canvas/src/LinearBasicDisplay/fitLadderViews.ts
  plugins/canvas/src/LinearBasicDisplay/fitToDisplayHeight.test.ts
  plugins/canvas/src/LinearBasicDisplay/isoformFitLadder.test.ts
  plugins/canvas/src/LinearBasicDisplay/isoformTrim.test.ts
  plugins/canvas/src/LinearBasicDisplay/isoformTrim.ts
  plugins/canvas/src/LinearBasicDisplay/layout.test.ts
  plugins/canvas/src/LinearBasicDisplay/layout.ts
  plugins/canvas/src/LinearBasicDisplay/yMorph.test.ts
  plugins/canvas/src/LinearBasicDisplay/yMorph.ts
  plugins/canvas/src/LinearBasicDisplay/yMorphViews.ts
Due: prettier --write, eslint --fix

perf(core): the RPC worker publishes a React-free plugin ABI
  agent-docs/reference/EAGER_BUNDLE.md
  packages/core/src/PluginLoader.ts
  packages/core/src/ReExports/abiBaseline.json
  packages/core/src/ReExports/modules.ts
  packages/core/src/ReExports/publicUtil.ts
  packages/core/src/ReExports/sharedModules.ts
  packages/core/src/ReExports/uiStub.ts
  packages/core/src/ReExports/workerModules.test.ts
  packages/core/src/ReExports/workerModules.ts
  packages/core/src/util/index.ts
  packages/product-core/src/rpcWorker.ts
Due: prettier --write, eslint --fix

fix(canvas): a Default color rung, a migration that keeps a unified showLabels, and no empty label tooltip
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/collapseIntronsMenu.test.ts
  plugins/canvas/src/LinearBasicDisplay/collapseIntronsMenu.ts
  plugins/canvas/src/LinearBasicDisplay/components/Canvas2DFeatureRenderer.ts
  plugins/canvas/src/LinearBasicDisplay/components/FeatureComponent.tsx
  plugins/canvas/src/LinearBasicDisplay/components/overlayElements.tsx
  plugins/canvas/src/LinearBasicDisplay/configSchema.test.ts
  plugins/canvas/src/LinearBasicDisplay/migrateBasicSnapshot.ts
  plugins/canvas/src/LinearBasicDisplay/trackMenuShape.test.ts
  plugins/canvas/src/LinearBasicDisplay/trackMenus.ts
  plugins/variants/src/LinearVariantDisplay/model.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  products/jbrowse-web/src/tests/VariantColorBy.test.tsx
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
Due: prettier --write, eslint --fix

perf(canvas): the label-factor probe trims its isoform stacks once, not once per pack
  plugins/canvas/src/LinearBasicDisplay/layout.test.ts
  plugins/canvas/src/LinearBasicDisplay/layout.ts
Due: prettier --write, eslint --fix

refactor(canvas): one spelling for a missing subfeature, and a label hover that reads like a glyph hover
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/components/FeatureComponent.tsx
  plugins/canvas/src/LinearBasicDisplay/components/hitTesting.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/hitTesting.ts
  plugins/canvas/src/LinearBasicDisplay/components/hoverReadout.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/overlayElements.test.tsx
  plugins/canvas/src/LinearBasicDisplay/components/overlayElements.tsx
  plugins/canvas/src/LinearBasicDisplay/contextMenuHoverPin.test.ts
  plugins/canvas/src/LinearBasicDisplay/featureHighlightViews.ts
  plugins/canvas/src/LinearBasicDisplay/hoverWriteGuard.test.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
Due: prettier --write, eslint --fix

fix(canvas): a session capability gates "Open in new view", and a sequence dialog says when it fell back to the gene
  packages/core/src/util/index.ts
  packages/core/src/util/types/index.ts
  plugins/canvas/src/LinearBasicDisplay/CollapseIntronsDialog/CollapseIntronsDialog.test.tsx
  plugins/canvas/src/LinearBasicDisplay/CollapseIntronsDialog/CollapseIntronsDialog.tsx
  plugins/canvas/src/LinearBasicDisplay/components/FeatureSequenceDialog.test.tsx
  plugins/canvas/src/LinearBasicDisplay/components/FeatureSequenceDialog.tsx
  plugins/canvas/src/LinearBasicDisplay/searchResultHighlight.test.ts
Due: prettier --write, eslint --fix

fix(docs): four docs-check failures — stale budget name, dangling BENCHMARKING anchor, wiki-title duplicates, a countable menu label
  agent-docs/reference/CRAM_STACK_INTEGRATION.md
  website/docs/config_guides/authentication.md
  website/docs/config_guides/connections.md
  website/docs/config_guides/plugins.md
  website/docs/config_guides/theme.md
  website/docs/config_guides/track_selector.md
  website/docs/cookbook.md
  website/docs/developer_guides/memory.md
  website/docs/user_guides/alignments_track.md
  website/scripts/check-doc-removed-symbols.ts
Due: prettier --write, eslint --fix

chore: two typos-checker false positives the spell-check gate left red
  _typos.toml
Due: none

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
