Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

docs(pangenome_hprc): move measurements out of prose, fix two cold starts
  agent-docs/reference/PANGENOME_GRAPHS.md
  website/docs/tutorials/pangenome_hprc.md
Due: prettier --write

chore: @gmod/range-cache-filehandle 1.0.2 -> 1.1.0
  packages/core/package.json
  pnpm-lock.yaml
Due: none

docs(pangenome_hprc): drop the unverifiable measurements from the prose
  agent-docs/reference/PANGENOME_GRAPHS.md
  website/docs/tutorials/pangenome_hprc.md
Due: prettier --write

feat(website): gate a tour's pasted config against the fence it copies
  scripts/check-docs.ts
  website/CLAUDE.md
  website/package.json
  website/scripts/check-paste-configs.ts
  website/scripts/video-specs.ts
Due: prettier --write, eslint --fix

docs(rejected): the ecoli page does not want the HPRC page's tour
  agent-docs/reference/REJECTED_IDEAS.md
Due: prettier --write

test(variants): rebaseline the clustered matrix after @gmod/hclust 4.1.0
  products/jbrowse-web/src/tests/__image_snapshots__/vcf-cluster-test-tsx-opens-a-vcf-track-and-clusters-genotypes-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/vcf_cluster_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/VcfCluster.test.tsx.snap
Due: none

docs(pangenome): drop one precise unverifiable count, restore one general one
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_hprc.md
Due: prettier --write

fix(demos): unpin the HPRC demo's plugin, and hold the split with a check
  demos/hprc/config.json
  test_data/graphgenomeview/README.md
  website/scripts/check-live-configs.ts
Due: prettier --write, eslint --fix

feat(website): one push for both stores, and stop an empty corpus emptying a lock
  website/CLAUDE.md
  website/media.lock
  website/package.json
  website/scripts/check-figure-refs.ts
  website/scripts/figures.ts
  website/scripts/media-commands.ts
  website/scripts/media-store.ts
  website/scripts/media.ts
Due: prettier --write, eslint --fix

fix(website): stop --allow-deletions emptying the store it was not aimed at
  website/CLAUDE.md
  website/scripts/figures.ts
  website/scripts/media-commands.ts
  website/scripts/media.ts
Due: prettier --write, eslint --fix

feat(docs): put the HPRC alignment beside the graph, the callset and copy number
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/figure-manifest.json
  website/scripts/specs/maf.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

feat(maf): cluster alignment rows by identity, and redraw the HPRC graph as Bandage
  agent-docs/reference/HPRC_RELEASE2.md
  figures.lock
  plugins/maf/src/LinearMafClusterIdentityRpc/LinearMafClusterIdentityMatrix.ts
  plugins/maf/src/LinearMafClusterIdentityRpc/LinearMafGetIdentityMatrix.ts
  plugins/maf/src/LinearMafClusterIdentityRpc/buildIdentityMatrix.test.ts
  plugins/maf/src/LinearMafClusterIdentityRpc/buildIdentityMatrix.ts
  plugins/maf/src/LinearMafClusterIdentityRpc/executeClusterIdentityMatrix.ts
  plugins/maf/src/LinearMafClusterIdentityRpc/index.ts
  plugins/maf/src/LinearMafDisplay/clusterAutorun.test.ts
  plugins/maf/src/LinearMafDisplay/components/LinearMafDisplayComponent.tsx
  plugins/maf/src/LinearMafDisplay/components/MafClusterDialog.tsx
  plugins/maf/src/LinearMafDisplay/runMafClustering.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/maf/src/LinearMafDisplay/trackMenuItems.ts
  plugins/maf/src/index.ts
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/figure-manifest.json
  website/scripts/specs/maf.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

docs(maf): document clustering rows by identity, and the moved subtree-filter item
  hprc-v2.0-mc-grch38.wave.vcf.gz.tbi
  website/docs/user_guides/maf_track.md
Due: prettier --write

feat(docs): carry the C4 band into the graph pane, and say what LV==0 costs
  agent-docs/reference/HPRC_RELEASE2.md
  figures.lock
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/specs/maf.ts
Due: prettier --write, eslint --fix

docs(pangenome): lead with the end-to-end clip, and pin the clustering row order
  plugins/maf/src/LinearMafDisplay/runMafClustering.test.ts
  website/docs/tutorials/pangenome_hprc.md
Due: prettier --write, eslint --fix

test(maf): pin that Reset row order takes the guide tree back out of the snapshot
  plugins/maf/src/LinearMafDisplay/clusterAutorun.test.ts
Due: prettier --write, eslint --fix

chore: untrack a probe's tabix index, and stop the root collecting them
  .gitignore
  hprc-v2.0-mc-grch38.wave.vcf.gz.tbi
Due: none

chore: regenerate the unmapped-recipe list from autogen, not by hand
  scripts/autogen.ts
  scripts/check-docs.ts
  website/scripts/spec-recipe-unmapped.txt
Due: prettier --write, eslint --fix

docs(release): the v5.0.0 draft said the ABI removed nothing
  website/release_announcement_drafts/v5.0.0.md
Due: prettier --write

feat(website): a table of contents on long blog posts
  website/src/layouts/BlogLayout.astro
  website/src/pages/blog/[...slug].astro
Due: none

docs(release): changelog entries naming code that is not in the release
  website/release_announcement_drafts/v5.0.0.changelog.md
Due: prettier --write

docs(pangenome): correct the CHM13 allele size and fix gene-symbol typography
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_hprc.md
Due: prettier --write

docs(pangenome): film two point-and-click routes, and fix the node menu path
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_hprc.md
  website/media.lock
  website/scripts/specs/graph-ecoli.ts
  website/scripts/specs/graph-hprc.ts
  website/scripts/video-specs.ts
Due: prettier --write, eslint --fix

docs(website): one genomes.jbrowse.org proteins tutorial, with the launch filmed
  website/docs/tutorials/genomes_basics.md
  website/docs/tutorials/genomes_msa.md
  website/docs/tutorials/genomes_proteins.md
  website/docs/tutorials/protein_structure.md
  website/docs/urlparams.md
  website/docs/user_guide.md
  website/docs/user_guides/gene_track.md
  website/media.lock
  website/scripts/check-menu-labels.ts
  website/scripts/figure-manifest.json
  website/scripts/gen-tutorial-thumbs.ts
  website/scripts/specs/msa.ts
  website/scripts/video-specs.ts
  website/src/lib/gallery.ts
  website/src/lib/guide-categories.ts
Due: prettier --write, eslint --fix

docs(dog10k): take the 73 px of dead white off the CYP1A2 figure
  figures.lock
  website/scripts/specs/dog10k.ts
Due: prettier --write, eslint --fix

docs(dog10k): fix a wrong wolf count, film the clustering route, requalify the cards
  website/docs/tutorials/dog10k_lof.md
  website/docs/tutorials/dog10k_selection.md
  website/docs/tutorials/dog10k_svs.md
  website/media.lock
  website/scripts/gen-tutorial-thumbs.ts
  website/scripts/specs/dog10k.ts
  website/scripts/video-specs.ts
Due: prettier --write, eslint --fix

docs(pangenome): give the MAF figure a negative, and take values out of callouts
  figures.lock
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/specs/graph-ecoli.ts
  website/scripts/specs/graph-hprc.ts
  website/scripts/specs/pangenome.ts
  website/scripts/specs/pangenome_cactus.ts
Due: prettier --write, eslint --fix

docs(tcga): drop the binned-matrix section and its duplicate figure
  figures.lock
  scripts/build_tcga_cohort_cnv_zarr.sh
  website/docs/tutorials/tcga_cohort_cnv.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-review.json
  website/scripts/specs/tcga.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

docs(cancer): fix a wrong UI claim, three missing commands, and the typography
  website/docs/tutorials/cancer_sv.md
  website/docs/tutorials/sv_callset_review.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/docs/tutorials/tcga_cohort_mutations.md
Due: prettier --write

feat(website): film the CNV clustering route
  website/docs/tutorials/tcga_cohort_cnv.md
  website/scripts/specs/tcga.ts
  website/scripts/video-specs.ts
Due: prettier --write, eslint --fix

chore(website): publish the CNV clustering clip to the media store
  website/media.lock
Due: none

feat(website): film the collapse-introns route on the mutation cohort
  website/docs/tutorials/tcga_cohort_mutations.md
  website/media.lock
  website/scripts/specs/tcga.ts
  website/scripts/video-specs.ts
Due: prettier --write, eslint --fix

docs(proteins): move the mapping mechanism to where the reader meets it
  website/docs/tutorials/genomes_proteins.md
Due: prettier --write

Update generated links
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

fix(canvas): restore isGeneLike, which msaview reads off the display
  plugins/canvas/src/LinearBasicDisplay/model.ts
  plugins/canvas/src/LinearBasicDisplay/pluginFacingDisplayApi.test.ts
  website/docs/models/LinearBasicDisplay.md
Due: prettier --write, eslint --fix

docs(pangenome): shade the trough the pav caption was asking readers to find
  figures.lock
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/specs/pangenome.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

docs(pangenome): generate the graph plugin fence from the configs that serve it
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/user_guides/graph_genome_view.md
  website/scripts/api-docs/generateGraphPluginDocs.ts
  website/scripts/api-docs/markerGenerators.ts
Due: prettier --write, eslint --fix

docs(datasets): record the E. coli one-strain-absent band and the runs it beat
  agent-docs/reference/DEMO_DATASETS.md
Due: prettier --write

docs(pangenome): deep-link the projections section from the Cactus page
  agent-docs/reference/REJECTED_IDEAS.md
  website/docs/tutorials/pangenome_cactus.md
Due: prettier --write

feat(website): film the Gene Explorer route, following the tab it opens
  website/CLAUDE.md
  website/docs/tutorials/genomes_proteins.md
  website/media.lock
  website/scripts/generate-video.ts
  website/scripts/specs/msa.ts
  website/scripts/video-specs.ts
Due: prettier --write, eslint --fix
