Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs(promotable): cut what the reference doc says that the code no longer does
  agent-docs/reference/DISPLAY_TYPE_DEFAULTS.md
Due: prettier --write

docs(default-session): lead with the init form, drop the don't-write-one-by-hand advice
  website/docs/config_and_session_json.md
  website/docs/config_guides/default_session.md
Due: prettier --write

fix(figures): the summary-bin figures are one chromosome, not 24
  website/scripts/specs/cnv1000g.ts
Due: prettier --write, eslint --fix

Update autogen docs
  packages/core/README.md
  website/docs/developer_guides/data_fetching.md
  website/docs/models/ArcFetchModel.md
  website/docs/models/CanvasFeatureGateMixin.md
  website/docs/models/GlobalDataDisplayMixin.md
  website/docs/models/GlobalFetchMixin.md
  website/docs/models/LinearArcDisplay.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearHicDisplay.md
  website/docs/models/LinearMafDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/LinearPairedArcDisplay.md
  website/docs/models/LinearReferenceSequenceDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/MultiRegionDisplayMixin.md
  website/docs/models/MultiSampleVariantBaseModel.md
  website/docs/models/RegionTooLargeMixin.md
  website/docs/models/SharedGCContentModel.md
  website/docs/models/SharedLDModel.md
Due: prettier --write

docs(figures): the whole-genome view renders fine; the harness cannot capture it
  website/scripts/specs/cnv1000g.ts
Due: prettier --write, eslint --fix

docs(website): a capture that dies on volume is a claim about swiftshader
  website/CLAUDE.md
Due: prettier --write

docs(population_cnv): show what the summary levels are for
  website/docs/tutorials/population_cnv.md
Due: prettier --write

feat(synteny): count a polyploid's homoeologs off an ortholog table
  demos/wheat_homoeologs/config.json
  packages/synteny-core/src/colorByMenuItems.tsx
  scripts/build_compara_dnds.sh
  scripts/build_wheat_homoeologs.sh
  scripts/check-build-scripts.py
  scripts/compara_to_blocks.py
  website/docs/user_guides/linear_synteny_view.md
Due: prettier --write, eslint --fix

docs(ideas): re-inventory the hosted tracks no tutorial names
  agent-docs/OTHER_IDEAS.md
Due: prettier --write

fix(synteny): a comparative view's track list was any, so nothing was checked
  packages/synteny-core/src/index.ts
  packages/synteny-core/src/lodTier.ts
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

feat(wiggle): rank a multi-wiggle's rows by their score at a clicked column
  packages/tree-sidebar/src/treeMenuItems.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/MultiWiggleComponent.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/findHit.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/multiWiggleDisplayTypes.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/contextMenu.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/rowOrderByScoreAt.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/rowOrderByScoreAt.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/trackMenuItems.test.ts
  products/jbrowse-web/src/tests/MultiBigWig.test.tsx
  website/docs/models/MultiLinearWiggleDisplay.md
Due: prettier --write, eslint --fix

fix(synteny): decide reciprocal all-vs-all pairs once, off the file
  plugins/comparative-adapters/src/AllVsAllIndexedPAFAdapter/AllVsAllIndexedPAFAdapter.ts
  plugins/comparative-adapters/src/AllVsAllPAFAdapter/AllVsAllPAFAdapter.test.ts
  plugins/comparative-adapters/src/AllVsAllPAFAdapter/AllVsAllPAFAdapter.ts
  plugins/comparative-adapters/src/util.test.ts
  plugins/comparative-adapters/src/util.ts
Due: prettier --write, eslint --fix

feat(pangenome): untangle at -e 5000, and the same file as a per-strain lane
  demos/ecoli_pangenome/config.json
  scripts/build_ecoli_pangenome_graph.sh
  scripts/untangle_to_bed.py
Due: none

docs(figures): work the review list — four figures, and one of them is a pair again
  figures.lock
  website/docs/tutorials/cancer_sv.md
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/user_guides/sv_visualization.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-review.json
  website/scripts/specs/cancer_sv.ts
  website/scripts/specs/pangenome.ts
  website/scripts/specs/pangenome_cactus.ts
  website/scripts/specs/sv.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

feat(cli): transitive-paf, filling in the pairs an all-vs-all PAF lacks
  plugins/comparative-adapters/src/AllVsAllIndexedPAFAdapter/configSchema.ts
  plugins/comparative-adapters/src/AllVsAllPAFAdapter/configSchema.ts
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/commands/__snapshots__/add-connection.test.ts.snap
  products/jbrowse-cli/src/commands/transitive-paf/compose.test.ts
  products/jbrowse-cli/src/commands/transitive-paf/compose.ts
  products/jbrowse-cli/src/commands/transitive-paf/index.test.ts
  products/jbrowse-cli/src/commands/transitive-paf/index.ts
  products/jbrowse-cli/src/commands/transitive-paf/join.ts
  products/jbrowse-cli/src/commands/transitive-paf/paf.ts
  products/jbrowse-cli/src/commands/transitive-paf/plan.ts
  products/jbrowse-cli/src/index.ts
  website/docs/cli.md
  website/docs/config/AllVsAllIndexedPAFAdapter.md
  website/docs/config/AllVsAllPAFAdapter.md
Due: prettier --write, eslint --fix

refactor(wiggle): sort the rows themselves, and single-source "Reset row order"
  packages/tree-sidebar/src/index.ts
  packages/tree-sidebar/src/treeMenuItems.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/trackMenuItems.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/MultiWiggleComponent.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/findHit.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/sortSourcesByScoreAt.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/sortSourcesByScoreAt.ts
  products/jbrowse-web/src/tests/MultiBigWig.test.tsx
  website/docs/models/MultiLinearWiggleDisplay.md
Due: prettier --write, eslint --fix

docs(pangenome): make the untangle projection readable, three ways
  figures.lock
  scripts/build_ecoli_pangenome_graph.sh
  scripts/build_minigraph_paths.sh
  scripts/untangle_to_bed.py
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/figure-manifest.json
  website/scripts/specs/pangenome.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

docs(figures): record what moved under pangenome/pggb_untangle
  website/scripts/screenshot-review.json
Due: none

docs(pangenome): record the pggb index rehost, and the -e call against adr-024
  agent-docs/handoffs/pangenome-graph-next.md
  agent-docs/reference/PANGENOME_GRAPHS.md
  website/docs/tutorials/pangenome_ecoli.md
Due: prettier --write

fix(synteny): say so when an all-vs-all PAF is missing a pair
  plugins/comparative-adapters/src/AllVsAllIndexedPAFAdapter/AllVsAllIndexedPAFAdapter.ts
  plugins/comparative-adapters/src/AllVsAllPAFAdapter/AllVsAllPAFAdapter.test.ts
  plugins/comparative-adapters/src/AllVsAllPAFAdapter/AllVsAllPAFAdapter.ts
  plugins/comparative-adapters/src/util.ts
  products/jbrowse-cli/src/commands/make-pif/index.test.ts
  products/jbrowse-cli/src/commands/make-pif/index.ts
  products/jbrowse-cli/src/commands/make-pif/pif-generator.ts
Due: prettier --write, eslint --fix

docs(pangenome): the dotplot does not show the collapsed repeat, so stop saying it does
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/specs/pangenome.ts
Due: prettier --write, eslint --fix

feat(wiggle): let a session open a multi-wiggle already ranked at one base
  packages/tree-sidebar/src/index.ts
  packages/tree-sidebar/src/rowSortAutorun.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/getMultiRowSortAutorun.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/findHit.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/contextMenu.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/sortAutorun.test.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

docs(pangenome): draw per-strain presence as density, both builders
  figures.lock
  website/scripts/specs/pangenome.ts
  website/scripts/specs/pangenome_cactus.ts
Due: prettier --write, eslint --fix

fix(cli): transitive-paf on the pangenome data it was built for
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/commands/transitive-paf/compose.test.ts
  products/jbrowse-cli/src/commands/transitive-paf/compose.ts
  products/jbrowse-cli/src/commands/transitive-paf/index.test.ts
  products/jbrowse-cli/src/commands/transitive-paf/index.ts
  products/jbrowse-cli/src/commands/transitive-paf/join.ts
  products/jbrowse-cli/src/commands/transitive-paf/paf.ts
  website/docs/cli.md
Due: prettier --write, eslint --fix

docs(tutorials): a locus short reads cannot place, off the hosted hg38 hub
  figures.lock
  scripts/scan_mappability_qc.sh
  website/docs/tutorials/mappability_qc.md
  website/scripts/gen-tutorial-thumbs.ts
  website/scripts/screenshot-specs.ts
  website/scripts/specs/qc.ts
  website/scripts/third-party-hosts.txt
Due: prettier --write, eslint --fix

docs(ideas): the hub is the hg38 catalog, and the QC page is built off it
  agent-docs/OTHER_IDEAS.md
Due: prettier --write

refactor: give every clusterable display the shared "Reset row order"
  packages/tree-sidebar/src/treeMenuItems.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rowOrderByValueAt.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rowOrderByValueAt.ts
  plugins/maf/src/LinearMafDisplay/trackMenuItems.ts
  plugins/variants/src/shared/multiSampleVariantMenuItems.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/MultiWiggleComponent.tsx
  website/scripts/check-remote-hosts.ts
Due: prettier --write, eslint --fix

docs(pangenome): carriage reaches the popup on the indexed route now
  agent-docs/handoffs/pangenome-graph-next.md
  agent-docs/reference/PANGENOME_GRAPHS.md
  website/docs/tutorials/pangenome_ecoli.md
Due: prettier --write

fix(cli): make transitive-paf survive a human pangenome
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/commands/transitive-paf/index.ts
  products/jbrowse-cli/src/commands/transitive-paf/join.ts
  products/jbrowse-cli/src/commands/transitive-paf/redundancy.test.ts
  products/jbrowse-cli/src/commands/transitive-paf/redundancy.ts
  website/docs/cli.md
Due: prettier --write, eslint --fix

fix(lgv): portal the display status overlays above the inter-region masks
  packages/core/src/ui/ErrorBar.tsx
  packages/core/src/ui/LoadingOverlay.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayLoadingOverlay.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayStatusChromeBase.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/chromeOverlays.ts
  scripts/chromeBundleSizes.json
Due: prettier --write, eslint --fix

docs(adr): ADR-058 — track paint containment stays, the portal is what it costs
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-058-track-paint-containment-stays.md
  agent-docs/reference/DISPLAYCHROME.md
  plugins/linear-genome-view/src/LinearGenomeView/TrackOverlayPortal.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackRenderingContainer.tsx
  products/jbrowse-web/browser-tests/probe-containment.ts
Due: prettier --write, eslint --fix

docs(multiquantitative): the right-click score sort, and how to reset a row order
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/user_guides/multiquantitative_track.md
Due: prettier --write

feat(synteny): bread wheat against itself, coloured by computed dN/dS
  demos/wheat_homoeolog_selection/config.json
  figures.lock
  plugins/comparative-adapters/src/MCScanBlocksAdapter/MCScanBlocksAdapter.test.ts
  plugins/comparative-adapters/src/MCScanBlocksAdapter/MCScanBlocksAdapter.ts
  plugins/comparative-adapters/src/MCScanBlocksAdapter/test_data/grape_self.blocks
  scripts/kaks_from_pairs.py
  website/docs/tutorials/multiway_synteny.md
  website/scripts/specs/synteny.ts
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

docs(cli): record what impg does, having built it and checked
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/commands/transitive-paf/index.ts
  website/docs/cli.md
Due: prettier --write, eslint --fix

fix(core): free a track's data adapters when its last view closes it
  packages/core/src/data_adapters/adapterSessionRefcount.test.ts
  packages/core/src/data_adapters/adapterSessionRefcount.ts
  packages/core/src/data_adapters/dataAdapterCache.ts
  packages/core/src/data_adapters/freeAdapterSession.integration.test.ts
  packages/core/src/pluggableElementTypes/models/BaseTrackModel.ts
  packages/core/src/rpc/RpcManager.ts
  packages/core/src/rpc/WorkerPoolRpcDriver.ts
  packages/core/src/rpc/methods/CoreFreeResources.ts
  products/jbrowse-web/src/tests/FreeAdapterOnTrackClose.test.ts
Due: prettier --write, eslint --fix

docs(handoff): RemoteFileWithRangeCache is the last layer that never reclaims
  agent-docs/handoffs/remotefile-range-cache-reclamation.md
Due: prettier --write

revert(cli): drop transitive-paf; the field solves this upstream
  plugins/comparative-adapters/src/AllVsAllIndexedPAFAdapter/configSchema.ts
  plugins/comparative-adapters/src/AllVsAllPAFAdapter/AllVsAllPAFAdapter.test.ts
  plugins/comparative-adapters/src/AllVsAllPAFAdapter/configSchema.ts
  plugins/comparative-adapters/src/util.ts
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/commands/__snapshots__/add-connection.test.ts.snap
  products/jbrowse-cli/src/commands/make-pif/index.test.ts
  products/jbrowse-cli/src/commands/make-pif/index.ts
  products/jbrowse-cli/src/commands/transitive-paf/compose.test.ts
  products/jbrowse-cli/src/commands/transitive-paf/compose.ts
  products/jbrowse-cli/src/commands/transitive-paf/index.test.ts
  products/jbrowse-cli/src/commands/transitive-paf/index.ts
  products/jbrowse-cli/src/commands/transitive-paf/join.ts
  products/jbrowse-cli/src/commands/transitive-paf/paf.ts
  products/jbrowse-cli/src/commands/transitive-paf/plan.ts
  products/jbrowse-cli/src/commands/transitive-paf/redundancy.test.ts
  products/jbrowse-cli/src/commands/transitive-paf/redundancy.ts
  products/jbrowse-cli/src/index.ts
  website/docs/cli.md
  website/docs/config/AllVsAllIndexedPAFAdapter.md
  website/docs/config/AllVsAllPAFAdapter.md
Due: prettier --write, eslint --fix

feat(maf): read a published indexed MAF by locus
  plugins/maf/src/BgzipMafAdapter/BgzipMafAdapter.ts
  plugins/maf/src/BgzipMafAdapter/configSchema.ts
  plugins/maf/src/BgzipMafAdapter/index.ts
  plugins/maf/src/BgzipMafAdapter/mafParsing.test.ts
  plugins/maf/src/BgzipMafAdapter/mafParsing.ts
  plugins/maf/src/index.ts
  website/docs/config/BgzipMafAdapter.md
  website/docs/config/LinearMafDisplay.md
  website/docs/config/MafTrack.md
Due: prettier --write, eslint --fix

docs(pangenome): pin the published plugin bundle, and regenerate on a clean build
  figures.lock
  test_data/graphgenomeview/config.json
  test_data/graphgenomeview/ecoli_pangenome.json
  test_data/graphgenomeview/hprc.json
Due: none

docs(handoff): measure the range cache — 100 MB held per worker, reclaimed by nothing
  .gitignore
  agent-docs/handoffs/remotefile-range-cache-reclamation.md
  products/jbrowse-web/browser-tests/rangecache-probe.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
