Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Regenerate the CLI rule copy and the multi-way model docs
  products/jbrowse-cli/src/commands/validate/markRules/markSpecs.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write, eslint --fix

A region holding an earlier colour's data stays out of the mark's scale and key
  agent-docs/architecture-decision-records/adr-202-every-mark-colour-resolves-on-the-main-thread.md
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLayers.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLayers.ts
  plugins/marks/src/LinearMarkDisplay/legend.ts
  plugins/marks/src/LinearMarkDisplay/markColor.test.ts
  plugins/marks/src/LinearMarkDisplay/markColor.ts
  plugins/marks/src/LinearMarkDisplay/markList.ts
Due: prettier --write, eslint --fix

Held keys of another field, and held multi-way lanes, paint their own colours
  agent-docs/architecture-decision-records/adr-202-every-mark-colour-resolves-on-the-main-thread.md
  agent-docs/handoffs/grammar-unity.md
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLayers.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLayers.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/marks/src/LinearMarkDisplay/legend.ts
  plugins/marks/src/LinearMarkDisplay/markColor.test.ts
  plugins/marks/src/LinearMarkDisplay/markColor.ts
  plugins/marks/src/LinearMarkDisplay/markList.ts
  plugins/marks/src/index.ts
Due: prettier --write, eslint --fix

A hover on a held region leaves its colour row out
  agent-docs/architecture-decision-records/adr-202-every-mark-colour-resolves-on-the-main-thread.md
  plugins/marks/src/LinearMarkDisplay/components/MarkTooltip.tsx
  plugins/marks/src/LinearMarkDisplay/findMarkHit.ts
  plugins/marks/src/LinearMarkDisplay/markColor.test.ts
  plugins/marks/src/LinearMarkDisplay/markColor.ts
Due: prettier --write, eslint --fix

Frozen lanes unfreeze once the view leaves the window they froze on
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/freezeLanes.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneDecision.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLayers.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/menus.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
Due: prettier --write, eslint --fix

An indexed multi-genome PAF names its star anchor
  plugins/comparative-adapters/src/MultiGenomeIndexedPAFAdapter/MultiGenomeIndexedPAFAdapter.test.ts
  plugins/comparative-adapters/src/MultiGenomeIndexedPAFAdapter/MultiGenomeIndexedPAFAdapter.ts
  plugins/comparative-adapters/src/MultiGenomeIndexedPAFAdapter/configSchema.ts
  plugins/comparative-adapters/src/util.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneFetch.ts
Due: prettier --write, eslint --fix

A lane-pair fetch sends no lane selection, and a described lane's gene fetch keys on its adapter
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneStack.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
Due: prettier --write, eslint --fix

E. coli orthologs page opens its sessions tall enough for every lane
  website/docs/tutorials/ecoli_orthologs_synteny.md
  website/scripts/figure-actions.txt
Due: prettier --write

HPRC multi-way demo opens at CFH, and the tutorial links it
  demos/hprc_multiway/README.txt
  demos/hprc_multiway/config.json
  products/jbrowse-web/browser-tests/multiway-hprc-probe.ts
  scripts/build_hprc_multiway_synteny.sh
  website/docs/tutorials/pangenome_hprc_haplotypes.md
Due: prettier --write, eslint --fix

The hosted-demo drift check covers every file under demos/
  agent-docs/ideas/collections/multiway-synteny-lgv-track.md
  agent-docs/ideas/collections/reference-trim-leftovers.md
  website/scripts/check-live-configs.ts
Due: prettier --write, eslint --fix

Regenerate the adapter and multi-way model docs
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/MultiGenomeIndexedPAFAdapter.md
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write

One cellHueOf decides the variant hue's read and paint; colours, lane and rows recompute apart
  agent-docs/architecture-decision-records/adr-203-the-variant-cells-hue-resolves-on-the-main-thread.md
  plugins/variants/src/CLAUDE.md
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/computeVariantCells.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/computeVariantCells.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/matrix/computeVariantMatrixCells.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/matrix/computeVariantMatrixCells.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/model.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/recolour.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/recolourFetchKey.test.ts
  plugins/variants/src/VariantRPC/executeVariantCellData.ts
  plugins/variants/src/VariantRPC/types.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/cellFill.test.ts
  plugins/variants/src/shared/cellHue.test.ts
  plugins/variants/src/shared/cellHue.ts
  plugins/variants/src/shared/drawAlleleCount.ts
  plugins/variants/src/shared/paintCells.test.ts
  plugins/variants/src/shared/paintCells.ts
Due: prettier --write, eslint --fix

The variant cells' hue resolves on the main thread (ADR-203)
  agent-docs/architecture-decision-records/adr-202-every-mark-colour-resolves-on-the-main-thread.md
  agent-docs/architecture-decision-records/adr-203-the-variant-cells-hue-resolves-on-the-main-thread.md
  agent-docs/handoffs/grammar-unity.md
  plugins/variants/src/CLAUDE.md
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/computeVariantCells.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/computeVariantCells.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/insertionLegend.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/laneLabelCollision.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/laneRenderData.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/matrix/columnGeometry.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/matrix/computeVariantMatrixCells.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/matrix/computeVariantMatrixCells.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/matrix/hoverInk.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/matrix/matrixGenotypeWalk.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/matrix/zoomRefetch.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/model.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/recolourFetchKey.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/rowPlacement.test.ts
  plugins/variants/src/VariantRPC/executeVariantCellData.ts
  plugins/variants/src/VariantRPC/types.ts
  plugins/variants/src/shared/ConnectorLines.test.tsx
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/cellFill.test.ts
  plugins/variants/src/shared/cellFill.ts
  plugins/variants/src/shared/cellHue.test.ts
  plugins/variants/src/shared/cellHue.ts
  plugins/variants/src/shared/drawAlleleCount.ts
  plugins/variants/src/shared/paintCells.test.ts
  plugins/variants/src/shared/paintCells.ts
  plugins/variants/src/shared/regionHasData.test.ts
  plugins/variants/src/shared/renderingModeGate.test.ts
  plugins/variants/src/shared/rowDerivation.test.ts
  plugins/variants/src/shared/shadeByDosageMenuItem.test.ts
  plugins/variants/src/shared/variantCellStyles.ts
  plugins/variants/src/shared/variantLegend.test.ts
  plugins/variants/src/shared/variantLegend.ts
Due: prettier --write, eslint --fix

Regenerate the model docs and the ADR and handoff indexes
  agent-docs/architecture-decision-records/README.md
  agent-docs/handoffs/README.md
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
Due: prettier --write

Core takes @jbrowse/quick-lru v8
  packages/core/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Share one abortable cachedSetup run; a superseding call rejoins within a grace window
  agent-docs/reference/NETWORK_ABORT.md
  agent-docs/reference/PROGRESS_REPORTING.md
  packages/core/src/util/cachedSetup.test.ts
  packages/core/src/util/cachedSetup.ts
  packages/core/src/util/createAbortRotation.test.ts
  packages/core/src/util/createAbortRotation.ts
  packages/synteny-core/src/detectSwappedAssemblies.ts
  plugins/alignments/src/SamAdapter/SamAdapter.ts
Due: prettier --write, eslint --fix

Keep undo and redo correct inside the debounce window, silence aborted feature-detail fetches, track one pan pointer
  packages/core/src/util/TimeTraveller.test.ts
  packages/core/src/util/TimeTraveller.ts
  packages/core/src/util/springAnimate.test.ts
  packages/core/src/util/springAnimate.ts
  packages/core/src/util/usePanZoom.test.tsx
  packages/core/src/util/usePanZoom.ts
  packages/core/src/util/useRafCommit.test.tsx
  packages/core/src/util/useRafCommit.ts
  packages/core/src/util/withFeatureDetails.test.ts
  packages/core/src/util/withFeatureDetails.ts
Due: prettier --write, eslint --fix

Redact URL userinfo from stalled-load sources, fall back to execCommand when the clipboard rejects, forward abort signals from the start-screen fetches
  packages/core/src/util/copyToClipboard.test.ts
  packages/core/src/util/copyToClipboard.ts
  packages/core/src/util/getLocationUri.test.ts
  packages/core/src/util/getLocationUri.ts
  products/jbrowse-desktop/src/components/StartScreen/availableGenomes/useFetchSignal.test.tsx
  products/jbrowse-desktop/src/components/StartScreen/availableGenomes/useGenomesData.ts
  products/jbrowse-desktop/src/components/StartScreen/availableGenomes/useGlobalSearch.ts
Due: prettier --write, eslint --fix

Fix rounding at unit boundaries, prototype-named refNames and zero-length locStrings
  packages/core/src/util/formatBytes.test.ts
  packages/core/src/util/formatBytes.ts
  packages/core/src/util/formatRelativeTime.test.ts
  packages/core/src/util/formatRelativeTime.ts
  packages/core/src/util/intervals.test.ts
  packages/core/src/util/intervals.ts
  packages/core/src/util/locString.test.ts
  packages/core/src/util/locString.ts
Due: prettier --write, eslint --fix

Reference sequence display draws from a mark list
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/Canvas2DSequenceRenderer.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/SequenceDisplayComponent.tsx
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/drawSequence.test.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/drawSequence.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/drawSequenceLetters.test.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/drawSequenceLetters.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/sequenceCells.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/sequenceGeometry.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/sequenceMarks.test.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/sequenceMarks.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/shaders/sequenceCell.consts.generated.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/shaders/sequenceCell.generated.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/shaders/sequenceCell.glsl.generated.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/shaders/sequenceCell.iface.generated.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/shaders/sequenceCell.slang
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/shaders/sequenceCell.wgsl.generated.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/model.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/renderSvg.tsx
Due: prettier --write, eslint --fix

Plotting guide: give the letters include its code fence
  website/docs/developer_guides/plotting_features.md
Due: prettier --write

Docs: the reference sequence display is on the mark layer
  agent-docs/reference/GPU_BACKENDS.md
  packages/render-core/src/createRenderingBackend.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/SequenceDisplayComponent.tsx
  products/jbrowse-web/browser-tests/suites/svg-export.ts
  website/docs/developer_guides/creating_display.md
  website/docs/developer_guides/plotting_features.md
  website/docs/developer_guides/svg_export.md
Due: prettier --write, eslint --fix

Sequence cells: hold the three backends to one picture
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/SequenceDisplayComponent.tsx
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/sequenceMarks.test.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/sequenceMarks.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/shaders/sequenceCell.glsl.generated.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/shaders/sequenceCell.slang
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/shaders/sequenceCell.wgsl.generated.ts
Due: prettier --write, eslint --fix

Regenerate docs after the sequence display's mark port
  agent-docs/reference/SHADER_JS_CODEGEN.md
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
  website/docs/developer_guides/plotting_features.md
  website/docs/developer_guides/svg_export.md
  website/docs/models/LinearReferenceSequenceDisplay.md
Due: prettier --write

Translation rows letter in whichever of black or white reads better, so the mid-grey frame row is black
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/sequenceGeometry.test.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/sequenceGeometry.ts
Due: prettier --write, eslint --fix

Plugins take @gmod/bam 10.0.2 and @gmod/tabix 3.9.1
  plugins/alignments/package.json
  plugins/bed/package.json
  plugins/comparative-adapters/package.json
  plugins/gff3/package.json
  plugins/gtf/package.json
  plugins/variants/package.json
  pnpm-lock.yaml
Due: none

Registry bundle sizes after the quick-lru v8 bump
  scripts/registryBundleSizes.json
Due: none

cachedSetup: fan byte progress out to every live waiter
  packages/core/src/util/cachedSetup.test.ts
  packages/core/src/util/cachedSetup.ts
Due: prettier --write, eslint --fix

Forward the shared setup signal into the reads it starts
  packages/core/src/util/tabix.ts
  plugins/alignments/src/BamAdapter/BamAdapter.test.ts
  plugins/alignments/src/BamAdapter/BamAdapter.ts
  plugins/alignments/src/CramAdapter/CramAdapter.test.ts
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/shared/BaseSamAdapter.ts
  plugins/bed/src/BedGraphTabixAdapter/BedGraphTabixAdapter.test.ts
  plugins/bed/src/BedGraphTabixAdapter/BedGraphTabixAdapter.ts
  plugins/bed/src/BedTabixAdapter/BedTabixAdapter.test.ts
  plugins/bed/src/BedTabixAdapter/BedTabixAdapter.ts
  plugins/gff3/src/Gff3TabixAdapter/Gff3TabixAdapter.test.ts
  plugins/gff3/src/Gff3TabixAdapter/Gff3TabixAdapter.ts
  plugins/gtf/src/GtfTabixAdapter/GtfTabixAdapter.test.ts
  plugins/gtf/src/GtfTabixAdapter/GtfTabixAdapter.ts
  plugins/maf/src/BgzipMafAdapter/BgzipMafAdapter.ts
  plugins/maf/src/BgzipTaffyAdapter/BgzipTaffyAdapter.ts
  plugins/maf/src/util/MafAdapterBase.ts
  plugins/maf/src/util/abandonedSetup.test.ts
  plugins/maf/src/util/getSamples.ts
  plugins/maf/src/util/taiSlice.ts
  plugins/variants/src/VcfTabixAdapter/VcfTabixAdapter.test.ts
  plugins/variants/src/VcfTabixAdapter/VcfTabixAdapter.ts
Due: prettier --write, eslint --fix

Regenerate the TimeTraveller docs and the bundle-size baselines
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/chromeBundleSizes.json
  scripts/registryBundleSizes.json
  website/docs/models/TimeTraveller.md
Due: prettier --write

The protein3d test config names its store entry, and the plugins guide stops saying only UMD loads in a worker
  test_data/protein3d_config.json
  website/docs/config_guides/plugins.md
  website/scripts/specs/features.ts
Due: prettier --write, eslint --fix

Hic and CRAM adapters forward the cancellation signal into the header and contact reads
  plugins/alignments/package.json
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/hic/package.json
  plugins/hic/src/HicAdapter/HicAdapter.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

NETWORK_ABORT: the parsers and the range cache reference-count their shared reads
  agent-docs/reference/NETWORK_ABORT.md
Due: prettier --write

A file handle's chunk cache key carries the File's lastModified and size
  packages/core/src/util/io/index.ts
  packages/core/src/util/io/openLocationFileHandle.test.ts
Due: prettier --write, eslint --fix

Bump generic-filehandle2 to 2.5.0
  package.json
  packages/core/package.json
  plugins/alignments/package.json
  plugins/authentication/package.json
  plugins/comparative-adapters/package.json
  plugins/legacy-jbrowse/package.json
  pnpm-lock.yaml
  products/jbrowse-web/package.json
Due: none

Row labels draw as one continuous strip with a separator between rows
  packages/tree-sidebar/src/SvgRowLabels.test.tsx
  packages/tree-sidebar/src/SvgRowLabels.tsx
Due: prettier --write, eslint --fix

Row label strip fills at 6% and separates at 12%, lighter than the first spike
  packages/tree-sidebar/src/SvgRowLabels.tsx
Due: prettier --write, eslint --fix

Row label strip fills at 9% and separates at 16%
  packages/tree-sidebar/src/SvgRowLabels.tsx
Due: prettier --write, eslint --fix

Row label strip is light grey at 50%, with a darker grey separator
  packages/tree-sidebar/src/SvgRowLabels.tsx
Due: prettier --write, eslint --fix

Row label strip washes the data to light grey instead of darkening it
  packages/tree-sidebar/src/SvgRowLabels.test.tsx
  packages/tree-sidebar/src/SvgRowLabels.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
