Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Drop a stray closing tag left over from drafting
  website/docs/tutorials/multiway_synteny_grape_peach_cacao.md
Due: prettier --write

Cut prose in the grape/peach/cacao ortholog-table tutorial
  website/docs/tutorials/multiway_synteny_grape_peach_cacao.md
Due: prettier --write

Grape/peach/cacao keeps its RBH and .anchors routes and two gotchas
  website/docs/tutorials/multiway_synteny_grape_peach_cacao.md
Due: prettier --write

Cut the C-GIAB SV tutorial's prose a second time
  website/docs/tutorials/sv_visualization_cgiab.md
Due: prettier --write

Cut pangenome_ecoli.md prose by 30% (6661 -> 4657 words)
  website/docs/tutorials/pangenome_ecoli.md
Due: prettier --write

wip: cross-repo path prefixes in hprc-graph-overview-and-live-stack
  agent-docs/handoffs/hprc-graph-overview-and-live-stack.md
Due: prettier --write

Fix the three failing docs checks
  agent-docs/handoffs/README.md
  agent-docs/handoffs/hprc-graph-overview-and-live-stack.md
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_cattle.md
  website/docs/tutorials/pangenome_mouse.md
  website/docs/tutorials/syri_synteny.md
  website/docs/user_guides/graph_genome_view.md
  website/scripts/check-doc-imports.ts
  website/scripts/check-doc-removed-symbols.ts
Due: prettier --write, eslint --fix

Reshoot the graph figures on plugin 4.0.7
  figures.lock
  website/scripts/specs/graph-chrm.ts
  website/scripts/specs/graph-ecoli.ts
  website/scripts/specs/graph-hprc.ts
  website/scripts/specs/graph-mouse-cattle.ts
  website/scripts/specs/graph-reading.ts
Due: prettier --write, eslint --fix

Handoff: 4.0.7 released, the VNTR track, the portal upload and the reshoot, with the release hazard and the stuck KIV-2 cut left
  agent-docs/handoffs/README.md
  agent-docs/handoffs/hprc-graph-overview-and-live-stack.md
Due: prettier --write

chore: pre-push autofix
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Handoff: 4.0.8 is on npm and held out of the store
  agent-docs/handoffs/README.md
  agent-docs/handoffs/hprc-graph-overview-and-live-stack.md
Due: prettier --write

A too-large display whose coarse tier stands in has not finished until the tier draws
  packages/display-kit/src/foundationPaintInert.ts
  plugins/marks/src/LinearMarkDisplay/densityTier.test.ts
Due: prettier --write, eslint --fix

A feature track off screen snaps its rows instead of morphing them
  plugins/canvas/src/LinearBasicDisplay/yMorphAutorun.test.ts
  plugins/canvas/src/LinearBasicDisplay/yMorphViews.ts
Due: prettier --write, eslint --fix

The off-screen test pans after an off-screen draw, and the lifecycle docs state the new rule
  packages/render-core/src/RenderLifecycleMixin.ts
  packages/render-core/src/offscreenTargetRelease.test.ts
  plugins/circular-view/src/rings/ringHost.ts
Due: prettier --write, eslint --fix

pnpm autogen
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
  website/docs/models/RenderLifecycleMixin.md
Due: prettier --write

The ring smoke check drops its reload and settles on three equal reads
  agent-docs/reference/FIGURE_CAPTURE.md
  packages/browser-test-utils/src/examplesChecks.ts
Due: prettier --write, eslint --fix

Multi-way labels survive a bad text expression and re-place without re-reading on pan
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLabels.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLabels.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/renderSvg.tsx
Due: prettier --write, eslint --fix

Multi-way alignment ops ride beside the features, not in them
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
  plugins/comparative-adapters/src/clipFeatureToRegion.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/MultiWayGetFeatures.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/MultiWayGetFeatures.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/alignmentOps.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/composeAlignmentOps.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/composeAlignmentOps.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/composeLaneLinks.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/composeLaneLinks.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/hoverRelayout.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneFetch.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/reanchor.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/testEnv.ts
  plugins/linear-comparative-view/src/index.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write, eslint --fix

HPRC tutorials take topic names, and each lesson lives on one page
  agent-docs/ideas/collections/tutorial-corpus-audit.md
  agent-docs/ideas/waiting-on-someone-else/pangenome-figures-unshot.md
  figures.lock
  website/astro.config.mjs
  website/docs/config_guides/grouping_and_ordering.md
  website/docs/tutorials/CLAUDE.md
  website/docs/tutorials/hg38_vertebrates_synteny.md
  website/docs/tutorials/odp_linkage_groups_synteny.md
  website/docs/tutorials/pangenome_cattle.md
  website/docs/tutorials/pangenome_chrm.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/tutorials/pangenome_hprc_carriers.md
  website/docs/tutorials/pangenome_hprc_haplotypes.md
  website/docs/tutorials/pangenome_hprc_repeats.md
  website/docs/tutorials/pangenome_mouse.md
  website/docs/tutorials/pangenome_prepare_graph.md
  website/docs/user_guide.md
  website/docs/user_guides/graph_genome_view.md
  website/media.lock
  website/scripts/check-menu-labels.ts
  website/scripts/gen-tutorial-thumbs.ts
  website/scripts/specs/genomes_pangenome.ts
  website/scripts/specs/graph-hprc.ts
  website/scripts/specs/graph-reading.ts
  website/scripts/specs/synteny.ts
  website/scripts/videos/CLAUDE.md
  website/scripts/videos/pangenome.ts
  website/src/lib/guide-categories.ts
Due: prettier --write, eslint --fix

HPRC pages: trope pass, format, and the regenerated figure manifest
  website/docs/tutorials/pangenome_hprc.md
  website/docs/tutorials/pangenome_hprc_carriers.md
  website/docs/tutorials/pangenome_hprc_repeats.md
  website/scripts/figure-manifest.json
Due: prettier --write

Handoff: scales.y and colour keys, what the 2026-09-26 round left open
  agent-docs/handoffs/README.md
  agent-docs/handoffs/scales-and-colour-keys.md
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Update lock
  figures.lock
  website/media.lock
Due: none

Manhattan's top hit reads no LD mark behind an aggregate or coverage step
  plugins/gwas/src/LinearManhattanDisplay/ldAutoIndex.test.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
Due: prettier --write, eslint --fix

Bar, point and link stack their row bands through one exported rowBandTopPx
  packages/render-core/src/marks/barMark.ts
  packages/render-core/src/marks/pointMark.ts
  packages/render-core/src/shaders/barMark.glsl.generated.ts
  packages/render-core/src/shaders/barMark.slang
  packages/render-core/src/shaders/barMark.wgsl.generated.ts
  packages/render-core/src/shaders/linkMark.glsl.generated.ts
  packages/render-core/src/shaders/linkMark.js.generated.ts
  packages/render-core/src/shaders/linkMark.slang
  packages/render-core/src/shaders/linkMark.wgsl.generated.ts
  packages/render-core/src/shaders/pointMark.glsl.generated.ts
  packages/render-core/src/shaders/pointMark.slang
  packages/render-core/src/shaders/pointMark.wgsl.generated.ts
  packages/render-core/src/shaders/rowTable.js.generated.ts
  packages/render-core/src/shaders/rowTable.slang
  packages/render-core/src/shaders/spanMark.glsl.generated.ts
Due: prettier --write, eslint --fix

Under rows the density sidecar draws one band inside the plot
  plugins/marks/src/LinearMarkDisplay/components/MarkRows.tsx
  plugins/marks/src/LinearMarkDisplay/components/markDisplayTypes.ts
  plugins/marks/src/LinearMarkDisplay/densityTier.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  plugins/marks/src/LinearMarkDisplay/renderSvg.tsx
Due: prettier --write, eslint --fix

keyRegion hides a lane-less layer in a split region rather than drawing it on key 0
  plugins/marks/src/LinearMarkDisplay/rowTable.ts
Due: prettier --write, eslint --fix

The cross-backend gate holds bar, point and link to the row table one mark at a time
  products/jbrowse-web/browser-tests/suites/mark-display.ts
  test_data/volvox/config_marks.json
Due: prettier --write, eslint --fix

Test: a region no fetch produced is staged with no request
  plugins/gwas/src/LinearManhattanDisplay/featureDetails.test.ts
Due: prettier --write, eslint --fix

Color by LD recolours the plot's points in place, and every LD reading needs a point on its SNP
  agent-docs/architecture-decision-records/adr-178-manhattan-is-the-mark-display-with-a-default-plot.md
  plugins/gwas/src/LinearManhattanDisplay/configSchemaFactory.ts
  plugins/gwas/src/LinearManhattanDisplay/ldAutoIndex.test.ts
  plugins/gwas/src/LinearManhattanDisplay/ldPlot.test.ts
  plugins/gwas/src/LinearManhattanDisplay/ldPlot.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
  plugins/marks/src/LinearMarkDisplay/markProblems.ts
  plugins/marks/src/index.ts
  website/docs/config_guides/gwas_track.md
Due: prettier --write, eslint --fix

The row table's uniform and binding are written once for bar, point, link and span
  packages/render-core/src/marks/barMark.ts
  packages/render-core/src/marks/linkMark.ts
  packages/render-core/src/marks/pointMark.ts
  packages/render-core/src/marks/rowLane.ts
  packages/render-core/src/marks/spanMark.ts
Due: prettier --write, eslint --fix

rowRemap drops the rows branch facetRegion can no longer reach
  plugins/marks/src/LinearMarkDisplay/facet.ts
Due: prettier --write, eslint --fix

The LD and row table follow-ups' handoff keeps the CI snapshot and what the round declined; ADR-165 records the per-mark gate; pnpm autogen
  agent-docs/architecture-decision-records/adr-165-the-row-axis-rides-a-table-the-vertex-stage-samples.md
  agent-docs/handoffs/README.md
  agent-docs/handoffs/ld-index-and-row-table-follow-ups.md
  products/jbrowse-cli/src/commands/validate/markRules/markProblems.ts
  website/docs/config/LinearManhattanDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMarkDisplay.md
Due: prettier --write, eslint --fix

Regenerate the shader lift inventory after the row table follow-ups
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
Due: prettier --write

The mark display's y domain folds every instance in the window, in any order
  packages/wiggle-core/src/autoscale.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
Due: prettier --write, eslint --fix

pnpm autogen
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
Due: none

Hi-C's percentile shares the nearest rank, and its toggle refetches nothing
  agent-docs/architecture-decision-records/adr-179-an-open-scale-end-follows-one-quantile.md
  packages/core/src/util/quantileExtent.ts
  plugins/hic/src/LinearHicDisplay/colorDomain.test.ts
  plugins/hic/src/LinearHicDisplay/model.ts
  plugins/hic/src/LinearHicDisplay/trackMenuItems.test.ts
  plugins/hic/src/LinearHicDisplay/trackMenuItems.ts
  plugins/hic/src/RenderHicDataRPC/countStats.test.ts
  plugins/hic/src/RenderHicDataRPC/countStats.ts
Due: prettier --write, eslint --fix

A density wiggle's key takes scales.y.title, since it stands in for the axis
  plugins/wiggle/src/LinearWiggleDisplay/densityMode.test.ts
  plugins/wiggle/src/shared/scoreRampScale.test.ts
  plugins/wiggle/src/shared/scoreRampScale.ts
  plugins/wiggle/src/shared/wiggleDisplayViews.ts
Due: prettier --write, eslint --fix

The Score menu reads the scale's own drawn domain, and offers all three types
  packages/wiggle-core/src/ScoreScaleMixin.ts
  packages/wiggle-core/src/scoreMenuItems.test.ts
  packages/wiggle-core/src/scoreMenuItems.ts
  packages/wiggle-core/src/valueScaleConfigSchema.ts
  plugins/alignments/src/LinearAlignmentsDisplay/densityTier.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/coverage.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/coverage.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  plugins/wiggle/src/shared/wiggleMenuItems.tsx
Due: prettier --write, eslint --fix

jb2export's README teaches domainQuantile, not the removed autoscale:localsd
  products/jbrowse-img/README.md
  products/jbrowse-img/src/applyTrackOpts.ts
  website/docs/jbrowse-img.md
Due: prettier --write, eslint --fix

The coverage domain reads the stats it is handed, and ScoreSpan drops avg
  packages/alignments-core/src/coverageDownsampling.test.ts
  packages/alignments-core/src/coverageDownsampling.ts
  packages/wiggle-core/src/autoscale.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
