Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

test(browser-tests): say what a display was doing when its -done wait expired
  products/jbrowse-web/browser-tests/displayState.ts
  products/jbrowse-web/browser-tests/helpers.ts
  products/jbrowse-web/browser-tests/snapshot.ts
Due: prettier --write, eslint --fix

feat(multirow): let a track hide its row labels
  packages/tree-sidebar/src/RowLabelsOverlay.test.tsx
  packages/tree-sidebar/src/RowLabelsOverlay.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/components/LinearMultiRowFeatureDisplayComponent.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/configSchema.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/renderSvg.test.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/renderSvg.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/trackMenuItems.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/trackMenuItems.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  website/docs/config/LinearMultiRowFeatureDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/src/lib/galleryLinks.generated.ts
  website/static/img/tutorial-thumbs/local_ancestry.webp
Due: prettier --write, eslint --fix

refactor(variants): classify a cell from its allele, never from the color it produced
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/computeVariantCells.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/computeVariantCells.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/computeVariantMatrixCells.ts
  plugins/variants/src/shared/variantCellStyles.ts
Due: prettier --write, eslint --fix

chore(website): carry the review server's latest verdicts
  website/scripts/screenshot-review.json
Due: none

fix(scripts): read sv_multihop's INFO keys and shared breakpoints as written
  agent-docs/guides/SV_MULTIHOP.md
  scripts/check-build-scripts.py
  scripts/sv_multihop.py
Due: prettier --write

docs(website): put the tutorial rules where a tutorial author will meet them
  website/CLAUDE.md
  website/docs/tutorials/CLAUDE.md
Due: prettier --write

fix(deps): dedupe the MST fork onto one copy, so stripDefault strips again
  packages/core/package.json
  pnpm-lock.yaml
Due: none

Revert the blank retry and the timeout attribution — both made failures opaque
  products/jbrowse-web/browser-tests/displayState.ts
  products/jbrowse-web/browser-tests/helpers.ts
  products/jbrowse-web/browser-tests/runner.ts
  products/jbrowse-web/browser-tests/snapshot.ts
Due: prettier --write, eslint --fix

docs(browser-tests): record why the retry and attribution were reverted
  agent-docs/handoffs/cross-backend-gate-ci.md
Due: prettier --write

fix(alignments): stop the group-by UI offering controls that do nothing
  plugins/alignments/src/LinearAlignmentsDisplay/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/components/GroupLabelsOverlay.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/GroupLabelsOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupComponent.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/useAlignmentsBase.ts
  plugins/alignments/src/LinearAlignmentsDisplay/coverageAxisExport.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/dialogs/GroupByDialog.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/dialogs/GroupByDialog.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/groupTruncation.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/getGroupByMenuItem.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/groupByMenu.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderSvg.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/sectionLayout.ts
  products/jbrowse-web/browser-tests/suites/multi-region-sort.ts
Due: prettier --write, eslint --fix

docs(alignments): regenerate the display model tables for the group-by change
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write

feat(maf): let a track keep its tree and drop its row labels
  plugins/maf/src/LinearMafDisplay/components/LinearMafDisplayComponent.tsx
  plugins/maf/src/LinearMafDisplay/configSchema.ts
  plugins/maf/src/LinearMafDisplay/displayDefaults.ts
  plugins/maf/src/LinearMafDisplay/renderSvg.tsx
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/maf/src/LinearMafDisplay/trackMenuItems.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  website/docs/config/LinearMafDisplay.md
  website/docs/models/LinearMafDisplay.md
Due: prettier --write, eslint --fix

docs(local-ancestry): show the Anglo-French hounds on a second chromosome
  scripts/build_dog10k_wolfdog_ancestry.sh
  test_data/dog10k/config.json
  test_data/dog10k/dog10k_anglofrench.chr38.bed.gz
  test_data/dog10k/dog10k_anglofrench.chr38.bed.gz.tbi
  website/docs/tutorials/local_ancestry.md
  website/scripts/figure-manifest.json
  website/scripts/specs/dog10k.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/dog10k-anglofrench-hounds-chr38.png
  website/static/img/dog10k-anglofrench-hounds-start.png
  website/static/img/dog10k-anglofrench-hounds-unlabelled.png
  website/static/img/dog10k-anglofrench-hounds.png
Due: prettier --write, eslint --fix

docs(website): work four denied figures from the screenshot review
  website/docs/tutorials/bisulfite.md
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/figure-manifest.json
  website/scripts/long-captions.txt
  website/scripts/screenshot-review.json
  website/scripts/specs/graph.ts
  website/scripts/specs/methylation.ts
  website/scripts/specs/pangenome.ts
  website/scripts/specs/tcga.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/methylation/arabidopsis_wgbs_two_color.png
  website/static/img/pangenome/local_subgraph.png
  website/static/img/pangenome/local_subgraph_anchored.png
  website/static/img/pangenome/local_subgraph_force.png
  website/static/img/pangenome/maf.png
  website/static/img/tcga/mutations_cdh1_histology.png
  website/static/img/tutorial-thumbs/tcga_cohort_mutations.webp
Due: prettier --write, eslint --fix

fix(scripts): give sv_multihop's reciprocal dedup a tolerance
  agent-docs/guides/SV_MULTIHOP.md
  scripts/check-build-scripts.py
  scripts/sv_multihop.py
Due: prettier --write

feat(alignments): place a read on a derivative path by transforming its coordinates
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/features/arcs/compute.ts
  plugins/alignments/src/features/derivativePaths/computePaths.ts
  plugins/alignments/src/features/derivativePaths/projectReads.test.ts
  plugins/alignments/src/features/derivativePaths/projectReads.ts
  plugins/alignments/src/features/derivativePaths/realReads.colo829.test.ts
  plugins/alignments/src/index.ts
Due: prettier --write, eslint --fix

feat(comparative): draw the reads on the reconstructed allele they support
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/LinearDerivativeVsRef.tsx
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/buildDerivativeVsRefSpec.test.ts
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/buildDerivativeVsRefSpec.ts
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/index.ts
Due: prettier --write, eslint --fix

refactor(dotplot): tighten the display's fetch model, and name the view concretely
  CLAUDE.md
  agent-docs/ARCHITECTURE.md
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-042-no-shared-assembly-swap-autorun-installer.md
  agent-docs/architecture-decision-records/adr-055-mst-model-types-are-interfaces.md
  packages/synteny-core/src/SyntenyFetchStateMixin.ts
  packages/synteny-core/src/detectSwappedAssemblies.ts
  packages/synteny-core/src/index.ts
  plugins/dotplot-view/src/DotplotDisplay/AGENTS.md
  plugins/dotplot-view/src/DotplotDisplay/afterAttach.ts
  plugins/dotplot-view/src/DotplotDisplay/stateModelFactory.tsx
  plugins/dotplot-view/src/DotplotView/1dview.test.ts
  plugins/dotplot-view/src/DotplotView/1dview.ts
  plugins/dotplot-view/src/DotplotView/components/WarningDialog.tsx
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/afterAttach.ts
  website/docs/models/Dotplot1DView.md
  website/docs/models/DotplotDisplay.md
Due: prettier --write, eslint --fix

docs(cgiab): give the chr5 copy-number figure a BAF lane and a readable axis
  website/docs/tutorials/sv_visualization_cgiab.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-review.json
  website/scripts/specs/sv.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/sv_cgiab/cnv_with_bed_track.png
Due: prettier --write, eslint --fix

docs: regenerate the alignments API and model tables for derivativeReadChains
  website/docs/api/alignments.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write

docs(agent): collapse guides/ into reference/
  agent-docs/CLAUDE.md
  agent-docs/OTHER_IDEAS.md
  agent-docs/TODO.md
  agent-docs/architecture-decision-records/adr-024-per-backend-snapshots-real-gpu.md
  agent-docs/architecture-decision-records/adr-038-desktop-plugin-trust-at-fetchconfig-funnel.md
  agent-docs/architecture-decision-records/adr-043-rpc-workers-carry-ui-code.md
  agent-docs/handoffs/cross-backend-gate-ci.md
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  agent-docs/reference/DESKTOP_CONTEXT_ISOLATION.md
  agent-docs/reference/DESKTOP_SCREENSHOTS.md
  agent-docs/reference/GPU_RENDERING.md
  agent-docs/reference/HISTORICAL.md
  agent-docs/reference/MAF_CROSS_VIEW_NAVIGATION.md
  agent-docs/reference/MAF_LARGE_BLOCKS.md
  agent-docs/reference/PERF_INSTRUMENTATION.md
  agent-docs/reference/REGION_TOO_LARGE.md
  agent-docs/reference/REGION_VIEW_LAUNCH.md
  agent-docs/reference/SCREENSHOT_CAPTURE_RACE.md
  agent-docs/reference/SHADER_JS_CODEGEN.md
  agent-docs/reference/SV_MULTIHOP.md
  agent-docs/reference/TEST_INFRASTRUCTURE.md
  agent-docs/reference/TOOLCHAIN.md
  plugins/canvas/src/LinearMultiRowFeatureDisplay/components/LinearMultiRowFeatureDisplayComponent.tsx
  plugins/maf/src/types.ts
  products/jbrowse-desktop/test/screenshots.ts
  products/jbrowse-web/browser-tests/runner.ts
  website/docs/developer_guides/testing_plugins.md
  website/docs/tutorials/CLAUDE.md
Due: prettier --write, eslint --fix

docs(agent): record the reads-on-the-allele half of the reconstruction
  agent-docs/reference/SV_MULTIHOP.md
Due: prettier --write

docs(local-ancestry): give the clustered figure's dendrogram room to be read
  website/docs/tutorials/local_ancestry.md
  website/scripts/figure-manifest.json
  website/scripts/specs/dog10k.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

docs(sv-multihop): keep the breakend-walk findings, drop the dependency framing
  agent-docs/reference/SV_MULTIHOP.md
Due: prettier --write

chore(website): answer the two cancer_sv reviews the reads feature closed
  website/scripts/screenshot-review.json
Due: none

fix(scripts): stop reading a joined RepeatMasker span as an aligned one
  scripts/build_repeat_density.sh
Due: none

ci: bring the cross-backend render gate back as a blocking job
  .github/workflows/push.yml
  agent-docs/handoffs/cross-backend-gate-ci.md
  agent-docs/reference/SCREENSHOT_CAPTURE_RACE.md
  agent-docs/reference/TEST_INFRASTRUCTURE.md
  products/jbrowse-web/browser-tests/README.md
  products/jbrowse-web/browser-tests/crossBackendGate.ts
  products/jbrowse-web/browser-tests/helpers.ts
  products/jbrowse-web/browser-tests/runner.ts
  products/jbrowse-web/browser-tests/snapshot.ts
  products/jbrowse-web/package.json
Due: prettier --write, eslint --fix

docs(local-ancestry): let the wolfdog painting be the figure
  website/docs/tutorials/local_ancestry.md
  website/scripts/figure-manifest.json
  website/scripts/specs/dog10k.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/dog10k-wolfdog-ancestry.png
  website/static/img/dog10k-wolfdog-block-genotypes-chromosome.png
  website/static/img/dog10k-wolfdog-block-genotypes-window.png
  website/static/img/dog10k-wolfdog-block-genotypes.png
Due: prettier --write, eslint --fix

docs(pangenome): correct the repeat-density figure, which was drawing a bug
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/screenshot-review.json
  website/scripts/specs/graph.ts
  website/static/img/pangenome/hprc_chm13_allele.png
  website/static/img/pangenome/hprc_repeat_classes.png
Due: prettier --write, eslint --fix

test(scripts): run sv_multihop's pipeline against an allele built for it
  .github/workflows/push.yml
  agent-docs/reference/SV_MULTIHOP.md
  scripts/check-build-scripts.py
  scripts/check_sv_multihop_pipeline.py
  scripts/sv_multihop.py
Due: prettier --write

docs(ld): put the r2-vs-D' comparison on the image
  website/scripts/specs/ld.ts
  website/static/img/ld/anopheles_r2_vs_dprime.png
Due: prettier --write, eslint --fix

docs(cancer-sv): draw the realigned reads against what the same molecules do on hg38
  website/docs/tutorials/cancer_sv.md
  website/scripts/figure-manifest.json
  website/scripts/specs/cancer_sv.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/cancer_sv/realigned_reads.png
  website/static/img/cancer_sv/realigned_reads_derivative.png
  website/static/img/cancer_sv/realigned_reads_reference.png
Due: prettier --write, eslint --fix

chore(website): record the reply on the alignmentstrack review
  website/scripts/screenshot-review.json
Due: none

refactor(displays): a display names its component, not the other way round
  agent-docs/reference/DISPLAYCHROME.md
  plugins/gwas/src/LinearManhattanDisplay/components/BaseLinearDisplayComponent.ts
  plugins/gwas/src/LinearManhattanDisplay/components/ManhattanReactComponent.tsx
  plugins/gwas/src/LinearManhattanDisplay/components/manhattanDisplayTypes.ts
  plugins/gwas/src/LinearManhattanDisplay/index.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/components/BaseLinearDisplay.tsx
  plugins/wiggle/src/LinearWiggleDisplay/components/BaseLinearDisplayComponent.ts
  plugins/wiggle/src/LinearWiggleDisplay/components/LinearWiggleDisplayComponent.tsx
  plugins/wiggle/src/LinearWiggleDisplay/components/wiggleDisplayTypes.ts
  plugins/wiggle/src/LinearWiggleDisplay/index.ts
  plugins/wiggle/src/LinearWiggleDisplay/model.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/BaseLinearDisplayComponent.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/MultiLinearWiggleDisplayComponent.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/multiWiggleDisplayTypes.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/index.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
  plugins/wiggle/src/shared/componentContract.ts
  products/jbrowse-web/src/tests/BigWig.test.tsx
  products/jbrowse-web/src/tests/Manhattan.test.tsx
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/SharedGCContentModel.md
Due: prettier --write, eslint --fix

docs(hprc2): stack the MHC structural-allele lane instead of collapsing it
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/specs/hprc2.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/hprc2/mhc_clustered.png
Due: prettier --write, eslint --fix

docs(browser-tests): the pbsim threshold override is not antialiasing noise
  agent-docs/handoffs/cross-backend-gate-ci.md
  products/jbrowse-web/browser-tests/crossBackendGate.ts
Due: prettier --write, eslint --fix

docs(dog10k): give the CEA figure OMIA's own record of the variant
  scripts/build_omia_dog_variants.sh
  scripts/omia_bed_to_gff.py
  scripts/omia_sql_to_bed.py
  test_data/dog10k/config.json
  test_data/dog10k/omia_dog_variants.gff3.gz
  test_data/dog10k/omia_dog_variants.gff3.gz.tbi
  website/docs/tutorials/dog10k_svs.md
  website/scripts/figure-manifest.json
  website/scripts/specs/dog10k.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/dog10k-nhej1-cea-deletion.png
Due: prettier --write, eslint --fix

test(comparative): check a projected read against the ribbon it is drawn beside
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/readsOnRibbonAxis.test.ts
Due: prettier --write, eslint --fix
