Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

The SV inspector filtering test reads the chord ids, not a rebuilt track
  products/jbrowse-web/src/tests/SVInspectorFiltering.test.tsx
Due: prettier --write, eslint --fix

display-kit's public surface pins ConfigProblemsIndicator
  packages/display-kit/src/__snapshots__/publicApi.test.ts.snap
Due: none

displayAutoruns takes morphClockMs off the leaf module, not the util barrel
  packages/core/package.json
  packages/core/src/ReExports/coreModules.generated.ts
  packages/core/src/ReExports/coreWorkerModules.generated.ts
  packages/core/src/ReExports/list.ts
  packages/core/src/ReExports/reExports.generated.json
  packages/display-kit/src/displayAutoruns.ts
  scripts/registryBundleSizes.json
  website/docs/developer_guides/imports_and_reexports.md
Due: prettier --write, eslint --fix

geneColors names the multiway display's own schema
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/configSchema.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/geneColor.ts
Due: prettier --write, eslint --fix

The shaders' symlog keeps the precision float32 loses in `1.0 + x`
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  example-plugins/score-example/src/LinearScoreDisplay/shaders/score.glsl.generated.ts
  example-plugins/score-example/src/LinearScoreDisplay/shaders/score.js.generated.ts
  example-plugins/score-example/src/LinearScoreDisplay/shaders/score.wgsl.generated.ts
  packages/alignments-core/src/coverageBandLayout.generated.ts
  packages/render-core/src/scoreScale.ts
  packages/render-core/src/shaders/barMark.glsl.generated.ts
  packages/render-core/src/shaders/barMark.wgsl.generated.ts
  packages/render-core/src/shaders/coverageBar.glsl.generated.ts
  packages/render-core/src/shaders/coverageBar.wgsl.generated.ts
  packages/render-core/src/shaders/coverageMod.glsl.generated.ts
  packages/render-core/src/shaders/coverageMod.wgsl.generated.ts
  packages/render-core/src/shaders/coverageSnp.glsl.generated.ts
  packages/render-core/src/shaders/coverageSnp.wgsl.generated.ts
  packages/render-core/src/shaders/pointMark.glsl.generated.ts
  packages/render-core/src/shaders/pointMark.js.generated.ts
  packages/render-core/src/shaders/pointMark.wgsl.generated.ts
  packages/render-core/src/shaders/scoreScale.js.generated.ts
  packages/render-core/src/shaders/scoreScale.slang
  plugins/wiggle/src/shared/shaders/wiggle.glsl.generated.ts
  plugins/wiggle/src/shared/shaders/wiggle.wgsl.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleBand.glsl.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleBand.wgsl.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleDensity.glsl.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleDensity.wgsl.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleLine.glsl.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleLine.wgsl.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleLineCenter.glsl.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleLineCenter.wgsl.generated.ts
Due: prettier --write, eslint --fix

The Reactome plugin no longer breaks against this ABI
  packages/core/src/ReExports/publishedPluginBreaks.json
  website/docs/developer_guides/upgrading_v5.md
Due: prettier --write

One vocabulary for track label placement, on screen and in the export
  packages/core/src/ReExports/reExports.generated.json
  packages/display-kit/src/types.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/svgcomponents/util.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/ExportSvgDialog.test.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ExportSvgDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGTrackLabel.test.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGTrackLabel.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/util.ts
  plugins/linear-genome-view/src/LinearGenomeView/types.ts
  plugins/linear-genome-view/src/index.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  products/jbrowse-img/README.md
  products/jbrowse-img/src/options.ts
  scripts/registryBundleSizes.json
  website/docs/jbrowse-img.md
  website/docs/models/LinearGenomeView.md
Due: prettier --write, eslint --fix

A UCSC page that names the turnstile script is not a challenge
  plugins/blat/src/blatQuery.ts
  plugins/blat/src/ispcrQuery.test.ts
  products/aws/blat-proxy/src/routes.ts
  products/aws/blat-proxy/test/routes.test.ts
Due: prettier --write, eslint --fix

The feature colour takes a threshold scale
  packages/core/README.md
  packages/core/src/ReExports/reExports.generated.json
  packages/core/src/util/categoricalField.ts
  packages/core/src/util/legendCandidates.test.ts
  packages/core/src/util/legendCandidates.ts
  packages/core/src/util/thresholdScale.test.ts
  packages/core/src/util/thresholdScale.ts
  packages/display-kit/src/colorConfigSchema.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/colorLegend.test.ts
  plugins/canvas/src/LinearBasicDisplay/colorViews.ts
  plugins/canvas/src/LinearBasicDisplay/components/FeatureComponent.tsx
  plugins/canvas/src/RenderFeatureDataRPC/collect/colorKey.ts
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/geneColor.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/menus.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/menus.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  website/docs/api/core.md
  website/docs/config/FeatureColor.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/models/MultiWaySyntenyDisplay.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

ADR-156 and the grammar reference: the feature colour takes a threshold
  agent-docs/architecture-decision-records/adr-156-the-feature-colour-takes-a-threshold.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
Due: prettier --write

DTU tutorial: the gene track bins ΔIF through a threshold colour
  demos/dtu/config.json
  scripts/build_dtu_demo.sh
  website/docs/tutorials/dtu.md
  website/docs/user_guides/gene_track.md
  website/scripts/specs/dtu.ts
Due: prettier --write, eslint --fix

ADR index for ADR-156; the DTU demo notes record how dif_called reached the hosted GFF3
  agent-docs/architecture-decision-records/README.md
  agent-docs/reference/DEMO_DATASETS.md
Due: prettier --write

DTU tutorial: why the annotation has to be GENCODE v29
  agent-docs/reference/DEMO_DATASETS.md
  website/docs/tutorials/dtu.md
Due: prettier --write

Threshold colour review fixes: Group by leaves it alone, a VCF missing value is no value, no key while nothing painted
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-156-the-feature-colour-takes-a-threshold.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  packages/core/src/util/legendCandidates.test.ts
  packages/core/src/util/legendCandidates.ts
  packages/core/src/util/thresholdScale.test.ts
  packages/core/src/util/thresholdScale.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/channelSpec.test.ts
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
Due: prettier --write, eslint --fix

Regenerate the MCP type docs over the threshold colour after rebasing onto main
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
Due: none

jbrowse validate checks a feature track's threshold colour; regenerate bundle sizes
  products/jbrowse-cli/src/commands/validate/validateConfig.test.ts
Due: prettier --write, eslint --fix

Regenerate registry bundle sizes after rebasing onto main
  scripts/registryBundleSizes.json
Due: none

A one-colour density ramp runs from white to its colour, and domainMid clamps as core does
  agent-docs/architecture-decision-records/adr-144-one-colour-object-on-the-quantitative-display.md
  plugins/wiggle/src/CLAUDE.md
  plugins/wiggle/src/LinearWiggleDisplay/channelSpecExamples.ts
  plugins/wiggle/src/shared/densityColorParity.test.ts
  plugins/wiggle/src/shared/getDensityColor.ts
  plugins/wiggle/src/shared/shaders/wiggleCommon.js.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleCommon.slang
  plugins/wiggle/src/shared/shaders/wiggleDensity.glsl.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleDensity.wgsl.generated.ts
  plugins/wiggle/src/shared/wiggleColor.test.ts
  plugins/wiggle/src/shared/wiggleColor.ts
  plugins/wiggle/src/shared/wiggleColorConfigSchema.ts
  plugins/wiggle/src/shared/wiggleConfigSchemaFields.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/LinearGCContentDisplay.md
  website/docs/config/LinearGCContentTrackDisplay.md
  website/docs/config/LinearWiggleDisplay.md
  website/docs/config/SharedGCContentDisplay.md
  website/docs/config/WiggleColor.md
  website/docs/config_guides/quantitative_track.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

Move to jexl 5, temporarily linked from a local checkout
  packages/core/package.json
  packages/core/src/util/jexl.ts
  packages/core/src/util/jexlStrings.test.ts
  packages/core/src/util/jexlStrings.ts
  plugins/arc/package.json
  plugins/variants/src/shared/variantFilterExamples.ts
  pnpm-lock.yaml
  products/jbrowse-cli/src/commands/validate/markRules/jexlStrings.ts
Due: prettier --write, eslint --fix

Use published @jbrowse/jexl 5.0.0
  packages/core/package.json
  plugins/arc/package.json
  pnpm-lock.yaml
Due: none

Filter dialog shows each filter line as field, operator and value rows
  packages/core/src/ui/JexlFilterDialog.test.tsx
  packages/core/src/ui/JexlFilterDialog.tsx
  packages/core/src/ui/JexlFilterRowEditors.tsx
  packages/core/src/util/jexlFilterRows.test.ts
  packages/core/src/util/jexlFilterRows.ts
  plugins/variants/src/LinearVariantDisplay/model.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/multiSampleVariantMenuItems.ts
  plugins/variants/src/shared/variantFilterFields.test.ts
  plugins/variants/src/shared/variantFilterFields.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config_guides/jexl.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
Due: prettier --write, eslint --fix

Filter by a value from the variant feature details panel
  packages/core/package.json
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/ArrayValue.tsx
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/Attributes.test.tsx
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/Attributes.tsx
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/FeatureDetails.tsx
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/FieldActionsButton.tsx
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/SimpleField.tsx
  packages/core/src/BaseFeatureWidget/types.tsx
  packages/core/src/ReExports/list.ts
  packages/core/src/ReExports/reExports.generated.json
  packages/core/src/util/jexlFilterActions.test.ts
  packages/core/src/util/jexlFilterActions.ts
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
Due: prettier --write, eslint --fix

Point the gnomAD filter figure and video at the dialog's Text tab
  packages/core/src/ui/JexlFilterDialog.tsx
  packages/core/src/util/jexlFilterRows.ts
  website/docs/tutorials/genomes_basics.md
  website/scripts/specs/genomes_basics.ts
  website/scripts/videos/genomes_basics.ts
Due: prettier --write, eslint --fix

Filter dialog's expression rows use the standard field style
  packages/core/src/ui/JexlFilterRowEditors.tsx
Due: prettier --write, eslint --fix

Use @jbrowse/jexl 5.0.2
  packages/core/package.json
  plugins/arc/package.json
  pnpm-lock.yaml
Due: none

Regenerate registries and bundle sizes after rebasing onto main
  packages/core/src/ReExports/coreModules.generated.ts
  packages/core/src/ReExports/coreWorkerModules.generated.ts
  scripts/registryBundleSizes.json
  website/docs/developer_guides/imports_and_reexports.md
Due: prettier --write, eslint --fix

The two astro checks follow the colour object through the display's own path
  products/jbrowse-build-your-own/examples-site/src/examples/TrackSettings.tsx
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

Reshoot the DTU figure: the gene track keys ΔIF through its threshold colour
  figures.lock
Due: none

Turn off MUI animation theme-wide with motion.reducedMotion
  packages/core/src/ui/theme.ts
Due: prettier --write, eslint --fix

The gwas/manhattan spec comment: the display draws a point per record, it does not bin
  website/scripts/specs/gwas.ts
Due: prettier --write, eslint --fix

chore: pre-push autofix
  scripts/registryBundleSizes.json
Due: none

Detail levels become close-up views, opened from the rubberband's Launch
  packages/browser-test-utils/src/annotationOverlay.ts
  packages/core/src/util/tracks.ts
  plugins/linear-genome-view/src/LinearGenomeView/afterAttach.ts
  plugins/linear-genome-view/src/LinearGenomeView/closeUps.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/closeUps.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/AddCloseUpDialog.test.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/AddCloseUpDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/CloseUps.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeViewContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScalebar.test.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScalebar.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScalebarPolygon.tsx
  plugins/linear-genome-view/src/LinearGenomeView/consts.ts
  plugins/linear-genome-view/src/LinearGenomeView/detailLevels.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/detailLevels.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/lazyDialogs.ts
  plugins/linear-genome-view/src/LinearGenomeView/menuItems.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGCloseUpFrame.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGDetailLevelFrame.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGLinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/util.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/util.ts
  plugins/linear-genome-view/src/index.ts
  website/docs/tutorials/mappability_qc.md
  website/docs/tutorials/population_genomics.md
  website/docs/user_guides/basic_usage.md
  website/scripts/screenshot-review.json
  website/scripts/screenshot-specs.ts
  website/scripts/specs/close_ups.ts
  website/scripts/specs/popgen.ts
  website/scripts/specs/qc.ts
  website/scripts/specs/ui.ts
  website/scripts/videos/ui.ts
Due: prettier --write, eslint --fix

Regenerate docs, schemas and live links for the close-up rename
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  website/docs/models/LinearGenomeView.md
  website/docs/urlparams.md
  website/scripts/spec-recipe-unmapped.txt
  website/src/lib/liveLinks.generated.ts
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

Reshoot the close-up figures and refilm the tour under their new names
  figures.lock
  plugins/linear-genome-view/src/LinearGenomeView/closeUps.ts
  website/media.lock
  website/scripts/figure-manifest.json
  website/scripts/videos/ui.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Regenerate the MCP type docs and bundle sizes after rebasing onto main
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
Due: none

Reshoot the gnomAD filter figure and video on the Conditions tab
  figures.lock
  website/docs/tutorials/genomes_basics.md
  website/media.lock
  website/scripts/figure-actions.txt
  website/scripts/specs/genomes_basics.ts
  website/scripts/videos/genomes_basics.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

perf(variants): maf() and missingness() scan genotypes in place
  plugins/variants/benches/mafJexl.bench.ts
  plugins/variants/src/index.ts
  plugins/variants/src/shared/featureAlleleFrequency.test.ts
  plugins/variants/src/shared/minorAlleleFrequencyUtils.ts
Due: prettier --write, eslint --fix

Keep the filter-by-value helpers out of the RPC worker registry
  packages/core/package.json
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/index.tsx
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/jexlFilterActions.test.ts
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/jexlFilterActions.ts
  packages/core/src/ReExports/coreModules.generated.ts
  packages/core/src/ReExports/coreWorkerModules.generated.ts
  packages/core/src/ReExports/list.ts
  packages/core/src/ReExports/reExports.generated.json
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
  scripts/registryBundleSizes.json
  website/docs/developer_guides/imports_and_reexports.md
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
