Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(alignments): keep split connectors for mate-unmapped reads; unify chaining
  plugins/alignments/src/RenderAlignmentDataRPC/executeRenderAlignmentData.ts
  plugins/alignments/src/RenderAlignmentDataRPC/filterChainFeatures.test.ts
  plugins/alignments/src/features/arcs/compute.ts
  plugins/alignments/src/features/linkedReads/compute.test.ts
  plugins/alignments/src/shared/buildChainMetadata.ts
  plugins/alignments/src/shared/readGroupConnections.ts
Due: prettier --write, eslint --fix

docs(alignments): note why chainSuppTypes' last-primary-wins is harmless
  plugins/alignments/src/shared/buildChainMetadata.ts
Due: prettier --write, eslint --fix

test(alignments): guard arc-path mate-unmapped split junction
  plugins/alignments/src/features/arcs/compute.test.ts
Due: prettier --write, eslint --fix

Format
  packages/core/src/util/svgColorProps.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/sortGroup.test.ts
  plugins/alignments/src/RenderAlignmentDataRPC/executeRenderAlignmentData.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/menus.test.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/model.ts
Due: prettier --write, eslint --fix

fix(website): type-guard dataset access and harden figure-recipe dialog
  website/src/layouts/DocsLayout.astro
Due: none

fix(bezier): clamp the dip to its shaping budget
  packages/core/src/util/bezierConnector.test.ts
  packages/core/src/util/bezierConnector.ts
  plugins/alignments/src/features/linkedReads/computeOverlay.ts
Due: prettier --write, eslint --fix

fix(breakpoint-split-view): don't toast a superseded fetch's error
  plugins/breakpoint-split-view/src/BreakpointSplitView/model.ts
Due: prettier --write, eslint --fix

fix(canvas): remove highlights by what they box, not by re-matching
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/featureHighlight.ts
  plugins/canvas/src/LinearBasicDisplay/featureHighlightPersistence.test.ts
  plugins/canvas/src/LinearBasicDisplay/transcriptHighlightMenu.test.ts
Due: prettier --write, eslint --fix

fix(canvas): scope the highlight dedupe so an isoform click isn't swallowed
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/components/useOverlayElements.tsx
  plugins/canvas/src/LinearBasicDisplay/featureHighlight.ts
  plugins/canvas/src/LinearBasicDisplay/transcriptHighlightMenu.test.ts
Due: prettier --write, eslint --fix

fix(alignments): sashimi arc correctness, memoization, and a default score floor
  plugins/alignments/src/LinearAlignmentsDisplay/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiArcsOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiArcsSvg.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/detailWidgets.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/sashimiArcs.ts
  plugins/alignments/src/LinearAlignmentsDisplay/configSchema.ts
  plugins/alignments/src/LinearAlignmentsDisplay/constants.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/sashimi.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/sashimi.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderSvg.tsx
  plugins/alignments/src/features/sashimi/computeOverlay.test.ts
  plugins/alignments/src/features/sashimi/computeOverlay.ts
  website/docs/config/LGVSyntenyDisplay.md
  website/docs/config/LinearAlignmentsDisplay.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write, eslint --fix

perf(canvas): stop re-packing identical stacks in the fit ladder
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/fitToDisplayHeight.test.ts
Due: prettier --write, eslint --fix

refactor(jbrowse-img): share modifier parsing, track accessors, and font default
  products/jbrowse-img/src/applyTrackOpts.ts
  products/jbrowse-img/src/comparativeArgs.ts
  products/jbrowse-img/src/list.ts
  products/jbrowse-img/src/main.ts
  products/jbrowse-img/src/options.ts
  products/jbrowse-img/src/parseArgv.test.ts
  products/jbrowse-img/src/parseArgv.ts
  products/jbrowse-img/src/readData.ts
  products/jbrowse-img/src/renderRegion.tsx
  products/jbrowse-img/src/trackFields.ts
Due: prettier --write, eslint --fix

fix(canvas): default multi-row blocks to fill the full row height
  plugins/canvas/src/LinearMultiRowFeatureDisplay/configSchema.ts
Due: prettier --write, eslint --fix

docs(qtl): regenerate bxd figures with gapless multi-row painting
  test_data/config_bxd.json
  website/static/img/qtl/bxd_overview.png
  website/static/img/qtl/bxd_painting_input_order.png
  website/static/img/qtl/bxd_painting_sorted.png
  website/static/img/qtl/bxd_sort_before_after.png
  website/static/img/qtl/bxd_tyrp1_locus.png
Due: none

refactor(alignments): extract row pitch into a rowHeight getter
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
Due: prettier --write, eslint --fix

docs: regen chromhmm/trio-ancestry gapless; fix ucsc cse->soe cert refs
  test_data/config_demo.json
  test_data/config_rastair.json
  test_data/hg19_vs_hg38/config.json
  website/static/img/chromhmm.png
  website/static/img/trio-ancestry.png
Due: none

fix(jbrowse-img): support local files in --multiwig
  products/jbrowse-img/README.md
  products/jbrowse-img/src/makeConfigs.test.ts
  products/jbrowse-img/src/makeConfigs.ts
Due: prettier --write, eslint --fix

style(website): plainer gallery captions with clearer hierarchy
  website/src/pages/gallery.astro
Due: none

chore: repoint remaining UCSC hgdownload URLs from cse to soe
  embedded_demos/base/app/config.ts
  embedded_demos/base/linear/config.ts
  products/jbrowse-img/README.md
  products/jbrowse-img/data/config.json
  products/jbrowse-img/data/tracks.json
  products/jbrowse-react-app/examples-site/src/examples/HumanDemo.tsx
  products/jbrowse-react-app/examples-site/src/examples/WithLaunchLinearGenomeView.tsx
  website/docs/jbrowse-img.md
  website/docs/tutorials/embed_linear_genome_view.md
  website/scripts/screenshot-spec-helpers.ts
  website/scripts/specs/embedded.ts
Due: prettier --write, eslint --fix

feat(website): stamp gallery image dimensions, close lightbox on image click
  website/src/pages/gallery.astro
Due: none

docs: prettier-ignore generated COLOR_TABLE blocks to stop regen churn
  docs/generateColorDocs.ts
  website/docs/developer_guides/theming.md
  website/docs/user_guides/alignments_track.md
  website/docs/user_guides/sv_visualization.md
Due: prettier --write, eslint --fix

feat(website): gallery cards show live + guide links, darken image on hover
  website/src/lib/gallery.ts
  website/src/pages/gallery.astro
Due: prettier --write, eslint --fix

fix(react-app): import dockview CSS in main entry so workspaces are styled
  products/jbrowse-react-app/src/index.ts
Due: prettier --write, eslint --fix

feat(website): compact multi-column demos page with tutorial links
  website/src/lib/gallery.ts
  website/src/pages/demos.astro
Due: prettier --write, eslint --fix

feat(canvas): vertically center a short fit stack in the track
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/fitToDisplayHeight.test.ts
  plugins/canvas/src/LinearBasicDisplay/layout.ts
  plugins/canvas/src/LinearBasicDisplay/yMorph.ts
Due: prettier --write, eslint --fix

feat(canvas): hide NCBI whole-sequence source record (gbkey=Src) by default
  plugins/canvas/src/LinearBasicDisplay/filters.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/executeRenderFeatureData.test.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/configSchema.ts
Due: prettier --write, eslint --fix

feat(website): demo tooltips from descriptions, aria-label guide links
  website/src/pages/demos.astro
Due: none

fix(website): let long guided-demos section flow across demo columns
  website/src/pages/demos.astro
Due: none

fix(canvas): keep gene-glyph control visible when All transcripts selected
  plugins/canvas/src/LinearBasicDisplay/baseConfigSchema.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/components/FeatureComponent.tsx
  plugins/canvas/src/LinearBasicDisplay/components/GeneGlyphControl.tsx
  plugins/canvas/src/LinearBasicDisplay/configSchema.ts
  plugins/canvas/src/LinearBasicDisplay/featureHeightMenu.test.ts
  plugins/canvas/src/LinearBasicDisplay/geneGlyphNotice.test.ts
  plugins/canvas/src/LinearBasicDisplay/layout.test.ts
  plugins/canvas/src/LinearBasicDisplay/layout.ts
  plugins/canvas/src/LinearBasicDisplay/model.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/glyphUtils.ts
  plugins/canvas/src/RenderFeatureDataRPC/renderConfig.ts
Due: prettier --write, eslint --fix

refactor(cgv-examples): adopt shared page/section layout model
  products/jbrowse-react-circular-genome-view/examples-site/src/examples.ts
  products/jbrowse-react-circular-genome-view/examples-site/src/layouts/ExampleLayout.astro
  products/jbrowse-react-circular-genome-view/examples-site/src/layouts/ExampleSection.astro
  products/jbrowse-react-circular-genome-view/examples-site/src/pages/human.astro
  products/jbrowse-react-circular-genome-view/examples-site/src/pages/show-track.astro
  products/jbrowse-react-circular-genome-view/examples-site/src/pages/volvox.astro
Due: prettier --write, eslint --fix

feat(canvas): flatten "Show..." menu into checkboxes + inline radio groups
  packages/core/src/ui/CascadingMenu.tsx
  packages/core/src/ui/promotableMenuItems.tsx
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/baseModelHelpers.ts
  plugins/canvas/src/LinearBasicDisplay/subfeatureLabelsMenu.test.ts
Due: prettier --write, eslint --fix

fix(canvas): forward click event to StatusChip so gene-glyph chip opens
  plugins/canvas/src/LinearBasicDisplay/components/StatusChip.tsx
  plugins/canvas/src/LinearBasicDisplay/components/useIndicatorButtonStyles.ts
Due: prettier --write, eslint --fix

test(canvas): cover StatusChip click-event forwarding and delete
  plugins/canvas/src/LinearBasicDisplay/components/StatusChip.test.tsx
Due: prettier --write, eslint --fix

fix(synteny): clear stale hover/click indices on refetch
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/LevelSyntenyCanvas.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/parentViewDuck.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/stateModelFactory.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/useWheelScrollZoom.ts
Due: prettier --write, eslint --fix

refactor(examples): share example model, drop dead name field
  products/examples-site-shared/exampleModel.ts
  products/jbrowse-react-app/examples-site/src/exampleModel.ts
  products/jbrowse-react-app/examples-site/src/examples.ts
  products/jbrowse-react-circular-genome-view/examples-site/src/exampleModel.ts
  products/jbrowse-react-circular-genome-view/examples-site/src/examples.ts
  products/jbrowse-react-linear-genome-view/examples-site/src/exampleModel.ts
  products/jbrowse-react-linear-genome-view/examples-site/src/examples.ts
Due: prettier --write, eslint --fix

ci(blat-proxy): run standalone Lambda in CI + update deps
  .github/workflows/push.yml
  aws/blat-proxy/package.json
  aws/blat-proxy/pnpm-lock.yaml
  aws/blat-proxy/pnpm-workspace.yaml
Due: none

docs(adr): record the two canvas "collapse" mechanisms
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-037-two-collapse-mechanisms.md
Due: prettier --write

refactor(examples): inline assembly/tracks configs; rework app getting-started page
  products/jbrowse-react-app/examples-site/src/pages/index.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/DefaultSession.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/DisableAddTrack.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/ExternalNavigate.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/HumanExomeExample.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/ObserveVisible.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/OneLinearGenomeView.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/ShadowDOMOneLinearGenomeView.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/UseCreateViewState.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/UsingLocObject.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithAggregateTextSearching.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithCustomTheme.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithDarkTheme.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithDisableZoomAndSideScroll.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithDrawerWidget.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithErrorHandler.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithExternalPlugin.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithGroupByTag.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithGtfTrack.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithInit.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithInitAdvanced.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithInitAlignmentsDisplay.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithInlinePlugins.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithInternetAccounts.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithJexlFeatureColorsAndLabels.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithMultiSampleVariantDisplay.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithMultipleDisplayedRegionsFlipped.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithOutsideStyling.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithPerTrackTextSearching.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithSessionHighlights.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithShowTrack.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithTrackColorShorthand.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithWebWorker.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithWiggleTrack.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
