Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(genomes_basics): name the ClinVar display so its showLabels keeps a click-path
  website/scripts/figure-manifest.json
  website/scripts/specs/genomes_basics.ts
Due: prettier --write, eslint --fix

docs: a `json session` fence, with the set-default-session tab derived from it
  website/docs/CLAUDE.md
  website/docs/automating.md
  website/docs/config_guides/default_session.md
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/dog10k_svs.md
  website/docs/tutorials/multiway_synteny_grape_peach_cacao.md
  website/scripts/check-config-blocks.ts
  website/scripts/check-config-cli.ts
  website/src/lib/derive-set-default-session.ts
  website/src/lib/remark-config-cli-tabs.ts
Due: prettier --write, eslint --fix

refactor(shader-tools): one view list, and retire the weaker attribute gate
  agent-docs/architecture-decision-records/adr-040-no-genome-quad-vertex-helper.md
  packages/render-core/CLAUDE.md
  packages/render-core/src/hal/webgl2Hal.ts
  packages/render-core/src/hal/webgpuHal.ts
  packages/shader-tools/src/shader-codegen/assertVertexInputs.ts
  packages/shader-tools/src/shader-codegen/codegen.ts
  plugins/alignments/src/shaders/slang/arc.iface.generated.ts
  plugins/alignments/src/shaders/slang/arcFlat.iface.generated.ts
  plugins/alignments/src/shaders/slang/arcLine.iface.generated.ts
  plugins/alignments/src/shaders/slang/arcMarker.iface.generated.ts
  plugins/alignments/src/shaders/slang/clip.iface.generated.ts
  plugins/alignments/src/shaders/slang/connectingLine.iface.generated.ts
  plugins/alignments/src/shaders/slang/coverage.iface.generated.ts
  plugins/alignments/src/shaders/slang/flatQuad.iface.generated.ts
  plugins/alignments/src/shaders/slang/gap.iface.generated.ts
  plugins/alignments/src/shaders/slang/indicator.iface.generated.ts
  plugins/alignments/src/shaders/slang/insertion.iface.generated.ts
  plugins/alignments/src/shaders/slang/interbaseHistogram.iface.generated.ts
  plugins/alignments/src/shaders/slang/linkedReadLine.iface.generated.ts
  plugins/alignments/src/shaders/slang/mismatch.iface.generated.ts
  plugins/alignments/src/shaders/slang/modCoverage.iface.generated.ts
  plugins/alignments/src/shaders/slang/overlap.iface.generated.ts
  plugins/alignments/src/shaders/slang/packedColorQuad.iface.generated.ts
  plugins/alignments/src/shaders/slang/read.iface.generated.ts
  plugins/alignments/src/shaders/slang/snpCoverage.iface.generated.ts
  products/jbrowse-web/src/tests/vertexAttributeSync.test.ts
  website/scripts/api-docs/generateShaderExportDocs.ts
Due: prettier --write, eslint --fix

docs(shaders): the writer's opt-in, remeasured, and a kinship that was not one
  agent-docs/reference/REJECTED_IDEAS.md
  packages/shader-tools/src/shader-codegen/parseDirectives.ts
  plugins/maf/src/LinearMafDisplay/components/drawRowIdentity.ts
Due: prettier --write, eslint --fix

chore: regenerate the gallery links for the ClinVar display type
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

docs(synteny): say what reference-anchored and all against all mean
  website/docs/tutorials/multiway_synteny_grape_peach_cacao.md
Due: prettier --write

docs(synteny): let the OrthoFinder line say what it buys
  website/docs/tutorials/multiway_synteny_grape_peach_cacao.md
Due: prettier --write

docs(synteny): complete sentences for each table's own behavior
  website/docs/tutorials/multiway_synteny_grape_peach_cacao.md
Due: prettier --write

fix(website): "formatted two ways", which is also what typos wants
  website/src/lib/derive-set-default-session.ts
Due: prettier --write, eslint --fix

docs(cancer_sv): twice the hg38 window on derivative_inserts, and a band on the split lane
  figures.lock
  website/docs/tutorials/cancer_sv.md
  website/scripts/specs/cancer_sv.ts
Due: prettier --write, eslint --fix

fix(alignments): guard right-click on an arc, and stop calling a split junction's gap an insert size
  plugins/alignments/src/LinearAlignmentsDisplay/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/components/arcTooltip.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/tooltipUtils.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/useAlignmentsBase.ts
  plugins/alignments/src/features/arcs/hitTest.ts
Due: prettier --write, eslint --fix

chore(figures): republish the two cards and the homepage tile their sources left behind
  figures.lock
Due: none

chore: regenerate the gallery link for the reframed derivative_inserts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

feat(shader-tools): check the uniform block against the layout slangc emitted
  agent-docs/reference/SHADER_JS_CODEGEN.md
  packages/shader-tools/src/build-shaders.ts
  packages/shader-tools/src/shader-codegen/assertUniformLayout.test.ts
  packages/shader-tools/src/shader-codegen/assertUniformLayout.ts
  packages/shader-tools/src/shader-codegen/codegen.ts
  packages/shader-tools/src/shader-codegen/reflection.ts
Due: prettier --write, eslint --fix

docs: a live-link tab on a session fence, gated on the config backing it
  scripts/check-docs.ts
  website/docs/CLAUDE.md
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/multiway_synteny_grape_peach_cacao.md
  website/package.json
  website/scripts/check-session-urls.ts
  website/src/lib/derive-session-url.ts
  website/src/lib/remark-config-cli-tabs.ts
Due: prettier --write, eslint --fix

fix(circular-view,canvas): two placements a figure review kept catching
  plugins/canvas/src/LinearBasicDisplay/components/labelPositioning.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/labelPositioning.ts
  plugins/canvas/src/RenderFeatureDataRPC/constants.ts
  plugins/circular-view/src/CircularView/model.test.ts
  plugins/circular-view/src/CircularView/model.ts
  website/scripts/specs/cancer_sv.ts
  website/scripts/specs/sv.ts
Due: prettier --write, eslint --fix

docs(figures): publish the four the placement fixes moved
  figures.lock
  website/scripts/figure-manifest.json
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

review(screenshots): answer four more, two of them in the app
  website/scripts/screenshot-review.json
Due: none

chore(figures): the last three cards their sources left behind
  figures.lock
Due: none

chore: regenerate two cards their sources left behind, and the CircularView doc
  figures.lock
  website/docs/models/CircularView.md
Due: prettier --write

docs: session live links also resolve a test_data config, so dog10k gets one
  website/docs/CLAUDE.md
  website/docs/tutorials/dog10k_svs.md
  website/scripts/check-session-urls.ts
Due: prettier --write, eslint --fix

test(jbrowse-web): the SVG exports pin the label gutter too
  products/jbrowse-web/src/tests/__image_snapshots__/canvas_feature_vector_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/reversed_region_labels_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgDisplayTypes.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ReversedRegionLabels.test.tsx.snap
Due: none

refactor(figures): compute the crops instead of storing them
  figures.lock
  scripts/autogen.ts
  website/.gitignore
  website/CLAUDE.md
  website/docs/CLAUDE.md
  website/package.json
  website/scripts/figure-paths.ts
  website/scripts/figure-store.ts
  website/scripts/gen-home-images.ts
  website/scripts/gen-tutorial-thumbs.ts
Due: prettier --write, eslint --fix

Bump deps
  package.json
  pnpm-lock.yaml
  products/jbrowse-build-your-own/examples-site/package.json
  products/jbrowse-react-app/examples-site/package.json
  products/jbrowse-react-circular-genome-view/examples-site/package.json
  products/jbrowse-react-linear-genome-view/examples-site/package.json
  website/package.json
  website/scripts/screenshot-review.json
Due: none

fix(jbrowse-web): a plugin reload never destroyed the root, so beforeDestroy stopped firing
  CLAUDE.md
  agent-docs/architecture-decision-records/adr-069-detach-do-not-destroy-what-react-may-hold.md
  packages/product-core/src/index.ts
  packages/product-core/src/scheduleDetachedDestroy.ts
  products/jbrowse-web/browser-tests/suites/plugin-reload.ts
  products/jbrowse-web/src/SessionLoader.ts
  products/jbrowse-web/src/rootModel/rootModel.ts
  products/jbrowse-web/src/tests/rootModelTeardown.test.tsx
Due: prettier --write, eslint --fix

[skip ci] Update autogen docs
  website/docs/models/JBrowseWebRootModel.md
Due: prettier --write

docs: three things the test_data live-link commit said that were not so
  scripts/check-docs.ts
  website/docs/CLAUDE.md
  website/scripts/check-session-urls.ts
Due: prettier --write, eslint --fix

test(alignments): pin that all three gestures ask the arc band, not just the hover
  plugins/alignments/src/LinearAlignmentsDisplay/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/components/arcGestureGuard.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/testUtils.ts
Due: prettier --write, eslint --fix

docs: gate the two live-link failures that resolve their names and still break
  website/docs/CLAUDE.md
  website/scripts/check-session-urls.ts
Due: prettier --write, eslint --fix

fix(jbrowse-desktop): the same teardown ADR-069 fixed in web, plus plugin-shaped tests for both
  products/jbrowse-desktop/src/components/StartScreen/destroyPluginManager.test.ts
  products/jbrowse-desktop/src/components/StartScreen/util.tsx
  products/jbrowse-desktop/src/rootModel/rootModel.ts
  products/jbrowse-web/src/tests/apolloShapedPlugin.ts
  products/jbrowse-web/src/tests/loaderUtil.tsx
  products/jbrowse-web/src/tests/pluginLifecycleHooks.test.tsx
Due: prettier --write, eslint --fix

docs: regenerate the model tables, and correct three comments the destroy left false
  agent-docs/architecture-decision-records/adr-069-detach-do-not-destroy-what-react-may-hold.md
  products/jbrowse-web/src/rootModel/persistence.ts
  products/jbrowse-web/src/tests/pluginLifecycleHooks.test.tsx
  website/docs/models/JBrowseDesktopRootModel.md
Due: prettier --write, eslint --fix

refactor(alignments): one display-boot harness instead of ten, and one arc guard instead of three
  plugins/alignments/src/LinearAlignmentsDisplay/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/bandHeight.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/arcGestureGuard.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/useAlignmentsBase.ts
  plugins/alignments/src/LinearAlignmentsDisplay/derivedRegionTooLarge.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/fetchAutorun.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/groupTruncation.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/growHeight.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.coupling.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/perLaneBands.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/showSoftClipping.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/testUtils.ts
  plugins/alignments/src/LinearAlignmentsDisplay/zoomInvalidation.test.ts
Due: prettier --write, eslint --fix

review(screenshots): record the 2026-08-14 review pass
  website/scripts/screenshot-review.json
Due: none

fix(circular-view): zooming in a tall pane dragged the drawing down with it
  figures.lock
  plugins/circular-view/src/CircularView/model.test.ts
  plugins/circular-view/src/CircularView/model.ts
  website/diagrams/diagrams.lock
  website/diagrams/fetch_chain.dot
  website/diagrams/rpc_lifecycle.dot
  website/docs/developer_guides/data_fetching.md
Due: prettier --write, eslint --fix

docs(cnv1000g): the cohort heatmap at a width that has something ordinary in it
  figures.lock
  website/docs/tutorials/population_cnv.md
  website/scripts/screenshot-review.json
  website/scripts/specs/cnv1000g.ts
Due: prettier --write, eslint --fix

fix(figures): the reports counted a mirrored figure twice
  website/scripts/figure-store.test.ts
  website/scripts/figure-store.ts
  website/scripts/figures.ts
  website/scripts/review-screenshots-web.ts
  website/scripts/screenshot-report.ts
Due: prettier --write, eslint --fix

docs(website): heightMode 'grow' is the answer to an overflow inside a track
  website/CLAUDE.md
Due: prettier --write

fix(jbrowse-web): the multi-region sort suite drove a signature that changed in July
  products/jbrowse-web/CLAUDE.md
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/fullpage_multiregion-strand-sorted.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_multiregion-strand-sorted.png
  products/jbrowse-web/browser-tests/__snapshots__/webgl/fullpage_multiregion-strand-sorted.png
  products/jbrowse-web/browser-tests/__snapshots__/webgl/targeted_multiregion-strand-sorted.png
  products/jbrowse-web/browser-tests/suites/multi-region-sort.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
