Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

refactor(bgzf): one pool helper for BAM and tabix, and the real reason it is lazy
  packages/core/src/util/bgzfWorkerPool.ts
  plugins/alignments/src/BamAdapter/BamAdapter.ts
Due: prettier --write, eslint --fix

fix(docs): the recipe round-trip check imports core directly, and runs again
  website/scripts/spec-recipe-unmapped.txt
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

docs(perf): the pool's lazy import is a bundle decision, not a jest one
  agent-docs/reference/BGZF_WORKER_POOL.md
Due: prettier --write

test: update the alignment and export snapshots the rendering changes left behind
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-long-read-arc-display-out-of-view-pairing-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-linked-test-tsx-long-read-linked-reads-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-linked-test-tsx-long-read-linked-reads-display-out-of-view-pairing-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-linked-test-tsx-short-read-linked-reads-display-out-of-view-pairing-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-stack-test-tsx-long-read-stack-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-stack-test-tsx-long-read-stack-display-out-of-view-pairing-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-stack-test-tsx-short-read-stack-display-at-ctg-a-33-623-35-216-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-stack-test-tsx-short-read-stack-display-out-of-view-pairing-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/breakpoint_split_view_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_color_legend_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_gridlines_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgBreakpointSplitView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgLinearSyntenyView.test.tsx.snap
Due: none

docs(figures): record the two multi-panel captions that grew past 400
  website/scripts/long-captions.txt
Due: none

test(embedded): the lgv cypress wait uses ADR-065's readiness selector
  component_tests/lgv-vite/cypress/e2e/basic.cy.ts
Due: prettier --write, eslint --fix

fix: the three checks that reddened main on its first CI run
  packages/browser-test-utils/src/reviewBundle.ts
  scripts/build_repeat_density.sh
  website/scripts/specs/graph.ts
Due: prettier --write, eslint --fix

test: the last stale pileup snapshot, chain-mode group-by
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-group-by-test-tsx-chain-mode-groups-whole-chains-by-hp-tag-into-sections-1-snap.png
Due: none

docs(perf): verify the bgzf pool actually engages in the RPC worker
  agent-docs/reference/BGZF_WORKER_POOL.md
Due: prettier --write

docs(perf): byte-level genotype parsing is slower, and what beat it
  agent-docs/reference/REJECTED_IDEAS.md
Due: prettier --write

feat(maf): the add-track form can reach the indexed-MAF adapter and CDS frames
  plugins/maf/src/BgzipMafAdapter/configSchema.ts
  plugins/maf/src/MafAddTrackWorkflow/AddTrackWorkflow.tsx
  plugins/maf/src/MafAddTrackWorkflow/buildAdapterConfig.test.ts
  plugins/maf/src/MafAddTrackWorkflow/buildAdapterConfig.ts
Due: prettier --write, eslint --fix

perf(maf): stop the two per-cell allocations the inversion and chromosome passes make
  plugins/maf/src/LinearMafDisplay/components/computeVisibleInversions.ts
  plugins/maf/src/LinearMafDisplay/components/drawSourceChrom.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/maf/src/LinearMafRenderer/rendering/bases.ts
Due: prettier --write, eslint --fix

fix(maf): the row, CDS-frame and codon hovers name the base the painters drew
  plugins/maf/src/LinearMafDisplay/components/MAFTooltip.tsx
  plugins/maf/src/LinearMafDisplay/components/findRowHover.test.ts
  plugins/maf/src/LinearMafDisplay/components/findRowHover.ts
  plugins/maf/src/LinearMafDisplay/components/mafHitTest.test.ts
  plugins/maf/src/LinearMafDisplay/components/mafHitTest.ts
  plugins/maf/src/LinearMafDisplay/components/sampleNavigationItems.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
Due: prettier --write, eslint --fix

types(maf): the other three adapters read their own config slots checked
  plugins/maf/src/BgzipMafAdapter/BgzipMafAdapter.ts
  plugins/maf/src/BgzipMafAdapter/configSchema.ts
  plugins/maf/src/BgzipTaffyAdapter/BgzipTaffyAdapter.ts
  plugins/maf/src/BgzipTaffyAdapter/configSchema.ts
  plugins/maf/src/BigMafAdapter/BigMafAdapter.ts
  plugins/maf/src/BigMafAdapter/configSchema.ts
Due: prettier --write, eslint --fix

perf(maf): reuse the genomic-column buffer across blocks in both base painters
  plugins/maf/src/LinearMafRenderer/binning.test.ts
  plugins/maf/src/LinearMafRenderer/binning.ts
  plugins/maf/src/LinearMafRenderer/drawMafBlocks.ts
  plugins/maf/src/LinearMafRenderer/mafInstanceBuffer.ts
  plugins/maf/src/LinearMafRenderer/rendering/bases.ts
Due: prettier --write, eslint --fix

perf(maf): the codon cells resolve once, and the inversion hatch is one path
  plugins/maf/src/LinearMafDisplay/components/computeVisibleCodons.test.ts
  plugins/maf/src/LinearMafDisplay/components/computeVisibleCodons.ts
  plugins/maf/src/LinearMafRenderer/rendering/inversions.ts
  plugins/maf/src/MafSequenceWidget/MafSequenceWidget.tsx
Due: prettier --write, eslint --fix

test(maf): pin the half of the discovery union nothing covered
  plugins/maf/src/LinearMafDisplay/rowArrangement.test.ts
Due: prettier --write, eslint --fix

deps(vcf): @gmod/vcf 7.2.0, the faster genotype scan
  packages/sv-core/package.json
  plugins/spreadsheet-view/package.json
  plugins/variants/package.json
  pnpm-lock.yaml
Due: none

perf(variants): index the genotype pass by column, not by sample name
  plugins/variants/src/VariantRPC/computeSampleInfo.test.ts
  plugins/variants/src/VariantRPC/computeSampleInfo.ts
Due: prettier --write, eslint --fix

docs(variants): the genotype callback's two remaining rules, with the numbers
  agent-docs/reference/REJECTED_IDEAS.md
  plugins/variants/src/CLAUDE.md
Due: prettier --write

chore: pnpm autogen for the BgzipMafAdapter frames slot
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  website/docs/config/BgzipMafAdapter.md
  website/docs/models/LinearMafDisplay.md
Due: prettier --write, eslint --fix

docs(figures): the graph pane's overlay says what its header cannot
  figures.lock
  website/scripts/specs/graph.ts
Due: prettier --write, eslint --fix

docs(figures): the strand-split depth figure gets a virus, not a transcriptome
  agent-docs/reference/DEMO_DATASETS.md
  figures.lock
  scripts/build_hsv1_demo.sh
  website/docs/user_guides/alignments_track.md
  website/scripts/specs/alignments.ts
Due: prettier --write, eslint --fix

docs(figures): the SV triage figure gets its labels, and the allele beside it
  figures.lock
  products/jbrowse-img/README.md
  website/docs/jbrowse-img.md
  website/docs/tutorials/sv_callset_review.md
  website/scripts/generate-screenshots.ts
  website/scripts/image-pipeline.ts
  website/scripts/screenshot-spec-helpers.ts
  website/scripts/screenshot-spec-types.ts
  website/scripts/screenshot-specs.ts
Due: prettier --write, eslint --fix

chore: regenerate gallery links for the two moved sessions
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

docs(figures): the STAR-Fusion triage figure is one frame now, not two
  figures.lock
  website/docs/tutorials/cancer_sv.md
  website/scripts/gen-tutorial-thumbs.ts
  website/scripts/specs/cancer_sv.ts
Due: prettier --write, eslint --fix

docs(figures): point the mismatch figure's note at the viral depth frame
  website/scripts/specs/alignments.ts
Due: prettier --write, eslint --fix

review(screenshots): answer the four denials of the 2026-08-11 pass
  website/scripts/screenshot-review.json
Due: none

chore(docs): hold the two ratchets the figure pass moved
  website/scripts/long-captions.txt
  website/scripts/spec-recipe-unmapped.txt
Due: none

feat(alignments): @gmod/cram 12, and report B features as mismatches
  plugins/alignments/package.json
  plugins/alignments/src/CramAdapter/CramSlightlyLazyFeature.ts
  plugins/alignments/src/CramAdapter/readFeaturesToMismatches.ts
Due: prettier --write, eslint --fix

docs(alignments): measure the CRAM delegation on a bundle, not node's loader
  plugins/alignments/src/CramAdapter/CramSlightlyLazyFeature.ts
Due: prettier --write, eslint --fix

refactor(alignments): drive CRAM mismatches off @gmod/cram's own walk
  packages/cigar-utils/src/mismatchCallback.ts
  plugins/alignments/package.json
  plugins/alignments/src/CramAdapter/CramSlightlyLazyFeature.ts
  plugins/alignments/src/CramAdapter/cramCodes.test.ts
  plugins/alignments/src/CramAdapter/readFeaturesToMismatches.test.ts
  plugins/alignments/src/CramAdapter/readFeaturesToMismatches.ts
  plugins/alignments/src/shared/collectMismatches.ts
Due: prettier --write, eslint --fix

chore: regenerate the lockfile after replaying the cram 13 work onto main
  pnpm-lock.yaml
Due: none

fix(variants): uppercase the hex escapes eslint's escape-case rule wants
  plugins/variants/src/VariantRPC/computeSampleInfo.test.ts
Due: prettier --write, eslint --fix

docs(hooks): say that pre-push reads the working tree, not the pushed commits
  .githooks/pre-push
Due: none

fix(component-tests): the seventh readiness selector, and the hole that hid it
  products/jbrowse-capture/src/waits.test.ts
Due: prettier --write, eslint --fix

test(alignments): rebaseline chain mode, and close the chevron TODO
  agent-docs/TODO.md
  agent-docs/reference/CROSS_BACKEND_GATE.md
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-group-by-test-tsx-chain-mode-groups-whole-chains-by-hp-tag-into-sections-1-snap.png
Due: prettier --write

fix(alignments): the chevron read's outline is inside the glyph too
  plugins/alignments/src/features/read/drawCanvas.ts
Due: prettier --write, eslint --fix

feat(alignments): the read outline is 0.85, the ink the canvas always drew
  agent-docs/reference/CROSS_BACKEND_GATE.md
  plugins/alignments/src/features/read/drawCanvas.ts
  plugins/alignments/src/shaders/slang/read.generated.ts
  plugins/alignments/src/shaders/slang/read.iface.generated.ts
  plugins/alignments/src/shaders/slang/read.slang
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-group-by-test-tsx-chain-mode-groups-whole-chains-by-hp-tag-into-sections-1-snap.png
Due: prettier --write, eslint --fix

deps: generic-filehandle2 2.3.1, which unbreaks the Windows Electron E2E
  package.json
  packages/core/package.json
  plugins/alignments/package.json
  plugins/authentication/package.json
  plugins/comparative-adapters/package.json
  plugins/hic/package.json
  plugins/legacy-jbrowse/package.json
  pnpm-lock.yaml
  products/jbrowse-web/package.json
Due: none
