Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

figures: ecoli_island_lanes reshot at its 712 px viewport with the strongest-ribbon gutters
  figures.lock
Due: none

Spike: lane layers on MultiWaySyntenyDisplay, a quantitative row per genome
  plugins/linear-comparative-view/package.json
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/LaneLayerTitles.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/ReactComponent.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/configSchema.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneHeader.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneHeader.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLayers.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLayers.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneStack.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneStack.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayMarks.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayRenderTypes.ts
  plugins/linear-comparative-view/tsconfig.build.esm.json
  plugins/marks/src/LinearMarkDisplay/markRequest.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  plugins/marks/src/index.ts
  pnpm-lock.yaml
  test_data/multiway_lane_layers/config.json
  test_data/multiway_lane_layers/make_config.py
Due: prettier --write, eslint --fix

Lane layers: review fixes — squish past the domain, prune stale payloads, one cell per payload
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/configSchema.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLayerConfigSchema.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLayers.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLayers.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/renderSvg.tsx
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  website/docs/config/MultiWayLaneLayer.md
  website/docs/config/MultiWaySyntenyDisplay.md
Due: prettier --write, eslint --fix

Lane layers: the handoff drops the landed cache fix; pnpm autogen
  agent-docs/handoffs/lane-layers.md
Due: prettier --write

Handoff: what lane layers still need after the spike
  agent-docs/handoffs/lane-layers.md
Due: prettier --write

pnpm autogen
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/MultiWaySyntenyDisplay.md
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write, eslint --fix

A described multi-way lane is a temporary assembly; lane layers take a template
  agent-docs/handoffs/lane-layers.md
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
  packages/core/src/PluginManager.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneFetch.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLayerConfigSchema.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLayers.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLayers.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneStack.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/testEnv.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/MultiWayLaneLayer.md
  website/docs/developer_guides/extension_points.md
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write, eslint --fix

Handoff: lane layers left with the plugin release, a GC cost measurement and the star's index reads
  agent-docs/handoffs/lane-layers.md
Due: prettier --write

pnpm autogen
  agent-docs/ARCHITECTURE.md
  agent-docs/handoffs/README.md
Due: prettier --write

pnpm autogen
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  scripts/registryBundleSizes.json
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

Handoff: the plugin answer is committed, and the star's index reads are three old routes
  agent-docs/handoffs/lane-layers.md
Due: prettier --write

A callout's selector or text anchor honours its view, and sv_cgiab/synteny_view names its rows by their caption chips
  packages/browser-test-utils/src/annotationOverlay.ts
  packages/browser-test-utils/src/annotationOverlayScope.test.ts
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

sv_cgiab/synteny_view's row pills hang below their caption chips
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

figures: sv_cgiab/synteny_view captures again, its rows named off the caption chips
  figures.lock
Due: none

The inversion glyph's point is as long as the cell is tall
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/inversionGlyphInk.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/shaders/variant.glsl.generated.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/shaders/variant.js.generated.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/shaders/variant.slang
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/shaders/variant.wgsl.generated.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/variantShape.ts
Due: prettier --write, eslint --fix

pangenome/bovine_kit and bovine_tas2r46 take the 40 px their keys need to show yak
  website/scripts/specs/graph-mouse-cattle.ts
Due: prettier --write, eslint --fix

figures: the inversion-bearing lanes reshot with the pointed-bar glyph
  figures.lock
Due: none

handoffs: two of the grammar round's figure defects are fixed
  agent-docs/handoffs/tutorial-grammar-followups.md
Due: prettier --write

figures: bovine_kit and bovine_tas2r46 reshot with their keys whole
  figures.lock
Due: none

pnpm autogen
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Graph tutorials: the reference strip, bubble halos opt-in, figures reshot on plugin 4.0.15
  figures.lock
  website/docs/tutorials/pangenome_hprc_repeats.md
  website/docs/tutorials/pangenome_mouse.md
  website/docs/user_guides/graph_genome_view.md
  website/scripts/specs/genomes_pangenome.ts
  website/scripts/specs/graph-chrm.ts
  website/scripts/specs/graph-ecoli.ts
  website/scripts/specs/graph-hprc.ts
  website/scripts/specs/graph-mouse-cattle.ts
  website/scripts/specs/graph-reading.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

A star reads a child's index only for the lanes it is asked about
  agent-docs/handoffs/README.md
  agent-docs/handoffs/lane-layers.md
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
  packages/core/src/assemblyManager/assembly.ts
  packages/core/src/assemblyManager/loadRefNameMap.test.ts
  packages/core/src/assemblyManager/loadRefNameMap.ts
  packages/core/src/assemblyManager/refNameMapKey.test.ts
  packages/core/src/assemblyManager/refNameMapKey.ts
  packages/core/src/data_adapters/BaseAdapter/types.ts
  packages/core/src/rpc/RpcRegistry.ts
  packages/core/src/util/tracks.ts
  packages/synteny-core/src/LodTierInfoMixin.ts
  plugins/comparative-adapters/src/MultiPairwiseSyntenyAdapter/MultiPairwiseSyntenyAdapter.test.ts
  plugins/comparative-adapters/src/MultiPairwiseSyntenyAdapter/MultiPairwiseSyntenyAdapter.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/MultiWayGetFeatures.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.test.ts
  products/jbrowse-web/src/tests/warmTrackAdapterCode.test.ts
  scripts/registryBundleSizes.json
  website/docs/developer_guides/creating_adapter.md
Due: prettier --write, eslint --fix

The rGFA segments lane colours rank through a threshold scale with a key
  agent-docs/handoffs/tutorial-grammar-followups.md
  demos/arabidopsis_pangenome/config.json
  demos/hprc/config.json
  website/scripts/specs/graph-ecoli.ts
Due: prettier --write, eslint --fix

pangenome/prepare_graph_segments draws the fixture's rank scale and its key
  test_data/graphgenomeview/ecoli_pangenome.json
  test_data/graphgenomeview/hprc.json
  test_data/graphgenomeview/pangenome_nonhuman.json
  website/scripts/specs/graph-hprc.ts
Due: prettier --write, eslint --fix

pangenome/prepare_graph_segments' lane holds its rows and its key
  website/scripts/specs/graph-hprc.ts
Due: prettier --write, eslint --fix

figures: prepare_graph_segments reshot with the rank key
  figures.lock
Due: none

cgiab's benchmark lanes load under the page's ids
  agent-docs/handoffs/tutorial-grammar-followups.md
  demos/cgiab/config.json
  website/docs/tutorials/sv_visualization_cgiab.md
  website/scripts/specs/sv.ts
Due: prettier --write, eslint --fix

figures: the cgiab lanes reshot under the page's track names
  figures.lock
Due: none

pnpm autogen
  agent-docs/handoffs/README.md
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Canvas labels keep 3px clear of the feature they start beside
  packages/core/src/util/layouts/GranularRectLayout.test.ts
  packages/core/src/util/layouts/GranularRectLayout.ts
  plugins/canvas/src/LinearBasicDisplay/components/labelPositioning.ts
  plugins/canvas/src/LinearBasicDisplay/layout.test.ts
  plugins/canvas/src/LinearBasicDisplay/packRef.ts
  plugins/canvas/src/RenderFeatureDataRPC/constants.ts
Due: prettier --write, eslint --fix

View-bottom resize grip rests at a quieter, shorter pill
  packages/core/src/ui/ResizeHandle.tsx
Due: prettier --write, eslint --fix

Walk-rows figures reshot on plugin 4.0.16, and HG02055's short KIV-2 bar explained
  figures.lock
  website/docs/tutorials/pangenome_hprc_repeats.md
Due: prettier --write

Handoff: the twobit index over-read is fixed in twobit-js, unreleased
  agent-docs/handoffs/README.md
  agent-docs/handoffs/lane-layers.md
Due: prettier --write

handoffs: the row-label gutter is parked on Colin's call
  agent-docs/handoffs/tutorial-grammar-followups.md
Due: prettier --write

pnpm autogen
  scripts/registryBundleSizes.json
Due: none

Canvas packer reserves a strand arrow only past the body it paints at
  packages/core/src/util/layouts/GranularRectLayout.ts
  plugins/canvas/src/LinearBasicDisplay/layout.test.ts
  plugins/canvas/src/LinearBasicDisplay/packRef.ts
  plugins/canvas/src/RenderFeatureDataRPC/constants.ts
Due: prettier --write, eslint --fix

GranularRectLayout: test the lower span on the binary-search path
  packages/core/src/util/layouts/GranularRectLayout.test.ts
Due: prettier --write, eslint --fix

registryBundleSizes.json: the lower span on GranularRectLayout.addRect adds 1 KB
  scripts/registryBundleSizes.json
Due: none

The sun/moon stays after a click, holding the other mode until the OS changes
  packages/app-core/src/ui/App/AppToolbar.test.tsx
  packages/app-core/src/ui/App/ThemeModeButton.test.tsx
  packages/app-core/src/ui/App/ThemeModeButton.tsx
  packages/app-core/src/ui/App/types.ts
  packages/product-core/src/Session/Themes.test.ts
  packages/product-core/src/Session/Themes.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config_guides/theme.md
  website/docs/models/BaseWebSessionModel.md
  website/docs/models/JBrowseDesktopSessionModel.md
  website/docs/models/JBrowseWebSessionModel.md
  website/docs/models/ThemeManagerSessionMixin.md
Due: prettier --write, eslint --fix

KIV-2 walk rows: drop the HG02055 explanation, whose cause was wrong
  website/docs/tutorials/pangenome_hprc_repeats.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
