Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

[skip ci] Windows electron tests
  .github/workflows/windows-electron.yml
Due: none

[skip ci] v4.1.4 release announcement
  website/release_announcement_drafts/v4.1.4.md
Due: prettier --write

Bumps
  plugins/alignments/src/LinearAlignmentsDisplay/components/AlignmentsRenderer.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/wgsl/miscShaders.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/canvas/src/LinearWebGLFeatureDisplay/components/CanvasFeatureRenderer.ts
  plugins/canvas/src/LinearWebGLFeatureDisplay/components/WebGLFeatureRenderer.ts
  plugins/canvas/src/RenderWebGLFeatureDataRPC/executeRenderWebGLFeatureData.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/SyntenyRenderer.ts
  plugins/variants/src/MultiWebGLVariantDisplay/components/WebGLVariantComponent.tsx
  plugins/variants/src/MultiWebGLVariantMatrixDisplay/components/WebGLVariantMatrixComponent.tsx
  plugins/wiggle/src/LinearWebGLMultiWiggleDisplay/components/MultiWiggleRenderer.ts
  plugins/wiggle/src/LinearWebGLMultiWiggleDisplay/components/WebGLMultiWiggleComponent.tsx
  plugins/wiggle/src/LinearWebGLWiggleDisplay/components/WebGLWiggleComponent.tsx
  plugins/wiggle/src/LinearWebGLWiggleDisplay/components/WiggleRenderer.ts
Due: prettier --write, eslint --fix

Wtf
  plugins/alignments/src/LinearAlignmentsDisplay/components/AlignmentsRenderer.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupRenderer.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/chainOverlayUtils.ts
  plugins/dotplot-view/src/DiagonalizeDotplotRpc.ts
  plugins/linear-comparative-view/src/LinearComparativeView/components/LinearComparativeRenderArea.tsx
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/SyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/components/LinearSyntenyRendering.tsx
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/syntenyShaders.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGLinearSyntenyView.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/util/diagonalize.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/util/diagonalize.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabel.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabelMenu.tsx
  plugins/variants/package.json
  plugins/variants/scripts/compile-shaders.ts
  plugins/variants/src/MultiWebGLVariantDisplay/components/VariantRenderer.ts
  plugins/variants/src/MultiWebGLVariantDisplay/components/WebGLVariantComponent.tsx
  plugins/variants/src/MultiWebGLVariantDisplay/components/WebGLVariantRenderer.ts
  plugins/variants/src/MultiWebGLVariantDisplay/components/variantShaders.ts
  plugins/variants/src/MultiWebGLVariantMatrixDisplay/components/VariantMatrixRenderer.ts
  plugins/variants/src/MultiWebGLVariantMatrixDisplay/components/WebGLVariantMatrixComponent.tsx
  plugins/variants/src/MultiWebGLVariantMatrixDisplay/components/WebGLVariantMatrixRenderer.ts
  plugins/variants/src/MultiWebGLVariantMatrixDisplay/components/variantMatrixShaders.ts
  plugins/variants/src/shared/generated/index.ts
  plugins/variants/src/shared/variantWebglUtils.ts
Due: prettier --write, eslint --fix

Working synteny
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/SyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/components/LinearSyntenyRendering.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/DiagonalizationProgressDialog.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/util/diagonalize.test.ts
Due: prettier --write, eslint --fix

[skip ci] Bump
  package.json
  pnpm-lock.yaml
  products/jbrowse-desktop/package.json
Due: none

[skip ci] Fixes for webgl
  compile-shader-utils/index.ts
  packages/core/package.json
  packages/core/src/gpu/initGpuContext.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/AlignmentsRenderer.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/shaders/generated/index.ts
  plugins/canvas/src/LinearWebGLFeatureDisplay/components/CanvasFeatureRenderer.ts
  plugins/canvas/src/LinearWebGLFeatureDisplay/components/WebGLFeatureComponent.tsx
  plugins/canvas/src/LinearWebGLFeatureDisplay/components/generated/index.ts
  plugins/dotplot-view/src/DotplotDisplay/DotplotRenderer.ts
  plugins/dotplot-view/src/DotplotDisplay/components/DotplotDisplay.tsx
  plugins/dotplot-view/src/DotplotDisplay/generated/index.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/SyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/components/LinearSyntenyRendering.tsx
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/generated/index.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/WebGLSequenceComponent.tsx
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/WebGPUSequenceRenderer.ts
  plugins/variants/src/MultiWebGLVariantDisplay/components/VariantRenderer.ts
  plugins/variants/src/MultiWebGLVariantDisplay/components/WebGLVariantComponent.tsx
  plugins/variants/src/MultiWebGLVariantMatrixDisplay/components/VariantMatrixRenderer.ts
  plugins/variants/src/MultiWebGLVariantMatrixDisplay/components/WebGLVariantMatrixComponent.tsx
  plugins/variants/src/shared/generated/index.ts
  plugins/wiggle/src/LinearWebGLMultiWiggleDisplay/components/MultiWiggleRenderer.ts
  plugins/wiggle/src/LinearWebGLMultiWiggleDisplay/components/WebGLMultiWiggleComponent.tsx
  plugins/wiggle/src/LinearWebGLWiggleDisplay/components/WebGLWiggleComponent.tsx
  plugins/wiggle/src/LinearWebGLWiggleDisplay/components/WiggleRenderer.ts
  plugins/wiggle/src/shared/generated/index.ts
Due: prettier --write, eslint --fix

Fix lint
  compile-shader-utils/index.ts
  packages/core/src/gpu/getGpuDevice.ts
  packages/core/src/rpc/BaseRpcDriver.ts
  packages/core/src/rpc/MainThreadRpcDriver.ts
  plugins/alignments/scripts/compile-shaders.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/hitTesting.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/shaders/generated/index.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/useAlignmentsBase.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/RenderWebGLArcsDataRPC/executeRenderWebGLArcsData.ts
  plugins/alignments/src/RenderWebGLChainDataRPC/executeRenderWebGLChainData.ts
  plugins/canvas/scripts/compile-shaders.ts
  plugins/canvas/src/LinearWebGLFeatureDisplay/components/WebGLFeatureComponent.tsx
  plugins/canvas/src/LinearWebGLFeatureDisplay/components/generated/index.ts
  plugins/canvas/src/LinearWebGLFeatureDisplay/model.ts
  plugins/dotplot-view/scripts/compile-shaders.ts
  plugins/dotplot-view/src/DotplotDisplay/components/DotplotDisplay.tsx
  plugins/dotplot-view/src/DotplotDisplay/generated/index.ts
  plugins/linear-comparative-view/scripts/compile-shaders.ts
  plugins/linear-comparative-view/src/LinearComparativeView/components/LinearComparativeRenderArea.tsx
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/components/LinearSyntenyRendering.tsx
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/generated/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/ScalebarRefNameLabels.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/useWheelScroll.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/WebGLSequenceComponent.tsx
  plugins/variants/scripts/compile-shaders.ts
  plugins/variants/src/MultiWebGLVariantDisplay/components/WebGLVariantComponent.tsx
  plugins/variants/src/MultiWebGLVariantMatrixDisplay/components/WebGLVariantMatrixComponent.tsx
  plugins/variants/src/shared/generated/index.ts
  plugins/wiggle/scripts/compile-shaders.ts
  plugins/wiggle/src/LinearWebGLMultiWiggleDisplay/components/WebGLMultiWiggleComponent.tsx
  plugins/wiggle/src/LinearWebGLMultiWiggleDisplay/model.ts
  plugins/wiggle/src/LinearWebGLWiggleDisplay/components/WebGLWiggleComponent.tsx
  plugins/wiggle/src/shared/generated/index.ts
Due: prettier --write, eslint --fix

Avoid running scrollIntoView when in iframe. Fixes #5473
  packages/app-core/src/ui/App/ViewHeader.tsx
Due: prettier --write, eslint --fix

[skip ci] v4.1.4 release announcement (#5488)
  website/release_announcement_drafts/v4.1.4.md
Due: prettier --write

Manual bump
  scripts/release.sh
Due: none

[skip ci] Bump version.ts
  products/jbrowse-cli/src/version.ts
Due: prettier --write, eslint --fix

[skip ci] Bump version.ts
  products/jbrowse-react-circular-genome-view/src/version.ts
Due: prettier --write, eslint --fix

[skip ci] Bump version.ts
  products/jbrowse-react-linear-genome-view/src/version.ts
Due: prettier --write, eslint --fix

[skip ci] Bump version.ts
  products/jbrowse-react-app/src/version.ts
Due: prettier --write, eslint --fix

Update wine
  .github/workflows/release.yml
Due: none

Bump
  scripts/release.sh
  website/release_announcement_drafts/v4.1.5.md
Due: prettier --write

[skip ci] Improve desktop publishing
  .github/workflows/release.yml
  products/jbrowse-desktop/scripts/package.ts
  products/jbrowse-desktop/scripts/packaging/mac.ts
  products/jbrowse-desktop/scripts/packaging/signing.ts
  products/jbrowse-desktop/scripts/publish.ts
Due: prettier --write, eslint --fix

[skip ci] Bump
  scripts/release.sh
  website/release_announcement_drafts/v4.1.6.md
Due: prettier --write

[skip ci] Some more signing fixes
  .github/workflows/release.yml
  products/jbrowse-desktop/scripts/packaging/signing.ts
Due: prettier --write, eslint --fix

Bumps
  scripts/release.sh
  website/release_announcement_drafts/v4.1.7.md
Due: prettier --write

Update app name on mac
  products/jbrowse-desktop/scripts/packaging/packager.ts
Due: prettier --write, eslint --fix

Init
  scripts/release.sh
  website/release_announcement_drafts/v4.1.8.md
Due: prettier --write
