Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Close the ADR-150 review follow-ups
  agent-docs/architecture-decision-records/adr-150-a-transform-step-is-one-schema-per-type.md
  agent-docs/handoffs/README.md
  agent-docs/handoffs/adr-150-review-followups.md
Due: prettier --write

two-packings under a facet says a display pileup spans every section
  agent-docs/architecture-decision-records/adr-151-a-channels-scale-is-spelt-as-scales-y-spells-one.md
  plugins/marks/src/LinearMarkDisplay/markProblems.test.ts
  plugins/marks/src/LinearMarkDisplay/markProblems.ts
  products/jbrowse-cli/src/commands/validate/markRules/markProblems.ts
Due: prettier --write, eslint --fix

Reshoot the four mark display guide figures
  figures.lock
  website/docs/config_guides/mark_display.md
  website/scripts/specs/marks.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

ideas: the mark display's showcase pages, parked after v5
  agent-docs/ideas/README.md
  agent-docs/ideas/collections/mark-display-showcase-pages.md
Due: prettier --write

The introduction links the mark display guide
  website/docs/introduction.md
Due: prettier --write

The read_marks demo titles its axes and its mapping-quality key
  demos/read_marks/config.json
  website/docs/tutorials/read_marks.md
Due: prettier --write

read_marks' figures fit their content and title the pileup key
  website/docs/tutorials/read_marks.md
  website/scripts/specs/read_marks.ts
Due: prettier --write, eslint --fix

Reshoot the four read_marks figures
  figures.lock
Due: none

chore: pre-push autofix
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

The proteins tutorial describes the launch dialog protein3d ships
  website/docs/tutorials/genomes_proteins.md
Due: prettier --write

EAGER_BUNDLE says the plugins' extendStateModel shim still covers beta.2
  agent-docs/reference/EAGER_BUNDLE.md
Due: prettier --write

A mark display's axis caption is optional
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-142-one-value-scale-object.md
  agent-docs/architecture-decision-records/adr-146-null-is-the-json-spelling-of-a-slot-reset.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  packages/wiggle-core/src/ScoreScaleMixin.ts
  packages/wiggle-core/src/valueScaleConfigSchema.ts
  plugins/marks/src/LinearMarkDisplay/markColorConfigSchema.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/MarkColor.md
  website/docs/config/ValueScale.md
  website/docs/config_guides/mark_display.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMarkDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/ScoreFieldConfigMixin.md
  website/docs/models/ScoreScaleMixin.md
  website/docs/models/SharedGCContentModel.md
  website/docs/models/WiggleCommonMixin.md
  website/docs/models/WiggleScoreConfigMixin.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

Reshoot the five figures whose axis carried a derived caption
  figures.lock
Due: none

The grammar reference compares the mark layer with GenomeSpy and Gosling
  agent-docs/ideas/waiting-on-a-call/evaluate-jexl-channels-a-column-at-a-time.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
Due: prettier --write

A clipped synteny record the window holds whole keeps its own id
  agent-docs/ideas/collections/multiway-synteny-lgv-track.md
  plugins/comparative-adapters/src/clipFeatureToRegion.test.ts
  plugins/comparative-adapters/src/clipFeatureToRegion.ts
Due: prettier --write, eslint --fix

A multiway direct-link click is held by the link's id, not its slot
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/hoverRelayout.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayRenderTypes.ts
  products/jbrowse-web/src/tests/MultiWaySyntenyDisplay.test.tsx
Due: prettier --write, eslint --fix

Synteny geometry draws while the rows show the layout it was fetched under
  agent-docs/reference/OFFSCREEN_SYNTENY_MATES.md
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/fetchRegionsKey.integration.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/outlineUploadSchedule.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/components/SyntenySettingsMenu.test.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/OffscreenMateOverlay.test.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/OffscreenMateTooltip.test.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/offscreenMateStrip.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/offscreenMateStrip.ts
Due: prettier --write, eslint --fix

A ribbon's context menu centers through the feature panel's action
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/matePanelNavigation.test.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/matePanelNavigation.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/components/SyntenyContextMenu.tsx
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/moveMatchingPanel.ts
  plugins/linear-comparative-view/src/SyntenyFeatureDetail/centerOnFeature.ts
  website/docs/user_guides/linear_synteny_view.md
Due: prettier --write, eslint --fix

One clicked ribbon per synteny view, not one per band
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/outlineUploadSchedule.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/parentViewDuck.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/stateModelFactory.ts
Due: prettier --write, eslint --fix

One translation from a synteny instance to its feature
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  products/jbrowse-web/src/tests/LinearSyntenyMoveFollow.test.tsx
Due: prettier --write, eslint --fix

The multiway launch slices a mate through mateSlice
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/lanePanels.ts
Due: prettier --write, eslint --fix

A multiway lane drawn [rev] opens its assembly reversed
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/menus.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/menus.ts
Due: prettier --write, eslint --fix

The interaction-state idea no longer says the pairwise display reads the raw selection
  agent-docs/ideas/ready/canvas-interaction-state-mixin.md
Due: prettier --write

Regenerate the synteny model docs and indexes
  agent-docs/ARCHITECTURE.md
  agent-docs/ideas/README.md
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearSyntenyDisplay.md
  website/docs/models/LinearSyntenyView.md
  website/docs/models/LinearSyntenyViewHelper.md
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write

The reversed-open menu test narrows the item before reading its label
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/menus.test.ts
Due: prettier --write, eslint --fix

pre-push puts a dirty path back only when autogen rewrote something
  .githooks/pre-push
  scripts/autogen.ts
Due: prettier --write, eslint --fix

ConfigSlotDefaults records the multiway display's splitStrands slot
  products/jbrowse-web/src/tests/__snapshots__/ConfigSlotDefaults.test.ts.snap
Due: none

The proteins tutorial says the picker opens on the right-clicked isoform
  website/docs/tutorials/genomes_proteins.md
Due: prettier --write

read_marks' spec helper returns a url spec, so a spread can set its height
  website/scripts/specs/read_marks.ts
Due: prettier --write, eslint --fix

A tour of the released app gates on its own text, not a session census
  website/scripts/generate-video.ts
  website/scripts/screenshot-spec-types.ts
  website/scripts/video-spec-types.ts
  website/scripts/videos/proteins.ts
Due: prettier --write, eslint --fix

Reshoot the protein launch tour on protein3d 0.14.0
  website/media.lock
Due: none

ExportSession's snapshot drops the GridBookmark widget the session no longer opens
  products/jbrowse-web/src/tests/__snapshots__/ExportSession.test.tsx.snap
Due: none

Bump deps
  package.json
  plugins/alignments/package.json
  plugins/bed/package.json
  plugins/comparative-adapters/package.json
  plugins/gff3/package.json
  plugins/gtf/package.json
  plugins/variants/package.json
  pnpm-lock.yaml
  products/jbrowse-desktop/package.json
Due: none

Gene track guide links the FeatureColor page by its lowercase id
  website/docs/user_guides/gene_track.md
Due: prettier --write

Gene-lanes smoke check looks for atpA's ortholog group, gene-b3734
  products/jbrowse-build-your-own/examples-site/scripts/smoke.mjs
Due: none

Richer worked examples for MultiWaySyntenyDisplay and LinearMultiRowFeatureDisplay
  plugins/canvas/src/LinearMultiRowFeatureDisplay/configSchema.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/configSchema.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/LinearMultiRowFeatureDisplay.md
  website/docs/config/MultiWaySyntenyDisplay.md
Due: prettier --write, eslint --fix

Add a grouping-and-lane-order guide, cross-linked from every display that has domain
  figures.lock
  website/docs/config_guide.md
  website/docs/config_guides/alignments_track.md
  website/docs/config_guides/grouping_and_ordering.md
  website/docs/config_guides/mark_display.md
  website/docs/config_guides/synteny_track.md
  website/docs/cookbook.md
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/hprc_multiway_synteny.md
  website/docs/tutorials/ld_mosquitoes.md
  website/docs/tutorials/multiway_synteny_grape_peach_cacao.md
  website/docs/tutorials/population_genomics.md
  website/docs/user_guides/gene_track.md
  website/scripts/specs/synteny.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

The @babel/core override follows the root devDependency's bump to ^8.0.6
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Bump @gmod/cram
  plugins/alignments/package.json
  pnpm-lock.yaml
Due: none

[skip ci] Update hashes
  figures.lock
  products/jbrowse-web/src/components/JBrowse.tsx
  website/media.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
