Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

Paper figure: the HG008-T chr13-chr3 junction in reads, in the scaffold over the same reference windows, and across the whole scaffold
  figures.lock
  website/scripts/screenshot-specs.ts
  website/scripts/specs/paper-sv.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

The last 13 plain components are observers, and lint exempts no package
  eslint.config.mjs
  packages/alignments-core/package.json
  packages/alignments-core/src/CoverageTooltipTables.tsx
  packages/browser-test-utils/package.json
  packages/browser-test-utils/src/reviewApp/probeFixture.tsx
  packages/render-core/package.json
  packages/render-core/src/OverlayCanvas.tsx
  packages/render-core/src/RenderCanvas.tsx
  packages/render-core/src/ScrollLockedOverlay.tsx
  plugins/authentication/package.json
  plugins/authentication/src/DropboxOAuthModel/DropboxIcon.tsx
  plugins/authentication/src/ExternalTokenModel/ExternalTokenEntryForm.tsx
  plugins/authentication/src/GoogleDriveOAuthModel/GoogleDriveIcon.tsx
  plugins/authentication/src/HTTPBasicModel/HTTPBasicLoginForm.tsx
  plugins/authentication/src/OAuthModel/OAuthLoginPrompt.tsx
  pnpm-lock.yaml
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

Scale labels and SVG export back a lane name on the gene row; the paper's five-strain figure at 60 px bands
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/LaneHeaders.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/SvgLaneHeaders.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneHeader.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/renderSvg.test.tsx
  website/scripts/specs/paper-ecoli.ts
  website/scripts/specs/synteny.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

figures.lock records paper/ecoli_synteny and the re-rendered paper/ecoli_oantigen
  figures.lock
Due: none

Handoff: grammar-of-graphics release audit, five areas re-verified against main
  agent-docs/handoffs/README.md
  agent-docs/handoffs/grammar-release-audit-2026-10-07.md
Due: prettier --write

The paper's Drosophila figure draws 100 px ribbon bands
  website/scripts/specs/paper-drosophila.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

figures.lock records the shorter paper/drosophila_blocks
  figures.lock
Due: none

Slot-defaults snapshot records inlineLaneNames
  products/jbrowse-web/src/tests/__snapshots__/ConfigSlotDefaults.test.ts.snap
Due: none

figures.lock keeps paper/cohort_cnv, which the population CNV tutorial embeds
  figures.lock
Due: none

Format the screenshot review app's stylesheet
  website/scripts/review-app/app.css
Due: prettier --write

jb2capture batch: many screenshots from one browser, each in its own window
  products/jbrowse-capture/README.md
  products/jbrowse-capture/src/args.test.ts
  products/jbrowse-capture/src/args.ts
  products/jbrowse-capture/src/bin.ts
  products/jbrowse-capture/src/capture.ts
  products/jbrowse-capture/src/captureBatch.test.ts
  products/jbrowse-capture/src/index.ts
  products/jbrowse-capture/src/jsonArgs.test.ts
  products/jbrowse-capture/src/jsonArgs.ts
  website/docs/jbrowse-capture.md
Due: prettier --write, eslint --fix

The paper's HPRC figure prints haplotype names on the gene rows over a 380 px graph
  website/scripts/specs/paper-hprc-workspace.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

figures.lock records the shorter paper/hprc_lanes_graph_stacked_force
  figures.lock
Due: none

Split-read arcs take the color of the pair class at the same junction
  agent-docs/reference/ALIGNMENTS_COLOR_PARITY.md
  packages/alignments-core/src/orientation.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/features/arcs/arcColors.ts
  plugins/alignments/src/features/arcs/arcSplitCategory.test.ts
  plugins/alignments/src/features/arcs/arcSplitCategory.ts
  plugins/alignments/src/features/arcs/compute.test.ts
  plugins/alignments/src/shaders/overlayPaletteParity.test.ts
  plugins/alignments/src/shaders/palettes.ts
  plugins/alignments/src/shared/legendUtils.ts
  website/docs/user_guides/sv_visualization.md
Due: prettier --write, eslint --fix

Paper read-evidence figures: SUZ12 duplication and deletion, and a chr3 inversion, with Illumina reads as pairs; BAM slices hosted on jbrowse.org
  figures.lock
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/scripts/specs/paper-sv-reads.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

A log y axis keeps a positive min, and a pinned end at or below 0 is a log-floor notice
  packages/core/src/configuration/plot.ts
  packages/core/src/util/colorScale.ts
  packages/wiggle-core/src/ScoreScaleMixin.ts
  packages/wiggle-core/src/scale.test.ts
  packages/wiggle-core/src/scale.ts
  plugins/gwas/src/LinearManhattanDisplay/configSchemaFactory.ts
  plugins/marks/src/LinearMarkDisplay/markPlot.ts
  plugins/marks/src/LinearMarkDisplay/markProblems.test.ts
  plugins/marks/src/LinearMarkDisplay/markProblems.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  products/jbrowse-cli/src/commands/validate/markDisplays.test.ts
  products/jbrowse-cli/src/commands/validate/markRules/colorScale.ts
  products/jbrowse-cli/src/commands/validate/markRules/markProblems.ts
  website/docs/config_guides/mark_display.md
Due: prettier --write, eslint --fix

A settings bag refuses a namespace whole before any member lands
  packages/core/src/configuration/getConf.ts
  packages/core/src/configuration/setConfPath.test.ts
Due: prettier --write, eslint --fix

A null member resets a frozen slot on the snapshot path too
  agent-docs/architecture-decision-records/adr-146-null-is-the-json-spelling-of-a-slot-reset.md
  packages/core/src/configuration/configurationSchema.test.ts
  packages/core/src/configuration/configurationSchema.ts
  packages/core/src/configuration/schemaRegistry.ts
  packages/core/src/configuration/snapshotPreprocess.ts
Due: prettier --write, eslint --fix

jbrowse validate checks a loose track's displayDefaults, and the schema test walks every config
  products/jbrowse-cli/src/commands/validate/schemaValidate.test.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.test.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.ts
  test_data/config_synteny_grape_peach.json
Due: prettier --write, eslint --fix

A quantitative display's rows field is an enum of source alone
  plugins/wiggle/src/LinearWiggleDisplay/configSchema.ts
  plugins/wiggle/src/LinearWiggleDisplay/rowsConfig.test.ts
  plugins/wiggle/src/MultiQuantitativeTrack/displaySchema.ts
  plugins/wiggle/src/shared/checkRowsField.ts
Due: prettier --write, eslint --fix

A v4 pileup sort carries into sortedBy
  agent-docs/architecture-decision-records/adr-168-a-retired-display-is-declared-on-its-successor.md
  plugins/alignments/src/LinearAlignmentsDisplay/retired.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/retired.ts
Due: prettier --write, eslint --fix

jb2export seeds a marks.N.* write from the list drawn, defaulted or not
  products/jbrowse-img/src/applyTrackOpts.ts
Due: prettier --write, eslint --fix

A facet or rows field the display's own aggregate drops is named
  plugins/marks/src/LinearMarkDisplay/markProblems.test.ts
  plugins/marks/src/LinearMarkDisplay/markProblems.ts
  products/jbrowse-cli/src/commands/validate/markRules/markProblems.ts
Due: prettier --write, eslint --fix

QuantitativeRows lives in its own file, so both config pages generate
  plugins/wiggle/src/LinearWiggleDisplay/configSchema.ts
  plugins/wiggle/src/MultiQuantitativeTrack/displayDefaults.test.ts
  plugins/wiggle/src/MultiQuantitativeTrack/displaySchema.ts
  plugins/wiggle/src/shared/quantitativeRowsConfigSchema.ts
Due: prettier --write, eslint --fix

Regenerate the schema, manifest, config pages and bundle sizes for the audit fixes
  packages/wiggle-core/README.md
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
  website/docs/api/wiggle-core.md
  website/docs/config/LinearManhattanDisplay.md
  website/docs/config/LinearWiggleDisplay.md
  website/docs/config/QuantitativeRows.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

The audit handoff lists what is still open, and the wiggle reference names the rows enum
  agent-docs/handoffs/grammar-release-audit-2026-10-07.md
  agent-docs/reference/WIGGLE_DISPLAY.md
Due: prettier --write

Paper read-evidence figures: long reads grouped by split read, paired track shows discordant pairs only
  website/scripts/specs/paper-sv-reads.ts
Due: prettier --write, eslint --fix

Paper read-evidence figures: shorter tracks
  website/scripts/specs/paper-sv-reads.ts
Due: prettier --write, eslint --fix

Split-read arc labels name the junction type: deletion-type, duplication-type, inversion LL-type and RR-type
  agent-docs/reference/ALIGNMENTS_COLOR_PARITY.md
  plugins/alignments/src/features/arcs/arcSplitCategory.test.ts
  plugins/alignments/src/features/arcs/arcSplitCategory.ts
Due: prettier --write, eslint --fix

Paper read-evidence figures re-rendered with the junction-type labels
  figures.lock
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Alignments: a section reserves room under its last row for dipping read connectors
  packages/sv-core/src/discordantDip.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupComponent.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/pileupBezierArcs.ts
  plugins/alignments/src/LinearAlignmentsDisplay/lanes.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/sectionLayout.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/sectionLayout.ts
  plugins/alignments/src/features/linkedReads/computeOverlay.test.ts
  plugins/alignments/src/features/linkedReads/computeOverlay.ts
Due: prettier --write, eslint --fix

HG008-T junction figures: the SV tutorial and the paper draw from one spec
  figures.lock
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/scripts/specs/cgiab-junction.ts
  website/scripts/specs/paper-sv.ts
  website/scripts/specs/sv.ts
  website/scripts/specs/synteny.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

chore: pre-push autofix
  website/scripts/long-captions.txt
Due: none

Paper read-evidence figures: band labels, short reads as a coverage-and-arcs track over a discordant-pairs track, app bar hidden
  figures.lock
  website/scripts/specs/paper-sv-reads.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Alignments: re-export ArcCategory to fix TS2883 in LGVSyntenyDisplay
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
Due: prettier --write, eslint --fix

A gutter draws only what its source states: a star's lanes read against the anchor
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/LaneHeaders.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/SvgLaneHeaders.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/composeAlignmentOps.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/composeAlignmentOps.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/composeLaneLinks.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/composeLaneLinks.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneHeader.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/legend.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/legend.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/menus.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/menus.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/renderSvg.test.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/starChain.test.ts
  website/docs/tutorials/genomes_synteny.md
  website/docs/tutorials/hg38_vertebrates_synteny.md
  website/scripts/probe-multiway-gutters.ts
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

Regenerate model docs for the anchor-relative gutter getters
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write

Reshoot the five figures whose lanes now read against the anchor
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
  figures.lock
Due: prettier --write

A display refuses a key it does not declare (ADR-214)
  agent-docs/architecture-decision-records/adr-171-a-displays-retired-spellings-are-one-declaration.md
  agent-docs/architecture-decision-records/adr-214-a-display-refuses-a-key-it-does-not-declare.md
  example-plugins/score-example/src/LinearScoreDisplay/configSchema.ts
  packages/core/src/configuration/configurationSchema.ts
  packages/core/src/configuration/getConf.ts
  packages/core/src/configuration/snapshotPreprocess.ts
  packages/core/src/pluggableElementTypes/DisplayType.test.ts
  packages/core/src/pluggableElementTypes/DisplayType.ts
  packages/display-kit/src/configSchema.ts
  plugins/alignments/src/index.ts
  plugins/canvas/src/LinearBasicDisplay/migrateBasicSnapshot.ts
  plugins/circular-view/src/ChordSyntenyDisplay/models/configSchema.ts
  plugins/circular-view/src/ChordVariantDisplay/models/configSchema.ts
  plugins/dotplot-view/src/DotplotDisplay/configSchema.ts
  plugins/hic/src/LinearHicDisplay/configSchema.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/configSchemaF.ts
  plugins/marks/src/LinearMarkDisplay/configSchema.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/configSchema.ts
  plugins/variants/src/LDDisplay/configSchemaLDTrack.ts
  plugins/wiggle/src/LinearWiggleDisplay/configSchema.ts
  products/jbrowse-cli/src/commands/validate/index.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.ts
  website/docs/developer_guides/configuration_schema.md
Due: prettier --write, eslint --fix

Test fixture displays declare closed schemas, and the generated artifacts follow ADR-214
  agent-docs/architecture-decision-records/README.md
  packages/core/src/PluginManager.test.ts
  packages/core/src/configuration/setConfPath.test.ts
  packages/core/src/pluggableElementTypes/extendElementType.test.ts
  packages/core/src/pluggableElementTypes/models/baseTrackConfigAliasDedup.test.ts
  packages/core/src/pluggableElementTypes/models/displayAdapterCapabilities.test.ts
  packages/core/src/pluggableElementTypes/models/expandTrackConfigShorthandE2e.test.ts
  packages/core/src/pluggableElementTypes/models/exportGetters.test.ts
  packages/core/src/pluggableElementTypes/models/shorthandRetiredRouting.test.ts
  packages/product-core/src/sessionMigrations/sessionMigrations.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackContainer.test.tsx
  plugins/linear-genome-view/src/LinearGenomeView/displayPickFedByAdapter.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/useViewSvgFigure.test.tsx
  plugins/marks/src/LinearMarkDisplay/quantitativeTrackRows.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/configSchema.test.ts
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  scripts/registryBundleSizes.json
  website/docs/cli.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix
