Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

docs(toolkit): the session split, with the numbers and the two costs it found
  agent-docs/ideas/barrels-block-extraction.md
  agent-docs/ideas/lightweight-toolkit.md
  packages/core/package.json
  packages/sv-core/README.md
  plugins/linear-genome-view/src/shared/regionTooLargeUtils.ts
  scripts/moduleClosure.test.ts
  scripts/moduleClosure.ts
  website/docs/api/sv-core.md
  website/docs/developer_guides/extension_points.md
  website/docs/developer_guides/menus.md
  website/docs/developer_guides/theming.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
Due: prettier --write, eslint --fix

fix(docs): the batched-fetch include and the formatter agree on one line
  plugins/maf/src/LinearMafDisplay/fetchMafData.ts
Due: prettier --write, eslint --fix

docs: regenerate the batched-fetch include off the split line
  website/docs/developer_guides/data_fetching.md
Due: prettier --write

test: the theme ripple change's snapshot and lint fallout
  packages/core/src/BaseFeatureWidget/__snapshots__/index.test.tsx.snap
  plugins/alignments/src/AlignmentsFeatureDetail/__snapshots__/index.test.tsx.snap
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/data-management/src/AddConnectionWidget/components/__snapshots__/AddConnectionWidget.test.tsx.snap
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.tsx.snap
  plugins/variants/src/VariantFeatureWidget/__snapshots__/VariantFeatureWidget.test.tsx.snap
  products/jbrowse-web/browser-tests/probe-sticky-chrome.ts
Due: prettier --write, eslint --fix

test: the menus AboutWidget snapshot follows the ripple change too
  plugins/menus/src/AboutWidget/components/__snapshots__/AboutWidget.test.tsx.snap
Due: none

fix(svg export): half an hour, and say why it is elapsed rather than idle
  packages/core/src/svg/svgReady.test.ts
  packages/core/src/svg/svgReady.ts
Due: prettier --write, eslint --fix

test(canvas): probe the isoform lane division on real human annotation
  products/jbrowse-web/browser-tests/probe-stacked-gene-labels.ts
Due: prettier --write, eslint --fix

[skip ci] Update docs
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  website/docs/models/LinearManhattanDisplay.md
Due: prettier --write

feat(docs): a from: marker takes a python or r fence, not only bash
  website/docs/tutorials/dtu.md
  website/scripts/callArguments.test.ts
  website/scripts/callArguments.ts
  website/scripts/check-script-commands.ts
Due: prettier --write, eslint --fix

fix(docs): a marked fence pins its subcommand, and a brace group is not a tool
  website/docs/tutorials/local_ancestry.md
  website/scripts/shellCommands.test.ts
  website/scripts/shellCommands.ts
Due: prettier --write, eslint --fix

docs(tutorials): mark the 25 fences their build script already runs
  website/docs/tutorials/CLAUDE.md
  website/docs/tutorials/bisulfite.md
  website/docs/tutorials/bxd_qtl.md
  website/docs/tutorials/cancer_sv.md
  website/docs/tutorials/dog10k_lof.md
  website/docs/tutorials/dog10k_svs.md
  website/docs/tutorials/orthofinder_synteny.md
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/shellCommands.ts
Due: prettier --write, eslint --fix

docs(pangenome_hprc): show the minigraph --call the carriage lane is built by
  website/docs/tutorials/pangenome_hprc.md
Due: prettier --write

feat(docs): ratchet the tutorials that show no command from their build script
  scripts/check-docs.ts
  website/docs/tutorials/CLAUDE.md
  website/docs/tutorials/scrna_pseudobulk.md
  website/package.json
  website/scripts/check-unshown-tools.ts
  website/scripts/unshown-tools.txt
Due: prettier --write, eslint --fix

docs(scatac): mark the export_coverage fence, and stop passing a blacklist in it
  website/docs/tutorials/scatac_pseudobulk.md
Due: prettier --write

docs(hic): show the dump the translocation scan is built on
  website/docs/tutorials/hic_structural_variants.md
  website/scripts/check-unshown-tools.ts
  website/scripts/unshown-tools.txt
Due: prettier --write, eslint --fix

docs(mappability_qc): show the bigWigToBedGraph behind the Umap number
  website/docs/tutorials/mappability_qc.md
Due: prettier --write

fix(docs): a marked fence pins the helper python runs, not python
  website/scripts/shellCommands.test.ts
  website/scripts/shellCommands.ts
Due: prettier --write, eslint --fix

[skip ci] fix(docs): fail a from: marker the parser finds no command under
  website/docs/tutorials/CLAUDE.md
  website/scripts/check-script-commands.ts
Due: prettier --write, eslint --fix

fix(screenshots): build the esm/ jb2export renders from, before the sweep
  products/jbrowse-img/src/integrationResolve.mjs
  products/jbrowse-img/src/resolve.test.ts
  products/jbrowse-img/src/resolve.ts
  website/scripts/generate-screenshots.ts
Due: prettier --write, eslint --fix

fix(docs): point the ratchet list at where it lives, and exempt a plink2 modifier
  scripts/build_ag1000g_ld.sh
  website/docs/tutorials/CLAUDE.md
Due: prettier --write

test(canvas): probe the TP53 fit-drag the sizing example shows
  products/jbrowse-web/browser-tests/probe-tp53-fit-drag.ts
Due: prettier --write, eslint --fix

refactor: drop the scroll-to-zoom prompt; the header carries the words
  packages/core/package.json
  packages/core/src/ui/ScrollZoomHint.tsx
  packages/core/src/ui/ScrollZoomToggle.tsx
  packages/core/src/ui/scrollZoomLabels.ts
  packages/core/src/util/types/index.ts
  packages/core/src/util/usePanZoom.test.tsx
  packages/core/src/util/usePanZoom.ts
  packages/core/src/util/useScrollZoomHint.test.tsx
  packages/core/src/util/wheelZoom.test.ts
  packages/core/src/util/wheelZoom.ts
  packages/product-core/src/Session/BaseSession.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/LevelSyntenyCanvas.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/useWheelScrollZoom.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeViewContainer.tsx
  products/jbrowse-build-your-own/examples-site/src/docs/pan-and-zoom.md
  products/jbrowse-build-your-own/examples-site/src/examples/PanAndZoom.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/Scalebar.tsx
  products/jbrowse-web/browser-tests/probe-a11y-focus.ts
  products/jbrowse-web/browser-tests/probe-hint-zones.ts
  products/jbrowse-web/browser-tests/probe-scrollzoom.ts
  products/jbrowse-web/src/sessionModel/sessionModelFactory.test.ts
  website/docs/models/BaseSessionModel.md
  website/docs/models/BaseWebSessionModel.md
  website/docs/models/EmbeddedSessionMixin.md
  website/docs/models/EmbeddedSessionThemeMixin.md
  website/docs/models/JBrowseDesktopSessionModel.md
  website/docs/models/JBrowseReactCircularGenomeViewSessionModel.md
  website/docs/models/JBrowseReactLinearGenomeViewSessionModel.md
  website/docs/models/JBrowseWebSessionModel.md
  website/docs/models/MultipleViewsSessionMixin.md
  website/docs/models/PreferencesSessionMixin.md
  website/docs/models/SessionTracksManagerSessionMixin.md
  website/docs/models/TracksManagerSessionMixin.md
Due: prettier --write, eslint --fix

fix(hic): the hover tooltip takes loci, not the payload they came from
  plugins/hic/src/LinearHicDisplay/components/ReactComponent.tsx
Due: prettier --write, eslint --fix

perf(hic): index contacts by tile, not by a hash keyed on recovered bins
  plugins/hic/benches/contactTable.bench.ts
  plugins/hic/src/LinearHicDisplay/contactLookup.test.ts
  plugins/hic/src/LinearHicDisplay/contactLookup.ts
Due: prettier --write, eslint --fix

test(autoruns): state an autorun's dependency set as a value
  agent-docs/ARCHITECTURE.md
  agent-docs/reference/GPU_RENDERING.md
  agent-docs/reference/TEST_INFRASTRUCTURE.md
  agent-docs/todo/gate-a-reaction-that-reads-no-observable.md
  packages/core/src/util/leadingEdgeAutorun.ts
  packages/render-core/package.json
  packages/render-core/src/RenderLifecycleMixin.test.ts
  packages/render-core/src/RenderLifecycleMixin.ts
  packages/render-core/src/__snapshots__/publicApi.test.ts.snap
  packages/render-core/src/namedReactions.test.ts
  packages/render-core/src/namedReactions.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/CLAUDE.md
  plugins/linear-genome-view/src/BaseLinearDisplay/models/displayAutoruns.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/installPerRegionFetchAutoruns.test.ts
Due: prettier --write, eslint --fix

fix(fetch): untracked has two grounds, and a perf guard is not one
  agent-docs/ARCHITECTURE.md
  packages/render-core/src/installPerRegionLifecycle.ts
  plugins/alignments/src/LinearAlignmentsDisplay/fetchAutorun.test.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/installPerRegionFetchAutoruns.test.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/installPerRegionFetchAutoruns.ts
Due: prettier --write, eslint --fix

fix(arc): declare the rxjs its feature RPC imports
  plugins/arc/package.json
  pnpm-lock.yaml
Due: none

test(region too large): the banner's scope is the display, not the region
  agent-docs/TODO.md
  agent-docs/todo/per-region-banner-for-a-mixed-region-set.md
  plugins/linear-genome-view/src/shared/multiRegionBannerScope.test.ts
Due: prettier --write, eslint --fix

test(embedded): the circular view's snapshot follows the ripple and header changes
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/__snapshots__/JBrowseCircularGenomeView.test.tsx.snap
Due: none

lint: a bare untracked names its ground, and there are three
  agent-docs/ARCHITECTURE.md
  agent-docs/reference/REJECTED_IDEAS.md
  agent-docs/todo/gate-a-reaction-that-reads-no-observable.md
  eslint.config.mjs
  packages/core/src/assemblyManager/assemblyManager.ts
  packages/core/src/pluggableElementTypes/models/assertDisplayContract.ts
  packages/core/src/util/installFetch.ts
  packages/core/src/util/tracks.ts
  packages/product-core/src/observeSession.ts
  plugins/canvas/src/LinearBasicDisplay/yMorphViews.ts
  plugins/dotplot-view/src/DotplotDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/installAutoFadeLatch.ts
  plugins/linear-comparative-view/src/SyntenyFollow/followDebug.ts
  plugins/linear-comparative-view/src/SyntenyFollow/installSyntenyFollow.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/MultiRegionDisplayMixin.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/installGlobalFetchAutorun.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/installPerRegionFetchAutoruns.ts
Due: prettier --write, eslint --fix

test(jbrowse-web): the slot-defaults snapshot catches up with today's schemas
  products/jbrowse-web/src/tests/__snapshots__/ConfigSlotDefaults.test.ts.snap
Due: none

test(jbrowse-web): reach the legend rows these two displays gate
  products/jbrowse-web/src/tests/PromotablePinCoverage.test.ts
Due: prettier --write, eslint --fix

docs(abi): file the dependency-range hole, and record the sweep that closed seven
  agent-docs/ideas/README.md
  agent-docs/ideas/a-dependency-bump-is-an-abi-event.md
  agent-docs/reference/PLUGIN_ABI_STABILITY.md
Due: prettier --write

fix(plugins): seven extension points reach the plugins they exist for
  plugins/breakpoint-split-view/src/index.ts
  plugins/circular-view/src/index.ts
  plugins/data-management/src/index.ts
  plugins/dotplot-view/src/index.ts
  plugins/linear-comparative-view/src/index.ts
  plugins/spreadsheet-view/src/index.ts
  plugins/sv-inspector/src/index.ts
Due: prettier --write, eslint --fix

test(abi): gate extension-point reachability on the emitted declarations
  .github/workflows/push.yml
  package.json
  scripts/check-extension-point-reachability.ts
Due: prettier --write, eslint --fix

refactor(autoruns): recording a reaction is not a second thing to remember
  agent-docs/ARCHITECTURE.md
  agent-docs/reference/TEST_INFRASTRUCTURE.md
  packages/core/src/util/leadingEdgeAutorun.ts
  packages/render-core/src/RenderLifecycleMixin.ts
  packages/render-core/src/namedReactions.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/displayAutoruns.ts
Due: prettier --write, eslint --fix

docs(plugins): the seven re-exports point at their gate rather than restate it
  plugins/breakpoint-split-view/src/index.ts
  plugins/circular-view/src/index.ts
  plugins/data-management/src/index.ts
  plugins/dotplot-view/src/index.ts
  plugins/linear-comparative-view/src/index.ts
  plugins/spreadsheet-view/src/index.ts
  plugins/sv-inspector/src/index.ts
Due: prettier --write, eslint --fix

perf(hic): the cursor's own cell screens the tile before any bin is recovered
  plugins/hic/benches/contactTable.bench.ts
  plugins/hic/src/LinearHicDisplay/contactLookup.ts
Due: prettier --write, eslint --fix

chore(docs): regenerate the model docs and snippets the untracked work left stale
  website/docs/developer_guides/mst_patterns.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearMafDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/LinearReferenceSequenceDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/MultiRegionDisplayMixin.md
  website/docs/models/MultiSampleVariantBaseModel.md
  website/docs/models/SharedGCContentModel.md
Due: prettier --write

docs(untracked): the rule the lint message cites is a heading, and its count is gone
  agent-docs/ARCHITECTURE.md
  eslint.config.mjs
Due: prettier --write
