Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

feat(core): the add-genome pane takes a .chrom.sizes, and says what it costs
  packages/core/src/ui/AddGenomePane.test.tsx
  packages/core/src/ui/AddGenomePane.tsx
  packages/core/src/ui/SequenceAdapterInputs.tsx
  packages/core/src/util/assemblyConfigUtils.test.ts
  packages/core/src/util/assemblyConfigUtils.ts
Due: prettier --write, eslint --fix

docs(desktop): the quickstart lists the chrom.sizes genome format
  website/docs/quickstart_desktop.md
Due: prettier --write

feat(scripts): build_orthofinder_synteny takes a manifest of your own genomes
  scripts/build_orthofinder_synteny.sh
Due: none

docs(synteny): the OrthoFinder tutorial says how to run it on your own genomes
  website/docs/tutorials/orthofinder_synteny.md
Due: prettier --write

docs(synteny): plainer sentences in the own-genomes section
  scripts/build_orthofinder_synteny.sh
  website/docs/tutorials/orthofinder_synteny.md
Due: prettier --write

test(desktop): the chrom.sizes genome is pinned at the dialog's own seam
  products/jbrowse-desktop/src/components/OpenSequenceDialog.test.tsx
Due: prettier --write, eslint --fix

docs(adr): the shape-composes-a-scale plan closes into ADR-095
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-094-colour-cardinality-is-one-channel-not-four-shapes.md
  agent-docs/architecture-decision-records/adr-095-a-shape-composes-a-scale-at-compile-time.md
  agent-docs/ideas/README.md
  agent-docs/ideas/a-shape-composes-a-scale.md
  agent-docs/reference/DISPLAY_COMPLEXITY_CENSUS.md
  agent-docs/reference/SESSION_SPEC_FORMAT.md
  plugins/wiggle/src/shared/densityColorParity.test.ts
  plugins/wiggle/src/shared/gpuWiggleRenderer.test.ts
Due: prettier --write, eslint --fix

refactor(maf): the band stack is one fold
  packages/core/README.md
  packages/core/package.json
  plugins/maf/src/LinearMafDisplay/components/MafConservationBand.tsx
  plugins/maf/src/LinearMafDisplay/components/MafCoverageBand.tsx
  plugins/maf/src/LinearMafDisplay/renderSvg.tsx
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/maf/src/LinearMafDisplay/topBands.test.ts
  website/docs/api/core-util.md
  website/docs/models/LinearMafDisplay.md
Due: prettier --write, eslint --fix

feat(core): the band contract is a type, and the fold is its one consumer surface
  packages/core/src/util/bandLayout.test.ts
  packages/core/src/util/bandLayout.ts
Due: prettier --write, eslint --fix

refactor(variants): variantTopBandsGeometry builds on the shared band fold
  plugins/variants/src/shared/variantTopBands.ts
Due: prettier --write, eslint --fix

refactor(alignments): the paint and pick payloads carry the reserved coverage height, not a flag beside a raw one
  plugins/alignments/src/LinearAlignmentsDisplay/components/hitTestPipeline.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/hitTestPipeline.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/useAlignmentsBase.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/Canvas2DAlignmentsRenderer.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/GpuAlignmentsRenderer.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/interbaseNeedsCoverage.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/rendererTypes.ts
  plugins/alignments/src/LinearAlignmentsDisplay/sectionLayout.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/sectionLayout.ts
  plugins/alignments/src/LinearAlignmentsDisplay/testUtils.ts
  plugins/alignments/src/features/coverage/hitTest.test.ts
  plugins/alignments/src/features/coverage/hitTest.ts
  plugins/alignments/src/features/indicator/hitTest.test.ts
  plugins/alignments/src/features/indicator/hitTest.ts
Due: prettier --write, eslint --fix

refactor(alignments): the band stack folds through the shared contract, and the pre-gate dies
  plugins/alignments/src/LinearAlignmentsDisplay/sectionLayout.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/sectionLayout.ts
Due: prettier --write, eslint --fix

docs(adr): the band contract closes into ADR-096, and ideas/ empties of the display-grammar plan
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-091-a-displays-settings-are-a-declaration.md
  agent-docs/architecture-decision-records/adr-096-a-bands-contract-is-a-type-its-allocator-is-a-function.md
  agent-docs/ideas/README.md
  agent-docs/ideas/one-declaration-per-display-band.md
  agent-docs/mechanisms/feature-band-consumers.md
  agent-docs/reference/SHADER_SHAPE_LIBRARY.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write

test(alignments): the fixtures follow the payload — coverage off is a 0px band
  plugins/alignments/src/LinearAlignmentsDisplay/components/chainOverlayUtils.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/coverageParity.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/sharedRowHitTests.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/canvasCoverageLayers.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/clipBalance.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/coverageBandUboParity.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/hitTestGateParity.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/reversedMirror.test.ts
  plugins/alignments/src/features/clip/drawCanvas.test.ts
  plugins/alignments/src/features/mismatch/drawCanvas.test.ts
  plugins/alignments/src/features/snpCoverage/frequencyFloor.test.ts
Due: prettier --write, eslint --fix

style(core): bandLayout imports carry their .ts extensions
  packages/core/src/util/bandLayout.test.ts
  packages/core/src/util/bandLayout.ts
Due: prettier --write, eslint --fix

feat(scripts): a manifest can name an alias source, so it is not accession-blind
  scripts/build_orthofinder_synteny.sh
  website/docs/tutorials/orthofinder_synteny.md
Due: prettier --write

docs(todo): drop the midnight-primary entry — measured, and it is not there
  agent-docs/TODO.md
  agent-docs/todo/midnight-primary-is-invisible-on-the-dark-stock-ground.md
Due: prettier --write

docs(rejected): PileupMark does not lift to a second display type — measured at the census
  agent-docs/ideas/one-mark-declaration-per-feature.md
  agent-docs/reference/REJECTED_IDEAS.md
Due: prettier --write

docs(adr-097): the y channel shares its scale and not its anchor
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-097-the-y-channel-shares-its-scale-and-not-its-anchor.md
  agent-docs/reference/REJECTED_IDEAS.md
  agent-docs/reference/SHADER_SHAPE_LIBRARY.md
  packages/alignments-core/src/coverageBandLayoutParity.test.ts
Due: prettier --write, eslint --fix

feat(scripts): gffread derives the proteome, so a manifest takes a genome
  scripts/build_orthofinder_synteny.sh
  website/docs/tutorials/orthofinder_synteny.md
Due: prettier --write

docs(synteny): gffread is a prerequisite of the OrthoFinder page
  website/docs/tutorials/orthofinder_synteny.md
  website/scripts/check-prereq-tools.ts
Due: prettier --write, eslint --fix

fix(scripts): derive_proteome deletes the genome it decompressed
  scripts/build_orthofinder_synteny.sh
  website/docs/tutorials/orthofinder_synteny.md
Due: prettier --write

docs(synteny): say why the proteome column exists, which is the 26 genomes
  scripts/build_orthofinder_synteny.sh
  website/docs/tutorials/orthofinder_synteny.md
Due: prettier --write

New idea
  agent-docs/ideas/custom-assembly-selector.md
Due: prettier --write

refactor(alignments): a `point` mark shape, and insertion and clip come off it
  packages/alignments-core/src/index.ts
  packages/alignments-core/src/labelConstants.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/Canvas2DAlignmentsRenderer.ts
  plugins/alignments/src/features/clip/drawCanvas.test.ts
  plugins/alignments/src/features/clip/drawCanvas.ts
  plugins/alignments/src/features/clip/hitTest.ts
  plugins/alignments/src/features/clip/mark.ts
  plugins/alignments/src/features/clip/packGpu.ts
  plugins/alignments/src/features/gap/mark.ts
  plugins/alignments/src/features/gap/packGpu.ts
  plugins/alignments/src/features/insertion/drawCanvas.ts
  plugins/alignments/src/features/insertion/hitTest.ts
  plugins/alignments/src/features/insertion/mark.ts
  plugins/alignments/src/features/insertion/packGpu.ts
  plugins/alignments/src/features/mark.ts
  plugins/alignments/src/features/perBaseLetter/markParity.test.ts
  plugins/alignments/src/shared/uploadTypes.ts
Due: prettier --write, eslint --fix

test(alignments): the point marks get their draw-against-hit and pack-against-draw gates
  plugins/alignments/src/features/clip/markParity.test.ts
  plugins/alignments/src/features/insertion/markParity.test.ts
Due: prettier --write, eslint --fix

docs(ideas): the point shape landed, and the tolerance was two rules not one
  agent-docs/ideas/one-mark-declaration-per-feature.md
  plugins/alignments/src/CLAUDE.md
  plugins/alignments/src/features/clip/markParity.test.ts
Due: prettier --write, eslint --fix

docs: regenerate the ideas index for the point-shape description
  agent-docs/ideas/README.md
Due: prettier --write

chore: pre-push autofix
  agent-docs/ideas/README.md
Due: prettier --write

fix(render-core): a ramp sample lands entry i on its own texel
  packages/core/src/util/colorRamp.ts
  packages/render-core/package.json
  packages/render-core/src/colorRampLut.ts
  packages/render-core/src/shaders/colorRampLut.generated.ts
  packages/render-core/src/shaders/colorRampLut.slang
  plugins/hic/src/LinearHicDisplay/components/shaders/hic.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldGenomic.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldUniform.generated.ts
  plugins/wiggle/src/shared/densityColorParity.test.ts
Due: prettier --write, eslint --fix

fix(wiggle): a density row is the shader's band, floored and centered
  plugins/wiggle/src/shared/Canvas2DWiggleRenderer.test.ts
  plugins/wiggle/src/shared/wiggleDrawFunctions.ts
Due: prettier --write, eslint --fix

fix(alignments): a cell packer walks the slice it sized the buffer for
  plugins/alignments/src/features/mismatch/packGpu.ts
  plugins/alignments/src/features/perBaseLetter/packGpu.ts
  plugins/alignments/src/features/perBaseQuality/packGpu.ts
  plugins/alignments/src/features/softclipBases/packGpu.ts
Due: prettier --write, eslint --fix

perf: drop an LD gate that cannot fire, and a bisection nothing reads
  packages/render-core/src/canvas2dUtils.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/variants/src/LDDisplay/components/Canvas2DLDRenderer.ts
Due: prettier --write, eslint --fix

docs(gpu): the ramp width is aaPx, and the build now enforces it
  agent-docs/reference/GPU_RENDERING.md
Due: prettier --write

refactor: say it in the names, not in a comment that contrasts
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/render-core/src/canvas2dUtils.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/gwas/src/LinearManhattanDisplay/GpuManhattanRenderer.ts
  plugins/gwas/src/LinearManhattanDisplay/shaders/manhattan.generated.ts
  plugins/gwas/src/LinearManhattanDisplay/shaders/manhattan.slang
  plugins/variants/src/LDDisplay/components/Canvas2DLDRenderer.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/shaders/variant.generated.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/shaders/variant.slang
  plugins/wiggle/src/shared/wiggleDrawFunctions.ts
Due: prettier --write, eslint --fix

fix(alignments): a modification hover answers the base under the cursor
  plugins/alignments/src/features/modification/hitTest.test.ts
  plugins/alignments/src/features/modification/hitTest.ts
Due: prettier --write, eslint --fix

fix(alignments,maf): bound a stated band height, and scissor coverage to its band
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/sectionLayout.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/sectionLayout.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  products/jbrowse-web/src/tests/__image_snapshots__/breakpoint_split_view_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_gridlines_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgBreakpointSplitView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgLinearGenomeView.test.tsx.snap
Due: prettier --write, eslint --fix

fix(shader-tools): the eslint backstop's two rules on the new dpr gate
  packages/shader-tools/src/shader-codegen/assertDprDeclared.test.ts
  packages/shader-tools/src/shader-codegen/assertDprDeclared.ts
  products/jbrowse-web/src/tests/__image_snapshots__/alignments_vector_snapshot.svg
Due: prettier --write, eslint --fix

chore: regenerate the model docs for the two statedBandBounds getters
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearMafDisplay.md
Due: prettier --write
