Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor(website): dial down the genome hubs section
  website/src/components/HomePage.astro
Due: none

feat(synteny): outline the hovered tile on hover; ribbon-draw cleanups
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/Canvas2DSyntenyRenderer.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/Canvas2DSyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/GpuSyntenyRenderer.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/GpuSyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyTypes.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/syntenyRenderingBackendTypes.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/syntenyColors.ts
Due: prettier --write, eslint --fix

docs(tutorials): split developer/admin pages into their own section
  website/docs/tutorials/cli_desktop.md
  website/docs/tutorials/embed_linear_genome_view.md
  website/src/pages/docs/tutorials/index.astro
Due: prettier --write

docs(tutorials): add a live embedded-component examples card
  website/src/pages/docs/tutorials/index.astro
  website/static/img/tutorial-thumbs/embedding_examples.webp
Due: none

revert(synteny): drop the hover-tile outline; keep ribbon-draw cleanups
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/Canvas2DSyntenyRenderer.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/Canvas2DSyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/GpuSyntenyRenderer.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/GpuSyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyTypes.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/syntenyRenderingBackendTypes.ts
Due: prettier --write, eslint --fix

docs(tutorials): point intro at the tutorials page, refresh lead copy
  website/docs/introduction.md
  website/src/pages/docs/tutorials/index.astro
Due: prettier --write

fix(synteny): correct coarse-tier identity and LOD tier selection for PIF
  plugins/comparative-adapters/src/AllVsAllIndexedPAFAdapter/AllVsAllIndexedPAFAdapter.ts
  plugins/comparative-adapters/src/PairwiseIndexedPAFAdapter/PairwiseIndexedPAFAdapter.ts
  plugins/comparative-adapters/src/util.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/executeSyntenyFeaturesAndPositions.ts
  products/jbrowse-cli/src/commands/make-pif/cigar-utils.test.ts
  products/jbrowse-cli/src/commands/make-pif/cigar-utils.ts
  products/jbrowse-cli/src/commands/make-pif/index.test.ts
  products/jbrowse-cli/src/commands/make-pif/index.ts
  products/jbrowse-cli/src/commands/make-pif/pif-generator.ts
Due: prettier --write, eslint --fix

fix(region-too-large): harden the byte/density gate and share it across displays
  agent-docs/reference/REGION_TOO_LARGE.md
  plugins/arc/src/LinearArcDisplay/model.ts
  plugins/arc/src/LinearPairedArcDisplay/model.ts
  plugins/arc/src/shared/fetchArcFeatures.test.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/fetchAutorun.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/derivedRegionTooLarge.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/fetchMultiRowFeatures.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/executeMultiRowGetFeatures.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/rpcTypes.ts
  plugins/canvas/src/shared/CanvasFeatureGateMixin.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/index.ts
  plugins/linear-genome-view/src/index.ts
  plugins/linear-genome-view/src/shared/RegionTooLargeMixin.tsx
  plugins/linear-genome-view/src/shared/featureDensityUtils.test.ts
  plugins/linear-genome-view/src/shared/featureDensityUtils.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/variants/src/LDDisplay/derivedRegionTooLarge.test.ts
  plugins/variants/src/LDDisplay/shared.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/derivedRegionTooLarge.test.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
Due: prettier --write, eslint --fix

feat(synteny): add 'auto' fade-thin mode driven by on-screen density
  plugins/linear-comparative-view/src/LinearComparativeView/components/SyntenySettingsPopover.tsx
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/types.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/util/initHelpers.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/util/initHelpers.ts
Due: prettier --write, eslint --fix

docs(synteny): reference note on PIF LOD tiers and the density bottleneck
  agent-docs/reference/SYNTENY_LOD.md
Due: prettier --write

fix(synteny): align settings popover controls in a shared grid
  packages/synteny-core/src/HelpTooltip.tsx
  packages/synteny-core/src/SettingCheckbox.tsx
  packages/synteny-core/src/SettingRow.tsx
  packages/synteny-core/src/SettingToggleGroup.tsx
  packages/synteny-core/src/SettingsPopover.tsx
  packages/synteny-core/src/index.ts
  plugins/dotplot-view/src/DotplotView/components/DotplotSettingsPopover.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/components/SyntenySettingsPopover.tsx
Due: prettier --write, eslint --fix

refactor(region-too-large): derive the gate opt-in, read force-load/limit from config
  agent-docs/reference/REGION_TOO_LARGE.md
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/arc/src/LinearArcDisplay/model.ts
  plugins/arc/src/LinearPairedArcDisplay/model.ts
  plugins/arc/src/shared/ArcFetchModel.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/CLAUDE.md
  plugins/linear-genome-view/src/BaseLinearDisplay/models/MultiRegionDisplayMixin.ts
  plugins/linear-genome-view/src/shared/RegionTooLargeMixin.tsx
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/variants/src/LDDisplay/shared.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
Due: prettier --write, eslint --fix

refactor(synteny): drop unused SettingCheckbox, label toggle groups
  packages/synteny-core/src/SettingCheckbox.tsx
  packages/synteny-core/src/SettingToggleGroup.tsx
  packages/synteny-core/src/index.ts
  plugins/linear-comparative-view/src/LinearComparativeView/components/SyntenySettingsPopover.tsx
Due: prettier --write, eslint --fix

docs(synteny): correct the LOD cost model with the measured fetch/parse split
  agent-docs/reference/SYNTENY_LOD.md
Due: prettier --write

refactor(region-too-large): migrate LinearBasicDisplay onto CanvasFeatureGateMixin
  agent-docs/reference/REGION_TOO_LARGE.md
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
Due: prettier --write, eslint --fix

docs(cookbook): fix config link, dedup jexlFilters note, link autogen slots; add drift-free Copy buttons to figure recipe dialogs
  website/CLAUDE.md
  website/docs/cookbook.md
  website/src/layouts/DocsLayout.astro
  website/src/lib/spec-recipe/html.ts
Due: prettier --write, eslint --fix

fix(website): collapse duplicate llms.txt '## General' headings
  website/src/lib/docs-sidebar.ts
  website/src/pages/llms.txt.ts
Due: prettier --write, eslint --fix

feat(website): orient llms.txt config sections for spidering agents
  website/src/pages/llms.txt.ts
Due: prettier --write, eslint --fix

docs(website): tighten llms.txt agent-facing notes, drop stale llms-full ref
  website/src/lib/docs-sidebar.ts
  website/src/pages/llms.txt.ts
Due: prettier --write, eslint --fix

refactor(core): delete unused RendererType pluggable base and its re-export
  packages/core/package.json
  packages/core/scripts/generateExports.mjs
  packages/core/src/ReExports/list.ts
  packages/core/src/ReExports/modules.ts
  packages/core/src/pluggableElementTypes/index.ts
  packages/core/src/pluggableElementTypes/renderers/RendererType.tsx
  packages/core/src/pluggableElementTypes/renderers/index.ts
  website/docs/developer_guides/imports_and_reexports.md
Due: prettier --write, eslint --fix

test(website): fail check-llms on duplicate llms.txt section headings
  website/scripts/check-llms.ts
Due: prettier --write, eslint --fix

docs(developer): note plotting guide is build-step only, clarify renderer term
  website/docs/developer_guides/plotting_features.md
  website/docs/developer_guides/renderer_architecture.md
Due: prettier --write

docs(synteny): ADR-039 — reject read-time binning, defer the make-pif binned tier
  agent-docs/README.md
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-039-synteny-no-read-time-binning.md
Due: prettier --write

docs(render-core): document per-view uniform offset maps
  packages/render-core/CLAUDE.md
Due: prettier --write

docs(developer): add live Manhattan-display figure to plotting guide
  website/docs/developer_guides/plotting_features.md
  website/scripts/figure-manifest.json
  website/static/img/gwas/manhattan.png
Due: prettier --write

refactor(region-too-large): drop stale contract fields left by the mixin migration
  agent-docs/reference/REGION_TOO_LARGE.md
  plugins/canvas/src/LinearBasicDisplay/components/FeatureComponent.tsx
Due: prettier --write, eslint --fix

docs(agents): point root CLAUDE.md at the agent-docs front door
  CLAUDE.md
Due: prettier --write

docs(pangenome): add odgi viz comparison + per-strain presence, harden build
  scripts/build_ecoli_pangenome_graph.sh
  website/docs/tutorials/pangenome.md
  website/scripts/figure-manifest.json
  website/scripts/specs/pangenome.ts
  website/static/img/pangenome/graph.png
Due: prettier --write, eslint --fix

refactor(region-too-large): let CanvasFeatureGateMixin own its chromosome-nav cleanup
  agent-docs/reference/REGION_TOO_LARGE.md
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/shared/CanvasFeatureGateMixin.ts
Due: prettier --write, eslint --fix

docs(developer): restore canonical manhattan.png for the plotting-guide figure
  website/static/img/gwas/manhattan.png
Due: none

fix(jbrowse-img): read CytobandAdapter from cytobandLocation slot; give node export an emotion cache
  packages/core/package.json
  packages/core/src/util/index.ts
  pnpm-lock.yaml
  products/jbrowse-img/data/volvox/volvox.cytoband.txt
  products/jbrowse-img/src/makeConfigs.test.ts
  products/jbrowse-img/src/makeConfigs.ts
  products/jbrowse-img/src/renderOptions.test.mjs
Due: prettier --write, eslint --fix

fix(region-too-large): byte-only gate for multi-row + width-based synteny auto-fade
  plugins/canvas/src/LinearMultiRowFeatureDisplay/derivedRegionTooLarge.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/shared/CanvasFeatureGateMixin.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/normalizeTrackInit.ts
  plugins/linear-genome-view/src/shared/RegionTooLargeMixin.tsx
Due: prettier --write, eslint --fix

Update snaps
  website/docs/tutorials/methylation.md
  website/scripts/screenshot-review.json
  website/scripts/specs/alignments.ts
  website/scripts/specs/ld.ts
  website/scripts/specs/methylation.ts
  website/scripts/specs/sv.ts
  website/scripts/specs/synteny.ts
  website/scripts/specs/trio.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/alignments/modifications2.png
  website/static/img/ld/lct_lactase.png
  website/static/img/methylation/arabidopsis_wgbs_contexts.png
  website/static/img/methylation/hg002_snrpn_allele_specific.png
  website/static/img/methylation/hg002_snrpn_combined.png
  website/static/img/methylation/hg002_snrpn_reads.png
  website/static/img/multiway_synteny/ecoli_stx_island.png
  website/static/img/sv_cgiab/driver_kras_gain.png
  website/static/img/track_menu.png
  website/static/img/trio-ancestry.png
Due: prettier --write, eslint --fix

fix(wiggle): clean red negColor default for bicolor tracks
  plugins/wiggle/src/shared/buildSourceRenderData.test.ts
  plugins/wiggle/src/shared/wiggleConfigSchemaFields.ts
  plugins/wiggle/src/util.ts
Due: prettier --write, eslint --fix

docs(screenshots): reframe trio-ancestry, drop modifications1, showOnlyGenes for NCBI RefSeq
  products/jbrowse-img/README.md
  products/jbrowse-img/img/1.png
  website/docs/jbrowse-img.md
  website/docs/tutorials/analyze_trio.md
  website/docs/user_guides/alignments_track.md
  website/scripts/screenshot-review.json
  website/scripts/specs/alignments.ts
  website/scripts/specs/conservation.ts
  website/scripts/specs/trio.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/alignments/modifications1.png
  website/static/img/gc_content.png
  website/static/img/jbrowse-img/1.png
  website/static/img/phylop_ncbi_refseq_tp53.png
  website/static/img/trio-ancestry.png
Due: prettier --write, eslint --fix

fix(multirow): scope category-hide to per-feature-color rows; dedup RPC features
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/renderSvg.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/drawMultiRowBlocks.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/drawMultiRowBlocks.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/multiRowInstanceBuffer.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/multiRowInstanceBuffer.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/resolveLocalRowIndices.ts
  plugins/canvas/src/MultiRowClusterFeaturesRPC/executeMultiRowClusterFeatures.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/executeMultiRowGetFeatures.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/multiRowColors.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/packMultiRowFeatures.test.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/packMultiRowFeatures.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/rpcTypes.ts
Due: prettier --write, eslint --fix

docs(pangenome): stack MAF under the variant matrix for corroboration
  website/docs/tutorials/pangenome.md
  website/scripts/screenshot-review.json
  website/scripts/specs/pangenome.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/pangenome/variant_matrix.png
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
