Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

[skip ci] release announce
  website/release_announcement_drafts/v3.6.0.md
Due: prettier --write

[skip ci] v3.6.0 release announcement (#5104)
  website/release_announcement_drafts/v3.6.0.md
Due: prettier --write

Prepare for v3.6.0 release
  CHANGELOG.md
  website/blog/2025-07-10-v3.6.0-release.md
  website/docusaurus.config.json
Due: prettier --write

[skip ci] Bump version.js
  products/jbrowse-react-circular-genome-view/src/version.js
Due: none

[skip ci] Bump version.js
  products/jbrowse-react-linear-genome-view/src/version.js
Due: none

[skip ci] Bump version.js
  products/jbrowse-react-app/src/version.js
Due: none

[skip ci] Fix bin/run
  products/jbrowse-cli/bin/run
  website/release_announcement_drafts/v3.6.1.md
Due: prettier --write

Prepare for v3.6.1 release
  CHANGELOG.md
  website/blog/2025-07-10-v3.6.1-release.md
  website/docusaurus.config.json
Due: prettier --write

Revert "Prepare for v3.6.1 release"
  CHANGELOG.md
  website/blog/2025-07-10-v3.6.1-release.md
  website/docusaurus.config.json
Due: prettier --write

Misc
  products/jbrowse-cli/README.md
  products/jbrowse-cli/package.json
  products/jbrowse-cli/tsconfig.json
Due: prettier --write

Make sure to apt update linux
  .github/workflows/release.yml
  products/jbrowse-cli/README.md
Due: prettier --write

Standard import
  products/jbrowse-cli/src/bin.ts
Due: prettier --write, eslint --fix

Updates
  products/jbrowse-cli/src/bin.ts
  website/release_announcement_drafts/v3.6.2.md
Due: prettier --write, eslint --fix

Prepare for v3.6.2 release
  CHANGELOG.md
  website/blog/2025-07-10-v3.6.2-release.md
  website/docusaurus.config.json
Due: prettier --write

Revert "Prepare for v3.6.2 release"
  CHANGELOG.md
  website/blog/2025-07-10-v3.6.2-release.md
  website/docusaurus.config.json
Due: prettier --write

Fix lint warning
  products/jbrowse-cli/src/bin.ts
Due: prettier --write, eslint --fix

Move blog posts around
  products/jbrowse-cli/README.md
  website/blog/2025-07-10-v3.6.0-release.md
  website/blog/2025-07-10-v3.6.1-release.md
  website/blog/2025-07-10-v3.6.2-release.md
Due: prettier --write

Format
  products/jbrowse-cli/README.md
Due: prettier --write

[update docs] Autogen docs
  package.json
  website/docs/config/JBrowseConfiguration.md
  website/docs/config/JBrowseRootConfig.md
  website/docs/models/LinearComparativeDisplay.md
Due: prettier --write

[update docs only] Update blogpost
  website/blog/2025-07-10-v3.6.2-release.md
Due: prettier --write

Modularize
  packages/product-core/src/ui/AboutDialogContents.tsx
  packages/product-core/src/ui/HeaderButtons.tsx
  packages/product-core/src/ui/util.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/configSchemaF.ts
Due: prettier --write, eslint --fix

[skip ci] Single file bundle
  website/docs/quickstart_web.md
Due: prettier --write

[update docs only] Remove non-working crav5 demo
  website/docs/embedded_components.md
Due: prettier --write

Document simple wget method of running jbrowse CLI (#5106)
  website/docs/quickstart_web.md
Due: prettier --write

Bump to express v5
  package.json
  products/jbrowse-cli/package.json
  yarn.lock
Due: none

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
