Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

perf(core): defer startup analytics off the critical load path
  packages/core/src/util/analytics.ts
Due: prettier --write, eslint --fix

fix(ci): repair typecheck, prettier format, and stale model docs
  packages/core/src/rpc/WorkerPoolRpcDriver.ts
  packages/text-indexing-core/src/types/vcfAdapter.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/pairTooltip.test.ts
  plugins/alignments/src/features/arcs/compute.test.ts
  plugins/alignments/src/features/arcs/compute.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/fetchAutorun.test.ts
  plugins/wiggle/src/shared/WiggleScoreConfigMixin.ts
  plugins/wiggle/src/shared/wiggleInstanceBuffer.ts
  website/docs/models/BaseInternetAccountModel.md
  website/docs/models/BaseWebSessionModel.md
  website/docs/models/DockviewLayoutMixin.md
  website/docs/models/JBrowseDesktopSessionModel.md
  website/docs/models/JBrowseWebSessionModel.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/SharedGCContentModel.md
Due: prettier --write, eslint --fix

fix(ci): regenerate stale read.generated.ts shader
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/read.generated.ts
Due: prettier --write, eslint --fix

test: regenerate stale volvox trix index fixture
  test_data/volvox/trix/volvox.ix
Due: none

docs(screenshots): add phyloP + NCBI RefSeq figure spec
  website/scripts/screenshot-specs.ts
  website/scripts/specs/conservation.ts
  website/static/img/phylop_ncbi_refseq_tp53.png
Due: prettier --write, eslint --fix

fix(test-data): use semicolon in multi-ID VCF record, not comma
  test_data/volvox/trix/volvox.ix
  test_data/volvox/volvox.inv.vcf.gz
  test_data/volvox/volvox.inv.vcf.gz.tbi
Due: none

chore(website): regenerate stale galleryLinks.generated.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

refactor(wiggle): type test display via annotation, not `as` cast
  plugins/wiggle/src/MultiLinearWiggleDisplay/fetchAutorun.test.ts
Due: prettier --write, eslint --fix

Update deps
  pnpm-lock.yaml
  products/jbrowse-desktop/package.json
  products/jbrowse-react-app/examples-site/package.json
  products/jbrowse-react-circular-genome-view/examples-site/package.json
  products/jbrowse-react-linear-genome-view/examples-site/package.json
  website/package.json
Due: none

perf(core): drop flip() from cursor-following tooltip middleware
  packages/core/src/ui/BaseTooltip.tsx
Due: prettier --write, eslint --fix

Revert "perf(core): drop flip() from cursor-following tooltip middleware"
  packages/core/src/ui/BaseTooltip.tsx
Due: prettier --write, eslint --fix

Minor website demos/gallery improvements
  website/src/lib/gallery.ts
  website/src/pages/demos.astro
  website/src/pages/gallery.astro
Due: prettier --write, eslint --fix

fix(app-core): stop dockview panel/group close from skipping stacked views
  packages/app-core/src/DockviewLayout/index.ts
  packages/app-core/src/ui/App/DockviewContext.tsx
  packages/app-core/src/ui/App/DockviewRightHeaderActions.tsx
  packages/app-core/src/ui/App/TiledViewsContainer.tsx
  packages/app-core/src/ui/App/dockviewUtils.ts
  packages/app-core/src/ui/App/useDockviewController.ts
Due: prettier --write, eslint --fix

chore(lint): single-source ignore globs + DRY restricted-syntax selectors
  .oxlintrc.json
  eslint.config.mjs
Due: none

refactor(canvas): tidy Y-morph internals in LinearBasicDisplay
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/fitLadder.ts
  plugins/canvas/src/LinearBasicDisplay/fitToDisplayHeight.test.ts
  plugins/canvas/src/LinearBasicDisplay/layout.test.ts
  plugins/canvas/src/LinearBasicDisplay/layout.ts
  plugins/canvas/src/LinearBasicDisplay/yMorph.ts
Due: prettier --write, eslint --fix

perf(lgv): drop per-frame MUI styling cost from zoom-interaction chrome
  plugins/linear-genome-view/src/LinearGenomeView/components/HeaderZoomControls.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScalebarPolygon.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGHeader.tsx
Due: prettier --write, eslint --fix

perf(track-list): lightweight checkbox/icon-button lookalikes for virtualized rows
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/CheckboxLite.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/IconButtonLite.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackLabel.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackSelectorTrackMenu.tsx
Due: prettier --write, eslint --fix

Automated qtl demo scripts
  scripts/bxd_build_demo.sh
  scripts/bxd_qtl_scan.py
  test_data/config_bxd.json
  website/docs/tutorials/bxd_qtl.md
Due: prettier --write

Add docs or --assemblyNames for all vs all paf
  products/jbrowse-cli/src/commands/add-track.ts
Due: prettier --write, eslint --fix

What I did
  scripts/build_grape_peach_cacao_synteny.sh
  website/docs/tutorials/multiway_synteny.md
Due: prettier --write

Reproducible hapibd trio demo
  scripts/build_khv_trio_hapibd.sh
  website/docs/tutorials/analyze_trio.md
Due: prettier --write

docs(tutorials): extract all-vs-all synteny script to scripts/build_ecoli_pangenome_synteny.sh
  scripts/build_ecoli_pangenome_synteny.sh
  website/docs/tutorials/allvsall_synteny.md
Due: prettier --write

docs(quickstart): add reproducible build_quickstart_web.sh for the web TLDR
  scripts/build_quickstart_web.sh
  website/docs/quickstart_web.md
Due: prettier --write

docs(quickstart): add BigWig coverage track to build_quickstart_web.sh
  scripts/build_quickstart_web.sh
  website/docs/quickstart_web.md
Due: prettier --write

docs(tutorials): reproducible build scripts for bisulfite, chromhmm, popgen, synteny
  scripts/build_arabidopsis_wgbs.sh
  scripts/build_chromhmm_multirow.sh
  scripts/build_dgrp_popgen.sh
  scripts/build_hpylori_synteny.sh
  website/docs/tutorials/bisulfite.md
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/population_genomics.md
  website/docs/tutorials/synteny_visualization.md
Due: prettier --write

fix(lgv): stop header controls bouncing as the bp width/locstring changes
  packages/core/src/ui/RefNameAutocomplete/index.tsx
  packages/core/src/ui/RefNameAutocomplete/util.test.ts
  packages/core/src/ui/RefNameAutocomplete/util.ts
  packages/core/src/ui/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/HeaderRegionWidth.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchBox.tsx
Due: prettier --write, eslint --fix

ci(scripts): validate tutorial build scripts in lint job
  .github/workflows/push.yml
  scripts/check-build-scripts.py
  website/docs/tutorials/analyze_trio.md
  website/docs/tutorials/bxd_qtl.md
Due: prettier --write

docs(tutorials): pangenome graph tutorial + audit fixes across build scripts
  scripts/build_arabidopsis_wgbs.sh
  scripts/build_asw_trio_ancestry.sh
  scripts/build_chromhmm_multirow.sh
  scripts/build_dgrp_popgen.sh
  scripts/build_ecoli_pangenome_graph.sh
  scripts/build_ecoli_pangenome_synteny.sh
  scripts/build_grape_peach_cacao_synteny.sh
  scripts/build_hpylori_synteny.sh
  scripts/build_khv_trio_hapibd.sh
  scripts/build_quickstart_web.sh
  scripts/bxd_build_demo.sh
  scripts/check-build-scripts.py
  scripts/flare_anc_to_bed.py
  scripts/hapibd_to_bed.py
  scripts/reroot_maf.py
  website/docs/tutorials/analyze_trio.md
  website/docs/tutorials/bxd_qtl.md
  website/docs/tutorials/pangenome.md
  website/docs/tutorials/population_genomics.md
  website/docs/tutorials/synteny_visualization.md
  website/docs/user_guide.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-specs.ts
  website/scripts/specs/pangenome.ts
  website/static/img/pangenome/maf.png
  website/static/img/pangenome/variant_matrix.png
Due: prettier --write, eslint --fix

fix(lgv-examples): repair text-search/observe-visible demos, add export + persistence examples
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/export-svg.md
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/with-drawer-widget.md
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/with-session-persistence.md
  products/jbrowse-react-linear-genome-view/examples-site/src/examples.ts
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/ExportSvg.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/ObserveVisible.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithAggregateTextSearching.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithDrawerWidget.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithMultipleDisplayedRegionsFlipped.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithPerTrackTextSearching.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithSessionPersistence.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/export-svg.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/with-session-persistence.astro
Due: prettier --write, eslint --fix

fix(examples-site): disable dev Fast Refresh so RPC web-worker demo works
  products/jbrowse-react-app/examples-site/astro.config.mjs
  products/jbrowse-react-linear-genome-view/examples-site/astro.config.mjs
Due: none

feat(trix): derive _meta.json in uri shorthand, make textSearchAdapterId optional
  plugins/trix/src/TrixTextSearchAdapter/TrixTextSearchAdapter.test.ts
  plugins/trix/src/TrixTextSearchAdapter/configSchema.ts
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/LocusZoomLD.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/PanUKBGWAS.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithAggregateTextSearching.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithMultiSampleVariantDisplay.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithPerTrackTextSearching.tsx
Due: prettier --write, eslint --fix

docs(lgv-examples): consolidate example pages, move drawer widget to getting started
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/human-exome-example.md
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/with-inline-plugins.md
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/with-two-linear-genome-views.md
  products/jbrowse-react-linear-genome-view/examples-site/src/examples.ts
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/accounts-and-workers.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/default-session.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/export-and-errors.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/export-svg.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/multiple-views.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/observe-visible.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/session-setup.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/with-drawer-widget.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/with-error-handler.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/with-internet-accounts.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/with-session-persistence.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/with-two-linear-genome-views.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/with-web-worker.astro
Due: prettier --write, eslint --fix

fix(lgv-examples): point smoke workerSlug at accounts-and-workers page
  products/jbrowse-react-linear-genome-view/examples-site/scripts/smoke.mjs
Due: none

docs: regenerate TrixTextSearchAdapter config page for uri/id changes
  website/docs/config/TrixTextSearchAdapter.md
Due: prettier --write

docs(examples-site): explain why HMR is disabled (upstream plugin-react worker bug)
  products/jbrowse-react-app/examples-site/astro.config.mjs
  products/jbrowse-react-linear-genome-view/examples-site/astro.config.mjs
Due: none

docs(gen): word implicitIdentifier configs as optional, not required
  docs/generateConfigDocs.ts
  plugins/trix/src/TrixTextSearchAdapter/configSchema.ts
  website/docs/config/TrixTextSearchAdapter.md
Due: prettier --write, eslint --fix

docs(tutorials): reproducible build script for the C-GIAB SV tutorial
  scripts/build_sv_visualization_cgiab.sh
  website/docs/tutorials/sv_visualization_cgiab.md
Due: prettier --write

docs(app-examples): fold web-worker into customizing-the-app, link SyntenyTrack
  products/jbrowse-react-app/examples-site/scripts/smoke.mjs
  products/jbrowse-react-app/examples-site/src/docs/basic-example.md
  products/jbrowse-react-app/examples-site/src/docs/embedded-plugin.md
  products/jbrowse-react-app/examples-site/src/docs/human-demo.md
  products/jbrowse-react-app/examples-site/src/docs/multiway-synteny-example.md
  products/jbrowse-react-app/examples-site/src/examples.ts
  products/jbrowse-react-app/examples-site/src/pages/customizing-the-app.astro
  products/jbrowse-react-app/examples-site/src/pages/with-web-worker.astro
Due: prettier --write, eslint --fix

docs(lgv-examples): link QuantitativeTrack in the wiggle-track doc
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/with-wiggle-track.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
