Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

refactor(maf): simplify AddTrackWorkflow + RadioSelector
  plugins/maf/src/MafAddTrackWorkflow/AddTrackWorkflow.tsx
  plugins/maf/src/MafAddTrackWorkflow/RadioSelector.tsx
Due: prettier --write, eslint --fix

refactor(alignments): consolidate group-by scroll projection + group-order source
  plugins/alignments/src/LinearAlignmentsDisplay/components/GroupLabelsOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupComponent.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiArcsOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/computeHighlightBoxes.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/computeVisibleLabels.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/pileupBezierArcs.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/sectionBand.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/sectionScreen.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/sectionScreen.ts
  plugins/alignments/src/LinearAlignmentsDisplay/groupLayout.ts
  plugins/alignments/src/LinearAlignmentsDisplay/groupedDataMaps.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/groupedDataMaps.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
Due: prettier --write, eslint --fix

docs: remove completed group-by plan + handoff
  agent-docs/GROUP_BY_HANDOFF.md
  agent-docs/GROUP_BY_PLAN.md
Due: prettier --write

refactor(lgv): remove LinearBareDisplay + BasicTrack
  plugins/linear-genome-view/src/BasicTrack/configSchema.ts
  plugins/linear-genome-view/src/BasicTrack/index.ts
  plugins/linear-genome-view/src/LinearBareDisplay/configSchema.ts
  plugins/linear-genome-view/src/LinearBareDisplay/index.ts
  plugins/linear-genome-view/src/LinearBareDisplay/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.test.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/index.ts
Due: prettier --write, eslint --fix

refactor(lgv): remove block-based BaseLinearDisplay model + components
  plugins/linear-genome-view/src/BaseLinearDisplay/components/BaseLinearDisplay.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/Block.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/BlockErrorMessage.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/LinearBlocks.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/MaxHeightReachedIndicator.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/MenuPage.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/RenderedBlocks.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/ServerSideRenderedBlockContent.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/index.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/model.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/serverSideRenderedBlock.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/renderSvg.tsx
  plugins/linear-genome-view/src/index.ts
Due: prettier --write, eslint --fix

refactor(lgv): trim dead fetchFeatureByIdRpc/findSubfeatureById + stale docs
  plugins/linear-genome-view/src/BaseLinearDisplay/models/configSchema.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/util.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
Due: prettier --write, eslint --fix

docs: server-side compat plugin recovery plan + rip handoff
  agent-docs/HANDOFF-remove-serverside-path.md
  agent-docs/PLAN-legacy-server-side-compat-plugin.md
Due: prettier --write

test(variants): regenerate VariantFeatureWidget snapshot for BaseCard test-id
  plugins/variants/src/VariantFeatureWidget/__snapshots__/VariantFeatureWidget.test.tsx.snap
Due: none

Chain mode plan
  agent-docs/GROUP_BY_CHAIN_MODE_PLAN.md
  plugins/maf/src/MafSequenceWidget/LabelsCanvas.tsx
  plugins/maf/src/MafSequenceWidget/MafSequenceHoverHighlight.tsx
  plugins/maf/src/MafSequenceWidget/MafSequenceWidgetMenu.tsx
Due: prettier --write, eslint --fix

refactor(lgv): remove orphaned SVGLegend + calculateSvgLegendWidth
  plugins/linear-genome-view/src/BaseLinearDisplay/SVGLegend.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/calculateSvgLegendWidth.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/index.ts
  plugins/linear-genome-view/src/index.ts
Due: prettier --write, eslint --fix

refactor(core): remove dead server-side renderer classes + CoreRender RPC
  packages/core/src/ReExports/list.ts
  packages/core/src/ReExports/modules.ts
  packages/core/src/pluggableElementTypes/RpcMethodTypeWithFiltersAndRenameRegions.ts
  packages/core/src/pluggableElementTypes/renderers/BoxRendererType.ts
  packages/core/src/pluggableElementTypes/renderers/CircularChordRendererType.tsx
  packages/core/src/pluggableElementTypes/renderers/FeatureRendererType.ts
  packages/core/src/pluggableElementTypes/renderers/LayoutSession.ts
  packages/core/src/pluggableElementTypes/renderers/ServerSideRendererType.test.ts
  packages/core/src/pluggableElementTypes/renderers/ServerSideRendererType.ts
  packages/core/src/pluggableElementTypes/renderers/index.ts
  packages/core/src/rpc/RpcRegistry.ts
  packages/core/src/rpc/coreRpcMethods.ts
  packages/core/src/rpc/methods/CoreGetFeatureDetails.ts
  packages/core/src/rpc/methods/CoreRender.ts
  packages/core/src/rpc/methods/util.ts
  packages/core/src/util/offscreenCanvasUtils.tsx
  packages/core/src/util/renderToAbstractCanvas.ts
Due: prettier --write, eslint --fix

refactor(core): remove the now-unused renderer registry
  packages/core/src/PluginManager.ts
  packages/core/src/pluggableElementTypes/models/BaseDisplayModel.tsx
  packages/core/src/pluggableElementTypes/models/baseTrackConfig.ts
  packages/core/src/pluggableElementTypes/models/migrateTrackConfig.test.ts
  packages/core/src/pluggableElementTypes/models/migrateTrackConfig.ts
  packages/core/src/rpc/methods/CoreFreeResources.ts
Due: prettier --write, eslint --fix

Handoff
  agent-docs/HANDOFF-serverside-rip-complete.md
  agent-docs/PLAN-legacy-server-side-compat-plugin.md
Due: prettier --write

refactor(core): remove dead server-side canvas utils + rendererTypeName volatile
  packages/core/src/pluggableElementTypes/models/BaseDisplayModel.tsx
  packages/core/src/util/index.ts
  packages/core/src/util/offscreenCanvasGetSerializingSvg.ts
  packages/core/src/util/offscreenCanvasUtils.tsx
  packages/core/src/util/useRenderingBackend.test.ts
Due: prettier --write, eslint --fix

refactor(core): merge useRenderer into useRenderingBackend + share backend bases
  agent-docs/ARCHITECTURE.md
  agent-docs/TEST_INFRASTRUCTURE.md
  agent-docs/architecture-decision-records/adr-026-displaychrome-layering-stays.md
  packages/core/src/gpu/CLAUDE.md
  packages/core/src/gpu/globalRenderingBackend.ts
  packages/core/src/gpu/perRegionRenderingBackend.ts
  packages/core/src/gpu/renderingBackendBase.ts
  packages/core/src/util/useRenderer.ts
  packages/core/src/util/useRenderingBackend.test.ts
  packages/core/src/util/useRenderingBackend.ts
Due: prettier --write, eslint --fix

feat(alignments): chain mode group-by (Phases 1-3)
  agent-docs/TODO.md
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupComponent.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/dialogs/GroupByDialog.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/groupedDataMaps.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/groupedDataMaps.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/sortGroup.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/RenderAlignmentDataRPC/CLAUDE.md
  plugins/alignments/src/RenderAlignmentDataRPC/executeRenderAlignmentData.ts
  plugins/alignments/src/shared/groupFeatures.test.ts
  plugins/alignments/src/shared/groupFeatures.ts
  products/jbrowse-web/src/tests/AlignmentGroupBy.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-group-by-test-tsx-chain-mode-groups-whole-chains-by-hp-tag-into-sections-1-snap.png
Due: prettier --write, eslint --fix

refactor(shader-tools): extract Slang shader codegen into @jbrowse/shader-tools
  agent-docs/ARCHITECTURE.md
  agent-docs/PRD.md
  agent-docs/RFC-001-community-plugin-api.md
  agent-docs/architecture-decision-records/adr-005-shader-codegen-slang.md
  agent-docs/architecture-decision-records/adr-010-synteny-dotplot-pixel-offsets.md
  agent-docs/architecture-decision-records/adr-030-render-core-package-static-import-only.md
  package.json
  packages/core/src/gpu/CLAUDE.md
  packages/render-core/CLAUDE.md
  packages/render-core/src/slangPass.ts
  packages/shader-tools/CLAUDE.md
  packages/shader-tools/package.json
  packages/shader-tools/src/build-shaders.ts
  packages/shader-tools/src/shader-codegen/codegen.ts
  packages/shader-tools/src/shader-codegen/vulkanGlslToWebgl2.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(alignments): shared insert-size color scale across grouped sections
  plugins/alignments/src/RenderAlignmentDataRPC/executeRenderAlignmentData.ts
  plugins/alignments/src/shared/buildChainMetadata.ts
  plugins/alignments/src/shared/computePairedInsertSizeStats.ts
  plugins/alignments/src/shared/types.ts
  products/jbrowse-web/src/tests/AlignmentGroupBy.test.tsx
Due: prettier --write, eslint --fix

refactor(wiggle): simplify + dedupe multiwiggle display
  plugins/wiggle/src/LinearWiggleDisplay/components/WiggleComponent.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/MultiWiggleSvgScales.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/MultiWiggleComponent.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/renderSvg.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/sourcesLogic.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/sourcesLogic.ts
  plugins/wiggle/src/shared/Canvas2DWiggleRenderer.ts
  plugins/wiggle/src/shared/useWiggleMouseHandlers.ts
  plugins/wiggle/src/shared/wiggleComponentUtils.ts
Due: prettier --write, eslint --fix

refactor(alignments): registry-driven group-by/color-by + color-by-tag coupling
  plugins/alignments/src/LinearAlignmentsDisplay/dialogs/GroupByDialog.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/menus/colorBy.ts
  plugins/alignments/src/shared/groupFeatures.ts
Due: prettier --write, eslint --fix

refactor(alignments): registry-driven color schemes + drop legacy group-by split
  plugins/alignments/src/LinearAlignmentsDisplay/constants.ts
  plugins/alignments/src/LinearAlignmentsDisplay/dialogs/GroupByDialog.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/menus/colorBy.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/sortGroup.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/RenderAlignmentDataRPC/executeRenderAlignmentData.ts
  plugins/alignments/src/shared/colorSchemes.ts
  plugins/alignments/src/shared/legendUtils.ts
  plugins/alignments/src/shared/types.ts
  plugins/alignments/src/shared/util.ts
  products/jbrowse-web/src/buildInfo.ts
  products/jbrowse-web/src/tests/__overlap_demo__/long-read-sv.png
  products/jbrowse-web/src/tests/__overlap_demo__/long-read-sv.svg
  products/jbrowse-web/src/tests/__overlap_demo__/short-read-paired.png
  products/jbrowse-web/src/tests/__overlap_demo__/short-read-paired.svg
Due: prettier --write, eslint --fix

chore(shader-tools): eslint-disable no-console in build CLI files
  packages/core/src/gpu/CLAUDE.md
  packages/core/src/pluggableElementTypes/RpcMethodTypeWithFiltersAndRenameRegions.ts
  packages/core/src/util/makeTrackId.test.ts
  packages/render-core/CLAUDE.md
  packages/render-core/src/perRegionRenderingBackend.ts
  packages/shader-tools/CLAUDE.md
  packages/shader-tools/src/build-shaders.ts
  packages/shader-tools/src/shader-codegen/codegen.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupComponent.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/menus/colorBy.ts
  plugins/alignments/src/RenderAlignmentDataRPC/CLAUDE.md
  plugins/alignments/src/shared/colorSchemes.ts
  plugins/alignments/src/shared/groupFeatures.ts
  plugins/alignments/src/shared/legendUtils.test.ts
  plugins/dotplot-view/src/DotplotView/components/useDotplotInteraction.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/components/Highlight/LGVHighlightSVG.tsx
  plugins/gwas/src/GWASAddTrackWorkflow/AddTrackWorkflow.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/Tooltip.tsx
  plugins/maf/src/MafAddTrackWorkflow/AddTrackWorkflow.tsx
  plugins/maf/src/MafAddTrackWorkflow/RadioSelector.tsx
  plugins/maf/src/MafSequenceWidget/MafSequenceWidgetMenu.tsx
  plugins/variants/src/shared/components/MultiSampleVariantCrosshairs.tsx
  plugins/variants/src/shared/components/MultiSampleVariantLegendOverlay.tsx
  plugins/variants/src/shared/variantLegend.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/sourcesLogic.test.ts
Due: prettier --write, eslint --fix

Update snaps
  _typos.toml
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.tsx.snap
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/__snapshots__/BedImport.test.ts.snap
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/__snapshots__/BedpeImport.test.ts.snap
  plugins/sv-inspector/src/SvInspectorView/components/SvInspectorView.tsx
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/__image_snapshots__/alignments_rasterized_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/alignments_vector_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/breakpoint_split_view_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/circular_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_error_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_gridlines_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSession.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgBreakpointSplitView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgCircular.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgError.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgLinearGenomeView.test.tsx.snap
  test_data/volvox/config.json
Due: prettier --write, eslint --fix

Aggressive updates
  packages/core/package.json
  website/docs/config/BaseLinearDisplay.md
  website/docs/config/BasicTrack.md
  website/docs/config/LinearBareDisplay.md
  website/docs/models/BaseDisplay.md
  website/docs/models/BaseLinearDisplay.md
  website/docs/models/ChordVariantDisplay.md
  website/docs/models/DotplotDisplay.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearArcDisplay.md
  website/docs/models/LinearBareDisplay.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearHicDisplay.md
  website/docs/models/LinearMafDisplay.md
  website/docs/models/LinearPairedArcDisplay.md
  website/docs/models/LinearReferenceSequenceDisplay.md
  website/docs/models/LinearSyntenyDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
  website/docs/models/RenderLifecycleMixin.md
  website/docs/models/SharedGCContentModel.md
  website/docs/models/SharedLDModel.md
Due: prettier --write

All tsgo
  packages/cigar-utils/package.json
  packages/core/package.json
  packages/embedded-core/package.json
  packages/ld-core/package.json
  packages/modifications-utils/package.json
  packages/product-core/package.json
  packages/sv-core/package.json
  packages/synteny-core/package.json
  packages/tree-sidebar/package.json
  packages/web-core/package.json
  plugins/alignments/package.json
  plugins/arc/package.json
  plugins/authentication/package.json
  plugins/bed/package.json
  plugins/breakpoint-split-view/package.json
  plugins/canvas/package.json
  plugins/circular-view/package.json
  plugins/comparative-adapters/package.json
  plugins/config/package.json
  plugins/data-management/package.json
  plugins/dotplot-view/package.json
  plugins/gccontent/package.json
  plugins/gff3/package.json
  plugins/grid-bookmark/package.json
  plugins/gtf/package.json
  plugins/hic/package.json
  plugins/jobs-management/package.json
  plugins/legacy-jbrowse/package.json
  plugins/linear-comparative-view/package.json
  plugins/linear-genome-view/package.json
  plugins/menus/package.json
  plugins/rdf/package.json
  plugins/sequence/package.json
  plugins/spreadsheet-view/package.json
  plugins/sv-inspector/package.json
  plugins/variants/package.json
  plugins/wiggle/package.json
  products/jbrowse-react-circular-genome-view/package.json
Due: none

[skip ci] Rm archive
  website/blog/2022-01-29-v1.6.4-release.md
  website/sidebars.json
  website/src/pages/demos.md
Due: prettier --write

Add WithGroupByTag storybook example for alignments groupBy HP tag
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
Due: prettier --write, eslint --fix

Increase WithGroupByTag story height to 400 for grouped display
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
Due: prettier --write, eslint --fix

Add colorBy HP tag alongside groupBy in WithGroupByTag story
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
Due: prettier --write, eslint --fix

Share UMD product webpack config via factory, fix MUI v9 .mjs resolution
  products/jbrowse-react-app/webpack.config.mjs
  products/jbrowse-react-circular-genome-view/webpack.config.mjs
  products/jbrowse-react-linear-genome-view/webpack.config.mjs
  webpack/umdConfig.mjs
Due: none

Vendor hic-straw as TypeScript to fix untyped-module build break
  plugins/hic/package.json
  plugins/hic/src/HicAdapter/HicAdapter.ts
  plugins/hic/src/HicAdapter/hic-straw/README.md
  plugins/hic/src/HicAdapter/hic-straw/binary.ts
  plugins/hic/src/HicAdapter/hic-straw/bufferedFile.ts
  plugins/hic/src/HicAdapter/hic-straw/contactRecord.ts
  plugins/hic/src/HicAdapter/hic-straw/hicFile.ts
  plugins/hic/src/HicAdapter/hic-straw/index.ts
  plugins/hic/src/HicAdapter/hic-straw/lru.ts
  plugins/hic/src/HicAdapter/hic-straw/matrix.ts
  plugins/hic/src/HicAdapter/hic-straw/matrixZoomData.ts
  plugins/hic/src/HicAdapter/hic-straw/normalizationVector.ts
  plugins/hic/src/HicAdapter/hic-straw/straw.ts
  plugins/hic/src/HicAdapter/hic-straw/types.ts
  plugins/hic/src/HicAdapter/hic-straw/verify.test.ts
  plugins/hic/src/declare.d.ts
  pnpm-lock.yaml
  products/jbrowse-desktop/src/declare.d.ts
  products/jbrowse-react-app/src/declare.d.ts
  products/jbrowse-web/src/declare.d.ts
Due: prettier --write, eslint --fix

Trim CLAUDE.md files: cut navigation file-maps and refactor narration
  CLAUDE.md
  packages/core/src/configuration/CLAUDE.md
  packages/render-core/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/CLAUDE.md
  plugins/linear-genome-view/src/BaseLinearDisplay/CLAUDE.md
Due: prettier --write

Fix dangling agent-docs references
  packages/core/src/configuration/configurationSlot.ts
  packages/core/src/configuration/slotFacade.ts
  packages/core/src/configuration/slotValueUtils.ts
  products/jbrowse-web/browser-tests/runner.ts
Due: prettier --write, eslint --fix

Remove superseded server-side-rip handoff doc
  agent-docs/HANDOFF-remove-serverside-path.md
  agent-docs/PLAN-legacy-server-side-compat-plugin.md
Due: prettier --write

Improved migration
  CLAUDE.md
  agent-docs/TODO.md
  agent-docs/jest-oom-handoff.md
  jest.config.js
  packages/core/package.json
  packages/core/src/configuration/CLAUDE.md
  packages/render-core/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/menus/colorBy.ts
  plugins/alignments/src/LinearAlignmentsDisplay/migrateAlignmentsSnapshot.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/migrateAlignmentsSnapshot.ts
  plugins/hic/src/HicAdapter/hic-straw/hicFile.ts
  plugins/hic/src/HicAdapter/hic-straw/matrixZoomData.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/CLAUDE.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write, eslint --fix

Fix some lint/website build errors
  config/jest/console.js
  plugins/alignments/src/LinearAlignmentsDisplay/model.coupling.test.ts
  plugins/gwas/src/GWASAdapter/index.ts
  plugins/gwas/src/LinearManhattanDisplay/configSchemaFactory.ts
  website/docs/config/GWASAdapter.md
  website/docs/config/LinearManhattanDisplay.md
  website/docs/tutorials/display_settings.md
  website/docs/user_guides/bookmark_widget.md
  website/docs/user_guides/multiquantitative_track.md
  website/docs/user_guides/multivariant_track.md
Due: prettier --write, eslint --fix

Always show Paired end color-by submenu for alignments
  plugins/alignments/src/LinearAlignmentsDisplay/menus/colorBy.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/gwas/src/GWASAdapter/index.ts
Due: prettier --write, eslint --fix

Guard RPC method dispatch against prototype chain lookups
  packages/core/src/rpc/RpcServer.ts
Due: prettier --write, eslint --fix

Fix polynomial regex in Newick parser
  packages/tree-sidebar/src/newick.ts
Due: prettier --write, eslint --fix
