Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

Prepare for v3.3.0 release
  CHANGELOG.md
  website/blog/2025-04-18-v3.3.0-release.md
  website/docusaurus.config.json
Due: prettier --write

[skip ci] Revert "Prepare for v3.3.0 release"
  CHANGELOG.md
  website/blog/2025-04-18-v3.3.0-release.md
  website/docusaurus.config.json
Due: prettier --write

Don't hide undefined
  plugins/variants/src/VariantFeatureWidget/Formatter.tsx
Due: prettier --write, eslint --fix

Filter out both null and undefined in Attributes
  packages/core/BaseFeatureWidget/BaseFeatureDetail/Attributes.tsx
Due: prettier --write, eslint --fix

Add consequences
  plugins/variants/src/VariantFeatureWidget/VariantConsequence/VariantConsequenceDataGrid.tsx
  plugins/variants/src/VariantFeatureWidget/VariantConsequence/VariantConsequenceDataGridWrapper.tsx
  plugins/variants/src/VariantFeatureWidget/VariantConsequencePanel.tsx
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
  plugins/variants/src/VariantFeatureWidget/VariantSampleGrid/VariantSampleGrid.tsx
  plugins/variants/src/VariantFeatureWidget/VariantSampleGrid/util.ts
Due: prettier --write, eslint --fix

Add formatter
  packages/core/BaseFeatureWidget/BaseFeatureDetail/Attributes.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/SimpleField.tsx
Due: prettier --write, eslint --fix

[skip ci] Bump version.js
  products/jbrowse-react-circular-genome-view/src/version.js
Due: none

[skip ci] Bump version.js
  products/jbrowse-react-app/src/version.js
Due: none

[skip ci] Bump version.js
  products/jbrowse-react-linear-genome-view/src/version.js
Due: none

Squash updates
  packages/app-core/src/JBrowseConfig/index.ts
  packages/app-core/src/JBrowseModel/index.ts
  packages/core/configuration/configurationSchema.ts
  packages/core/util/tracks.ts
  packages/core/util/types/index.ts
  packages/product-core/src/Session/Tracks.ts
  packages/product-core/src/ui/AboutDialog.tsx
  packages/product-core/src/ui/AboutDialogContents.tsx
  packages/product-core/src/ui/FileInfoPanel.tsx
  packages/product-core/src/ui/RefNameInfoDialog.tsx
  packages/web-core/src/BaseWebSession/index.ts
  plugins/circular-view/src/CircularView/model.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackLabel.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackListNode.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/util.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/facetedModel.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/facetedUtil.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/filterTracks.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/generateHierarchy.ts
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/stateModelFactory.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  products/jbrowse-desktop/src/jbrowseModel.ts
  products/jbrowse-desktop/src/rootModel/rootModel.test.ts
  products/jbrowse-react-app/src/jbrowseModel.ts
  products/jbrowse-react-app/src/rootModel/__snapshots__/rootModel.test.ts.snap
  products/jbrowse-react-app/src/rootModel/rootModel.test.ts
  products/jbrowse-web/src/jbrowseModel.test.ts
  products/jbrowse-web/src/jbrowseModel.ts
  products/jbrowse-web/src/rootModel/__snapshots__/rootModel.test.ts.snap
  products/jbrowse-web/src/rootModel/rootModel.test.ts
  products/jbrowse-web/src/rootModel/rootModel.ts
  products/jbrowse-web/src/tests/Loader.test.tsx
Due: prettier --write, eslint --fix

[update docs] Some variation in wording
  website/blog/2025-04-18-v3.3.0-release.md
Due: prettier --write

Help catch potential case where user selects an out of bounds on one or the other side of a 'Get sequence' rubberband
  plugins/linear-genome-view/src/LinearGenomeView/components/GetSequenceDialog.tsx
Due: prettier --write, eslint --fix

[update docs] Remove CRA and farm embedded component demos, unknown breakages. If can get working again, can re-enable but otherwise, other options available
  website/docs/embedded_components.md
Due: prettier --write

End-array based layout
  plugins/alignments/src/PileupRenderer/PileupLayoutSession.ts
  test_data/config_demo.json
Due: prettier --write, eslint --fix

[skip ci] Decode only select seq offsets
  plugins/alignments/src/BamAdapter/BamSlightlyLazyFeature.ts
  plugins/alignments/src/MismatchParser/cigarToMismatches.ts
  plugins/alignments/src/MismatchParser/index.ts
  plugins/alignments/src/MismatchParser/mdToMismatches.ts
Due: prettier --write, eslint --fix

Updates
  plugins/alignments/src/BamAdapter/BamSlightlyLazyFeature.ts
  plugins/alignments/src/MismatchParser/cigarToMismatches.ts
  plugins/alignments/src/MismatchParser/index.ts
  plugins/alignments/src/MismatchParser/mdToMismatches.ts
Due: prettier --write, eslint --fix

Add more augmentation
  packages/core/ui/theme.ts
Due: prettier --write, eslint --fix

Add a example bed
  plugins/bed/src/BigBedAdapter/BigBedAdapter.ts
  plugins/bed/src/BigBedAdapter/configSchema.ts
  test_data/config_demo.json
Due: prettier --write, eslint --fix

Fix theme augmentation for primary/secondary colors in v3.3.0 (#4968)
  packages/core/ui/theme.ts
Due: prettier --write, eslint --fix

Avoid aggregating bigbed features with geneName === 'none', change default aggregationField geneName2 -> geneName (#4969)
  plugins/bed/src/BigBedAdapter/BigBedAdapter.ts
  plugins/bed/src/BigBedAdapter/configSchema.ts
  test_data/config_demo.json
Due: prettier --write, eslint --fix

Update snaps
  plugins/bed/src/BigBedAdapter/__snapshots__/BigBedAdapter.test.ts.snap
Due: none

Dynamically toggle
  plugins/linear-genome-view/src/LinearGenomeView/components/useWheelScroll.ts
Due: prettier --write, eslint --fix

Misc
  plugins/linear-genome-view/src/LinearGenomeView/components/useWheelScroll.ts
Due: prettier --write, eslint --fix

More gradiations
  plugins/linear-genome-view/src/LinearGenomeView/components/useWheelScroll.ts
Due: prettier --write, eslint --fix

Dynamically toggle wheel-scroll normalization to accomodate pinch-to-zoom (#4970)
  plugins/linear-genome-view/src/LinearGenomeView/components/useWheelScroll.ts
Due: prettier --write, eslint --fix

Updates
  plugins/canvas/src/CanvasFeatureRenderer/FeatureGlyphs/ProcessedTranscript.ts
  plugins/canvas/src/CanvasFeatureRenderer/FeatureGlyphs/Segments.ts
  plugins/canvas/src/CanvasFeatureRenderer/FeatureGlyphs/util.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/components/BaseLinearDisplay.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/FloatingLabels.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/SpreadsheetModel.tsx
  test_data/config_demo.json
Due: prettier --write, eslint --fix

Cytoband bed file
  packages/core/data_adapters/CytobandAdapter/CytobandAdapter.ts
  test_data/config_demo.json
Due: prettier --write, eslint --fix

Cytoband guides
  plugins/linear-genome-view/src/LinearGenomeView/components/Cytobands.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewRubberband.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewRubberbandHoverTooltip.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/util.ts
Due: prettier --write, eslint --fix

Add basic cytoband for Drosophila (#4973)
  plugins/linear-genome-view/src/LinearGenomeView/components/Cytobands.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewRubberband.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewRubberbandHoverTooltip.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/util.ts
Due: prettier --write, eslint --fix

Don't clear console
  webpack/scripts/start.js
Due: none

Minor hot loop optimization
  plugins/variants/src/shared/minorAlleleFrequencyUtils.ts
Due: prettier --write, eslint --fix

Hairy but faster code
  plugins/variants/src/shared/minorAlleleFrequencyUtils.ts
Due: prettier --write, eslint --fix

Cache splits
  plugins/variants/src/MultiLinearVariantRenderer/makeImageData.ts
  plugins/variants/src/VariantRPC/getGenotypeMatrix.ts
  plugins/variants/src/shared/minorAlleleFrequencyUtils.ts
Due: prettier --write, eslint --fix

Misc
  plugins/legacy-jbrowse/src/NCListAdapter/configSchema.ts
  yarn.lock
Due: prettier --write, eslint --fix
