Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: regenerate the model tables and bundle sizes after the rebase
  scripts/chromeBundleSizes.json
  website/docs/models/ArcFetchModel.md
  website/docs/models/FetchMixin.md
  website/docs/models/GlobalDataDisplayMixin.md
  website/docs/models/GlobalFetchMixin.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearArcDisplay.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearHicDisplay.md
  website/docs/models/LinearMafDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/LinearPairedArcDisplay.md
  website/docs/models/LinearReferenceSequenceDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/MultiRegionDisplayMixin.md
  website/docs/models/MultiSampleVariantBaseModel.md
  website/docs/models/SharedGCContentModel.md
  website/docs/models/SharedLDModel.md
Due: prettier --write

docs(benchmarking): record that the committed benches are all node-run
  agent-docs/reference/BENCHMARKING.md
Due: prettier --write

test(modifications): fuzz getModPositions against an independent reference
  packages/modifications-utils/src/getModPositions.fuzz.test.ts
Due: prettier --write, eslint --fix

bench(alignments): the reverse delta walk, six ways, and what that says about wasm
  plugins/alignments/benches/revCompScan.bench.ts
  plugins/alignments/benches/wasmBoundary.probe.ts
Due: prettier --write, eslint --fix

style(lint): clear the nine eslint-backstop errors sitting on main
  packages/browser-test-utils/src/annotationOverlayTrapezoid.test.ts
  plugins/alignments/benches/instanceAccessors.bench.ts
  plugins/alignments/benches/modCombinedCode.bench.ts
  plugins/alignments/src/features/arcs/arcPath.ts
  plugins/dotplot-view/src/DotplotDisplay/dotplotTooltip.test.ts
  plugins/dotplot-view/src/DotplotView/components/DotplotTooltip.tsx
Due: prettier --write, eslint --fix

test(svg-export): regenerate the two goldens main left stale
  products/jbrowse-web/src/tests/__image_snapshots__/arc_sv_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgDisplayTypes.test.tsx.snap
Due: none

style(lint): merge the two type imports SequenceBody took from one module
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/SequenceBody.tsx
Due: prettier --write, eslint --fix

chore(audit): rebaseline the config-read gap file, one new source gap
  scripts/configReadTypeGaps.txt
Due: none

bench(alignments): the reverse-walk win is conditional, and the condition decides it
  agent-docs/reference/REJECTED_IDEAS.md
  plugins/alignments/benches/revCompScan.bench.ts
Due: prettier --write, eslint --fix

style(lint): drop the no-op `sink += 0` in the wasm-boundary probe
  plugins/alignments/benches/wasmBoundary.probe.ts
Due: prettier --write, eslint --fix

refactor(lgv): one status callback per fetch context, and the fan-out owns the slots
  example-plugins/score-example/src/LinearScoreDisplay/model.ts
  packages/core/src/util/createStopTokenRotation.ts
  packages/core/src/util/fetchAndMaybeUnzip.ts
  packages/core/src/util/progress.test.ts
  packages/core/src/util/progress.ts
  packages/core/src/util/useFetch.ts
  packages/synteny-core/src/withDiagonalizeProgress.ts
  packages/tree-sidebar/src/runClusteringAutorun.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/arc/src/shared/fetchArcFeatures.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/fetchMultiRowFeatures.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
  plugins/hic/src/LinearHicDisplay/model.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/FetchMixin.test.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/FetchMixin.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/MultiRegionDisplayMixin.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/callEachRegion.test.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/fetchEachRegion.test.ts
  plugins/maf/src/LinearMafDisplay/fetchMafData.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/model.ts
  plugins/variants/src/LDDisplay/shared.ts
  plugins/variants/src/RenderLDDataRPC/RenderLDData.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/wiggle/src/LinearWiggleDisplay/model.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
Due: prettier --write, eslint --fix

test: drive the status paths nothing was calling
  packages/core/src/util/createStopTokenRotation.test.ts
  packages/core/src/util/useFetch.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/fetchMultiRowFeatures.test.ts
  plugins/maf/src/LinearMafDisplay/fetchMafData.test.ts
  scripts/chromeBundleSizes.json
  website/docs/developer_guides/data_fetching.md
  website/docs/developer_guides/plotting_features.md
  website/docs/developer_guides/rpc_workers.md
  website/docs/models/ArcFetchModel.md
  website/docs/models/FetchMixin.md
  website/docs/models/GlobalDataDisplayMixin.md
  website/docs/models/GlobalFetchMixin.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearArcDisplay.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearHicDisplay.md
  website/docs/models/LinearMafDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/LinearPairedArcDisplay.md
  website/docs/models/LinearReferenceSequenceDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/MultiRegionDisplayMixin.md
  website/docs/models/MultiSampleVariantBaseModel.md
  website/docs/models/SharedGCContentModel.md
  website/docs/models/SharedLDModel.md
Due: prettier --write, eslint --fix

docs: the per-region status aggregate has one implementation to describe now
  agent-docs/architecture-decision-records/adr-054-comparative-displays-keep-their-own-fetch.md
  agent-docs/reference/PROGRESS_REPORTING.md
  packages/core/src/data_adapters/BaseAdapter/BaseFeatureDataAdapter.ts
  website/docs/developer_guides/data_fetching.md
  website/docs/developer_guides/rpc_workers.md
Due: prettier --write, eslint --fix

fix(core): useFetch's status window ends with the fetch, like its stop token
  packages/core/src/util/useFetch.ts
Due: prettier --write, eslint --fix

refactor(core): the throttle's trailing timer always has a write behind it
  packages/core/src/util/progress.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/FetchMixin.test.ts
Due: prettier --write, eslint --fix

docs(agent-docs): the worktree-base check has a second answer once you have commits
  agent-docs/CLAUDE.md
Due: prettier --write

fix(hooks): a review app's verdict log is not a fixer's output
  .githooks/pre-push
Due: none

chore: regenerate the chrome bundle sizes
  scripts/chromeBundleSizes.json
Due: none

perf(gwas): the significance line's state model named two React modules eagerly
  plugins/gwas/src/LinearManhattanDisplay/components/SignificanceLine.tsx
  plugins/gwas/src/LinearManhattanDisplay/components/significanceLineY.ts
  plugins/gwas/src/LinearManhattanDisplay/significanceLine.test.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
Due: prettier --write, eslint --fix

fix(types): re-export the five types tsc was naming by source path
  plugins/alignments/src/index.ts
  plugins/canvas/src/index.ts
Due: prettier --write, eslint --fix

refactor(rpc): the two handles belong to every method, so no method declares them
  packages/core/src/pluggableElementTypes/RpcMethodType.ts
  packages/core/src/rpc/BaseRpcDriver.ts
  packages/core/src/rpc/RpcManager.test.ts
  packages/core/src/rpc/RpcManager.ts
  packages/core/src/rpc/RpcRegistry.ts
  packages/core/src/rpc/methods/CoreGetExportData.ts
  packages/text-indexing/src/TextIndexing.ts
  plugins/text-indexing/src/TextIndexRpcMethod/TextIndexRpcMethod.ts
  products/jbrowse-desktop/src/indexJobsModel.ts
Due: prettier --write, eslint --fix

fix(lgv): a display ends its status window on teardown, fetch or no fetch
  packages/core/src/rpc/RpcManager.ts
  packages/core/src/rpc/RpcRegistry.ts
  packages/tree-sidebar/src/rpcMethodCaller.ts
  plugins/alignments/src/RenderAlignmentDataRPC/GetConsensusSequence.ts
  plugins/alignments/src/RenderAlignmentDataRPC/GetGlobalValueForTag.ts
  plugins/breakpoint-split-view/src/BreakpointGetFeatures/BreakpointGetFeatures.ts
  plugins/canvas/src/MultiRowClusterFeaturesRPC/executeMultiRowClusterFeatures.ts
  plugins/canvas/src/MultiRowClusterFeaturesRPC/rpcTypes.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/executeMultiRowGetFeatures.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/rpcTypes.ts
  plugins/canvas/src/RenderFeatureDataRPC/executeRenderFeatureData.ts
  plugins/canvas/src/RenderFeatureDataRPC/rpcTypes.ts
  plugins/dotplot-view/src/DotplotDisplay/DotplotGetFeaturesAndPositions.ts
  plugins/linear-comparative-view/src/LaunchSyntenyView/SyntenyDiscoverMatesRpc.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/SyntenyGetFeaturesAndPositions.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/FetchMixin.ts
  plugins/variants/src/RenderLDDataRPC/RenderLDData.ts
  plugins/variants/src/RenderLDDataRPC/executeRenderLDData.ts
  plugins/wiggle/src/RenderMultiWiggleDataRPC/RenderMultiWiggleData.ts
  plugins/wiggle/src/RenderWiggleDataRPC/RenderWiggleData.ts
Due: prettier --write, eslint --fix

fix(alignments): a breakend foot points along the arm, so both evidence kinds agree
  agent-docs/TODO.md
  packages/cigar-utils/src/readEndpoints.ts
  plugins/alignments/src/LinearAlignmentsDisplay/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/components/arcBreakendFeet.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/testUtils.ts
  plugins/alignments/src/features/arcs/arcFeetPath.test.ts
  plugins/alignments/src/features/arcs/compute.ts
  plugins/alignments/src/features/arcs/crossRegionOverlay.ts
  plugins/alignments/src/features/arcs/mark.ts
Due: prettier --write, eslint --fix

figures: "split alignment" in the arc legend, and a band tall enough to read
  figures.lock
  plugins/alignments/src/features/linkedReads/computeOverlay.test.ts
  plugins/alignments/src/shared/legendUtils.test.ts
  plugins/alignments/src/shared/legendUtils.ts
  website/docs/tutorials/homoeolog_synteny.md
  website/docs/user_guides/sv_visualization.md
  website/scripts/specs/cancer_sv.ts
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

figures: retire orthofinder_synteny/wheat_4a_breakpoint
  figures.lock
  website/docs/tutorials/orthofinder_synteny.md
  website/scripts/figure-manifest.json
  website/scripts/specs/synteny.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

diagrams: tie the inversion pair rows together, and cut rpc_lifecycle to names
  figures.lock
  website/CLAUDE.md
  website/diagrams/diagrams.lock
  website/diagrams/inversion_pair_orientation.svg
  website/diagrams/rpc_lifecycle.dot
  website/docs/developer_guides/rpc_workers.md
  website/docs/user_guides/sv_visualization.md
Due: prettier --write

figures(genomes_basics): give phylop_tp53 a second shaded block to be about
  figures.lock
  website/docs/tutorials/genomes_basics.md
  website/scripts/specs/genomes_basics.ts
Due: prettier --write, eslint --fix

figures(ld): two pills on lct_haploblock, and every mark points at something
  figures.lock
  website/scripts/specs/ld.ts
Due: prettier --write, eslint --fix

figures(popgen): give the in2lt trapezoid a margin to be drawn in
  figures.lock
  website/scripts/generate-screenshots.ts
  website/scripts/screenshot-spec-types.ts
  website/scripts/specs/popgen.ts
Due: prettier --write, eslint --fix

figures(pangenome): name the loci on hprc_whole_chromosome, so the curve indexes
  figures.lock
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/figure-manifest.json
  website/scripts/specs/graph-hprc.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

figures(ld): point at Gabon's five heterozygotes, which read as a crop
  figures.lock
  website/scripts/specs/ld.ts
Due: prettier --write, eslint --fix

docs(alignments): record why the pair arcs get no feet, with the count
  plugins/alignments/src/LinearAlignmentsDisplay/CLAUDE.md
Due: prettier --write

figures(pangenome): shade both islands on rgfa_paa_bubble, and delete the pill
  figures.lock
  website/docs/tutorials/allvsall_synteny.md
  website/scripts/figure-manifest.json
  website/scripts/specs/graph-ecoli.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

fix(synteny): cap how far a location marker may travel
  agent-docs/TODO.md
  plugins/linear-comparative-view/src/LinearSyntenyRPC/buildSyntenyGeometry.emitCull.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/buildSyntenyGeometry.ts
Due: prettier --write, eslint --fix

review: the verdict flips for this pass, as a script to run after landing
  website/scripts/flips-screenshot-review-bad.sh
  website/scripts/screenshot-review-plan.md
Due: prettier --write

test(alignments): the bezier key's interchrom row is a split alignment now
  plugins/alignments/src/features/linkedReads/computeOverlay.test.ts
Due: prettier --write, eslint --fix

review: a backtick in a flip note is command substitution, not a quote
  website/scripts/flips-screenshot-review-bad.sh
Due: none

review: record this pass's verdicts
  website/scripts/screenshot-review.json
Due: none

fix(core): make an RPC method's type parameter mean what it claims
  packages/core/src/pluggableElementTypes/RpcMethodType.ts
  packages/core/src/rpc/RpcRegistry.ts
  packages/core/src/rpc/methods/CoreFreeResources.ts
  packages/core/src/rpc/methods/CoreGetExportData.ts
  packages/core/src/rpc/methods/CoreGetInfo.ts
  packages/core/src/rpc/methods/CoreGetMetadata.ts
  packages/core/src/rpc/methods/CoreGetRefNames.ts
  packages/core/src/rpc/methods/CoreGetRegionByteEstimate.ts
  packages/core/src/rpc/methods/CoreGetRegions.ts
  packages/core/src/rpc/methods/CoreGetSequence.ts
  plugins/text-indexing/src/TextIndexRpcMethod/TextIndexRpcMethod.ts
  plugins/wiggle/src/RenderMultiWiggleDataRPC/RenderMultiWiggleData.ts
  plugins/wiggle/src/RenderWiggleDataRPC/RenderWiggleData.ts
  plugins/wiggle/src/WiggleRPC/MultiWiggleClusterScoreMatrix.ts
  plugins/wiggle/src/WiggleRPC/MultiWiggleGetScoreMatrix.ts
Due: prettier --write, eslint --fix

refactor(rpc): parameterize every RPC method, and split the escape hatch
  example-plugins/score-example/src/ScoreRPC/GetScoreData.ts
  packages/core/src/pluggableElementTypes/RpcMethodType.ts
  packages/core/src/pluggableElementTypes/RpcMethodTypeWithFiltersAndRenameRegions.ts
  packages/core/src/pluggableElementTypes/RpcMethodTypeWithRenameRegion.ts
  packages/core/src/pluggableElementTypes/RpcMethodTypeWithRenameRegions.ts
  packages/core/src/rpc/methods/CoreGetFeatures.ts
  packages/synteny-core/src/DiagonalizeRpcBase.ts
  plugins/alignments/src/RenderAlignmentDataRPC/GetConsensusSequence.ts
  plugins/alignments/src/RenderAlignmentDataRPC/GetFeatureDetails.ts
  plugins/alignments/src/RenderAlignmentDataRPC/GetGlobalValueForTag.ts
  plugins/alignments/src/RenderAlignmentDataRPC/RenderAlignmentData.ts
  plugins/breakpoint-split-view/src/BreakpointGetFeatures/BreakpointGetFeatures.ts
  plugins/canvas/src/MultiRowClusterFeaturesRPC/MultiRowClusterFeatures.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/MultiRowGetFeatures.ts
  plugins/canvas/src/RenderFeatureDataRPC/GetFeatureDetails.ts
  plugins/canvas/src/RenderFeatureDataRPC/RenderFeatureData.ts
  plugins/dotplot-view/src/DiagonalizeDotplotRpc.ts
  plugins/dotplot-view/src/DotplotDisplay/DotplotGetFeaturesAndPositions.ts
  plugins/gwas/src/ManhattanRPC/GetManhattanData.ts
  plugins/hic/src/RenderHicDataRPC/RenderHicData.ts
  plugins/linear-comparative-view/src/DiagonalizeSyntenyRpc.ts
  plugins/linear-comparative-view/src/LaunchSyntenyView/SyntenyDiscoverMatesRpc.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/SyntenyGetFeaturesAndPositions.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/SyntenyResolveMatchingRegion.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/LinearMafGetAlignmentData.ts
  plugins/maf/src/LinearMafGetAnnotationDataRpc/LinearMafGetAnnotationData.ts
  plugins/maf/src/LinearMafGetSummaryDataRpc/LinearMafGetSummaryData.ts
  plugins/maf/src/MafGetSequencesRpc/MafGetSequences.ts
  plugins/variants/src/RenderLDDataRPC/RenderLDData.ts
  plugins/variants/src/VariantRPC/MultiSampleVariantClusterGenotypeMatrix.ts
  plugins/variants/src/VariantRPC/MultiSampleVariantGetCellData.ts
  plugins/variants/src/VariantRPC/MultiSampleVariantGetGenotypeMatrix.ts
  plugins/variants/src/VariantRPC/MultiSampleVariantGetSources.ts
  website/docs/developer_guides/plotting_features.md
  website/docs/developer_guides/rpc_workers.md
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
