Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: name rowHeight a slot, in the two rules that still called it a prop
  CLAUDE.md
  packages/tree-sidebar/CLAUDE.md
Due: prettier --write

docs(displaychrome): generate the adoption map, and it was already wrong
  agent-docs/reference/DISPLAYCHROME.md
  scripts/autogen.ts
  website/scripts/generate-display-chrome-adoption.ts
Due: prettier --write, eslint --fix

fix(review-ui): the repaint that confirms a verdict ate the reason being typed
  packages/browser-test-utils/src/reviewClient.ts
  packages/browser-test-utils/src/reviewClientProbe.ts
Due: prettier --write, eslint --fix

fix(maf): unify the two MAF line parsers, so a bgzip MAF reads e/i lines too
  plugins/maf/src/BgzipMafAdapter/BgzipMafAdapter.ts
  plugins/maf/src/BgzipMafAdapter/mafParsing.test.ts
  plugins/maf/src/BgzipMafAdapter/mafParsing.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/mafWirePacker.test.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/mafWirePacker.ts
  plugins/maf/src/util/mafLines.ts
  plugins/maf/src/util/parseBigMaf.ts
Due: prettier --write, eslint --fix

perf(maf): index a block's row edges as a byte mask, not two Sets
  plugins/maf/src/LinearMafRenderer/rendering/rowFlank.test.ts
  plugins/maf/src/LinearMafRenderer/rendering/rowFlank.ts
Due: prettier --write, eslint --fix

docs(rejected): the three MAF encode wins that measurement killed
  agent-docs/reference/REJECTED_IDEAS.md
Due: prettier --write

fix(svg-export): a clip nothing was drawn inside emits nothing
  packages/core/src/util/SvgCanvas.test.ts
  packages/core/src/util/SvgCanvas.ts
Due: prettier --write, eslint --fix

fix(undo): an undo restoring more than one field killed redo
  packages/core/src/util/TimeTraveller.test.ts
  packages/core/src/util/TimeTraveller.ts
Due: prettier --write, eslint --fix

docs(svg-export): the guide's example is two API changes stale
  agent-docs/reference/SVG_EXPORT.md
  packages/render-core/CLAUDE.md
  packages/render-core/src/canvas2dUtils.test.ts
  packages/render-core/src/canvas2dUtils.ts
Due: prettier --write, eslint --fix

test(svg-export): regenerate the canvas feature golden 0e9418b535 left stale
  products/jbrowse-web/src/tests/__image_snapshots__/canvas_feature_vector_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgDisplayTypes.test.tsx.snap
Due: none

test(svg-export): regenerate the breakpoint golden for the dropped empty clips
  products/jbrowse-web/src/tests/__image_snapshots__/breakpoint_split_view_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgBreakpointSplitView.test.tsx.snap
Due: none

docs(svg-export): the public guide re-derives renderBlocks too
  website/docs/developer_guides/svg_export.md
Due: prettier --write

chore(autogen): regenerate the model doc main left stale
  website/docs/models/LinearMultiRowFeatureDisplay.md
Due: prettier --write

fix(canvas): peptide letters measured a cell, not the string in it
  plugins/canvas/src/LinearBasicDisplay/components/hitTesting.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/hitTesting.ts
  plugins/canvas/src/LinearBasicDisplay/components/peptidePositioning.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/peptidePositioning.ts
  plugins/canvas/src/LinearBasicDisplay/hgvsPosition.ts
Due: prettier --write, eslint --fix

refactor(canvas): what a hit SAYS, split from how a hit is FOUND
  plugins/canvas/src/LinearBasicDisplay/components/FeatureComponent.tsx
  plugins/canvas/src/LinearBasicDisplay/components/PeptideCanvas.tsx
  plugins/canvas/src/LinearBasicDisplay/components/hitTesting.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/hitTesting.ts
  plugins/canvas/src/LinearBasicDisplay/components/hoverReadout.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/hoverReadout.ts
  plugins/canvas/src/LinearBasicDisplay/components/overlayElements.tsx
  plugins/canvas/src/RenderFeatureDataRPC/testUtils.ts
Due: prettier --write, eslint --fix

test(canvas): assert the peptide letters on what is painted, not on the input
  plugins/canvas/src/LinearBasicDisplay/components/peptidePositioning.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/zoomThresholds.ts
Due: prettier --write, eslint --fix

refactor(variants): route two re-typed answers back through the shared getter
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/VariantComponent.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/VariantInsertionGlyphOverlay.tsx
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
Due: prettier --write, eslint --fix

docs(review-ui): the repaint is the bug, and the port costed against it
  agent-docs/OTHER_IDEAS.md
  packages/browser-test-utils/src/reviewClient.ts
Due: prettier --write, eslint --fix

fix(canvas): peptide residue numbers are a zoom decision, not a per-residue one
  plugins/canvas/src/LinearBasicDisplay/components/peptidePositioning.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/peptidePositioning.ts
Due: prettier --write, eslint --fix

refactor(svg-export): drop SvgCanvas's unemittable globalCompositeOperation
  packages/core/src/util/SvgCanvas.ts
Due: prettier --write, eslint --fix

test(svg-export): the second golden 0e9418b535 left stale
  products/jbrowse-web/src/tests/__snapshots__/ReversedRegionLabels.test.tsx.snap
Due: none

refactor(sequence): take renderBlocks off the props, like every other export
  plugins/sequence/src/LinearReferenceSequenceDisplay/renderSvg.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/reversed_region_labels_snapshot.svg
Due: prettier --write, eslint --fix

test(perf): give the linked-read suites a config holding only their track
  products/jbrowse-web/src/tests/testLinkedReadsDisplay.tsx
  products/jbrowse-web/src/tests/util.tsx
Due: prettier --write, eslint --fix

test(perf): trim the volvox config to the tracks each suite opens
  products/jbrowse-web/src/tests/AlignmentGroupBy.test.tsx
  products/jbrowse-web/src/tests/Alignments.test.tsx
  products/jbrowse-web/src/tests/AlignmentsColorBy.test.tsx
  products/jbrowse-web/src/tests/AlignmentsFilters.test.tsx
  products/jbrowse-web/src/tests/AlignmentsSoftClip.test.tsx
  products/jbrowse-web/src/tests/AlignmentsSort.test.tsx
  products/jbrowse-web/src/tests/BigWig.test.tsx
  products/jbrowse-web/src/tests/BigWigColor.test.tsx
  products/jbrowse-web/src/tests/CollapseIntrons.test.tsx
  products/jbrowse-web/src/tests/DrawerWidget.test.tsx
  products/jbrowse-web/src/tests/ExportSvgDisplayTypes.test.tsx
  products/jbrowse-web/src/tests/ExportSvgLinearGenomeView.test.tsx
  products/jbrowse-web/src/tests/Manhattan.test.tsx
  products/jbrowse-web/src/tests/PeptideRendering.test.tsx
  products/jbrowse-web/src/tests/ReadVsRef.test.tsx
  products/jbrowse-web/src/tests/ReversedAlignmentsBlocks.test.tsx
  products/jbrowse-web/src/tests/ReversedRegionLabels.test.tsx
  products/jbrowse-web/src/tests/SubfeatureLabels.test.tsx
  products/jbrowse-web/src/tests/TrackMenu.test.tsx
  products/jbrowse-web/src/tests/VariantColorBy.test.tsx
  products/jbrowse-web/src/tests/VariantDescriptionLabelClick.test.tsx
  products/jbrowse-web/src/tests/VariantVocabulary.test.tsx
  products/jbrowse-web/src/tests/VcfCluster.test.tsx
  products/jbrowse-web/src/tests/testOpenTrack.tsx
  products/jbrowse-web/src/tests/util.tsx
Due: prettier --write, eslint --fix

docs(testing): what createView costs, and why it is mostly the track selector
  agent-docs/reference/TEST_INFRASTRUCTURE.md
Due: prettier --write

test: restore the reversed-region golden to main's bytes
  products/jbrowse-web/src/tests/__image_snapshots__/reversed_region_labels_snapshot.svg
Due: none

test: take main's reversed-region golden
  products/jbrowse-web/src/tests/__image_snapshots__/reversed_region_labels_snapshot.svg
Due: none

fix(ld): genomic-mode cells were drawn as the wrong quadrilateral on Canvas2D
  plugins/variants/src/LDDisplay/components/Canvas2DLDRenderer.test.ts
  plugins/variants/src/LDDisplay/components/Canvas2DLDRenderer.ts
Due: prettier --write, eslint --fix

fix(ld): an emptied matrix stopped reporting the layout mode, jumping the chrome
  plugins/variants/src/RenderLDDataRPC/emptyResult.test.ts
  plugins/variants/src/RenderLDDataRPC/executeRenderLDData.ts
Due: prettier --write, eslint --fix

refactor(tree-sidebar): one cluster-provenance caption, not two copies
  packages/tree-sidebar/src/SvgClusterProvenanceCaption.test.tsx
  packages/tree-sidebar/src/SvgClusterProvenanceCaption.tsx
  packages/tree-sidebar/src/SvgTreeSidebar.tsx
  packages/tree-sidebar/src/index.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/renderSvg.tsx
Due: prettier --write, eslint --fix

fix(sequence): report the strand of the base the tooltip is showing
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/drawSequence.test.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/drawSequence.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/sequenceHover.test.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/sequenceHover.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/model.ts
  website/docs/developer_guides/svg_export.md
  website/docs/models/LinearReferenceSequenceDisplay.md
Due: prettier --write, eslint --fix

refactor(review-ui): port the screenshot review page to React
  packages/browser-test-utils/package.json
  packages/browser-test-utils/src/index.ts
  packages/browser-test-utils/src/reviewApp/drafts.ts
  packages/browser-test-utils/src/reviewApp/index.ts
  packages/browser-test-utils/src/reviewApp/probeFixture.tsx
  packages/browser-test-utils/src/reviewApp/protocol.ts
  packages/browser-test-utils/src/reviewApp/types.ts
  packages/browser-test-utils/src/reviewApp/useNoteDraft.ts
  packages/browser-test-utils/src/reviewApp/useReview.ts
  packages/browser-test-utils/src/reviewAppProbe.ts
  packages/browser-test-utils/src/reviewBundle.ts
  pnpm-lock.yaml
  website/package.json
  website/scripts/review-app/App.tsx
  website/scripts/review-app/Card.tsx
  website/scripts/review-app/Compare.tsx
  website/scripts/review-app/StoreBanner.tsx
  website/scripts/review-app/app.css
  website/scripts/review-app/css.d.ts
  website/scripts/review-app/filters.ts
  website/scripts/review-app/main.tsx
  website/scripts/review-payload.ts
  website/scripts/review-screenshots-web.ts
Due: prettier --write, eslint --fix

docs(review-ui): the port is half done, and say which half
  agent-docs/OTHER_IDEAS.md
  packages/browser-test-utils/src/reviewClient.ts
  website/CLAUDE.md
Due: prettier --write, eslint --fix

test(perf): drive the jbrowse-web tests with fireEvent, not userEvent
  products/jbrowse-web/src/tests/AlignmentGroupBy.test.tsx
  products/jbrowse-web/src/tests/Alignments.test.tsx
  products/jbrowse-web/src/tests/AlignmentsColorBy.test.tsx
  products/jbrowse-web/src/tests/AlignmentsFilters.test.tsx
  products/jbrowse-web/src/tests/AlignmentsSoftClip.test.tsx
  products/jbrowse-web/src/tests/AlignmentsSort.test.tsx
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.tsx
  products/jbrowse-web/src/tests/BookmarkWidget.test.tsx
  products/jbrowse-web/src/tests/CollapseIntrons.test.tsx
  products/jbrowse-web/src/tests/Connection.test.tsx
  products/jbrowse-web/src/tests/ExportSession.test.tsx
  products/jbrowse-web/src/tests/LGVSynteny.test.tsx
  products/jbrowse-web/src/tests/SaveTrackData.test.tsx
  products/jbrowse-web/src/tests/SubfeatureLabels.test.tsx
  products/jbrowse-web/src/tests/TrackMenu.test.tsx
  products/jbrowse-web/src/tests/VariantColorBy.test.tsx
  products/jbrowse-web/src/tests/VariantDescriptionLabelClick.test.tsx
  products/jbrowse-web/src/tests/VariantVocabulary.test.tsx
  products/jbrowse-web/src/tests/testLinkedReadsDisplay.tsx
  products/jbrowse-web/src/tests/util.tsx
Due: prettier --write, eslint --fix

test(perf): trim the config for the multi-sample, multi-bigwig and export-error suites
  products/jbrowse-web/src/tests/ExportSvgError.test.tsx
  products/jbrowse-web/src/tests/MultiBigWig.test.tsx
  products/jbrowse-web/src/tests/testLinearMultiSampleVariantDisplay.tsx
Due: prettier --write, eslint --fix

docs(testing): fireEvent over userEvent, and the four sites that need the difference
  agent-docs/reference/TEST_INFRASTRUCTURE.md
Due: prettier --write

fix(alignments): the chain hit test picked the leftmost box, not the drawn one
  plugins/alignments/src/LinearAlignmentsDisplay/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/components/hitTestPipeline.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/hitTestPipeline.ts
  plugins/alignments/src/LinearAlignmentsDisplay/groupLayout.ts
Due: prettier --write, eslint --fix

fix(gccontent): snap the sampling grid to the step, and center each bin on its window
  plugins/gccontent/src/GCContentAdapter/GCContentAdapter.test.ts
  plugins/gccontent/src/GCContentAdapter/GCContentAdapter.ts
  plugins/gccontent/src/LinearGCContentDisplay/gcParamsInvalidate.test.ts
  plugins/gccontent/src/LinearGCContentDisplay/shared.tsx
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/fullpage_bigwig-gc-content.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/fullpage_bigwig-gc-skew.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_bigwig-gc-content.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_bigwig-gc-skew.png
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/SharedGCContentModel.md
Due: prettier --write, eslint --fix

refactor(review-ui): port the snapshot review too, and delete the old client
  agent-docs/OTHER_IDEAS.md
  packages/browser-test-utils/src/index.ts
  packages/browser-test-utils/src/reviewApp/protocol.ts
  packages/browser-test-utils/src/reviewClient.ts
  packages/browser-test-utils/src/reviewClientProbe.ts
  products/jbrowse-web/CLAUDE.md
  products/jbrowse-web/browser-tests/review-app/App.tsx
  products/jbrowse-web/browser-tests/review-app/Card.tsx
  products/jbrowse-web/browser-tests/review-app/app.css
  products/jbrowse-web/browser-tests/review-app/css.d.ts
  products/jbrowse-web/browser-tests/review-app/filters.ts
  products/jbrowse-web/browser-tests/review-app/main.tsx
  products/jbrowse-web/browser-tests/review-snapshot-payload.ts
  products/jbrowse-web/browser-tests/review-snapshots-web.ts
Due: prettier --write, eslint --fix

docs: delete the review-UI idea now that it is built
  agent-docs/OTHER_IDEAS.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
