Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

indexCandidateNames says it can return no name
  packages/add-track-core/src/indexCandidates.ts
Due: prettier --write, eslint --fix

The Arabidopsis pangenome build names the SyRI helper main ships
  demos/arabidopsis_pangenome/README.txt
  demos/arabidopsis_pangenome/config.json
  scripts/arabidopsis_pangenome_config.py
  scripts/build_arabidopsis_pangenome.sh
Due: none

Leaving collapsed mode seeds no rows, like leaving a flattened band
  plugins/canvas/src/LinearBasicDisplay/featureHighlightInk.ts
  plugins/canvas/src/LinearBasicDisplay/hoverInk.test.ts
  plugins/canvas/src/LinearBasicDisplay/layout.test.ts
  plugins/canvas/src/LinearBasicDisplay/layout.ts
  plugins/canvas/src/LinearBasicDisplay/layoutInputs.ts
  plugins/canvas/src/LinearBasicDisplay/marks/canvasFeatureMarks.test.ts
  plugins/canvas/src/LinearBasicDisplay/marks/featureGlyphMarks.ts
Due: prettier --write, eslint --fix

ADR-120 records the declined bare-string fileLocation
  agent-docs/architecture-decision-records/adr-120-one-json-schema-for-config-and-session-spec.md
Due: prettier --write

The graph plugin loads from jbrowse.org's plugin store, not unpkg
  agent-docs/reference/HOSTING.md
  agent-docs/reference/PANGENOME_GRAPHS.md
  agent-docs/reference/REGION_VIEW_LAUNCH.md
  demos/arabidopsis_pangenome/config.json
  demos/ecoli_pangenome/config.json
  demos/hprc/config.json
  demos/hprc_multiway/config.json
  products/jbrowse-web/browser-tests/multiway-hprc-probe.ts
  scripts/arabidopsis_pangenome_config.py
  scripts/build_chrm_graph.sh
  scripts/build_ecoli_pangenome_cactus.sh
  scripts/build_ecoli_pangenome_graph.sh
  test_data/chrm/config.json
  test_data/graphgenomeview/README.md
  test_data/graphgenomeview/config.json
  test_data/graphgenomeview/ecoli_pangenome.json
  test_data/graphgenomeview/hprc.json
  test_data/graphgenomeview/hprc_haplotype.json
  test_data/graphgenomeview/hprc_tour.json
  test_data/graphgenomeview/pangenome_nonhuman.json
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/user_guides/graph_genome_view.md
  website/scripts/check-live-configs.ts
  website/scripts/screenshot-page.ts
  website/scripts/specs/graph-fixtures.ts
  website/scripts/third-party-hosts.txt
Due: prettier --write, eslint --fix

Edit plot keeps its selection, its zoom fractions and its repeated problems
  plugins/marks/src/LinearMarkDisplay/components/MarkList.tsx
  plugins/marks/src/LinearMarkDisplay/components/MarkPlotDialog.test.tsx
  plugins/marks/src/LinearMarkDisplay/components/MarkPlotDialog.tsx
  plugins/marks/src/LinearMarkDisplay/components/MarkProblems.test.tsx
  plugins/marks/src/LinearMarkDisplay/components/MarkProblems.tsx
Due: prettier --write, eslint --fix

Cut two authoring members nothing reads
  plugins/marks/src/LinearMarkDisplay/components/PlotJsonDialog.test.tsx
  plugins/marks/src/LinearMarkDisplay/components/PlotJsonDialog.tsx
  plugins/marks/src/LinearMarkDisplay/markProblemIndex.test.ts
  plugins/marks/src/LinearMarkDisplay/markProblemIndex.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearMarkDisplay.md
Due: prettier --write, eslint --fix

A link's width scale row offers its own ramps, and no colour's stops
  plugins/marks/src/LinearMarkDisplay/components/MarkPlotDialog.test.tsx
  plugins/marks/src/LinearMarkDisplay/components/MarkScaleRow.tsx
  plugins/marks/src/LinearMarkDisplay/markEdit.test.ts
  plugins/marks/src/LinearMarkDisplay/markEdit.ts
Due: prettier --write, eslint --fix

A shown track handed a display type it is not drawn as switches to it
  packages/app-core/src/JbApi/jbApi.ts
  packages/core/src/util/tracks.ts
  products/jbrowse-web/src/tests/TrackActions.test.ts
  website/docs/agents_live_model.md
  website/docs/agents_recipes.md
Due: prettier --write, eslint --fix

A colour or shape typed into Edit plot is a field unless it spells a constant
  plugins/marks/src/LinearMarkDisplay/components/MarkFieldPicker.tsx
  plugins/marks/src/LinearMarkDisplay/components/MarkPlotDialog.test.tsx
  plugins/marks/src/LinearMarkDisplay/components/MarkPlotDialog.tsx
  plugins/marks/src/LinearMarkDisplay/markEdit.test.ts
  plugins/marks/src/LinearMarkDisplay/markEdit.ts
Due: prettier --write, eslint --fix

Re-measure the registry bundle
  scripts/registryBundleSizes.json
Due: none

A same-strand split junction between chromosomes draws straight
  plugins/alignments/src/features/linkedReads/compute.ts
  plugins/alignments/src/features/linkedReads/computeOverlay.test.ts
  plugins/alignments/src/features/linkedReads/computeOverlay.ts
Due: prettier --write, eslint --fix

The K562 tutorial and cancer_sv figure notes describe straight connectors
  agent-docs/mechanisms/split-read-chains.md
  website/docs/tutorials/k562_fusions.md
  website/scripts/specs/cancer_sv.ts
Due: prettier --write, eslint --fix

Reshoot the three cancer_sv figures with straight same-strand connectors
  figures.lock
Due: none

docs(r-export): harvest the unlanded exporter onto main
  agent-docs/reference/README.md
  agent-docs/reference/R_EXPORT.md
Due: prettier --write

feat(marks): the data and transform stages, and R that runs
  agent-docs/reference/R_EXPORT.md
  package.json
  plugins/marks/src/rexport/frameFor.ts
  plugins/marks/src/rexport/markToPlot.test.ts
  plugins/marks/src/rexport/markToPlot.ts
  plugins/marks/src/rexport/rHelpers.generated.ts
  plugins/marks/src/rexport/rScript.test.ts
  plugins/marks/src/rexport/rScript.ts
  plugins/marks/src/rexport/rScriptRun.test.ts
  plugins/marks/src/rexport/rhelpers/read_bigwig.R
  plugins/marks/src/rexport/rhelpers/read_gff.R
  plugins/marks/src/rexport/rhelpers/read_regions.R
  plugins/marks/src/rexport/rhelpers/read_vcf.R
  plugins/marks/src/rexport/rhelpers/region_layout.R
  plugins/marks/src/rexport/rplot.test.ts
  plugins/marks/src/rexport/rplot.ts
  plugins/marks/src/rexport/transformR.test.ts
  plugins/marks/src/rexport/transformR.ts
  scripts/autogen.ts
  scripts/build-r-helpers.ts
Due: prettier --write, eslint --fix

feat(marks): a mark display's config translates to a ggplot
  plugins/marks/src/rexport/markToPlot.test.ts
  plugins/marks/src/rexport/markToPlot.ts
  plugins/marks/src/rexport/rplot.ts
Due: prettier --write, eslint --fix

fix(marks): the defects an Opus review found by running the R
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  agent-docs/reference/R_EXPORT.md
  plugins/marks/src/rexport/markToPlot.test.ts
  plugins/marks/src/rexport/markToPlot.ts
  plugins/marks/src/rexport/rScript.test.ts
  plugins/marks/src/rexport/rScript.ts
  plugins/marks/src/rexport/rScriptRun.test.ts
  plugins/marks/src/rexport/rplot.ts
  plugins/marks/src/rexport/transformR.test.ts
  plugins/marks/src/rexport/transformR.ts
Due: prettier --write, eslint --fix

feat(marks): the exporter reads the fields a display names, and the slots it dropped
  agent-docs/reference/R_EXPORT.md
  packages/core/package.json
  plugins/marks/src/rexport/frameFor.ts
  plugins/marks/src/rexport/markToPlot.test.ts
  plugins/marks/src/rexport/markToPlot.ts
  plugins/marks/src/rexport/rHelpers.generated.ts
  plugins/marks/src/rexport/rScript.test.ts
  plugins/marks/src/rexport/rScript.ts
  plugins/marks/src/rexport/rScriptRun.test.ts
  plugins/marks/src/rexport/rhelpers/read_gff.R
  plugins/marks/src/rexport/rhelpers/read_vcf.R
  plugins/marks/src/rexport/rplot.ts
  plugins/marks/src/rexport/transformR.test.ts
  plugins/marks/src/rexport/transformR.ts
  scripts/build-r-helpers.ts
Due: prettier --write, eslint --fix

pnpm autogen
  packages/core/src/ReExports/coreModules.generated.ts
  packages/core/src/ReExports/coreWorkerModules.generated.ts
  packages/core/src/ReExports/list.ts
  packages/core/src/ReExports/reExports.generated.json
  scripts/registryBundleSizes.json
  website/docs/developer_guides/imports_and_reexports.md
Due: prettier --write, eslint --fix

ADR-143's menu sentence and rule 4 catch up with the tree
  agent-docs/architecture-decision-records/adr-143-one-quantitative-display-and-facet-is-the-layout.md
  agent-docs/handoffs/grammar-of-graphics-convergence.md
Due: prettier --write

The reference sequence display drops its own add-GC-track action
  plugins/sequence/src/LinearReferenceSequenceDisplay/OTHER_IDEAS.md
  plugins/sequence/src/LinearReferenceSequenceDisplay/model.ts
  products/jbrowse-web/src/tests/GCContentTrack.test.ts
Due: prettier --write, eslint --fix

A multi-wiggle's display defaults are its display schema's defaults
  agent-docs/architecture-decision-records/adr-143-one-quantitative-display-and-facet-is-the-layout.md
  agent-docs/architecture-decision-records/adr-170-a-track-types-display-defaults-are-schema-defaults.md
  plugins/wiggle/src/CLAUDE.md
  plugins/wiggle/src/LinearWiggleDisplay/retired.test.ts
  plugins/wiggle/src/LinearWiggleDisplay/retired.ts
  plugins/wiggle/src/MultiQuantitativeTrack/configSchema.ts
  plugins/wiggle/src/MultiQuantitativeTrack/displayDefaults.test.ts
  plugins/wiggle/src/MultiQuantitativeTrack/displayDefaults.ts
  plugins/wiggle/src/MultiQuantitativeTrack/displaySchema.ts
  products/jbrowse-react-app/src/rootModel/legacySessions.test.ts
  website/docs/config_guides/quantitative_track.md
  website/docs/developer_guides/upgrading_v5.md
Due: prettier --write, eslint --fix

The JSON schema reads a restated display schema as the display
  agent-docs/architecture-decision-records/adr-170-a-track-types-display-defaults-are-schema-defaults.md
  plugins/wiggle/src/MultiQuantitativeTrack/configSchema.ts
  scripts/configJsonSchema.ts
  website/docs/config/MultiQuantitativeTrack.md
  website/docs/models/LinearReferenceSequenceDisplay.md
Due: prettier --write, eslint --fix

A share-link delta keyed on a retired display's id reaches its display
  agent-docs/architecture-decision-records/adr-168-a-retired-display-is-declared-on-its-successor.md
  packages/product-core/src/sessionMigrations/index.ts
  packages/product-core/src/sessionMigrations/sessionMigrations.test.ts
  products/jbrowse-react-app/src/rootModel/legacySessions.test.ts
Due: prettier --write, eslint --fix

Two tests read a multi track's rows through its config, not its snapshot
  plugins/marks/src/LinearMarkDisplay/quantitativeTrackRows.test.ts
  products/jbrowse-react-app/src/sessionTrackEdits.test.ts
Due: prettier --write, eslint --fix

GCContentAdapter names the track type the app writes for it
  packages/add-track-core/src/trackTypes.generated.ts
  plugins/gccontent/src/GCContentAdapter/configSchema.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/GCContentAdapter.md
  website/docs/config/GCContentTrack.md
  website/docs/config/LinearGCContentTrackDisplay.md
  website/docs/config/LinearWiggleDisplay.md
  website/docs/config/QuantitativeTrack.md
  website/docs/config_guides/file_types.md
Due: prettier --write, eslint --fix

One GC content display for both track types
  .claude/skills/jbrowse-authoring/references/config-types.md
  agent-docs/ARCHITECTURE.md
  agent-docs/architecture-decision-records/adr-168-a-retired-display-is-declared-on-its-successor.md
  agent-docs/measurements/config-read-gap-populations.json
  agent-docs/measurements/config-read-type-gaps.json
  agent-docs/reference/DISPLAYCHROME.md
  agent-docs/reference/DISPLAY_HOOKS.md
  plugins/gccontent/src/LinearGCContentDisplay/configSchema.ts
  plugins/gccontent/src/LinearGCContentDisplay/configSchemaReferenceSequence.ts
  plugins/gccontent/src/LinearGCContentDisplay/configSchemaTrack.ts
  plugins/gccontent/src/LinearGCContentDisplay/gcParamsInvalidate.test.ts
  plugins/gccontent/src/LinearGCContentDisplay/index.ts
  plugins/gccontent/src/LinearGCContentDisplay/stateModel.tsx
  plugins/gccontent/src/LinearGCContentDisplay/stateModelReferenceSequence.ts
  plugins/gccontent/src/LinearGCContentDisplay/stateModelTrack.ts
  plugins/gccontent/src/makeGCContentTrackConf.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-react-app/src/rootModel/legacySessions.test.ts
  products/jbrowse-web/src/tests/GCContentTrack.test.ts
  products/jbrowse-web/src/tests/TrackActions.test.ts
  scripts/configReadTypeGaps.txt
  website/docs/config/GCContentAdapter.md
  website/docs/config/GCContentTrack.md
  website/docs/config/LinearGCContentDisplay.md
  website/docs/config/LinearGCContentTrackDisplay.md
  website/docs/config/LinearWiggleDisplay.md
  website/docs/config/SharedGCContentDisplay.md
  website/docs/config_guides/tracks.md
  website/docs/developer_guides/creating_display.md
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/SharedGCContentModel.md
  website/scripts/api-docs/coverage-gaps.txt
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

The marks rows test reads each display through readConfObject
  plugins/marks/src/LinearMarkDisplay/quantitativeTrackRows.test.ts
Due: prettier --write, eslint --fix

pnpm autogen
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-052-slot-name-safety-is-a-write-guard.md
  agent-docs/architecture-decision-records/adr-091-a-displays-settings-are-a-declaration.md
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
Due: prettier --write

The multi-track display defaults ADR is 172; main took 170 and 171
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-143-one-quantitative-display-and-facet-is-the-layout.md
  agent-docs/architecture-decision-records/adr-172-a-track-types-display-defaults-are-schema-defaults.md
  plugins/wiggle/src/CLAUDE.md
Due: prettier --write

A retired display type lists the slot values its migrate rewrites
  agent-docs/architecture-decision-records/adr-168-a-retired-display-is-declared-on-its-successor.md
  packages/core/src/pluggableElementTypes/DisplayType.ts
  plugins/wiggle/src/LinearWiggleDisplay/retired.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-cli/src/commands/validate/schemaValidate.test.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.test.ts
  scripts/generateConfigManifest.ts
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

Revert "A share-link delta keyed on a retired display's id reaches its display"
  agent-docs/architecture-decision-records/adr-168-a-retired-display-is-declared-on-its-successor.md
  packages/product-core/src/sessionMigrations/index.ts
  packages/product-core/src/sessionMigrations/sessionMigrations.test.ts
  products/jbrowse-react-app/src/rootModel/legacySessions.test.ts
Due: prettier --write, eslint --fix

A multi track's displayDefaults folds no legacy rendering name
  agent-docs/architecture-decision-records/adr-172-a-track-types-display-defaults-are-schema-defaults.md
  plugins/wiggle/src/LinearWiggleDisplay/retired.test.ts
  plugins/wiggle/src/LinearWiggleDisplay/retired.ts
  plugins/wiggle/src/MultiQuantitativeTrack/displayDefaults.ts
  products/jbrowse-cli/src/commands/validate/schemaValidate.test.ts
Due: prettier --write, eslint --fix

pnpm autogen
  scripts/registryBundleSizes.json
Due: none

A probe counts what each multi-way gutter draws, by kind and by where its records came from
  website/scripts/probe-multiway-gutters.ts
Due: prettier --write, eslint --fix

Reshoot the two HPRC multi-way figures with every gutter drawing its alignment
  figures.lock
Due: none

An insertion both lanes make at one anchor point composes as unstated, like a mismatch both call
  agent-docs/handoffs/hprc-graph-overview-and-live-stack.md
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/composeAlignmentOps.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/composeAlignmentOps.ts
Due: prettier --write, eslint --fix

check-oracle skips a named, reasoned function: the two hull vertices
  agent-docs/reference/SHADER_JS_CODEGEN.md
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/render-core/src/shaders/curveDistance.slang
  packages/shader-tools/src/check-oracle.ts
  packages/shader-tools/src/shader-codegen/parseDirectives.test.ts
  packages/shader-tools/src/shader-codegen/parseDirectives.ts
Due: prettier --write, eslint --fix

The arc hull covers every inked point, so linkMark's analytic declaration holds
  agent-docs/ideas/waiting-on-a-number/arc-antialiasing-without-msaa.md
  agent-docs/reference/ARC_BAND.md
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/render-core/src/shaders/arcHull.test.ts
  packages/render-core/src/shaders/curveDistance.js.generated.ts
  packages/render-core/src/shaders/curveDistance.slang
  packages/render-core/src/shaders/linkMark.glsl.generated.ts
  packages/render-core/src/shaders/linkMark.slang
  packages/render-core/src/shaders/linkMark.wgsl.generated.ts
  packages/render-core/src/shaders/wideCircleLeg.test.ts
  plugins/alignments/src/shaders/slang/arc.glsl.generated.ts
  plugins/alignments/src/shaders/slang/arc.slang
  plugins/alignments/src/shaders/slang/arc.wgsl.generated.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
