Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(alignments): floor the coverage band's drawable height at 0
  packages/alignments-core/src/coverageBandLayout.generated.ts
  packages/alignments-core/src/coverageBandLayoutParity.test.ts
  plugins/alignments/src/shaders/slang/alignmentsUniforms.slang
  plugins/alignments/src/shaders/slang/coverage.generated.ts
  plugins/alignments/src/shaders/slang/modCoverage.generated.ts
  plugins/alignments/src/shaders/slang/snpCoverage.generated.ts
Due: prettier --write, eslint --fix

refactor(alignments): the SNP segment buffer is the representation
  agent-docs/reference/MAF_WORKER_PIPELINE.md
  agent-docs/reference/REJECTED_IDEAS.md
  packages/alignments-core/benches/coverageBand.bench.ts
  packages/alignments-core/src/computeSNPCoverage.test.ts
  packages/alignments-core/src/coverageDownsampling.ts
  packages/alignments-core/src/coverageGpuPacking.ts
  packages/alignments-core/src/index.ts
  packages/alignments-core/src/modCovSegments.ts
  packages/alignments-core/src/snpCoverage.ts
  packages/alignments-core/src/snpSegments.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/coverageParity.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/canvasCoverageLayers.test.ts
  plugins/alignments/src/features/snpCoverage/packGpu.ts
  plugins/alignments/src/shared/buildCoverageResultFields.ts
  plugins/alignments/src/shared/packCoverageArea.test.ts
  plugins/alignments/src/shared/packCoverageArea.ts
  plugins/alignments/src/shared/runCoveragePipeline.test.ts
  plugins/alignments/src/shared/runCoveragePipeline.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/buildMafCoverageRegion.ts
Due: prettier --write, eslint --fix

bench(alignments): the mismatch-frequency run-walk, measured and declined
  agent-docs/reference/REJECTED_IDEAS.md
  plugins/alignments/benches/coverageFrequencies.bench.ts
  plugins/alignments/src/shared/computeFrequenciesAndThresholds.ts
Due: prettier --write, eslint --fix

refactor(alignments): the SNP segment draw takes a five-colour palette
  packages/alignments-core/src/index.ts
  packages/alignments-core/src/labelConstants.ts
  packages/alignments-core/src/rendererUtils.test.ts
  packages/alignments-core/src/rendererUtils.ts
  plugins/alignments/src/features/mismatch/baseColors.ts
  plugins/alignments/src/features/snpCoverage/drawCanvas.ts
  plugins/maf/src/LinearMafDisplay/components/drawMafCoverage.ts
Due: prettier --write, eslint --fix

test(jbrowse-web): regenerate the synteny export goldens b63459f648 left stale
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgLinearSyntenyView.test.tsx.snap
Due: none

docs(alignments): what the band's colours mean at 300x, and on a log axis
  agent-docs/reference/DEEP_COVERAGE.md
  plugins/alignments/src/shaders/slang/snpCoverage.slang
Due: prettier --write

test(core): pin the save dialog's three fetch branches, and drop a re-read they exposed
  packages/core/src/pluggableElementTypes/models/components/SaveTrackData.tsx
  packages/core/src/pluggableElementTypes/models/components/fetchTrackData.test.ts
  packages/core/src/pluggableElementTypes/models/components/fetchTrackData.ts
Due: prettier --write, eslint --fix

feat(core): the save dialog asks before pulling a region its display would refuse
  packages/core/src/pluggableElementTypes/models/components/SaveTrackData.tsx
  packages/core/src/pluggableElementTypes/models/components/fetchTrackData.test.ts
  packages/core/src/pluggableElementTypes/models/components/fetchTrackData.ts
  packages/core/src/util/index.ts
  packages/core/src/util/numericUtils.ts
  plugins/linear-genome-view/src/shared/regionTooLargeUtils.ts
Due: prettier --write, eslint --fix

refactor(core): one place decides an export's trailing newline, and the dialog reads straight through
  packages/core/src/pluggableElementTypes/models/components/SaveTrackData.tsx
  packages/core/src/pluggableElementTypes/models/components/fetchTrackData.test.ts
  packages/core/src/pluggableElementTypes/models/components/fetchTrackData.ts
  packages/core/src/pluggableElementTypes/models/saveTrackFileTypes/__snapshots__/genbank.test.ts.snap
  packages/core/src/pluggableElementTypes/models/saveTrackFileTypes/__snapshots__/gff3.test.ts.snap
  packages/core/src/pluggableElementTypes/models/saveTrackFileTypes/bed.ts
  packages/core/src/pluggableElementTypes/models/saveTrackFileTypes/genbank.ts
  packages/core/src/pluggableElementTypes/models/saveTrackFileTypes/gff3.test.ts
  packages/core/src/pluggableElementTypes/models/saveTrackFileTypes/gff3.ts
  products/jbrowse-web/src/tests/__file_snapshots__/save_track_data.bedgraph
  products/jbrowse-web/src/tests/__file_snapshots__/save_track_data.cram.sam
  products/jbrowse-web/src/tests/__file_snapshots__/save_track_data.fa
  products/jbrowse-web/src/tests/__file_snapshots__/save_track_data.sam
  products/jbrowse-web/src/tests/__file_snapshots__/save_track_data.vcf
  products/jbrowse-web/src/tests/__snapshots__/SaveTrackData.test.tsx.snap
Due: prettier --write, eslint --fix

refactor(core): the save dialog splits into a fetch hook and a format picker
  packages/core/src/pluggableElementTypes/models/components/SaveTrackData.tsx
Due: prettier --write, eslint --fix

fix(core): GenBank export writes one record per reference sequence
  packages/core/src/pluggableElementTypes/models/saveTrackFileTypes/genbank.test.ts
  packages/core/src/pluggableElementTypes/models/saveTrackFileTypes/genbank.ts
Due: prettier --write, eslint --fix

test(web): drive the save dialog's size gate end to end
  products/jbrowse-web/src/tests/SaveTrackData.test.tsx
Due: prettier --write, eslint --fix

refactor(core): the export's two adapter questions become track-model getters
  packages/core/src/pluggableElementTypes/models/BaseTrackModel.ts
  packages/core/src/pluggableElementTypes/models/components/SaveTrackData.tsx
  packages/core/src/pluggableElementTypes/models/components/fetchTrackData.test.ts
  packages/core/src/pluggableElementTypes/models/components/fetchTrackData.ts
  packages/core/src/pluggableElementTypes/models/exportGetters.test.ts
  scripts/chromeBundleSizes.json
  website/docs/models/BaseTrackModel.md
Due: prettier --write, eslint --fix

fix(synteny): an axis change releases the dotplot form's stale track selection
  packages/synteny-core/src/SelectorTypes.ts
  packages/synteny-core/src/index.ts
  packages/synteny-core/src/remapSelectionsToPairs.ts
  packages/synteny-core/src/useChromosomeFilters.ts
  packages/synteny-core/src/useQuickStartState.ts
  plugins/dotplot-view/src/DotplotView/components/ImportForm/index.test.tsx
  plugins/dotplot-view/src/DotplotView/components/ImportForm/index.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/LeftPanel.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/LinearSyntenyImportForm.test.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/LinearSyntenyImportForm.tsx
  website/docs/tutorials/hg002_haplotypes.md
Due: prettier --write, eslint --fix

refactor(synteny): applyQuickStartSelections counts pairs with syntenyPairs
  packages/synteny-core/src/useQuickStartState.ts
  plugins/dotplot-view/src/DotplotView/components/ImportForm/index.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/LinearSyntenyImportForm.tsx
Due: prettier --write, eslint --fix

fix(synteny): a row edit carries each row's chromosome filter with it
  packages/synteny-core/src/index.ts
  packages/synteny-core/src/useChromosomeFilters.test.ts
  packages/synteny-core/src/useChromosomeFilters.ts
  packages/synteny-core/src/useQuickStartState.ts
  plugins/dotplot-view/src/DotplotView/components/ImportForm/index.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/LinearSyntenyImportForm.test.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/LinearSyntenyImportForm.tsx
Due: prettier --write, eslint --fix

refactor(alignments): a gap kind is GapTypeCode, not a bare number
  plugins/alignments/src/features/gap/drawCanvas.test.ts
  plugins/alignments/src/features/gap/drawCanvas.ts
  plugins/alignments/src/features/gap/packGpu.test.ts
  plugins/alignments/src/features/gap/packGpu.ts
  plugins/alignments/src/features/gap/types.ts
Due: prettier --write, eslint --fix

refactor(core): the markup-or-text heuristic moves out of SanitizedHTML
  packages/core/src/ui/SanitizedHTML.tsx
  packages/core/src/util/htmlText.ts
Due: prettier --write, eslint --fix

fix(canvas): one UTR row no longer costs the transcript its other overhang
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/transcriptCoords.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/transcriptCoords.ts
Due: prettier --write, eslint --fix

fix(canvas): the hover tooltip stops eating a mouseover's angle brackets
  packages/core/package.json
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/components/FeatureComponent.tsx
  plugins/canvas/src/LinearBasicDisplay/components/FeatureTooltip.test.tsx
  plugins/canvas/src/LinearBasicDisplay/components/FeatureTooltip.tsx
  plugins/canvas/src/LinearBasicDisplay/components/hoverReadout.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/hoverReadout.ts
  plugins/canvas/src/LinearBasicDisplay/contextMenuHoverPin.test.ts
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
Due: prettier --write, eslint --fix

fix(canvas): a config slot that evaluates to null falls back
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/renderConfig.ts
Due: prettier --write, eslint --fix

fix(comparative): a session naming both row-sync modes ran both
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  products/jbrowse-web/src/tests/LinearSyntenyFollow.test.tsx
Due: prettier --write, eslint --fix

fix(synteny-follow): toggling the mode off and on let a stale answer through
  plugins/linear-comparative-view/src/SyntenyFollow/followLevelStates.ts
  plugins/linear-comparative-view/src/SyntenyFollow/installSyntenyFollow.ts
  products/jbrowse-web/src/tests/LinearSyntenyFollow.test.tsx
Due: prettier --write, eslint --fix

docs(synteny-follow): what the reset counter says that seq cannot
  plugins/linear-comparative-view/src/SyntenyFollow/CLAUDE.md
Due: prettier --write

fix(synteny-follow): a held row was still being steered by the frame pass
  plugins/linear-comparative-view/src/SyntenyFollow/CLAUDE.md
  plugins/linear-comparative-view/src/SyntenyFollow/installSyntenyFollow.ts
  products/jbrowse-web/src/tests/LinearSyntenyFollow.test.tsx
Due: prettier --write, eslint --fix

refactor(synteny-follow): the mapping's contig lookup assumed an ordering that isn't there
  plugins/linear-comparative-view/src/SyntenyFollow/followWindowMapping.ts
Due: prettier --write, eslint --fix

docs: regenerate the model docs for the two row-sync actions
  website/docs/models/LinearComparativeView.md
  website/docs/models/LinearSyntenyView.md
Due: prettier --write

refactor(synteny-follow): the plan's two optionals said one thing twice
  plugins/linear-comparative-view/src/SyntenyFollow/installSyntenyFollow.ts
Due: prettier --write, eslint --fix

fix(desktop): take BLAT off the app's default cookie jar
  products/jbrowse-desktop/electron/blatSession.ts
  products/jbrowse-desktop/electron/ipc/blatHandlers.test.ts
  products/jbrowse-desktop/electron/ipc/blatHandlers.ts
  products/jbrowse-desktop/electron/navigationGuard.ts
  products/jbrowse-desktop/electron/window.ts
Due: prettier --write, eslint --fix

feat(desktop): make an export link say when it will not travel
  packages/core/src/ui/ShareLinkField.tsx
  packages/product-core/src/sessionUtils.test.ts
  packages/product-core/src/sessionUtils.ts
  products/jbrowse-desktop/src/components/ExportToWebDialog.test.tsx
  products/jbrowse-desktop/src/components/ExportToWebDialog.tsx
  products/jbrowse-desktop/src/components/buildWebExport.ts
Due: prettier --write, eslint --fix

fix(desktop): let the close guard see an update quit
  products/jbrowse-desktop/electron/closeGuard.test.ts
  products/jbrowse-desktop/electron/closeGuard.ts
  products/jbrowse-desktop/electron/electron.ts
Due: prettier --write, eslint --fix

docs(desktop): the bundling spike's answer, measured both ways
  agent-docs/reference/DESKTOP_CONTEXT_ISOLATION.md
  agent-docs/reference/REJECTED_IDEAS.md
Due: prettier --write

docs(desktop): the audit's two remaining threads, and a corrected ABI read
  agent-docs/handoffs/desktop-audit.md
  agent-docs/reference/DESKTOP_CONTEXT_ISOLATION.md
Due: prettier --write

docs(desktop): the renderer's real Node inventory, swept from the bundle
  agent-docs/handoffs/desktop-audit.md
  agent-docs/reference/DESKTOP_CONTEXT_ISOLATION.md
Due: prettier --write

docs(desktop): serialize the rest of the audit thread into the handoff
  agent-docs/handoffs/desktop-audit.md
Due: prettier --write

refactor(render-core): the global backend bases own their frame scaffold
  packages/render-core/CLAUDE.md
  packages/render-core/src/globalRenderingBackend.test.ts
  packages/render-core/src/globalRenderingBackend.ts
  packages/render-core/src/perRegionRenderingBackend.ts
  packages/render-core/src/renderingBackendBase.ts
  plugins/hic/src/LinearHicDisplay/components/Canvas2DHicRenderer.ts
  plugins/hic/src/LinearHicDisplay/components/GpuHicRenderer.ts
  plugins/hic/src/LinearHicDisplay/model.ts
  plugins/variants/src/LDDisplay/components/Canvas2DLDRenderer.ts
  plugins/variants/src/LDDisplay/components/GpuLDRenderer.ts
  plugins/variants/src/LDDisplay/shared.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/Canvas2DVariantMatrixRenderer.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/GpuVariantMatrixRenderer.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/model.ts
Due: prettier --write, eslint --fix

refactor(gpu): uniform writes go through the generated packer
  packages/render-core/CLAUDE.md
  packages/render-core/src/blockClipUtils.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/GpuMultiRowRenderer.ts
  plugins/gwas/src/LinearManhattanDisplay/GpuManhattanRenderer.ts
  plugins/maf/src/LinearMafRenderer/GpuMafRenderer.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/GpuVariantRenderer.ts
  plugins/wiggle/src/shared/GpuWiggleRenderer.ts
Due: prettier --write, eslint --fix

fix(lgv): the bring-your-own seam stops importing the toolkit it replaces
  packages/core/package.json
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayBackgroundProgress.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayChrome.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayUIProvider.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/FloatingLegend.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/chromeOverlayContext.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/components/muiFreeSeam.test.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/components/plainChromeOverlays.test.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/trackControl/TrackControl.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/trackControl/trackControl.test.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/trackControl/trackControlContext.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
