Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Updates
  website/pngcompress.sh
  website/src/pages/gallery.md
  website/static/img/modifications.png
Due: prettier --write

[skip ci] Updates
  website/src/pages/gallery.md
  website/static/img/read_vs_ref_insertion.png
Due: prettier --write

[skip ci] More live links
  website/screenshot.sh
  website/src/pages/gallery.md
  website/static/img/insertion.png
  website/static/img/read_vs_ref_insertion.png
  website/static/img/smalldel.png
Due: prettier --write

Larger than 512Mb BED file
  plugins/bed/src/BedAdapter/BedAdapter.ts
Due: prettier --write, eslint --fix

Opts
  plugins/gff3/src/Gff3Adapter/Gff3Adapter.ts
Due: prettier --write, eslint --fix

Add ability to reload plugin manager w/o refresh
  products/jbrowse-web/src/SessionLoader.ts
  products/jbrowse-web/src/components/Loader.tsx
  products/jbrowse-web/src/createPluginManager.ts
  products/jbrowse-web/src/rootModel/rootModel.ts
Due: prettier --write, eslint --fix

Allow parsing non-indexed BED files larger than 512MB (#5008)
  plugins/bed/src/BedAdapter/BedAdapter.ts
  plugins/gff3/src/Gff3Adapter/Gff3Adapter.ts
Due: prettier --write, eslint --fix

[skip ci] Updated screenshots in gallery (#5005)
  website/pngcompress.sh
  website/screenshot.sh
  website/src/pages/gallery.md
  website/static/img/insertion.png
  website/static/img/modifications.png
  website/static/img/multisv.png
  website/static/img/read_vs_ref_insertion.png
  website/static/img/smalldel.png
  website/yarn.lock
Due: prettier --write

Remove some unused functions in multipleviews
  packages/core/util/index.ts
  packages/product-core/src/Session/MultipleViews.ts
Due: prettier --write, eslint --fix

Remove some unused functions on the session model (#5011)
  packages/core/util/index.ts
  packages/product-core/src/Session/MultipleViews.ts
Due: prettier --write, eslint --fix

Rm
  yarn.lock
Due: none

Autogen docs
  website/docs/models/LinearGenomeView.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/MultiVariantBaseModel.md
  website/docs/models/MultipleViewsSessionMixin.md
Due: prettier --write

Set boolean
  packages/product-core/src/Session/MultipleViews.ts
Due: prettier --write, eslint --fix

Specialized getMetadata function for BigBed
  plugins/bed/src/BigBedAdapter/BigBedAdapter.ts
Due: prettier --write, eslint --fix

Updates
  packages/core/BaseFeatureWidget/BaseFeatureDetail/index.tsx
  packages/core/BaseFeatureWidget/stateModelFactory.ts
  packages/product-core/src/Session/MultipleViews.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Catch handler
  plugins/alignments/src/LinearPileupDisplay/SharedLinearPileupDisplayMixin.ts
  website/docs/models/BaseFeatureWidget.md
  website/docs/models/BaseLinearDisplay.md
  website/docs/models/MultipleViewsSessionMixin.md
Due: prettier --write, eslint --fix

Add mouseover metadata for fields in the base feature widget (#5010)
  packages/core/BaseFeatureWidget/BaseFeatureDetail/index.tsx
  packages/core/BaseFeatureWidget/stateModelFactory.ts
  plugins/alignments/src/LinearPileupDisplay/SharedLinearPileupDisplayMixin.ts
  plugins/bed/src/BigBedAdapter/BigBedAdapter.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  website/docs/models/BaseFeatureWidget.md
  website/docs/models/BaseLinearDisplay.md
  website/docs/models/LinearGenomeView.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/MultiVariantBaseModel.md
  website/docs/models/MultipleViewsSessionMixin.md
  yarn.lock
Due: prettier --write, eslint --fix

Parse header chain
  packages/core/util/index.ts
  plugins/comparative-adapters/src/BlastTabularAdapter/BlastTabularAdapter.ts
  plugins/comparative-adapters/src/ChainAdapter/ChainAdapter.ts
  plugins/comparative-adapters/src/ChainAdapter/util.ts
  plugins/comparative-adapters/src/DeltaAdapter/DeltaAdapter.ts
  plugins/comparative-adapters/src/DeltaAdapter/util.ts
  plugins/comparative-adapters/src/MCScanAnchorsAdapter/MCScanAnchorsAdapter.ts
  plugins/comparative-adapters/src/MCScanSimpleAnchorsAdapter/MCScanSimpleAnchorsAdapter.ts
  plugins/comparative-adapters/src/MashMapAdapter/MashMapAdapter.ts
  plugins/comparative-adapters/src/PAFAdapter/PAFAdapter.ts
  plugins/comparative-adapters/src/util.ts
Due: prettier --write, eslint --fix

Fix UCSC chain parsing which have 'header' lines (#5013)
  packages/core/util/index.ts
  plugins/comparative-adapters/src/BlastTabularAdapter/BlastTabularAdapter.ts
  plugins/comparative-adapters/src/ChainAdapter/ChainAdapter.ts
  plugins/comparative-adapters/src/ChainAdapter/util.ts
  plugins/comparative-adapters/src/DeltaAdapter/DeltaAdapter.ts
  plugins/comparative-adapters/src/DeltaAdapter/util.ts
  plugins/comparative-adapters/src/MCScanAnchorsAdapter/MCScanAnchorsAdapter.ts
  plugins/comparative-adapters/src/MCScanSimpleAnchorsAdapter/MCScanSimpleAnchorsAdapter.ts
  plugins/comparative-adapters/src/MashMapAdapter/MashMapAdapter.ts
  plugins/comparative-adapters/src/PAFAdapter/PAFAdapter.ts
  plugins/comparative-adapters/src/util.ts
Due: prettier --write, eslint --fix

[skip ci] Status callback clear
  plugins/comparative-adapters/src/ChainAdapter/util.ts
  plugins/comparative-adapters/src/DeltaAdapter/util.ts
  plugins/comparative-adapters/src/util.ts
Due: prettier --write, eslint --fix

Bump deps
  package.json
  products/jbrowse-desktop/package.json
  yarn.lock
Due: none

Bump deps
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchBox.tsx
  products/jbrowse-web/src/tests/TextSearchingImportForm.test.tsx
Due: prettier --write, eslint --fix

Revert
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete/index.tsx
  products/jbrowse-web/src/tests/TextSearching.test.tsx
  products/jbrowse-web/src/tests/TextSearchingImportForm.test.tsx
Due: prettier --write, eslint --fix

Revert "Add sequence length to the searchbox/refnameautocomplete dropdown" (#5016)
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete/index.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchBox.tsx
  products/jbrowse-web/src/tests/TextSearching.test.tsx
  products/jbrowse-web/src/tests/TextSearchingImportForm.test.tsx
Due: prettier --write, eslint --fix

Add formatter to linear synteny feature clicks, and improve typescript
  packages/core/BaseFeatureWidget/BaseFeatureDetail/Attributes.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/FeatureDetails.tsx
  packages/core/BaseFeatureWidget/stateModelFactory.ts
  packages/core/BaseFeatureWidget/types.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/AlignmentsFeatureDetail.tsx
  plugins/linear-comparative-view/src/SyntenyFeatureDetail/Formatter.tsx
  plugins/linear-comparative-view/src/SyntenyFeatureDetail/SyntenyFeatureDetail.tsx
  yarn.lock
Due: prettier --write, eslint --fix

More ts
  packages/core/BaseFeatureWidget/index.test.tsx
  packages/core/BaseFeatureWidget/stateModelFactory.ts
  packages/core/BaseFeatureWidget/types.tsx
  packages/core/BaseFeatureWidget/util.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/AlignmentsFeatureDetail.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/Flags.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/index.test.tsx
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.test.tsx
Due: prettier --write, eslint --fix

Add checks for large feature fields to avoid exceeding session size (#5018)
  packages/core/BaseFeatureWidget/BaseFeatureDetail/Attributes.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/FeatureDetails.tsx
  packages/core/BaseFeatureWidget/index.test.tsx
  packages/core/BaseFeatureWidget/stateModelFactory.ts
  packages/core/BaseFeatureWidget/types.tsx
  packages/core/BaseFeatureWidget/util.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/AlignmentsFeatureDetail.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/Flags.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/index.test.tsx
  plugins/linear-comparative-view/src/SyntenyFeatureDetail/Formatter.tsx
  plugins/linear-comparative-view/src/SyntenyFeatureDetail/SyntenyFeatureDetail.tsx
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.test.tsx
  yarn.lock
Due: prettier --write, eslint --fix

[skip ci] Release notes
  website/release_announcement_drafts/v3.3.1.md
Due: prettier --write

[skip ci] Move to v3.4.0
  website/release_announcement_drafts/v3.3.1.md
  website/release_announcement_drafts/v3.4.0.md
Due: prettier --write

v3.4.0 release announcement (#5014)
  website/release_announcement_drafts/v3.4.0.md
Due: prettier --write

Fix feature being undefined in synteny feature details
  plugins/alignments/src/AlignmentsFeatureDetail/AlignmentsFeatureDetail.tsx
  plugins/linear-comparative-view/src/SyntenyFeatureDetail/SyntenyFeatureDetail.tsx
  plugins/linear-comparative-view/src/SyntenyFeatureDetail/types.ts
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
Due: prettier --write, eslint --fix

Update types
  plugins/linear-comparative-view/src/SyntenyFeatureDetail/LinkToSyntenyView.tsx
  plugins/linear-comparative-view/src/SyntenyFeatureDetail/SyntenyFeatureDetail.tsx
Due: prettier --write, eslint --fix

Prepare for v3.4.0 release
  CHANGELOG.md
  website/blog/2025-05-13-v3.4.0-release.md
  website/docusaurus.config.json
Due: prettier --write

[skip ci] Bump version.js
  products/jbrowse-react-circular-genome-view/src/version.js
Due: none

[skip ci] Bump version.js
  products/jbrowse-react-app/src/version.js
Due: none

[skip ci] Bump version.js
  products/jbrowse-react-linear-genome-view/src/version.js
Due: none

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
