Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

[skip ci] Bump version.ts
  products/jbrowse-react-circular-genome-view/src/version.ts
Due: prettier --write, eslint --fix

[skip ci] Bump version.ts
  products/jbrowse-react-linear-genome-view/src/version.ts
Due: prettier --write, eslint --fix

[skip ci] Bump version.ts
  products/jbrowse-react-app/src/version.ts
Due: prettier --write, eslint --fix

[skip ci] Bump version
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/version.ts
Due: prettier --write, eslint --fix

[skip ci] Commit cli version bumps
  products/jbrowse-cli/package.json
Due: none

[update docs only] Update blog post
  website/blog/2026-01-22-v4.1.1-release.md
Due: prettier --write

[update docs only] Add links to PRs in blogpost
  scripts/generate-changelog.sh
  website/blog/2026-01-10-v4.0.3-release.md
  website/blog/2026-01-17-v4.0.4-release.md
  website/blog/2026-01-22-v4.1.1-release.md
Due: prettier --write

Add undici to modify native fetch opts.
  products/jbrowse-img/package.json
Due: none

Limit concurrent connections.
  products/jbrowse-img/src/setupEnv.ts
Due: prettier --write, eslint --fix

Fix jbrowse-img for ESM css loader and setupEnv. (#5441)
  products/jbrowse-img/package.json
  products/jbrowse-img/src/bin.js
  products/jbrowse-img/src/bin.ts
  products/jbrowse-img/src/setupEnv.ts
Due: prettier --write, eslint --fix

Fix methylation rendering mode
  plugins/alignments/src/SNPCoverageRenderer/makeImage.ts
Due: prettier --write, eslint --fix

Modularize snpcoverage rendering code
  plugins/alignments/src/SNPCoverageRenderer/buildClickMap.ts
  plugins/alignments/src/SNPCoverageRenderer/calculateModificationCounts.ts
  plugins/alignments/src/SNPCoverageRenderer/constants.ts
  plugins/alignments/src/SNPCoverageRenderer/createInterbaseItem.ts
  plugins/alignments/src/SNPCoverageRenderer/drawCrossHatches.ts
  plugins/alignments/src/SNPCoverageRenderer/drawNoncovEvents.ts
  plugins/alignments/src/SNPCoverageRenderer/drawSecondPassMethylation.ts
  plugins/alignments/src/SNPCoverageRenderer/drawSecondPassModifications.ts
  plugins/alignments/src/SNPCoverageRenderer/drawSecondPassSNPs.ts
  plugins/alignments/src/SNPCoverageRenderer/drawStackedBars.ts
  plugins/alignments/src/SNPCoverageRenderer/makeImage.ts
  plugins/alignments/src/SNPCoverageRenderer/types.ts
  products/jbrowse-cli/README.md
  products/jbrowse-web/browser-tests/runner.ts
  website/blog/2026-01-10-v4.0.3-release.md
  website/blog/2026-01-17-v4.0.4-release.md
Due: prettier --write, eslint --fix

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Update format
  products/jbrowse-img/src/setupEnv.ts
Due: prettier --write, eslint --fix

Lint
  products/jbrowse-img/src/bin.ts
  products/jbrowse-img/src/setupEnv.ts
Due: prettier --write, eslint --fix

[skip ci] Add dist folder back for webpack builds
  products/jbrowse-react-app/package.json
  products/jbrowse-react-circular-genome-view/package.json
  products/jbrowse-react-linear-genome-view/package.json
Due: none

[skip ci] Add dist folder back for webpack builds
  pnpm-lock.yaml
  products/jbrowse-cli/package.json
  products/jbrowse-cli/src/cliFetch.ts
  products/jbrowse-cli/src/commands/add-assembly/index.test.ts
  products/jbrowse-cli/src/commands/add-connection.test.ts
  products/jbrowse-cli/src/commands/add-connection.ts
  products/jbrowse-cli/src/commands/admin-server/index.test.ts
  products/jbrowse-cli/src/commands/create.test.ts
  products/jbrowse-cli/src/commands/create.ts
  products/jbrowse-cli/src/commands/text-index/command.test.ts
  products/jbrowse-cli/src/commands/upgrade.test.ts
  products/jbrowse-cli/src/commands/upgrade.ts
  products/jbrowse-cli/src/fetchWithProxy.ts
  products/jbrowse-cli/src/testUtil.ts
  products/jbrowse-cli/src/types/common.ts
  products/jbrowse-cli/src/utils.ts
  products/jbrowse-img/package.json
  products/jbrowse-img/src/setupEnv.ts
Due: prettier --write, eslint --fix

E2E jbrowse img
  .github/workflows/push.yml
  component_tests/img-node20/data/volvox-sorted.bam
  component_tests/img-node20/data/volvox-sorted.bam.bai
  component_tests/img-node20/data/volvox.fa
  component_tests/img-node20/data/volvox.fa.fai
  component_tests/img-node20/data/volvox.sort.gff3.gz
  component_tests/img-node20/data/volvox.sort.gff3.gz.tbi
  component_tests/img-node20/package.json
  component_tests/img-node20/run.mjs
  scripts/pack.ts
Due: prettier --write, eslint --fix

Just run build
  .github/workflows/push.yml
  component_tests/img-node20/run.mjs
Due: none

Use esm bin suggestion
  component_tests/img-node20/run.mjs
Due: none

Use esm bin suggestion
  scripts/pack.ts
Due: prettier --write, eslint --fix

Simplify test
  .github/workflows/push.yml
  component_tests/img-node20/run.mjs
  plugins/alignments/src/LinearPileupDisplay/components/GroupByDialog.test.tsx
Due: prettier --write, eslint --fix

Try again
  component_tests/img-node20/run.mjs
  scripts/pack.ts
Due: prettier --write, eslint --fix

Lint2
  products/jbrowse-cli/src/commands/add-track-utils/file-operations.ts
  products/jbrowse-cli/src/commands/admin-server/index.ts
  products/jbrowse-cli/src/commands/admin-server/utils.ts
  products/jbrowse-cli/src/commands/make-pif/cigar-utils.ts
  products/jbrowse-cli/src/utils.ts
  products/jbrowse-img/src/bin.ts
  products/jbrowse-img/src/index.test.ts
  products/jbrowse-img/src/index.ts
  products/jbrowse-img/src/setupEnv.ts
  scripts/pack.ts
Due: prettier --write, eslint --fix

[skip ci] Super compact
  plugins/canvas/src/CanvasFeatureRenderer/configSchema.ts
  plugins/canvas/src/CanvasFeatureRenderer/glyphs/box.ts
  plugins/canvas/src/CanvasFeatureRenderer/glyphs/cds.ts
  plugins/canvas/src/CanvasFeatureRenderer/glyphs/glyphUtils.ts
  plugins/canvas/src/CanvasFeatureRenderer/glyphs/matureProteinRegion.ts
  plugins/canvas/src/CanvasFeatureRenderer/glyphs/processed.ts
  plugins/canvas/src/CanvasFeatureRenderer/glyphs/repeatRegion.ts
  plugins/canvas/src/CanvasFeatureRenderer/glyphs/segments.ts
  plugins/canvas/src/CanvasFeatureRenderer/glyphs/subfeatures.ts
  plugins/canvas/src/CanvasFeatureRenderer/renderConfig.ts
  plugins/linear-genome-view/src/LinearFeatureDisplay/model.ts
Due: prettier --write, eslint --fix

Rm
  config/jest/fetchMock.js
  config/jest/fetchMockAfterEnv.js
  jest.config.js
  package.json
  pnpm-lock.yaml
  products/jbrowse-cli/package.json
  products/jbrowse-cli/src/commands/text-index/command.test.ts
  products/jbrowse-cli/src/commands/text-index/config-utils.test.ts
  products/jbrowse-cli/src/commands/text-index/config-utils.ts
  test_data/volvox/trix/volvox-rev-del_meta.json
  test_data/volvox/trix/volvox.ix
  test_data/volvox/trix/volvox_meta.json
Due: prettier --write, eslint --fix

Invoke
  component_tests/img-node20/run.mjs
Due: none

Prepack??
  component_tests/img-node20/data/volvox.sort.gff3.gz
  component_tests/img-node20/data/volvox.sort.gff3.gz.tbi
  component_tests/img-node20/run.mjs
  scripts/pack.ts
Due: prettier --write, eslint --fix

Update
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/update-docs.yml
  .github/workflows/windows-electron.yml
  component_tests/jbrowse-img/data/volvox-sorted.bam
  component_tests/jbrowse-img/data/volvox-sorted.bam.bai
  component_tests/jbrowse-img/data/volvox.fa
  component_tests/jbrowse-img/data/volvox.fa.fai
  component_tests/jbrowse-img/package.json
  component_tests/jbrowse-img/run.mjs
  pnpm-lock.yaml
  products/jbrowse-img/package.json
  scripts/pack.ts
Due: prettier --write, eslint --fix

Bump deps
  pnpm-lock.yaml
  products/jbrowse-cli/package.json
  products/jbrowse-cli/src/commands/add-track-utils/file-operations.ts
  products/jbrowse-cli/src/commands/admin-server/index.ts
  products/jbrowse-cli/src/commands/admin-server/utils.ts
  products/jbrowse-cli/src/commands/make-pif/cigar-utils.ts
  products/jbrowse-cli/src/commands/text-index/command.test.ts
  products/jbrowse-cli/src/commands/text-index/config-utils.test.ts
  products/jbrowse-cli/src/commands/text-index/config-utils.ts
  products/jbrowse-cli/src/utils.ts
Due: prettier --write, eslint --fix

[skip ci] Bump deps
  products/jbrowse-img/src/bin.ts
Due: prettier --write, eslint --fix

Fix jbrowse-cli not working without --tracks parameter (#5446)
  pnpm-lock.yaml
  products/jbrowse-cli/package.json
  products/jbrowse-cli/src/commands/add-track-utils/file-operations.ts
  products/jbrowse-cli/src/commands/admin-server/index.ts
  products/jbrowse-cli/src/commands/admin-server/utils.ts
  products/jbrowse-cli/src/commands/make-pif/cigar-utils.ts
  products/jbrowse-cli/src/commands/text-index/command.test.ts
  products/jbrowse-cli/src/commands/text-index/config-utils.test.ts
  products/jbrowse-cli/src/commands/text-index/config-utils.ts
  products/jbrowse-cli/src/utils.ts
  products/jbrowse-img/src/bin.ts
Due: prettier --write, eslint --fix

Rm worker polyfill
  products/jbrowse-cli/README.md
  products/jbrowse-desktop/src/rpcWorker.ts
  products/jbrowse-desktop/src/workerPolyfill.js
  products/jbrowse-react-app/src/rpcWorker.ts
  products/jbrowse-react-app/src/workerPolyfill.js
  products/jbrowse-react-linear-genome-view/src/rpcWorker.ts
  products/jbrowse-react-linear-genome-view/src/workerPolyfill.js
  products/jbrowse-web/src/rpcWorker.ts
  products/jbrowse-web/src/workerPolyfill.js
Due: prettier --write, eslint --fix

Updates
  component_tests/jbrowse-img/run.mjs
  pnpm-lock.yaml
  products/jbrowse-img/src/bin.ts
  scripts/pack.ts
Due: prettier --write, eslint --fix

Check trix file size to avoid 416 request beyond end of file, fixes #5445
  plugins/trix/package.json
  pnpm-lock.yaml
Due: none

Add E2E test for jbrowse img (#5443)
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/update-docs.yml
  .github/workflows/windows-electron.yml
  component_tests/jbrowse-img/data/volvox-sorted.bam
  component_tests/jbrowse-img/data/volvox-sorted.bam.bai
  component_tests/jbrowse-img/data/volvox.fa
  component_tests/jbrowse-img/data/volvox.fa.fai
  component_tests/jbrowse-img/package.json
  component_tests/jbrowse-img/run.mjs
  config/jest/fetchMock.js
  config/jest/fetchMockAfterEnv.js
  jest.config.js
  package.json
  plugins/alignments/src/LinearPileupDisplay/components/GroupByDialog.test.tsx
  pnpm-lock.yaml
  products/jbrowse-cli/src/commands/text-index/config-utils.test.ts
  products/jbrowse-img/package.json
  products/jbrowse-img/src/bin.ts
  products/jbrowse-img/src/cli.ts
  products/jbrowse-img/src/index.test.ts
  products/jbrowse-img/src/index.ts
  products/jbrowse-img/src/setupEnv.ts
  scripts/pack.ts
  test_data/volvox/trix/volvox-rev-del_meta.json
  test_data/volvox/trix/volvox.ix
  test_data/volvox/trix/volvox_meta.json
Due: prettier --write, eslint --fix

Updates
  plugins/alignments/src/LinearPileupDisplay/SharedLinearPileupDisplayMixin.ts
  plugins/wiggle/src/shared/SharedWiggleMixin.ts
  products/jbrowse-web/browser-tests/runner.ts
Due: prettier --write, eslint --fix

[skip ci] Updates
  plugins/alignments/src/LinearPileupDisplay/preProcessSnapshot.test.ts
  plugins/wiggle/src/shared/preProcessSnapshot.test.ts
  products/jbrowse-web/browser-tests/runner.ts
Due: prettier --write, eslint --fix

Add attw
  .github/workflows/push.yml
  package.json
  pnpm-lock.yaml
Due: none

Less eslint ignores
  .github/workflows/push.yml
  babel.config.cjs
  component_tests/jbrowse-img/run.mjs
  eslint.config.mjs
  jest.config.js
  package.json
  packages/__mocks__/@testing-library/react.tsx
  packages/core/scripts/generateExports.mjs
  pnpm-lock.yaml
  products/jbrowse-aws-lambda-functions/saved-sessions/jbrowse_analytics.js
  products/jbrowse-cli/src/commands/text-index/adapter-utils.ts
  products/jbrowse-cli/src/index.ts
  products/jbrowse-desktop/sign.js
  products/jbrowse-desktop/test/e2e.ts
  products/jbrowse-img/src/renderRegion.tsx
  scripts/analyze_cpuprof.ts
  scripts/getSuggestions.js
  webpack/scripts/build.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
