Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

Deduplicate
  plugins/linear-genome-view/src/BaseLinearDisplay/components/FloatingLabels.tsx
Due: prettier --write, eslint --fix

No logging
  plugins/linear-genome-view/src/BaseLinearDisplay/components/FloatingLabels.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/model.ts
Due: prettier --write, eslint --fix

K1
  plugins/canvas/src/CanvasFeatureRenderer/computeLayouts.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/components/FloatingLabels.tsx
Due: prettier --write, eslint --fix

Add filename to track type guesser
  packages/core/util/tracks.ts
  plugins/alignments/src/GuessAlignmentsTypes/index.ts
  plugins/bed/src/GuessAdapter/index.ts
  plugins/comparative-adapters/src/GuessAdapter/index.ts
  plugins/data-management/src/AddTrackWidget/model.ts
  plugins/hic/src/GuessAdapter/index.ts
  plugins/variants/src/extensionPoints.ts
  plugins/wiggle/src/GuessAdapter/index.ts
  products/jbrowse-cli/src/commands/track-utils.ts
Due: prettier --write, eslint --fix

Wow
  plugins/data-management/src/AddTrackWidget/index.test.tsx
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-cloud-test-tsx-long-read-cloud-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-stack-test-tsx-long-read-stack-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-stack-test-tsx-short-read-stack-display-at-ctg-a-33-623-35-216-1-snap.png
Due: prettier --write, eslint --fix

[skip ci] Bump website deps
  website/yarn.lock
Due: none

K2
  plugins/canvas/src/CanvasFeatureRenderer/computeLayouts.ts
  plugins/canvas/src/CanvasFeatureRenderer/drawFeature.ts
  plugins/canvas/src/CanvasFeatureRenderer/simpleLayout.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/components/FloatingLabels.tsx
Due: prettier --write, eslint --fix

Reduce conf accesses
  plugins/canvas/src/CanvasFeatureRenderer/computeLayouts.ts
  plugins/canvas/src/CanvasFeatureRenderer/drawBox.ts
  plugins/canvas/src/CanvasFeatureRenderer/drawCDS.ts
  plugins/canvas/src/CanvasFeatureRenderer/drawFeature.ts
  plugins/canvas/src/CanvasFeatureRenderer/makeImageData.ts
  plugins/canvas/src/CanvasFeatureRenderer/simpleLayout.ts
  plugins/canvas/src/CanvasFeatureRenderer/types.ts
  plugins/canvas/src/CanvasFeatureRenderer/util.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/model.ts
Due: prettier --write, eslint --fix

No need to check stop token so much
  packages/core/data_adapters/BaseAdapter/BaseFeatureDataAdapter.ts
  packages/core/pluggableElementTypes/renderers/FeatureRendererType.ts
  packages/core/util/rxjs.ts
Due: prettier --write, eslint --fix

Lint and format
  packages/core/pluggableElementTypes/renderers/FeatureRendererType.ts
  plugins/canvas/src/CanvasFeatureRenderer/computeLayouts.ts
  plugins/canvas/src/CanvasFeatureRenderer/simpleLayout.ts
  plugins/canvas/src/CanvasFeatureRenderer/util.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/components/FloatingLabels.tsx
Due: prettier --write, eslint --fix

Possible breakpoint split view refactors and optimizations
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/AlignmentConnections.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/Breakends.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/InteractivePath.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/PairedFeatures.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/Translocations.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/assemblyUtils.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/coordinateUtils.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/featureMatching.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/hooks.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/strandUtils.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/widgetUtils.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/constants.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/model.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/util.ts
  products/jbrowse-web/src/tests/__image_snapshots__/breakpoint_split_view_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgBreakpointSplitView.test.tsx.snap
Due: prettier --write, eslint --fix

Modularize
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/AlignmentConnections.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/Breakends.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/InteractivePath.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/PairedFeatures.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/Translocations.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/hooks.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/pathUtils.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/constants.ts
Due: prettier --write, eslint --fix

Lint and format
  plugins/canvas/src/CanvasFeatureRenderer/README.md
Due: prettier --write

Fix refName renaming for peptide fetch
  plugins/canvas/src/CanvasFeatureRenderer/drawPeptidesOnCDS.ts
  plugins/canvas/src/CanvasFeatureRenderer/peptideUtils.ts
  test_data/config_demo.json
Due: prettier --write, eslint --fix

Add test
  plugins/canvas/src/CanvasFeatureRenderer/drawPeptidesOnCDS.ts
  plugins/canvas/src/CanvasFeatureRenderer/peptideUtils.ts
  products/jbrowse-web/src/tests/PeptideRendering.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/peptide-rendering-test-tsx-renders-peptide-letters-on-cds-features-1-snap.png
  yarn.lock
Due: prettier --write, eslint --fix

Simple opts
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/PileupRenderer/makeImageData.ts
  plugins/alignments/src/PileupRenderer/renderers/renderAlignmentShape.ts
  plugins/alignments/src/PileupRenderer/renderers/renderPerBaseLettering.ts
  plugins/alignments/src/PileupRenderer/renderers/renderPerBaseQuality.ts
  plugins/alignments/src/PileupRenderer/renderers/renderSoftClipping.ts
  plugins/alignments/src/SNPCoverageAdapter/generateCoverageBins.ts
  plugins/alignments/src/SNPCoverageAdapter/processDepth.ts
  plugins/alignments/src/SNPCoverageAdapter/processMismatches.ts
  plugins/alignments/src/SNPCoverageAdapter/processModifications.ts
  plugins/alignments/src/SNPCoverageAdapter/processReferenceCpGs.ts
  plugins/alignments/src/SNPCoverageAdapter/util.ts
  test_data/config_demo.json
  yarn.lock
Due: prettier --write, eslint --fix

Remove probabilities
  plugins/alignments/src/SNPCoverageAdapter/generateCoverageBins.ts
  plugins/alignments/src/SNPCoverageAdapter/processDepth.ts
  plugins/alignments/src/SNPCoverageAdapter/processModifications.ts
  plugins/alignments/src/SNPCoverageAdapter/util.ts
  plugins/alignments/src/shared/types.ts
Due: prettier --write, eslint --fix

Test
  bench_render.mjs
  package.json
  run_comparison.sh
  test_performance.mjs
  yarn.lock
Due: none

K1
  plugins/alignments/src/SNPCoverageAdapter/generateCoverageBins.ts
  plugins/alignments/src/SNPCoverageAdapter/processMismatches.ts
Due: prettier --write, eslint --fix

K1
  bench_large_region.mjs
  bench_with_profiling.mjs
  run_all_benchmarks.sh
Due: none

K2
  plugins/alignments/src/SNPCoverageRenderer/makeImage.ts
Due: prettier --write, eslint --fix

Upates
  .gitignore
  bench_shortread.mjs
  bench_with_profiling.mjs
  plugins/alignments/src/SNPCoverageAdapter/generateCoverageBins.ts
  plugins/alignments/src/SNPCoverageAdapter/processDepth.ts
  plugins/alignments/src/SNPCoverageAdapter/processMismatches.ts
  plugins/alignments/src/SNPCoverageRenderer/makeImage.ts
Due: prettier --write, eslint --fix

More
  .gitignore
  bench_20x_shortread_large.mjs
  bench_longread.mjs
Due: none

Refactors
  plugins/alignments/src/CramAdapter/readFeaturesToCIGAR.ts
Due: prettier --write, eslint --fix

Updates
  benchmarks/README.md
  benchmarks/cigar/bench_cigar.mjs
  benchmarks/cigar/bench_cigar_simple.mjs
  benchmarks/end-to-end/bench_20x_shortread_large.mjs
  benchmarks/end-to-end/bench_large_region.mjs
  benchmarks/end-to-end/bench_longread.mjs
  benchmarks/end-to-end/bench_render.mjs
  benchmarks/end-to-end/bench_shortread.mjs
  benchmarks/end-to-end/bench_with_profiling.mjs
  benchmarks/end-to-end/run_all.sh
  benchmarks/run_all_benchmarks.sh
Due: prettier --write

[skip ci] forEachWithStopToken
  benchmarks/README.md
  benchmarks/config.sh
  benchmarks/full_benchmark.sh
  benchmarks/setup_branches.sh
  benchmarks/start_servers.sh
  benchmarks/stop_servers.sh
  packages/core/util/index.ts
  plugins/alignments/src/PileupRenderer/makeImageData.ts
  plugins/alignments/src/SNPCoverageRenderer/makeImage.ts
Due: prettier --write, eslint --fix

Wow
  .gitignore
  benchmarks/README.md
  benchmarks/config.sh
  benchmarks/end-to-end/bench_with_profiling.mjs
  benchmarks/end-to-end/run_all.sh
  benchmarks/run_all_benchmarks.sh
Due: prettier --write

Remove backoff
  benchmarks/end-to-end/bench_20x_shortread_large.mjs
  benchmarks/end-to-end/bench_large_region.mjs
  benchmarks/end-to-end/bench_with_profiling.mjs
  benchmarks/end-to-end/run_all.sh
  packages/core/util/index.ts
Due: prettier --write, eslint --fix

Depth only
  packages/core/data_adapters/BaseAdapter/BaseFeatureDataAdapter.ts
  packages/core/data_adapters/BaseAdapter/BaseOptions.ts
  plugins/alignments/src/SNPCoverageAdapter/generateCoverageBins.ts
Due: prettier --write, eslint --fix

[skip ci] Time and memory only
  benchmarks/end-to-end/bench_large_region.mjs
  benchmarks/end-to-end/bench_with_profiling.mjs
Due: none

Wow3
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
  plugins/alignments/src/SNPCoverageAdapter/generateCoverageBins.ts
  plugins/alignments/src/SNPCoverageAdapter/processDepth.ts
  plugins/alignments/src/SNPCoverageAdapter/processMismatches.ts
  plugins/alignments/src/SNPCoverageAdapter/processModifications.ts
  plugins/alignments/src/SNPCoverageAdapter/processReferenceCpGs.ts
  plugins/alignments/src/SNPCoverageAdapter/util.ts
Due: prettier --write, eslint --fix

Updates
  benchmarks/README.md
  benchmarks/cigar/bench_cigar.mjs
  benchmarks/cigar/bench_cigar_bam.mjs
  benchmarks/cigar/bench_cigar_simple.mjs
  benchmarks/end-to-end/bench_20x_shortread_large_bam.mjs
  benchmarks/end-to-end/bench_large_region_bam.mjs
  benchmarks/end-to-end/bench_longread.mjs
  benchmarks/end-to-end/bench_longread_bam.mjs
  benchmarks/end-to-end/bench_render.mjs
  benchmarks/end-to-end/bench_shortread_bam.mjs
  benchmarks/end-to-end/bench_with_profiling.mjs
  benchmarks/end-to-end/run_all_bam.sh
  benchmarks/end-to-end/run_all_cram.sh
  eslint.config.mjs
  plugins/alignments/src/CramAdapter/readFeaturesToCIGAR.ts
  plugins/alignments/src/CramAdapter/readFeaturesToMismatches.ts
  plugins/alignments/src/LinearReadCloudDisplay/drawLongReadChains.ts
  plugins/alignments/src/LinearReadCloudDisplay/drawPairChains.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/alignments/src/PileupRenderer/layoutFeature.ts
  plugins/alignments/src/PileupRenderer/layoutFeatures.ts
  plugins/alignments/src/PileupRenderer/makeImageData.ts
  plugins/alignments/src/PileupRenderer/renderers/getAlignmentShapeColor.ts
  plugins/alignments/src/PileupRenderer/renderers/renderAlignment.ts
  plugins/alignments/src/PileupRenderer/renderers/renderAlignmentShape.ts
  plugins/alignments/src/PileupRenderer/renderers/renderMethylation.ts
  plugins/alignments/src/PileupRenderer/renderers/renderMismatches.ts
  plugins/alignments/src/PileupRenderer/renderers/renderModifications.ts
  plugins/alignments/src/PileupRenderer/renderers/renderPerBaseLettering.ts
  plugins/alignments/src/PileupRenderer/renderers/renderPerBaseQuality.ts
  plugins/alignments/src/PileupRenderer/renderers/renderSoftClipping.ts
  plugins/alignments/src/SNPCoverageAdapter/generateCoverageBins.ts
  plugins/alignments/src/SNPCoverageAdapter/processMismatches.ts
  test_data/config_demo.json
  test_performance.mjs
Due: prettier --write, eslint --fix

K1
  benchmarks/end-to-end/bench_20x_shortread_large_bam.mjs
  benchmarks/end-to-end/bench_large_region_bam.mjs
  benchmarks/end-to-end/bench_longread_bam.mjs
  benchmarks/end-to-end/bench_shortread_bam.mjs
  benchmarks/run_all_benchmarks.sh
Due: none

Hyperfine conversion
  .gitignore
  benchmarks/README.md
  benchmarks/config.sh
  benchmarks/end-to-end/bench_20x_shortread_large.mjs
  benchmarks/end-to-end/bench_20x_shortread_large_bam.mjs
  benchmarks/end-to-end/bench_large_region.mjs
  benchmarks/end-to-end/bench_large_region_bam.mjs
  benchmarks/end-to-end/bench_longread.mjs
  benchmarks/end-to-end/bench_longread_bam.mjs
  benchmarks/end-to-end/bench_shortread.mjs
  benchmarks/end-to-end/bench_shortread_bam.mjs
  benchmarks/end-to-end/run_all_bam.sh
  benchmarks/end-to-end/run_all_cram.sh
  benchmarks/run_all_benchmarks.sh
Due: prettier --write

Wow
  .gitignore
  benchmarks/config.sh
  benchmarks/end-to-end/run_all_bam.sh
  benchmarks/end-to-end/run_all_cram.sh
Due: none

Updates
  benchmarks/config.sh
  benchmarks/end-to-end/benchmark_runner.sh
  benchmarks/end-to-end/run_all_bam.sh
  benchmarks/end-to-end/run_all_cram.sh
Due: none

Misc
  benchmarks/end-to-end/benchmark_runner.sh
  benchmarks/end-to-end/run_all_bam.sh
  benchmarks/end-to-end/run_all_cram.sh
Due: none

[skip ci] Simplifies
  benchmarks/end-to-end/bench_20x_shortread_large.mjs
  benchmarks/end-to-end/bench_20x_shortread_large_bam.mjs
  benchmarks/end-to-end/bench_large_region.mjs
  benchmarks/end-to-end/bench_large_region_bam.mjs
  benchmarks/end-to-end/bench_longread.mjs
  benchmarks/end-to-end/bench_longread_bam.mjs
  benchmarks/end-to-end/bench_shortread.mjs
  benchmarks/end-to-end/bench_shortread_bam.mjs
  benchmarks/end-to-end/benchmark-helpers.mjs
Due: none

[skip ci] K1
  plugins/alignments/src/SNPCoverageAdapter/generateCoverageBins.ts
  plugins/alignments/src/SNPCoverageAdapter/processMismatches.ts
  plugins/alignments/src/SNPCoverageAdapter/processModifications.ts
  plugins/alignments/src/SNPCoverageAdapter/util.ts
  plugins/alignments/src/shared/types.ts
Due: prettier --write, eslint --fix

Bump deps
  yarn.lock
Due: none
