Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(synteny): a text-column color mode can hide its unlabelled rows
  packages/synteny-core/src/TrackColorsMixin.ts
  packages/synteny-core/src/colorByMenuItems.test.ts
  packages/synteny-core/src/colorByMenuItems.tsx
  packages/synteny-core/src/colorFunctions.test.ts
  packages/synteny-core/src/colorFunctions.ts
  plugins/dotplot-view/src/DotplotDisplay/dotplotColors.ts
  plugins/dotplot-view/src/DotplotDisplay/stateModelFactory.tsx
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/syntenyColors.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/parentViewDuck.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/DotplotView.md
  website/docs/models/LinearSyntenyView.md
  website/docs/models/TrackColorsMixin.md
  website/docs/urlparams.md
Due: prettier --write, eslint --fix

fix(synteny): the band keeps a white ground in every theme
  agent-docs/reference/PLUGIN_ABI_STABILITY.md
  packages/synteny-core/README.md
  packages/synteny-core/src/ColorByLegend.tsx
  packages/synteny-core/src/bandGround.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/stateModelFactory.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  website/docs/api/synteny-core.md
  website/release_announcement_drafts/v5.0.0.changelog.md
Due: prettier --write, eslint --fix

docs(synteny): the linkage-group stack is the paper's figure 1d, six genomes with only the grouped orthologs drawn
  scripts/build_odp_linkage_groups_synteny.sh
  scripts/rbh_to_blocks.py
  website/docs/tutorials/odp_linkage_groups_synteny.md
Due: prettier --write

fix(core): the dark themes stop painting sliders in midnight
  packages/core/src/ui/SingleSlider.test.tsx
  packages/core/src/ui/theme.ts
Due: prettier --write, eslint --fix

refactor(synteny): Off-screen mates is one checkbox, on by default, marking both edges
  agent-docs/ideas/offscreen-synteny-mates.md
  agent-docs/ideas/two-axis-synteny-fetch.md
  agent-docs/reference/SHARED_CANVAS_VIEWS.md
  plugins/linear-comparative-view/src/LinearComparativeView/components/SyntenySettingsMenu.test.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/components/syntenySettingsMenuItems.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/fetchRegionsKey.integration.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/offscreenMateModes.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/OffscreenMateOverlay.test.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/OffscreenMateTooltip.test.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/offscreenMateStrip.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/offscreenMateStrip.ts
  products/jbrowse-web/src/tests/ExportSvgLinearSyntenyView.test.tsx
  products/jbrowse-web/src/tests/LinearSyntenyOffscreenMates.test.tsx
  products/jbrowse-web/src/tests/LinearSyntenyRefNameAlias.test.tsx
  website/docs/user_guides/linear_synteny_view.md
  website/scripts/probe-offscreen-mates.ts
  website/scripts/specs/synteny.ts
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

refactor(synteny): one clause of help per row on the palette and settings menus
  packages/synteny-core/src/colorByMenuItems.tsx
  packages/synteny-core/src/colorModes.ts
  packages/synteny-core/src/lodTier.ts
  packages/synteny-core/src/minLengthHelp.ts
  plugins/dotplot-view/src/DotplotView/components/DotplotSettingsMenu.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/components/syntenySettingsMenuItems.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/cigarModes.ts
Due: prettier --write, eslint --fix

docs(jbrowse-img): the cigarMode and colorBy flags say what their modes cost
  products/jbrowse-img/README.md
  products/jbrowse-img/src/options.ts
  website/docs/jbrowse-img.md
Due: prettier --write, eslint --fix

fix(dotplot): a point hidden at zero alpha is not hoverable
  plugins/dotplot-view/src/DotplotDisplay/dotplotPickEngine.test.ts
  plugins/dotplot-view/src/DotplotDisplay/dotplotPickEngine.ts
  plugins/dotplot-view/src/DotplotView/model.ts
Due: prettier --write, eslint --fix

docs(website): regenerate the off-screen mates figure link for showOffscreenMates
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

feat(sv-core): a paired row opens both breakpoints side by side
  packages/sv-core/README.md
  packages/sv-core/src/index.ts
  packages/sv-core/src/util.test.ts
  packages/sv-core/src/util.ts
  plugins/spreadsheet-view/src/SpreadsheetView/components/FeatureMenu.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/STARFusionImport.ts
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/__snapshots__/STARFusionImport.test.ts.snap
  website/docs/api/sv-core.md
Due: prettier --write, eslint --fix

fix(spreadsheet): visible rows follow a search the view was launched with
  plugins/spreadsheet-view/src/SpreadsheetView/components/SpreadsheetDataGrid.tsx
  products/jbrowse-web/src/tests/SVInspectorFiltering.test.tsx
Due: prettier --write, eslint --fix

feat(spreadsheet): the import form reads STAR-Fusion off the filename or the header
  plugins/spreadsheet-view/src/SpreadsheetView/ImportWizard.ts
  plugins/spreadsheet-view/src/SpreadsheetView/ImportWizardUtils.test.ts
  website/docs/user_guides/sv_inspector_view.md
Due: prettier --write, eslint --fix

feat(arc): a paired record whose mate is off the view draws a stem and mate tick
  plugins/arc/src/LinearPairedArcDisplay/model.ts
  plugins/arc/src/shared/Arcs.tsx
  plugins/arc/src/shared/arcHitTest.test.ts
  plugins/arc/src/shared/arcHitTest.ts
  plugins/arc/src/shared/arcLayout.ts
  plugins/arc/src/shared/drawArcs.test.ts
  plugins/arc/src/shared/drawArcs.ts
  products/jbrowse-web/src/tests/__image_snapshots__/arc_sv_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgDisplayTypes.test.tsx.snap
Due: prettier --write, eslint --fix

feat(alignments): the arc band's tick hover lists where its reads land
  plugins/alignments/src/LinearAlignmentsDisplay/components/AlignmentsTooltip.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/arcHitTest.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/arcTooltip.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/tooltipUtils.ts
  plugins/alignments/src/features/arcs/arcRegions.ts
  plugins/alignments/src/features/arcs/arcTypes.ts
  plugins/alignments/src/features/arcs/compute.test.ts
  plugins/alignments/src/features/arcs/compute.ts
  plugins/alignments/src/features/arcs/hitTest.test.ts
  plugins/alignments/src/features/arcs/hitTest.ts
  plugins/alignments/src/features/arcs/packGpu.test.ts
  plugins/alignments/src/features/arcs/tickSolid.test.ts
  plugins/alignments/src/features/arcs/types.ts
Due: prettier --write, eslint --fix

docs(k562_fusions): the DNA side of both junctions, off the tracks the demo already hosts
  agent-docs/reference/SV_MULTIHOP.md
  figures.lock
  website/docs/tutorials/hic_structural_variants.md
  website/docs/tutorials/k562_fusions.md
  website/scripts/specs/cancer_sv.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

feat(synteny): the comparative header spells out Follow and Zoom on scroll
  packages/core/src/ui/ScrollZoomToggle.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/components/FollowSyntenyToggle.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/components/Header.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/headerLabels.test.ts
  plugins/linear-comparative-view/src/LinearComparativeView/headerLabels.ts
  products/jbrowse-web/browser-tests/probe-synteny-header-fit.ts
Due: prettier --write, eslint --fix

fix(promotable): review follow-ups — pinLabel for a pin that writes more than its row, a builder test, and stale references
  agent-docs/ideas/how-permanent-a-promoted-default-is.md
  agent-docs/reference/DISPLAY_TYPE_DEFAULTS.md
  agent-docs/reference/EAGER_BUNDLE.md
  packages/core/README.md
  packages/core/src/configuration/promotableDefaults.ts
  packages/core/src/ui/legendMenuItem.ts
  packages/core/src/ui/toggleMenuItems.test.ts
  packages/core/src/ui/toggleMenuItems.ts
  packages/core/src/util/trackConfigDelta.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/readConnections.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/OverrideBadge.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/components/syntenySettingsMenuItems.ts
  website/docs/api/core-configuration.md
  website/docs/developer_guides/menus.md
Due: prettier --write, eslint --fix

docs(adr): ADR-091's record is not gone, it is tagged
  agent-docs/architecture-decision-records/adr-091-a-displays-settings-are-a-declaration.md
Due: prettier --write

refactor(alignments): the arcs and read-cloud checkboxes become the "Connection overlay" radio
  agent-docs/architecture-decision-records/adr-048-the-pin-applies-then-offers-the-default.md
  agent-docs/reference/DISPLAY_TYPE_DEFAULTS.md
  packages/core/src/configuration/promotableDefaults.test.ts
  packages/core/src/configuration/promotableDefaults.ts
  plugins/alignments/src/LinearAlignmentsDisplay/configSlotViews.ts
  plugins/alignments/src/LinearAlignmentsDisplay/constants.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/readConnections.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/menus/readConnections.ts
  plugins/alignments/src/LinearAlignmentsDisplay/showSoftClipping.test.ts
  products/jbrowse-web/src/tests/testLinkedReadsDisplay.tsx
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/tutorials/k562_fusions.md
  website/docs/user_guides/alignments_track.md
  website/docs/user_guides/sv_visualization.md
  website/scripts/check-spec-recipes.ts
  website/scripts/specs/alignments.ts
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

The HPRC demos and tutorial use the anchored companion, and the build script writes it
  demos/hprc/config.json
  demos/hprc_multiway/config.json
  scripts/build_hprc_gbz_index.sh
  website/docs/tutorials/pangenome_hprc.md
Due: prettier --write

docs(display defaults): the user guide says what the pin beside a checkbox does
  website/docs/user_guides/display_defaults.md
Due: prettier --write

The tutorial's companion passages say what a chosen set costs now and send the mechanics to the gbz-base README
  website/docs/tutorials/pangenome_hprc.md
Due: prettier --write

docs(agent-docs): drop the references to the removed LD estimator, its gate and its dialogs
  agent-docs/mechanisms/variants-decision-tree.md
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  agent-docs/reference/DEMO_DATASETS.md
  agent-docs/reference/DISPLAYCHROME.md
  agent-docs/reference/GPU_GLOSSARY.md
  agent-docs/reference/GPU_RENDERING.md
  agent-docs/reference/REGION_TOO_LARGE.md
  products/jbrowse-web/src/tests/PromotedBaseDescriptions.test.ts
  scripts/generateConfigManifest.ts
  website/scripts/api-docs/generateFileTypeDocs.ts
  website/scripts/check-doc-slots.ts
  website/scripts/generate-display-chrome-adoption.ts
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

fix(variants): a file with no R2 column disables the r² radio, the way a file with no DP column disables D'
  plugins/variants/src/LDDisplay/components/LDDisplayComponent.tsx
  plugins/variants/src/LDDisplay/components/hoverGate.test.tsx
  plugins/variants/src/LDDisplay/components/ldRenderingBackendTypes.ts
  plugins/variants/src/LDDisplay/connectorLineCoords.test.ts
  plugins/variants/src/LDDisplay/ldFetchPhases.ts
  plugins/variants/src/LDDisplay/overlayCoords.test.ts
  plugins/variants/src/LDDisplay/shared.ts
  plugins/variants/src/LDDisplay/staleSignature.test.ts
  plugins/variants/src/LDDisplay/trackMenuItems.test.ts
  plugins/variants/src/LDDisplay/trackMenuItems.ts
  plugins/variants/src/RenderLDDataRPC/emptyResult.test.ts
  plugins/variants/src/RenderLDDataRPC/executeRenderLDData.ts
  plugins/variants/src/RenderLDDataRPC/reversedRegions.test.ts
  plugins/variants/src/RenderLDDataRPC/types.ts
  plugins/variants/src/VariantRPC/getLDMatrixFromPlink.ts
  plugins/variants/src/VariantRPC/ldTypes.ts
  website/docs/models/SharedLDModel.md
Due: prettier --write, eslint --fix

fix(core): a display of a type no plugin registers is dropped with a warning, not silently
  packages/core/src/pluggableElementTypes/models/baseTrackConfig.ts
  products/jbrowse-web/src/tests/DisplaySnapshotShape.test.tsx
Due: prettier --write, eslint --fix

fix(shaders): the lift inventory keeps the frontmatter its index groups on
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/shader-tools/src/shader-codegen/liftReport.ts
Due: prettier --write, eslint --fix

fix(variants): the LD removal's loose ends against current main
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  agent-docs/reference/DISPLAYCHROME.md
  agent-docs/reference/EAGER_BUNDLE.md
  agent-docs/reference/GPU_GLOSSARY.md
  agent-docs/reference/SHADER_JS_CODEGEN.md
  packages/core/src/util/stopToken.ts
  packages/shader-tools/src/shader-codegen/codegen.test.ts
  plugins/variants/src/LDDisplay/ldFetchPhases.ts
  plugins/variants/src/shared/getPhasedColor.ts
  products/jbrowse-web/src/tests/DisplaySnapshotShape.test.tsx
  products/jbrowse-web/src/tests/__snapshots__/ConfigSlotDefaults.test.ts.snap
  scripts/gatedBudgets.ts
  website/scripts/check-doc-imports.ts
  website/scripts/generate-display-chrome-adoption.ts
Due: prettier --write, eslint --fix

chore(autogen): regenerate for the LD estimator's removal
  agent-docs/ARCHITECTURE.md
  agent-docs/ideas/README.md
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/SharedLDModel.md
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

chore(figures): recapture the two LCT figures on the precomputed LD tracks
  figures.lock
Due: none

docs(ld_human): the LCT tutorial reads a precomputed PLINK table
  scripts/build_lct_ld.sh
  website/docs/tutorials/ld_human.md
  website/scripts/specs/ld.ts
Due: prettier --write, eslint --fix

docs(pangenome): preparing a graph of your own is its own tutorial
  website/docs/tutorials/pangenome_hprc.md
  website/docs/tutorials/pangenome_prepare_graph.md
  website/docs/user_guides/graph_genome_view.md
  website/src/lib/guide-categories.ts
Due: prettier --write, eslint --fix

chore(autogen): index the graph-prep tutorial in the user guide
  website/docs/user_guide.md
Due: prettier --write

docs(handoff): land the clustering-at-population-scale review so its filing is a diff
  agent-docs/handoffs/clustering-at-population-scale.md
Due: prettier --write

fix(demos): drop showColorLegend, which stopped being settable this morning
  demos/grape_peach_cacao/config.json
  demos/oat_homoeologs/config.json
  demos/orthofinder_drosophila/config.json
  demos/orthofinder_grasses/config.json
  demos/orthofinder_solanaceae/config.json
  demos/orthofinder_vertebrates/config.json
  demos/orthofinder_wheat/config.json
  demos/primate_selection/config.json
  demos/wheat_homoeolog_selection/config.json
  demos/wheat_homoeologs/config.json
  scripts/build_grape_peach_cacao_synteny.sh
  scripts/build_oat_homoeologs.sh
  scripts/build_odp_linkage_groups_synteny.sh
  scripts/build_orthofinder_synteny.sh
  scripts/build_primate_selection.sh
  scripts/build_wheat_homoeologs.sh
  test_data/hg19_vs_hg38/config.json
  website/scripts/figure-manifest.json
Due: none

docs(clustering): file the population-scale review — the heap is the wall, the dosages are fractional, no shipped panel reaches the kernel's rows
  agent-docs/handoffs/clustering-at-population-scale.md
  agent-docs/ideas/README.md
  agent-docs/ideas/gpu-sample-distance-matrix.md
  agent-docs/reference/CLUSTERING_WORKFLOW.md
Due: prettier --write

fix(scripts): the heredoc scan sees a heredoc that redirects
  scripts/check-build-scripts.py
Due: none

[skip ci] feat(hooks): a regenerated config manifest re-checks what reads it
  .githooks/pre-commit
Due: none

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
