Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

[skip ci] v3.2.0 release announcement (#4908)
  website/release_announcement_drafts/v3.2.0.md
  yarn.lock
Due: prettier --write

Minor fix for text offset in rubberband span
  plugins/linear-genome-view/src/LinearGenomeView/components/TracksContainer.tsx
Due: prettier --write, eslint --fix

Prepare for v3.2.0 release
  CHANGELOG.md
  website/blog/2025-03-22-v3.2.0-release.md
  website/docusaurus.config.json
Due: prettier --write

[skip ci] Bump version.js
  products/jbrowse-react-circular-genome-view/src/version.js
Due: none

[skip ci] Bump version.js
  products/jbrowse-react-linear-genome-view/src/version.js
Due: none

[skip ci] Bump version.js
  products/jbrowse-react-app/src/version.js
Due: none

[skip ci] Add react-app vanillajs to embedded demos clone
  embedded_demos/base/app/config.ts
  embedded_demos/base/linear/config.ts
  embedded_demos/build_demos.sh
  embedded_demos/clone_demos.sh
  embedded_demos/copy_files.sh
  embedded_demos/deploy_demos.sh
  embedded_demos/push_demos.sh
  embedded_demos/update_all.sh
  embedded_demos/update_demos.sh
Due: prettier --write, eslint --fix

Bump component tests
  .github/workflows/push.yml
  component_tests/cgv/package.json
  component_tests/lgv-vite/package.json
  component_tests/lgv-vite/src/App.tsx
  component_tests/lgv/package.json
  component_tests/lgv/src/App.tsx
Due: prettier --write, eslint --fix

Update test
  component_tests/cgv/cypress/e2e/basic.cy.ts
  products/jbrowse-react-linear-genome-view/stories/NextJsUsage.mdx
  products/jbrowse-react-linear-genome-view/stories/React18.mdx
  website/docs/embedded_components.md
  website/docs/tutorials/embed_linear_genome_view/01_introduction.md
  website/yarn.lock
Due: prettier --write, eslint --fix

[update docs] Bump autogen docs
  website/docs/config/CytobandAdapter.md
  website/docs/config/RefNameAliasAdapter.md
  website/docs/config/TrixTextSearchAdapter.md
  website/docs/config/TwoBitAdapter.md
  website/docs/models/BreakpointSplitView.md
  website/docs/models/JBrowseReactLinearGenomeViewSessionModel.md
  website/docs/models/LinearComparativeView.md
  website/docs/models/LinearGenomeView.md
  website/docs/models/LinearVariantMatrixDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/MultiVariantBaseModel.md
  website/docs/models/SharedWiggleMixin.md
Due: prettier --write

Update test
  component_tests/cgv/cypress/e2e/basic.cy.ts
Due: prettier --write, eslint --fix

Update tests and README for component_tests
  component_tests/cgv/README.md
  component_tests/cgv/cypress/e2e/basic.cy.ts
  component_tests/lgv/README.md
  component_tests/react-app/README.md
Due: prettier --write, eslint --fix

Grid2
  package.json
  packages/core/ReExports/modules.tsx
  plugins/circular-view/src/CircularView/components/ImportForm.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetedHeader.tsx
  plugins/dotplot-view/src/DotplotView/components/ImportForm/ImportSyntenyOpenCustomTrack.tsx
  plugins/dotplot-view/src/DotplotView/components/ImportForm/index.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/ImportSyntenyOpenCustomTrack.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  products/jbrowse-desktop/src/components/AdapterInput.tsx
  products/jbrowse-desktop/src/components/StartScreen/RecentSessionCards.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Updates
  packages/core/BaseFeatureWidget/BaseFeatureDetail/DataGridDetails.tsx
  packages/core/ReExports/modules.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetedDataGrid.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/components/BookmarkGrid.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/HeaderZoomControls.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/SpreadsheetDataGrid.tsx
  plugins/variants/src/VariantFeatureWidget/VariantConsequenceDataGridWrapper.tsx
  plugins/variants/src/VariantFeatureWidget/VariantSampleGrid/VariantSampleGrid.tsx
  plugins/variants/src/shared/components/SourcesDataGrid.tsx
  plugins/variants/src/shared/components/SourcesGrid.tsx
  plugins/variants/src/shared/components/SourcesGridHeader.tsx
  plugins/variants/src/shared/sourcesGridUtils.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/SourcesGrid.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/util.ts
  products/jbrowse-desktop/src/components/StartScreen/RecentSessionList.tsx
Due: prettier --write, eslint --fix

Types
  packages/core/util/offscreenCanvasUtils.tsx
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/hic/src/HicRenderer/HicRenderer.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGLinearSyntenyView.tsx
  plugins/variants/src/MultiLinearVariantMatrixRenderer/LinearVariantMatrixRenderer.ts
  plugins/variants/src/MultiLinearVariantRenderer/MultiVariantRenderer.ts
  plugins/wiggle/src/WiggleBaseRenderer.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Misc
  plugins/variants/src/MultiLinearSVDisplay/configSchema.ts
  plugins/variants/src/MultiLinearSVDisplay/index.ts
  plugins/variants/src/MultiLinearSVDisplay/model.ts
  plugins/variants/src/MultiLinearSVDisplay/renderSvg.tsx
  plugins/variants/src/MultiLinearSVRenderer/MultiSVRenderer.ts
  plugins/variants/src/MultiLinearSVRenderer/configSchema.ts
  plugins/variants/src/MultiLinearSVRenderer/index.ts
  plugins/variants/src/MultiLinearSVRenderer/makeImageData.ts
  plugins/variants/src/MultiLinearSVRenderer/types.ts
  plugins/variants/src/MultiLinearVariantMatrixDisplay/components/VariantDisplayComponent.tsx
  plugins/variants/src/MultiLinearVariantMatrixDisplay/renderSvg.tsx
  plugins/variants/src/MultiLinearVariantMatrixRenderer/index.ts
  plugins/variants/src/MultiLinearVariantRenderer/components/MultiVariantRendering.tsx
  plugins/variants/src/index.ts
  plugins/variants/src/shared/MultiVariantBaseModel.tsx
  plugins/variants/src/shared/components/MultiVariantBaseDisplayComponent.tsx
  plugins/variants/src/shared/components/MultiVariantBaseRendering.tsx
  plugins/variants/src/shared/components/MultiVariantClusterDialog/ClusterDialog.tsx
  plugins/variants/src/shared/components/MultiVariantClusterDialog/ClusterDialogAuto.tsx
  plugins/variants/src/shared/components/MultiVariantClusterDialog/ClusterDialogManual.tsx
  plugins/variants/src/shared/components/MultiVariantClusterDialog/types.ts
  plugins/variants/src/shared/components/MultiVariantColorLegend.tsx
  plugins/variants/src/shared/components/MultiVariantCrosshairs.tsx
  plugins/variants/src/shared/components/MultiVariantLegendBar.tsx
  plugins/variants/src/shared/components/MultiVariantTooltip.tsx
  plugins/variants/src/shared/drawAlleleCount.ts
Due: prettier --write, eslint --fix

Misc
  plugins/variants/src/MultiLinearVariantMatrixDisplay/components/Crosshair.tsx
  plugins/variants/src/MultiLinearVariantMatrixDisplay/components/VariantDisplayComponent.tsx
  plugins/variants/src/shared/drawAlleleCount.ts
Due: prettier --write, eslint --fix

Theme
  plugins/variants/src/shared/components/LegendBar.tsx
  plugins/variants/src/shared/components/MultiVariantColorLegend.tsx
  plugins/variants/src/shared/components/MultiVariantCrosshairs.tsx
  plugins/variants/src/shared/components/RectBg.tsx
Due: prettier --write, eslint --fix

Fixes
  plugins/variants/src/MultiLinearVariantRenderer/makeImageData.ts
  plugins/variants/src/shared/components/MultiVariantBaseRendering.tsx
  plugins/variants/src/shared/components/MultiVariantCrosshairs.tsx
Due: prettier --write, eslint --fix

Multi-SV
  plugins/variants/src/MultiLinearSVRenderer/makeImageData.ts
  plugins/variants/src/MultiLinearVariantRenderer/makeImageData.ts
Due: prettier --write, eslint --fix

Add feature description
  plugins/variants/src/MultiLinearSVRenderer/makeImageData.ts
Due: prettier --write, eslint --fix

Escape
  plugins/variants/package.json
  plugins/variants/src/MultiLinearSVRenderer/makeImageData.ts
  plugins/variants/src/shared/components/MultiVariantTooltip.tsx
Due: prettier --write, eslint --fix

Draw reference flag
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/hic/src/HicRenderer/HicRenderer.tsx
  plugins/variants/src/MultiLinearSVRenderer/MultiSVRenderer.ts
  plugins/variants/src/MultiLinearSVRenderer/makeImageData.ts
  plugins/variants/src/shared/drawAlleleCount.ts
  plugins/variants/src/shared/drawPhased.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
Due: prettier --write, eslint --fix

Auto-height and maf=0
  plugins/variants/src/MultiLinearSVDisplay/model.ts
Due: prettier --write, eslint --fix

Add recurrent inversions
  plugins/variants/src/MultiLinearSVRenderer/makeImageData.ts
  plugins/variants/src/shared/drawAlleleCount.ts
  test_data/config_demo.json
Due: prettier --write, eslint --fix

Fix dark stock theme
  packages/core/ui/theme.ts
Due: prettier --write, eslint --fix

Fix dark theme
  packages/core/ui/theme.ts
Due: prettier --write, eslint --fix

Add Multi-variant SV display (#4922)
  packages/core/util/offscreenCanvasUtils.tsx
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/hic/src/HicRenderer/HicRenderer.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGLinearSyntenyView.tsx
  plugins/variants/package.json
  plugins/variants/src/MultiLinearSVDisplay/configSchema.ts
  plugins/variants/src/MultiLinearSVDisplay/index.ts
  plugins/variants/src/MultiLinearSVDisplay/model.ts
  plugins/variants/src/MultiLinearSVDisplay/renderSvg.tsx
  plugins/variants/src/MultiLinearSVRenderer/MultiSVRenderer.ts
  plugins/variants/src/MultiLinearSVRenderer/configSchema.ts
  plugins/variants/src/MultiLinearSVRenderer/index.ts
  plugins/variants/src/MultiLinearSVRenderer/makeImageData.ts
  plugins/variants/src/MultiLinearSVRenderer/types.ts
  plugins/variants/src/MultiLinearVariantMatrixDisplay/components/Crosshair.tsx
  plugins/variants/src/MultiLinearVariantMatrixDisplay/components/VariantDisplayComponent.tsx
  plugins/variants/src/MultiLinearVariantMatrixDisplay/renderSvg.tsx
  plugins/variants/src/MultiLinearVariantMatrixRenderer/LinearVariantMatrixRenderer.ts
  plugins/variants/src/MultiLinearVariantMatrixRenderer/index.ts
  plugins/variants/src/MultiLinearVariantRenderer/components/MultiVariantRendering.tsx
  plugins/variants/src/index.ts
  plugins/variants/src/shared/MultiVariantBaseModel.tsx
  plugins/variants/src/shared/components/MultiVariantBaseDisplayComponent.tsx
  plugins/variants/src/shared/components/MultiVariantBaseRendering.tsx
  plugins/variants/src/shared/components/MultiVariantClusterDialog/ClusterDialog.tsx
  plugins/variants/src/shared/components/MultiVariantClusterDialog/ClusterDialogAuto.tsx
  plugins/variants/src/shared/components/MultiVariantClusterDialog/ClusterDialogManual.tsx
  plugins/variants/src/shared/components/MultiVariantClusterDialog/types.ts
  plugins/variants/src/shared/components/MultiVariantColorLegend.tsx
  plugins/variants/src/shared/components/MultiVariantCrosshairs.tsx
  plugins/variants/src/shared/components/MultiVariantLegendBar.tsx
  plugins/variants/src/shared/components/MultiVariantTooltip.tsx
  plugins/variants/src/shared/components/RectBg.tsx
  plugins/variants/src/shared/drawAlleleCount.ts
  plugins/variants/src/shared/drawPhased.ts
  plugins/wiggle/src/WiggleBaseRenderer.tsx
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/config_demo.json
  yarn.lock
Due: prettier --write, eslint --fix

Fix dark stock theme (#4923)
  packages/core/ui/theme.ts
Due: prettier --write, eslint --fix

Squash updates
  packages/app-core/src/JBrowseConfig/index.ts
  packages/app-core/src/JBrowseModel/index.ts
  packages/core/configuration/configurationSchema.ts
  packages/core/util/tracks.ts
  packages/core/util/types/index.ts
  packages/product-core/src/Session/Tracks.ts
  packages/product-core/src/ui/AboutDialog.tsx
  packages/product-core/src/ui/AboutDialogContents.tsx
  packages/product-core/src/ui/FileInfoPanel.tsx
  packages/product-core/src/ui/RefNameInfoDialog.tsx
  packages/web-core/src/BaseWebSession/index.ts
  plugins/circular-view/src/CircularView/model.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackLabel.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackListNode.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/util.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/facetedModel.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/facetedUtil.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/filterTracks.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/generateHierarchy.ts
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/stateModelFactory.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  products/jbrowse-desktop/src/jbrowseModel.ts
  products/jbrowse-desktop/src/rootModel/rootModel.test.ts
  products/jbrowse-react-app/src/jbrowseModel.ts
  products/jbrowse-react-app/src/rootModel/__snapshots__/rootModel.test.ts.snap
  products/jbrowse-react-app/src/rootModel/rootModel.test.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/jbrowseModel.test.ts
  products/jbrowse-web/src/jbrowseModel.ts
  products/jbrowse-web/src/rootModel/__snapshots__/rootModel.test.ts.snap
  products/jbrowse-web/src/rootModel/rootModel.test.ts
  products/jbrowse-web/src/rootModel/rootModel.ts
  products/jbrowse-web/src/tests/Loader.test.tsx
Due: prettier --write, eslint --fix

Pre-processor docs
  docs/generateConfigDocs.ts
  docs/util.ts
  plugins/alignments/src/BamAdapter/configSchema.ts
  plugins/alignments/src/CramAdapter/configSchema.ts
  plugins/gff3/src/Gff3Adapter/configSchema.ts
  plugins/gff3/src/Gff3TabixAdapter/configSchema.ts
  plugins/variants/src/SplitVcfTabixAdapter/configSchema.ts
  plugins/variants/src/VcfAdapter/configSchema.ts
  plugins/variants/src/VcfTabixAdapter/configSchema.ts
  website/docs/config/BamAdapter.md
  website/docs/config/CramAdapter.md
  website/docs/config/Gff3Adapter.md
  website/docs/config/Gff3TabixAdapter.md
  website/docs/config/MultiLinearSVDisplay.md
  website/docs/config/MultiSVRenderer.md
  website/docs/config/SplitVcfTabixAdapter.md
  website/docs/config/VcfTabixAdapter.md
  yarn.lock
Due: prettier --write, eslint --fix

[skip ci] Fix config slot
  plugins/config/src/NcbiSequenceReportAliasAdapter/NcbiSequenceReportAliasAdapter.ts
Due: prettier --write, eslint --fix

More docs
  website/docs/tutorials/analyzing_trio.md
  website/docs/user_guides/variant_track.md
  website/pngcompress.sh
  website/static/img/basic-trio.png
  website/static/img/crossing-over.png
  website/static/img/multi-sv-trio.png
  website/static/img/trio-matrix.png
Due: prettier --write

Start making combined linear genome view tutorial
  website/docs/tutorials/developer_oriented_tutorials/_category_.json
  website/docs/tutorials/developer_oriented_tutorials/desktop_spec_plugin_tutorial.md
  website/docs/tutorials/developer_oriented_tutorials/develop_web_and_desktop_tutorial.md
  website/docs/tutorials/developer_oriented_tutorials/final.md
  website/docs/tutorials/developer_oriented_tutorials/no_build_plugin_tutorial.md
  website/docs/tutorials/developer_oriented_tutorials/simple_plugin.md
  website/docs/tutorials/user_oriented_tutorials/_category_.json
  website/docs/tutorials/user_oriented_tutorials/analyzing_trio.md
  website/docs/tutorials/user_oriented_tutorials/plugin_usage.md
  website/sidebars.json
Due: prettier --write

Examples
  website/examples/1.html
Due: none

Move
  website/docs/tutorials/embed_linear_genome_view/_category_.json
  website/docs/user_guides/user_oriented_tutorials/_category_.json
  website/docs/user_guides/user_oriented_tutorials/analyzing_trio.md
  website/docs/user_guides/user_oriented_tutorials/plugin_usage.md
Due: prettier --write

Move files around
  website/docs/config_guide.md
  website/docs/developer_guide.md
  website/docs/developer_guides/config_model.md
  website/docs/developer_guides/creating_adapter.md
  website/docs/developer_guides/creating_display.md
  website/docs/developer_guides/creating_renderer.md
  website/docs/developer_guides/creating_top_level_menus.md
  website/docs/developer_guides/creating_track.md
  website/docs/developer_guides/creating_view.md
  website/docs/developer_guides/creating_widget.md
  website/docs/developer_guides/develop_web_and_desktop_tutorial.md
  website/docs/developer_guides/extension_points.md
  website/docs/developer_guides/menus.md
  website/docs/developer_guides/modifying_menus.md
  website/docs/developer_guides/no_build_plugin_tutorial.md
  website/docs/developer_guides/rootmodel_menu_api.md
  website/docs/developer_guides/simple_plugin.md
  website/docs/quickstart_adminserver.md
  website/docs/superquickstart_web.md
  website/docs/tutorials/config_cli.md
  website/docs/tutorials/developer_oriented_tutorials/_category_.json
  website/docs/tutorials/developer_oriented_tutorials/desktop_spec_plugin_tutorial.md
  website/docs/tutorials/developer_oriented_tutorials/final.md
  website/docs/user_guide.md
  website/docs/user_guides/user_oriented_tutorials/_category_.json
  website/docusaurus.config.json
  website/sidebars.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
