Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

PROTOTYPE: canvas2d probe specs for flattened multi-way ribbons
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayMarks.ts
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

SyntenyFollow/CLAUDE.md states the rules in the present tense
  plugins/linear-comparative-view/src/SyntenyFollow/CLAUDE.md
Due: prettier --write

The multi-way review closes: the 17p clutter becomes a parked call on how gutters composite
  agent-docs/handoffs/README.md
  agent-docs/handoffs/multiway-review.md
  agent-docs/ideas/README.md
  agent-docs/ideas/waiting-on-a-call/multiway-ribbons-paint-the-darkest-not-the-sum.md
Due: prettier --write

Spelling rulings against Vega-Lite, ggplot2 and GenomeSpy; activeFilters is a method on the mark display
  agent-docs/handoffs/grammar-one-spelling.md
  agent-docs/ideas/ready/one-row-model-for-displays-that-stack-by-a-key.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  plugins/marks/src/LinearMarkDisplay/filterSpelling.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  plugins/wiggle/src/shared/wiggleConfigSchemaFields.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/LinearWiggleDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMarkDisplay.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

pnpm autogen
  agent-docs/handoffs/README.md
Due: prettier --write

Two more stale test goldens from today's config-shape changes
  products/jbrowse-desktop/src/mcp/featureChannelRoute.test.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
Due: prettier --write, eslint --fix

A variant chord's colour is the shared colour object
  agent-docs/ARCHITECTURE.md
  agent-docs/ideas/waiting-on-a-call/sv-size-ring.md
  plugins/circular-view/package.json
  plugins/circular-view/src/ChordVariantDisplay/models/chordColorConfigSchema.ts
  plugins/circular-view/src/ChordVariantDisplay/models/configSchema.test.ts
  plugins/circular-view/src/ChordVariantDisplay/models/configSchema.ts
  plugins/circular-view/src/ChordVariantDisplay/models/stateModelFactory.test.ts
  plugins/circular-view/src/ChordVariantDisplay/models/stateModelFactory.ts
  plugins/circular-view/src/CircularView/circularLegend.ts
  plugins/circular-view/tsconfig.build.esm.json
  plugins/sv-inspector/src/SvInspectorView/index.ts
  plugins/sv-inspector/src/SvInspectorView/model.ts
  plugins/sv-inspector/src/SvInspectorView/svChordColor.test.ts
  plugins/sv-inspector/src/SvInspectorView/svChordColor.ts
  pnpm-lock.yaml
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  products/jbrowse-web/src/tests/TrackConfigShorthand.test.ts
  website/docs/config/ChordColor.md
  website/docs/config/ChordVariantDisplay.md
  website/docs/config_guides/jexl.md
  website/docs/models/ChordVariantDisplay.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

Reshoot multisv_svtype under the class names and colours core now paints
  figures.lock
Due: none

Idea done: the SV class is one field every display reads
  agent-docs/ideas/README.md
  agent-docs/ideas/ready/sv-class-is-one-field-every-display-reads.md
Due: prettier --write

Core runs on jexl 6
  packages/core/package.json
  pnpm-lock.yaml
Due: none

A haploid sample's phased row keeps the sample's name
  plugins/variants/src/CLAUDE.md
  plugins/variants/src/shared/__snapshots__/rowDerivation.test.ts.snap
  plugins/variants/src/shared/buildCanonicalRows.test.ts
  plugins/variants/src/shared/getSources.test.ts
  plugins/variants/src/shared/getSources.ts
  plugins/variants/src/shared/multiSampleVariantMenuItems.ts
  plugins/variants/src/shared/rowDerivation.test.ts
Due: prettier --write, eslint --fix

Shared coverage axes are an autoscale group the page teaches
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  demos/dtu/config.json
  website/docs/tutorials/dtu.md
  website/docs/tutorials/sv_multisamples.md
  website/scripts/specs/dtu.ts
  website/scripts/specs/ui.ts
  website/src/lib/spec-recipe/fields.ts
  website/src/lib/spec-recipe/scalesStep.test.ts
Due: prettier --write, eslint --fix

cgiab's NYGC lane draws the link mark the page configures
  website/docs/tutorials/sv_visualization_cgiab.md
  website/scripts/specs/sv.ts
Due: prettier --write, eslint --fix

pangenome_prepare_graph shows the carriage ramp it configures
  website/docs/tutorials/pangenome_prepare_graph.md
  website/scripts/specs/graph-ecoli.ts
Due: prettier --write, eslint --fix

figures: six clipped figures and the new carriage one take the height the run measured
  website/scripts/specs/cnv1000g.ts
  website/scripts/specs/dog10k.ts
  website/scripts/specs/graph-ecoli.ts
  website/scripts/specs/hg002_haplotypes.ts
  website/scripts/specs/paper-cohort.ts
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

Figures read a page's track config off its fence, and a shadowed session track fails check-specs
  demos/hg002/config.json
  website/scripts/check-specs.ts
  website/scripts/screenshot-impact.ts
  website/scripts/screenshot-spec-rules.ts
  website/scripts/specs/graph-ecoli.ts
  website/scripts/specs/hg002_haplotypes.ts
  website/scripts/specs/pageTrack.ts
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

cgiab figures draw the page's callset, CNV, BIC-seq2 and ClinVar configs
  website/docs/tutorials/sv_visualization_cgiab.md
  website/scripts/specs/sv.ts
Due: prettier --write, eslint --fix

TCGA, methylation, population CNV, popgen and LD figures draw their pages' track configs
  website/docs/tutorials/population_cnv.md
  website/scripts/specs/cnv1000g.ts
  website/scripts/specs/ld.ts
  website/scripts/specs/methylation.ts
  website/scripts/specs/popgen.ts
  website/scripts/specs/tcga.ts
Due: prettier --write, eslint --fix

Pangenome figures and tours read their pages' track configs
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/check-paste-configs.ts
  website/scripts/specs/demoBase.ts
  website/scripts/specs/graph-ecoli.ts
  website/scripts/specs/maf.ts
  website/scripts/specs/pageTrack.ts
  website/scripts/specs/pangenome_cactus.ts
  website/scripts/video-specs.ts
Due: prettier --write, eslint --fix

screenshot-spec-rules drops a type import the cast it served no longer needs
  website/scripts/screenshot-spec-rules.ts
Due: prettier --write, eslint --fix

Figure recipes name the Row height menu on every display that has it
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rowHeightPresets.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/trackMenuItems.ts
  plugins/maf/src/LinearMafDisplay/displayDefaults.ts
  plugins/maf/src/LinearMafDisplay/trackMenuItems.ts
  website/scripts/specs/sv.ts
  website/src/lib/spec-recipe/fields.ts
  website/src/lib/spec-recipe/scalesStep.test.ts
  website/src/lib/spec-recipe/trackFieldSteps.test.ts
Due: prettier --write, eslint --fix

pnpm autogen
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

unshown-settings: pangenome_prepare_graph's carriage route has its figure
  website/scripts/unshown-settings.txt
Due: none

TCGA mutation figures draw the fence of the section they illustrate
  website/docs/tutorials/tcga_cohort_mutations.md
  website/scripts/specs/pageTrack.ts
  website/scripts/specs/tcga.ts
Due: prettier --write, eslint --fix

A reference line at the top of its band captions itself below the line
  packages/display-ui/src/ScoreRules.test.tsx
  packages/display-ui/src/ScoreRules.tsx
Due: prettier --write, eslint --fix

popgen's In(2L)t figure waits on the page track's own name
  website/scripts/specs/popgen.ts
Due: prettier --write, eslint --fix

figures: three more clipped at main take the height they need
  website/scripts/specs/pangenome_cactus.ts
  website/scripts/specs/popgen.ts
  website/scripts/specs/tcga.ts
Due: prettier --write, eslint --fix

pnpm autogen
  scripts/chromeBundleSizes.json
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

figures: paper/cohort_sv_multisample takes the 10 px its view ran past the frame
  website/scripts/specs/paper-cohort.ts
Due: prettier --write, eslint --fix

check-remote-hosts reads the specs as built, not their source
  website/scripts/check-remote-hosts.ts
Due: prettier --write, eslint --fix

figures: the grammar follow-up round's figures and tours
  figures.lock
  website/media.lock
Due: none

Handoff: tutorial grammar follow-ups after the page-config round
  agent-docs/handoffs/README.md
  agent-docs/handoffs/tutorial-grammar-followups.md
Due: prettier --write

pnpm autogen
  scripts/registryBundleSizes.json
Due: none

Handoff: the encoding bare-string ruling landed
  agent-docs/handoffs/grammar-one-spelling.md
Due: prettier --write

pnpm autogen
  scripts/chromeBundleSizes.json
  scripts/registryBundleSizes.json
Due: none

Multi-way gutters paint the strongest ribbon over a pixel, not the sum
  agent-docs/ideas/README.md
  agent-docs/ideas/waiting-on-a-call/multiway-ribbons-paint-the-darkest-not-the-sum.md
  agent-docs/reference/GPU_RENDERING.md
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
  packages/render-core/src/hal/deviceGpuCache.test.ts
  packages/render-core/src/hal/deviceGpuCache.ts
  packages/render-core/src/hal/types.ts
  packages/render-core/src/hal/webgl2Hal.ts
  packages/render-core/src/slangPass.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/drawSyntenyTrack.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.glsl.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.wgsl.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.glsl.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.wgsl.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.glsl.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.wgsl.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.glsl.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.wgsl.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyTypes.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/syntenyOverlap.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/syntenyRibbonMarks.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayBackendParity.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayMarks.ts
Due: prettier --write, eslint --fix

figures: the multi-way lanes reshot with gutters painting the strongest ribbon
  figures.lock
  scripts/registryBundleSizes.json
Due: none
