Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

Docs and figure specs describe highlights, not bookmarks
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  website/docs/developer_guides/extension_points.md
  website/docs/developer_guides/upgrading_v5.md
  website/docs/urlparams.md
  website/docs/user_guide.md
  website/docs/user_guides/basic_usage.md
  website/docs/user_guides/bookmark_widget.md
  website/docs/user_guides/highlights.md
  website/scripts/specs/ui.ts
  website/scripts/videos/ui.ts
Due: prettier --write, eslint --fix

The launch-key schema and view-init reference drop the highlight discriminator
  agent-docs/ideas/collections/alignments.md
  agent-docs/ideas/collections/tutorial-ideas-audit.md
  agent-docs/reference/VIEW_INIT.md
  scripts/configJsonSchema.ts
  website/scripts/api-docs/generateStateModelDocs.ts
Due: prettier --write, eslint --fix

The highlight list's color swatch shows the band's own color
  plugins/grid-bookmark/src/GridBookmarkWidget/components/HighlightGrid.tsx
Due: prettier --write, eslint --fix

The web highlight suite commits a label edit with Enter before reading it back
  products/jbrowse-web/src/tests/HighlightWidget.test.tsx
Due: prettier --write, eslint --fix

Publish the highlight list figures and tour, and retire the bookmark ones
  figures.lock
  website/media.lock
Due: none

The dotplot owns its highlight toggle; grid-bookmark no longer extends it
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/grid-bookmark/package.json
  plugins/grid-bookmark/src/index.ts
  plugins/grid-bookmark/tsconfig.build.esm.json
  pnpm-lock.yaml
  website/docs/models/DotplotView.md
  website/docs/user_guides/highlights.md
Due: prettier --write, eslint --fix

Regenerate the registry sizes and desktop type docs after rebasing
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
Due: none

A tabix track no longer sticks at "Downloading features 0%" when a pool worker never boots
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  agent-docs/reference/BGZF_WORKER_POOL.md
  packages/core/package.json
  packages/core/src/util/bgzfWorkerPool.ts
  plugins/gff3/src/Gff3TabixAdapter/Gff3TabixAdapter.ts
  plugins/gtf/src/GtfTabixAdapter/GtfTabixAdapter.ts
  plugins/maf/package.json
  pnpm-lock.yaml
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

Filter rows compare a field of no known type as a number or as text
  packages/core/src/ui/JexlFilterDialog.test.tsx
  packages/core/src/ui/JexlFilterRowEditors.tsx
  packages/core/src/util/jexlFilterRows.test.ts
  packages/core/src/util/jexlFilterRows.ts
Due: prettier --write, eslint --fix

A feature track's filter picker lists the columns its BigBed describes
  packages/core/src/ui/JexlFilterDialog.test.tsx
  packages/core/src/ui/JexlFilterDialog.tsx
  packages/core/src/util/jexlFilterRows.test.ts
  packages/core/src/util/jexlFilterRows.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
Due: prettier --write, eslint --fix

genomes_basics builds the gnomAD AF cut as a row
  website/docs/tutorials/genomes_basics.md
  website/scripts/specs/genomes_basics.ts
Due: prettier --write, eslint --fix

Regenerate the registry bundle sizes for the filter dialog's untyped fields
  scripts/registryBundleSizes.json
Due: none

The views own their highlight controls; the list plugin only adds the list
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/grid-bookmark/src/bookmarkViewUtils.ts
  plugins/grid-bookmark/src/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/keyboardHandler.ts
  plugins/linear-genome-view/src/LinearGenomeView/menuItems.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  products/jbrowse-web/src/tests/HighlightWidget.test.tsx
Due: prettier --write, eslint --fix

One session action adds a widget and shows it
  packages/core/src/util/openFeatureWidget.ts
  packages/core/src/util/types/index.ts
  packages/display-test-utils/src/displayTestSessionModel.ts
  packages/product-core/src/RootModel/menuItems.ts
  packages/product-core/src/Session/DrawerWidgets.ts
  plugins/alignments/src/LinearAlignmentsDisplay/testUtils.ts
  plugins/blat/src/ucscShared.ts
  plugins/circular-view/src/CircularView/model.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/showAddWidget.ts
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/grid-bookmark/src/bookmarkViewUtils.ts
  plugins/grid-bookmark/src/index.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/maf/src/LinearMafDisplay/openSubsequenceWidget.ts
  plugins/menus/src/index.ts
  products/jbrowse-web/src/rootModel/sessionMenus.test.ts
  products/jbrowse-web/src/rootModel/sessionMenus.ts
Due: prettier --write, eslint --fix

The Highlights page covers setting them from a URL, a session and code
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/developer_guides/creating_widget.md
  website/docs/models/BaseWebSessionModel.md
  website/docs/models/DrawerWidgetSessionMixin.md
  website/docs/models/EmbeddedSessionMixin.md
  website/docs/models/JBrowseDesktopSessionModel.md
  website/docs/models/JBrowseReactCircularGenomeViewSessionModel.md
  website/docs/models/JBrowseReactLinearGenomeViewSessionModel.md
  website/docs/models/JBrowseWebSessionModel.md
  website/docs/models/LinearGenomeView.md
  website/docs/models/MultipleViewsSessionMixin.md
  website/docs/user_guides/highlights.md
  website/scripts/api-docs/coverage-gaps.txt
  website/scripts/specs/ui.ts
  website/scripts/videos/ui.ts
Due: prettier --write, eslint --fix

Regenerate the registry sizes after rebasing
  scripts/registryBundleSizes.json
Due: none

chore: pre-push autofix
  scripts/registryBundleSizes.json
Due: none

ideas: evaluate jexl channels a column at a time
  agent-docs/ideas/README.md
  agent-docs/ideas/waiting-on-a-call/evaluate-jexl-channels-a-column-at-a-time.md
Due: prettier --write

ADR-155: a jexl: list entry loads, and why that stays
  agent-docs/architecture-decision-records/adr-155-a-slot-takes-a-callback-only-where-it-declares-one.md
Due: prettier --write

The mark display checks its own transform steps as it checks a mark's
  plugins/marks/src/LinearMarkDisplay/markProblems.test.ts
  plugins/marks/src/LinearMarkDisplay/markProblems.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  products/jbrowse-cli/src/commands/validate/markDisplays.test.ts
  products/jbrowse-cli/src/commands/validate/markRules/markProblems.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.ts
  products/jbrowse-img/src/configuredDisplay.test.ts
  products/jbrowse-img/src/renderRegion.ts
Due: prettier --write, eslint --fix

two-packings says each mark names the row a display pileup writes
  plugins/marks/src/LinearMarkDisplay/markProblems.ts
  products/jbrowse-cli/src/commands/validate/markRules/markProblems.ts
  website/docs/config_guides/mark_display.md
Due: prettier --write, eslint --fix

Validate a mark display whose marks come from displayDefaults
  plugins/marks/src/LinearMarkDisplay/markProblems.test.ts
  plugins/marks/src/LinearMarkDisplay/markProblems.ts
  products/jbrowse-cli/src/commands/validate/markDisplays.test.ts
  products/jbrowse-cli/src/commands/validate/markRules/markProblems.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.ts
  website/docs/config_guides/mark_display.md
Due: prettier --write, eslint --fix

Mark display docs name the quantitative tracks and drop the second axis
  website/docs/config_guides/mark_display.md
  website/src/pages/features.md
Due: prettier --write

groupby's bin edges come from a bin in the same transform
  plugins/marks/src/LinearMarkDisplay/markTransformConfigSchema.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/MarkTransform.md
  website/docs/config_guides/mark_display.md
Due: prettier --write, eslint --fix

jbrowse validate reads a marks list one entry at a time
  plugins/marks/src/LinearMarkDisplay/markProblems.test.ts
  plugins/marks/src/LinearMarkDisplay/markProblems.ts
  products/jbrowse-cli/src/commands/validate/markDisplays.test.ts
  products/jbrowse-cli/src/commands/validate/markRules/markProblems.ts
  products/jbrowse-cli/src/commands/validate/schemaValidate.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.ts
Due: prettier --write, eslint --fix

groupby's doc says the mark lists a display bin's edges
  plugins/marks/src/LinearMarkDisplay/markTransformConfigSchema.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/MarkTransform.md
Due: prettier --write, eslint --fix

jbrowse validate names Vega-Lite's spellings and the schema refusing a key
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-cli/src/commands/validate/markDisplays.test.ts
  products/jbrowse-cli/src/commands/validate/schemaValidate.ts
  scripts/configJsonSchema.ts
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

A mark's colour key takes its heading from encoding.color.title
  agent-docs/ARCHITECTURE.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  plugins/marks/src/LinearMarkDisplay/components/MarkTooltip.test.tsx
  plugins/marks/src/LinearMarkDisplay/legend.test.ts
  plugins/marks/src/LinearMarkDisplay/legend.ts
  plugins/marks/src/LinearMarkDisplay/markColorConfigSchema.ts
  plugins/marks/src/LinearMarkDisplay/markList.test.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  products/jbrowse-web/src/tests/MarkDisplay.test.tsx
  website/docs/config/MarkColor.md
  website/docs/config_guides/mark_display.md
  website/docs/models/LinearMarkDisplay.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

Point the protein plugin links at the docs each plugin split out
  website/docs/tutorials/genomes_proteins.md
  website/docs/urlparams.md
Due: prettier --write

Pin msaview's new-tab placement the way its published bundle calls it
  products/jbrowse-web/src/tests/pluginFacingSessionApi.test.ts
Due: prettier --write, eslint --fix

LGVSynteny's region launch test waits on the synteny entry itself
  products/jbrowse-web/src/tests/LGVSynteny.test.tsx
Due: prettier --write, eslint --fix

Pin the session members msaview's published bundle reaches for
  products/jbrowse-web/src/tests/pluginFacingSessionApi.test.ts
Due: prettier --write, eslint --fix

The gene track guide names where a protein structure comes from
  website/docs/user_guides/gene_track.md
Due: prettier --write

The Alu tutorial's colour key reads "Alu lineage"
  scripts/build_alu_age.sh
  test_data/alu_age/config.json
  website/docs/tutorials/alu_age.md
Due: prettier --write

The Alu tutorial's axes and callout read with the derived captions
  scripts/build_alu_age.sh
  test_data/alu_age/config.json
  website/docs/tutorials/alu_age.md
  website/scripts/specs/marks.ts
Due: prettier --write, eslint --fix

Reshoot the four Alu figures with their key and axis titles
  figures.lock
Due: none

The MAF display stops drawing a connected MSA's highlight a second time
  agent-docs/architecture-decision-records/adr-110-a-display-declares-what-is-highlighted.md
  agent-docs/reference/GPU_RENDERING.md
  plugins/maf/src/LinearMafDisplay/components/LinearMafDisplayComponent.tsx
  plugins/maf/src/LinearMafDisplay/components/MsaHighlightOverlay.tsx
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/maf/src/LinearMafDisplay/util.test.ts
  plugins/maf/src/LinearMafDisplay/util.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearMafDisplay.md
Due: prettier --write, eslint --fix

One translateTranscript in core for the feature panel and the peptide overlay
  packages/core/package.json
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/SequenceContents.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/SequenceFeatureDetails.test.tsx
  packages/core/src/ReExports/coreModules.generated.ts
  packages/core/src/ReExports/coreWorkerModules.generated.ts
  packages/core/src/ReExports/list.ts
  packages/core/src/ReExports/reExports.generated.json
  packages/core/src/util/translateTranscript.test.ts
  packages/core/src/util/translateTranscript.ts
  plugins/canvas/src/RenderFeatureDataRPC/collect/peptideMapping.ts
  plugins/canvas/src/RenderFeatureDataRPC/peptides/cdsSegments.ts
  plugins/canvas/src/RenderFeatureDataRPC/peptides/peptideRoundTrip.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/peptides/peptideUtils.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/peptides/peptideUtils.ts
  scripts/registryBundleSizes.json
  website/docs/developer_guides/imports_and_reexports.md
Due: prettier --write, eslint --fix

Three test sessions stub the openWidget their code now calls
  packages/product-core/src/RootModel/menuItems.test.ts
  plugins/blat/src/ucscShared.test.ts
  plugins/maf/src/LinearMafDisplay/launchMenuItems.test.ts
Due: prettier --write, eslint --fix
