Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(website): add Tutorials to the nav bar
  website/src/layouts/BaseLayout.astro
  website/src/lib/nav.ts
Due: prettier --write, eslint --fix

docs(website): feature more demos in the gallery and demos pages
  agent-docs/OTHER_IDEAS.md
  agent-docs/reference/DISPLAY_TYPE_DEFAULTS.md
  packages/core/src/configuration/getConf.ts
  packages/core/src/configuration/promotableDefaults.test.ts
  packages/core/src/configuration/promotableDefaults.ts
  packages/core/src/configuration/promotableResolve.ts
  plugins/arc/src/LinearPairedArcDisplay/model.ts
  plugins/canvas/src/LinearBasicDisplay/testEnv.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/CLAUDE.md
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
  products/jbrowse-react-app/src/rootModel/rootModel.ts
  products/jbrowse-web/src/rootModel/rootModel.ts
  website/src/components/HomePage.astro
  website/src/layouts/BaseLayout.module.css
  website/src/lib/gallery.ts
Due: prettier --write, eslint --fix

docs(website): document how the demos/gallery list is curated
  website/CLAUDE.md
Due: prettier --write

docs(website): rework demos layout, consolidate gallery categories, add hubURL guide
  website/docs/tutorials/readpair_heatmap.md
  website/docs/urlparams.md
  website/docs/user_guide.md
  website/docs/user_guides/connections.md
  website/docs/user_guides/hub_url.md
  website/docs/user_guides/multiquantitative_track.md
  website/docs/user_guides/quantitative_track.md
  website/src/components/HomePage.astro
  website/src/lib/gallery.ts
  website/src/pages/demos.astro
Due: prettier --write, eslint --fix

feat(sequence): split motif search into per-motif tracks, split sequence search docs
  plugins/linear-genome-view/src/LinearGenomeView/components/MotifListPanel.test.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/MotifListPanel.tsx
  website/docs/user_guide.md
  website/docs/user_guides/sequence_search.md
  website/docs/user_guides/sequence_track.md
Due: prettier --write, eslint --fix

fix(core): handle jexl callbacks in promotable slot cascade
  agent-docs/OTHER_IDEAS.md
  agent-docs/reference/DISPLAY_TYPE_DEFAULTS.md
  packages/core/src/configuration/getConf.ts
  packages/core/src/configuration/promotableDefaults.test.ts
  packages/core/src/configuration/promotableDefaults.ts
  packages/core/src/configuration/promotableResolve.ts
  plugins/arc/src/LinearPairedArcDisplay/model.ts
  plugins/canvas/src/LinearBasicDisplay/testEnv.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
  products/jbrowse-react-app/src/rootModel/rootModel.ts
  products/jbrowse-web/src/rootModel/rootModel.ts
Due: prettier --write, eslint --fix

docs(website): remove the read-pair heatmap tutorial
  scripts/bam2contacts.sh
  scripts/build_readpair_heatmap_cgiab.sh
  website/docs/tutorials/readpair_heatmap.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-review.json
  website/scripts/screenshot-specs.ts
  website/scripts/specs/hic.ts
  website/scripts/upload-cgiab-demo.sh
  website/src/lib/gallery.ts
  website/src/lib/galleryLinks.generated.ts
  website/src/pages/docs/tutorials/index.astro
  website/static/img/readpair_heatmap_chr3q.png
  website/static/img/readpair_heatmap_translocation.png
Due: prettier --write, eslint --fix

docs(website): shorten tutorial titles and update cross-links
  website/docs/quickstart_web.md
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/bisulfite.md
  website/docs/tutorials/bxd_qtl.md
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/cli_desktop.md
  website/docs/tutorials/genomes_synteny.md
  website/docs/tutorials/linkage_disequilibrium.md
  website/docs/tutorials/methylation.md
  website/docs/tutorials/multiway_synteny.md
  website/docs/tutorials/pangenome.md
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/protein_structure.md
  website/docs/tutorials/scatac_pseudobulk.md
  website/docs/tutorials/synteny_visualization.md
  website/docs/user_guide.md
  website/docs/user_guides/linear_synteny_view.md
Due: prettier --write

docs(agent-docs): fix YAML frontmatter parse error in REGION_TOO_LARGE.md
  agent-docs/reference/REGION_TOO_LARGE.md
Due: prettier --write

docs(agent-docs): tighten DisplayChrome testid section into a table
  agent-docs/reference/DISPLAYCHROME.md
Due: prettier --write

docs(agent-docs): rewrite REGION_TOO_LARGE TL;DR for readability
  agent-docs/reference/REGION_TOO_LARGE.md
Due: prettier --write

docs(agent-docs): restructure DisplayChrome for clarity, eliminate redundancy
  agent-docs/reference/DISPLAYCHROME.md
Due: prettier --write

feat(alignments): uncapped IUPAC ambiguity codes for consensus sequence
  packages/alignments-core/src/consensus/computeConsensus.test.ts
  packages/alignments-core/src/consensus/computeConsensus.ts
  packages/alignments-core/src/consensus/consensusVariants.ts
  plugins/alignments/src/RenderAlignmentDataRPC/GetConsensusSequence.ts
  plugins/alignments/src/RenderAlignmentDataRPC/consensusGolden.test.ts
  plugins/alignments/src/RenderAlignmentDataRPC/consensusGoldenCram.test.ts
  plugins/alignments/src/consensus/ConsensusSequenceDialog.tsx
Due: prettier --write, eslint --fix

docs(tutorials): tighten the genomes.jbrowse.org synteny tutorial
  website/docs/cookbook.md
  website/docs/tutorials/genomes_synteny.md
  website/docs/user_guide.md
  website/src/lib/guide-categories.ts
Due: prettier --write, eslint --fix

docs(pangenome_cactus): explore boxed loci in a multi-way synteny view
  website/docs/tutorials/pangenome_cactus.md
  website/scripts/specs/pangenome_cactus.ts
  website/static/img/pangenome_cactus/boxed_locus_synteny.png
Due: prettier --write, eslint --fix

fix(alignments): handle consensus ambiguity edge cases
  packages/alignments-core/src/consensus/computeConsensus.test.ts
  packages/alignments-core/src/consensus/computeConsensus.ts
  packages/alignments-core/src/consensus/consensusVariants.test.ts
  packages/alignments-core/src/consensus/consensusVariants.ts
  plugins/alignments/src/consensus/ConsensusSequenceDialog.tsx
Due: prettier --write, eslint --fix

docs(genomes_synteny): add curved-ribbon/transparent-indel two-part figure
  website/docs/tutorials/genomes_synteny.md
  website/scripts/figure-manifest.json
  website/scripts/specs/synteny.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/genomes_synteny/ribbon_settings.png
  website/static/img/genomes_synteny/ribbons_curved.png
  website/static/img/genomes_synteny/ribbons_default.png
  website/static/img/synteny_hg38_hs1_tnnt3.png
Due: prettier --write, eslint --fix

fix(alignments): make consensus IUPAC ambiguity opt-in
  packages/alignments-core/src/consensus/computeConsensus.test.ts
  packages/alignments-core/src/consensus/computeConsensus.ts
  packages/alignments-core/src/consensus/consensusVariants.test.ts
  plugins/alignments/src/RenderAlignmentDataRPC/consensusGolden.test.ts
  plugins/alignments/src/RenderAlignmentDataRPC/consensusGoldenCram.test.ts
  plugins/alignments/src/consensus/ConsensusSequenceDialog.tsx
Due: prettier --write, eslint --fix

feat(alignments): optional IUPAC ambiguity codes in consensus sequence (#5605)
  packages/alignments-core/src/consensus/computeConsensus.test.ts
  packages/alignments-core/src/consensus/computeConsensus.ts
  packages/alignments-core/src/consensus/consensusVariants.test.ts
  packages/alignments-core/src/consensus/consensusVariants.ts
  plugins/alignments/src/RenderAlignmentDataRPC/GetConsensusSequence.ts
  plugins/alignments/src/RenderAlignmentDataRPC/consensusGolden.test.ts
  plugins/alignments/src/RenderAlignmentDataRPC/consensusGoldenCram.test.ts
  plugins/alignments/src/consensus/ConsensusSequenceDialog.tsx
Due: prettier --write, eslint --fix

fix(alignments): commit consensus fraction sliders on release, not on drag
  plugins/alignments/src/consensus/ConsensusSequenceDialog.tsx
  plugins/alignments/src/consensus/FractionSlider.tsx
Due: prettier --write, eslint --fix

test(alignments): pin consensus base/gap ambiguity against real samtools
  plugins/alignments/src/RenderAlignmentDataRPC/consensusGolden.test.ts
Due: prettier --write, eslint --fix

docs(alignments): attribute samtools for the consensus port, record cross-checks
  packages/alignments-core/src/consensus/computeConsensus.ts
  plugins/alignments/src/RenderAlignmentDataRPC/consensusGolden.test.ts
Due: prettier --write, eslint --fix

ci: allowlist "abl" for the science.abl3533 article id
  _typos.toml
Due: none

docs(user_guide): add a consensus sequence guide
  website/docs/user_guide.md
  website/docs/user_guides/alignments_track.md
  website/docs/user_guides/consensus_sequence.md
Due: prettier --write

feat(alignments): note what consensus variants are not
  plugins/alignments/src/consensus/ConsensusSequenceDialog.tsx
Due: prettier --write, eslint --fix

fix(ci): repair the three deterministic main failures
  scripts/build_ecoli_pangenome_cactus.sh
  website/docs/tutorials/genomes_synteny.md
  website/src/layouts/BaseLayout.astro
Due: prettier --write

fix(ci): reword landmark column comment that tripped spell check
  scripts/build_ecoli_pangenome_cactus.sh
Due: none

test(jbrowse-web): update 8 stale alignments image snapshots
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-cloud-mode-draws-flat-tlen-lines-over-coverage-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-long-read-arc-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-long-read-arc-display-full-view-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-long-read-arc-display-out-of-view-pairing-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-short-read-arc-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-linked-test-tsx-short-read-linked-reads-display-bezier-connections-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-soft-clip-test-tsx-opens-the-track-menu-and-enables-soft-clipping-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-tsx-test-snpcoverage-doesnt-count-snpcoverage-1-snap.png
Due: none

docs(agent-docs): tighten ARCHITECTURE.md prose and fix cross-refs
  agent-docs/ARCHITECTURE.md
Due: prettier --write

docs(gallery): name cards by feature, add pair-orientation card
  website/src/lib/gallery.ts
Due: prettier --write, eslint --fix

feat(session): admin default for workspaces layout via configuration.preferences
  packages/app-core/src/SessionSpec/loadSessionSpec.ts
  packages/app-core/src/ui/App/ViewMenu.tsx
  packages/app-core/src/ui/App/ViewsContainer.tsx
  packages/app-core/src/ui/App/types.ts
  packages/product-core/src/RootModel/PreferencesConfig.ts
  packages/product-core/src/RootModel/menuItems.test.ts
  packages/product-core/src/RootModel/menuItems.ts
  packages/product-core/src/Session/MultipleViews.ts
  packages/product-core/src/ui/PreferencesDialog.tsx
  products/jbrowse-web/src/tests/useWorkspacesDefault.test.ts
  website/docs/config/PreferencesConfigSchema.md
  website/docs/models/BaseWebSessionModel.md
  website/docs/models/JBrowseDesktopSessionModel.md
  website/docs/models/JBrowseWebSessionModel.md
  website/docs/models/MultipleViewsSessionMixin.md
Due: prettier --write, eslint --fix

fix(jbrowse-web): harden the plugin-install pluginManager rebuild
  packages/core/src/util/analytics.ts
  products/jbrowse-web/src/SessionLoader.ts
  products/jbrowse-web/src/components/disposeLoader.test.ts
  products/jbrowse-web/src/components/disposeLoader.ts
  products/jbrowse-web/src/components/useLoaderLifecycle.ts
  products/jbrowse-web/src/rootModel/persistence.ts
Due: prettier --write, eslint --fix

fix(jbrowse-web): give the loader error screen a way out
  products/jbrowse-web/src/components/LoaderErrorBanner.test.tsx
  products/jbrowse-web/src/components/LoaderErrorBanner.tsx
Due: prettier --write, eslint --fix

refactor(session): collapse the workspaces setters to one
  packages/app-core/src/SessionSpec/loadSessionSpec.ts
  packages/product-core/src/RootModel/PreferencesConfig.ts
  packages/product-core/src/RootModel/menuItems.test.ts
  packages/product-core/src/RootModel/menuItems.ts
  packages/product-core/src/Session/MultipleViews.ts
  packages/product-core/src/ui/PreferencesDialog.tsx
  products/jbrowse-web/src/tests/useWorkspacesDefault.test.ts
  website/docs/config/PreferencesConfigSchema.md
  website/docs/models/BaseWebSessionModel.md
  website/docs/models/JBrowseDesktopSessionModel.md
  website/docs/models/JBrowseWebSessionModel.md
  website/docs/models/MultipleViewsSessionMixin.md
Due: prettier --write, eslint --fix

docs(popgen): fix hosted-asset drift, add per-sample inversion figure
  scripts/build_dgrp_popgen.sh
  website/docs/tutorials/linkage_disequilibrium.md
  website/docs/tutorials/population_genomics.md
  website/docs/user_guide.md
  website/scripts/figure-manifest.json
  website/scripts/specs/ld.ts
  website/scripts/specs/popgen.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/popgen/in2lt_per_sample.png
Due: prettier --write, eslint --fix

Updates
  website/docs/models/SessionLoader.md
Due: prettier --write

docs(autogen): add #internal to hide app-internal state models
  docs/README.md
  docs/generateStateModelDocs.ts
  docs/util.ts
  plugins/data-management/src/FacetedSelector/facetedModel.ts
  plugins/jobs-management/src/JobsListWidget/jobModel.ts
  plugins/jobs-management/src/JobsListWidget/model.ts
  plugins/spreadsheet-view/src/SpreadsheetView/ImportWizard.ts
  plugins/spreadsheet-view/src/SpreadsheetView/SpreadsheetModel.tsx
  products/jbrowse-desktop/src/indexJobsModel.ts
  products/jbrowse-react-circular-genome-view/src/createModel/createModel.ts
  products/jbrowse-web/src/SessionLoader.ts
  products/jbrowse-web/src/jbrowseModel.ts
  website/docs/models/AppSessionMixin.md
  website/docs/models/BaseWebSessionModel.md
  website/docs/models/FacetedModel.md
  website/docs/models/JBrowseReactCircularGenomeViewRootModel.md
  website/docs/models/JBrowseReactLinearGenomeViewRootModel.md
  website/docs/models/JBrowseWebConfigModel.md
  website/docs/models/Job.md
  website/docs/models/JobsListModel.md
  website/docs/models/JobsManager.md
  website/docs/models/SessionLoader.md
  website/docs/models/SpreadsheetImportWizard.md
  website/docs/models/SpreadsheetViewSpreadsheet.md
  website/docs/models/WebSessionManagementMixin.md
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
