Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(app-core): make the tab strip and the splitter operable from a keyboard
  packages/app-core/src/WorkspaceLayout/LayoutRenderer.test.tsx
  packages/app-core/src/WorkspaceLayout/LayoutRenderer.tsx
  packages/app-core/src/WorkspaceLayout/PanelView.tsx
Due: prettier --write, eslint --fix

fix(app-core): an unsized panel beside a sized one is the remainder, not a weight
  .claude/skills/jbrowse-authoring/references/session-spec.md
  packages/app-core/src/WorkspaceLayout/spec.test.ts
  packages/app-core/src/WorkspaceLayout/spec.ts
  website/docs/urlparams.md
Due: prettier --write, eslint --fix

feat(app-core): drag a tab within its strip to reorder it
  packages/app-core/src/WorkspaceLayout/LayoutRenderer.tsx
  packages/app-core/src/WorkspaceLayout/PanelView.tsx
  packages/app-core/src/WorkspaceLayout/dragIntegration.test.tsx
  packages/app-core/src/WorkspaceLayout/dropZone.test.ts
  packages/app-core/src/WorkspaceLayout/dropZone.ts
  packages/app-core/src/WorkspaceLayout/tree.test.ts
  packages/app-core/src/WorkspaceLayout/tree.ts
  packages/app-core/src/WorkspaceLayout/useLayoutDrag.ts
Due: prettier --write, eslint --fix

feat(app-core): Escape cancels a tab drag, middle-click closes a tab
  global.d.ts
  packages/app-core/CLAUDE.md
  packages/app-core/src/WorkspaceLayout/LayoutRenderer.tsx
  packages/app-core/src/WorkspaceLayout/PanelView.tsx
  packages/app-core/src/WorkspaceLayout/WorkspaceContainer.tsx
  packages/app-core/src/WorkspaceLayout/WorkspacePanelActions.tsx
  packages/app-core/src/WorkspaceLayout/WorkspaceTab.test.ts
  packages/app-core/src/WorkspaceLayout/WorkspaceTab.tsx
  packages/app-core/src/WorkspaceLayout/dragIntegration.test.tsx
  packages/app-core/src/WorkspaceLayout/useLayoutDrag.ts
  packages/app-core/src/ui/App/types.ts
  packages/product-core/src/RootModel/PreferencesConfig.ts
  scripts/flattenCss.ts
  website/docs/config/PreferencesConfigSchema.md
Due: prettier --write, eslint --fix

docs(autogen): from a regen — the webgl pin, and more union member order
  packages/wiggle-core/README.md
  website/docs/api/wiggle-core.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

refactor(screenshots): the jb2export specs are a spec module, not a helper
  website/scripts/screenshot-impact.ts
  website/scripts/screenshot-spec-helpers.ts
  website/scripts/screenshot-specs.ts
  website/scripts/specs/jbrowse-img.ts
  website/scripts/sync-img-readme.ts
Due: prettier --write, eslint --fix

docs(urlparams): state what `size` does, without the paragraph about what it did
  .claude/skills/jbrowse-authoring/references/session-spec.md
  website/docs/urlparams.md
Due: prettier --write

refactor(screenshots): a dataset used by one spec module lives in it
  website/scripts/screenshot-spec-helpers.ts
  website/scripts/specs/alignments.ts
  website/scripts/specs/bigwig.ts
  website/scripts/specs/features.ts
  website/scripts/specs/maf.ts
  website/scripts/specs/sv.ts
  website/scripts/specs/synteny.ts
  website/scripts/specs/trio.ts
Due: prettier --write, eslint --fix

fix(screenshots): a scroll that finds nothing to scroll now fails
  website/scripts/actions.ts
  website/scripts/check-specs.ts
  website/scripts/generate-screenshots.ts
  website/scripts/screenshot-spec-rules.ts
  website/scripts/screenshot-specs.ts
  website/scripts/screenshotSpecs.test.ts
Due: prettier --write, eslint --fix

feat(ui): dotplot and synteny get the Canvas2D escape too
  packages/core/package.json
  packages/core/src/ui/ErrorBanner.tsx
  packages/core/src/ui/GpuFallbackButton.tsx
  packages/core/src/ui/gpuFallback.test.tsx
  packages/core/src/ui/gpuFallback.ts
  packages/core/src/ui/index.ts
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/LevelSyntenyCanvas.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayRenderErrorOverlay.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/plainChromeOverlays.tsx
  scripts/chromeBundleSizes.json
  website/scripts/screenshot-spec-helpers.ts
  website/scripts/snapshot.ts
Due: prettier --write, eslint --fix

docs(todo): the graph.ts split, with the seam already measured
  agent-docs/TODO.md
Due: prettier --write

test(svg-export): drop two orphaned MAF export goldens
  products/jbrowse-web/src/tests/__image_snapshots__/maf_rasterized_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/maf_vector_snapshot.svg
Due: none

docs(svg-export): sync the snippet to its source
  website/docs/developer_guides/svg_export.md
Due: prettier --write

fix(core): the scroll-zoom prompt can no longer get stuck open
  packages/core/src/ui/ScrollZoomHint.tsx
  packages/core/src/util/usePanZoom.ts
  packages/core/src/util/useScrollZoomHint.test.tsx
Due: prettier --write, eslint --fix

fix(gallery): stop forcing website visitors onto WebGL
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

refactor(pluralize): take an irregular plural, so callers stop hand-rolling one
  packages/core/src/util/stringUtils.ts
  plugins/data-management/src/BulkAddTracksWorkflow/LocationInput.tsx
  plugins/data-management/src/BulkAddTracksWorkflow/PreviewMessages.tsx
  plugins/data-management/src/BulkAddTracksWorkflow/SubmitTracksButton.tsx
Due: prettier --write, eslint --fix

fix(bulk-add-tracks): an index that lost a slot was reported as having no data file
  plugins/data-management/src/BulkAddTracksWorkflow/buildConfigs.test.tsx
  plugins/data-management/src/BulkAddTracksWorkflow/pairLocations.test.ts
  plugins/data-management/src/BulkAddTracksWorkflow/pairLocations.ts
  plugins/data-management/src/BulkAddTracksWorkflow/preview.test.tsx
  plugins/data-management/src/BulkAddTracksWorkflow/preview.ts
Due: prettier --write, eslint --fix

fix(bulk-add-tracks): don't dismiss the widget when nothing was added
  plugins/data-management/src/BulkAddTracksWorkflow/useBulkLocations.ts
  plugins/data-management/src/BulkAddTracksWorkflow/useCustomNames.ts
  plugins/data-management/src/BulkAddTracksWorkflow/util.ts
Due: prettier --write, eslint --fix

refactor(core): one exit path for the scroll-zoom prompt
  packages/core/src/ui/ScrollZoomHint.tsx
  packages/core/src/util/usePanZoom.ts
  packages/core/src/util/useScrollZoomHint.test.tsx
Due: prettier --write, eslint --fix

docs(linear-synteny-view): row sync, and which coupling to want
  website/docs/user_guides/linear_synteny_view.md
Due: prettier --write

docs(creating-connection): where description and url actually render
  website/docs/developer_guides/creating_connection.md
Due: prettier --write

test(browser): the inflate-pool multiplication does not cost latency
  agent-docs/TODO.md
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  agent-docs/reference/BAM_STACK_INTEGRATION.md
  products/jbrowse-web/browser-tests/pool-oversub-probe.ts
Due: prettier --write, eslint --fix

docs(handoff): the BAM vertical-integration thread, as pointers
  agent-docs/handoffs/bam-stack-optimization.md
Due: prettier --write

fix(canvas): HGVS exons came from what the glyph drew, so two display slots moved the coordinate
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/transcriptCoords.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/transcriptCoords.ts
Due: prettier --write, eslint --fix

refactor(canvas): one entry point for a transcript position, so the tooltip and the menu label can't disagree
  plugins/canvas/src/LinearBasicDisplay/components/hoverReadout.ts
  plugins/canvas/src/LinearBasicDisplay/hgvsPosition.test.ts
  plugins/canvas/src/LinearBasicDisplay/transcriptPosition.test.ts
  plugins/canvas/src/LinearBasicDisplay/transcriptPosition.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/transcriptCoords.ts
  plugins/canvas/src/RenderFeatureDataRPC/rpcTypes.ts
Due: prettier --write, eslint --fix

fix(canvas): a coding transcript that can't be numbered said n., which claims it doesn't code
  plugins/canvas/src/LinearBasicDisplay/transcriptPosition.test.ts
  plugins/canvas/src/LinearBasicDisplay/transcriptPosition.ts
Due: prettier --write, eslint --fix

fix(app-core): a contributed sub-menu is not a place to write contributions
  packages/app-core/src/menus.test.ts
  packages/app-core/src/menus.ts
Due: prettier --write, eslint --fix

fix(screenshots): pin the renderer where the corpus actually navigates
  agent-docs/reference/GPU_CONTEXT_BUDGET.md
  website/scripts/screenshot-embedded.ts
  website/scripts/screenshot-ready.ts
  website/scripts/screenshot-spec-helpers.ts
  website/scripts/snapshot.ts
Due: prettier --write, eslint --fix

fix(autogen): --check no longer leaves the tree modified
  scripts/autogen.ts
Due: prettier --write, eslint --fix

feat(verify): one command for the CI gates nothing local runs
  package.json
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/Attributes.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithLocalFiles.tsx
  scripts/derivative_path_study.ts
  scripts/verify.ts
  website/scripts/check-tldr.ts
Due: prettier --write, eslint --fix

fix(app-core): overflowing tabs were reachable by every input except the mouse
  packages/app-core/CLAUDE.md
  packages/app-core/src/WorkspaceLayout/LayoutRenderer.test.tsx
  packages/app-core/src/WorkspaceLayout/PanelView.tsx
Due: prettier --write, eslint --fix

feat(connections): description and url are optional too
  packages/core/src/pluggableElementTypes/ConnectionType.ts
  plugins/data-management/src/AddConnectionWidget/components/ConnectionTypeSelect.tsx
  website/docs/developer_guides/creating_connection.md
Due: prettier --write, eslint --fix

fix(byo-examples): the ultraminimal page drew JBrowse's y-axis in the light palette
  products/jbrowse-build-your-own/examples-site/src/docs/a-stack-of-tracks.md
  products/jbrowse-build-your-own/examples-site/src/docs/one-track.md
  products/jbrowse-build-your-own/examples-site/src/examples/OneTrack.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/PanAndZoom.tsx
Due: prettier --write, eslint --fix

docs(byo-examples): three claims that contradicted the source printed under them
  products/jbrowse-build-your-own/examples-site/src/docs/color-by-from-your-own-ui.md
  products/jbrowse-build-your-own/examples-site/src/docs/drive-it-from-your-app.md
  products/jbrowse-build-your-own/examples-site/src/pages/index.astro
Due: prettier --write

fix(canvas): morphOffsetFor threw when destructured, killing every overlay box
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/morphOverlayOffset.test.ts
Due: prettier --write, eslint --fix

feat(alignments): a config slot for the CRAM slice worker pool
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/CramAdapter/configSchema.ts
Due: prettier --write, eslint --fix

deps: @gmod/bgzf-filehandle 6.6.0, whose pool now gives its workers back
  agent-docs/TODO.md
  agent-docs/handoffs/bam-stack-optimization.md
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  agent-docs/reference/BAM_STACK_INTEGRATION.md
  agent-docs/reference/BGZF_WORKER_POOL.md
  packages/core/package.json
  plugins/alignments/package.json
  plugins/maf/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(canvas): the container test guarding the transcript descent cannot change its answer
  plugins/canvas/src/RenderFeatureDataRPC/peptides/peptideUtils.ts
Due: prettier --write, eslint --fix

fix(canvas): a repeated CDS row drew its codons twice
  plugins/canvas/src/RenderFeatureDataRPC/collect/glyphEmitters.ts
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
