Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: remove scratch notes from repo root
  collapse-introns-repro-url.txt
  next_steps.md
Due: prettier --write

Bump astro
  pnpm-lock.yaml
  products/jbrowse-react-app/examples-site/package.json
  products/jbrowse-react-circular-genome-view/examples-site/package.json
  products/jbrowse-react-linear-genome-view/examples-site/package.json
  website/package.json
Due: none

fix(lgv-examples): point smoke workerSlug at the plugins page
  products/jbrowse-react-linear-genome-view/examples-site/scripts/smoke.mjs
Due: none

refactor(examples-site): replace page-lookup ! with a throwing getPage helper
  products/examples-site-shared/exampleModel.ts
  products/jbrowse-react-linear-genome-view/examples-site/src/examples.ts
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/alignments-tracks.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/default-session.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/export-and-errors.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/feature-colors-and-labels.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/flipping-regions.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/human-exome-example.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/locus-zoom-ld.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/multiple-views.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/navigate-to-location.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/nextstrain-msa.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/nextstrain-pathogens.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/pan-ukb-gwas.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/plugins.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/session-setup.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/setting-up-the-view.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/specialized-track-types.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/text-searching.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/theming.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/track-sizing.astro
Due: prettier --write, eslint --fix

feat(examples-site): group the sidebar and add the gallery to the LGV index
  products/examples-site-shared/Shell.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/examples.ts
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/index.astro
Due: prettier --write, eslint --fix

docs(lgv-examples): explain hg38 refNameAliases/chromSizes/csi in with-init
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/with-init.md
Due: prettier --write

fix(jbrowse-img): scope --hub error hint, correct host to jbrowse.org
  products/jbrowse-img/README.md
  products/jbrowse-img/src/list.test.ts
  products/jbrowse-img/src/list.ts
  products/jbrowse-img/src/options.ts
  products/jbrowse-img/src/resolveHub.ts
  products/jbrowse-img/src/types.ts
  website/docs/jbrowse-img.md
Due: prettier --write, eslint --fix

refactor(alignments): use getOrCreate for map-of-lists in feature compute
  plugins/alignments/src/features/arcs/compute.ts
  plugins/alignments/src/features/linkedReads/compute.ts
  plugins/alignments/src/features/read/buildSegments.ts
Due: prettier --write, eslint --fix

refactor(config): narrow getConf(self) on the LD shared base
  packages/core/src/configuration/CLAUDE.md
  plugins/variants/src/LDDisplay/SharedLDConfigSchema.ts
  plugins/variants/src/LDDisplay/shared.ts
Due: prettier --write, eslint --fix

docs(alignments): correct frequencyFade base description for gap deletions
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/rendererTypes.ts
Due: prettier --write, eslint --fix

docs(react-app): simplify examples-site — assembly shorthand + fewer pages
  products/jbrowse-react-app/examples-site/src/docs/basic-example.md
  products/jbrowse-react-app/examples-site/src/docs/breakpoint-split-example.md
  products/jbrowse-react-app/examples-site/src/docs/circular-example.md
  products/jbrowse-react-app/examples-site/src/docs/create-app-synteny.md
  products/jbrowse-react-app/examples-site/src/docs/dotplot-example.md
  products/jbrowse-react-app/examples-site/src/docs/multi-view-session.md
  products/jbrowse-react-app/examples-site/src/docs/spreadsheet-example.md
  products/jbrowse-react-app/examples-site/src/docs/sv-inspector-example.md
  products/jbrowse-react-app/examples-site/src/docs/with-launch-linear-genome-view.md
  products/jbrowse-react-app/examples-site/src/examples.ts
  products/jbrowse-react-app/examples-site/src/examples/AddTracksProgrammatically.tsx
  products/jbrowse-react-app/examples-site/src/examples/BasicExample.tsx
  products/jbrowse-react-app/examples-site/src/examples/BreakpointSplitExample.tsx
  products/jbrowse-react-app/examples-site/src/examples/CircularExample.tsx
  products/jbrowse-react-app/examples-site/src/examples/CreateAppSynteny.tsx
  products/jbrowse-react-app/examples-site/src/examples/DarkTheme.tsx
  products/jbrowse-react-app/examples-site/src/examples/DotplotExample.tsx
  products/jbrowse-react-app/examples-site/src/examples/EmbeddedPlugin.tsx
  products/jbrowse-react-app/examples-site/src/examples/HumanDemo.tsx
  products/jbrowse-react-app/examples-site/src/examples/MultiViewSession.tsx
  products/jbrowse-react-app/examples-site/src/examples/SpreadsheetExample.tsx
  products/jbrowse-react-app/examples-site/src/examples/SvInspectorExample.tsx
  products/jbrowse-react-app/examples-site/src/examples/SyntenyExample.tsx
  products/jbrowse-react-app/examples-site/src/examples/WithLaunchLinearGenomeView.tsx
  products/jbrowse-react-app/examples-site/src/examples/WithOnChange.tsx
  products/jbrowse-react-app/examples-site/src/pages/breakpoint-split-example.astro
  products/jbrowse-react-app/examples-site/src/pages/circular-example.astro
  products/jbrowse-react-app/examples-site/src/pages/comparative-views.astro
  products/jbrowse-react-app/examples-site/src/pages/dotplot-example.astro
  products/jbrowse-react-app/examples-site/src/pages/index.astro
  products/jbrowse-react-app/examples-site/src/pages/loading-config.astro
  products/jbrowse-react-app/examples-site/src/pages/multi-view-session.astro
  products/jbrowse-react-app/examples-site/src/pages/spreadsheet-example.astro
  products/jbrowse-react-app/examples-site/src/pages/structural-variant-views.astro
  products/jbrowse-react-app/examples-site/src/pages/sv-inspector-example.astro
  products/jbrowse-react-app/examples-site/src/pages/with-launch-linear-genome-view.astro
  products/jbrowse-react-app/examples-site/src/volvoxConfig.ts
Due: prettier --write, eslint --fix

docs(jbrowse-img): keep hub-hosting references at genomes.jbrowse.org
  products/jbrowse-img/README.md
  products/jbrowse-img/src/list.test.ts
  products/jbrowse-img/src/list.ts
  products/jbrowse-img/src/options.ts
  products/jbrowse-img/src/resolveHub.ts
  products/jbrowse-img/src/types.ts
  website/docs/jbrowse-img.md
Due: prettier --write, eslint --fix

docs(cgv-examples): add install + usage getting-started to the index
  products/jbrowse-react-circular-genome-view/examples-site/src/pages/index.astro
Due: none

docs(react-app): link tutorials from examples-site + validate them
  packages/browser-test-utils/src/docLinks.ts
  products/jbrowse-react-app/examples-site/src/docs/breakpoint-split-example.md
  products/jbrowse-react-app/examples-site/src/docs/multiway-synteny-example.md
  products/jbrowse-react-app/examples-site/src/docs/synteny-example.md
  products/jbrowse-react-app/examples-site/src/docs/with-launch-linear-genome-view.md
Due: prettier --write, eslint --fix

refactor(extension-points): type guessers, surface launch errors, fix doc gaps
  packages/app-core/src/SessionSpec/loadSessionSpec.test.ts
  packages/app-core/src/SessionSpec/loadSessionSpec.ts
  packages/core/src/PluginManager.ts
  packages/core/src/assemblyManager/expandAssemblyConfigShorthand.ts
  packages/core/src/util/tracks.ts
  packages/product-core/src/ui/util.ts
  plugins/alignments/src/GuessAlignmentsTypes/index.ts
  plugins/bed/src/GuessAdapter/index.ts
  plugins/comparative-adapters/src/GuessAdapter/index.ts
  plugins/gff3/src/GuessGff3/index.ts
  plugins/gtf/src/GuessAdapter/index.ts
  plugins/gwas/src/GuessAdapter/index.ts
  plugins/hic/src/GuessAdapter/index.ts
  plugins/legacy-jbrowse/src/GuessNCList/index.ts
  plugins/rdf/src/index.ts
  plugins/sequence/src/createExtensionPoints.ts
  plugins/variants/src/VcfExtensionPoints/index.ts
  plugins/wiggle/src/GuessAdapter/index.ts
  website/docs/developer_guides/extension_points.md
Due: prettier --write, eslint --fix

docs(cgv-examples): describe embedded-components page accurately, add embedding tutorial link
  products/jbrowse-react-circular-genome-view/examples-site/src/pages/index.astro
Due: none

docs(lgv-examples): link tutorials + state-model refs; fix embedded-components page description
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/alignments-track-options.md
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/disable-add-track.md
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/locus-zoom-ld.md
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/use-create-view-state.md
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/with-init.md
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/with-internet-accounts.md
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/with-multi-sample-variant-display.md
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/index.astro
Due: prettier --write

fix(grid-bookmark): type-safe bookmark nav, narrow-band chip guard, dead code
  plugins/grid-bookmark/src/GridBookmarkWidget/components/Highlight/Highlight.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/HighlightGrid.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/model.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/utils.ts
Due: prettier --write, eslint --fix

refactor(config): fold promotable-slot resolution into getConf, drop getConfResolved
  agent-docs/README.md
  agent-docs/reference/CONFIG_PATTERN.md
  agent-docs/reference/DISPLAY_TYPE_DEFAULTS.md
  agent-docs/reference/RFC-001-community-plugin-api.md
  packages/core/README.md
  packages/core/src/configuration/CLAUDE.md
  packages/core/src/configuration/configTypeNarrowing.test.ts
  packages/core/src/configuration/configurationSlot.ts
  packages/core/src/configuration/getConf.ts
  packages/core/src/configuration/index.ts
  packages/core/src/configuration/promotableDefaults.test.ts
  packages/core/src/configuration/promotableDefaults.ts
  packages/core/src/configuration/promotableResolve.ts
  packages/core/src/configuration/types.ts
  packages/core/src/configuration/util.ts
  plugins/alignments/src/LinearAlignmentsDisplay/configSchema.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/showSoftClipping.test.ts
  plugins/arc/src/LinearPairedArcDisplay/model.ts
  plugins/canvas/src/LinearBasicDisplay/baseConfigSchema.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/model.ts
  plugins/canvas/src/LinearBasicDisplay/testEnv.ts
  plugins/canvas/src/RenderFeatureDataRPC/renderConfig.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/HeightModeMixin.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/heightMode.ts
  plugins/wiggle/src/shared/WiggleScoreConfigMixin.ts
  plugins/wiggle/src/shared/wiggleSizeSlots.test.ts
  products/jbrowse-web/src/tests/ShareablePromotedDefaults.test.ts
  website/docs/api/core-configuration.md
  website/docs/models/HeightModeMixin.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
Due: prettier --write, eslint --fix

Clarify other-ideas
  agent-docs/OTHER_IDEAS.md
Due: prettier --write

Format
  packages/core/src/configuration/CLAUDE.md
  packages/core/src/configuration/promotableDefaults.test.ts
  packages/core/src/configuration/promotableDefaults.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/bed/src/GuessAdapter/index.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/utils.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/HeightModeMixin.ts
  plugins/wiggle/src/GuessAdapter/index.ts
  plugins/wiggle/src/shared/wiggleSizeSlots.test.ts
  products/jbrowse-react-app/examples-site/src/docs/basic-example.md
  products/jbrowse-react-app/examples-site/src/docs/multi-view-session.md
  products/jbrowse-react-app/examples-site/src/docs/spreadsheet-example.md
  products/jbrowse-react-app/examples-site/src/docs/with-launch-linear-genome-view.md
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/with-init.md
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/with-multi-sample-variant-display.md
  website/docs/developer_guides/extension_points.md
  website/docs/models/GridBookmarkWidgetModel.md
  website/docs/models/SharedLDModel.md
Due: prettier --write, eslint --fix

docs(tutorials): dedup embed config, condense cgiab, strip prose em-dash/semicolon
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/analyze_trio.md
  website/docs/tutorials/bisulfite.md
  website/docs/tutorials/bxd_qtl.md
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/cli_desktop.md
  website/docs/tutorials/display_settings.md
  website/docs/tutorials/embed_linear_genome_view.md
  website/docs/tutorials/linkage_disequilibrium.md
  website/docs/tutorials/methylation.md
  website/docs/tutorials/multiway_synteny.md
  website/docs/tutorials/pangenome.md
  website/docs/tutorials/population_genomics.md
  website/docs/tutorials/readpair_heatmap.md
  website/docs/tutorials/rnaseq.md
  website/docs/tutorials/scatac_pseudobulk.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/docs/tutorials/synteny_visualization.md
Due: prettier --write

docs(pangenome): descriptive projection headings instead of ordinals
  website/docs/tutorials/pangenome.md
Due: prettier --write

docs(pangenome): add figure to the all-vs-all synteny projection section
  website/docs/tutorials/pangenome.md
Due: prettier --write

docs(popgen): tighten Cyp6g1 sweep figure to ~400kb so the dip reads
  website/docs/tutorials/population_genomics.md
  website/scripts/specs/popgen.ts
  website/static/img/popgen/tajimad_cyp6g1.png
Due: prettier --write, eslint --fix

docs(scatac): frame the genome-browser role for single cell, add ALB example
  website/docs/tutorials/scatac_pseudobulk.md
  website/scripts/screenshot-specs.ts
  website/scripts/specs/scatac.ts
  website/static/img/scatac/alb_hepatocyte.png
Due: prettier --write, eslint --fix

docs(cgiab): add subclonal CNV recipe from single-cell-derived clones
  website/docs/tutorials/sv_visualization_cgiab.md
Due: prettier --write

fix(config): add maybeColor to promotable matchesSlotShape shape guard
  packages/core/src/configuration/promotableDefaults.test.ts
  packages/core/src/configuration/promotableResolve.ts
Due: prettier --write, eslint --fix

fix(desktop): harden macOS notarization, auto-update ZIP, and menus
  products/jbrowse-desktop/README.md
  products/jbrowse-desktop/electron/window.ts
  products/jbrowse-desktop/entitlements.txt
  products/jbrowse-desktop/scripts/packaging/mac.ts
  products/jbrowse-desktop/scripts/packaging/signing.ts
Due: prettier --write, eslint --fix

docs(config): correct stale ConfigurationReference cast comment
  packages/core/src/configuration/configurationSchema.ts
Due: prettier --write, eslint --fix

fix(desktop): make Windows installer per-user and updater-aware
  products/jbrowse-desktop/README.md
  products/jbrowse-desktop/scripts/packaging/windows.ts
Due: prettier --write, eslint --fix

docs(desktop): fix incorrect session-open menu labels
  website/docs/quickstart_desktop.md
  website/docs/tutorials/cli_desktop.md
Due: prettier --write

docs(scripts): point reproduce-script output at JBrowse Desktop too
  scripts/build_arabidopsis_wgbs.sh
  scripts/build_chromhmm_multirow.sh
  scripts/build_dgrp_popgen.sh
  scripts/build_ecoli_pangenome_graph.sh
  scripts/build_ecoli_pangenome_synteny.sh
  scripts/build_grape_peach_cacao_synteny.sh
  scripts/build_hpylori_synteny.sh
  scripts/build_khv_trio_hapibd.sh
  scripts/build_quickstart_web.sh
  scripts/build_readpair_heatmap_cgiab.sh
  scripts/build_sv_visualization_cgiab.sh
Due: none

docs(cli_desktop): add Node install guidance + npx no-install note
  website/docs/tutorials/cli_desktop.md
Due: prettier --write

docs(cookbook): map every recipe to its jbrowse CLI invocation
  website/docs/cookbook.md
Due: prettier --write

docs(cookbook): slim CLI recipe table to a flag cheat-sheet
  website/docs/cookbook.md
Due: prettier --write

docs(cookbook): cross-reference @jbrowse/img for static export
  website/docs/cookbook.md
Due: prettier --write

Bump oxlint
  package.json
  pnpm-lock.yaml
Due: none

Fix lint
  plugins/bed/src/GuessAdapter/index.test.ts
Due: prettier --write, eslint --fix

fix(alignments): strand-aware clip in supplementary alignment split view
  plugins/alignments/src/AlignmentsFeatureDetail/AlignmentsFeatureDetail.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/LaunchSupplementaryAlignmentBreakpointSplitViewPanel.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/SupplementaryAlignmentsLocStrings.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/getSAFeatures.ts
  plugins/alignments/src/AlignmentsFeatureDetail/parseSupplementaryAlignment.test.ts
  plugins/alignments/src/AlignmentsFeatureDetail/parseSupplementaryAlignment.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
