Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Add jbrowse make-gfa-db CLI command for GFA→SQLite conversion
  package.json
  pnpm-lock.yaml
  products/jbrowse-cli/src/commands/make-gfa-db/gfa-to-sqlite.test.ts
  products/jbrowse-cli/src/commands/make-gfa-db/gfa-to-sqlite.ts
  products/jbrowse-cli/src/commands/make-gfa-db/index.ts
  products/jbrowse-cli/src/index.ts
  products/jbrowse-desktop/src/util.tsx
  products/jbrowse-img/src/setupEnv.ts
Due: prettier --write, eslint --fix

Update tracking docs for A1 progress, add vg/xg prior art notes
  PANGENOME_COMPLETED.md
  PANGENOME_NEXT_STEPS.md
  products/jbrowse-img/src/setupEnv.ts
Due: prettier --write, eslint --fix

Add auto-height, colorBy, and dialog-based menus to MultiLGVSyntenyDisplay
  plugins/linear-comparative-view/src/MultiLGVSyntenyDisplay/components/Component.tsx
  plugins/linear-comparative-view/src/MultiLGVSyntenyDisplay/components/LaunchPairwiseSyntenyDialog.tsx
  plugins/linear-comparative-view/src/MultiLGVSyntenyDisplay/components/MultiSyntenyRendering.tsx
  plugins/linear-comparative-view/src/MultiLGVSyntenyDisplay/configSchemaF.ts
  plugins/linear-comparative-view/src/MultiLGVSyntenyDisplay/model.ts
Due: prettier --write, eslint --fix

Add graph genome viewer plugin with WebGPU/WebGL2/Canvas2D backends
  GRAPH_NEXT_STEPS.md
  packages/core/src/Plugin.ts
  plugins/graph/package.json
  plugins/graph/src/GraphGenomeView/components/GraphCanvas.tsx
  plugins/graph/src/GraphGenomeView/components/GraphGenomeView.tsx
  plugins/graph/src/GraphGenomeView/components/ImportForm.tsx
  plugins/graph/src/GraphGenomeView/index.ts
  plugins/graph/src/GraphGenomeView/model.ts
  plugins/graph/src/gfa/gfaConverter.ts
  plugins/graph/src/gfa/gfaParser.ts
  plugins/graph/src/index.ts
  plugins/graph/src/renderer/Canvas2DRenderer.ts
  plugins/graph/src/renderer/GeometryBuilder.ts
  plugins/graph/src/renderer/GraphRenderer.ts
  plugins/graph/src/renderer/WebGL2Renderer.ts
  plugins/graph/src/renderer/WebGPURenderer.ts
  plugins/graph/src/renderer/types.ts
  plugins/graph/src/types.ts
  plugins/graph/src/util/geometry.ts
  plugins/graph/src/util/hitDetection.ts
  plugins/graph/tsconfig.build.esm.json
  pnpm-lock.yaml
  products/jbrowse-web/package.json
  products/jbrowse-web/src/corePlugins.ts
  test_data/config_graph_genome.json
  test_data/volvox/volvox_sample.gfa
Due: prettier --write, eslint --fix

Update GRAPH_NEXT_STEPS: vendor bandage-layout-js inline instead of npm
  GRAPH_NEXT_STEPS.md
Due: prettier --write

Convert to using color-bits
  packages/core/package.json
  packages/core/src/util/colorBits.test.ts
  packages/core/src/util/colorBits.ts
  packages/core/src/util/colord.test.ts
  packages/core/src/util/colord.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/alignmentComponentUtils.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/shaders/colors.ts
  plugins/alignments/src/shared/webglRpcUtils.ts
  plugins/canvas/src/RenderFeatureDataRPC/executeRenderFeatureData.ts
  plugins/data-management/src/AddConnectionWidget/components/AddConnectionWidget.tsx
  plugins/dotplot-view/src/DotplotDisplay/dotplotWebGLColors.ts
  plugins/dotplot-view/src/DotplotRenderer/drawDotplot.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/drawSyntenyUtils.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/executeSyntenyInstanceData.ts
  plugins/variants/src/shared/variantWebglUtils.ts
  plugins/wiggle/package.json
  plugins/wiggle/src/shared/getDensityColor.ts
  plugins/wiggle/src/shared/webglUtils.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Add next steps
  GRAPH_COMPLETED.md
  GRAPH_NEXT_STEPS.md
  PANGENOME_COMPLETED.md
  PANGENOME_NEXT_STEPS.md
  plugins/comparative-adapters/src/GfaAdapter/GfaAdapter.ts
  plugins/comparative-adapters/src/GfaTabixAdapter/GfaTabixAdapter.ts
  plugins/comparative-adapters/src/PairwiseIndexedPAFAdapter/PairwiseIndexedPAFAdapter.ts
  plugins/comparative-adapters/src/csUtils.test.ts
  plugins/comparative-adapters/src/csUtils.ts
  plugins/comparative-adapters/src/index.ts
  plugins/graph/src/GraphGenomeView/components/GraphCanvas.tsx
  plugins/graph/src/GraphGenomeView/model.ts
  plugins/graph/src/renderer/GraphRenderer.ts
  plugins/linear-comparative-view/src/MultiLGVSyntenyDisplay/components/Canvas2DMultiSyntenyRenderer.ts
  plugins/linear-comparative-view/src/MultiLGVSyntenyDisplay/components/MultiSyntenyRenderer.ts
  plugins/linear-comparative-view/src/MultiLGVSyntenyDisplay/components/MultiSyntenyRendering.tsx
  plugins/linear-comparative-view/src/MultiLGVSyntenyDisplay/components/multiSyntenyBackendTypes.ts
  plugins/linear-comparative-view/src/MultiLGVSyntenyDisplay/components/multiSyntenyColorUtils.ts
  products/jbrowse-cli/src/commands/make-pif/pif-generator.ts
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/graph-genome-canvas.png
  products/jbrowse-web/browser-tests/__snapshots__/gfa-pangenome-aln-cigar-canvas.png
  products/jbrowse-web/browser-tests/__snapshots__/gfa-pangenome-aln-fullpage.png
  products/jbrowse-web/browser-tests/__snapshots__/gfa-pangenome-runtime-cigar-canvas.png
  products/jbrowse-web/browser-tests/__snapshots__/graph-genome-canvas.png
  products/jbrowse-web/browser-tests/__snapshots__/graph-genome-example.png
  products/jbrowse-web/browser-tests/__snapshots__/hprc-chrM-44hap-multi-lgv-canvas.png
  products/jbrowse-web/browser-tests/__snapshots__/hprc-chrM-44hap-multi-lgv-fullpage.png
  products/jbrowse-web/browser-tests/suites/graph-genome.ts
  products/jbrowse-web/src/components/NoConfigMessage.tsx
  test_data/config_multi_lgv_synteny.json
  test_data/hprc/config_hprc_chr20.json
  test_data/volvox/volvox_del_cs.paf
  test_data/volvox/volvox_ins_cs.paf
  test_data/volvox/volvox_snp.fa
  test_data/volvox/volvox_snp.fa.fai
  test_data/volvox/volvox_snp.paf
  test_data/volvox/volvox_snp_cs.pif.gz
  test_data/volvox/volvox_snp_cs.pif.gz.tbi
Due: prettier --write, eslint --fix

Optimize graph genome renderer: sub-batches, shader thickness, viewport culling
  plugins/graph/src/GraphGenomeView/components/GraphCanvas.tsx
  plugins/graph/src/GraphGenomeView/model.ts
  plugins/graph/src/renderer/Canvas2DRenderer.ts
  plugins/graph/src/renderer/GeometryBuilder.test.ts
  plugins/graph/src/renderer/GeometryBuilder.ts
  plugins/graph/src/renderer/GraphRenderer.ts
  plugins/graph/src/renderer/WebGL2Renderer.ts
  plugins/graph/src/renderer/WebGPURenderer.ts
  plugins/graph/src/renderer/types.ts
  plugins/graph/src/util/SpatialIndex.ts
  plugins/graph/src/util/geometry.test.ts
  plugins/graph/src/util/geometry.ts
  plugins/graph/src/util/hitDetection.ts
Due: prettier --write, eslint --fix

Update completed/next-steps docs for graph renderer optimization
  GRAPH_COMPLETED.md
  GRAPH_NEXT_STEPS.md
Due: prettier --write

Add MultiSyntenyTrack track type for multi-pair synteny adapters
  plugins/comparative-adapters/src/GuessAdapter/index.ts
  plugins/linear-comparative-view/src/MultiLGVSyntenyDisplay/index.ts
  plugins/linear-comparative-view/src/MultiSyntenyTrack/configSchema.ts
  plugins/linear-comparative-view/src/MultiSyntenyTrack/index.ts
  plugins/linear-comparative-view/src/index.ts
  test_data/arabidopsis_synteny/config_chrM_pangenome.json
  test_data/config_gfa_pangenome.json
  test_data/config_graph_genome.json
  test_data/config_multi_lgv_synteny.json
  test_data/hprc/config_hprc_chr20.json
  test_data/hprc/config_hprc_chrM.json
Due: prettier --write, eslint --fix

Inline color-bits because of source map issues
  GRAPH_NEXT_STEPS.md
  PANGENOME_NEXT_STEPS.md
  PR_SUMMARY.md
  packages/core/package.json
  packages/core/src/util/color-bits/README.md
  packages/core/src/util/color-bits/bit.ts
  packages/core/src/util/color-bits/convert.ts
  packages/core/src/util/color-bits/core.ts
  packages/core/src/util/color-bits/format.ts
  packages/core/src/util/color-bits/functions.ts
  packages/core/src/util/color-bits/index.ts
  packages/core/src/util/color-bits/parse.ts
  packages/core/src/util/colorBits.ts
  packages/core/src/util/colord.ts
  plugins/comparative-adapters/src/PairwiseIndexedPAFAdapter/PairwiseIndexedPAFAdapter.ts
  plugins/linear-comparative-view/src/index.ts
  products/jbrowse-web/browser-tests/suites/multi-lgv-synteny.ts
  test_data/arabidopsis_synteny/config.json
Due: prettier --write, eslint --fix

Add debounce to hierarchical search
  packages/core/src/ui/SanitizedHTML.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/ClearableSearchField.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/HierarchicalHeader.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/HierarchicalTree.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/SharedTooltip.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackLabel.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/generateHierarchy.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/types.ts
Due: prettier --write, eslint --fix

Add jbrowse-plugin-rl-analytics for collecting RL training data
  plugins/rl-analytics/PLAN.txt
  plugins/rl-analytics/package.json
  plugins/rl-analytics/scripts/convert_to_gymnasium.py
  plugins/rl-analytics/src/ActionLogger/ActionBuffer.ts
  plugins/rl-analytics/src/ActionLogger/ActionClassifier.ts
  plugins/rl-analytics/src/ActionLogger/ActionTypes.ts
  plugins/rl-analytics/src/ActionLogger/PatchListener.ts
  plugins/rl-analytics/src/Export/ExportManager.ts
  plugins/rl-analytics/src/Export/JSONLExporter.ts
  plugins/rl-analytics/src/Export/WebhookExporter.ts
  plugins/rl-analytics/src/RLPipeline/EpisodeManager.ts
  plugins/rl-analytics/src/RLPipeline/RewardCalculator.ts
  plugins/rl-analytics/src/RLPipeline/StateEncoder.ts
  plugins/rl-analytics/src/RLPipeline/types.ts
  plugins/rl-analytics/src/ScavengerHunt/TaskValidator.ts
  plugins/rl-analytics/src/ScavengerHunt/components/AnswerInput.tsx
  plugins/rl-analytics/src/ScavengerHunt/components/CompletionScreen.tsx
  plugins/rl-analytics/src/ScavengerHunt/components/HintSystem.tsx
  plugins/rl-analytics/src/ScavengerHunt/components/ProgressBar.tsx
  plugins/rl-analytics/src/ScavengerHunt/components/ScavengerHuntWidget.tsx
  plugins/rl-analytics/src/ScavengerHunt/components/TaskCard.tsx
  plugins/rl-analytics/src/ScavengerHunt/model.ts
  plugins/rl-analytics/src/ScavengerHunt/tasks/sampleTasks.json
  plugins/rl-analytics/src/ScavengerHunt/tasks/taskSchema.ts
  plugins/rl-analytics/src/config.ts
  plugins/rl-analytics/src/index.ts
  plugins/rl-analytics/test/ActionClassifier.test.ts
  plugins/rl-analytics/test/EpisodeManager.test.ts
  plugins/rl-analytics/test/RewardCalculator.test.ts
  plugins/rl-analytics/test/TaskValidator.test.ts
  plugins/rl-analytics/tsconfig.build.esm.json
Due: prettier --write, eslint --fix

Wire rl-analytics into jbrowse-web and fix integration issues
  plugins/rl-analytics/src/ActionLogger/PatchListener.ts
  plugins/rl-analytics/src/RLPipeline/StateEncoder.ts
  plugins/rl-analytics/src/index.ts
  pnpm-lock.yaml
  products/jbrowse-web/package.json
  products/jbrowse-web/src/corePlugins.ts
Due: prettier --write, eslint --fix

Add end-to-end integration test for RL analytics pipeline
  plugins/rl-analytics/src/index.ts
  products/jbrowse-web/src/tests/RLAnalytics.test.tsx
  test_data/volvox/scavenger_tasks_volvox.json
Due: prettier --write, eslint --fix

Add UMD build, parasitic config, webhook receiver, and config generator
  plugins/rl-analytics/dist/jbrowse-plugin-rl-analytics.umd.js
  plugins/rl-analytics/scripts/build_umd.mjs
  plugins/rl-analytics/scripts/build_umd.sh
  plugins/rl-analytics/scripts/generate_parasitic_config.mjs
  plugins/rl-analytics/scripts/webhook_receiver.mjs
  test_data/volvox/config_with_rl_analytics.json
  test_data/volvox/jbrowse-plugin-rl-analytics.umd.js
Due: none

Fix UMD bundle: multi-line imports, 'as' destructuring, default export
  plugins/rl-analytics/dist/jbrowse-plugin-rl-analytics.umd.js
  plugins/rl-analytics/scripts/build_umd.sh
  test_data/volvox/jbrowse-plugin-rl-analytics.umd.js
Due: none

Fix parasitic config to use umdLoc for relative URI resolution
  test_data/volvox/config_with_rl_analytics.json
Due: none

Fix debouncing, task validation, and MST action errors
  plugins/rl-analytics/dist/jbrowse-plugin-rl-analytics.umd.js
  plugins/rl-analytics/src/ActionLogger/ActionBuffer.ts
  plugins/rl-analytics/src/ActionLogger/ActionClassifier.ts
  plugins/rl-analytics/src/ScavengerHunt/components/ScavengerHuntWidget.tsx
  plugins/rl-analytics/src/ScavengerHunt/model.ts
  plugins/rl-analytics/src/index.ts
  products/jbrowse-web/src/corePlugins.ts
  test_data/volvox/jbrowse-plugin-rl-analytics.umd.js
Due: prettier --write, eslint --fix

Add game design document for genome browser training game
  plugins/rl-analytics/GAME_DESIGN.md
Due: prettier --write

Add extended game levels, awards, and instrumentation design
  plugins/rl-analytics/GAME_LEVELS.md
Due: prettier --write

Implement game system: awards, tier gating, constrained navigation
  plugins/rl-analytics/dist/jbrowse-plugin-rl-analytics.umd.js
  plugins/rl-analytics/node_modules/@jbrowse/core
  plugins/rl-analytics/node_modules/@jbrowse/mobx-state-tree
  plugins/rl-analytics/node_modules/@jbrowse/plugin-linear-genome-view
  plugins/rl-analytics/node_modules/@mui/icons-material
  plugins/rl-analytics/node_modules/@mui/material
  plugins/rl-analytics/node_modules/mobx
  plugins/rl-analytics/node_modules/mobx-react
  plugins/rl-analytics/node_modules/react
  plugins/rl-analytics/node_modules/react-dom
  plugins/rl-analytics/src/RLPipeline/types.ts
  plugins/rl-analytics/src/ScavengerHunt/AwardManager.ts
  plugins/rl-analytics/src/ScavengerHunt/TaskValidator.ts
  plugins/rl-analytics/src/ScavengerHunt/components/AwardChips.tsx
  plugins/rl-analytics/src/ScavengerHunt/components/AwardSnackbar.tsx
  plugins/rl-analytics/src/ScavengerHunt/components/ScavengerHuntWidget.tsx
  plugins/rl-analytics/src/ScavengerHunt/components/TierGate.tsx
  plugins/rl-analytics/src/ScavengerHunt/model.ts
  plugins/rl-analytics/src/ScavengerHunt/tasks/taskSchema.ts
  plugins/rl-analytics/src/index.ts
  plugins/rl-analytics/test/TaskValidator.test.ts
  products/jbrowse-web/src/corePlugins.ts
  test_data/volvox/config_with_rl_analytics.json
  test_data/volvox/game_tasks_v2.json
  test_data/volvox/jbrowse-plugin-rl-analytics.umd.js
Due: prettier --write, eslint --fix

Add narrator personality, auto-validation, centralized locale
  plugins/rl-analytics/NARRATOR.md
  plugins/rl-analytics/dist/jbrowse-plugin-rl-analytics.umd.js
  plugins/rl-analytics/src/ScavengerHunt/components/ScavengerHuntWidget.tsx
  plugins/rl-analytics/src/ScavengerHunt/locale/en.ts
  test_data/volvox/jbrowse-plugin-rl-analytics.umd.js
Due: prettier --write, eslint --fix

Updates
  package.json
  packages/text-indexing/package.json
  plugins/data-management/package.json
  plugins/dotplot-view/package.json
  plugins/grid-bookmark/package.json
  plugins/menus/package.json
  plugins/spreadsheet-view/package.json
  plugins/variants/package.json
  plugins/wiggle/package.json
  pnpm-lock.yaml
  products/jbrowse-desktop/package.json
  products/jbrowse-img/package.json
Due: none

Add sharded mode
  PR_SUMMARY_SIMPLIFIED.md
  RGFA_PLAN.md
  plugins/comparative-adapters/src/GfaTabixAdapter/GfaTabixAdapter.ts
  plugins/comparative-adapters/src/GfaTabixAdapter/gfaTabixUtils.ts
  plugins/comparative-adapters/src/ShardedGfaTabixAdapter/ShardedGfaTabixAdapter.ts
  plugins/comparative-adapters/src/ShardedGfaTabixAdapter/configSchema.ts
  plugins/comparative-adapters/src/ShardedGfaTabixAdapter/index.ts
  plugins/comparative-adapters/src/index.ts
  plugins/comparative-adapters/src/syntenyTypes.ts
  products/jbrowse-cli/src/commands/make-gfa-tabix/gfa-to-tabix.test.ts
  products/jbrowse-cli/src/commands/make-gfa-tabix/gfa-to-tabix.ts
  products/jbrowse-cli/src/commands/make-gfa-tabix/index.ts
Due: prettier --write, eslint --fix

Fix task design issues from playtesting, add narrator brief
  plugins/rl-analytics/dist/jbrowse-plugin-rl-analytics.umd.js
  plugins/rl-analytics/src/ScavengerHunt/TaskValidator.ts
  test_data/volvox/game_tasks_v2.json
  test_data/volvox/jbrowse-plugin-rl-analytics.umd.js
Due: prettier --write, eslint --fix

Floating quest panel with scrolling narrator history
  plugins/rl-analytics/dist/jbrowse-plugin-rl-analytics.umd.js
  plugins/rl-analytics/src/ScavengerHunt/components/FloatingPanel.tsx
  plugins/rl-analytics/src/ScavengerHunt/components/NarratorLog.tsx
  plugins/rl-analytics/src/ScavengerHunt/components/ScavengerHuntWidget.tsx
  test_data/volvox/jbrowse-plugin-rl-analytics.umd.js
Due: prettier --write, eslint --fix

De-barrel plan
  PLAN_DEBARREL.md
Due: prettier --write

Rewrite game layer: extract GameEngine, fix critical bugs
  plugins/rl-analytics/dist/jbrowse-plugin-rl-analytics.umd.js
  plugins/rl-analytics/src/RLPipeline/EpisodeManager.ts
  plugins/rl-analytics/src/ScavengerHunt/GameEngine.ts
  plugins/rl-analytics/src/ScavengerHunt/components/NarratorLog.tsx
  plugins/rl-analytics/src/ScavengerHunt/components/ScavengerHuntWidget.tsx
  plugins/rl-analytics/src/ScavengerHunt/model.ts
  plugins/rl-analytics/src/index.ts
  test_data/volvox/jbrowse-plugin-rl-analytics.umd.js
Due: prettier --write, eslint --fix

Fix playtesting issues: scroll references, floating panel, base visibility
  plugins/rl-analytics/dist/jbrowse-plugin-rl-analytics.umd.js
  plugins/rl-analytics/src/ScavengerHunt/components/ScavengerHuntWidget.tsx
  plugins/rl-analytics/src/ScavengerHunt/locale/en.ts
  test_data/volvox/game_tasks_v2.json
  test_data/volvox/jbrowse-plugin-rl-analytics.umd.js
Due: prettier --write, eslint --fix

Refactor scavenger hunt from widget to view type
  plugins/rl-analytics/dist/jbrowse-plugin-rl-analytics.umd.js
  plugins/rl-analytics/src/ScavengerHunt/components/ScavengerHuntView.tsx
  plugins/rl-analytics/src/ScavengerHunt/viewModel.ts
  plugins/rl-analytics/src/index.ts
  test_data/volvox/jbrowse-plugin-rl-analytics.umd.js
Due: prettier --write, eslint --fix

Fix Submit button feedback and expand gene name recognition
  plugins/rl-analytics/dist/jbrowse-plugin-rl-analytics.umd.js
  plugins/rl-analytics/src/ScavengerHunt/GameEngine.ts
  plugins/rl-analytics/src/ScavengerHunt/components/ScavengerHuntView.tsx
  test_data/volvox/game_tasks_v2.json
  test_data/volvox/jbrowse-plugin-rl-analytics.umd.js
Due: prettier --write, eslint --fix

Add dotted name variants (b101.2, agt830.5, etc.) to keyword list
  test_data/volvox/game_tasks_v2.json
Due: none

More sharing
  PANGENOME_COMPLETED.md
  PANGENOME_NEXT_STEPS.md
  PR_SUMMARY_SIMPLIFIED.md
  package.json
  plugins/alignments/src/LinearAlignmentsDisplay/components/WebGLRenderer.ts
  plugins/bed/package.json
  plugins/canvas/package.json
  plugins/canvas/src/LinearFeatureDisplay/components/WebGLFeatureRenderer.ts
  plugins/canvas/src/LinearFeatureDisplay/components/canvasShaders.ts
  plugins/comparative-adapters/src/GfaTabixAdapter/gfaTabixUtils.ts
  plugins/wiggle/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
