Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

ADR-099 records the factories' init becoming view
  agent-docs/architecture-decision-records/adr-099-a-view-takes-one-authored-object.md
Due: prettier --write

A filter change redraws the SV inspector's chords and rebuilds no track
  agent-docs/ideas/README.md
  agent-docs/ideas/the-sv-inspector-rebuilds-its-chord-track-from-the-whole-callset-per-filter.md
  plugins/circular-view/src/ChordVariantDisplay/components/ChordVariantDisplay.test.tsx
  plugins/circular-view/src/chords/BaseChordDisplay.ts
  plugins/circular-view/src/chords/Chords.tsx
  plugins/circular-view/src/chords/types.ts
  plugins/spreadsheet-view/src/SpreadsheetView/SpreadsheetModel.tsx
  plugins/sv-inspector/src/SvInspectorView/chordDisplayState.test.ts
  plugins/sv-inspector/src/SvInspectorView/model.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/BaseChordDisplay.md
  website/docs/models/ChordSyntenyDisplay.md
  website/docs/models/ChordVariantDisplay.md
  website/docs/models/SvInspectorView.md
Due: prettier --write, eslint --fix

The write-half spike ran, and none of its stop conditions appeared
  agent-docs/handoffs/README.md
  agent-docs/handoffs/plain-config-document-spike.md
Due: prettier --write

A config declaring a plugin gets warnings for what only a plugin could supply
  demos/apollo3/README.md
  products/jbrowse-cli/src/commands/validate/schemaValidate.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.test.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.ts
  scripts/check-docs.ts
Due: prettier --write, eslint --fix

schemaValidate's dedupe key spells its NUL separator as an escape
  products/jbrowse-cli/src/commands/validate/schemaValidate.ts
Due: prettier --write, eslint --fix

An examples-site smoke visits a page once more when its failures come with stalled requests
  packages/browser-test-utils/src/examplesSmoke.ts
Due: prettier --write, eslint --fix

build-your-own: a table of tumor structural variant calls that drives the view
  products/jbrowse-build-your-own/examples-site/CLAUDE.md
  products/jbrowse-build-your-own/examples-site/demoHeights.json
  products/jbrowse-build-your-own/examples-site/eagerBundleSizes.json
  products/jbrowse-build-your-own/examples-site/scripts/smoke.mjs
  products/jbrowse-build-your-own/examples-site/src/docs/a-table-of-calls.md
  products/jbrowse-build-your-own/examples-site/src/examples.ts
  products/jbrowse-build-your-own/examples-site/src/examples/ATableOfCalls.tsx
  products/jbrowse-build-your-own/examples-site/src/pages/a-table-of-calls.astro
Due: prettier --write, eslint --fix

The spike handoff: honest types compile, and one stop condition had appeared
  agent-docs/handoffs/README.md
  agent-docs/handoffs/plain-config-document-spike.md
Due: prettier --write

ADR-147: configs stay MST nodes, and a sequence track's setting has a test
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-147-configs-stay-mst-nodes.md
  agent-docs/handoffs/README.md
  agent-docs/handoffs/plain-config-document-spike.md
  products/jbrowse-web/src/tests/ReferenceSequenceSettingSaved.test.ts
Due: prettier --write, eslint --fix

Drop a track config action nothing calls, and the test of a write route not taken
  packages/core/src/ReExports/reExports.generated.json
  packages/core/src/configuration/applyPatchWriteSurface.test.ts
  packages/core/src/configuration/getConf.ts
  packages/core/src/pluggableElementTypes/index.ts
  packages/core/src/pluggableElementTypes/models/baseTrackConfig.ts
  packages/core/src/pluggableElementTypes/models/index.ts
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/sequence/src/ReferenceSequenceTrack/configSchema.ts
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

The grammar-vocabulary handoff lands, so it goes
  agent-docs/architecture-decision-records/adr-142-one-value-scale-object.md
  agent-docs/architecture-decision-records/adr-143-one-quantitative-display-and-facet-is-the-layout.md
  agent-docs/architecture-decision-records/adr-144-one-colour-object-on-the-quantitative-display.md
  agent-docs/handoffs/README.md
  agent-docs/handoffs/grammar-vocabulary-for-wiggle.md
Due: prettier --write

The SV review portal plan stands on the caller's EVENT and a contig BAM
  agent-docs/ideas/README.md
  agent-docs/ideas/multihop-sv-review-portal.md
  agent-docs/ideas/route-as-a-launch-input.md
  agent-docs/ideas/sv-review-portal.md
  agent-docs/ideas/tutorial-corpus-audit.md
Due: prettier --write

jb2export batch draws every SV record, and one panel where one window holds it
  products/jbrowse-img/src/batch.test.ts
  products/jbrowse-img/src/batch.ts
  products/jbrowse-img/src/options.ts
  products/jbrowse-img/src/runBatch.test.ts
  products/jbrowse-img/src/runBatch.ts
  products/jbrowse-img/src/vcfJunctions.test.ts
  products/jbrowse-img/src/vcfJunctions.ts
  website/docs/tutorials/sv_callset_review.md
Due: prettier --write, eslint --fix

jb2export batch draws a caller's EVENT as one image, and its manifest joins back to the VCF
  agent-docs/ideas/sv-review-portal.md
  products/jbrowse-img/src/batch.test.ts
  products/jbrowse-img/src/batch.ts
  products/jbrowse-img/src/options.ts
  products/jbrowse-img/src/runBatch.test.ts
  products/jbrowse-img/src/runBatch.ts
  products/jbrowse-img/src/vcfJunctions.test.ts
  products/jbrowse-img/src/vcfJunctions.ts
  website/docs/tutorials/sv_callset_review.md
Due: prettier --write, eslint --fix

fix(lgv): a scalebar chromosome name always follows the assembly caption
  packages/display-ui/src/embed/regions.test.tsx
  packages/display-ui/src/embed/regions.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/Scalebar.test.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ScalebarRefNameLabels.tsx
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGRuler.tsx
  plugins/linear-genome-view/src/LinearGenomeView/util.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/util.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
  website/docs/models/LinearGenomeView.md
  website/docs/models/LinearSyntenyView.md
Due: prettier --write, eslint --fix

The scalebar caption note says why the chip is never shortened
  plugins/linear-genome-view/src/LinearGenomeView/util.ts
Due: prettier --write, eslint --fix

A tutorial stacks five amylase haplotypes, each aligned to the row under it
  scripts/build_amylase_haplotypes.sh
  test_data/amylase/amylase_adjacent.paf
  test_data/amylase/config.json
  website/docs/tutorials/amylase_haplotypes.md
  website/scripts/gen-tutorial-thumbs.ts
  website/scripts/specs/synteny.ts
  website/src/lib/guide-categories.ts
Due: prettier --write, eslint --fix

The two amylase figures are in the store
  figures.lock
Due: none

Regenerate the tutorial list and live links for the amylase page
  website/docs/user_guide.md
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

jb2export batch loads every panel, whatever size its index estimates
  products/jbrowse-img/src/options.ts
  products/jbrowse-img/src/runBatch.test.ts
  products/jbrowse-img/src/runBatch.ts
  website/docs/tutorials/sv_callset_review.md
Due: prettier --write, eslint --fix

The SV review portal plan says the page is built, and what batch now does about the byte gate
  agent-docs/ideas/sv-review-portal.md
Due: prettier --write

The SV review portal plan links the published variant-review-portal
  agent-docs/ideas/sv-review-portal.md
Due: prettier --write

Mark display: four places it said something the picture did not
  plugins/marks/src/LinearMarkDisplay/configSchema.ts
  plugins/marks/src/LinearMarkDisplay/legend.test.ts
  plugins/marks/src/LinearMarkDisplay/legend.ts
  plugins/marks/src/LinearMarkDisplay/markList.test.ts
  plugins/marks/src/LinearMarkDisplay/markList.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  plugins/marks/src/LinearMarkDisplay/plotFields.test.ts
  plugins/marks/src/LinearMarkDisplay/plotFields.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config_guides/mark_display.md
  website/docs/models/LinearMarkDisplay.md
Due: prettier --write, eslint --fix

A click on a mark opens the feature that instance was drawn from
  agent-docs/architecture-decision-records/adr-112-a-layer-owns-its-transform-and-its-zoom-range.md
  packages/core/src/rpc/RpcRegistry.ts
  packages/core/src/rpc/coreRpcMethods.ts
  packages/core/src/rpc/methods/CoreEncodeFeatures.ts
  packages/core/src/rpc/methods/CoreGetEncodedFeature.test.ts
  packages/core/src/rpc/methods/CoreGetEncodedFeature.ts
  packages/core/src/rpc/methods/layerFeatures.ts
  plugins/marks/src/LinearMarkDisplay/components/MarkTooltip.test.tsx
  plugins/marks/src/LinearMarkDisplay/densityTier.test.ts
  plugins/marks/src/LinearMarkDisplay/findMarkHit.ts
  plugins/marks/src/LinearMarkDisplay/markList.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearMarkDisplay.md
Due: prettier --write, eslint --fix

The app test of a click on a density bar names the instance by its featureIndex
  products/jbrowse-web/src/tests/MarkDisplay.test.tsx
Due: prettier --write, eslint --fix

A point mark declared as the density stand-in draws the sidecar
  plugins/marks/src/LinearMarkDisplay/densityLayer.ts
  plugins/marks/src/LinearMarkDisplay/densityTier.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearMarkDisplay.md
Due: prettier --write, eslint --fix

A value that holds no number is skipped, never plotted at zero
  packages/core/src/util/featureTransforms.test.ts
  packages/core/src/util/featureTransforms.ts
  packages/core/src/util/markEncoding.test.ts
  packages/core/src/util/markEncoding.ts
  packages/core/src/util/numericValue.ts
  packages/core/src/util/thresholdScale.ts
Due: prettier --write, eslint --fix

An unpinned diverging ramp keeps its middle stop at domainMid across regions
  packages/core/README.md
  packages/core/src/ReExports/reExports.generated.json
  packages/core/src/util/markEncoding.ts
  packages/core/src/util/markEncodingTypes.ts
  plugins/marks/src/LinearMarkDisplay/facet.ts
  plugins/marks/src/LinearMarkDisplay/legend.test.ts
  plugins/marks/src/LinearMarkDisplay/legend.ts
  website/docs/api/core.md
Due: prettier --write, eslint --fix

An unknown mark shape is refused by name
  plugins/marks/src/LinearMarkDisplay/configSchema.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
Due: prettier --write, eslint --fix

Regenerate the registry bundle size record over the rebased mark display changes
  scripts/registryBundleSizes.json
Due: none

jb2export batch reports the reads joining each image's panels
  products/jbrowse-img/src/options.ts
  products/jbrowse-img/src/renderRegion.ts
  products/jbrowse-img/src/runBatch.test.ts
  products/jbrowse-img/src/runBatch.ts
  website/docs/tutorials/sv_callset_review.md
Due: prettier --write, eslint --fix

A tutorial loads SyRI's typed rearrangements as colored synteny ribbons
  scripts/build_syri_synteny.sh
  scripts/syri_to_blocks.py
  test_data/syri/Col-0.chrom.sizes
  test_data/syri/Col-0_Ler.Col-0.bed
  test_data/syri/Col-0_Ler.Ler.bed
  test_data/syri/Col-0_Ler.blocks
  test_data/syri/Cvi.chrom.sizes
  test_data/syri/Cvi_Eri.Cvi.bed
  test_data/syri/Cvi_Eri.Eri.bed
  test_data/syri/Cvi_Eri.blocks
  test_data/syri/Eri.chrom.sizes
  test_data/syri/Ler.chrom.sizes
  test_data/syri/Ler_Cvi.Cvi.bed
  test_data/syri/Ler_Cvi.Ler.bed
  test_data/syri/Ler_Cvi.blocks
  test_data/syri/config.json
  website/docs/tutorials/syri_synteny.md
  website/scripts/gen-tutorial-thumbs.ts
  website/scripts/specs/synteny.ts
  website/src/lib/guide-categories.ts
Due: prettier --write, eslint --fix

The two SyRI figures are in the store
  figures.lock
Due: none

Regenerate the tutorial list and live links for the SyRI page
  website/docs/user_guide.md
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

The callset review tutorial says what the links column cannot count
  website/docs/tutorials/sv_callset_review.md
Due: prettier --write

Any row of a synteny stack can be removed, not only the bottom one
  plugins/linear-comparative-view/src/LinearSyntenyView/menus.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/removeRow.integration.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/sameScale.integration.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/LevelSyntenyCanvas.tsx
  plugins/linear-comparative-view/src/SyntenyFeatureDetail/centerOnFeature.ts
  plugins/linear-comparative-view/src/SyntenyFeatureDetail/index.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearSyntenyView.md
  website/docs/user_guides/linear_synteny_view.md
Due: prettier --write, eslint --fix

The reorder dialog's anchor picker shows the row picked, and tells a twice-stacked assembly's rows apart
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ReorderChromosomesDialog.test.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ReorderChromosomesDialog.tsx
Due: prettier --write, eslint --fix

Thin the synteny view model's comments to what each member is
  plugins/linear-comparative-view/src/LinearSyntenyView/menus.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearSyntenyView.md
  website/docs/urlparams.md
  website/docs/user_guides/hic_track.md
Due: prettier --write, eslint --fix

A synteny stack can be reversed in place
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/rowEdits.integration.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/util/runDiagonalize.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearSyntenyView.md
  website/docs/user_guides/linear_synteny_view.md
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
