Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Avoid updating simplex mods
  plugins/alignments/src/shared/SharedModificationsMixin.ts
Due: prettier --write, eslint --fix

Misc
  plugins/alignments/src/BamAdapter/forEachMismatchNumeric.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
Due: prettier --write, eslint --fix

Updates
  package.json
  plugins/alignments/src/BamAdapter/forEachMismatchNumeric.ts
  plugins/alignments/src/SNPCoverageAdapter/bench.ts
  yarn.lock
Due: prettier --write, eslint --fix

Add vitest
  plugins/alignments/package.json
  yarn.lock
Due: none

L1
  plugins/alignments/benches/test.bench.ts
  plugins/alignments/src/SNPCoverageAdapter/generateCoverageBinsPrefixSum.ts
  plugins/alignments/src/SNPCoverageAdapter/processDepthPrefixSum.ts
Due: prettier --write, eslint --fix

Measurements
  plugins/alignments/src/SNPCoverageAdapter/generateCoverageBinsPrefixSum.ts
  plugins/alignments/src/SNPCoverageAdapter/processDepthPrefixSum.ts
Due: prettier --write, eslint --fix

End to end
  plugins/alignments/benches/test.bench.ts
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
  plugins/alignments/src/SNPCoverageAdapter/generateCoverageBinsPrefixSum.ts
Due: prettier --write, eslint --fix

For-in loop
  plugins/alignments/src/SNPCoverageRenderer/makeImage.ts
Due: prettier --write, eslint --fix

Standardize tooltips
  plugins/alignments/src/LinearSNPCoverageDisplay/components/FlatbushTooltipContents.tsx
  plugins/alignments/src/LinearSNPCoverageDisplay/components/Tooltip.tsx
  plugins/alignments/src/SNPCoverageRenderer/components/SNPCoverageRendering.tsx
  plugins/alignments/src/SNPCoverageRenderer/makeImage.ts
Due: prettier --write, eslint --fix

Working2
  plugins/alignments/src/LinearSNPCoverageDisplay/components/FlatbushTooltipContents.tsx
  plugins/alignments/src/LinearSNPCoverageDisplay/components/TooltipContents.tsx
  plugins/alignments/src/LinearSNPCoverageDisplay/components/tooltipUtils.ts
  plugins/alignments/src/SNPCoverageRenderer/components/SNPCoverageRendering.tsx
  plugins/alignments/src/SNPCoverageRenderer/makeImage.ts
  plugins/alignments/src/SNPCoverageRenderer/types.ts
Due: prettier --write, eslint --fix

Unify tooltips
  plugins/alignments/benches/test.bench.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/components/FlatbushTooltipContents.tsx
  plugins/alignments/src/LinearSNPCoverageDisplay/components/Tooltip.tsx
  plugins/alignments/src/LinearSNPCoverageDisplay/components/TooltipContents.tsx
  plugins/alignments/src/SNPCoverageAdapter/generateCoverageBinsPrefixSum.ts
  plugins/alignments/src/SNPCoverageRenderer/makeImage.ts
Due: prettier --write, eslint --fix

Fix eslint
  eslint.config.mjs
  packages/core/ui/EditableTypography.tsx
  packages/core/util/index.ts
  plugins/alignments/benches/test.bench.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/components/Tooltip.tsx
  plugins/alignments/src/LinearSNPCoverageDisplay/components/TooltipContents.tsx
  plugins/alignments/src/LinearSNPCoverageDisplay/components/tooltipUtils.ts
  plugins/alignments/src/PileupRenderer/makeImageData.ts
  plugins/alignments/src/SNPCoverageAdapter/generateCoverageBinsPrefixSum.ts
  plugins/alignments/src/SNPCoverageRenderer/components/SNPCoverageRendering.tsx
  plugins/alignments/src/SNPCoverageRenderer/makeImage.ts
Due: prettier --write, eslint --fix

Updates
  plugins/alignments/benches/test.bench.ts
  plugins/alignments/package.json
  plugins/alignments/src/CramAdapter/readFeaturesToCIGAR.test.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/components/Tooltip.tsx
  plugins/alignments/src/LinearSNPCoverageDisplay/components/TooltipContents.tsx
  plugins/alignments/src/LinearSNPCoverageDisplay/components/tooltipUtils.ts
  yarn.lock
Due: prettier --write, eslint --fix

Back to main
  packages/core/ui/EditableTypography.tsx
  packages/core/util/index.ts
Due: prettier --write, eslint --fix

No ts-node
  package.json
  packages/core/ui/EditableTypography.tsx
  packages/core/util/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

Update snaps
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-cloud-test-tsx-long-read-cloud-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-stack-test-tsx-long-read-stack-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/breakpoint_split_view_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgBreakpointSplitView.test.tsx.snap
Due: none

Bump librpc-web
  packages/core/package.json
  packages/product-core/package.json
  yarn.lock
Due: none

Add exports
  packages/core/package.json
Due: none

Misc
  packages/core/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

[skip ci] Relative imports
  packages/core/BaseFeatureWidget/BaseFeatureDetail/ArrayValue.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/BaseCard.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/BasicValue.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/DataGridDetails.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/FeatureDetails.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/FieldName.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/SimpleField.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/UriField.tsx
  packages/core/BaseFeatureWidget/SequenceFeatureDetails/SequenceFeaturePanel.tsx
  packages/core/BaseFeatureWidget/SequenceFeatureDetails/dialogs/SequenceDialog.tsx
  packages/core/BaseFeatureWidget/SequenceFeatureDetails/dialogs/SequenceTypeSelector.tsx
  packages/core/pluggableElementTypes/models/components/SaveTrackData.tsx
  packages/core/pluggableElementTypes/models/saveTrackFileTypes/fetchSequence.ts
  packages/core/pluggableElementTypes/models/saveTrackFileTypes/genbank.test.ts
  packages/core/pluggableElementTypes/models/saveTrackFileTypes/genbank.ts
  packages/core/pluggableElementTypes/models/saveTrackFileTypes/gff3.test.ts
  packages/core/ui/AssemblySelector.tsx
  packages/core/ui/BaseTooltip.tsx
  packages/core/ui/CascadingMenuButton.tsx
  packages/core/ui/DataGridFlexContainer.tsx
  packages/core/ui/Dialog.tsx
  packages/core/ui/EditableTypography.tsx
  packages/core/ui/ErrorMessage.tsx
  packages/core/ui/ErrorMessageStackTraceContents.tsx
  packages/core/ui/FactoryResetDialog.tsx
  packages/core/ui/FileSelector/LocalFileChooser.tsx
  packages/core/ui/LoadingEllipses.tsx
  packages/core/ui/MenuItems.tsx
  packages/core/ui/RedErrorMessageBox.tsx
  packages/core/ui/ResizeHandle.tsx
  packages/core/ui/SnackbarModel.tsx
  packages/core/ui/__tests__/CascadingMenu.test.tsx
Due: prettier --write, eslint --fix

Plugin test pass
  jest.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/build.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Updates
  packages/core/pluggableElementTypes/renderers/RendererType.tsx
  packages/core/rpc/WebWorkerRpcDriver.ts
  packages/core/util/librpc.ts
  packages/core/util/rpc.ts
  packages/product-core/src/rpcWorker.ts
  plugins/alignments/package.json
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/alignments/src/RenderLinearReadArcsDisplayRPC/executeRenderLinearReadArcsDisplay.ts
  plugins/alignments/src/RenderLinearReadCloudDisplayRPC/executeRenderLinearReadCloudDisplay.ts
  plugins/alignments/src/SNPCoverageRenderer/makeImage.ts
  plugins/canvas/src/CanvasFeatureRenderer/CanvasFeatureRenderer.ts
  plugins/dotplot-view/src/DotplotRenderer/DotplotRenderer.ts
  plugins/hic/package.json
  plugins/hic/src/HicRenderer/HicRenderer.tsx
  plugins/variants/src/MultiLinearVariantMatrixRenderer/MultiLinearVariantMatrixRenderer.ts
  plugins/variants/src/MultiLinearVariantRenderer/MultiVariantRenderer.ts
  plugins/wiggle/package.json
  plugins/wiggle/src/DensityRenderer/renderDensity.ts
  plugins/wiggle/src/LinePlotRenderer/renderLinePlot.ts
  plugins/wiggle/src/MultiDensityRenderer/renderMultiDensity.ts
  plugins/wiggle/src/MultiLineRenderer/renderMultiLine.ts
  plugins/wiggle/src/MultiRowLineRenderer/renderMultiRowLine.ts
  plugins/wiggle/src/MultiRowXYPlotRenderer/renderMultiRowXYPlot.ts
  plugins/wiggle/src/MultiXYPlotRenderer/renderMultiXYPlot.ts
  plugins/wiggle/src/XYPlotRenderer/renderXYPlot.ts
  website/docs/developer_guides/renderer_architecture.md
Due: prettier --write, eslint --fix

Initialize
  .changeset/README.md
  .changeset/config.json
  CONTRIBUTING.md
  lerna.json
  package.json
  pnpm-lock.yaml
  scripts/release.sh
Due: prettier --write

More release mods
  PUBLISHING.md
  scripts/release.sh
Due: prettier --write

Remove changesets
  .changeset/README.md
  .changeset/config.json
  .changeset/example-migration.md
  .github/release.yml
  PUBLISHING.md
  package.json
  scripts/generate-changelog.sh
  scripts/release.sh
Due: prettier --write

Tsc
  plugins/hic/package.json
  plugins/wiggle/src/drawXY.ts
  pnpm-lock.yaml
  products/jbrowse-web/package.json
Due: prettier --write, eslint --fix

Updates
  package.json
  packages/core/package.json
  packages/core/rpc/WebWorkerRpcDriver.ts
  packages/core/util/librpc.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/alignments/src/RenderLinearReadArcsDisplayRPC/executeRenderLinearReadArcsDisplay.ts
  plugins/alignments/src/RenderLinearReadCloudDisplayRPC/executeRenderLinearReadCloudDisplay.ts
  plugins/alignments/src/SNPCoverageRenderer/makeImage.ts
  plugins/canvas/src/CanvasFeatureRenderer/CanvasFeatureRenderer.ts
  plugins/dotplot-view/src/DotplotRenderer/DotplotRenderer.ts
  plugins/hic/src/HicRenderer/HicRenderer.tsx
  plugins/linear-comparative-view/package.json
  plugins/variants/package.json
  plugins/variants/src/MultiLinearVariantMatrixRenderer/MultiLinearVariantMatrixRenderer.ts
  plugins/variants/src/MultiLinearVariantRenderer/MultiVariantRenderer.ts
  plugins/wiggle/package.json
  plugins/wiggle/src/DensityRenderer/renderDensity.ts
  plugins/wiggle/src/LinePlotRenderer/renderLinePlot.ts
  plugins/wiggle/src/MultiDensityRenderer/renderMultiDensity.ts
  plugins/wiggle/src/MultiLineRenderer/renderMultiLine.ts
  plugins/wiggle/src/MultiRowLineRenderer/renderMultiRowLine.ts
  plugins/wiggle/src/MultiRowXYPlotRenderer/renderMultiRowXYPlot.ts
  plugins/wiggle/src/MultiXYPlotRenderer/renderMultiXYPlot.ts
  plugins/wiggle/src/XYPlotRenderer/renderXYPlot.ts
  pnpm-lock.yaml
  products/jbrowse-img/package.json
  products/jbrowse-img/tsconfig.json
  products/jbrowse-react-app/package.json
  products/jbrowse-web/browser-tests/runner.ts
  products/jbrowse-web/package.json
Due: prettier --write, eslint --fix

Make GCContentTrack export in bedgraph
  plugins/gccontent/src/GCContentTrack/index.ts
Due: prettier --write, eslint --fix

Add deps
  packages/app-core/package.json
  packages/core/package.json
  packages/web-core/package.json
  pnpm-lock.yaml
  products/jbrowse-react-app/package.json
  products/jbrowse-web/package.json
Due: none

Format
  plugins/gccontent/src/GCContentTrack/index.ts
Due: prettier --write, eslint --fix

Renames
  babel.config.cjs
  config/jest/babelTransform.cjs
  config/jest/cssTransform.cjs
  config/jest/fetchMock.js
  config/jest/messagechannel.js
  jest.config.js
  package.json
  packages/core/BaseFeatureWidget/SequenceFeatureDetails/dialogs/SequenceFeatureMenu.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/variants/src/shared/components/MultiVariantClusterDialog/ClusterDialogManual.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/WiggleClusterDialog/WiggleClusterDialogManual.tsx
  products/jbrowse-img/src/index.ts
  products/jbrowse-react-app/src/rootModel/rootModel.ts
  products/jbrowse-web/browser-tests/OAuthServer/oauth/model.ts
  products/jbrowse-web/browser-tests/servers.ts
  products/jbrowse-web/src/rootModel/rootModel.ts
  products/jbrowse-web/src/tests/BookmarkWidget.test.tsx
  products/jbrowse-web/src/tests/ExportSession.test.tsx
  products/jbrowse-web/src/tests/ExportSvgLinearGenomeView.test.tsx
  products/jbrowse-web/src/tests/ExportSvgLinearSyntenyView.test.tsx
  products/jbrowse-web/src/tests/SaveTrackData.test.tsx
  products/jbrowse-web/src/tests/util.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
