Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Handoff: the render-RPC round trip is closed; BAM header and shaders remain
  agent-docs/handoffs/cold-load-to-first-alignments-paint.md
  packages/core/src/rpc/methods/CoreLoadTrackCode.ts
Due: prettier --write, eslint --fix

DisplayType.rpcMethods takes plain strings
  agent-docs/handoffs/README.md
  agent-docs/handoffs/cold-load-to-first-alignments-paint.md
  packages/core/src/pluggableElementTypes/DisplayType.ts
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

Reshoot the hg38 chr17p multiway figures with lane genes cut at holes
  figures.lock
Due: none

pangenome_hprc_repeats names unit 2 KIV-2B and drops the cohort tallies
  website/docs/tutorials/pangenome_hprc_repeats.md
Due: prettier --write

Reshoot the cohort KIV-2 figure on tandem-repeat 0.1.3, unit 2 carriers first
  figures.lock
Due: none

The hosted HPRC demo spells its phased displays as unit: haplotype
  demos/hprc/config.json
Due: none

CRAM reads its header and its .crai together
  plugins/alignments/src/CramAdapter/CramAdapter.ts
Due: prettier --write, eslint --fix

Handoff: header reads overlap their index; a main-thread chain now binds
  agent-docs/handoffs/README.md
  agent-docs/handoffs/cold-load-to-first-alignments-paint.md
Due: prettier --write

[skip ci] HPRC demo's KIV-2 records name their units KIV-2A and KIV-2B
  demos/hprc/README.txt
  demos/hprc/hprc_kiv2_copies.vcf
Due: none

Multi-sample variant menu: Rendering mode becomes Rows, Per sample / Per haplotype
  plugins/variants/src/shared/multiSampleVariantMenuItems.ts
  plugins/variants/src/shared/renderingModeGate.test.ts
  products/jbrowse-web/src/tests/testLinearMultiSampleVariantDisplay.tsx
  website/docs/tutorials/analyze_trio.md
  website/docs/user_guides/multivariant_track.md
  website/scripts/screenshot-asserts.ts
  website/scripts/specs/trio.ts
  website/scripts/videos/variants.ts
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

Reshoot trio-matrix-phased and refilm variants/trio_phased_matrix with the Rows menu
  figures.lock
  website/media.lock
Due: none

Regenerate live links for the trio-matrix-phased annotation anchor
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

pangenome_hprc_repeats keeps its menu paths on one line and drops the unshown Samples filters
  website/docs/tutorials/pangenome_hprc_repeats.md
Due: prettier --write

HPRC demo gains a samples table for its KIV-2 tracks, built by build_hprc_samples.sh
  demos/hprc/README.txt
  demos/hprc/config.json
  scripts/build_hprc_samples.sh
Due: none

Handoff: @gmod/bam 10.0.4 shipped the header-beside-index read
  agent-docs/handoffs/README.md
  agent-docs/handoffs/cold-load-to-first-alignments-paint.md
Due: prettier --write

Bump @gmod/bam to 10.0.4, which reads the header beside the index
  plugins/alignments/package.json
  plugins/alignments/src/BamAdapter/BamAdapter.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

pangenome_hprc_repeats leads its KIV-2 copies with the cohort, grouped by superpopulation
  figures.lock
  website/docs/tutorials/pangenome_hprc_repeats.md
  website/scripts/specs/graph-hprc.ts
Due: prettier --write, eslint --fix

The superpopulation figure closes the view menu before its capture
  website/scripts/specs/graph-hprc.ts
Due: prettier --write, eslint --fix

Reshoot the KIV-2 figures: units named KIV-2A and B, the cohort by superpopulation, packed walk rows keying genes as left out
  figures.lock
Due: none

WebGL2Hal records why it links on first draw rather than at creation
  packages/render-core/src/hal/webgl2Hal.ts
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

Handoff: the WebGL2 shader compile is measured and declined
  agent-docs/handoffs/README.md
  agent-docs/handoffs/cold-load-to-first-alignments-paint.md
Due: prettier --write

One classifier names a read connection for the pileup and the split view
  packages/alignments-core/src/classifyConnection.test.ts
  packages/alignments-core/src/index.ts
  packages/alignments-core/src/readGroupConnections.ts
  plugins/alignments/src/LinearAlignmentsDisplay/chainFields.ts
  plugins/alignments/src/features/linkedReads/compute.test.ts
  plugins/alignments/src/features/linkedReads/compute.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/AlignmentConnections.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/ConnectionKey.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/connectionStyle.test.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/connectionStyle.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/overlayGeometry.test.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/overlayUtils.test.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/overlayUtils.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/model.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/svgcomponents/SVGBreakpointSplitView.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/types.ts
Due: prettier --write, eslint --fix

"Split current view to show mate" enters View as pairs, and one SA segment list serves the menu and the widget
  agent-docs/ideas/waiting-on-a-call/sa-hops-in-the-bezier-overlay.md
  plugins/alignments/src/AlignmentsFeatureDetail/LaunchSupplementaryAlignmentBreakpointSplitViewPanel.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/getSAFeatures.ts
  plugins/alignments/src/AlignmentsFeatureDetail/splitReadJunctions.test.ts
  plugins/alignments/src/AlignmentsFeatureDetail/splitReadJunctions.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/contextMenu.ts
  plugins/alignments/src/LinearAlignmentsDisplay/showLinkedRegions.ts
  plugins/alignments/src/LinearAlignmentsDisplay/viewMateRegion.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/viewMateRegion.ts
  plugins/alignments/src/LinearAlignmentsDisplay/viewSplitAlignmentRegions.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/viewSplitAlignmentRegions.ts
  plugins/alignments/src/shared/splitAlignment.test.ts
  plugins/alignments/src/shared/splitAlignment.ts
Due: prettier --write, eslint --fix

A split read opens as one breakpoint split view, a panel per segment
  agent-docs/ideas/collections/breakpoint-split-view-and-arc-band.md
  packages/sv-core/src/BreakpointSplitViewChoiceDialog.tsx
  packages/sv-core/src/index.ts
  packages/sv-core/src/launchBreakpointSplitView.ts
  packages/sv-core/src/navToMultiLevelBreak.test.ts
  packages/sv-core/src/navToMultiLevelBreak.ts
  plugins/alignments/src/AlignmentsFeatureDetail/LaunchSupplementaryAlignmentBreakpointSplitViewPanel.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/links.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/menus/contextMenu.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/contextMenu.ts
  plugins/alignments/src/shared/splitAlignment.test.ts
  plugins/alignments/src/shared/splitAlignment.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/BreakpointSplitView.md
  website/docs/user_guides/alignments_track.md
Due: prettier --write, eslint --fix

Load harnesses time a repeat visit and an 11-track session
  products/jbrowse-web/browser-tests/measure-load-latency.ts
  products/jbrowse-web/browser-tests/probe-coldload-phases.ts
Due: prettier --write, eslint --fix

Repeat visits are CPU and GPU; per-display contexts are what grows
  agent-docs/handoffs/cold-load-to-first-alignments-paint.md
  agent-docs/ideas/waiting-on-someone-else/cut-webgl2-contexts-per-display.md
Due: prettier --write

chore: pre-push autofix
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Idea: variant cells read both axes through tables, pending a reorder number
  agent-docs/ideas/README.md
  agent-docs/ideas/waiting-on-a-number/variant-cells-read-both-axes-through-tables.md
Due: prettier --write

The split view reads one display field for "links its own reads", and the stops launch is pinned
  packages/sv-core/src/BreakpointSplitViewChoiceDialog.test.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/navToSingleLevelBreak.integration.test.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/util.test.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/util.ts
Due: prettier --write, eslint --fix

MAF keeps every row of a sample in a block, a copy as its own row
  plugins/maf/src/BgzipTaffyAdapter/tafParsing.ts
  plugins/maf/src/BigMafAdapter/stanzaBlockReader.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/executeMafAlignmentData.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/mafRegionSink.ts
  plugins/maf/src/MafTabixAdapter/tabixBlockReader.ts
  plugins/maf/src/util/mafLines.ts
  plugins/maf/src/util/recordSlots.ts
  plugins/maf/src/util/sampleCopies.test.ts
  plugins/maf/src/util/sampleCopies.ts
Due: prettier --write, eslint --fix

The copy-row test types the features' alignments
  plugins/maf/src/util/sampleCopies.test.ts
Due: prettier --write, eslint --fix

Reader tests that pinned last-wins hold a repeated species as a copy row
  plugins/maf/src/BigMafAdapter/stanzaBlockReader.test.ts
  plugins/maf/src/MafTabixAdapter/tabixBlockReader.test.ts
  plugins/maf/src/util/legacyMafParse.fixture.ts
Due: prettier --write, eslint --fix

HPRC_RELEASE2 records the impg TPA probe, and its tutorial idea goes
  agent-docs/ideas/README.md
  agent-docs/ideas/ready/impg-locus-pangenome-tutorial.md
  agent-docs/reference/HPRC_RELEASE2.md
Due: prettier --write

Tandem repeat card labels units by their RUNAME, else "unit N"
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/TandemRepeatPanel.tsx
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/layout.test.ts
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/layout.ts
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/tandemRepeat.test.ts
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/tandemRepeat.ts
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.test.tsx
  plugins/variants/src/shared/tandemRepeatRuns.ts
Due: prettier --write, eslint --fix

A bench and a probe size a multi-sample variant reorder against the row table
  plugins/variants/benches/variantReorder.bench.ts
  plugins/variants/benches/variantReorderUpload.probe.ts
Due: prettier --write, eslint --fix

The variant row-table idea carries its reorder sitting and waits on a call
  agent-docs/ideas/README.md
  agent-docs/ideas/waiting-on-a-call/variant-cells-read-rows-through-the-row-table.md
  agent-docs/ideas/waiting-on-a-number/variant-cells-read-both-axes-through-tables.md
  plugins/variants/benches/variantReorderUpload.probe.ts
Due: prettier --write, eslint --fix

ADR-211 keeps the variant cell's screen row per instance, with the reorder sitting
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-211-variant-cells-keep-their-screen-row-per-instance.md
  agent-docs/ideas/README.md
  agent-docs/ideas/waiting-on-a-call/variant-cells-read-rows-through-the-row-table.md
  plugins/variants/src/shared/placeVariantRows.ts
Due: prettier --write, eslint --fix

load-time-by-version times a cold BAM load across releases
  products/jbrowse-web/browser-tests/load-time-by-version.R
  products/jbrowse-web/browser-tests/load-time-by-version.csv
  products/jbrowse-web/browser-tests/load-time-by-version.ts
Due: prettier --write, eslint --fix

docs(release): v5 notes show cold load time across releases
  PUBLISHING.md
  figures.lock
  website/release_announcement_drafts/v5.0.0.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
