Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

A facet section's summary rows still name the value it was split on
  packages/core/src/rpc/methods/CoreGetEncodedFeature.test.ts
  packages/core/src/util/featureTransforms.test.ts
  packages/core/src/util/featureTransforms.ts
  plugins/marks/src/LinearMarkDisplay/facetValue.test.ts
  website/docs/config_guides/mark_display.md
Due: prettier --write, eslint --fix

Every channel reading a field the steps unmade gets the notice y had
  plugins/marks/src/LinearMarkDisplay/markProblems.test.ts
  plugins/marks/src/LinearMarkDisplay/markProblems.ts
  products/jbrowse-cli/src/commands/validate/markDisplays.test.ts
  products/jbrowse-cli/src/commands/validate/markRules/markProblems.ts
  website/docs/config_guides/mark_display.md
Due: prettier --write, eslint --fix

The mate step reads a paired read's next segment
  packages/core/src/util/featureTransforms.test.ts
  packages/core/src/util/featureTransforms.ts
  plugins/marks/src/LinearMarkDisplay/markTransformConfigSchema.ts
  plugins/marks/src/LinearMarkDisplay/plotDefault.test.ts
  plugins/marks/src/LinearMarkDisplay/plotDefault.ts
  plugins/marks/src/LinearMarkDisplay/scanPlotFields.ts
  website/docs/config_guides/mark_display.md
Due: prettier --write, eslint --fix

A text mark over a float32 lane prints the digits the lane holds
  packages/core/src/util/markEncoding.test.ts
  packages/core/src/util/markEncoding.ts
Due: prettier --write, eslint --fix

The guide says what a bare colour string in an encoding is
  website/docs/config_guides/mark_display.md
  website/docs/tutorials/read_marks.md
Due: prettier --write

A key whose unlisted values share a colour or shape says so, and Pin distinct lists them
  plugins/marks/src/LinearMarkDisplay/markMenus.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  plugins/marks/src/LinearMarkDisplay/pinDistinct.test.ts
  plugins/marks/src/LinearMarkDisplay/pinDistinct.ts
  website/docs/config_guides/mark_display.md
Due: prettier --write, eslint --fix

jb2export says why a track failed to open
  products/jbrowse-img/src/applyDisplayOpts.test.ts
  products/jbrowse-img/src/applyTrackOpts.ts
Due: prettier --write, eslint --fix

Regenerate the config docs, the API docs and the registry bundle sizes
  packages/core/README.md
  plugins/marks/src/LinearMarkDisplay/markProblems.ts
  products/jbrowse-cli/src/commands/validate/markRules/markProblems.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
  website/docs/api/core.md
  website/docs/config/MarkTransform.md
  website/docs/config_guides/mark_display.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMarkDisplay.md
Due: prettier --write, eslint --fix

Type the split field and the pinned domain as strings
  plugins/marks/src/LinearMarkDisplay/markProblems.ts
  plugins/marks/src/LinearMarkDisplay/pinDistinct.ts
  products/jbrowse-cli/src/commands/validate/markRules/markProblems.ts
Due: prettier --write, eslint --fix

Agent evals: graders proven by a headless self-check, held-out and negative tasks, a jb route report
  agent-docs/ideas/README.md
  agent-docs/ideas/ready/setsession-drops-a-tracks-entry-without-closing-it.md
  agent-docs/reference/AGENT_EVALS.md
  agent-docs/reference/README.md
  package.json
  products/jbrowse-desktop/test/mcpAgentEval.ts
  scripts/agent-evals/jbUsage.test.ts
  scripts/agent-evals/jbUsage.ts
  scripts/agent-evals/selfCheck.ts
  scripts/agent-evals/tasks.ts
  scripts/agent-evals/webAgentEval.ts
Due: prettier --write, eslint --fix

Agent evals: target sonnet and opus, and name the two jb spellings to ablate
  agent-docs/ideas/README.md
  agent-docs/ideas/ready/ablate-the-jb-spellings-agents-stumbled-on.md
  agent-docs/reference/AGENT_EVALS.md
Due: prettier --write

A gene keeps its strand arrow down to one arrow length
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-051-shader-js-codegen-is-scalar-only.md
  agent-docs/architecture-decision-records/adr-114-canvas-keeps-its-hand-written-packer.md
  agent-docs/architecture-decision-records/adr-200-a-gene-keeps-its-strand-arrow-down-to-one-arrow-length.md
  packages/render-core/benches/markUniformDedupe.bench.ts
  plugins/canvas/src/LinearBasicDisplay/components/compactRowGlyphs.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/hitTesting.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/hitTesting.ts
  plugins/canvas/src/LinearBasicDisplay/components/narrowFeatureArrows.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/pointRectCentering.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/reversedGlyphDirection.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/sharedRendererConstants.ts
  plugins/canvas/src/LinearBasicDisplay/components/thinBoxCentering.test.ts
  plugins/canvas/src/LinearBasicDisplay/isoformTrim.ts
  plugins/canvas/src/LinearBasicDisplay/layout.test.ts
  plugins/canvas/src/LinearBasicDisplay/marks/canvasFeatureMarks.test.ts
  plugins/canvas/src/LinearBasicDisplay/marks/featureGlyphMarks.ts
  plugins/canvas/src/LinearBasicDisplay/marks/featureGlyphShapes.test.ts
  plugins/canvas/src/LinearBasicDisplay/marks/featureGlyphShapes.ts
  plugins/canvas/src/LinearBasicDisplay/marks/strandArrow.ts
  plugins/canvas/src/LinearBasicDisplay/packRef.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/arrow.consts.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/arrow.glsl.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/arrow.iface.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/arrow.js.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/arrow.slang
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/arrow.wgsl.generated.ts
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.ts
  plugins/canvas/src/RenderFeatureDataRPC/packRenderArrays.ts
  plugins/canvas/src/RenderFeatureDataRPC/rpcTypes.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayBackendParity.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.ts
Due: prettier --write, eslint --fix

synteny_visualization stacks the three H. pylori strains across an inversion
  figures.lock
  website/docs/tutorials/synteny_visualization.md
  website/scripts/specs/synteny.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Export SharedKey from plugin-marks so gwas can name its display type
  plugins/marks/src/index.ts
Due: prettier --write, eslint --fix

HPRC repeats tutorial links the quickstart's VCF section for sort, bgzip and index
  website/docs/tutorials/pangenome_hprc_repeats.md
Due: prettier --write

chore: pre-push autofix
  website/docs/tutorials/pangenome_hprc_repeats.md
Due: prettier --write

Website prose rules: a pasted script output is no exemption, and a number goes stale unflagged
  website/CLAUDE.md
Due: prettier --write

Tutorials drop precise numbers the reader cannot check
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/cancer_sv.md
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/dog10k_lof.md
  website/docs/tutorials/dog10k_selection.md
  website/docs/tutorials/dog10k_svs.md
  website/docs/tutorials/ecoli_orthologs_synteny.md
  website/docs/tutorials/gene_prediction_review.md
  website/docs/tutorials/genomes_basics.md
  website/docs/tutorials/genomes_synteny.md
  website/docs/tutorials/hg002_haplotypes.md
  website/docs/tutorials/k562_fusions.md
  website/docs/tutorials/local_ancestry.md
  website/docs/tutorials/orthofinder_synteny.md
  website/docs/tutorials/pangenome_cattle.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/tutorials/pangenome_hprc_carriers.md
  website/docs/tutorials/pangenome_hprc_repeats.md
  website/docs/tutorials/pangenome_prepare_graph.md
  website/docs/tutorials/population_cnv.md
  website/docs/tutorials/primate_orthologs_synteny.md
  website/docs/tutorials/read_marks.md
  website/docs/tutorials/selection_pressure.md
  website/docs/tutorials/sv_callset_review.md
  website/docs/tutorials/syri_synteny.md
Due: prettier --write

pangenome_cattle reads the KIT copy and the TAS2R46 cattle allele off their figures
  website/docs/tutorials/pangenome_cattle.md
Due: prettier --write

The cross-backend gate renders a stacked coverage
  products/jbrowse-web/browser-tests/suites/mark-display.ts
  test_data/volvox/config_marks.json
Due: prettier --write, eslint --fix

The stack is declined; the guide shows the mirror and the rows form
  agent-docs/handoffs/grammar-next-steps.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  plugins/marks/src/LinearMarkDisplay/facetValue.test.ts
  website/docs/config_guides/mark_display.md
Due: prettier --write, eslint --fix

Retire five multi-way lock lines no spec shoots and no page shows
  figures.lock
Due: none

Clustering recipes name a clusterRegion window: zoom there, cluster, zoom back out
  website/scripts/spec-recipe-unmapped.txt
  website/src/lib/spec-recipe/fields.ts
  website/src/lib/spec-recipe/recipe.ts
  website/src/lib/spec-recipe/trackFieldSteps.test.ts
Due: prettier --write, eslint --fix

Dog10K diet-gene callouts name the gene and what a cell records, without the contrast
  website/scripts/specs/dog10k.ts
Due: prettier --write, eslint --fix

Publish the five Dog10K lane figures on current chrome, with the diet-gene callouts trimmed
  figures.lock
Due: none

Primate ortholog docs describe the CnHmorfK join
  agent-docs/reference/DEMO_DATASETS.md
  website/docs/tutorials/primate_orthologs_synteny.md
Due: prettier --write

symbols_to_blocks reads NCBI's CnHmorfK homolog symbols as the human CmorfK
  scripts/check-build-scripts.py
  scripts/symbols_to_blocks.py
Due: none

The C1orf35 relabel is the table's and the BED's, not the lane glyph's
  scripts/symbols_to_blocks.py
  website/docs/tutorials/primate_orthologs_synteny.md
Due: prettier --write

Primate chr17 and chr2 figures show the CnHmorfK genes joined
  figures.lock
Due: none

The declared-split figure's viewport holds all three bands
  website/scripts/specs/methylation.ts
Due: prettier --write, eslint --fix

The methylation tutorial declares the haplotype split on the mark display
  website/docs/config_guides/mark_display.md
  website/docs/tutorials/methylation.md
  website/docs/tutorials/read_marks.md
  website/scripts/specs/methylation.ts
Due: prettier --write, eslint --fix

Publish the declared-split methylation figure; regenerate the live links
  figures.lock
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

The grammar handoff cites the spike's commits, not its branch
  agent-docs/handoffs/grammar-next-steps.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
Due: prettier --write

Tutorials drop the analysis tallies their prose already states
  website/docs/tutorials/dog10k_svs.md
  website/docs/tutorials/mappability_qc.md
  website/docs/tutorials/pangenome_hprc_haplotypes.md
  website/docs/tutorials/read_marks.md
Due: prettier --write

Figure specs: a three-row contact sheet of jb2export batch output, tumor beside normal
  website/scripts/specs/jbrowse-img.ts
Due: prettier --write, eslint --fix

sv_callset_review shows the contact sheet batch writes, tumor beside normal
  figures.lock
  website/docs/tutorials/sv_callset_review.md
Due: prettier --write

rnaseq loads a whole-library regtools junction table and shows it at FOLH1
  scripts/build_rnaseq_junctions.sh
  test_data/config_demo.json
  website/docs/tutorials/rnaseq.md
  website/scripts/specs/alignments.ts
Due: prettier --write, eslint --fix

rnaseq/junction_track: frame to its content
  website/scripts/specs/alignments.ts
Due: prettier --write, eslint --fix

Publish rnaseq/junction_track; batch-row specs sit outside the README's command list
  figures.lock
  website/scripts/screenshot-specs.ts
  website/scripts/specs/jbrowse-img.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
