Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

[skip ci] Bump deps
  package.json
  plugins/menus/src/AboutWidget/components/AboutWidget.tsx
  pnpm-lock.yaml
  products/jbrowse-desktop/package.json
Due: prettier --write, eslint --fix

Add git hash to version numbers and restore nightly/branch builds (#5456)
  .github/workflows/push.yml
  package.json
  pnpm-lock.yaml
  products/jbrowse-desktop/package.json
  webpack/config/env.js
Due: none

[skip ci] Serial render of wiggle
  plugins/wiggle/src/MultiDensityRenderer/makeImageData.ts
  plugins/wiggle/src/MultiDensityRenderer/renderMultiDensity.ts
  plugins/wiggle/src/MultiLineRenderer/makeImageData.ts
  plugins/wiggle/src/MultiLineRenderer/renderMultiLine.ts
  plugins/wiggle/src/MultiRowLineRenderer/makeImageData.ts
  plugins/wiggle/src/MultiRowLineRenderer/renderMultiRowLine.ts
  plugins/wiggle/src/MultiRowXYPlotRenderer/makeImageData.ts
  plugins/wiggle/src/MultiRowXYPlotRenderer/renderMultiRowXYPlot.ts
  plugins/wiggle/src/MultiXYPlotRenderer/makeImageData.ts
  plugins/wiggle/src/MultiXYPlotRenderer/renderMultiXYPlot.ts
  plugins/wiggle/src/multiRendererHelper.ts
Due: prettier --write, eslint --fix

Updates
  plugins/wiggle/src/MultiDensityRenderer/renderMultiDensity.ts
  plugins/wiggle/src/MultiLineRenderer/renderMultiLine.ts
  plugins/wiggle/src/MultiRowLineRenderer/renderMultiRowLine.ts
  plugins/wiggle/src/MultiRowXYPlotRenderer/renderMultiRowXYPlot.ts
  plugins/wiggle/src/MultiXYPlotRenderer/renderMultiXYPlot.ts
  plugins/wiggle/src/multiRendererHelper.ts
Due: prettier --write, eslint --fix

Electron reduce
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/scripts/build.js
  products/jbrowse-desktop/scripts/buildElectronMain.js
Due: none

Esbuild
  pnpm-lock.yaml
  products/jbrowse-desktop/package.json
Due: none

Updates
  pnpm-lock.yaml
  products/jbrowse-desktop/entitlements.plist
  products/jbrowse-desktop/linux-sandbox-fix.js
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/scripts/package.js
Due: none

Updates
  products/jbrowse-desktop/assets/icon-0.png
  products/jbrowse-desktop/assets/icon-1.png
  products/jbrowse-desktop/assets/icon-2.png
  products/jbrowse-desktop/assets/icon-3.png
  products/jbrowse-desktop/assets/icon-4.png
  products/jbrowse-desktop/assets/icon.png
  products/jbrowse-desktop/linux-sandbox-fix.js
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/scripts/notarize.js
  products/jbrowse-desktop/sign.js
Due: none

Misc
  pnpm-lock.yaml
  products/jbrowse-desktop/.gitignore
  products/jbrowse-desktop/README.md
  products/jbrowse-desktop/assets/icon-0.png
  products/jbrowse-desktop/assets/icon-1.png
  products/jbrowse-desktop/assets/icon-2.png
  products/jbrowse-desktop/assets/icon-3.png
  products/jbrowse-desktop/assets/icon-4.png
  products/jbrowse-desktop/tsconfig.electron.json
Due: prettier --write

Inline window state
  products/jbrowse-desktop/electron/window.ts
  products/jbrowse-desktop/electron/windowStateKeeper.ts
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/scripts/buildElectronMain.js
Due: prettier --write, eslint --fix

Rm electron-builder dep
  package.json
  pnpm-lock.yaml
Due: none

Simplify
  products/jbrowse-desktop/README.md
  products/jbrowse-desktop/electron/windowStateKeeper.ts
  products/jbrowse-desktop/scripts/package.js
Due: prettier --write, eslint --fix

Modularize the packaging code
  products/jbrowse-desktop/entitlements.txt
  products/jbrowse-desktop/scripts/package.js
  products/jbrowse-desktop/scripts/packaging/config.js
  products/jbrowse-desktop/scripts/packaging/linux.js
  products/jbrowse-desktop/scripts/packaging/mac.js
  products/jbrowse-desktop/scripts/packaging/packager.js
  products/jbrowse-desktop/scripts/packaging/signing.js
  products/jbrowse-desktop/scripts/packaging/utils.js
  products/jbrowse-desktop/scripts/packaging/windows.js
Due: none

Remove `electron-builder` (#5457)
  package.json
  pnpm-lock.yaml
  products/jbrowse-desktop/.gitignore
  products/jbrowse-desktop/README.md
  products/jbrowse-desktop/assets/icon.png
  products/jbrowse-desktop/electron/window.ts
  products/jbrowse-desktop/electron/windowStateKeeper.ts
  products/jbrowse-desktop/entitlements.plist
  products/jbrowse-desktop/entitlements.txt
  products/jbrowse-desktop/linux-sandbox-fix.js
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/scripts/build.js
  products/jbrowse-desktop/scripts/buildElectronMain.js
  products/jbrowse-desktop/scripts/notarize.js
  products/jbrowse-desktop/scripts/package.js
  products/jbrowse-desktop/scripts/packaging/config.js
  products/jbrowse-desktop/scripts/packaging/linux.js
  products/jbrowse-desktop/scripts/packaging/mac.js
  products/jbrowse-desktop/scripts/packaging/packager.js
  products/jbrowse-desktop/scripts/packaging/signing.js
  products/jbrowse-desktop/scripts/packaging/utils.js
  products/jbrowse-desktop/scripts/packaging/windows.js
  products/jbrowse-desktop/sign.js
  products/jbrowse-desktop/tsconfig.electron.json
Due: prettier --write, eslint --fix

Further fixes for NSIS
  .github/workflows/release.yml
  .github/workflows/windows-electron.yml
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/scripts/package.js
  products/jbrowse-desktop/scripts/packaging/linux.js
  products/jbrowse-desktop/scripts/packaging/mac.js
  products/jbrowse-desktop/scripts/packaging/packager.js
  products/jbrowse-desktop/scripts/packaging/windows.js
  products/jbrowse-desktop/scripts/publish.js
  products/jbrowse-desktop/test/e2e.ts
Due: prettier --write, eslint --fix

[skip ci] New re-exports
  packages/core/package.json
  packages/core/src/ReExports/list.ts
  packages/core/src/ReExports/modules.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

More flags
  products/jbrowse-desktop/electron/window.ts
  products/jbrowse-desktop/scripts/buildElectronMain.js
Due: prettier --write, eslint --fix

Updates
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/TreeSidebar.tsx
Due: prettier --write, eslint --fix

Updates
  .ignore
  .prettierignore
  eslint.config.mjs
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/IndividualScaleBars.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/MultiWiggleColorLegend.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/MultiWiggleLegendBar.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/MultiWiggleLegendBarWrapper.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/SvgTree.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/TreeSidebar.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/WiggleDisplayComponent.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/treeTypes.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/makeSidebarSvg.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/renderSvg.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/treeDrawingAutorun.ts
  plugins/wiggle/src/WiggleRPC/executeClusterScoreMatrix.ts
Due: prettier --write, eslint --fix

Subtree filter
  plugins/variants/src/shared/MultiVariantBaseModel.ts
  plugins/variants/src/shared/components/TreeSidebar.tsx
  plugins/variants/src/shared/components/types.ts
  plugins/variants/src/shared/treeDrawingAutorun.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/TreeSidebar.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/treeTypes.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/treeDrawingAutorun.ts
  plugins/wiggle/src/WiggleRPC/executeClusterScoreMatrix.ts
Due: prettier --write, eslint --fix

Updates
  plugins/variants/src/shared/MultiVariantBaseModel.ts
  plugins/variants/src/shared/components/RectBg.tsx
  plugins/variants/src/shared/components/TreeSidebar.tsx
  plugins/variants/src/shared/constants.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/RectBg.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/TreeSidebar.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/constants.ts
Due: prettier --write, eslint --fix

Add PNG export option to all view types
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/ExportSvgDialog.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/model.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/types.ts
  plugins/circular-view/src/CircularView/components/ExportSvgDialog.tsx
  plugins/circular-view/src/CircularView/model.ts
  plugins/dotplot-view/src/DotplotView/components/ExportSvgDialog.tsx
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ExportSvgDialog.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/types.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/ExportSvgDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/types.ts
Due: prettier --write, eslint --fix

Fetch peptides for gene with CDS subfeatures
  plugins/canvas/src/CanvasFeatureRenderer/peptides/peptideUtils.test.ts
  plugins/canvas/src/CanvasFeatureRenderer/peptides/peptideUtils.ts
Due: prettier --write, eslint --fix

[update docs only] Update autogen docs
  plugins/canvas/src/CanvasFeatureRenderer/peptides/peptideUtils.test.ts
  plugins/canvas/src/CanvasFeatureRenderer/peptides/peptideUtils.ts
  website/docs/config/SharedLDDisplay.md
  website/docs/models/BaseTrackModel.md
  website/docs/models/LinearFeatureDisplay.md
  website/docs/models/LinearGenomeView.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/MultiVariantBaseModel.md
  website/docs/models/NonBlockCanvasDisplayMixin.md
  website/docs/models/SharedLDModel.md
  website/docs/models/SnackbarModel.md
Due: prettier --write, eslint --fix

[update docs only] Slightly better blogpost
  website/blog/2026-01-27-v4.1.3-release.md
Due: prettier --write

Reverse orientation
  plugins/canvas/src/CanvasFeatureRenderer/layout/layoutFeatures.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/calculateLabelPositions.ts
Due: prettier --write, eslint --fix

Reversed layout
  plugins/canvas/src/CanvasFeatureRenderer/layout/layoutFeatures.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/calculateLabelPositions.ts
  products/jbrowse-web/src/tests/__image_snapshots__/reversed_region_labels_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ReversedRegionLabels.test.tsx.snap
Due: prettier --write, eslint --fix

M1
  plugins/linear-genome-view/src/BaseLinearDisplay/models/calculateLabelPositions.ts
  products/jbrowse-web/src/tests/__image_snapshots__/reversed_region_labels_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ReversedRegionLabels.test.tsx.snap
Due: prettier --write, eslint --fix

Add PNG export option to the 'Export SVG' dialog (#5463)
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/ExportSvgDialog.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/model.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/types.ts
  plugins/circular-view/src/CircularView/components/ExportSvgDialog.tsx
  plugins/circular-view/src/CircularView/model.ts
  plugins/dotplot-view/src/DotplotView/components/ExportSvgDialog.tsx
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ExportSvgDialog.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/types.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/ExportSvgDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/types.ts
Due: prettier --write, eslint --fix

[skip ci] Warn unknown flags
  products/jbrowse-img/src/cli.ts
Due: prettier --write, eslint --fix

Improve label layout in reverse orientation
  plugins/canvas/src/CanvasFeatureRenderer/layout/layoutFeatures.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/calculateLabelPositions.ts
  products/jbrowse-web/src/tests/__image_snapshots__/reversed_region_labels_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ReversedRegionLabels.test.tsx.snap
Due: prettier --write, eslint --fix

Fix jbrowse-img tests
  products/jbrowse-img/src/setupEnv.ts
Due: prettier --write, eslint --fix

Fix float
  plugins/linear-genome-view/src/BaseLinearDisplay/models/SvgFloatingLabels.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/renderSvg.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/renderSvg.tsx
  products/jbrowse-img/src/index.test.ts
Due: prettier --write, eslint --fix

Commit tests
  products/jbrowse-img/.gitignore
  products/jbrowse-img/test/.gitignore
  products/jbrowse-img/test/svg_configtracks_local.svg
  products/jbrowse-img/test/svg_from_volvox_fasta_and_bam.svg
  products/jbrowse-img/test/svg_from_volvox_fasta_and_bam_csi.svg
  products/jbrowse-img/test/svg_from_volvox_fasta_and_bam_norasterize.svg
  products/jbrowse-img/test/volvox-snpcov.svg
  products/jbrowse-img/test/volvox-vcf-export.svg
Due: none

Updates
  plugins/linear-genome-view/src/BaseLinearDisplay/models/SvgFloatingLabels.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/renderSvg.tsx
  products/jbrowse-img/src/index.test.ts
  products/jbrowse-img/src/setupEnv.ts
  products/jbrowse-img/test/svg_configtracks_local.svg
  products/jbrowse-img/test/svg_from_volvox_fasta_and_bam.svg
  products/jbrowse-img/test/svg_from_volvox_fasta_and_bam_csi.svg
  products/jbrowse-img/test/svg_from_volvox_fasta_and_bam_norasterize.svg
  products/jbrowse-img/test/volvox-snpcov.svg
  products/jbrowse-img/test/volvox-vcf-export.svg
Due: prettier --write, eslint --fix

Add more backward compatibility exports
  packages/core/package.json
  packages/core/scripts/generateExports.mjs
Due: none

Add more backward compatibility exports (#5467)
  packages/core/package.json
  packages/core/scripts/generateExports.mjs
Due: none
