Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

odp_linkage_groups_synteny: headings name the genomes, attributeColumns paragraph split
  website/docs/tutorials/odp_linkage_groups_synteny.md
Due: prettier --write

allvsall_synteny: headings name the strains, paa and graph-segment sentences plainer
  website/docs/tutorials/allvsall_synteny.md
Due: prettier --write

homoeolog_synteny: headings name the pairs, kaks table paragraph untangled
  website/docs/tutorials/homoeolog_synteny.md
Due: prettier --write

selection_pressure: headings gloss LYZ and name the table track, collinear replaced
  website/docs/tutorials/selection_pressure.md
Due: prettier --write

orthofinder_synteny: stacking sentences open with Open, keeping their figure instruction
  website/docs/tutorials/orthofinder_synteny.md
Due: prettier --write

long-captions: mcscan_anchors caption is under the limit
  website/scripts/long-captions.txt
Due: none

synteny_visualization: ribbons stay ribbons in the caption and the options pointer
  website/docs/tutorials/synteny_visualization.md
Due: prettier --write

long-captions: trailing newline the check writes
  website/scripts/long-captions.txt
Due: none

dog10k_lof: genotype heading names its subject, copy-number prose uses plain track and depth words
  website/docs/tutorials/dog10k_lof.md
Due: prettier --write

dog10k_selection: Fst and haplotype glossed, headings name their subject, panel words replaced
  website/docs/tutorials/dog10k_selection.md
Due: prettier --write

dog10k_svs: headings name the locus they check, OMIA/Paragraph/SINE glossed, retrocopy steps become bullets
  website/docs/tutorials/dog10k_svs.md
Due: prettier --write

local_ancestry: headings name their step, panel and local ancestry glossed, figure caption decodes the colours
  website/docs/tutorials/local_ancestry.md
Due: prettier --write

population_genomics: Fst, pi and Tajima's D glossed in the opening, section headings name their subject
  website/docs/tutorials/population_genomics.md
Due: prettier --write

ld_human: headings name their step, LD/Fst/MAF/haplotype glossed, lane becomes track
  website/docs/tutorials/ld_human.md
Due: prettier --write

ld_mosquitoes: headings name the karyotype and populations compared, heterokaryotype and LD glossed
  website/docs/tutorials/ld_mosquitoes.md
Due: prettier --write

bxd_qtl: QTL, LOD and F1 glossed, headings name the strains and peaks they cover
  website/docs/tutorials/bxd_qtl.md
Due: prettier --write

unshown-settings: dog10k_lof drops to zero after the clarity pass
  website/scripts/unshown-settings.txt
Due: none

Tutorials keep each menu path the clarity pass wrapped on one line
  website/docs/tutorials/dog10k_lof.md
  website/docs/tutorials/pangenome_cattle.md
  website/docs/tutorials/pangenome_mouse.md
  website/docs/tutorials/primate_orthologs_synteny.md
  website/scripts/unshown-settings.txt
Due: prettier --write

Hi-C lists its colour object's problems in the corner, the lines plotProblems and validate report
  plugins/hic/src/LinearHicDisplay/components/ReactComponent.tsx
  plugins/hic/src/LinearHicDisplay/model.ts
  plugins/hic/src/LinearHicDisplay/notices.test.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/diagrams/README.md
  website/docs/models/LinearHicDisplay.md
Due: prettier --write, eslint --fix

Specs follow the renamed tcga_cohort_mutations and display_settings headings
  website/scripts/specs/tcga.ts
  website/scripts/specs/ui.ts
Due: prettier --write, eslint --fix

Spec comments cite the renamed tcga subtype and pangenome_ecoli synteny headings
  website/scripts/specs/tcga.ts
  website/scripts/videos/synteny.ts
Due: prettier --write, eslint --fix

tutorials/CLAUDE.md: a menu path stays on one source line
  website/docs/tutorials/CLAUDE.md
Due: prettier --write

Tutorials settle the sentences the clarity pass flagged
  website/docs/tutorials/agent_synteny.md
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/dog10k_selection.md
  website/docs/tutorials/dog10k_svs.md
  website/docs/tutorials/local_ancestry.md
  website/docs/tutorials/scrna_pseudobulk.md
  website/docs/tutorials/selection_pressure.md
  website/docs/tutorials/sv_visualization_cgiab.md
Due: prettier --write

selection_pressure: the opacity it names as the default is 0.25
  website/docs/tutorials/selection_pressure.md
Due: prettier --write

Synteny figures reshot at the 0.25 default ribbon alpha
  figures.lock
Due: none

Two synteny comments quote the 0.25 default alpha
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyTypes.slang
  plugins/linear-comparative-view/src/LinearSyntenyRPC/syntenyDrawOrder.ts
Due: prettier --write, eslint --fix

HPRC demo drops its v2.0-era files and opens the gbz track as lanes
  demos/hprc/README.txt
  demos/hprc/config.json
  demos/hprc_multiway/README_graph.txt
  website/docs/tutorials/pangenome_prepare_graph.md
  website/scripts/screenshot-review-plan.md
Due: prettier --write

hprc-v2-1-cleanup holds only the plugin release and reshoot
  agent-docs/handoffs/README.md
  agent-docs/handoffs/hprc-v2-1-cleanup.md
Due: prettier --write

Tutorials fix what a cold read of fifteen pages tripped on
  website/docs/tutorials/alu_age.md
  website/docs/tutorials/cancer_sv.md
  website/docs/tutorials/circular_synteny.md
  website/docs/tutorials/dog10k_selection.md
  website/docs/tutorials/hic_structural_variants.md
  website/docs/tutorials/homoeolog_synteny.md
  website/docs/tutorials/ld_mosquitoes.md
  website/docs/tutorials/local_ancestry.md
  website/docs/tutorials/orthofinder_synteny.md
  website/docs/tutorials/pangenome_cattle.md
  website/docs/tutorials/pangenome_hprc_repeats.md
  website/docs/tutorials/pangenome_mouse.md
Due: prettier --write

Republish the HPRC paper figures on graph plugin 6.1.1, closing hprc-v2-1-cleanup
  agent-docs/handoffs/README.md
  agent-docs/handoffs/hprc-v2-1-cleanup.md
  figures.lock
Due: prettier --write

Three handoffs carry the settled plans for the unit slot and the LD and MAF colour objects
  agent-docs/handoffs/README.md
  agent-docs/handoffs/ld-color-object.md
  agent-docs/handoffs/maf-color-object.md
  agent-docs/handoffs/unit-slot.md
  products/jbrowse-img/README.md
Due: prettier --write

Handoff: cold load to first alignments paint, with the probe that measured it
  agent-docs/handoffs/README.md
  agent-docs/handoffs/cold-load-to-first-alignments-paint.md
  products/jbrowse-web/browser-tests/measure-load-latency.ts
  products/jbrowse-web/browser-tests/probe-coldload-phases.ts
Due: prettier --write, eslint --fix

LD pins the ramp it binds and the key it draws for r2 and dprime, byte for byte
  plugins/variants/src/LDDisplay/colorParity.test.ts
Due: prettier --write, eslint --fix

Hi-C's dark-low-end reverse and Color scheme submenu move into display-kit
  packages/display-kit/src/colorByMenu.ts
  packages/display-kit/src/colorConfigSchema.ts
  plugins/hic/src/LinearHicDisplay/model.ts
  plugins/hic/src/LinearHicDisplay/trackMenuItems.ts
Due: prettier --write, eslint --fix

LD's metric is color.field on an LDColor object built from the colour kit
  plugins/variants/src/LDDisplay/colorEncoding.test.ts
  plugins/variants/src/LDDisplay/colorParity.test.ts
  plugins/variants/src/LDDisplay/colorScales.test.ts
  plugins/variants/src/LDDisplay/components/LDDisplayComponent.tsx
  plugins/variants/src/LDDisplay/components/drawLDBlocks.ts
  plugins/variants/src/LDDisplay/components/ldColorRamp.test.ts
  plugins/variants/src/LDDisplay/components/ldColorRamp.ts
  plugins/variants/src/LDDisplay/components/ldMarks.test.ts
  plugins/variants/src/LDDisplay/components/ldMarks.ts
  plugins/variants/src/LDDisplay/components/ldRenderingBackendTypes.ts
  plugins/variants/src/LDDisplay/components/ldValueLabel.test.ts
  plugins/variants/src/LDDisplay/components/ldValueLabel.ts
  plugins/variants/src/LDDisplay/components/shaders/ldGenomic.glsl.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldGenomic.iface.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldGenomic.wgsl.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldUniform.glsl.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldUniform.iface.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldUniform.wgsl.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldUniforms.slang
  plugins/variants/src/LDDisplay/configSchema.test.ts
  plugins/variants/src/LDDisplay/configSchemaLDTrack.ts
  plugins/variants/src/LDDisplay/ldColorConfigSchema.ts
  plugins/variants/src/LDDisplay/model.ts
  plugins/variants/src/LDDisplay/notices.test.ts
  plugins/variants/src/LDDisplay/renderSvg.tsx
  plugins/variants/src/LDDisplay/testEnv.ts
  plugins/variants/src/LDDisplay/trackMenuItems.test.ts
  plugins/variants/src/LDDisplay/trackMenuItems.ts
Due: prettier --write, eslint --fix

Writers spell LD's metric as color.field, and the LD spec drops showLDTriangle
  agent-docs/ideas/collections/tutorial-tours.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  packages/core/src/util/tabix.ts
  plugins/variants/src/PlinkLDAdapter/PlinkLDTabixAdapter.test.ts
  plugins/variants/src/PlinkLDAdapter/PlinkLDTabixAdapter.ts
  scripts/build_ag1000g_ld.sh
  website/docs/config_guides/variant_track.md
  website/docs/developer_guides/upgrading_v5.md
  website/docs/tutorials/ld_human.md
  website/docs/tutorials/ld_mosquitoes.md
  website/scripts/specs/ld.ts
Due: prettier --write, eslint --fix

LDColor's config page lists its field and scale values, and autogen regenerates
  agent-docs/ARCHITECTURE.md
  agent-docs/reference/SHADER_JS_CODEGEN.md
  packages/core/src/ReExports/reExports.generated.json
  plugins/variants/src/LDDisplay/ldColorConfigSchema.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  products/jbrowse-web/src/tests/__snapshots__/ConfigSlotDefaults.test.ts.snap
  scripts/registryBundleSizes.json
  website/docs/config/LDColor.md
  website/docs/config/LDTrackDisplay.md
  website/docs/models/LDTrackDisplay.md
  website/src/lib/liveLinks.generated.ts
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

The LD colour object thread lands, so its handoff goes
  agent-docs/handoffs/README.md
  agent-docs/handoffs/ld-color-object.md
Due: prettier --write

Alignments display spells the observation unit as unit: 'read' | 'chain'
  plugins/alignments/src/LinearAlignmentsDisplay/configSchema.ts
  plugins/alignments/src/LinearAlignmentsDisplay/configSlotViews.ts
  plugins/alignments/src/LinearAlignmentsDisplay/constants.ts
  plugins/alignments/src/LinearAlignmentsDisplay/fetchAutorun.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/contextMenu.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/contextMenu.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/readConnections.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/menus/readConnections.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.coupling.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/rendererTypes.ts
  plugins/alignments/src/LinearAlignmentsDisplay/showSoftClipping.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/viewSplitAlignmentRegions.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/viewSplitAlignmentRegions.ts
  plugins/alignments/src/RenderAlignmentDataRPC/CLAUDE.md
  plugins/alignments/src/index.ts
  plugins/alignments/src/shared/chainGroupingKey.ts
  plugins/blat/src/IsPcrDialog.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/util.test.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/util.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/menus.ts
  products/jbrowse-img/README.md
  products/jbrowse-img/src/applyTrackOpts.test.ts
  products/jbrowse-img/src/applyTrackOpts.ts
  products/jbrowse-img/src/trackOpts.test.mjs
  products/jbrowse-web/browser-tests/suites/alignments.ts
  products/jbrowse-web/src/tests/AlignmentGroupBy.test.tsx
  website/docs/tutorials/display_settings.md
  website/release_announcement_drafts/v5.0.0.changelog.md
  website/scripts/check-doc-slots.ts
  website/scripts/screenshot-review-plan.md
  website/scripts/specs/cancer_sv.ts
  website/scripts/specs/jbrowse-img.ts
  website/scripts/specs/pangenome.ts
  website/scripts/specs/sv.ts
  website/scripts/specs/ui.ts
  website/scripts/videos/CLAUDE.md
  website/scripts/videos/config.ts
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
