Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs(alignments): the soft-clipping menu figure predates the row's help icon
  figures.lock
Due: none

docs(optimizations): file the decode wins under the clock that pays for them
  website/docs/developer_guides/dataflow.md
  website/docs/developer_guides/optimizations.md
Due: prettier --write

feat(lgv): publish the SVG export as a hook a host can mount
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/useViewSvgFigure.test.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/useViewSvgFigure.tsx
  plugins/linear-genome-view/src/index.ts
Due: prettier --write, eslint --fix

docs(lgv): say what the figure's memo is holding, and where
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/useViewSvgFigure.test.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/useViewSvgFigure.tsx
Due: prettier --write, eslint --fix

refactor(byo): the SVG figure page imports the block instead of writing it
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/useViewSvgFigure.tsx
  products/jbrowse-build-your-own/examples-site/eagerBundleSizes.json
  products/jbrowse-build-your-own/examples-site/src/examples/SvgFigure.tsx
Due: prettier --write, eslint --fix

fix(app): the SVG export dropped the config theme it says it uses
  packages/product-core/src/Session/Themes.ts
  products/jbrowse-react-app/src/ThemeOptions.test.ts
Due: prettier --write, eslint --fix

docs(app): regenerate the model tables for the spliced theme options
  website/docs/models/BaseWebSessionModel.md
  website/docs/models/JBrowseDesktopSessionModel.md
  website/docs/models/JBrowseWebSessionModel.md
  website/docs/models/ThemeManagerSessionMixin.md
Due: prettier --write

refactor(lgv): the fit-to-width rule has one spelling, and a test where it lives
  plugins/canvas/src/LinearBasicDisplay/CollapseIntronsDialog/util.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/util.ts
Due: prettier --write, eslint --fix

refactor(collapse-introns): three copied shapes become three shared ones
  packages/core/src/assemblyManager/assembly.ts
  packages/core/src/util/clampToContig.test.ts
  packages/core/src/util/clampToContig.ts
  packages/core/src/util/index.ts
  plugins/alignments/src/LinearAlignmentsDisplay/viewMateRegion.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/viewMateRegion.ts
  plugins/canvas/src/LinearBasicDisplay/CollapseIntronsDialog/CollapseIntronsDialog.tsx
  plugins/canvas/src/LinearBasicDisplay/CollapseIntronsDialog/collapseSummary.test.ts
  plugins/canvas/src/LinearBasicDisplay/CollapseIntronsDialog/util.test.ts
  plugins/canvas/src/LinearBasicDisplay/CollapseIntronsDialog/util.ts
  plugins/canvas/src/LinearBasicDisplay/soloPersistence.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/showRegionsWithUndo.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/showRegionsWithUndo.ts
  plugins/linear-genome-view/src/index.ts
  products/jbrowse-web/src/tests/CollapseIntrons.test.tsx
  website/docs/models/Assembly.md
  website/docs/models/LinearGenomeView.md
Due: prettier --write, eslint --fix

perf(core): the contig lookup reads the memo built for it
  packages/core/src/util/locStringsToRegions.ts
  packages/sv-core/src/navToMultiLevelBreak.ts
  packages/sv-core/src/util.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/util.ts
Due: prettier --write, eslint --fix

chore: pre-push autofix
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/useViewSvgFigure.test.tsx
Due: prettier --write, eslint --fix

fix(lgv): the figure test's own helper threw before any assertion ran
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/useViewSvgFigure.test.tsx
Due: prettier --write, eslint --fix

test: pin the two claims the last batch left unpinned, and stop one message lying
  plugins/alignments/src/LinearAlignmentsDisplay/viewMateRegion.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/viewMateRegion.ts
  plugins/canvas/src/LinearBasicDisplay/CollapseIntronsDialog/CollapseIntronsDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/showRegionsWithUndo.test.ts
Due: prettier --write, eslint --fix

test(render-core): pin the anchor split, not just the integer it returns
  packages/render-core/src/canvas2dUtils.test.ts
  website/scripts/specs/alignments.ts
Due: prettier --write, eslint --fix

docs(perf): the two pipeline pages say what they mean, and the figure names its neighbours
  figures.lock
  website/diagrams/dataflow.dot
  website/diagrams/diagrams.lock
  website/docs/developer_guides/dataflow.md
  website/docs/developer_guides/optimizations.md
Due: prettier --write

feat(website): the diagrams README's usage table is generated from the docs
  package.json
  scripts/autogen.ts
  website/diagrams/README.md
  website/scripts/gen-diagram-usage.ts
Due: prettier --write, eslint --fix

docs(perf): a made-up sample count, and two sentences that read badly
  website/docs/developer_guides/optimizations.md
Due: prettier --write

refactor(alignments): a group-by dimension states one fact per field
  plugins/alignments/src/RenderAlignmentDataRPC/CLAUDE.md
  plugins/alignments/src/shared/groupFeatures.test.ts
  plugins/alignments/src/shared/groupFeatures.ts
Due: prettier --write, eslint --fix

fix(alignments): the group-by tag scan reads the track's own read filter
  plugins/alignments/src/LinearAlignmentsDisplay/dialogs/GroupByDialog.tsx
  plugins/alignments/src/RenderAlignmentDataRPC/GetGlobalValueForTag.ts
  plugins/alignments/src/shared/getUniqueTags.ts
Due: prettier --write, eslint --fix

fix(alignments): one predicate for "is this read split", not two
  plugins/alignments/src/RenderAlignmentDataRPC/executeRenderAlignmentData.ts
  plugins/alignments/src/shared/groupFeatures.test.ts
  plugins/alignments/src/shared/groupFeatures.ts
  plugins/alignments/src/shared/splitAlignment.ts
Due: prettier --write, eslint --fix

feat(docs): a measurement is a record, and the tables render from it
  agent-docs/architecture-decision-records/adr-064-parsed-chunk-budgets-are-per-worker-not-per-file.md
  agent-docs/measurements/bgzf-pool-tabix.json
  agent-docs/measurements/cache-budget-per-file-split.json
  agent-docs/measurements/cache-budget-retention-climb.json
  agent-docs/measurements/eager-bundle-chunks.json
  agent-docs/measurements/format-fields-vs-samples.json
  agent-docs/measurements/genotype-codes-speedup.json
  agent-docs/measurements/pif-coarse-tier-bytes.json
  agent-docs/measurements/scalebar-zoom-churn.json
  agent-docs/measurements/synteny-pick-collinear.json
  agent-docs/measurements/synteny-pick-random.json
  agent-docs/measurements/track-selector-row-cost.json
  agent-docs/reference/BGZF_WORKER_POOL.md
  agent-docs/reference/EAGER_BUNDLE.md
  agent-docs/reference/INTERACTION_PERF.md
  agent-docs/reference/MULTI_SAMPLE_VARIANTS.md
  agent-docs/reference/SYNTENY_LOD.md
  agent-docs/reference/SYNTENY_PICKING.md
  agent-docs/reference/TRACK_SELECTOR_PERF.md
  package.json
  scripts/autogen.ts
  website/docs/developer_guides/optimizations.md
  website/scripts/generate-measurement-tables.ts
  website/scripts/measurements.test.ts
  website/scripts/measurements.ts
  website/scripts/sync-measurements.ts
Due: prettier --write, eslint --fix

feat(docs): a sentence quotes a cell instead of restating it
  agent-docs/CLAUDE.md
  agent-docs/reference/BGZF_WORKER_POOL.md
  agent-docs/reference/EAGER_BUNDLE.md
  agent-docs/reference/SYNTENY_PICKING.md
  package.json
  scripts/autogen.ts
  website/docs/CLAUDE.md
  website/docs/developer_guides/optimizations.md
  website/scripts/measurements.test.ts
  website/scripts/measurements.ts
  website/scripts/sync-inline-figures.ts
Due: prettier --write, eslint --fix

feat(docs): import a jb2bench result instead of retyping it
  agent-docs/measurements/zoom-in-refetch.json
  agent-docs/reference/GPU_GLOSSARY.md
  agent-docs/reference/README.md
  agent-docs/reference/RENDERER_BENCHMARKS.md
  package.json
  website/scripts/import-jb2bench.ts
  website/scripts/measurements.ts
  website/scripts/sync-measurements.ts
Due: prettier --write, eslint --fix

fix(docs): an inline figure marker cannot start a line
  agent-docs/CLAUDE.md
  agent-docs/reference/BGZF_WORKER_POOL.md
  agent-docs/reference/EAGER_BUNDLE.md
  agent-docs/reference/GPU_GLOSSARY.md
  agent-docs/reference/SYNTENY_PICKING.md
  website/docs/CLAUDE.md
  website/docs/developer_guides/optimizations.md
  website/scripts/measurements.test.ts
  website/scripts/measurements.ts
  website/scripts/sync-inline-figures.ts
Due: prettier --write, eslint --fix

docs(figures): two menu figures teach menus the app no longer draws
  figures.lock
Due: none

fix(core): a status phase shorter than the throttle window paints nothing
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-071-a-status-phase-must-outlive-the-window.md
  agent-docs/architecture-decision-records/adr-072-only-one-phase-at-a-time-is-summable.md
  packages/core/src/util/createStopTokenRotation.ts
  packages/core/src/util/progress.test.ts
  packages/core/src/util/progress.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/FetchMixin.test.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/FetchMixin.ts
  scripts/chromeBundleSizes.json
Due: prettier --write, eslint --fix

feat(canvas): the isoform chip names the rule that picked the transcript
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/components/FeatureComponent.tsx
  plugins/canvas/src/LinearBasicDisplay/components/GeneGlyphControl.tsx
  plugins/canvas/src/LinearBasicDisplay/components/geneGlyphTooltip.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/geneGlyphTooltip.ts
  plugins/canvas/src/LinearBasicDisplay/geneGlyphNotice.test.ts
  plugins/canvas/src/LinearBasicDisplay/model.ts
  plugins/canvas/src/RenderFeatureDataRPC/executeRenderFeatureData.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/subfeatures.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/subfeatures.ts
  plugins/canvas/src/RenderFeatureDataRPC/isoformPicks.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/isoformPicks.ts
  plugins/canvas/src/RenderFeatureDataRPC/rpcTypes.ts
  plugins/canvas/src/RenderFeatureDataRPC/types.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/CanonicalTranscriptTags.test.tsx
  test_data/volvox/config.json
  test_data/volvox/volvox.canonical_tags.gff3
  test_data/volvox/volvox.canonical_tags.gff3.gz
  test_data/volvox/volvox.canonical_tags.gff3.gz.tbi
  website/docs/user_guides/gene_track.md
  website/scripts/specs/genomes_basics.ts
  website/scripts/specs/qc.ts
Due: prettier --write, eslint --fix

build(lint): promote two silent-failure invariants out of prose, and stop the guard set drifting
  eslint.config.mjs
  plugins/alignments/src/CLAUDE.md
Due: prettier --write

build(docs): regenerate the model table for geneGlyphIsoformPicks
  website/docs/models/LinearBasicDisplay.md
Due: prettier --write

refactor(alignments): the read lookup and the details fetch leave model.ts too
  plugins/alignments/src/LinearAlignmentsDisplay/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/fittedReadPitch.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/groupedDataMaps.ts
  plugins/alignments/src/LinearAlignmentsDisplay/lanes.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/readLookup.ts
  plugins/alignments/src/LinearAlignmentsDisplay/rpcCalls.ts
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write, eslint --fix

refactor(alignments): three per-section overlay walks, and the lane projection, become pure functions
  plugins/alignments/src/LinearAlignmentsDisplay/groupLayout.ts
  plugins/alignments/src/LinearAlignmentsDisplay/lanes.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/overlaySections.ts
Due: prettier --write, eslint --fix

build(docs): regenerate the alignments model tables after the rebase
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write

chore: pre-push autofix
  website/scripts/generate-measurement-tables.ts
  website/scripts/measurements.ts
Due: prettier --write, eslint --fix

ci: run the tests once without React Compiler, which is what we publish
  .github/workflows/push.yml
  CLAUDE.md
  agent-docs/reference/COMPILER_TERNARY_FINDING.md
  babel.config.cjs
  package.json
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/useViewSvgFigure.test.tsx
Due: prettier --write, eslint --fix

docs(adr-055): price the retrofit, and say the rule is about exported types
  CLAUDE.md
  agent-docs/architecture-decision-records/adr-055-mst-model-types-are-interfaces.md
Due: prettier --write

fix(cli): reindex volvox trix after the canonical-tags track landed
  test_data/volvox/trix/volvox-rev-del_meta.json
  test_data/volvox/trix/volvox.ix
  test_data/volvox/trix/volvox_meta.json
Due: none

fix(website): annotate fail so tsc narrows, and rename two typo'd fixtures
  _typos.toml
  website/scripts/measurements.test.ts
  website/scripts/measurements.ts
Due: prettier --write, eslint --fix

fix(alignments): export the lane, read-hit and index-map types by owning file
  plugins/alignments/src/index.ts
  products/jbrowse-cli/README.md
Due: prettier --write, eslint --fix

chore: pre-push autofix
  website/docs/cli.md
Due: prettier --write

docs(api): follow a delegated .views()/.actions() block to its declaration
  website/scripts/api-docs/coverage-gaps.txt
  website/scripts/api-docs/delegatedBlocks.test.ts
  website/scripts/api-docs/generate.ts
  website/scripts/api-docs/util.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
