Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

docs(sv-core): the two keeps-directions read their strings with opposite polarity
  packages/sv-core/README.md
  packages/sv-core/src/util.ts
  website/docs/api/sv-core.md
Due: prettier --write, eslint --fix

fix(sv-core): a junction may come from a paired record, not only an ALT
  packages/sv-core/src/findJunctionsNear.ts
  packages/sv-core/src/walkBreakendChain.test.ts
  packages/sv-core/src/walkBreakendChain.ts
Due: prettier --write, eslint --fix

docs(handoffs): the sv-core breakend audit's remaining three findings
  agent-docs/handoffs/README.md
  agent-docs/handoffs/sv-core-breakend-audit-remainder.md
Due: prettier --write

fix(multiway): a lane matches assembly and refNames through the aliases
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/MultiWayRows.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  products/jbrowse-web/src/tests/MultiWaySyntenyAliases.test.tsx
  test_data/multiway_blocks/grape_self.blocks
  test_data/multiway_blocks/peach.chromAlias.txt
  test_data/multiway_blocks/peach_genes.gff3
Due: prettier --write, eslint --fix

fix(multiway): a reverse-strand block twists its ribbon
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/MultiWayRows.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/layoutMultiWay.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/layoutMultiWay.ts
  products/jbrowse-web/src/tests/MultiWaySyntenyStrand.test.tsx
  test_data/multiway_blocks/three_way_rev.paf
Due: prettier --write, eslint --fix

fix(multiway): two disjoint hits in one lane draw as two blocks
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/MultiWayRows.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/layoutMultiWay.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/layoutMultiWay.ts
Due: prettier --write, eslint --fix

feat(core): one extension registration can name several element types
  packages/core/src/pluggableElementTypes/addMenuItems.test.ts
  packages/core/src/pluggableElementTypes/addMenuItems.ts
  packages/core/src/pluggableElementTypes/extendElementType.ts
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/index.ts
Due: prettier --write, eslint --fix

docs: close out the derivative-allele handoff — the lineage question, answered
  agent-docs/handoffs/DERIVATIVE_ALLELE_THREAD.md
  agent-docs/handoffs/OOM_RECOVERY_2026-08-25.md
  agent-docs/handoffs/README.md
  agent-docs/reference/REJECTED_IDEAS.md
Due: prettier --write

docs(rejected-ideas): name the other unregistered shared display bases
  agent-docs/reference/REJECTED_IDEAS.md
Due: prettier --write

docs(rejected-ideas): cite the sibling commit by subject, not by hash
  agent-docs/reference/REJECTED_IDEAS.md
Due: prettier --write

docs(menus): the array form of addDisplayMenuItems / addViewMenuItems
  website/docs/developer_guides/extension_points.md
  website/docs/developer_guides/menus.md
Due: prettier --write

docs(rejected-ideas): rewrap the extendsType entry and restate its third opener
  agent-docs/reference/REJECTED_IDEAS.md
Due: prettier --write

test: pin lazyChunk's retry and the synteny clamp's sameScale guard
  packages/app-core/src/ui/App/lazyChunk.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/sameScale.integration.test.ts
  products/jbrowse-web/src/tests/ExportSvgLinearSyntenyView.test.tsx
Due: prettier --write, eslint --fix

test: pin LD's hover gate to isLoadingOrCanceled
  plugins/variants/src/LDDisplay/components/hoverGate.test.tsx
Due: prettier --write, eslint --fix

test: pin the density half of the gate's tier guard
  plugins/canvas/src/shared/CanvasFeatureGateMixin.test.ts
Due: prettier --write, eslint --fix

test: pin the wheel to the tracks area, not the whole view
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeViewContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/wheelBinding.test.tsx
  products/jbrowse-web/browser-tests/probe-scroll-gutter.ts
Due: prettier --write, eslint --fix

lint: a worker payload does not go to a React prop
  eslint.config.mjs
Due: none

fix(variants): a reordered LD cell nothing computed is no longer drawn as 0
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/ld-core/src/compositeDprimeClamp.test.ts
  packages/ld-core/src/index.ts
  packages/ld-core/src/ldNotComputed.ts
  packages/ld-core/src/ldStats.generated.ts
  packages/ld-core/src/ldStatsParity.test.ts
  plugins/variants/src/LDDisplay/components/Canvas2DLDRenderer.test.ts
  plugins/variants/src/LDDisplay/components/Canvas2DLDRenderer.ts
  plugins/variants/src/LDDisplay/components/shaders/ldGenomic.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldUniform.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldUniforms.slang
  plugins/variants/src/LDDisplay/overlayCoords.test.ts
  plugins/variants/src/LDDisplay/shared.ts
  plugins/variants/src/RenderLDDataRPC/reversedRegions.test.ts
  plugins/variants/src/RenderLDDataRPC/reversedRegions.ts
Due: prettier --write, eslint --fix

fix(variants): the LD display says what it measured, not what it assumed
  plugins/variants/src/LDDisplay/components/LDDisplayComponent.tsx
  plugins/variants/src/LDDisplay/components/LDStatusBar.test.ts
  plugins/variants/src/LDDisplay/components/LDStatusBar.tsx
  plugins/variants/src/LDDisplay/components/ldColorRamp.test.ts
  plugins/variants/src/LDDisplay/components/ldColorRamp.ts
  plugins/variants/src/LDDisplay/overlayCoords.test.ts
  plugins/variants/src/LDDisplay/shared.ts
  plugins/variants/src/LDDisplay/trackMenuItems.test.ts
  plugins/variants/src/LDDisplay/trackMenuItems.ts
  website/docs/models/SharedLDModel.md
Due: prettier --write, eslint --fix

feat(variants): a GPU LD matrix its CPU twin disagrees with goes to the CPU
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  plugins/variants/src/VariantRPC/getLDMatrixGPU.ts
  plugins/variants/src/VariantRPC/ldDispatchPlan.ts
  plugins/variants/src/VariantRPC/ldGpuSpotCheck.test.ts
  plugins/variants/src/VariantRPC/ldGpuSpotCheck.ts
  plugins/variants/src/VariantRPC/planLDDispatch.test.ts
Due: prettier --write, eslint --fix

feat(core): gate the published exports map against the last release
  CLAUDE.md
  agent-docs/reference/PLUGIN_ABI_STABILITY.md
  packages/core/scripts/generateExports.mjs
  packages/core/src/ReExports/abiPreviousRelease.json
  packages/core/src/ReExports/abiPreviousRelease.test.ts
  packages/core/src/ReExports/knownRemovals.test.ts
  packages/core/src/ReExports/knownRemovals.ts
  scripts/gen-abi-previous-release.ts
  website/docs/developer_guides/upgrading_v5.md
  website/scripts/generate-abi-removals.ts
Due: prettier --write, eslint --fix

docs(adr-091): re-derive the eager closure, and mark what only the lost branch saw
  agent-docs/ARCHITECTURE.md
  agent-docs/architecture-decision-records/adr-091-a-displays-settings-are-a-declaration.md
  agent-docs/ideas/a-display-declares-itself.md
  agent-docs/measurements/eager-spec-closure.json
  agent-docs/reference/REJECTED_IDEAS.md
  example-plugins/score-example/src/LinearScoreDisplay/model.ts
  scripts/eager-import-closure.ts
  website/docs/config/FeatureTrack.md
  website/docs/config/LinearScoreDisplay.md
  website/docs/developer_guides/creating_display.md
  website/docs/developer_guides/plotting_features.md
  website/docs/models/LinearScoreDisplay.md
Due: prettier --write, eslint --fix

fix(render-core): mockHal's createTexture ignores its binding, and says so
  packages/render-core/src/hal/mockHal.ts
Due: prettier --write, eslint --fix

docs: close the OOM-recovery thread, filing its two remainders
  agent-docs/TODO.md
  agent-docs/handoffs/OOM_RECOVERY_2026-08-25.md
  agent-docs/handoffs/README.md
  agent-docs/ideas/README.md
  agent-docs/ideas/capture-stability-by-frame-agreement.md
  agent-docs/todo/the-graph-plugins-25-tsc-errors-and-three-unpushed-commits.md
Due: prettier --write

docs(rejected-ideas): state the plugin-adoption inference as one
  agent-docs/reference/REJECTED_IDEAS.md
Due: prettier --write

docs(tours): a round trip through the graph, the stack and one MAF row
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/specs/synteny.ts
  website/scripts/videos/synteny.ts
Due: prettier --write, eslint --fix

feat(lgv): a nested linear view carries its own testid
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeViewContainer.tsx
  website/scripts/locusAnchor.ts
  website/scripts/selectorAnchor.ts
Due: prettier --write, eslint --fix

fix(tours): the MAF row tour drags on backbone, and an action anchor can name an element
  website/scripts/actions.ts
  website/scripts/screenshot-spec-types.ts
  website/scripts/selectorAnchor.ts
  website/scripts/specs/synteny.ts
  website/scripts/videos/synteny.ts
Due: prettier --write, eslint --fix

fix(lgv): a row collapsed to its ruler keeps the ruler's gesture
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeViewContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/collapsedRowRubberband.test.tsx
  website/scripts/videos/synteny.ts
Due: prettier --write, eslint --fix

figures(synteny): the two round-trip tours, filmed
  website/media.lock
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

docs(maf): the row menu opens on release, not on a right-click
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/user_guides/maf_track.md
Due: prettier --write

test(lgv): read the testid off the element, not through an interpolated selector
  plugins/linear-genome-view/src/LinearGenomeView/components/collapsedRowRubberband.test.tsx
Due: prettier --write, eslint --fix

docs: close the round-trip tours thread, filing what it found
  agent-docs/TODO.md
  agent-docs/handoffs/README.md
  agent-docs/handoffs/SYNTENY_ROUNDTRIP_TOURS.md
  agent-docs/reference/PANGENOME_GRAPHS.md
  agent-docs/todo/a-tooltip-outlives-the-menu-that-covered-its-display.md
  agent-docs/todo/the-graph-plugins-25-tsc-errors-and-three-unpushed-commits.md
Due: prettier --write

perf(alignments): bound the per-base wall's worker heap by the viewport
  agent-docs/ARCHITECTURE.md
  agent-docs/handoffs/README.md
  agent-docs/handoffs/per-base-subpixel-bin.md
  agent-docs/measurements/per-base-wall-bin.json
  packages/display-kit/package.json
  packages/display-kit/src/__snapshots__/publicApi.test.ts.snap
  packages/display-kit/src/subPixelBinBp.test.ts
  packages/display-kit/src/subPixelBinBp.ts
  plugins/alignments/benches/perBaseWall.probe.ts
  plugins/alignments/src/LinearAlignmentsDisplay/fetchAutorun.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/rpcCalls.ts
  plugins/alignments/src/RenderAlignmentDataRPC/executeRenderAlignmentData.ts
  plugins/alignments/src/RenderAlignmentDataRPC/types.ts
  plugins/alignments/src/features/alignedBaseWalk.ts
  plugins/alignments/src/features/derivativePaths/fetchToPaths.test.ts
  plugins/alignments/src/features/perBaseLetter/extract.test.ts
  plugins/alignments/src/features/perBaseLetter/extract.ts
  plugins/alignments/src/features/perBaseQuality/extract.test.ts
  plugins/alignments/src/features/perBaseQuality/extract.ts
  plugins/alignments/src/shared/colorSchemes.ts
  plugins/alignments/src/shared/extractFeatureArrays.test.ts
  plugins/alignments/src/shared/extractFeatureArrays.ts
  plugins/alignments/src/shared/workerColorBy.test.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearMafDisplay.md
Due: prettier --write, eslint --fix

fix(alignments): keep the interbase hit region inside the drawn band
  packages/alignments-core/src/rendererUtils.test.ts
  plugins/alignments/src/features/indicator/hitTest.test.ts
  plugins/alignments/src/features/indicator/hitTest.ts
Due: prettier --write, eslint --fix

fix(sv): face the junction on a strandless breakend
  packages/sv-core/src/util.test.ts
  packages/sv-core/src/util.ts
Due: prettier --write, eslint --fix

fix(alignments): bin the reverse-strand MM group in getMethBins
  packages/modifications-utils/src/getMethBins.test.ts
  packages/modifications-utils/src/getMethBins.ts
Due: prettier --write, eslint --fix

fix(product-core): keep the old session when a new snapshot fails to build
  packages/product-core/src/RootModel/BaseRootModel.test.ts
  packages/product-core/src/RootModel/BaseRootModel.ts
Due: prettier --write, eslint --fix
