Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

refactor(maf): drop needless id-keyed Map in MafGetSequences fasta path
  plugins/maf/src/LinearMafDisplay/components/computeVisibleAnnotations.ts
  plugins/maf/src/MafGetSequencesRpc/MafGetSequences.ts
  plugins/maf/src/util/processFeaturesToFasta.test.ts
  plugins/maf/src/util/processFeaturesToFasta.ts
Due: prettier --write, eslint --fix

fix(maf): don't classify a codon change without a reference amino acid
  plugins/maf/src/LinearMafDisplay/components/computeVisibleCodons.ts
Due: prettier --write, eslint --fix

refactor(maf): classify codon changes over triplet strings, not bytes
  plugins/maf/src/LinearMafDisplay/components/computeVisibleCodons.ts
Due: prettier --write, eslint --fix

feat(assembly): flat { name, uri } assembly config shorthand
  packages/core/src/assemblyManager/assemblyConfigSchema.ts
  packages/core/src/assemblyManager/expandAssemblyConfigShorthand.ts
  packages/core/src/util/tracks.ts
  plugins/sequence/src/expandAssemblySequenceAdapter.test.ts
  products/jbrowse-embedded-linear-genome-view/src/makeAssembly.test.ts
  products/jbrowse-embedded-linear-genome-view/src/makeAssembly.ts
  products/jbrowse-web/src/tests/assemblyConfigShorthand.test.ts
  test_data/hg38_only.json
  website/docs/config/BaseAssembly.md
Due: prettier --write, eslint --fix

feat(embedded): flat { name, uri } shorthand from makeAssembly
  products/jbrowse-embedded-linear-genome-view/src/makeAssembly.test.ts
  products/jbrowse-embedded-linear-genome-view/src/makeAssembly.ts
Due: prettier --write, eslint --fix

fix(alignments): reword linked-read connectors menu item + fix test
  plugins/alignments/src/LinearAlignmentsDisplay/menus/readConnections.ts
  products/jbrowse-web/src/tests/testLinkedReadsDisplay.tsx
Due: prettier --write, eslint --fix

fix(readvsref): thread sequenceAdapter through CoreGetFeatures for CRAM seq decode
  packages/core/src/rpc/RpcRegistry.ts
  packages/core/src/rpc/methods/CoreGetFeatures.ts
  plugins/linear-comparative-view/src/LinearReadVsRef/LinearReadVsRef.tsx
Due: prettier --write, eslint --fix

fix(canvas): overhang-aware fit label decimation keeps readable names
  plugins/canvas/src/LinearBasicDisplay/layout.test.ts
  plugins/canvas/src/LinearBasicDisplay/layout.ts
Due: prettier --write, eslint --fix

docs(architecture): correct shader fn names, svgReady terms, and Manhattan cache attribution
  agent-docs/ARCHITECTURE.md
Due: prettier --write

fix(embedded): make makeAssembly return type lint-stable
  products/jbrowse-embedded-linear-genome-view/src/makeAssembly.test.ts
  products/jbrowse-embedded-linear-genome-view/src/makeAssembly.ts
Due: prettier --write, eslint --fix

fix(canvas): cap fit-mode grow at the normal feature height
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/fitToDisplayHeight.test.ts
Due: prettier --write, eslint --fix

refactor(canvas): share fit squeeze/grow scale via bodyScaleTo helper
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
Due: prettier --write, eslint --fix

refactor(alignments): carry isSplit through ClassifiedPair for bezier fold-back
  plugins/alignments/src/features/linkedReads/compute.test.ts
  plugins/alignments/src/features/linkedReads/compute.ts
  plugins/alignments/src/features/linkedReads/computeOverlay.ts
Due: prettier --write, eslint --fix

docs(canvas): correct fitStage grow comment for the normal-height cap
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
Due: prettier --write, eslint --fix

docs(tutorials): tidy See also sections — brevity, no italics/normal mix
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/multiway_synteny.md
  website/docs/tutorials/protein_structure.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/docs/tutorials/synteny_visualization.md
Due: prettier --write

docs(tutorials): sync display-type names and tidy prose
  website/docs/tutorials/analyze_trio.md
  website/docs/tutorials/introgression.md
  website/docs/tutorials/population_genomics.md
  website/docs/tutorials/rnaseq.md
  website/docs/tutorials/sv_multisamples.md
Due: prettier --write

feat(alignments): per-value session-default pins in colorBy menu
  plugins/alignments/src/LinearAlignmentsDisplay/menus/colorBy.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/menus/colorBy.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
Due: prettier --write, eslint --fix

docs: document stringArray/maybeNumber slots; add per-context wiggle to methylation figures
  website/docs/config_guides/slot_types.md
  website/scripts/specs/methylation.ts
  website/static/img/methylation/arabidopsis_wgbs_boundary.png
  website/static/img/methylation/arabidopsis_wgbs_contexts.png
Due: prettier --write, eslint --fix

chore: bump deps (prettier, mui-x-data-grid, eslint-react) and apply prettier reformat
  package.json
  packages/core/package.json
  packages/core/src/assemblyManager/assemblyConfigSchema.ts
  packages/core/src/ui/index.ts
  packages/core/src/util/flatbush/index.ts
  packages/product-core/src/Session/SessionTracks.ts
  packages/tree-sidebar/package.json
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupComponent.tsx
  plugins/alignments/src/shared/runCoveragePipeline.test.ts
  plugins/canvas/src/LinearBasicDisplay/layout.test.ts
  plugins/canvas/src/LinearBasicDisplay/layout.ts
  plugins/config/src/ConfigurationEditorWidget/components/ConfigurationEditor.test.tsx
  plugins/data-management/package.json
  plugins/dotplot-view/package.json
  plugins/grid-bookmark/package.json
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  plugins/menus/package.json
  plugins/sequence/src/expandAssemblySequenceAdapter.test.ts
  plugins/spreadsheet-view/package.json
  plugins/variants/package.json
  plugins/variants/src/CLAUDE.md
  plugins/variants/src/LDDisplay/components/LDColorLegend.tsx
  plugins/variants/src/index.ts
  plugins/wiggle/package.json
  pnpm-lock.yaml
  products/jbrowse-desktop/package.json
  products/jbrowse-react-app/examples-site/src/docs/embedded-app-synteny.md
  products/jbrowse-web/src/tests/assemblyConfigShorthand.test.ts
  website/docs/automating.md
  website/docs/config_guides/deploying.md
  website/docs/developer_guides/creating_gpu_display.md
  website/docs/developer_guides/extension_points.md
  website/docs/developer_guides/plotting_features.md
  website/docs/developer_guides/svg_export.md
  website/docs/quickstart_web.md
  website/docs/tutorials/protein_structure.md
Due: prettier --write, eslint --fix

docs(tutorials): drop hand-coded demo links for spec-driven auto-links
  website/docs/tutorials/analyze_trio.md
  website/docs/tutorials/protein_structure.md
  website/docs/tutorials/sv_multisamples.md
  website/docs/tutorials/synteny_visualization.md
Due: prettier --write

docs(tutorials): group the tutorials landing page by topic
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/analyze_trio.md
  website/docs/tutorials/bisulfite.md
  website/docs/tutorials/bxd_qtl.md
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/display_settings.md
  website/docs/tutorials/embed_linear_genome_view.md
  website/docs/tutorials/introgression.md
  website/docs/tutorials/methylation.md
  website/docs/tutorials/multiway_synteny.md
  website/docs/tutorials/population_genomics.md
  website/docs/tutorials/protein_structure.md
  website/docs/tutorials/rnaseq.md
  website/docs/tutorials/scatac_pseudobulk.md
  website/docs/tutorials/sv_multisamples.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/docs/tutorials/synteny_visualization.md
  website/src/content.config.ts
  website/src/pages/docs/tutorials/index.astro
Due: prettier --write, eslint --fix

fix(ci): resolve spell-check, doc-anchor, gallery-link, and ESM-build failures
  plugins/linear-genome-view/src/BaseLinearDisplay/models/MultiRegionDisplayMixin.ts
  website/docs/models/LinearCanvasBaseDisplay.md
  website/scripts/screenshot-review.json
  website/src/lib/gallery.ts
  website/src/lib/galleryLinks.generated.ts
  website/src/lib/markdown.ts
  website/src/lib/remark-custom-heading-id.ts
Due: prettier --write, eslint --fix

docs(tutorials): render the grouped tutorials index as a list, not cards
  website/src/pages/docs/tutorials/index.astro
Due: none

fix(alignments): suppress "Show all" truncation banner in fit-to-display mode
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
Due: prettier --write, eslint --fix

fix(ci): complete component-test resolutions and Set-ify tutorial category list
  component_tests/app-vite/package.json
  component_tests/cli-node18/package.json
  component_tests/jbrowse-img/package.json
  website/src/pages/docs/tutorials/index.astro
Due: none

docs(adr): add ADR-035 — maxHeight bounds pixels not GPU instance count
  agent-docs/README.md
  agent-docs/architecture-decision-records/adr-035-pileup-maxheight-bounds-pixels-not-gpu-memory.md
Due: prettier --write

docs(models): regenerate LinearAlignmentsDisplay for pileupTruncated jsdoc
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write

test(lgv-examples): skip nextstrain-pathogens in the examples-site smoke test
  products/jbrowse-react-linear-genome-view/examples-site/scripts/smoke.mjs
  products/jbrowse-react-linear-genome-view/examples-site/src/examples.ts
Due: prettier --write, eslint --fix

fix(core): harden stopToken cancellation (XHR time-gate, backoff cap)
  packages/core/src/util/stopToken.test.ts
  packages/core/src/util/stopToken.ts
Due: prettier --write, eslint --fix

ci: extract jbrowse-web build into a composite action
  .github/actions/build-jbrowse-web/action.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
Due: none

fix(alignments): pale short-insert read-cloud squares + cloud split-deletion in legend
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/palettes.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/alignmentsUniforms.slang
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/arc.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/arcLine.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/arcMarker.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/arcMarker.slang
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/clip.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/connectingLine.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/coverage.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/flatQuad.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/gap.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/indicator.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/insertion.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/interbaseHistogram.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/linkedReadLine.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/mismatch.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/modCoverage.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/overlap.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/packedColorQuad.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/read.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/snpCoverage.generated.ts
  plugins/alignments/src/features/arcs/arcYScale.test.ts
  plugins/alignments/src/features/arcs/compute.test.ts
  plugins/alignments/src/features/arcs/compute.ts
  plugins/alignments/src/features/arcs/drawCanvas.ts
  website/static/img/alignments/read_cloud.png
Due: prettier --write, eslint --fix

docs(popgen): SV genotype matrix for In(2L)t + screenshot fixes
  website/docs/tutorials/population_genomics.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-review.json
  website/scripts/specs/popgen.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/popgen/combined_cyp6g1_dest.png
  website/static/img/popgen/fst_in2lt_2L.png
  website/static/img/popgen/genotype_matrix_in2lt.png
  website/static/img/popgen/ld_decay_2R.png
  website/static/img/popgen/pi_cyp6g1.png
  website/static/img/popgen/tajimad_cyp6g1.png
  website/static/img/rnaseq/strand_specific.png
Due: prettier --write, eslint --fix

docs(bisulfite): split arabidopsis WGBS figures so each shows one mode
  website/docs/tutorials/bisulfite.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-review.json
  website/scripts/specs/methylation.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/methylation/arabidopsis_wgbs_boundary.png
  website/static/img/methylation/arabidopsis_wgbs_contexts.png
Due: prettier --write, eslint --fix

docs: remove human archaic-introgression tutorial and figures
  test_data/config_demo.json
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/introgression.md
  website/docs/user_guide.md
  website/scripts/specs/ui.ts
  website/static/img/introgression.png
  website/static/img/introgression_locus.png
  website/static/img/introgression_neanderthal.png
Due: prettier --write, eslint --fix

docs(hic): make ENCODE loops/arcs figure a legible highlight
  test_data/encode_hic_loops.json
  website/CLAUDE.md
  website/docs/user_guides/hic_track.md
  website/scripts/screenshot-review.json
  website/scripts/specs/hic.ts
  website/src/lib/gallery.ts
  website/static/img/encode_hic_loops_arcs.png
Due: prettier --write, eslint --fix

docs(bisulfite): show 3 methylation contexts at per-read level too
  website/docs/tutorials/bisulfite.md
  website/scripts/figure-manifest.json
  website/scripts/specs/methylation.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/methylation/arabidopsis_wgbs_contexts.png
Due: prettier --write, eslint --fix

docs(methylation): read-level allele-specific SNRPN figure
  test_data/config_demo.json
  website/docs/tutorials/methylation.md
  website/scripts/figure-manifest.json
  website/scripts/specs/methylation.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/methylation/hg002_snrpn_reads.png
Due: prettier --write, eslint --fix

fix(synteny): thread targetAssemblyName through multiway autoDiagonalize
  plugins/linear-comparative-view/src/DiagonalizeSyntenyRpc.test.ts
  plugins/linear-comparative-view/src/DiagonalizeSyntenyRpc.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/util/runDiagonalize.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/util/runDiagonalize.ts
Due: prettier --write, eslint --fix

docs(synteny): add conserved-block + gene-ortholog multiway figures
  website/docs/tutorials/multiway_synteny.md
  website/scripts/specs/synteny.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/multiway_synteny/grape_peach_cacao.png
  website/static/img/multiway_synteny/grape_peach_cacao_conserved_block.png
  website/static/img/multiway_synteny/grape_peach_cacao_gene_orthologs.png
Due: prettier --write, eslint --fix

Update snaps
  plugins/alignments/src/features/arcs/arcYScale.test.ts
  plugins/linear-comparative-view/src/DiagonalizeSyntenyRpc.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/afterAttach.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/Cytobands.tsx
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  products/jbrowse-img/img/scatac_multiwiggle.png
  test_data/config_synteny_grape_peach.json
  test_data/modifications_test/config.json
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearGenomeView.md
  website/docs/tutorials/bisulfite.md
  website/docs/tutorials/population_genomics.md
  website/docs/user_guides/sv_visualization.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-review.json
  website/scripts/screenshot-spec-helpers.ts
  website/scripts/specs/alignments.ts
  website/scripts/specs/hic.ts
  website/scripts/specs/methylation.ts
  website/scripts/specs/popgen.ts
  website/scripts/specs/qtl.ts
  website/scripts/specs/sv.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/alignments/modifications1.png
  website/static/img/alignments/modifications2.png
  website/static/img/alignments/read_cloud.png
  website/static/img/alignments/select_arc_display.png
  website/static/img/encode_hic_loops_arcs.png
  website/static/img/gallery/gwas_bmi_fto.png
  website/static/img/gallery/scatac_catlas.png
  website/static/img/gwas/locuszoom_ld.png
  website/static/img/inverted_duplication_bezier.png
  website/static/img/jbrowse-img/scatac_multiwiggle.png
  website/static/img/methylation/arabidopsis_wgbs_boundary.png
  website/static/img/methylation/arabidopsis_wgbs_contexts.png
  website/static/img/popgen/combined_cyp6g1_dest.png
  website/static/img/popgen/genotype_matrix_in2lt.png
  website/static/img/popgen/pi_cyp6g1.png
  website/static/img/popgen/tajimad_cyp6g1.png
Due: prettier --write, eslint --fix
