Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

fix(marks): a band clips the hover too, and a bar's hit box is the rect it paints
  agent-docs/ideas/one-mark-declaration-per-feature.md
  agent-docs/reference/GPU_RENDERING.md
  packages/render-core/src/hal/webgpuHal.ts
  packages/render-core/src/marks/defineMark.test.ts
  packages/render-core/src/marks/drawAgainstHit.test.ts
  packages/render-core/src/marks/markBackend.ts
  packages/render-core/src/marks/markHit.ts
  packages/render-core/src/marks/pointMark.ts
  packages/render-core/src/marks/types.ts
  packages/render-core/src/renderBlock.ts
  plugins/alignments/src/features/mark.ts
  plugins/alignments/src/features/mismatch/mark.ts
  plugins/dotplot-view/src/DotplotDisplay/dotplotMarks.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/syntenyRibbonMarks.ts
Due: prettier --write, eslint --fix

docs(marks): what the mark layer already enforces, and the two edges where it does not
  agent-docs/mechanisms/draw-pass-registries.md
  agent-docs/reference/GPU_RENDERING.md
  packages/render-core/src/marks/types.ts
Due: prettier --write, eslint --fix

fix(gwas): an extent bar is its interval, and the branch that picks it is one function
  agent-docs/ideas/canvas2d-painter-generation.md
  agent-docs/reference/CROSS_BACKEND_GATE.md
  agent-docs/reference/GPU_RENDERING.md
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/render-core/src/marks/markHit.ts
  packages/render-core/src/marks/pointMark.ts
  packages/render-core/src/shaders/pointMark.generated.ts
  packages/render-core/src/shaders/pointMark.js.generated.ts
  packages/render-core/src/shaders/pointMark.slang
  plugins/dotplot-view/src/DotplotDisplay/AGENTS.md
  plugins/dotplot-view/src/DotplotDisplay/dotplotMarks.test.ts
  plugins/dotplot-view/src/DotplotDisplay/dotplotMarks.ts
  products/jbrowse-web/browser-tests/suites/gwas.ts
  test_data/volvox/config_gwas_windows.json
  test_data/volvox/volvox.gwas.windows.tsv.gz
  test_data/volvox/volvox.gwas.windows.tsv.gz.tbi
  website/scripts/check-doc-removed-symbols.ts
Due: prettier --write, eslint --fix

docs(synteny): the ribbon uniform writer stops claiming a staged write
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/syntenyRibbonMarks.ts
Due: prettier --write, eslint --fix

refactor(marks): the sweep's recorder has a transform stack, and the band gate hands back its own params
  packages/alignments-core/src/coverageBandMarks.test.ts
  packages/alignments-core/src/coverageBandMarks.ts
  packages/render-core/src/marks/drawAgainstHit.ts
  packages/render-core/src/marks/types.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/GpuAlignmentsRenderer.ts
Due: prettier --write, eslint --fix

demos(arg): an ancestral recombination graph on real chr20 coordinates
  demos/arg/README.md
  demos/arg/config.json
Due: prettier --write

fix(variants): a cell scrolled off the canvas answers no hover, and the sweep can now see that
  packages/render-core/src/marks/drawAgainstHit.test.ts
  packages/render-core/src/marks/drawAgainstHit.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/cellMark.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/variantMarks.test.ts
Due: prettier --write, eslint --fix

demos(arg): a real inferred genealogy at PRNP, with the matching genotypes
  demos/arg/README.md
  demos/arg/config.json
Due: prettier --write

test(coverage band): the indicator triangles get a draw-against-hit arm, and the bounding box is written down
  packages/alignments-core/src/coverageBandMarks.test.ts
  packages/alignments-core/src/coverageBandMarks.ts
Due: prettier --write, eslint --fix

demos(arg): point at the bundle with leaf ordering, cells and hover
  demos/arg/config.json
Due: none

docs(alignments): connectingLines is declined, and the pivot rather than the floor is why
  agent-docs/ideas/README.md
  agent-docs/ideas/one-mark-declaration-per-feature.md
  plugins/alignments/src/features/connectingLines/drawCanvas.ts
  plugins/alignments/src/features/mark.ts
Due: prettier --write, eslint --fix

demos(arg): point at the cleaned-up bundle
  demos/arg/config.json
Due: none

fix(agents): the docs an agent reads first named a display type v5 removed
  packages/app-core/src/JbApi/jbApi.test.ts
  packages/app-core/src/JbApi/jbApi.ts
  packages/core/src/pluggableElementTypes/models/BaseTrackModel.ts
  products/jbrowse-desktop/electron/mcp/docLimits.ts
  products/jbrowse-desktop/electron/mcp/docSections.test.ts
  products/jbrowse-desktop/electron/mcp/docSections.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  products/jbrowse-desktop/electron/mcp/docsContent.ts
  products/jbrowse-desktop/electron/mcp/stdioServer.test.ts
  products/jbrowse-desktop/electron/mcp/stdioServer.ts
  products/jbrowse-desktop/electron/mcp/toolDefinitions.ts
  products/jbrowse-desktop/src/mcp/docsRoster.test.ts
  products/jbrowse-desktop/src/mcp/handleMcpRequest.ts
  scripts/check-docs.ts
  website/docs/agents.md
  website/docs/agents_live_model.md
  website/docs/agents_recipes.md
  website/docs/models/BaseTrackModel.md
  website/package.json
  website/scripts/check-agent-doc-types.ts
Due: prettier --write, eslint --fix

docs(agent-demos): what filming the Claude app costs, and why the TUI stays the one
  agent-docs/ideas/land-the-agent-client-demo-videos.md
  scripts/agent-demos/CLAUDE.md
  scripts/agent-demos/appClient.mjs
  scripts/agent-demos/recordDemoApp.mjs
  scripts/agent-demos/takes/ecoli_synteny.md
  scripts/agent-demos/takes/ecoli_synteny.mjs
  scripts/agent-demos/takes/smoke.mjs
Due: prettier --write

fix(agents): swapping a display needs launchDisplay, and a recipe that toasts an error fails
  packages/core/src/pluggableElementTypes/models/BaseTrackModel.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  products/jbrowse-desktop/test/mcpConformance.ts
  website/docs/agents_live_model.md
  website/docs/agents_recipes.md
  website/docs/models/BaseTrackModel.md
Due: prettier --write, eslint --fix

fix(variants): the connector field accumulates instead of unioning
  plugins/variants/src/CLAUDE.md
  plugins/variants/src/LDDisplay/components/LDColumnZone.tsx
  plugins/variants/src/LDDisplay/components/LinesConnectingMatrixToGenomicPosition.tsx
  plugins/variants/src/LDDisplay/renderSvg.tsx
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/LinesConnectingMatrixToGenomicPosition.tsx
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/renderSvg.tsx
  plugins/variants/src/shared/ConnectorLines.test.tsx
  plugins/variants/src/shared/ConnectorLines.tsx
  plugins/variants/src/shared/connectorLineAlpha.ts
  plugins/variants/src/shared/drawConnectorField.test.ts
  plugins/variants/src/shared/drawConnectorField.ts
  products/jbrowse-web/src/tests/ExportSvgMultiSampleVariant.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/vcf_cluster_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/VcfCluster.test.tsx.snap
Due: prettier --write, eslint --fix

fix(multiway): a lane selection narrows the fetch, not only the drawing
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  website/docs/tutorials/pangenome_hprc_part3.md
Due: prettier --write, eslint --fix

fix(tracks): a requested display type is checked, and a spec key that reaches nothing is named
  packages/core/src/util/tracks.test.ts
  packages/core/src/util/tracks.ts
  products/jbrowse-desktop/test/mcpConformance.ts
  products/jbrowse-web/src/tests/TrackActions.test.ts
  website/docs/agents_live_model.md
Due: prettier --write, eslint --fix

docs(multiway-synteny): regenerate for the lane-selection fetch split
  agent-docs/reference/DISPLAY_HOOKS.md
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write

docs(handoffs): the E. coli synteny take is written and never shot
  agent-docs/handoffs/record-ecoli-synteny-take.md
Due: prettier --write

chore(typos): the reaches-nothing fixture spells colorSchem on purpose
  _typos.toml
Due: none

docs(handoffs): regenerate the index for the E. coli synteny take
  agent-docs/handoffs/README.md
Due: prettier --write

docs(population_cnv): the clustering session gets a live link on the page
  website/docs/tutorials/population_cnv.md
  website/scripts/screenshot-specs.ts
  website/scripts/specs/paper-hprc-workspace.ts
Due: prettier --write, eslint --fix

fix(gpu): a driver that refuses the canvas image reaches the display
  packages/render-core/src/gpuContextLostError.ts
  packages/render-core/src/gpuDevice.ts
  packages/render-core/src/hal/oomReporter.ts
  packages/render-core/src/hal/webgpuHal.ts
  packages/render-core/src/hal/webgpuHalSurfaceFailure.test.ts
  packages/render-core/src/useRenderingBackend.ts
Due: prettier --write, eslint --fix

chore(autogen): refresh the chrome bundle-size baseline
  scripts/chromeBundleSizes.json
Due: none

fix(figures): the genotype sort waits on the label the display renders
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  website/docs/user_guides/clustering.md
  website/scripts/specs/ui.ts
  website/scripts/videos/sv.ts
Due: prettier --write, eslint --fix

fix(maf): a TAF coordinate line with no instructions is a block boundary
  plugins/maf/src/BgzipTaffyAdapter/BgzipTaffyAdapter.test.ts
  plugins/maf/src/BgzipTaffyAdapter/BgzipTaffyAdapter.ts
  plugins/maf/src/BgzipTaffyAdapter/rowInstructions.ts
  plugins/maf/src/BgzipTaffyAdapter/tafParsing.ts
  website/scripts/specs/maf.ts
Due: prettier --write, eslint --fix

chore(autogen): the model docs take the renamed sort row
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
Due: prettier --write

chore(autogen): resolve the bundle-size baseline and refresh the live links
  scripts/chromeBundleSizes.json
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

fix(figures): maf_hprc_pangenome drops a setting that reaches nothing, and rings a 2.1 node
  website/scripts/specs/maf.ts
Due: prettier --write, eslint --fix

docs(figures): publish the four repaired figures and what the sweep left local
  figures.lock
Due: none

Bump deps
  package.json
  pnpm-lock.yaml
  products/jbrowse-build-your-own/examples-site/package.json
  products/jbrowse-desktop/package.json
  products/jbrowse-react-app/examples-site/package.json
  products/jbrowse-react-circular-genome-view/examples-site/package.json
  products/jbrowse-react-linear-genome-view/examples-site/package.json
  website/package.json
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

MCP: brief the agent within what each client shows it
  .claude/skills/jbrowse-mcp/SKILL.md
  products/jbrowse-desktop/electron/mcp/README.md
  products/jbrowse-desktop/electron/mcp/stdioServer.test.ts
  products/jbrowse-desktop/electron/mcp/stdioServer.ts
  products/jbrowse-desktop/electron/mcp/toolDefinitions.ts
  products/jbrowse-desktop/src/mcp/docsRoster.test.ts
  website/docs/agents.md
Due: prettier --write, eslint --fix

example(score): the gauge declares its drawing as a mark list
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  example-plugins/score-example/README.md
  example-plugins/score-example/package.json
  example-plugins/score-example/src/LinearScoreDisplay/components/Canvas2DScoreRenderer.ts
  example-plugins/score-example/src/LinearScoreDisplay/components/GpuScoreRenderer.test.ts
  example-plugins/score-example/src/LinearScoreDisplay/components/GpuScoreRenderer.ts
  example-plugins/score-example/src/LinearScoreDisplay/components/ScoreDisplayComponent.tsx
  example-plugins/score-example/src/LinearScoreDisplay/components/ScoreRendererFactory.ts
  example-plugins/score-example/src/LinearScoreDisplay/components/drawScore.test.ts
  example-plugins/score-example/src/LinearScoreDisplay/components/drawScore.ts
  example-plugins/score-example/src/LinearScoreDisplay/components/scoreTypes.ts
  example-plugins/score-example/src/LinearScoreDisplay/components/shaders/score.generated.ts
  example-plugins/score-example/src/LinearScoreDisplay/findScoreHit.ts
  example-plugins/score-example/src/LinearScoreDisplay/index.ts
  example-plugins/score-example/src/LinearScoreDisplay/model.ts
  example-plugins/score-example/src/LinearScoreDisplay/renderSvg.tsx
  example-plugins/score-example/src/LinearScoreDisplay/scoreMark.test.ts
  example-plugins/score-example/src/LinearScoreDisplay/scoreMark.ts
  example-plugins/score-example/src/LinearScoreDisplay/scoreMarks.test.ts
  example-plugins/score-example/src/LinearScoreDisplay/scoreMarks.ts
  example-plugins/score-example/src/LinearScoreDisplay/shaders/score.consts.generated.ts
  example-plugins/score-example/src/LinearScoreDisplay/shaders/score.generated.ts
  example-plugins/score-example/src/LinearScoreDisplay/shaders/score.iface.generated.ts
  example-plugins/score-example/src/LinearScoreDisplay/shaders/score.js.generated.ts
  example-plugins/score-example/src/LinearScoreDisplay/shaders/score.slang
Due: prettier --write, eslint --fix

docs(guides): the display guides teach the mark form
  agent-docs/ARCHITECTURE.md
  agent-docs/reference/GPU_RENDERING.md
  agent-docs/reference/PLUGIN_ABI_STABILITY.md
  example-plugins/score-example/src/LinearScoreDisplay/scoreMark.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/developer_guides/creating_display.md
  website/docs/developer_guides/creating_gpu_display.md
  website/docs/developer_guides/data_fetching.md
  website/docs/developer_guides/imports_and_reexports.md
  website/docs/developer_guides/plotting_features.md
  website/docs/developer_guides/svg_export.md
  website/docs/models/LinearScoreDisplay.md
Due: prettier --write, eslint --fix

example(score): thin the mark comments the guides quote
  example-plugins/score-example/src/LinearScoreDisplay/scoreMark.ts
  example-plugins/score-example/src/LinearScoreDisplay/scoreMarks.ts
  website/docs/developer_guides/creating_gpu_display.md
  website/docs/developer_guides/plotting_features.md
Due: prettier --write, eslint --fix

example(score): the shape names its lanes in the library's vocabulary
  example-plugins/score-example/src/LinearScoreDisplay/scoreMark.test.ts
  example-plugins/score-example/src/LinearScoreDisplay/scoreMark.ts
  example-plugins/score-example/src/LinearScoreDisplay/scoreMarks.test.ts
  example-plugins/score-example/src/LinearScoreDisplay/scoreMarks.ts
  example-plugins/score-example/src/LinearScoreDisplay/shaders/score.generated.ts
  example-plugins/score-example/src/LinearScoreDisplay/shaders/score.iface.generated.ts
  example-plugins/score-example/src/LinearScoreDisplay/shaders/score.slang
  website/docs/developer_guides/creating_gpu_display.md
  website/docs/developer_guides/plotting_features.md
Due: prettier --write, eslint --fix

MCP: gate the client text caps in lint, with the sources, and brief after the value
  .claude/skills/jbrowse-mcp/SKILL.md
  .github/workflows/push.yml
  package.json
  products/jbrowse-desktop/electron/mcp/README.md
  products/jbrowse-desktop/electron/mcp/stdioServer.test.ts
  products/jbrowse-desktop/electron/mcp/stdioServer.ts
  products/jbrowse-desktop/electron/mcp/textCaps.ts
  products/jbrowse-desktop/electron/mcp/toolDefinitions.ts
  products/jbrowse-desktop/src/mcp/docsRoster.test.ts
  products/jbrowse-desktop/test/mcpConformance.ts
  scripts/check-mcp-text-caps.ts
  website/docs/agents.md
Due: prettier --write, eslint --fix

fix(alignments): the legend keys every color as a plain box
  agent-docs/handoffs/bezier-overlay-hover.md
  agent-docs/ideas/sa-hops-in-the-bezier-overlay.md
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/features/linkedReads/compute.ts
  plugins/alignments/src/features/linkedReads/computeOverlay.test.ts
  plugins/alignments/src/features/linkedReads/computeOverlay.ts
  plugins/alignments/src/shared/legendUtils.test.ts
  plugins/alignments/src/shared/legendUtils.ts
  plugins/alignments/src/shared/legendWidth.test.ts
Due: prettier --write, eslint --fix
