Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

HPRC demo README: drop the earlier anchorless companion
  demos/hprc/README.txt
Due: none

Reshoot 70 alignments figures for the coverage quantile and ADR-181
  figures.lock
Due: none

Handoffs: the reshoot and web snapshots are done, the red clip strip is chosen, value and synteny ramps sized
  agent-docs/handoffs/README.md
  agent-docs/handoffs/grammar-next-steps.md
  agent-docs/handoffs/scales-and-colour-keys.md
Due: prettier --write

plugin_load_cost links launchView where the session model documents it
  website/docs/developer_guides/plugin_load_cost.md
Due: prettier --write

Multi-way gene labels inherit the page font instead of the theme's
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/LaneGeneLabels.tsx
Due: prettier --write, eslint --fix

Examples smoke waives a page's own expected readiness failure, by its whole line
  packages/browser-test-utils/src/examplesSmoke.ts
  products/jbrowse-build-your-own/examples-site/scripts/smoke.mjs
Due: prettier --write, eslint --fix

A mark display whose every feature was skipped says so in one corner chip
  plugins/marks/src/LinearMarkDisplay/components/LinearMarkDisplayComponent.tsx
  plugins/marks/src/LinearMarkDisplay/components/markDisplayTypes.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMarkDisplay.md
Due: prettier --write, eslint --fix

jbrowse-web suites expect what ADR-168, 174, 176, 178 and 182 made
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/rootModel/__snapshots__/rootModel.test.ts.snap
  products/jbrowse-web/src/tests/DisplaySnapshotShape.test.tsx
  products/jbrowse-web/src/tests/GCContentTrack.test.ts
  products/jbrowse-web/src/tests/JexlFilterSlotOwners.test.ts
  products/jbrowse-web/src/tests/SVInspector.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/big-wig-test-tsx-open-a-bigwig-density-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/multi-big-wig-test-tsx-open-a-multibigwig-multirowdensity-track-1-snap.png
Due: prettier --write, eslint --fix

color.value fills the reads no field colours, and arcs keep the theme
  plugins/alignments/src/LinearAlignmentsDisplay/alignmentsColorConfigSchema.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/alignmentComponentUtils.ts
  plugins/alignments/src/LinearAlignmentsDisplay/declaredCategoryColors.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/features/perBaseQuality/mark.ts
  plugins/alignments/src/features/perBaseQuality/markParity.test.ts
  plugins/alignments/src/shared/alignmentsColor.ts
  plugins/alignments/src/shared/legendUtils.ts
Due: prettier --write, eslint --fix

pnpm autogen
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
  website/docs/config/AlignmentsColor.md
  website/docs/config/LGVSyntenyColor.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write

Reshoot sort_by_base with its submenu open and sv_channels with five bands
  figures.lock
  website/docs/tutorials/sv_multisamples.md
  website/docs/user_guides/sv_visualization.md
  website/scripts/specs/alignments.ts
  website/scripts/specs/sv.ts
Due: prettier --write, eslint --fix

Handoff: color.value and the two held-back figures are done; the late-row submenu close is noted
  agent-docs/handoffs/README.md
  agent-docs/handoffs/scales-and-colour-keys.md
Due: prettier --write

pnpm autogen
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

A gene search shows its index's track only when the session has it
  plugins/linear-genome-view/src/searchUtils.test.ts
  plugins/linear-genome-view/src/searchUtils.ts
Due: prettier --write, eslint --fix

Tours state their goal, narrate in plain words and end on the payoff
  website/CLAUDE.md
  website/docs/tutorials/hic_structural_variants.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/user_guides/highlights.md
  website/scripts/actions.ts
  website/scripts/generate-video.ts
  website/scripts/graphAnchor.test.ts
  website/scripts/graphAnchor.ts
  website/scripts/screenshot-spec-types.ts
  website/scripts/specs/graph-hprc.ts
  website/scripts/specs/trio.ts
  website/scripts/specs/ui.ts
  website/scripts/video-report.ts
  website/scripts/video-spec-rules.ts
  website/scripts/video-spec-types.ts
  website/scripts/videoSpecRules.test.ts
  website/scripts/videos/CLAUDE.md
  website/scripts/videos/config.ts
  website/scripts/videos/dog10k.ts
  website/scripts/videos/epigenomics.ts
  website/scripts/videos/genomes_basics.ts
  website/scripts/videos/hic.ts
  website/scripts/videos/methylation.ts
  website/scripts/videos/pangenome.ts
  website/scripts/videos/proteins.ts
  website/scripts/videos/qtl.ts
  website/scripts/videos/repeats.ts
  website/scripts/videos/shared.ts
  website/scripts/videos/sv.ts
  website/scripts/videos/synteny.ts
  website/scripts/videos/tcga.ts
  website/scripts/videos/ui.ts
  website/scripts/videos/variants.ts
Due: prettier --write, eslint --fix

Two tours open the page's file by URL, the point-and-click way
  website/docs/tutorials/analyze_trio.md
  website/docs/tutorials/methylation.md
  website/scripts/specs/methylation.ts
  website/scripts/specs/trio.ts
  website/scripts/videos/methylation.ts
  website/scripts/videos/shared.ts
  website/scripts/videos/ui.ts
  website/scripts/videos/variants.ts
Due: prettier --write, eslint --fix

pangenome_hprc: C4B in italics in prose
  website/docs/tutorials/pangenome_hprc.md
Due: prettier --write

A pan's release selects nothing on any track
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupBezierOverlay.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupBezierOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiArcsOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/mouseGestures.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/panState.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/useAlignmentsBase.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/TracksContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/useSideScroll.test.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/useSideScroll.ts
Due: prettier --write, eslint --fix

Tours drive the app as it is now, and say what the frame shows
  website/docs/tutorials/multiway_synteny_grape_peach_cacao.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/scripts/video-spec-rules.ts
  website/scripts/videoSpecRules.test.ts
  website/scripts/videos/CLAUDE.md
  website/scripts/videos/epigenomics.ts
  website/scripts/videos/proteins.ts
  website/scripts/videos/shared.ts
  website/scripts/videos/sv.ts
  website/scripts/videos/synteny.ts
  website/scripts/videos/tcga.ts
Due: prettier --write, eslint --fix

Tours from the first review of the re-filmed corpus
  website/docs/tutorials/repeatmasker_classes.md
  website/scripts/specs/msa.ts
  website/scripts/specs/synteny.ts
  website/scripts/specs/ui.ts
  website/scripts/videos/CLAUDE.md
  website/scripts/videos/dog10k.ts
  website/scripts/videos/epigenomics.ts
  website/scripts/videos/methylation.ts
  website/scripts/videos/pangenome.ts
  website/scripts/videos/proteins.ts
  website/scripts/videos/repeats.ts
  website/scripts/videos/shared.ts
  website/scripts/videos/sv.ts
  website/scripts/videos/synteny.ts
  website/scripts/videos/ui.ts
  website/scripts/videos/variants.ts
Due: prettier --write, eslint --fix

Films fail on a gated display, park the pointer for the payoff, and take the poster from it
  website/CLAUDE.md
  website/scripts/generate-video.ts
  website/scripts/video-spec-types.ts
Due: prettier --write, eslint --fix

A samples table naming more samples than the file raises no toast
  packages/core/src/util/samplesTsv.test.ts
  packages/core/src/util/samplesTsv.ts
  plugins/wiggle/src/MultiWiggleAdapter/MultiWiggleAdapter.test.ts
Due: prettier --write, eslint --fix

The slow-step report counts only the app's waits
  website/scripts/generate-video.ts
Due: prettier --write, eslint --fix

A displayDefaults setting only a track's second display takes no longer makes it the default
  packages/core/src/pluggableElementTypes/models/baseTrackConfig.ts
  packages/core/src/pluggableElementTypes/models/expandTrackConfigShorthandE2e.test.ts
Due: prettier --write, eslint --fix

Seven more frames sized to the app plus the caption chip's strip
  website/scripts/videos/genomes_basics.ts
  website/scripts/videos/hic.ts
  website/scripts/videos/pangenome.ts
  website/scripts/videos/qtl.ts
  website/scripts/videos/synteny.ts
  website/scripts/videos/tcga.ts
Due: prettier --write, eslint --fix

media.lock: all 48 tours, re-filmed on ada and reviewed
  website/media.lock
Due: none

Four frames trimmed to the app plus 120px, inside video-report's slack
  website/scripts/videos/hic.ts
  website/scripts/videos/qtl.ts
  website/scripts/videos/synteny.ts
  website/scripts/videos/tcga.ts
Due: prettier --write, eslint --fix

pnpm autogen
  scripts/registryBundleSizes.json
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

pangenome_hprc: the C4A step opens with Type, which the figure-action check reads as an instruction
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/figure-actions.txt
Due: prettier --write

Reference docs name the files and symbols that replaced deleted ones
  agent-docs/CLAUDE.md
  agent-docs/reference/ALIGNMENTS_COLOR_PARITY.md
  agent-docs/reference/CONFIG_PATTERN.md
  agent-docs/reference/CROSS_BACKEND_GATE.md
  agent-docs/reference/EAGER_BUNDLE.md
  agent-docs/reference/GPU_GLOSSARY.md
  agent-docs/reference/GPU_RENDERING.md
  agent-docs/reference/HOSTING.md
  agent-docs/reference/HPRC_RELEASE2.md
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
  agent-docs/reference/PERF_INSTRUMENTATION.md
  agent-docs/reference/PROGRESS_REPORTING.md
  agent-docs/reference/SHADER_JS_CODEGEN.md
  agent-docs/reference/SLANG_UNIFORM_ARRAYS.md
  agent-docs/reference/SV_MULTIHOP.md
  plugins/canvas/src/LinearBasicDisplay/model.ts
Due: prettier --write, eslint --fix

Handoffs keep one copy of each finding; two sized proposals move to ideas/
  agent-docs/handoffs/capture-before-beta-10.md
  agent-docs/handoffs/grammar-next-steps.md
  agent-docs/handoffs/review.md
  agent-docs/handoffs/scales-and-colour-keys.md
  agent-docs/ideas/ready/synteny-continuous-ramps-take-a-scheme-and-pinned-ends.md
  agent-docs/ideas/waiting-on-a-call/wiggle-onto-bar-and-point.md
Due: prettier --write

ideas/: ten proposals move to the folder naming what they wait on
  agent-docs/architecture-decision-records/adr-016-bicolorpivot-stays-in-worker.md
  agent-docs/architecture-decision-records/adr-129-a-bigwigs-raw-section-answers-in-synthetic-tiers.md
  agent-docs/architecture-decision-records/adr-137-jbrowse-shows-sv-evidence-and-does-not-infer-alleles.md
  agent-docs/architecture-decision-records/adr-152-wiggle-stays-off-the-column-encoder-until-two-lanes-go.md
  agent-docs/architecture-decision-records/adr-165-the-row-axis-rides-a-table-the-vertex-stage-samples.md
  agent-docs/ideas/README.md
  agent-docs/ideas/collections/breakpoint-split-view-and-arc-band.md
  agent-docs/ideas/ready/credential-aware-chunk-cache.md
  agent-docs/ideas/ready/gpu-limits-in-bug-reports.md
  agent-docs/ideas/ready/one-row-model-for-displays-that-stack-by-a-key.md
  agent-docs/ideas/ready/pangenome-figures-unshot.md
  agent-docs/ideas/ready/route-as-a-launch-input.md
  agent-docs/ideas/ready/sv-review-portal.md
  agent-docs/ideas/ready/the-swapped-assembly-track-resolves-to-a-point.md
  agent-docs/ideas/ready/wiggle-instance-records-carry-per-row-constants.md
  agent-docs/ideas/waiting-on-a-call/complex-sv-tutorials-from-published-results.md
  agent-docs/ideas/waiting-on-a-call/linearize-the-pangenome-draw-graph-variation-as-alignment-style-glyphs.md
  agent-docs/ideas/waiting-on-a-call/linx-chains-in-the-breakend-walk.md
  agent-docs/ideas/waiting-on-a-call/per-base-wall-at-wide-zoom.md
  agent-docs/ideas/waiting-on-a-call/r-export.md
  agent-docs/ideas/waiting-on-a-call/sa-hops-in-the-bezier-overlay.md
  agent-docs/ideas/waiting-on-a-call/wiggle-onto-bar-and-point.md
  agent-docs/ideas/waiting-on-someone-else/cut-webgl2-contexts-per-display.md
  agent-docs/ideas/waiting-on-someone-else/figures-blocked-on-data.md
  agent-docs/ideas/waiting-on-someone-else/hartwig-colo829-outputs-feed-three-parked-items.md
  agent-docs/ideas/waiting-on-someone-else/internet-accounts.md
  agent-docs/reference/GPU_CONTEXT_BUDGET.md
  agent-docs/reference/GPU_PORTABILITY.md
  agent-docs/reference/PER_BASE_SUBPIXEL_BIN.md
  agent-docs/reference/R_EXPORT.md
  packages/core/src/pluggableElementTypes/models/internetAccountApi.test.ts
  plugins/authentication/src/OAuthModel/rpcTokenProbe.test.ts
  plugins/wiggle/benches/runInstanceBufferScenarios.sh
  plugins/wiggle/src/CLAUDE.md
Due: prettier --write, eslint --fix

ideas/collections: five collections split into single proposals or closed
  agent-docs/architecture-decision-records/adr-016-bicolorpivot-stays-in-worker.md
  agent-docs/ideas/collections/build-and-dependencies.md
  agent-docs/ideas/collections/deferred-architecture-review.md
  agent-docs/ideas/collections/mark-display-showcase-pages.md
  agent-docs/ideas/collections/zoom-perf-followups.md
  agent-docs/ideas/ready/partial-feature-truncation-cue.md
  agent-docs/ideas/ready/show-flatten-once-in-the-mark-display-examples.md
  agent-docs/ideas/waiting-on-a-call/a-dependency-bump-is-an-abi-event.md
  agent-docs/ideas/waiting-on-a-call/an-embedded-component-opts-into-the-worker.md
  agent-docs/ideas/waiting-on-a-call/display-chrome-owns-the-container-height.md
  agent-docs/ideas/waiting-on-a-call/lightweight-toolkit.md
  agent-docs/ideas/waiting-on-a-call/wiggle-instance-packing-moves-to-the-worker.md
  agent-docs/ideas/waiting-on-a-number/circular-genomes-and-origin-spanning-features.md
  agent-docs/ideas/waiting-on-a-number/host-chosen-plugin-sets-for-embedded-products.md
  agent-docs/ideas/waiting-on-someone-else/delete-the-jbrowse-img-esm-workaround-at-mui-v10.md
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  agent-docs/reference/INTERACTION_PERF.md
Due: prettier --write

ideas/collections: rnaseq follow-ups join alignments, the two tour files become one
  agent-docs/handoffs/README.md
  agent-docs/ideas/collections/alignments.md
  agent-docs/ideas/collections/rnaseq-splice-followups.md
  agent-docs/ideas/collections/tutorial-tours-from-scratch.md
  agent-docs/ideas/collections/tutorial-tours.md
  website/scripts/videos/CLAUDE.md
Due: prettier --write

pnpm autogen
  agent-docs/handoffs/README.md
  agent-docs/ideas/README.md
Due: prettier --write

check-doc-removed-symbols exempts R_EXPORT.md, whose exporter lives on the r-export branch
  website/scripts/check-doc-removed-symbols.ts
Due: prettier --write, eslint --fix

Synteny ramps take range, scheme, reverse and pinned ends
  packages/synteny-core/src/TrackColorsMixin.test.ts
  packages/synteny-core/src/TrackColorsMixin.ts
  packages/synteny-core/src/colorFunctions.test.ts
  packages/synteny-core/src/colorFunctions.ts
  packages/synteny-core/src/colorLegend.ts
  packages/synteny-core/src/colorRamps.test.ts
  packages/synteny-core/src/colorRamps.ts
  packages/synteny-core/src/index.ts
  packages/synteny-core/src/syntenyColorConfigSchema.ts
  plugins/circular-view/src/ChordSyntenyDisplay/models/stateModelFactory.ts
  plugins/circular-view/src/CircularView/syntenyDefaults.test.ts
  plugins/dotplot-view/src/DotplotDisplay/dotplotColors.ts
  plugins/dotplot-view/src/DotplotDisplay/stateModelFactory.tsx
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/syntenyColors.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/launchInput.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/parentViewDuck.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/legend.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/legend.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/ribbonColorConfigSchema.ts
Due: prettier --write, eslint --fix

pnpm autogen
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/RibbonColor.md
  website/docs/config/SyntenyColor.md
  website/docs/models/CircularView.md
  website/docs/models/DotplotView.md
  website/docs/models/LinearSyntenyView.md
  website/docs/models/MultiWaySyntenyDisplay.md
  website/docs/models/SyntenyColorsMixin.md
  website/docs/models/SyntenyViewMixin.md
  website/docs/models/TrackColorsMixin.md
  website/docs/urlparams.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

Synteny's continuous ramps are built, so their idea leaves ideas/ready
  agent-docs/handoffs/README.md
  agent-docs/handoffs/scales-and-colour-keys.md
  agent-docs/ideas/README.md
  agent-docs/ideas/ready/synteny-continuous-ramps-take-a-scheme-and-pinned-ends.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
