Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

The MAF sequence widget colours a base from the display's table, so N and unknown bases match the track
  plugins/maf/src/MafSequenceWidget/baseColors.ts
  plugins/maf/src/MafSequenceWidget/drawSequenceGrid.test.ts
  plugins/maf/src/MafSequenceWidget/drawSequenceGrid.ts
Due: prettier --write, eslint --fix

The MAF worker counts a focus on a copy row as naming its listed species, so it ships the rows the display draws
  plugins/maf/src/util/visibleSamples.test.ts
  plugins/maf/src/util/visibleSamples.ts
Due: prettier --write, eslint --fix

Docs: a track a session on its page opens keeps the pasted-config route
  website/src/lib/derive-desktop-steps.ts
  website/src/lib/remark-config-cli-tabs.test.ts
  website/src/lib/remark-config-cli-tabs.ts
Due: prettier --write, eslint --fix

cursor-guides: the legend test uses the density track's key, and the feature hover aims at a row with a gene
  products/jbrowse-web/browser-tests/suites/cursor-guides.ts
Due: prettier --write, eslint --fix

A browser test for hover ending on the legend, and the chrome's comments lose their history
  agent-docs/reference/DISPLAYCHROME.md
  packages/core/src/ui/useMouseTracking.ts
  packages/display-kit/src/BottomRightIndicators.tsx
  packages/display-kit/src/DisplayChrome.tsx
  packages/display-ui/src/chromeOverlays.ts
  packages/synteny-core/src/ComparativeFetchStatus.tsx
  products/jbrowse-web/browser-tests/suites/cursor-guides.ts
Due: prettier --write, eslint --fix

The wiggle display mounts ScorePlotChrome, the chrome the mark displays use
  agent-docs/measurements/wiggle-bar-top-subpixel.json
  packages/wiggle-core/src/ScorePlotChrome.test.tsx
  packages/wiggle-core/src/ScorePlotChrome.tsx
  plugins/wiggle/src/LinearWiggleDisplay/components/WiggleComponent.tsx
  plugins/wiggle/src/LinearWiggleDisplay/components/wiggleDisplayTypes.ts
  plugins/wiggle/src/LinearWiggleDisplay/contextMenu.test.ts
  plugins/wiggle/src/LinearWiggleDisplay/model.ts
  plugins/wiggle/src/shared/WiggleRenderer.ts
  plugins/wiggle/src/shared/rendererRetry.test.ts
  products/jbrowse-web/browser-tests/probe-bar-top-aa.ts
  products/jbrowse-web/src/tests/ZoomRenderCensus.test.tsx
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

Two doc references the examples-site rename left behind
  agent-docs/reference/EXAMPLES_SITES.md
  website/docs/developer_guides/drawer_widgets.md
Due: prettier --write

Regenerate the doc snippets quoting the renamed examples
  website/docs/developer_guides/drawer_widgets.md
  website/docs/developer_guides/no_build_plugin.md
Due: prettier --write

Session persistence on the app examples site, and the last two hg38 spellings
  products/jbrowse-react-app/examples-site/src/docs/session-persistence.md
  products/jbrowse-react-app/examples-site/src/examples.ts
  products/jbrowse-react-app/examples-site/src/examples/SessionPersistence.tsx
  products/jbrowse-react-app/examples-site/src/pages/session-persistence.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/PanUkbGwas.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/SingleCellUmap.tsx
Due: prettier --write, eslint --fix

List the build-your-own vite starter beside the other bundler demos
  website/docs/embedded_components.md
Due: prettier --write

Link the deployed build-your-own vite demo
  website/docs/embedded_components.md
Due: prettier --write

Re-measure demo heights and eager bundle budgets for the one-demo pages
  products/jbrowse-build-your-own/examples-site/demoHeights.json
  products/jbrowse-build-your-own/examples-site/eagerBundleSizes.json
  products/jbrowse-react-circular-genome-view/examples-site/demoHeights.json
  products/jbrowse-react-linear-genome-view/examples-site/demoHeights.json
Due: none

Name the renamed example in the build-your-own site notes
  products/jbrowse-build-your-own/examples-site/CLAUDE.md
Due: prettier --write

Re-measure the build-your-own heights and budgets over the notifications change
  products/jbrowse-build-your-own/examples-site/demoHeights.json
  products/jbrowse-build-your-own/examples-site/eagerBundleSizes.json
Due: none

An embed on a page that declares no color-scheme stays light under a dark OS
  packages/core/src/ui/PaletteContext.test.tsx
  packages/core/src/ui/PaletteContext.tsx
  products/jbrowse-build-your-own/examples-site/src/docs/dark-mode.md
Due: prettier --write, eslint --fix

autogen: the palette provider's doc and the bundle sizes
  packages/core/README.md
  scripts/chromeBundleSizes.json
  scripts/registryBundleSizes.json
  website/docs/api/core.md
Due: prettier --write

Tutorials: fences, scripts and schema docs say what the figures draw
  plugins/canvas/src/LinearMultiRowFeatureDisplay/configSchema.ts
  plugins/wiggle/src/shared/wiggleColorConfigSchema.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/build_cancer_sv_demo.sh
  scripts/build_repeatmasker_classes.sh
  scripts/build_scrna_pseudobulk.sh
  scripts/build_tcga_cohort_mutations.sh
  website/docs/config/LinearMultiRowFeatureDisplay.md
  website/docs/config/WiggleColor.md
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/circular_synteny.md
  website/docs/tutorials/dog10k_lof.md
  website/docs/tutorials/dtu.md
  website/docs/tutorials/k562_fusions.md
  website/docs/tutorials/methylation.md
  website/docs/tutorials/multiway_synteny_grape_peach_cacao.md
  website/docs/tutorials/orthofinder_synteny.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/tutorials/pangenome_hprc_repeats.md
  website/docs/tutorials/pangenome_mouse.md
  website/docs/tutorials/pangenome_prepare_graph.md
  website/docs/tutorials/population_genomics.md
  website/docs/tutorials/repeatmasker_classes.md
  website/docs/tutorials/scrna_pseudobulk.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/docs/tutorials/tcga_cohort_cnv.md
Due: prettier --write, eslint --fix

Alignments: the sashimi marks place their own count labels, and a track with no junction pays nothing for them
  agent-docs/architecture-decision-records/adr-222-sashimi-arcs-are-link-marks.md
  agent-docs/measurements/sashimi-frame-split.json
  agent-docs/reference/LINEAR_ALIGNMENTS_DISPLAY.md
  plugins/alignments/benches/sashimiFrame.bench.ts
  plugins/alignments/src/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupComponent.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiLabels.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiLabelsOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiLabelsSvg.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/sashimiArcs.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/sashimiHitTest.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/sashimiHitTest.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/useAlignmentsBase.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/overlaySections.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderSvg.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/sashimiMarks.ts
  plugins/alignments/src/LinearAlignmentsDisplay/sashimiFrameSplit.test.ts
  plugins/alignments/src/features/sashimi/bandFeed.ts
  plugins/alignments/src/features/sashimi/collapsedIntrons.test.ts
  plugins/alignments/src/features/sashimi/computeOverlay.test.ts
  plugins/alignments/src/features/sashimi/computeOverlay.ts
  plugins/alignments/src/features/sashimi/sashimiArcs.fixture.ts
  plugins/alignments/src/features/sashimi/testSashimiArcs.ts
  plugins/alignments/src/index.ts
Due: prettier --write, eslint --fix

ADR-222 records what the follow-up measured, and parks the far-junction picture and the 256-region limit
  agent-docs/architecture-decision-records/adr-222-sashimi-arcs-are-link-marks.md
  agent-docs/ideas/ready/a-link-places-a-foot-in-its-own-region-at-any-index.md
  agent-docs/ideas/waiting-on-a-call/a-far-link-with-a-low-apex-draws-flat-not-as-legs.md
Due: prettier --write

autogen: the sashimi label getter, and the two parked ideas' index rows
  agent-docs/architecture-decision-records/README.md
  agent-docs/ideas/README.md
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write

chore: pre-push autofix
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

Re-render the diagrams whose sources the color respelling edited
  agent-docs/reference/diagrams/alignments-color-pipeline.svg
  agent-docs/reference/diagrams/alignments-read-color.svg
  agent-docs/reference/diagrams/feature-color.svg
  agent-docs/reference/diagrams/grammar-pipeline.svg
  agent-docs/reference/diagrams/hic-color.svg
  agent-docs/reference/diagrams/maf-cell-color.svg
  agent-docs/reference/diagrams/maf-rendering.svg
  agent-docs/reference/diagrams/synteny-color.svg
  agent-docs/reference/diagrams/synteny-draw.svg
  agent-docs/reference/diagrams/variants-cell-color.svg
  agent-docs/reference/diagrams/variants-color-by.svg
  agent-docs/reference/diagrams/variants-displays.svg
  agent-docs/reference/diagrams/wiggle-color.svg
  agent-docs/reference/diagrams/wiggle-shape.svg
  website/diagrams/diagrams.lock
Due: none

Tutorials: the trim's findings become rules, and data stops acting
  website/CLAUDE.md
  website/docs/tutorials/CLAUDE.md
  website/docs/tutorials/circular_synteny.md
  website/docs/tutorials/dog10k_lof.md
  website/docs/tutorials/dog10k_svs.md
  website/docs/tutorials/dtu.md
  website/docs/tutorials/genomes_proteins.md
  website/docs/tutorials/hg38_vertebrates_synteny.md
  website/docs/tutorials/methylation.md
  website/docs/tutorials/odp_linkage_groups_synteny.md
  website/docs/tutorials/pangenome_hprc_repeats.md
  website/docs/tutorials/pangenome_mouse.md
  website/docs/tutorials/scrna_pseudobulk.md
Due: prettier --write

Methylation tutorial: modkit commands that run on 0.6
  website/docs/tutorials/mcscan_synteny_grape_peach.md
  website/docs/tutorials/methylation.md
  website/docs/tutorials/sv_visualization_cgiab.md
Due: prettier --write

RepeatMasker tutorial: the config pins row order again
  figures.lock
  scripts/build_repeatmasker_classes.sh
  website/docs/tutorials/repeatmasker_classes.md
  website/scripts/specs/cookbook.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Bump deps
  package.json
  pnpm-lock.yaml
  products/jbrowse-build-your-own/examples-site/package.json
  products/jbrowse-desktop/package.json
  products/jbrowse-react-app/examples-site/package.json
  products/jbrowse-react-circular-genome-view/examples-site/package.json
  products/jbrowse-react-linear-genome-view/examples-site/package.json
  website/package.json
Due: none

Remove the honeybee demo, whose bigWigs and GFF were never committed (#5634)
  products/jbrowse-web/browser-tests/suites/demo-inventory.ts
  products/jbrowse-web/src/components/NoConfigMessageSampleData.ts
  test_data/honeybee/aliases.txt
  test_data/honeybee/amel_hav3.1.chrom.sizes
  test_data/honeybee/config.json
Due: prettier --write, eslint --fix

A far link with a low apex draws as a dome, not as legs at its feet
  agent-docs/architecture-decision-records/adr-222-sashimi-arcs-are-link-marks.md
  agent-docs/ideas/README.md
  agent-docs/ideas/waiting-on-a-call/a-far-link-with-a-low-apex-draws-flat-not-as-legs.md
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/core/src/ReExports/reExports.generated.json
  packages/render-core/src/marks/linkMark.test.ts
  packages/render-core/src/marks/linkMark.ts
  packages/render-core/src/shaders/curveDistance.js.generated.ts
  packages/render-core/src/shaders/curveDistance.slang
  packages/render-core/src/shaders/farDome.test.ts
  packages/render-core/src/shaders/linkMark.consts.generated.ts
  packages/render-core/src/shaders/linkMark.glsl.generated.ts
  packages/render-core/src/shaders/linkMark.js.generated.ts
  packages/render-core/src/shaders/linkMark.slang
  packages/render-core/src/shaders/linkMark.wgsl.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/sashimiHitTest.test.tsx
  plugins/marks/src/LinearMarkDisplay/textMarks.test.ts
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

Lockfile: the root @babel/core specifier matches its override
  pnpm-lock.yaml
Due: none

Remove the dead TogoVar SPARQL tracks and the Wormbase demo
  products/jbrowse-web/src/components/NoConfigMessageSampleData.ts
  test_data/config_demo.json
  test_data/wormbase/ce_aliases.txt
  test_data/wormbase/config.json
Due: prettier --write, eslint --fix

chore: pre-push autofix
  scripts/registryBundleSizes.json
Due: none

[skip ci] config_demo: dbSUPER is hg19 data, so it belongs on hg19
  test_data/config_demo.json
Due: none

A far read pair draws its legs again: only an apex its scale holds is kept
  agent-docs/architecture-decision-records/adr-222-sashimi-arcs-are-link-marks.md
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/render-core/src/marks/linkMark.test.ts
  packages/render-core/src/marks/linkMark.ts
  packages/render-core/src/shaders/linkMark.glsl.generated.ts
  packages/render-core/src/shaders/linkMark.js.generated.ts
  packages/render-core/src/shaders/linkMark.slang
  packages/render-core/src/shaders/linkMark.wgsl.generated.ts
  plugins/marks/src/LinearMarkDisplay/textMarks.test.ts
Due: prettier --write, eslint --fix

autogen: linkApexHeld's export and the bundle sizes
  packages/core/src/ReExports/reExports.generated.json
  scripts/registryBundleSizes.json
Due: none

docs: the pangenome tutorials follow the genomes page's gene-or-region box
  website/docs/tutorials/pangenome_cattle.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/tutorials/pangenome_hprc_haplotypes.md
  website/docs/tutorials/pangenome_hprc_repeats.md
  website/docs/tutorials/pangenome_mouse.md
  website/scripts/figure-manifest.json
  website/scripts/specs/genomes_pangenome.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

ideas: the SV review portal draws tumor and normal in one image per record
  agent-docs/ideas/README.md
  agent-docs/ideas/ready/sv-review-portal.md
Due: prettier --write

Far dome: its hull is exported and refereed, and a junction the view sits inside carries its count
  agent-docs/ideas/ready/canvas2d-draws-no-coverage-or-pileup-under-a-wide-arc-band.md
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/render-core/src/marks/index.ts
  packages/render-core/src/marks/linkMark.test.ts
  packages/render-core/src/marks/linkMark.ts
  packages/render-core/src/shaders/arcHull.test.ts
  packages/render-core/src/shaders/curveDistance.js.generated.ts
  packages/render-core/src/shaders/curveDistance.slang
  packages/render-core/src/shaders/linkMark.glsl.generated.ts
  packages/render-core/src/shaders/linkMark.slang
  packages/render-core/src/shaders/linkMark.wgsl.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/sashimiHitTest.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/sashimiMarks.ts
Due: prettier --write, eslint --fix

autogen: the far dome's hull and label exports, the ideas index
  agent-docs/ideas/README.md
  packages/core/src/ReExports/reExports.generated.json
  scripts/registryBundleSizes.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
