Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Regenerate the registry bundle sizes after the rebase onto main
  scripts/registryBundleSizes.json
Due: none

Multiway lanes ask the assembly manager only for held genomes, and ticks stop at the contig end
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneStack.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.ts
Due: prettier --write, eslint --fix

slangPass refuses a shader module generated before the text went lazy
  agent-docs/reference/PLUGIN_ABI_STABILITY.md
  packages/render-core/src/slangPass.test.ts
  packages/render-core/src/slangPass.ts
Due: prettier --write, eslint --fix

jbrowse validate checks a shorthand as the slot it lifts into
  agent-docs/architecture-decision-records/adr-149-the-per-base-layer-is-its-own-colour-object.md
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-cli/src/commands/validate/schemaValidate.test.ts
  products/jbrowse-cli/src/commands/validate/schemaValidate.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.test.ts
  scripts/configJsonSchema.ts
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

configJsonSchema reads a shorthand's target off the slot table, which tsc can index
  scripts/configJsonSchema.ts
Due: prettier --write, eslint --fix

Drop TRANSFORM_TYPES: the step union's keys satisfy the rule list's step types
  agent-docs/architecture-decision-records/adr-150-a-transform-step-is-one-schema-per-type.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  agent-docs/reference/MARK_ENCODING.md
  plugins/marks/src/LinearMarkDisplay/markTransformConfigSchema.test.ts
  plugins/marks/src/LinearMarkDisplay/markTransformConfigSchema.ts
  plugins/marks/src/LinearMarkDisplay/markVocabulary.ts
  products/jbrowse-cli/src/commands/validate/markRules/markVocabulary.ts
Due: prettier --write, eslint --fix

Docs: ADR-148's linear round trip is superseded, and the synteny handoff cites commits on main
  agent-docs/architecture-decision-records/adr-148-the-alignments-read-fill-is-the-colour-object.md
  agent-docs/handoffs/synteny-mates-and-follow-review.md
Due: prettier --write

Update genomespy
  website/docs/introduction.md
Due: prettier --write

fix(synteny follow): centering hands the anchor to a row that moved
  plugins/linear-comparative-view/src/LinearSyntenyView/gestureTakesAnchor.integration.test.ts
  plugins/linear-comparative-view/src/SyntenyFeatureDetail/centerOnFeature.ts
  plugins/linear-comparative-view/src/SyntenyFollow/CLAUDE.md
Due: prettier --write, eslint --fix

fix(synteny): a mark's click adds a slice beside the row's own, and the hover says where it goes
  agent-docs/reference/OFFSCREEN_SYNTENY_MATES.md
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/LevelSyntenyCanvas.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/OffscreenMateTooltip.test.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/OffscreenMateTooltip.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/offscreenMateNav.integration.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/offscreenMateNav.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/stateModelFactory.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearSyntenyViewHelper.md
Due: prettier --write, eslint --fix

docs(synteny): comments say a mate mark is decided by locus, not by contig
  agent-docs/reference/OFFSCREEN_SYNTENY_MATES.md
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/matePanelNavigation.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/drawOffscreenMates.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/collectOffscreenMates.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/executeSyntenyFeaturesAndPositions.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/offscreenMateStrip.ts
Due: prettier --write, eslint --fix

fix(synteny): a mark's added slice holds its mates and sits beside its neighbour
  agent-docs/reference/OFFSCREEN_SYNTENY_MATES.md
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/OffscreenMateTooltip.test.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/OffscreenMateTooltip.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/offscreenMateNav.integration.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/offscreenMateNav.ts
Due: prettier --write, eslint --fix

Handoff: M14, M10, M12 and the centering fix have landed, with the reviews' open findings
  agent-docs/handoffs/README.md
  agent-docs/handoffs/synteny-mates-and-follow-review.md
  agent-docs/reference/README.md
  scripts/registryBundleSizes.json
Due: prettier --write

ideas/ has no closed/ folder: a verdict becomes an ADR or goes
  agent-docs/CLAUDE.md
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-052-slot-name-safety-is-a-write-guard.md
  agent-docs/architecture-decision-records/adr-152-wiggle-stays-off-the-column-encoder-until-two-lanes-go.md
  agent-docs/handoffs/reshoot-agent-client-clips.md
  agent-docs/ideas/README.md
  agent-docs/ideas/closed/land-the-agent-client-demo-videos.md
  agent-docs/ideas/closed/size-the-uniform-ring-to-its-measured-occupancy.md
  agent-docs/ideas/closed/the-config-read-baseline-is-mostly-not-display-debt.md
  agent-docs/ideas/ready/stop-rewriting-the-workers-arrays-to-lay-out-features.md
  agent-docs/ideas/waiting-on-a-number/bench-typed-columns-against-the-per-base-extract.md
  agent-docs/ideas/waiting-on-someone-else/wiggle-instance-records-carry-per-row-constants.md
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  packages/core/benches/columnEncode.bench.ts
  packages/core/benches/columnTable.ts
  packages/render-core/src/hal/webgpuHal.ts
  packages/render-core/src/shaders/colorPack.slang
  products/jbrowse-web/browser-tests/probe-uniform-ring.ts
  website/scripts/generate-doc-indexes.ts
Due: prettier --write, eslint --fix

Handoff: ADR-150 reviewed clean; three follow-ups outside it
  agent-docs/handoffs/README.md
  agent-docs/handoffs/adr-150-review-followups.md
Due: prettier --write

Handoff: ADR-149 audit holds, with three loose ends and an unchecked figure claim
  agent-docs/handoffs/README.md
  agent-docs/handoffs/adr-149-base-color-audit.md
Due: prettier --write

Revert "gfa_to_pairwise_paf.py --compare-bases aligns the private bp between two anchors base by base"
  scripts/gfa_to_pairwise_paf.py
  scripts/gfa_to_pairwise_paf.test.ts
Due: prettier --write, eslint --fix

build_graph_haplotype_stack.sh takes its alignments from gbz-base-query --stack
  agent-docs/reference/HPRC_RELEASE2.md
  scripts/build_graph_haplotype_stack.sh
  website/docs/tutorials/amylase_haplotypes.md
Due: prettier --write

The stack script takes the reader's unbounded gap, not a locus-tuned cap
  scripts/build_graph_haplotype_stack.sh
Due: none

The C4 stack command drops --max-gap, which the reader no longer needs
  website/docs/tutorials/amylase_haplotypes.md
Due: prettier --write

The C4 stack's PAF is what @gmod/gbz-base 2.7.0 writes, and the amylase rows go through the same script
  test_data/hprc_c4_stack/adjacent.paf
  website/docs/tutorials/amylase_haplotypes.md
Due: prettier --write

Handoff: the v2 overview test, the C4 figure reshoot and the plugin's haplotype-to-haplotype lanes
  agent-docs/handoffs/README.md
  agent-docs/handoffs/hprc-graph-overview-and-live-stack.md
Due: prettier --write

Handoff: the second pass's confirmed fixes, two stopped fixer worktrees, and ten closures
  agent-docs/handoffs/README.md
  agent-docs/handoffs/synteny-mates-and-follow-review.md
Due: prettier --write

The multiway ideas file drops the alias lookup and the lane ticks, fixed by b59f57b267
  agent-docs/ideas/collections/multiway-synteny-lgv-track.md
Due: prettier --write

One animation deadline for canvas's row morph and the multi-way lane motion
  packages/display-kit/src/displayAutoruns.ts
  plugins/canvas/src/LinearBasicDisplay/yMorphViews.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/afterAttach.ts
Due: prettier --write, eslint --fix

Spelling in the introduction's GenomeSpy line
  website/docs/introduction.md
Due: prettier --write

Regenerate the re-export registry and bundle sizes for installAnimationDeadline
  packages/core/src/ReExports/reExports.generated.json
Due: none

Regenerate the config docs, schema and model docs for the synteny label colour rule
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/RibbonColor.md
  website/docs/config/SyntenyColor.md
  website/docs/models/MultiWaySyntenyDisplay.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

A synteny text-column label paints the same color in every window and session
  packages/synteny-core/src/TrackColorsMixin.test.ts
  packages/synteny-core/src/TrackColorsMixin.ts
  packages/synteny-core/src/colorByMenuItems.tsx
  packages/synteny-core/src/colorFunctions.test.ts
  packages/synteny-core/src/colorFunctions.ts
  packages/synteny-core/src/colorRamps.ts
  packages/synteny-core/src/syntenyColorConfigSchema.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/ribbonColorConfigSchema.ts
  website/docs/user_guides/dotplot_view.md
  website/docs/user_guides/linear_synteny_view.md
Due: prettier --write, eslint --fix

Registry bundle sizes after the rebase onto main
  scripts/registryBundleSizes.json
Due: none

Handoff: the colour-menu Default and the per-zoom block ribbon calls
  agent-docs/handoffs/README.md
  agent-docs/handoffs/colour-menu-default-and-grammar-ideas.md
Due: prettier --write

A mate click frames a union wider than the window
  agent-docs/reference/OFFSCREEN_SYNTENY_MATES.md
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/offscreenMateNav.integration.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/offscreenMateNav.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/stateModelFactory.ts
Due: prettier --write, eslint --fix

Mate strip: the contig floor sums the strip, a hidden ribbon leaves no mark, and the identity fade keeps it hidden
  agent-docs/reference/OFFSCREEN_SYNTENY_MATES.md
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/culledRibbonMates.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/culledRibbonMates.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/drawOffscreenMates.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/drawOffscreenMates.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/syntenyColors.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/syntenyColors.ts
Due: prettier --write, eslint --fix

Band: a refetch drops a stale mark tooltip, the shadow leaves the marks alone, and a drag follows the anchor
  agent-docs/architecture-decision-records/adr-019-synteny-cpu-picking.md
  agent-docs/reference/PERF_INSTRUMENTATION.md
  plugins/linear-comparative-view/src/LinearSyntenyView/gestureTakesAnchor.integration.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/LevelSyntenyCanvas.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/parentViewDuck.ts
Due: prettier --write, eslint --fix

Follow: settle reads where the row is, and a flip, a fusion or a lone answer no longer misplace it
  plugins/linear-comparative-view/src/SyntenyFollow/followLevelStates.test.ts
  plugins/linear-comparative-view/src/SyntenyFollow/followLevelStates.ts
  plugins/linear-comparative-view/src/SyntenyFollow/followSpreadSpans.test.ts
  plugins/linear-comparative-view/src/SyntenyFollow/followSpreadSpans.ts
  plugins/linear-comparative-view/src/SyntenyFollow/followWindowMapping.ts
  plugins/linear-comparative-view/src/SyntenyFollow/installSyntenyFollow.test.ts
  plugins/linear-comparative-view/src/SyntenyFollow/installSyntenyFollow.ts
  plugins/linear-comparative-view/src/SyntenyFollow/spreadDecision.test.ts
  plugins/linear-comparative-view/src/SyntenyFollow/spreadDecision.ts
Due: prettier --write, eslint --fix

Review fixes: a mid-flight click keeps its zoom, the lock holds, and the wheel follows the anchor
  agent-docs/reference/OFFSCREEN_SYNTENY_MATES.md
  plugins/linear-comparative-view/src/LinearSyntenyRPC/syntenyColors.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/syntenyColors.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/components/FollowSyntenyToggle.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/components/FollowSyntenyToggle.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/gestureTakesAnchor.integration.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/offscreenMateNav.integration.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/offscreenMateNav.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/parentViewDuck.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/stateModelFactory.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/useWheelScrollZoom.ts
  plugins/linear-comparative-view/src/SyntenyFollow/installSyntenyFollow.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
Due: prettier --write, eslint --fix

Follow: FollowPair drops the movingIndex nothing read, and one navSignature spells both backstop keys
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/SyntenyFollow/installSyntenyFollow.test.ts
  plugins/linear-comparative-view/src/SyntenyFollow/installSyntenyFollow.ts
Due: prettier --write, eslint --fix

Detail levels keep flyToFit as the level's own, beside flyTo
  plugins/linear-genome-view/src/LinearGenomeView/detailLevels.ts
Due: prettier --write, eslint --fix

Regenerate model docs and registry bundle sizes for the mate and follow fixes
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearGenomeView.md
  website/docs/models/LinearSyntenyDisplay.md
  website/docs/models/LinearSyntenyView.md
Due: prettier --write

Handoff: the mate and follow bugs but M11, M15 and B8 have landed
  agent-docs/handoffs/synteny-mates-and-follow-review.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
