Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs(figures): five review items, and the same track cannot open twice in one view
  website/docs/tutorials/dog10k_svs.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/tutorials/synteny_visualization.md
  website/docs/user_guides/linear_synteny_view.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-spec-helpers.ts
  website/scripts/specs/dog10k.ts
  website/scripts/specs/graph.ts
  website/scripts/specs/synteny.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

docs(pangenome): cytobands on the HPRC hg38, as the assembly's and as a lane
  test_data/graphgenomeview/hprc.json
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/specs/graph.ts
Due: prettier --write, eslint --fix

chore(figures): publish this round
  figures.lock
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

refactor(alignments): the legend's category table is exhaustive by type now
  plugins/alignments/src/shared/legendUtils.test.ts
  plugins/alignments/src/shared/legendUtils.ts
Due: prettier --write, eslint --fix

feat(synteny): move the other panel to a chain block's matching region
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/matePanelNavigation.test.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/matePanelNavigation.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/testEnv.ts
Due: prettier --write, eslint --fix

docs(hg002): the panels drift, so say so and show the move that fixes it
  figures.lock
  website/docs/tutorials/hg002_haplotypes.md
  website/docs/user_guides/linear_synteny_view.md
  website/scripts/specs/hg002_haplotypes.ts
Due: prettier --write, eslint --fix

chore(figures): the new hg002 spec's live link
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

perf(alignments): inflate BAM chunks on a bgzf worker pool
  plugins/alignments/package.json
  plugins/alignments/src/BamAdapter/BamAdapter.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(deps): pnpm upgrade --recursive
  package.json
  packages/core/package.json
  plugins/alignments/package.json
  plugins/authentication/package.json
  plugins/bed/package.json
  plugins/comparative-adapters/package.json
  plugins/gff3/package.json
  plugins/gtf/package.json
  plugins/hic/package.json
  plugins/legacy-jbrowse/package.json
  plugins/maf/package.json
  plugins/variants/package.json
  pnpm-lock.yaml
  products/jbrowse-web/package.json
  website/package.json
Due: none

Inflate BAM chunks on a bgzf worker pool (#5612)
  package.json
  packages/core/package.json
  plugins/alignments/package.json
  plugins/alignments/src/BamAdapter/BamAdapter.ts
  plugins/authentication/package.json
  plugins/bed/package.json
  plugins/comparative-adapters/package.json
  plugins/gff3/package.json
  plugins/gtf/package.json
  plugins/hic/package.json
  plugins/legacy-jbrowse/package.json
  plugins/maf/package.json
  plugins/variants/package.json
  pnpm-lock.yaml
  products/jbrowse-web/package.json
  website/package.json
Due: prettier --write, eslint --fix

chore(deps): @gmod/cram 12.0.0
  pnpm-lock.yaml
Due: none

feat(alignments): use @gmod/cram v12's getTag and next-segment fields
  plugins/alignments/package.json
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/CramAdapter/CramSlightlyLazyFeature.ts
Due: prettier --write, eslint --fix

Use @gmod/cram v12's getTag and next-segment fields (#5613)
  plugins/alignments/package.json
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/CramAdapter/CramSlightlyLazyFeature.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(tree-sidebar): the hovered-subtree band all but vanished on a dark track
  packages/tree-sidebar/src/hierarchy.ts
  packages/tree-sidebar/src/treeDrawingAutorun.test.ts
  packages/tree-sidebar/src/treeDrawingAutorun.ts
Due: prettier --write, eslint --fix

fix(tree-sidebar): the gutter could be dragged wider than the view, taking its own handle off screen
  packages/tree-sidebar/src/TreeSidebar.tsx
  packages/tree-sidebar/src/treeSidebarGeometry.test.ts
  packages/tree-sidebar/src/treeSidebarGeometry.ts
Due: prettier --write, eslint --fix

refactor(tree-sidebar): the provenance chip asks treeIsShowing like everything else
  packages/tree-sidebar/src/ClusterProvenanceHint.tsx
Due: prettier --write, eslint --fix

chore(figures): publish pangenome/hprc_l1_density_context
  figures.lock
Due: none

docs(pangenome): answer "is that a lot of L1" at the scale the question is asked
  scripts/build_repeat_density.sh
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/figure-manifest.json
  website/scripts/specs/graph.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

fix(tree-sidebar): clicking the root offered a subtree filter that hides nothing
  packages/tree-sidebar/src/TreeSidebar.tsx
  packages/tree-sidebar/src/clusterUtils.test.ts
  packages/tree-sidebar/src/clusterUtils.ts
Due: prettier --write, eslint --fix

docs(hg002): move the panel-framing step to where the problem appears, and cut
  website/docs/tutorials/hg002_haplotypes.md
Due: prettier --write

refactor(maf): name the three bits of codon/frame arithmetic nobody could check
  plugins/maf/src/LinearMafDisplay/components/computeVisibleAnnotations.test.ts
  plugins/maf/src/LinearMafDisplay/components/computeVisibleAnnotations.ts
  plugins/maf/src/LinearMafDisplay/components/computeVisibleCodons.test.ts
  plugins/maf/src/LinearMafDisplay/components/computeVisibleCodons.ts
  plugins/maf/src/LinearMafDisplay/menuHints.test.ts
  plugins/maf/src/LinearMafRenderer/rendering/annotations.ts
  plugins/maf/src/LinearMafRenderer/util.ts
  plugins/maf/src/util/asciiBytes.test.ts
  plugins/maf/src/util/asciiBytes.ts
Due: prettier --write, eslint --fix

feat(maf): the CDS-frame strip gets a color key, and a bound on its own read
  plugins/maf/src/LinearMafDisplay/components/CodonTranslationOverlay.tsx
  plugins/maf/src/LinearMafDisplay/fetchMafData.test.ts
  plugins/maf/src/LinearMafDisplay/fetchMafData.ts
  plugins/maf/src/LinearMafDisplay/frameColorKey.test.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
Due: prettier --write, eslint --fix

feat(maf): two more menu rows say when a setting is correct but inert
  packages/core/src/ui/radioSubMenu.test.ts
  packages/core/src/ui/radioSubMenu.ts
  plugins/maf/src/LinearMafDisplay/menuHints.test.ts
  plugins/maf/src/LinearMafDisplay/trackMenuItems.ts
Due: prettier --write, eslint --fix

chore(docs): regenerate the model tables for TreeSpatialIndex
  website/docs/models/LinearMafDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
Due: prettier --write

feat(variants): a variant-lane band above the genotype rows, and one geometry for the stack
  packages/tree-sidebar/CLAUDE.md
  packages/tree-sidebar/src/ClusterProvenanceHint.tsx
  packages/tree-sidebar/src/StaleTreeHint.test.tsx
  packages/tree-sidebar/src/StaleTreeHint.tsx
  packages/tree-sidebar/src/TreeSidebar.tsx
  packages/tree-sidebar/src/treeDrawingAutorun.test.ts
  packages/tree-sidebar/src/treeSidebarGeometry.test.ts
  packages/tree-sidebar/src/treeSidebarGeometry.ts
  packages/tree-sidebar/src/types.ts
  plugins/maf/src/LinearMafDisplay/components/LinearMafDisplayComponent.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/configSchema.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/model.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/components/SvgVariantOverlay.tsx
  plugins/variants/src/shared/renderSvgUtils.ts
  plugins/variants/src/shared/variantTopBands.ts
Due: prettier --write, eslint --fix

docs(website): cut CLAUDE.md from 372 lines to 62
  website/CLAUDE.md
Due: prettier --write

feat(variants): paint the variant lane, and offset the rows under it
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/VariantDisplayComponent.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/VariantLaneOverlay.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/computeVariantCells.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/drawVariantLane.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/insertionLegend.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/model.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/renderSvg.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/rowPlacement.test.ts
  plugins/variants/src/shared/constants.ts
Due: prettier --write, eslint --fix

refactor(variants): share the variant-specific halves the lane and the cells both want
  packages/core/src/ui/palette.ts
  plugins/canvas/src/RenderFeatureDataRPC/featureColors.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/computeVariantCells.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/drawVariantInsertionGlyphs.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/drawVariantLane.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/drawVariantLane.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/forEachFeatureSpan.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/insertionLegend.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/rowPlacement.test.ts
  plugins/variants/src/LinearVariantDisplay/breakendMenu.ts
  plugins/variants/src/shared/breakendSplitViewMenuItem.ts
  plugins/variants/src/shared/constants.ts
  plugins/variants/src/shared/multiSampleVariantMenuItems.ts
  plugins/variants/src/shared/variantTopBands.test.ts
  plugins/variants/src/shared/variantTopBands.ts
Due: prettier --write, eslint --fix

test(variants): prove the lane paints and the band comes out of the rows
  plugins/variants/src/CLAUDE.md
  plugins/variants/src/index.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-web/src/tests/ExportSvgMultiSampleVariant.test.tsx
  website/docs/config/LinearMultiSampleVariantDisplay.md
  website/docs/developer_guides/theming.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
Due: prettier --write, eslint --fix

feat(variants): letter the variant lane, with plugin-canvas's text and geometry
  plugins/canvas/src/index.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/VariantLaneOverlay.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/drawVariantLane.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/drawVariantLane.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/configSchema.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/model.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/renderSvg.tsx
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/variantTopBands.test.ts
  plugins/variants/src/shared/variantTopBands.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-web/src/tests/ExportSvgMultiSampleVariant.test.tsx
  website/docs/config/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
Due: prettier --write, eslint --fix

docs(pangenome): fold the L1 density context into the donor-node figure
  figures.lock
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/figure-manifest.json
  website/scripts/specs/graph.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

docs: two captions back under the length gate
  website/docs/tutorials/dog10k_svs.md
  website/docs/tutorials/pangenome_hprc.md
Due: prettier --write

feat(review): rebuild the review page on load, so an edit needs a reload not a restart
  packages/browser-test-utils/src/index.ts
  packages/browser-test-utils/src/reviewBundle.ts
  products/jbrowse-web/CLAUDE.md
  products/jbrowse-web/browser-tests/review-snapshots-web.ts
  website/scripts/review-screenshots-web.ts
Due: prettier --write, eslint --fix

fix(review-ui): the height cap stretched every tall figure, sideways this time
  website/scripts/probe-review-layout.ts
  website/scripts/review-app/Compare.tsx
  website/scripts/review-app/app.css
Due: prettier --write, eslint --fix

feat(variants): lane labels take plugin-canvas's showLabels enum, descriptions and all
  plugins/canvas/src/index.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/VariantLaneOverlay.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/drawVariantLane.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/drawVariantLane.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/configSchema.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/model.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/renderSvg.tsx
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/variantTopBands.test.ts
  plugins/variants/src/shared/variantTopBands.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  website/docs/config/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMafDisplay.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
  website/scripts/long-captions.txt
  website/scripts/specs/dog10k.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

chore(figures): publish the three dog10k figures the variant lane collapsed
  figures.lock
Due: none

fix(screenshots): anchor the follow-panel stage titles, and give the app bar a testid
  packages/app-core/src/ui/App/App.tsx
  website/scripts/specs/hg002_haplotypes.ts
Due: prettier --write, eslint --fix

chore: hold the two trimmed captions in the ratchet
  website/scripts/long-captions.txt
Due: none

Bump figures.lock
  figures.lock
  website/CLAUDE.md
  website/scripts/screenshot-review.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
