Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Bump deps
  products/jbrowse-web/src/tests/__overlap_demo__/long-read-sv.svg
  products/jbrowse-web/src/tests/__overlap_demo__/short-read-paired.svg
Due: none

Bump deps
  pnpm-lock.yaml
Due: none

refactor(data-management): gate track-selector persist on loaded scope
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
Due: prettier --write, eslint --fix

feat(website): simplify header bar and rework Genome Hubs discovery
  website/docs/introduction.md
  website/src/components/HomePage.astro
  website/src/layouts/BaseLayout.astro
  website/src/layouts/BaseLayout.module.css
  website/src/lib/nav.ts
  website/src/pages/sitemap.xml.ts
Due: prettier --write, eslint --fix

docs: simplify tutorials index and tighten tutorial descriptions
  website/docs/introduction.md
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/analyze_trio.md
  website/docs/tutorials/bisulfite.md
  website/docs/tutorials/bxd_qtl.md
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/cli_desktop.md
  website/docs/tutorials/methylation.md
  website/docs/tutorials/multiway_synteny.md
  website/docs/tutorials/population_genomics.md
  website/docs/tutorials/protein_structure.md
  website/docs/tutorials/rnaseq.md
  website/docs/tutorials/scatac_pseudobulk.md
  website/docs/tutorials/sv_multisamples.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/docs/tutorials/synteny_visualization.md
  website/src/lib/remark-doc-list.ts
  website/src/pages/docs/tutorials/index.astro
Due: prettier --write, eslint --fix

docs: trim redundant phrasing in methylation tutorial
  website/docs/tutorials/methylation.md
Due: prettier --write

feat(website): one big figure per row in gallery, explicit open links
  website/src/lib/gallery.ts
  website/src/pages/gallery.astro
Due: prettier --write, eslint --fix

docs: fix broken plugin-store link and caption typos in user guides
  website/docs/user_guides/basic_usage.md
  website/docs/user_guides/multivariant_track.md
  website/docs/user_guides/quantitative_track.md
Due: prettier --write

feat(website): move plugin store from header bar to docs sidebar
  website/src/lib/docs-sidebar.ts
  website/src/lib/nav.ts
  website/src/pages/plugin_store.astro
  website/src/pages/sitemap.xml.ts
Due: prettier --write, eslint --fix

docs: link the plugin-store guide to the plugin-store listing page
  website/docs/user_guides/plugin_store.md
Due: prettier --write

refactor(website): flatten Gallery and Demos sidebar entries to plain links
  website/src/lib/docs-sidebar.ts
Due: prettier --write, eslint --fix

feat(alignments): add methylated-only mode to bisulfite coloring
  plugins/alignments/src/LinearAlignmentsDisplay/menus/colorBy.tsx
  plugins/alignments/src/features/modification/bisulfite.test.ts
  plugins/alignments/src/features/modification/extract.ts
  plugins/alignments/src/shared/extractFeatureArrays.ts
  plugins/alignments/src/shared/legendUtils.ts
  plugins/alignments/src/shared/types.ts
  website/docs/tutorials/bisulfite.md
  website/scripts/specs/methylation.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

fix(website): stop copy-markdown button overlapping expanded TOC panel
  website/src/components/TableOfContents.astro
Due: none

docs(bisulfite): regenerate one-color figure, fix menu path
  website/docs/tutorials/bisulfite.md
  website/static/img/methylation/arabidopsis_wgbs_contexts.png
Due: prettier --write

Rewrote cookbook.md around the "one canonical example drives the variants" idea:
  website/docs/cookbook.md
Due: prettier --write

Reorganize docs-sidebar
  plugins/alignments/src/LinearAlignmentsDisplay/menus/colorBy.tsx
  website/docs/cookbook.md
  website/docs/tutorials/bisulfite.md
  website/src/lib/docs-sidebar.ts
  website/src/pages/plugin_store.astro
Due: prettier --write, eslint --fix

fix(wiggle): strip extension from drag-dropped multiwiggle subtrack names
  plugins/wiggle/src/MultiWiggleAdapter/MultiWiggleAdapter.ts
  plugins/wiggle/src/MultiWiggleAddTrackWorkflow/DropZone.tsx
  plugins/wiggle/src/MultiWiggleAddTrackWorkflow/util.test.ts
  plugins/wiggle/src/MultiWiggleAddTrackWorkflow/util.ts
  plugins/wiggle/src/util.ts
Due: prettier --write, eslint --fix

refactor(render-core): standardize the shared bpRangeX uniform write
  .github/workflows/push.yml
  packages/render-core/CLAUDE.md
  packages/render-core/src/blockClipUtils.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/GpuMultiRowRenderer.ts
  plugins/gwas/src/LinearManhattanDisplay/GpuManhattanRenderer.ts
  plugins/maf/src/LinearMafRenderer/GpuMafRenderer.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/GpuVariantRenderer.ts
  plugins/wiggle/src/shared/GpuWiggleRenderer.ts
Due: prettier --write, eslint --fix

test(render-core): cover bpRangeXTuple + writeBpRangeUniforms chokepoint
  packages/render-core/src/blockClipUtils.test.ts
Due: prettier --write, eslint --fix

docs(agent-docs): handoff for the "genome mark" shader abstraction
  agent-docs/reference/genome-mark-shader-abstraction-handoff.md
Due: prettier --write

feat(data-management): strip-extensions checkbox for bulk add tracks
  packages/core/src/util/tracks.test.ts
  packages/core/src/util/tracks.ts
  plugins/data-management/src/BulkAddTracksWorkflow/BulkAddTracksWorkflow.test.tsx
  plugins/data-management/src/BulkAddTracksWorkflow/BulkAddTracksWorkflow.tsx
  plugins/data-management/src/BulkAddTracksWorkflow/SubmitTracksButton.tsx
  plugins/data-management/src/BulkAddTracksWorkflow/TrackPreviewTable.tsx
  plugins/data-management/src/BulkAddTracksWorkflow/util.test.ts
  plugins/data-management/src/BulkAddTracksWorkflow/util.ts
Due: prettier --write, eslint --fix

fix(data-management): keep extensions on colliding bulk track names
  plugins/data-management/src/BulkAddTracksWorkflow/BulkAddTracksWorkflow.test.tsx
  plugins/data-management/src/BulkAddTracksWorkflow/BulkAddTracksWorkflow.tsx
  plugins/data-management/src/BulkAddTracksWorkflow/SubmitTracksButton.tsx
  plugins/data-management/src/BulkAddTracksWorkflow/TrackPreviewTable.tsx
  plugins/data-management/src/BulkAddTracksWorkflow/pairLocations.ts
  plugins/data-management/src/BulkAddTracksWorkflow/util.test.ts
  plugins/data-management/src/BulkAddTracksWorkflow/util.ts
Due: prettier --write, eslint --fix

refactor(core): delete the stranded pluggable glyph registry
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-036-delete-stranded-pluggable-glyph-registry.md
  packages/core/src/PluginManager.ts
  packages/core/src/pluggableElementTypes/GlyphType.ts
  packages/core/src/pluggableElementTypes/index.ts
Due: prettier --write, eslint --fix

refactor(shaders): share the min-width expand; fix a false parity comment in maf
  packages/render-core/src/shaders/hpmath.slang
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/arcMarker.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/clip.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/connectingLine.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/coverage.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/flatQuad.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/gap.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/insertion.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/interbaseHistogram.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/mismatch.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/modCoverage.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/overlap.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/packedColorQuad.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/snpCoverage.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/arrow.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/line.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/rect.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/rect.slang
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/shaders/multiRow.generated.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/shaders/multiRow.slang
  plugins/hic/src/LinearHicDisplay/components/shaders/hic.generated.ts
  plugins/maf/src/LinearMafRenderer/GpuMafRenderer.ts
  plugins/maf/src/LinearMafRenderer/shaders/maf.generated.ts
  plugins/maf/src/LinearMafRenderer/shaders/maf.slang
  plugins/variants/src/LDDisplay/components/shaders/ldGenomic.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldUniform.generated.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/shaders/variant.generated.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/shaders/variantMatrix.generated.ts
  plugins/wiggle/src/shared/shaders/wiggle.generated.ts
  plugins/wiggle/src/shared/shaders/wiggle.slang
Due: prettier --write, eslint --fix

feat(website): point staged docs' live links at code/jb2/main
  website/CLAUDE.md
  website/deploy_staging.sh
  website/scripts/screenshot-specs.ts
Due: prettier --write, eslint --fix

feat(website): retarget hand-written docs links with the figure links
  website/scripts/screenshot-specs.ts
  website/src/components/CopyMarkdown.astro
  website/src/lib/code-base.ts
  website/src/lib/emit-raw-markdown.ts
  website/src/lib/markdown.ts
  website/src/lib/remark-code-base.ts
  website/src/lib/remark-spec-example.ts
Due: prettier --write, eslint --fix

fix(maf): keep the row-height drag alive when the canvas cap engages
  plugins/maf/src/LinearMafDisplay/components/computeVisibleCodons.ts
  plugins/maf/src/LinearMafDisplay/coverageInsertion.ts
  plugins/maf/src/LinearMafDisplay/resizeHeight.test.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
Due: prettier --write, eslint --fix

docs(website): tighten the all-vs-all synteny tutorial, document one-vs-all
  website/docs/tutorials/allvsall_synteny.md
Due: prettier --write

Format
  packages/render-core/CLAUDE.md
  plugins/data-management/src/BulkAddTracksWorkflow/BulkAddTracksWorkflow.tsx
  plugins/data-management/src/BulkAddTracksWorkflow/util.test.ts
  plugins/maf/src/LinearMafDisplay/components/computeVisibleCodons.ts
  plugins/wiggle/src/MultiWiggleAddTrackWorkflow/util.ts
Due: prettier --write, eslint --fix

fix(core): correct two coordinate bugs in the sequence feature panel
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/SequenceContents.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/SequenceFeatureDetails.test.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/dialogs/SequenceFeatureMenu.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/featureTypeUtil.test.ts
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/featureTypeUtil.ts
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/seqtypes/CDNASequence.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/seqtypes/CDSSequence.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/seqtypes/GenomicSequence.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/seqtypes/ProteinSequence.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/seqtypes/SequenceDisplay.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/seqtypes/renderSequenceSegments.tsx
Due: prettier --write, eslint --fix

fix(core): repair column alignment and hover aliasing in the sequence panel
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/SequenceBody.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/SequenceFeatureDetails.test.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/SequenceFeatureDetails.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/SequencePanel.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/dialogs/SequenceDialog.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/seqtypes/CDSSequence.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/seqtypes/ProteinSequence.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/seqtypes/SequenceDisplay.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/seqtypes/renderSequenceSegments.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/types.ts
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/useSequenceFetch.ts
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/util.test.ts
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/util.ts
Due: prettier --write, eslint --fix

fix(core): derive UTRs even when the annotation supplies only one side
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/SequenceFeatureDetails.test.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/seqtypes/SequenceDisplay.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/useSequenceData.ts
Due: prettier --write, eslint --fix

fix(core): make widget pop-out actually release the drawer
  packages/app-core/src/ui/App/App.tsx
  packages/app-core/src/ui/App/DrawerHeader.tsx
  packages/app-core/src/ui/App/DrawerWidget.tsx
  packages/app-core/src/ui/App/ModalWidget.tsx
  packages/core/src/util/types/index.ts
  packages/product-core/src/Session/DrawerWidgets.ts
  packages/product-core/src/ui/ModalWidget.tsx
  packages/product-core/src/ui/ModalWidgetAppBar.tsx
  packages/product-core/src/ui/index.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/HierarchicalTrackSelector.tsx
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/JBrowseCircularGenomeView.tsx
  products/jbrowse-web/src/tests/DrawerWidget.test.tsx
Due: prettier --write, eslint --fix

refactor(core): build the cDNA from exons instead of a stitched UTR list
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/SequenceContents.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/SequenceFeatureDetails.test.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/seqtypes/CDNASequence.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/useSequenceData.ts
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/util.test.ts
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/util.ts
  packages/core/src/BaseFeatureWidget/util.test.ts
  packages/core/src/BaseFeatureWidget/util.tsx
Due: prettier --write, eslint --fix

test(web): type createView's session as WebSessionModel
  products/jbrowse-web/src/tests/BookmarkWidget.test.tsx
  products/jbrowse-web/src/tests/CopyAndDelete.test.tsx
  products/jbrowse-web/src/tests/DrawerWidget.test.tsx
  products/jbrowse-web/src/tests/TemporaryAssembly.test.tsx
  products/jbrowse-web/src/tests/util.tsx
Due: prettier --write, eslint --fix

test(core): cover minus-strand cDNA, which had no test at all
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/SequenceFeatureDetails.test.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/seqtypes/CDNASequence.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/seqtypes/SequenceDisplay.tsx
Due: prettier --write, eslint --fix

refactor(product-core): share the drawer shell between app and embedded
  packages/app-core/src/ui/App/Drawer.tsx
  packages/product-core/src/ui/Drawer.tsx
  packages/product-core/src/ui/DrawerWidget.tsx
  packages/product-core/src/ui/index.ts
Due: prettier --write, eslint --fix

fix(wiggle): stop the color dialog's CSV round-trip erasing overlay colors
  packages/tree-sidebar/src/setColorDialog/BulkColorControls.tsx
  packages/tree-sidebar/src/setColorDialog/BulkEditPanel.tsx
  packages/tree-sidebar/src/setColorDialog/ClearTreeWarningDialog.tsx
  packages/tree-sidebar/src/setColorDialog/RowPalettizer.tsx
  packages/tree-sidebar/src/setColorDialog/SelectionMoveButtons.tsx
  packages/tree-sidebar/src/setColorDialog/SetColorDialog.test.tsx
  packages/tree-sidebar/src/setColorDialog/SetColorDialog.tsx
  packages/tree-sidebar/src/setColorDialog/SourceGrid.test.tsx
  packages/tree-sidebar/src/setColorDialog/SourceGrid.tsx
  packages/tree-sidebar/src/setColorDialog/applyColorPalette.ts
  packages/tree-sidebar/src/setColorDialog/buildSourceColumns.tsx
  packages/tree-sidebar/src/setColorDialog/bulkEditParse.test.ts
  packages/tree-sidebar/src/setColorDialog/bulkEditParse.ts
  packages/tree-sidebar/src/sourcesGridUtils.test.ts
  packages/tree-sidebar/src/sourcesGridUtils.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/SetColorDialog.tsx
Due: prettier --write, eslint --fix

feat(core): explain the gene-mode colors with a legend
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/SequenceFeatureDetails.test.tsx
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/seqtypes/CDNASequence.tsx
Due: prettier --write, eslint --fix

fix(wiggle): correct two hit-testing bugs behind the multi-wiggle tooltip
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/MultiWiggleComponent.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/findHit.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/findHit.ts
  plugins/wiggle/src/shared/WiggleTooltip.tsx
  plugins/wiggle/src/shared/wiggleComponentUtils.test.ts
  plugins/wiggle/src/shared/wiggleComponentUtils.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
