Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Autogen docs
  website/docs/models/BaseWebSessionModel.md
  website/docs/models/JBrowseDesktopSessionModel.md
  website/docs/models/JBrowseWebSessionModel.md
  website/docs/models/WorkspaceLayoutMixin.md
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

docs(gpu): the count WAS derivable from the buffer, and the decline said so
  agent-docs/reference/GPU_RENDERING.md
  agent-docs/reference/REJECTED_IDEAS.md
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/GpuAlignmentsRenderer.ts
Due: prettier --write, eslint --fix

docs(genomes_basics): the section about a track holding more than fits
  figures.lock
  website/docs/tutorials/genomes_basics.md
  website/scripts/specs/genomes_basics.ts
Due: prettier --write, eslint --fix

docs(ideas): the publisher's own filter is a vertical-footprint lever
  agent-docs/OTHER_IDEAS.md
Due: prettier --write

fix(auth): a domains entry written with a leading dot stopped matching
  packages/core/src/pluggableElementTypes/models/uriMatchesDomains.test.ts
  packages/core/src/pluggableElementTypes/models/uriMatchesDomains.ts
Due: prettier --write, eslint --fix

docs(ideas): the isoform cap, and why the thread it runs on is the design
  agent-docs/OTHER_IDEAS.md
Due: prettier --write

test(abi): unpin five MST internals from the Base1DViewModel baseline
  packages/core/src/ReExports/abiBaseline.json
Due: none

docs(genomes_basics): follow p53 to the gene it switches on
  figures.lock
  website/docs/tutorials/genomes_basics.md
  website/scripts/figure-manifest.json
  website/scripts/specs/genomes_basics.ts
Due: prettier --write, eslint --fix

docs(genomes_basics): the caption counted the unshaded matches wrong
  website/docs/tutorials/genomes_basics.md
Due: prettier --write

fix(website): the frontmatter description broke the page's YAML
  website/docs/tutorials/genomes_basics.md
Due: prettier --write

refactor(render-core): instancePass moves out of alignments, and drops a guard the HAL owns
  packages/render-core/package.json
  packages/render-core/src/instancePass.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/GpuAlignmentsRenderer.ts
  plugins/alignments/src/features/arcs/packGpu.ts
  plugins/alignments/src/features/connectingLines/packGpu.ts
  plugins/alignments/src/features/coverage/packGpu.ts
  plugins/alignments/src/features/gap/packGpu.ts
  plugins/alignments/src/features/indicator/packGpu.ts
  plugins/alignments/src/features/insertion/packGpu.ts
  plugins/alignments/src/features/interbase/packGpu.ts
  plugins/alignments/src/features/linkedReads/packGpu.ts
  plugins/alignments/src/features/mismatch/packGpu.ts
  plugins/alignments/src/features/modCoverage/packGpu.ts
  plugins/alignments/src/features/modification/packGpu.ts
  plugins/alignments/src/features/overlap/packGpu.ts
  plugins/alignments/src/features/perBaseLetter/packGpu.ts
  plugins/alignments/src/features/perBaseQuality/packGpu.ts
  plugins/alignments/src/features/read/packGpu.ts
  plugins/alignments/src/features/snpCoverage/packGpu.ts
  plugins/alignments/src/features/softclip/packBases.ts
  plugins/alignments/src/shared/clipPass.ts
  plugins/alignments/src/shared/instancePass.ts
Due: prettier --write, eslint --fix

refactor(render-core): the per-region base owns uploadRegion, over declared passes
  agent-docs/reference/GPU_RENDERING.md
  example-plugins/score-example/src/LinearScoreDisplay/components/GpuScoreRenderer.ts
  packages/render-core/CLAUDE.md
  packages/render-core/src/__snapshots__/publicApi.test.ts.snap
  packages/render-core/src/instancePass.ts
  packages/render-core/src/perRegionRenderingBackend.test.ts
  packages/render-core/src/perRegionRenderingBackend.ts
  plugins/canvas/src/LinearBasicDisplay/components/GpuCanvasFeatureRenderer.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/GpuMultiRowRenderer.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/multiRowInstanceBuffer.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/multiRowRenderingBackendTypes.ts
  plugins/gwas/src/LinearManhattanDisplay/GpuManhattanRenderer.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/maf/src/LinearMafRenderer/GpuMafRenderer.ts
  plugins/maf/src/LinearMafRenderer/mafRenderingBackendTypes.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/GpuVariantRenderer.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/gpuVariantRenderer.test.ts
  plugins/wiggle/src/shared/GpuWiggleRenderer.ts
  plugins/wiggle/src/shared/gpuWiggleRenderer.test.ts
  website/docs/developer_guides/creating_gpu_display.md
Due: prettier --write, eslint --fix

test(core): pin the internet account members a downstream plugin reaches for
  packages/core/src/pluggableElementTypes/models/internetAccountApi.test.ts
Due: prettier --write, eslint --fix

refactor(auth): the two OAuth grants were one request written twice
  plugins/authentication/src/OAuthModel/model.tsx
  website/docs/models/DropboxOAuthInternetAccount.md
  website/docs/models/GoogleDriveOAuthInternetAccount.md
  website/docs/models/OAuthInternetAccount.md
Due: prettier --write, eslint --fix

refactor(core): drop SelectorComponent, an extension point nobody extended
  packages/core/src/pluggableElementTypes/models/InternetAccountModel.ts
  packages/core/src/ui/FileSelector/LocationInput.tsx
  website/docs/models/BaseInternetAccountModel.md
Due: prettier --write, eslint --fix

Autogen docs
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

refactor(canvas): the pass list stated the same four names twice
  plugins/canvas/src/LinearBasicDisplay/components/GpuCanvasFeatureRenderer.ts
Due: prettier --write, eslint --fix

refactor(render-core): no constructor for an InstancePass, just the spread
  agent-docs/reference/GPU_RENDERING.md
  agent-docs/reference/REJECTED_IDEAS.md
  example-plugins/score-example/src/LinearScoreDisplay/components/GpuScoreRenderer.ts
  packages/render-core/CLAUDE.md
  packages/render-core/src/instancePass.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/GpuAlignmentsRenderer.ts
  plugins/alignments/src/features/arcs/packGpu.ts
  plugins/alignments/src/features/connectingLines/packGpu.ts
  plugins/alignments/src/features/coverage/packGpu.ts
  plugins/alignments/src/features/gap/packGpu.ts
  plugins/alignments/src/features/indicator/packGpu.ts
  plugins/alignments/src/features/insertion/packGpu.ts
  plugins/alignments/src/features/interbase/packGpu.ts
  plugins/alignments/src/features/linkedReads/packGpu.ts
  plugins/alignments/src/features/mismatch/packGpu.ts
  plugins/alignments/src/features/modCoverage/packGpu.ts
  plugins/alignments/src/features/modification/packGpu.ts
  plugins/alignments/src/features/overlap/packGpu.ts
  plugins/alignments/src/features/perBaseLetter/packGpu.ts
  plugins/alignments/src/features/perBaseQuality/packGpu.ts
  plugins/alignments/src/features/read/packGpu.ts
  plugins/alignments/src/features/snpCoverage/packGpu.ts
  plugins/alignments/src/features/softclip/packBases.ts
  plugins/alignments/src/shared/clipPass.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/GpuMultiRowRenderer.ts
  plugins/gwas/src/LinearManhattanDisplay/GpuManhattanRenderer.ts
  plugins/maf/src/LinearMafRenderer/GpuMafRenderer.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/GpuVariantRenderer.ts
  plugins/wiggle/src/shared/GpuWiggleRenderer.ts
  website/docs/developer_guides/creating_gpu_display.md
Due: prettier --write, eslint --fix

docs(genomes_basics): flatten the new sections to plain description
  website/docs/tutorials/genomes_basics.md
Due: prettier --write

docs(genomes_basics): one exon read four ways, and the pangenome panel out
  figures.lock
  website/docs/tutorials/genomes_basics.md
  website/scripts/specs/genomes_basics.ts
Due: prettier --write, eslint --fix

docs(genomes_basics): colour the common variants by ancestry group
  figures.lock
  website/docs/tutorials/genomes_basics.md
  website/scripts/specs/genomes_basics.ts
Due: prettier --write, eslint --fix

docs(genomes_basics): pathogenic is the commonest ClinVar class here, not most
  website/docs/tutorials/genomes_basics.md
Due: prettier --write

docs(auth): the config guide still described the substring domains match
  website/docs/config_guides/authentication.md
Due: prettier --write

docs(ideas): the internet account split, and the consumer that gates it
  agent-docs/ideas/README.md
  agent-docs/ideas/internet-accounts.md
Due: prettier --write

Autogen docs
  agent-docs/ideas/README.md
Due: prettier --write

chore: regenerate chrome bundle sizes and gallery links
  scripts/chromeBundleSizes.json
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

fix(docs): PointerDragSource is dockview's, so record it as third-party
  website/scripts/check-doc-imports.ts
Due: prettier --write, eslint --fix

docs: correct the PointerDragSource entry — dockview is not a dependency
  website/scripts/check-doc-imports.ts
Due: prettier --write, eslint --fix

refactor(render-core): synteny and dotplot had written the same recolor cache
  packages/render-core/CLAUDE.md
  packages/render-core/package.json
  packages/render-core/src/__snapshots__/publicApi.test.ts.snap
  packages/render-core/src/instanceCache.test.ts
  packages/render-core/src/instanceCache.ts
  plugins/dotplot-view/src/DotplotDisplay/GpuDotplotRenderer.ts
  plugins/dotplot-view/src/DotplotDisplay/instanceInterleave.test.ts
  plugins/dotplot-view/src/DotplotDisplay/instanceInterleave.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/GpuSyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/instanceInterleave.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/instanceInterleave.ts
Due: prettier --write, eslint --fix

docs(genomes_basics): per-cell-line marks, and three filters on one gnomAD track
  figures.lock
  website/docs/tutorials/genomes_basics.md
  website/scripts/specs/genomes_basics.ts
Due: prettier --write, eslint --fix

docs(pangenome): give every pangenome tutorial the plugin install steps
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_hprc.md
Due: prettier --write

docs(genomes_basics): About track in two frames with the R reuse, and neutral heading for the remaining categories
  website/docs/tutorials/genomes_basics.md
  website/scripts/specs/genomes_basics.ts
Due: prettier --write, eslint --fix

docs(genomes_basics): axolotl GC on UCSC's own limits, repeats as class lanes, About track in two frames
  website/scripts/specs/genomes_basics.ts
Due: prettier --write, eslint --fix

chore(figures): push regenerated genomes_basics axolotl and about_track
  figures.lock
Due: none

docs(genomes_basics): cut the prose the figures already carry, and the WRAP53 aside
  website/docs/tutorials/genomes_basics.md
Due: prettier --write

build(cactus): index the graph and declare the plugin, like the pggb build does
  scripts/build_ecoli_pangenome_cactus.sh
  website/docs/tutorials/pangenome_cactus.md
Due: prettier --write

fix(render-core): three backends never routed a GPU OOM anywhere
  agent-docs/reference/GPU_RENDERING.md
  packages/render-core/package.json
  packages/render-core/src/__snapshots__/publicApi.test.ts.snap
  packages/render-core/src/globalRenderingBackend.ts
  packages/render-core/src/keyedRenderingBackend.ts
  packages/render-core/src/perRegionRenderingBackend.ts
  packages/render-core/src/renderingBackendBase.test.ts
  packages/render-core/src/renderingBackendBase.ts
  packages/render-core/src/useRenderingBackend.test.ts
  packages/render-core/src/useRenderingBackend.ts
  packages/wiggle-core/src/renderingBackendTypes.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/Canvas2DAlignmentsRenderer.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/GpuAlignmentsRenderer.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/rendererTypes.ts
  plugins/canvas/src/LinearBasicDisplay/renderLifecycleGate.test.ts
  plugins/dotplot-view/src/DotplotDisplay/Canvas2DDotplotRenderer.ts
  plugins/dotplot-view/src/DotplotDisplay/GpuDotplotRenderer.ts
  plugins/dotplot-view/src/DotplotDisplay/dotplotRenderingBackendTypes.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/Canvas2DSyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/GpuSyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/syntenyRenderingBackendTypes.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayChrome.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayChromeBase.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/chromeTestModel.ts
  scripts/chromeBundleSizes.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
