Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

Update autogen docs
  website/docs/config/LinearBasicDisplay.md
  website/docs/config/LinearCanvasBaseDisplay.md
  website/docs/config/LinearVariantDisplay.md
  website/docs/models/ArcFetchModel.md
  website/docs/models/DotplotDisplay.md
  website/docs/models/GlobalDataDisplayMixin.md
  website/docs/models/GlobalFetchMixin.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearArcDisplay.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearHicDisplay.md
  website/docs/models/LinearMafDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/LinearPairedArcDisplay.md
  website/docs/models/LinearReferenceSequenceDisplay.md
  website/docs/models/LinearSyntenyDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/MultiRegionDisplayMixin.md
  website/docs/models/MultiSampleVariantBaseModel.md
  website/docs/models/RegionTooLargeMixin.md
  website/docs/models/SharedGCContentModel.md
  website/docs/models/SharedLDModel.md
  website/docs/models/WiggleCommonMixin.md
Due: prettier --write

fix(sticky): keep the embedded title bar fixed, and publish sub-pixel heights
  packages/core/src/util/hooks.ts
  packages/embedded-core/src/ui/ViewTitle.tsx
Due: prettier --write, eslint --fix

fix(loading): a silent server now fails the assembly load instead of hanging
  packages/core/package.json
  pnpm-lock.yaml
Due: none

feat(details): the alignments, variant and synteny panels wash too
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/FeatureWash.tsx
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/index.tsx
  packages/core/src/ReExports/BaseFeatureDetails.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/AlignmentsFeatureDetail.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/__snapshots__/index.test.tsx.snap
  plugins/linear-comparative-view/src/SyntenyFeatureDetail/SyntenyFeatureDetail.tsx
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.test.tsx
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
  plugins/variants/src/VariantFeatureWidget/__snapshots__/VariantFeatureWidget.test.tsx.snap
Due: prettier --write, eslint --fix

refactor(render-core): one GpuHalBase under WebGPU, WebGL2 and Mock
  agent-docs/reference/GPU_RENDERING.md
  packages/render-core/CLAUDE.md
  packages/render-core/src/hal/gpuHalBase.test.ts
  packages/render-core/src/hal/gpuHalBase.ts
  packages/render-core/src/hal/mockHal.ts
  packages/render-core/src/hal/types.ts
  packages/render-core/src/hal/webgl2Hal.ts
  packages/render-core/src/hal/webgpuHal.ts
  packages/render-core/src/slangPass.test.ts
  packages/render-core/src/slangPass.ts
Due: prettier --write, eslint --fix

test(lgv): pin loadingSource, and keep the stub assembly in step
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
Due: prettier --write, eslint --fix

refactor(alignments): a gap declares its mark once
  plugins/alignments/src/features/gap/drawCanvas.ts
  plugins/alignments/src/features/gap/hitTest.ts
  plugins/alignments/src/features/gap/mark.ts
  plugins/alignments/src/features/gap/markParity.test.ts
  plugins/alignments/src/features/gap/packGpu.test.ts
  plugins/alignments/src/features/gap/packGpu.ts
  plugins/alignments/src/features/gap/types.ts
  plugins/alignments/src/features/mark.ts
Due: prettier --write, eslint --fix

refactor(shaders): one score normalizer, shared by wiggle and the coverage band
  agent-docs/architecture-decision-records/adr-051-shader-js-codegen-is-scalar-only.md
  agent-docs/reference/SHADER_JS_CODEGEN.md
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/render-core/package.json
  packages/render-core/src/__snapshots__/publicApi.test.ts.snap
  packages/render-core/src/shaders/coverageBand.slang
  packages/render-core/src/shaders/coverageBar.generated.ts
  packages/render-core/src/shaders/coverageMod.generated.ts
  packages/render-core/src/shaders/coverageSnp.generated.ts
  packages/render-core/src/shaders/scoreScale.js.generated.ts
  packages/render-core/src/shaders/scoreScale.slang
  plugins/wiggle/src/CLAUDE.md
  plugins/wiggle/src/shared/getDensityColor.ts
  plugins/wiggle/src/shared/normalizeScoreParity.test.ts
  plugins/wiggle/src/shared/shaders/wiggle.generated.ts
  plugins/wiggle/src/shared/shaders/wiggle.slang
  plugins/wiggle/src/shared/shaders/wiggleCommon.js.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleCommon.slang
  plugins/wiggle/src/shared/shaders/wiggleLine.generated.ts
Due: prettier --write, eslint --fix

refactor(canvas): split baseModel along its four seams
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/featureHighlight.ts
  plugins/canvas/src/LinearBasicDisplay/featureHighlightViews.ts
  plugins/canvas/src/LinearBasicDisplay/featureSetViews.ts
  plugins/canvas/src/LinearBasicDisplay/fitLadderViews.ts
  plugins/canvas/src/LinearBasicDisplay/yMorphViews.ts
Due: prettier --write, eslint --fix

refactor(alignments): a mismatch declares its mark once, and the shape grows a pivot
  agent-docs/ideas/README.md
  agent-docs/ideas/one-mark-declaration-per-feature.md
  plugins/alignments/src/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/components/hitTestPipeline.test.ts
  plugins/alignments/src/features/gap/mark.ts
  plugins/alignments/src/features/mark.ts
  plugins/alignments/src/features/mismatch/drawCanvas.test.ts
  plugins/alignments/src/features/mismatch/drawCanvas.ts
  plugins/alignments/src/features/mismatch/hitTest.ts
  plugins/alignments/src/features/mismatch/mark.ts
  plugins/alignments/src/features/mismatch/markParity.test.ts
  plugins/alignments/src/features/mismatch/packGpu.ts
Due: prettier --write, eslint --fix

docs(synteny): film the follow toggle holding one haplotype on the other
  agent-docs/handoffs/TUTORIAL_TOURS.md
  agent-docs/ideas/tutorial-tour-candidates.md
  website/docs/tutorials/hg002_haplotypes.md
  website/docs/user_guides/linear_synteny_view.md
  website/media.lock
  website/scripts/specs/hg002_haplotypes.ts
  website/scripts/videos/synteny.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

test(sticky): the font sweep catches a chrome box holding its content in
  agent-docs/ideas/README.md
  agent-docs/ideas/embedded-title-bar-overhang.md
  packages/core/src/util/hooks.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/Header.tsx
  products/jbrowse-web/browser-tests/probe-sticky-chrome.ts
Due: prettier --write, eslint --fix

fix(ag1000g): gzip -dc, not zcat, and the tables land as .vcor.gz
  scripts/build_ag1000g_ld.sh
  website/docs/tutorials/ld_human.md
  website/docs/tutorials/ld_mosquitoes.md
Due: prettier --write

docs(mechanisms): file the split-read chain and the derivative-allele grouping
  agent-docs/mechanisms/derivative-allele-candidates.md
  agent-docs/mechanisms/split-read-chains.md
  plugins/alignments/src/features/arcs/arcChains.ts
  plugins/alignments/src/features/derivativePaths/computePaths.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/featureMatching.ts
Due: prettier --write, eslint --fix

fix(check-docs): EAGER_BUNDLE means MiniControlsComponent is gone
  website/scripts/check-doc-removed-symbols.ts
Due: prettier --write, eslint --fix

docs(mechanisms): index the two subsystem docs, and say which check holds what
  agent-docs/mechanisms/README.md
Due: prettier --write

fix(synteny): the follow carries its own answer up a stack, rather than reading it back off the row
  agent-docs/mechanisms/README.md
  agent-docs/mechanisms/carry-the-decision-not-the-rendered-state.md
  plugins/linear-comparative-view/src/SyntenyFollow/CLAUDE.md
  plugins/linear-comparative-view/src/SyntenyFollow/followAnchorWindow.test.ts
  plugins/linear-comparative-view/src/SyntenyFollow/followAnchorWindow.ts
  plugins/linear-comparative-view/src/SyntenyFollow/followFrameSpan.ts
  plugins/linear-comparative-view/src/SyntenyFollow/followLevelStates.ts
  plugins/linear-comparative-view/src/SyntenyFollow/followWindowMapping.test.ts
  plugins/linear-comparative-view/src/SyntenyFollow/followWindowMapping.ts
  plugins/linear-comparative-view/src/SyntenyFollow/installSyntenyFollow.test.ts
  plugins/linear-comparative-view/src/SyntenyFollow/installSyntenyFollow.ts
  plugins/linear-comparative-view/src/SyntenyFollow/pickFollowFeature.ts
  plugins/linear-comparative-view/src/SyntenyFollow/planFollowStep.ts
Due: prettier --write, eslint --fix

docs(canvas): the lanes were never the cost, and the theme is out
  agent-docs/TODO.md
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  agent-docs/todo/stop-rewriting-the-workers-arrays-to-lay-out-features.md
Due: prettier --write

refactor(core): the in-fetch byte measurement moves to byteBudget.ts
  packages/core/src/rpc/byteBudget.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/executeMultiRowGetFeatures.ts
  plugins/canvas/src/RenderFeatureDataRPC/byteGate.ts
Due: prettier --write, eslint --fix

docs(region-too-large): rewrite the pre-flight half around the one path
  agent-docs/ideas/README.md
  agent-docs/ideas/alignments.md
  agent-docs/ideas/one-path-byte-gate.md
  agent-docs/ideas/synteny-byte-gate.md
  agent-docs/reference/MAF_LARGE_BLOCKS.md
  agent-docs/reference/README.md
  agent-docs/reference/REGION_TOO_LARGE.md
  agent-docs/reference/REJECTED_IDEAS.md
  website/docs/developer_guides/data_fetching.md
Due: prettier --write

fix(embedded): the menu bar's grid row exists only when the bar does
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/JBrowseLinearGenomeView.test.tsx
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/JBrowseLinearGenomeView.tsx
Due: prettier --write, eslint --fix

feat(lgv): copy the refName or its region straight off the scalebar label menu
  plugins/linear-genome-view/src/LinearGenomeView/components/ScalebarRefNameLabels.tsx
Due: prettier --write, eslint --fix

test(core): pin the two byte-budget helpers the gate moved into core
  packages/core/src/rpc/byteBudget.test.ts
Due: prettier --write, eslint --fix

docs(region-too-large): three comments still name the deleted pre-flight
  packages/core/src/rpc/methods/CoreGetRegionByteEstimate.test.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/FetchMixin.test.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/isCacheValidTracking.test.ts
Due: prettier --write, eslint --fix

docs(embedded): the locked demo stops offering the controls the lock made inert
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/with-disable-zoom-and-side-scroll.md
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithDisableZoomAndSideScroll.tsx
Due: prettier --write, eslint --fix

docs(embedded): say where a second reason to hide the menu bar belongs
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/EmbeddedAppBar.tsx
Due: prettier --write, eslint --fix

docs: one measurement path through the byte gate, and the regenerated pages
  agent-docs/ARCHITECTURE.md
  packages/core/src/rpc/measureRegionBytes.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/byteGate.ts
  plugins/canvas/src/RenderFeatureDataRPC/executeRenderFeatureData.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  website/docs/models/ArcFetchModel.md
  website/docs/models/CanvasFeatureGateMixin.md
  website/docs/models/GlobalDataDisplayMixin.md
  website/docs/models/GlobalFetchMixin.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearArcDisplay.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearHicDisplay.md
  website/docs/models/LinearMafDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/LinearPairedArcDisplay.md
  website/docs/models/LinearReferenceSequenceDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/MultiRegionDisplayMixin.md
  website/docs/models/MultiSampleVariantBaseModel.md
  website/docs/models/RegionTooLargeMixin.md
  website/docs/models/SharedGCContentModel.md
  website/docs/models/SharedLDModel.md
  website/scripts/api-docs/coverage-gaps.txt
Due: prettier --write, eslint --fix

refactor(region too large): drop the renamed-hook reporter
  agent-docs/reference/REGION_TOO_LARGE.md
  plugins/linear-genome-view/src/shared/RegionTooLargeMixin.ts
  plugins/linear-genome-view/src/shared/renamedGateHooks.test.ts
  website/scripts/generate-display-hook-overrides.ts
Due: prettier --write, eslint --fix

docs(synteny): show the follow button's warning form, and file what it turned up
  agent-docs/TODO.md
  agent-docs/todo/a-synteny-lane-never-finishes-loading-on-a-refname-the-file-has-no-records-for.md
  figures.lock
  website/docs/user_guides/linear_synteny_view.md
  website/scripts/specs/hg002_haplotypes.ts
  website/src/lib/galleryLinks.generated.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

perf(ag1000g): the build reads rehosted derived files, and runs in 16s
  scripts/build_ag1000g_ld.sh
  website/docs/tutorials/ld_human.md
Due: prettier --write

fix(scripts): gzip -dc everywhere, and name things a reader knows
  packages/core/src/util/installFetch.test.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/installPrerequisiteFetch.ts
  scripts/build_ag1000g_ld.sh
  scripts/build_cancer_sv_demo.sh
  scripts/build_chromhmm_multirow.sh
  scripts/build_chromhmm_roadmap.sh
  scripts/build_dog10k_size_fst.sh
  scripts/build_dog10k_wolfdog_ancestry.sh
  scripts/build_ecoli_pangenome_cactus.sh
  scripts/build_hprc_cfhr_synteny.sh
  scripts/build_hprc_inversion_synteny.sh
  scripts/build_omia_dog_variants.sh
  scripts/build_repeat_density.sh
  website/docs/tutorials/CLAUDE.md
  website/docs/tutorials/cancer_sv.md
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/ld_mosquitoes.md
  website/docs/tutorials/pangenome_ecoli.md
Due: prettier --write, eslint --fix

refactor(wiggle-core): one visible-stats-to-domain derivation for four displays
  packages/alignments-core/src/coverageDownsampling.test.ts
  packages/alignments-core/src/coverageDownsampling.ts
  packages/wiggle-core/README.md
  packages/wiggle-core/src/index.ts
  packages/wiggle-core/src/visibleStatsDomain.test.ts
  packages/wiggle-core/src/visibleStatsDomain.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
  plugins/maf/src/LinearMafDisplay/rowRendering.test.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/wiggle/src/shared/WiggleCommonMixin.ts
Due: prettier --write, eslint --fix

refactor(core): one evenly-spaced-stops color ramp interpolation
  packages/core/README.md
  packages/core/package.json
  packages/core/src/util/colorRamp.test.ts
  packages/core/src/util/colorRamp.ts
  plugins/hic/src/LinearHicDisplay/components/colorRamp.test.ts
  plugins/hic/src/LinearHicDisplay/components/colorRamp.ts
  plugins/variants/src/LDDisplay/components/ldColorRamp.test.ts
  plugins/variants/src/LDDisplay/components/ldColorRamp.ts
Due: prettier --write, eslint --fix

refactor(lct): plink2 --fst replaces vcftools, and the tutorial drops a tool
  scripts/build_lct_fst_scan.sh
  scripts/build_lct_ld.sh
  website/docs/tutorials/ld_human.md
Due: prettier --write

refactor(alignments): per-base quality declares its mark once
  plugins/alignments/src/features/perBaseQuality/drawCanvas.ts
  plugins/alignments/src/features/perBaseQuality/mark.ts
  plugins/alignments/src/features/perBaseQuality/markParity.test.ts
  plugins/alignments/src/features/perBaseQuality/packGpu.ts
Due: prettier --write, eslint --fix

fix(canvas): the isoform cap divides the lane it is spent in
  agent-docs/architecture-decision-records/adr-075-the-isoform-cap-runs-in-the-worker.md
  agent-docs/mechanisms/diagrams/feature-budget.dot
  agent-docs/mechanisms/diagrams/feature-budget.svg
  agent-docs/mechanisms/feature-track-decision-tree.md
  plugins/canvas/src/LinearBasicDisplay/components/geneGlyphTooltip.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/geneGlyphTooltip.ts
  plugins/canvas/src/LinearBasicDisplay/fetchAutorun.test.ts
  plugins/canvas/src/LinearBasicDisplay/isoformBudget.test.ts
  plugins/canvas/src/LinearBasicDisplay/isoformBudget.ts
  plugins/canvas/src/LinearBasicDisplay/model.ts
  plugins/canvas/src/RenderFeatureDataRPC/buildFeatureRenderData.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/isoformLanes.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/isoformLanes.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/subfeatures.ts
  plugins/canvas/src/RenderFeatureDataRPC/isoformLaneSharing.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/renderConfig.ts
  plugins/canvas/src/RenderFeatureDataRPC/testUtils.ts
  plugins/canvas/src/RenderFeatureDataRPC/types.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/laneDisplayConfig.ts
Due: prettier --write, eslint --fix

fix(alignments): per-base lettering draws on the GPU with quality fade on
  plugins/alignments/src/features/perBaseLetter/drawCanvas.ts
  plugins/alignments/src/features/perBaseLetter/mark.ts
  plugins/alignments/src/features/perBaseLetter/markParity.test.ts
  plugins/alignments/src/features/perBaseLetter/packGpu.ts
Due: prettier --write, eslint --fix

fix(synteny): the follow refuses a multi-contig placement that is mostly filler
  agent-docs/mechanisms/carry-the-decision-not-the-rendered-state.md
  plugins/linear-comparative-view/src/LinearComparativeView/components/FollowSyntenyToggle.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-comparative-view/src/SyntenyFollow/CLAUDE.md
  plugins/linear-comparative-view/src/SyntenyFollow/followDebug.ts
  plugins/linear-comparative-view/src/SyntenyFollow/followLevelStates.ts
  plugins/linear-comparative-view/src/SyntenyFollow/installSyntenyFollow.test.ts
  plugins/linear-comparative-view/src/SyntenyFollow/installSyntenyFollow.ts
  plugins/linear-comparative-view/src/SyntenyFollow/positionViewOnSpan.ts
  plugins/linear-comparative-view/src/SyntenyFollow/spreadDecision.test.ts
  plugins/linear-comparative-view/src/SyntenyFollow/spreadDecision.ts
  products/jbrowse-web/browser-tests/follow-spread-probe.ts
Due: prettier --write, eslint --fix
