Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(pangenome): list all five strains in both MAF tracks
  scripts/build_ecoli_pangenome_cactus.sh
  scripts/build_ecoli_pangenome_graph.sh
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
Due: prettier --write

docs(agent): the graph plugin's widest-block fix is deployed now
  agent-docs/guides/REGION_VIEW_LAUNCH.md
Due: prettier --write

test(blat): pin the decisions this work made, and stop a focus ring flipping a figure
  aws/blat-proxy/src/routes.ts
  plugins/blat/src/blatQuery.ts
  plugins/blat/src/liveIsPcr.test.ts
  plugins/blat/src/ucscShared.test.ts
  products/jbrowse-desktop/test/screenshots.ts
Due: prettier --write, eslint --fix

fix(pangenome): keep one reference row per split block, its own
  scripts/check-build-scripts.py
  scripts/reroot_maf.py
  website/static/img/pangenome/maf.png
  website/static/img/pangenome/pangenome_variants.png
Due: none

feat(blat-proxy): serve from api.jbrowse.org/ucsc/v1, and throttle the stage
  aws/blat-proxy/README.md
  aws/blat-proxy/deploy.sh
  aws/blat-proxy/template.yaml
Due: prettier --write

docs(tutorials): fix wrong UI labels, flipped colors, and dropped strains
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/bxd_qtl.md
  website/docs/tutorials/display_settings.md
  website/docs/tutorials/methylation.md
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/tutorials/population_genomics.md
  website/docs/tutorials/rnaseq.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/docs/tutorials/synteny_visualization.md
Due: prettier --write

docs(agent): the tabix switch is deployed, and one loose end named
  agent-docs/guides/TAFFY_INDEX_GAPS_HANDOFF.md
Due: prettier --write

feat(website): report blank page background under a figure's content
  website/scripts/generate-screenshots.ts
  website/scripts/image-pipeline.ts
  website/scripts/specs/alignments.ts
  website/scripts/specs/features.ts
  website/scripts/specs/sv.ts
  website/scripts/specs/synteny.ts
  website/scripts/specs/trio.ts
  website/scripts/specs/ui.ts
  website/static/img/alignment_clipping_indicators.png
  website/static/img/config_not_found.png
  website/static/img/cytobands.png
  website/static/img/lgv_assembly.png
  website/static/img/lgv_usage_guide.png
  website/static/img/linear_align_ctx_menu.png
  website/static/img/sv_synteny/dotplot_import.png
  website/static/img/tracklabels.png
  website/static/img/trio-basic.png
  website/static/img/trio-hapibd-painting.png
  website/static/img/trio-matrix-phased-clean.png
Due: prettier --write, eslint --fix

docs(agent): register LDDisplay's half-supported multi-region axis
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
Due: prettier --write

docs(cgiab): the chr18 depth drop is a clean halving, not a modest dip
  website/docs/tutorials/sv_visualization_cgiab.md
Due: prettier --write

docs(user_guides): fix two color claims, and stop writing clustering three times
  website/docs/user_guide.md
  website/docs/user_guides/alignments_track.md
  website/docs/user_guides/basic_usage.md
  website/docs/user_guides/circular_view.md
  website/docs/user_guides/clustering.md
  website/docs/user_guides/dotplot_view.md
  website/docs/user_guides/gene_track.md
  website/docs/user_guides/hub_url.md
  website/docs/user_guides/multiquantitative_track.md
  website/docs/user_guides/multirow_feature_track.md
  website/docs/user_guides/multivariant_track.md
  website/docs/user_guides/quantitative_track.md
  website/docs/user_guides/sv_visualization.md
  website/docs/user_guides/variant_track.md
Due: prettier --write

feat(blat): ship as a loadable UMD plugin, and default the browser to the proxy
  plugins/blat/package.json
  plugins/blat/scripts/build-umd.ts
  plugins/blat/src/BlatDialog.tsx
  plugins/blat/src/IsPcrDialog.tsx
  plugins/blat/src/blatQuery.ts
  plugins/blat/src/ispcrQuery.ts
  plugins/blat/src/liveProxy.test.ts
  plugins/blat/src/runUcscFetch.test.ts
  plugins/blat/src/useUcscQuery.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(lgv): clear the track label's descenders and shadow from the features
  plugins/breakpoint-split-view/src/BreakpointSplitView/svgcomponents/SVGBreakpointSplitView.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGLinearSyntenyView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabelMenu.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGHeader.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGLinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGTrackLabel.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGTracks.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/util.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/util.ts
  plugins/linear-genome-view/src/index.ts
  products/jbrowse-web/src/tests/__image_snapshots__/alignments_rasterized_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/alignments_vector_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/arc_sv_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/breakpoint_split_view_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/canvas_feature_rasterized_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/canvas_feature_vector_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_error_alignment_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_error_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_error_wiggle_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_gridlines_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_color_legend_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_gridlines_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/wiggle_rasterized_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/wiggle_vector_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgBreakpointSplitView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgDisplayTypes.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgError.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgLinearSyntenyView.test.tsx.snap
Due: prettier --write, eslint --fix

docs(cli_desktop): show the CLI-built config open in Desktop, link the file prep
  agent-docs/guides/DESKTOP_SCREENSHOTS.md
  products/jbrowse-desktop/test/harness.ts
  products/jbrowse-desktop/test/screenshots.ts
  website/docs/tutorials/cli_desktop.md
  website/scripts/figure-manifest.json
  website/static/img/desktop-cli-config.png
Due: prettier --write, eslint --fix

docs(pangenome): cut prose, lead with the figures, reorder the pggb page
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/tutorials/sv_multisamples.md
  website/src/lib/gallery.ts
Due: prettier --write, eslint --fix

docs(tutorials): fix caption numbers that disagree with their own figures
  scripts/build_ecoli_pangenome_cactus.sh
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/analyze_trio.md
  website/docs/tutorials/bxd_qtl.md
  website/docs/tutorials/genomes_synteny.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/docs/tutorials/tcga_cohort_cnv.md
  website/scripts/specs/pangenome_cactus.ts
Due: prettier --write, eslint --fix

refactor(core): move the mouse-tracking hook next to Crosshairs
  packages/core/src/ui/index.ts
  packages/core/src/ui/useMouseTracking.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/VariantDisplayComponent.tsx
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/VariantMatrixDisplayComponent.tsx
  plugins/variants/src/shared/components/MultiSampleVariantCrosshairs.tsx
  plugins/variants/src/shared/components/types.ts
Due: prettier --write, eslint --fix

feat(canvas): crosshair guides and hover shading on the multi-row painting
  plugins/canvas/src/LinearMultiRowFeatureDisplay/components/LinearMultiRowFeatureDisplayComponent.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/components/MultiRowHoverHighlight.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/components/hoverHighlightRect.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/components/hoverHighlightRect.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
Due: prettier --write, eslint --fix

feat(wiggle): give multi-wiggle the full crosshair
  plugins/wiggle/src/LinearWiggleDisplay/components/WiggleComponent.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/MultiWiggleComponent.tsx
  plugins/wiggle/src/shared/WiggleCursorLine.tsx
  plugins/wiggle/src/shared/WiggleTooltip.tsx
Due: prettier --write, eslint --fix

feat(blat): publish the UMD under a versioned path
  plugins/blat/package.json
  plugins/blat/scripts/publish-umd.sh
Due: none

fix(blat): draw hits as plain blocks on a host without SamAdapter
  plugins/blat/src/BlatDialog.tsx
  plugins/blat/src/IsPcrDialog.tsx
  plugins/blat/src/canRenderAlignments.test.ts
  plugins/blat/src/ucscShared.ts
Due: prettier --write, eslint --fix

fix(sv-core): add safeParseBreakend so a malformed ALT can't fail a render
  packages/sv-core/src/index.ts
  packages/sv-core/src/util.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/util.ts
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
Due: prettier --write, eslint --fix

fix(variants): correct SO term resolution and symbolic END handling in VcfFeature
  plugins/variants/src/VcfAdapter/VcfAdapter.ts
  plugins/variants/src/VcfFeature/index.test.ts
  plugins/variants/src/VcfFeature/index.ts
  plugins/variants/src/VcfFeature/util.ts
  plugins/variants/src/shared/variantSvType.ts
Due: prettier --write, eslint --fix

refactor: one crosshair, one pointer path, one hover box
  packages/core/src/ui/Crosshairs.tsx
  packages/core/src/ui/hoverBoxStyle.ts
  packages/core/src/ui/index.ts
  packages/core/src/ui/useMouseTracking.ts
  packages/tree-sidebar/src/DisplayCrosshairs.tsx
  packages/tree-sidebar/src/index.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/components/LinearMultiRowFeatureDisplayComponent.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/components/MultiRowHoverHighlight.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/components/MultiRowTooltip.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/components/hoverHighlightRect.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/components/hoverHighlightRect.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/blockScreenRect.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/blockScreenRect.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/drawMultiRowBlocks.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/drawMultiRowIndelGlyphs.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/rowBand.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/VariantComponent.tsx
  plugins/variants/src/shared/components/MultiSampleVariantCrosshairs.tsx
  plugins/wiggle/src/LinearWiggleDisplay/components/WiggleComponent.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/MultiWiggleComponent.tsx
  plugins/wiggle/src/shared/WiggleCursorLine.tsx
  plugins/wiggle/src/shared/WiggleTooltip.tsx
  plugins/wiggle/src/shared/useWiggleMouseHandlers.ts
Due: prettier --write, eslint --fix

fix(website): make search deep links work and rebuild the 404 page
  website/src/pages/404.astro
  website/src/pages/search.astro
Due: none

fix(blat): bundle SvgIcon, which the host lists but cannot supply
  plugins/blat/scripts/build-umd.ts
Due: prettier --write, eslint --fix

fix(blat): read the MST fork under its upstream name, for older hosts
  plugins/blat/scripts/build-umd.ts
Due: prettier --write, eslint --fix

refactor(wiggle): multi-wiggle review pass over rows, menus, and colors
  packages/tree-sidebar/src/clusterUtils.test.ts
  packages/tree-sidebar/src/clusterUtils.ts
  packages/tree-sidebar/src/index.ts
  packages/tree-sidebar/src/setColorDialog/SetColorDialog.tsx
  packages/tree-sidebar/src/treeMenuItems.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/sourcesLogic.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/sourcesLogic.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/wiggle/src/LinearWiggleDisplay/model.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/MultiWiggleOverlayLines.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/MultiWiggleSvgScales.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/clusterAutorun.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/MultiWiggleHint.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/MultiWiggleLegendOverlay.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/ScoreSignColors.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/SetColorDialog.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/WiggleClusterDialog/WiggleClusterDialog.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/WiggleClusterDialog/WiggleClusterDialogAuto.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/WiggleClusterDialog/clusterOptions.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/WiggleClusterDialog/useWiggleClusterRun.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/multiWiggleDisplayTypes.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/fetchAutorun.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/getWiggleClusterAutorun.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/renderSvg.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/sourcesLogic.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/sourcesLogic.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/testEnv.ts
  plugins/wiggle/src/shared/WiggleScoreConfigMixin.ts
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/SharedGCContentModel.md
  website/docs/models/WiggleCommonMixin.md
  website/docs/models/WiggleScoreConfigMixin.md
Due: prettier --write, eslint --fix

test(jbrowse-web): cover the cursor guides, hover shading, and pointer wiring
  products/jbrowse-web/browser-tests/suites/cursor-guides.ts
Due: prettier --write, eslint --fix

feat(website): breadcrumbs on docs pages, and default the TOC on for long ones
  website/src/components/Breadcrumbs.astro
  website/src/components/TableOfContents.astro
  website/src/layouts/DocsLayout.astro
  website/src/lib/docs-sidebar.ts
Due: prettier --write, eslint --fix

fix(desktop): drop a hub config's Blat entry, which Desktop already bundles
  packages/core/src/PluginLoader.test.ts
  packages/core/src/PluginLoader.ts
  products/jbrowse-desktop/src/components/StartScreen/assertPluginsTrusted.ts
  products/jbrowse-desktop/src/components/StartScreen/util.tsx
Due: prettier --write, eslint --fix

fix(website): hide the heading permalink on the blog, add a blog index h1
  website/src/pages/blog/index.astro
  website/src/styles/blog.module.css
Due: prettier --write

feat(canvas): tidy the multi-row track menu
  plugins/canvas/src/LinearMultiRowFeatureDisplay/trackMenuItems.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/trackMenuItems.ts
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/tcga_cohort_cnv.md
  website/docs/user_guides/clustering.md
  website/docs/user_guides/multirow_feature_track.md
Due: prettier --write, eslint --fix

fix(variants): stop dropping variants that start before the fetch window
  plugins/variants/src/CLAUDE.md
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/VariantComponent.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/computeVariantCells.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/computeVariantCells.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/drawVariantInsertionGlyphs.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/pickVariantCell.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/pickVariantCell.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/variantCellLookup.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/variantCellLookup.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/variantCellSpan.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/variantCellSpan.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/variantHitTest.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/variantHitTest.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/model.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/computeVariantMatrixCells.test.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/computeVariantMatrixCells.ts
  plugins/variants/src/VariantRPC/executeVariantCellData.ts
  plugins/variants/src/VariantRPC/groupFeaturesByRegion.test.ts
  plugins/variants/src/VariantRPC/groupFeaturesByRegion.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/constants.ts
  plugins/variants/src/shared/drawAlleleCount.ts
  plugins/variants/src/shared/getPhasedColor.ts
  plugins/variants/src/shared/multiSampleVariantMenuItems.ts
  plugins/variants/src/shared/variantLegend.ts
  plugins/variants/src/shared/variantSvType.test.ts
  plugins/variants/src/shared/variantSvType.ts
Due: prettier --write, eslint --fix

fix(core): refuse to install a plugin with a name that is already installed
  packages/core/src/PluginManager.test.ts
  packages/core/src/PluginManager.ts
  plugins/data-management/src/PluginStoreWidget/components/AddCustomPluginDialog.tsx
Due: prettier --write, eslint --fix

refactor(clustering): one cluster-run hook and progress bar for every dialog
  packages/tree-sidebar/src/ClusterProgress.test.tsx
  packages/tree-sidebar/src/ClusterProgress.tsx
  packages/tree-sidebar/src/index.ts
  packages/tree-sidebar/src/useClusterRun.test.ts
  packages/tree-sidebar/src/useClusterRun.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/components/MultiSampleVariantClusterDialog/ClusterDialogAuto.tsx
  plugins/variants/src/shared/components/MultiSampleVariantClusterDialog/useClusterRun.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/clusterAutorun.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/WiggleClusterDialog/WiggleClusterDialogAuto.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/WiggleClusterDialog/useWiggleClusterRun.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/testEnv.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/trackMenuItems.test.ts
Due: prettier --write, eslint --fix

feat(website): one site-wide image lightbox, on every figure
  website/src/components/HomePage.astro
  website/src/components/Lightbox.astro
  website/src/layouts/BaseLayout.astro
  website/src/lib/markdown.ts
  website/src/lib/rehype-lightbox.ts
  website/src/lib/remark-figure.ts
  website/src/pages/gallery.astro
  website/src/pages/rss.xml.ts
Due: prettier --write, eslint --fix

feat(clustering): show clustering progress on the display, and validate pasted orders
  packages/core/src/ui/ProgressChip.test.tsx
  packages/core/src/ui/ProgressChip.tsx
  packages/core/src/ui/index.ts
  packages/synteny-core/src/DiagonalizeLoadingScreen.tsx
  packages/synteny-core/src/RefetchIndicator.tsx
  packages/synteny-core/src/index.ts
  packages/tree-sidebar/CLAUDE.md
  packages/tree-sidebar/src/runClusteringAutorun.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/getMultiRowClusterAutorun.ts
  plugins/dotplot-view/src/DotplotView/components/DisplayStatusOverlays.tsx
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/components/LinearSyntenyRendering.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayBackgroundProgress.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayChrome.test.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayChrome.tsx
  plugins/variants/src/shared/applyClusterOrder.test.ts
  plugins/variants/src/shared/applyClusterOrder.ts
  plugins/variants/src/shared/components/MultiSampleVariantClusterDialog/ClusterDialogManual.tsx
  plugins/variants/src/shared/getMultiSampleVariantClusterAutorun.ts
  plugins/variants/src/shared/runGenotypeClustering.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/clusterAutorun.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/getWiggleClusterAutorun.ts
Due: prettier --write, eslint --fix

docs(agent-docs): note the ready-phase progress chip in DISPLAYCHROME
  agent-docs/reference/DISPLAYCHROME.md
Due: prettier --write

docs(user_guides): make TL;DR paragraphs name specific features
  website/docs/user_guides/bookmark_widget.md
  website/docs/user_guides/consensus_sequence.md
  website/docs/user_guides/feature_sequence.md
  website/docs/user_guides/quantitative_track.md
  website/docs/user_guides/variant_track.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
