Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

Updates
  packages/core/ReExports/modules.tsx
Due: prettier --write, eslint --fix

Misc
  packages/core/PluginManager.ts
  packages/core/ReExports/list.ts
  packages/core/ReExports/modules.tsx
Due: prettier --write, eslint --fix

Updates
  packages/core/PluginManager.ts
  packages/core/ReExports/BaseFeatureDetails.tsx
  packages/core/ReExports/MuiDataGridReExports.ts
  packages/core/ReExports/lazify.tsx
  packages/core/ReExports/list.ts
  packages/core/ReExports/modules.ts
Due: prettier --write, eslint --fix

Refactor some ReExport code (#4994)
  packages/core/PluginManager.ts
  packages/core/ReExports/BaseFeatureDetails.tsx
  packages/core/ReExports/MuiDataGridReExports.ts
  packages/core/ReExports/MuiReExports.ts
  packages/core/ReExports/lazify.tsx
  packages/core/ReExports/list.ts
  packages/core/ReExports/modules.ts
  packages/core/ReExports/modules.tsx
Due: prettier --write, eslint --fix

Rank search results
  packages/core/TextSearch/TextSearchManager.ts
  packages/core/package.json
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete/index.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete/util.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  yarn.lock
Due: prettier --write, eslint --fix

Use finally
  packages/core/TextSearch/TextSearchManager.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete/index.tsx
Due: prettier --write, eslint --fix

Add uFuzzy to prioritize text search results e.g. gene name search (#4995)
  packages/core/TextSearch/TextSearchManager.ts
  packages/core/package.json
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete/index.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete/util.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  yarn.lock
Due: prettier --write, eslint --fix

Add length to refnameautocomplete
  packages/core/TextSearch/BaseResults.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete/index.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/util.ts
Due: prettier --write, eslint --fix

Fix test
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.tsx
Due: prettier --write, eslint --fix

Add sequence length to the searchbox/refnameautocomplete dropdown (#4981)
  packages/core/TextSearch/BaseResults.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete/index.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/util.ts
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.tsx
Due: prettier --write, eslint --fix

Better message for quota
  products/jbrowse-web/src/rootModel/rootModel.ts
Due: prettier --write, eslint --fix

Better message for "quota exceeded" message from localstorage (#4997)
  products/jbrowse-web/src/rootModel/rootModel.ts
Due: prettier --write, eslint --fix

Allow duplicate hits in search
  packages/core/TextSearch/TextSearchManager.ts
  yarn.lock
Due: prettier --write, eslint --fix

Grow
  packages/core/ui/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/util.ts
  plugins/linear-genome-view/src/searchUtils.ts
  products/jbrowse-web/src/tests/TextSearchingImportForm.test.tsx
Due: prettier --write, eslint --fix

Misc
  products/jbrowse-web/src/tests/TextSearching.test.tsx
  products/jbrowse-web/src/tests/TextSearchingImportForm.test.tsx
Due: prettier --write, eslint --fix

Add padding to the genomic window of search result hits (#4998)
  packages/core/ui/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/util.ts
  plugins/linear-genome-view/src/searchUtils.ts
  products/jbrowse-web/src/tests/TextSearching.test.tsx
  products/jbrowse-web/src/tests/TextSearchingImportForm.test.tsx
Due: prettier --write, eslint --fix

Refactor renderToAbstractCanvas
  packages/core/util/offscreenCanvasUtils.tsx
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/hic/src/HicRenderer/HicRenderer.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGLinearSyntenyView.tsx
  plugins/variants/src/MultiLinearVariantMatrixRenderer/MultiLinearVariantMatrixRenderer.ts
  plugins/wiggle/src/WiggleBaseRenderer.tsx
Due: prettier --write, eslint --fix

Some grammar fixes for faq
  website/docs/faq.md
Due: prettier --write

More grammar
  website/docs/faq.md
Due: prettier --write

Misc
  website/docs/quickstart_web.md
Due: prettier --write

[skip ci] Some grammarly docs fixes
  website/docs/faq.md
  website/docs/quickstart_web.md
Due: prettier --write

Misc
  website/docs/faq.md
  website/docs/quickstart_web.md
  yarn.lock
Due: prettier --write

Remove ts-expect-error
  packages/core/util/offscreenCanvasUtils.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGLinearSyntenyView.tsx
Due: prettier --write, eslint --fix

[skip ci] Grammarly style fixes
  website/docs/config_guides/assemblies.md
  website/docs/config_guides/customizing_feature_colors.md
  website/docs/config_guides/customizing_feature_details.md
  website/docs/config_guides/default_session.md
  website/docs/config_guides/hic_track.md
  website/docs/config_guides/intro.md
  website/docs/config_guides/multiquantitative_track.md
  website/docs/config_guides/plugins.md
  website/docs/config_guides/quantitative_track.md
  website/docs/config_guides/synteny_track.md
  website/docs/config_guides/variant_track.md
  website/docs/developer_guides/creating_renderer.md
  website/docs/developer_guides/no_build_plugin.md
  website/docs/developer_guides/pluggable_elements.md
  website/docs/developer_guides/simple_plugin.md
  website/docs/quickstart_desktop.md
  website/docs/urlparams.md
Due: prettier --write

New format
  plugins/wiggle/src/DensityRenderer/__snapshots__/DensityRenderer.test.ts.snap
  plugins/wiggle/src/XYPlotRenderer/__snapshots__/XYPlotRenderer.test.ts.snap
Due: none

Refactor renderToAbstractCanvas to avoid typescript errors (#5000)
  packages/core/util/offscreenCanvasUtils.tsx
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/hic/src/HicRenderer/HicRenderer.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGLinearSyntenyView.tsx
  plugins/variants/src/MultiLinearVariantMatrixRenderer/MultiLinearVariantMatrixRenderer.ts
  plugins/wiggle/src/DensityRenderer/__snapshots__/DensityRenderer.test.ts.snap
  plugins/wiggle/src/WiggleBaseRenderer.tsx
  plugins/wiggle/src/XYPlotRenderer/__snapshots__/XYPlotRenderer.test.ts.snap
  yarn.lock
Due: prettier --write, eslint --fix

Improve website docs with grammarly suggestions (#5001)
  website/docs/config_guides/assemblies.md
  website/docs/config_guides/customizing_feature_colors.md
  website/docs/config_guides/customizing_feature_details.md
  website/docs/config_guides/default_session.md
  website/docs/config_guides/hic_track.md
  website/docs/config_guides/intro.md
  website/docs/config_guides/multiquantitative_track.md
  website/docs/config_guides/plugins.md
  website/docs/config_guides/quantitative_track.md
  website/docs/config_guides/synteny_track.md
  website/docs/config_guides/variant_track.md
  website/docs/developer_guides/creating_renderer.md
  website/docs/developer_guides/no_build_plugin.md
  website/docs/developer_guides/pluggable_elements.md
  website/docs/developer_guides/simple_plugin.md
  website/docs/faq.md
  website/docs/quickstart_desktop.md
  website/docs/quickstart_web.md
  website/docs/urlparams.md
Due: prettier --write

[skip ci] Update demo with biocuration link
  website/src/pages/demos.mdx
Due: prettier --write

Don't use prefix on the mui root package imports
  packages/core/ReExports/modules.ts
Due: prettier --write, eslint --fix

Back to original renderToAbstractCanvas fn
  packages/core/pluggableElementTypes/renderers/FeatureRendererType.ts
  packages/core/util/offscreenCanvasUtils.tsx
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGLinearSyntenyView.tsx
  plugins/variants/src/MultiLinearVariantMatrixRenderer/MultiLinearVariantMatrixRenderer.ts
  plugins/variants/src/MultiLinearVariantRenderer/MultiVariantRenderer.ts
  plugins/wiggle/src/DensityRenderer/__snapshots__/DensityRenderer.test.ts.snap
  plugins/wiggle/src/WiggleBaseRenderer.tsx
  plugins/wiggle/src/XYPlotRenderer/__snapshots__/XYPlotRenderer.test.ts.snap
Due: prettier --write, eslint --fix

Fix typescript on renderToAbstractCanvas (#5003)
  packages/core/pluggableElementTypes/renderers/FeatureRendererType.ts
  packages/core/util/offscreenCanvasUtils.tsx
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGLinearSyntenyView.tsx
  plugins/variants/src/MultiLinearVariantMatrixRenderer/MultiLinearVariantMatrixRenderer.ts
  plugins/variants/src/MultiLinearVariantRenderer/MultiVariantRenderer.ts
  plugins/wiggle/src/DensityRenderer/__snapshots__/DensityRenderer.test.ts.snap
  plugins/wiggle/src/WiggleBaseRenderer.tsx
  plugins/wiggle/src/XYPlotRenderer/__snapshots__/XYPlotRenderer.test.ts.snap
Due: prettier --write, eslint --fix

[skip ci] Flatbush
  plugins/variants/package.json
  plugins/variants/src/MultiLinearVariantRenderer/MultiVariantRenderer.ts
  plugins/variants/src/MultiLinearVariantRenderer/components/MultiLinearVariantRendering.tsx
  plugins/variants/src/MultiLinearVariantRenderer/makeImageData.ts
  yarn.lock
Due: prettier --write, eslint --fix

Fix rendering of modifications
  plugins/alignments/src/PileupRenderer/renderModifications.ts
  plugins/alignments/src/SNPCoverageAdapter/processModifications.ts
Due: prettier --write, eslint --fix

Modifications fix
  products/jbrowse-web/src/tests/AlignmentsModifications.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-modifications-test-tsx-color-by-modifications-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-modifications-test-tsx-color-by-modifications-2-snap.png
  test_data/modifications_test/config.json
  test_data/modifications_test/hg38_clip.fa
  test_data/modifications_test/hg38_clip.fa.fai
  test_data/modifications_test/methylation_clip.bam
  test_data/modifications_test/methylation_clip.bam.bai
Due: prettier --write, eslint --fix

Fix modifications rendering broken in v3.2.0 (#5004)
  plugins/alignments/src/PileupRenderer/renderModifications.ts
  plugins/alignments/src/SNPCoverageAdapter/processModifications.ts
  products/jbrowse-web/src/tests/AlignmentsModifications.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-modifications-test-tsx-color-by-modifications-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-modifications-test-tsx-color-by-modifications-2-snap.png
  test_data/modifications_test/config.json
  test_data/modifications_test/hg38_clip.fa
  test_data/modifications_test/hg38_clip.fa.fai
  test_data/modifications_test/methylation_clip.bam
  test_data/modifications_test/methylation_clip.bam.bai
Due: prettier --write, eslint --fix

[skip ci] gallery
  website/src/pages/gallery.md
Due: prettier --write

Screenshot
  website/src/pages/gallery.md
Due: prettier --write

Add image
  website/pngcompress.sh
  website/src/pages/gallery.md
  website/static/img/multisv.png
Due: prettier --write

Bump deps
  website/yarn.lock
Due: none
