Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

fix(website): combine LCT haplotype matrix with its LD triangle
  website/scripts/specs/ld.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/ld/lct_haplotype_matrix.png
Due: prettier --write, eslint --fix

chore(website): update screenshot-review log
  website/scripts/screenshot-review.json
Due: none

refactor(config): narrow getConf(self) on seq/multiwiggle leaves + multisample base
  agent-docs/guides/CONFIG_TYPE_NARROWING.md
  plugins/sequence/src/LinearReferenceSequenceDisplay/configSchema.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/model.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/model.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/model.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/SharedVariantConfigSchema.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/configSchema.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
Due: prettier --write, eslint --fix

refactor(config): narrow the 34 getConf(self) reads on the alignments base
  agent-docs/guides/CONFIG_TYPE_NARROWING.md
  plugins/alignments/src/LinearAlignmentsDisplay/configSchema.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/configSchemaF.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/model.ts
Due: prettier --write, eslint --fix

docs(config): map the two remaining bases as blocked, with precise reasons
  agent-docs/guides/CONFIG_TYPE_NARROWING.md
Due: prettier --write

docs(config): pin down why the wiggle/canvas bases are unpinnable (precondition c)
  agent-docs/guides/CONFIG_TYPE_NARROWING.md
Due: prettier --write

feat(variants): color multi-sample variant cells by SV type
  plugins/variants/src/VariantRPC/executeVariantCellData.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/multiSampleVariantMenuItems.ts
  plugins/variants/src/shared/variantLegend.test.ts
  plugins/variants/src/shared/variantLegend.ts
  plugins/variants/src/shared/variantSvType.test.ts
  plugins/variants/src/shared/variantSvType.ts
Due: prettier --write, eslint --fix

refactor(variants): derive SV type from ALT allele, not SO type
  plugins/variants/src/shared/variantSvType.test.ts
  plugins/variants/src/shared/variantSvType.ts
Due: prettier --write, eslint --fix

feat(variants): flag mixed-class SV records with a distinct color
  plugins/variants/src/shared/variantSvType.test.ts
  plugins/variants/src/shared/variantSvType.ts
Due: prettier --write, eslint --fix

feat(variants): dosage-shade per-variant override colors
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/computeVariantCells.test.ts
  plugins/variants/src/shared/drawAlleleCount.ts
Due: prettier --write, eslint --fix

docs(ld): drop the MAPT figure, back the LCT figure with ClinVar + population
  website/CLAUDE.md
  website/docs/config_guides/variant_track.md
  website/docs/cookbook.md
  website/docs/tutorials/linkage_disequilibrium.md
  website/scripts/figure-manifest.json
  website/scripts/specs/ld.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/ld/lct_haplotype_matrix.png
  website/static/img/ld/mapt_17q21_inversion.png
Due: prettier --write, eslint --fix

docs(screenshots): add chr19 inversion figure colored by SV type
  website/scripts/specs/ui.ts
  website/static/img/multisv_svtype.png
Due: prettier --write, eslint --fix

feat(variants): group multi-sample rows by a sample-metadata attribute
  plugins/variants/src/shared/MultiSampleVariantBaseModel.test.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/SharedVariantConfigSchema.ts
  website/docs/config/LinearMultiSampleVariantDisplay.md
  website/docs/config/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/config/SharedVariantDisplay.md
  website/scripts/specs/ld.ts
Due: prettier --write, eslint --fix

docs(sv): show SV-type coloring in the chr19 inversion tutorial
  website/docs/tutorials/sv_multisamples.md
  website/scripts/figure-manifest.json
Due: prettier --write

fix(variants): draw SV-type auto-palette from set1, skip used colors
  plugins/variants/src/shared/variantSvType.test.ts
  plugins/variants/src/shared/variantSvType.ts
Due: prettier --write, eslint --fix

docs(ld): consolidate the LCT figures into one that argues a single point
  website/docs/tutorials/linkage_disequilibrium.md
  website/scripts/figure-manifest.json
  website/scripts/specs/ld.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/ld/lct_haplotype_matrix.png
  website/static/img/ld/lct_lactase.png
Due: prettier --write, eslint --fix

feat(variants): color copy-number states with an absolute rainbow
  plugins/variants/src/shared/variantSvType.test.ts
  plugins/variants/src/shared/variantSvType.ts
Due: prettier --write, eslint --fix

docs(screenshots): regenerate multisv_svtype after palette fix
  website/static/img/multisv_svtype.png
Due: none

revert(variants): drop dosage shading of override colors, keep flat
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/computeVariantCells.test.ts
  plugins/variants/src/shared/drawAlleleCount.ts
  website/docs/tutorials/sv_multisamples.md
Due: prettier --write, eslint --fix

docs(variants): document SV-type coloring in the multi-sample user guide
  website/docs/user_guides/multivariant_track.md
  website/scripts/figure-manifest.json
Due: prettier --write

docs(screenshots): regenerate consequence_impact_1000g after the SV palette fix
  website/static/img/variants/consequence_impact_1000g.png
Due: none

docs(screenshots): regenerate multisv_svtype with flat SV-type colors
  website/static/img/multisv_svtype.png
Due: none

feat(config): warn on raw getConf of a promotable slot
  agent-docs/reference/DISPLAY_TYPE_DEFAULTS.md
  packages/core/README.md
  packages/core/src/configuration/CLAUDE.md
  packages/core/src/configuration/promotableDefaults.test.ts
  packages/core/src/configuration/promotableDefaults.ts
  packages/core/src/configuration/util.ts
Due: prettier --write, eslint --fix

docs(pangenome): add depth and pav figures, drop the gene lane
  website/docs/tutorials/pangenome.md
  website/scripts/figure-manifest.json
  website/scripts/specs/pangenome.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/pangenome/depth.png
  website/static/img/pangenome/pav.png
Due: prettier --write, eslint --fix

docs(screenshots): regenerate figures
  products/jbrowse-img/img/dark_theme.png
  products/jbrowse-img/img/hic.png
  products/jbrowse-img/img/sashimi_junctions.png
  products/jbrowse-img/img/scatac_multiwiggle.png
  website/scripts/screenshot-review.json
  website/static/img/hs1_vs_mm39_synteny.png
  website/static/img/jbrowse-img/dark_theme.png
  website/static/img/jbrowse-img/hic.png
  website/static/img/jbrowse-img/sashimi_junctions.png
  website/static/img/jbrowse-img/scatac_multiwiggle.png
  website/static/img/linear_synteny.png
Due: none

chore(deps): bump @fontsource/roboto, astro, examples-site deps
  packages/wiggle-core/README.md
  products/jbrowse-desktop/package.json
  products/jbrowse-react-app/examples-site/package.json
  products/jbrowse-react-circular-genome-view/examples-site/package.json
  products/jbrowse-react-linear-genome-view/examples-site/package.json
  website/package.json
Due: prettier --write

feat(variants): add 'Color by SV type' to the single-variant display
  plugins/variants/src/LinearVariantDisplay/components/LinearVariantDisplayComponent.tsx
  plugins/variants/src/LinearVariantDisplay/model.ts
  plugins/variants/src/index.ts
  plugins/variants/src/shared/variantSvType.test.ts
  plugins/variants/src/shared/variantSvType.ts
Due: prettier --write, eslint --fix

fix(gwas): detect CSI indexes, dedup helpers, share SVG/pointer scaffolds with wiggle
  plugins/gwas/src/GWASAdapter/configSchema.ts
  plugins/gwas/src/GWASAddTrackComponent/GWASAddTrackComponent.tsx
  plugins/gwas/src/GWASAddTrackWorkflow/AddTrackWorkflow.tsx
  plugins/gwas/src/GWASAddTrackWorkflow/ldAdapterConfig.test.ts
  plugins/gwas/src/GWASAddTrackWorkflow/ldAdapterConfig.ts
  plugins/gwas/src/GWASAddTrackWorkflow/util.test.ts
  plugins/gwas/src/GWASAddTrackWorkflow/util.ts
  plugins/gwas/src/LinearManhattanDisplay/components/LinearManhattanDisplayComponent.tsx
  plugins/gwas/src/LinearManhattanDisplay/components/SvgLdLegend.tsx
  plugins/gwas/src/LinearManhattanDisplay/isIndexSnpOffscreen.ts
  plugins/gwas/src/LinearManhattanDisplay/ldBins.ts
  plugins/gwas/src/LinearManhattanDisplay/renderSvg.tsx
  plugins/gwas/src/ManhattanRPC/GetManhattanData.ts
  plugins/gwas/src/ManhattanRPC/parseChrBp.test.ts
  plugins/gwas/src/ManhattanRPC/parseChrBp.ts
  plugins/wiggle/src/LinearWiggleDisplay/renderSvg.tsx
  plugins/wiggle/src/index.ts
  plugins/wiggle/src/shared/WiggleFamilySvg.tsx
Due: prettier --write, eslint --fix

chore(lint): slim eslint to a type-free CI backstop; oxlint owns type-aware
  .github/workflows/push.yml
  .oxlintrc.json
  eslint.config.mjs
  package.json
  packages/core/src/util/types/index.ts
  packages/product-core/src/Session/SessionTracks.ts
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
Due: prettier --write, eslint --fix

chore(lint): make `pnpm lint` run oxlint; eslint backstop is `lint:eslint`
  .github/workflows/push.yml
  agent-docs/guides/TOOLCHAIN.md
  eslint.config.mjs
  package.json
  plugins/gwas/src/GWASAddTrackWorkflow/util.ts
  plugins/gwas/src/LinearManhattanDisplay/renderSvg.tsx
  plugins/wiggle/src/LinearWiggleDisplay/renderSvg.tsx
  plugins/wiggle/src/shared/WiggleFamilySvg.tsx
Due: prettier --write, eslint --fix

test: fix main CI — wiggle batch mock, SV-type menu, snapshots, guide index
  _typos.toml
  plugins/wiggle/src/LinearWiggleDisplay/fetchAutorun.test.ts
  products/jbrowse-web/src/tests/VariantColorBy.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/hic-test-tsx-hic-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/multi-big-wig-test-tsx-open-a-multibigwig-multiline-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/multi-big-wig-test-tsx-open-a-multibigwig-multirowdensity-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/multi-big-wig-test-tsx-open-a-multibigwig-multirowline-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/multi-big-wig-test-tsx-open-a-multibigwig-multirowxy-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/multi-big-wig-test-tsx-open-a-multibigwig-xyplot-track-1-snap.png
  website/docs/user_guide.md
Due: prettier --write, eslint --fix

feat(wiggle): thread dataRange to the density score legend for clip indicator
  plugins/wiggle/src/LinearWiggleDisplay/components/WiggleComponent.tsx
  plugins/wiggle/src/LinearWiggleDisplay/components/wiggleDisplayTypes.ts
  plugins/wiggle/src/LinearWiggleDisplay/renderSvg.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/MultiWiggleSvgScales.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/multiWiggleDisplayTypes.ts
  plugins/wiggle/src/shared/WiggleCommonMixin.ts
Due: prettier --write, eslint --fix

refactor(examples-site): strip trailing slash from base so links read ${base}/path
  products/jbrowse-react-app/examples-site/src/pages/index.astro
Due: none

docs: regenerate wiggle/gccontent model docs for dataRange property
  website/docs/api/wiggle-core.md
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/SharedGCContentModel.md
  website/docs/models/WiggleCommonMixin.md
Due: prettier --write

docs(wiggle-core): regenerate README for computeScoreExtent #api
  packages/wiggle-core/README.md
Due: prettier --write

fix(lint): declare oxlint-tsgolint so CI's type-aware lint finds the executable
  package.json
  pnpm-lock.yaml
Due: none

test(wiggle-core): cover computeScoreExtent + the clip-detection scenario
  packages/wiggle-core/src/autoscale.test.ts
  website/scripts/screenshot-review.json
Due: prettier --write, eslint --fix
