Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(hic): keep the SVG-exported contact triangle on the diagonal
  packages/core/src/util/SvgCanvas.test.ts
  packages/core/src/util/SvgCanvas.ts
  plugins/hic/src/LinearHicDisplay/components/Canvas2DHicRenderer.ts
  plugins/hic/src/LinearHicDisplay/components/hicRenderingBackendTypes.ts
  plugins/hic/src/LinearHicDisplay/components/svgExportGeometry.test.ts
  plugins/hic/src/LinearHicDisplay/model.ts
  plugins/hic/src/LinearHicDisplay/renderSvg.tsx
  products/jbrowse-web/src/tests/Hic.test.tsx
Due: prettier --write, eslint --fix

test(synteny): unit-test the SVG export, incl. the level error box and rasterize
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/renderSvg.test.tsx
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/renderSvg.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGSyntenyLevel.test.tsx
Due: prettier --write, eslint --fix

fix(dotplot): drop duplicate axis ticks and offscreen geometry from SVG export
  plugins/dotplot-view/src/DotplotDisplay/Canvas2DDotplotRenderer.ts
  plugins/dotplot-view/src/DotplotDisplay/drawDotplot.ts
  plugins/dotplot-view/src/DotplotDisplay/renderSvg.tsx
  plugins/dotplot-view/src/DotplotView/components/Axes.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotGrid.tsx
  plugins/dotplot-view/src/DotplotView/components/MouseInteractionLayer.tsx
  plugins/dotplot-view/src/DotplotView/components/util.test.ts
  plugins/dotplot-view/src/DotplotView/components/util.ts
  plugins/dotplot-view/src/DotplotView/svgcomponents/SVGDotplotView.test.tsx
  plugins/dotplot-view/src/DotplotView/svgcomponents/SVGDotplotView.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgDotplot.test.tsx.snap
Due: prettier --write, eslint --fix

docs: handoff for the unfinished setSlot to setConf migration
  agent-docs/ARCHITECTURE.md
  agent-docs/CLAUDE.md
  agent-docs/guides/CONFIG_WRITE_PATH_HANDOFF.md
  packages/core/src/configuration/configTypeNarrowing.test.ts
  packages/core/src/configuration/getConf.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/sectionLayout.ts
Due: prettier --write, eslint --fix

fix(variants): align the multi-sample variant SVG exports with the live layout
  plugins/variants/src/LDDisplay/components/LDDisplayComponent.tsx
  plugins/variants/src/LDDisplay/components/LDSVGColorLegend.tsx
  plugins/variants/src/LDDisplay/components/LinesConnectingMatrixToGenomicPosition.tsx
  plugins/variants/src/LDDisplay/components/VariantLabels.tsx
  plugins/variants/src/LDDisplay/components/Wrapper.tsx
  plugins/variants/src/LDDisplay/components/snpViewportX.ts
  plugins/variants/src/LDDisplay/connectorLineCoords.test.ts
  plugins/variants/src/LDDisplay/derivedRegionTooLarge.test.ts
  plugins/variants/src/LDDisplay/renderSvg.tsx
  plugins/variants/src/LDDisplay/shared.ts
  plugins/variants/src/LDDisplay/testEnv.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/renderSvg.tsx
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/LinesConnectingMatrixToGenomicPosition.tsx
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/model.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/renderSvg.tsx
  plugins/variants/src/index.ts
  plugins/variants/src/shared/ConnectorLines.tsx
  plugins/variants/src/shared/components/SvgVariantOverlay.tsx
  plugins/variants/src/shared/connectorLineAlpha.test.ts
  plugins/variants/src/shared/connectorLineAlpha.ts
  plugins/variants/src/shared/constants.ts
  plugins/variants/src/shared/genomicViewportX.test.ts
  plugins/variants/src/shared/genomicViewportX.ts
  plugins/variants/src/shared/renderSvgUtils.ts
  products/jbrowse-web/src/tests/ExportSvgMultiSampleVariant.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/vcf_cluster_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/VcfCluster.test.tsx.snap
Due: prettier --write, eslint --fix

fix(demo): scope the cactus landmark assertion to the windows it draws
  scripts/build_ecoli_pangenome_cactus.sh
Due: none

test(variants): cover both LD SVG legend placements
  plugins/variants/src/LDDisplay/components/LDSVGColorLegend.test.tsx
Due: prettier --write, eslint --fix

test(synteny): cover the import form state machines
  plugins/dotplot-view/src/DotplotView/components/ImportForm/index.test.tsx
  plugins/dotplot-view/src/DotplotView/components/ImportForm/index.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/LinearSyntenyImportForm.test.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/LinearSyntenyImportForm.tsx
Due: prettier --write, eslint --fix

refactor(svg-export): put dotplot on the shared SvgChrome, dedupe the export dialog
  agent-docs/reference/SVG_EXPORT.md
  packages/core/src/ui/ExportSvgDialog.tsx
  packages/core/src/ui/index.ts
  plugins/circular-view/src/CircularView/components/ExportSvgDialog.tsx
  plugins/dotplot-view/src/DotplotDisplay/renderSvg.test.tsx
  plugins/dotplot-view/src/DotplotDisplay/renderSvg.tsx
  plugins/dotplot-view/src/DotplotDisplay/stateModelFactory.tsx
  plugins/dotplot-view/src/DotplotView/components/ExportSvgDialog.tsx
  website/docs/models/DotplotDisplay.md
Due: prettier --write, eslint --fix

refactor(maf): write config slots through the typed setConf
  plugins/maf/src/LinearMafDisplay/stateModel.ts
Due: prettier --write, eslint --fix

refactor(variants): write config slots through the typed setConf
  plugins/variants/src/LDDisplay/shared.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
Due: prettier --write, eslint --fix

refactor(canvas): write config slots through the typed setConf
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
Due: prettier --write, eslint --fix

refactor(wiggle): write config slots through the typed setConf
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
Due: prettier --write, eslint --fix

refactor(sequence): write config slots through the typed setConf
  plugins/sequence/src/LinearReferenceSequenceDisplay/model.ts
Due: prettier --write, eslint --fix

refactor(gwas): write config slots through the typed setConf
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
Due: prettier --write, eslint --fix

fix(spreadsheet-view): audit fixes for spreadsheet-view and sv-inspector
  packages/sv-core/README.md
  packages/sv-core/src/index.ts
  packages/sv-core/src/util.ts
  plugins/spreadsheet-view/src/SpreadsheetView/ImportWizard.ts
  plugins/spreadsheet-view/src/SpreadsheetView/SpreadsheetModel.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/SpreadsheetViewModel.test.ts
  plugins/spreadsheet-view/src/SpreadsheetView/SpreadsheetViewModel.ts
  plugins/spreadsheet-view/src/SpreadsheetView/components/FeatureMenu.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/SpreadsheetDataGrid.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/SpreadsheetViewActual.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/STARFusionImport.ts
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/__snapshots__/STARFusionImport.test.ts.snap
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/util.ts
  plugins/sv-inspector/index.test.ts
  plugins/sv-inspector/src/SvInspectorView/components/SvInspectorView.tsx
  plugins/sv-inspector/src/SvInspectorView/index.ts
  plugins/sv-inspector/src/SvInspectorView/model.ts
  products/jbrowse-web/src/tests/SvInspectorViewInit.test.tsx
  website/docs/api/sv-core.md
  website/docs/models/SpreadsheetView.md
  website/docs/models/SvInspectorView.md
Due: prettier --write, eslint --fix

docs: record the setConf migration progress, 11 pinned sites left
  agent-docs/guides/CONFIG_WRITE_PATH_HANDOFF.md
Due: prettier --write

refactor(wiggle): drop the mixin's hand-rolled setConf for the core one
  plugins/wiggle/src/shared/WiggleScoreConfigMixin.ts
Due: prettier --write, eslint --fix

feat(synteny): launching without a synteny track is allowed
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/ImportSyntenyTrackSelectorArea.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/LeftPanel.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/LinearSyntenyImportForm.test.tsx
Due: prettier --write, eslint --fix

docs: record the wiggle mixin migration and diagnose the coverage axis side
  agent-docs/guides/CONFIG_WRITE_PATH_HANDOFF.md
Due: prettier --write

feat(demo): rebuild the Minigraph-Cactus graph on five strains
  scripts/build_ecoli_pangenome_cactus.sh
  website/docs/tutorials/pangenome_cactus.md
  website/scripts/specs/pangenome_cactus.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/pangenome_cactus/boxed_locus_synteny.png
  website/static/img/pangenome_cactus/depth.png
  website/static/img/pangenome_cactus/graph.png
  website/static/img/pangenome_cactus/graph_correspondence.png
  website/static/img/pangenome_cactus/maf.png
  website/static/img/pangenome_cactus/pav.png
  website/static/img/pangenome_cactus/synteny.png
  website/static/img/pangenome_cactus/variant_matrix.png
Due: prettier --write, eslint --fix

fix(svg-export): fail instead of hanging when a view can never initialize
  agent-docs/reference/SVG_EXPORT.md
  packages/core/src/svg/svgReady.test.ts
  packages/core/src/svg/svgReady.ts
  packages/core/src/ui/BaseExportSvgDialog.tsx
  plugins/dotplot-view/src/DotplotView/svgcomponents/SVGDotplotView.test.tsx
  plugins/dotplot-view/src/DotplotView/svgcomponents/SVGDotplotView.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGLinearSyntenyView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGLinearGenomeView.tsx
Due: prettier --write, eslint --fix

fix(variants): export the row color swatches, the color key, and a lone row label
  agent-docs/reference/SVG_EXPORT.md
  packages/tree-sidebar/CLAUDE.md
  packages/tree-sidebar/src/SvgTreeSidebar.tsx
  plugins/variants/src/shared/components/SvgVariantLegend.tsx
  plugins/variants/src/shared/components/SvgVariantOverlay.test.tsx
  plugins/variants/src/shared/components/SvgVariantOverlay.tsx
  plugins/variants/src/shared/renderSvgUtils.ts
Due: prettier --write, eslint --fix

fix(screenshots): gate captures on a real view phase, not on nothing
  .gitignore
  packages/app-core/src/ui/App/ViewContainer.tsx
  packages/browser-test-utils/src/index.ts
  packages/browser-test-utils/src/waits.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/BreakpointSplitView.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/model.ts
  products/jbrowse-web/browser-tests/helpers.ts
  website/scripts/generate-screenshots.ts
  website/scripts/profile-spec.ts
  website/scripts/specs/alignments.ts
  website/scripts/specs/tcga.ts
  website/scripts/trace-rpc.ts
  website/scripts/trace-tasks.ts
  website/static/img/alignments_soft_clipped_menu.png
  website/static/img/tcga/cnv_recurrence_genome.png
Due: prettier --write, eslint --fix

fix(screenshots): restore tcga/cnv_recurrence_genome figure
  website/static/img/tcga/cnv_recurrence_genome.png
Due: none

fix(alignments): stop the band-height floor from jumping a configured thin band
  plugins/alignments/src/LinearAlignmentsDisplay/bandHeight.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
Due: prettier --write, eslint --fix

docs: record the band-height floor fix and why the getter clamp was rejected
  agent-docs/guides/CONFIG_WRITE_PATH_HANDOFF.md
Due: prettier --write

fix: promote allSessionTracks to core, fixing two more connection-track holes
  packages/core/src/util/allSessionTracks.test.ts
  packages/core/src/util/tracks.ts
  packages/synteny-core/src/allSessionTracks.test.ts
  packages/synteny-core/src/allSessionTracks.ts
  packages/synteny-core/src/index.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/BreakpointSplitViewImportForm.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/util/syntenyTracks.test.ts
  plugins/spreadsheet-view/src/SpreadsheetView/ImportWizard.ts
Due: prettier --write, eslint --fix

fix(alignments): apply every BAM read filter in BamAdapter
  plugins/alignments/package.json
  plugins/alignments/src/BamAdapter/BamAdapter.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

docs(pangenome): correct the per-strain counts the fifth strain invalidated
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
Due: prettier --write

refactor(canvas): route the basic display's config writes through setConf
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/model.ts
Due: prettier --write, eslint --fix

refactor(wiggle): route LinearWiggleDisplay's config writes through setConf
  plugins/wiggle/src/LinearWiggleDisplay/model.ts
Due: prettier --write, eslint --fix

refactor(gccontent): route the display's config writes through setConf
  plugins/gccontent/src/LinearGCContentDisplay/shared.tsx
Due: prettier --write, eslint --fix

docs: migration complete except the 11 blocked sites; note the greppable invariant
  agent-docs/guides/CONFIG_WRITE_PATH_HANDOFF.md
Due: prettier --write

fix(variants): invert one column geometry for the matrix cell hit-test
  plugins/variants/src/CLAUDE.md
  plugins/variants/src/LDDisplay/connectorLineCoords.test.ts
  plugins/variants/src/LDDisplay/derivedRegionTooLarge.test.ts
  plugins/variants/src/LDDisplay/testEnv.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/VariantMatrixComponent.tsx
  plugins/variants/src/shared/ConnectorLines.tsx
Due: prettier --write, eslint --fix

fix(screenshots): regenerate tcga/cohort_cnv_genome on the GPU path
  website/static/img/tcga/cohort_cnv_genome.png
Due: none

feat(website): flag slow sessions on figure live links
  agent-docs/reference/SCREENSHOT_PERF.md
  website/scripts/screenshot-specs.ts
  website/scripts/specs/tcga.ts
  website/src/layouts/DocsLayout.astro
  website/src/lib/remark-figure.ts
Due: prettier --write, eslint --fix

fix(circular-view): use real Region objects in Ruler test slices
  plugins/circular-view/src/CircularView/components/Ruler.test.tsx
Due: prettier --write, eslint --fix

refactor(alignments): drop six dead re-exports from the display model
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
Due: prettier --write, eslint --fix

docs: record that the alignments re-exports were not ABI, and the three-route test
  agent-docs/guides/CONFIG_WRITE_PATH_HANDOFF.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
