Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

refactor(tree-sidebar): use @gmod/newick, fixing the deep-tree RangeError
  packages/tree-sidebar/package.json
  packages/tree-sidebar/src/clusterMatrix.test.ts
  packages/tree-sidebar/src/clusterUtils.test.ts
  packages/tree-sidebar/src/clusterUtils.ts
  packages/tree-sidebar/src/hierarchy.test.ts
  packages/tree-sidebar/src/hierarchy.ts
  packages/tree-sidebar/src/index.ts
  packages/tree-sidebar/src/newick.test.ts
  packages/tree-sidebar/src/newick.ts
  packages/tree-sidebar/src/types.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

test(core): pin usePointerDrag's two guards, and measure the scalebar's drag
  agent-docs/TODO.md
  packages/core/src/util/usePointerDrag.test.tsx
  products/jbrowse-build-your-own/examples-site/scripts/smoke.mjs
  products/jbrowse-build-your-own/examples-site/src/examples/Scalebar.tsx
Due: prettier --write, eslint --fix

fix(core): draw the status progress bar without Material UI
  agent-docs/TODO.md
  packages/core/src/ui/StatusProgressBar.tsx
  packages/core/src/ui/statusProgressKeyframes.ts
Due: prettier --write, eslint --fix

fix(core): the vertical scrollbar dragged on any pointer button
  packages/core/src/ui/VerticalScrollbar.test.tsx
  packages/core/src/ui/VerticalScrollbar.tsx
  products/jbrowse-web/browser-tests/suites/maf.ts
Due: prettier --write, eslint --fix

docs(alignments): the pileup does not need the canvas display's scroll-extent fix
  agent-docs/reference/REJECTED_IDEAS.md
  products/jbrowse-web/browser-tests/probe-pileup-scroll-extent.ts
Due: prettier --write, eslint --fix

fix(core): guard assembly.loadPre's status stream, and clear it through the throttle
  agent-docs/reference/PROGRESS_REPORTING.md
  packages/core/src/assemblyManager/assembly.ts
  packages/core/src/util/progress.test.ts
Due: prettier --write, eslint --fix

fix(core): give createStopTokenRotation an end(), so a bare-autorun fetch can't forget its clear
  packages/core/src/util/createStopTokenRotation.test.ts
  packages/core/src/util/createStopTokenRotation.ts
  packages/synteny-core/src/installComparativeFetchAutorun.ts
  plugins/variants/src/shared/getMultiSampleVariantSourcesAutorun.ts
Due: prettier --write, eslint --fix

fix(synteny-core): close the diagonalize progress guards before the run's clear
  packages/synteny-core/src/DiagonalizeDialog.tsx
  packages/synteny-core/src/withDiagonalizeProgress.ts
Due: prettier --write, eslint --fix

feat(linear-comparative-view): let the synteny launch dialog say what it is waiting on
  plugins/linear-comparative-view/src/LaunchSyntenyView/LaunchSyntenyViewForRegionDialog.tsx
  plugins/linear-comparative-view/src/LaunchSyntenyView/discoverMates.test.ts
  plugins/linear-comparative-view/src/LaunchSyntenyView/discoverMates.ts
Due: prettier --write, eslint --fix

feat(core): let status phases nest, instead of an inner one blanking its caller
  agent-docs/reference/PROGRESS_REPORTING.md
  packages/core/src/data_adapters/BaseAdapter/cachedSetup.ts
  packages/core/src/util/progress.test.ts
  packages/core/src/util/progress.ts
Due: prettier --write, eslint --fix

feat(lint): make a silent rpcManager.call a stated decision rather than an unnoticed one
  agent-docs/TODO.md
  agent-docs/reference/PROGRESS_REPORTING.md
  eslint.config.mjs
  packages/sv-core/src/findJunctionsNear.ts
  packages/synteny-core/src/detectSwappedAssemblies.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/util.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/hic/src/LinearHicDisplay/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/moveMatchingPanel.ts
  plugins/maf/src/LinearMafDisplay/fetchMafData.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/ObserveVisible.tsx
Due: prettier --write, eslint --fix

feat(core): a status channel, so a one-operation model needn't declare a status vocabulary
  agent-docs/reference/PROGRESS_REPORTING.md
  packages/core/src/ReExports/publicUtil.ts
  packages/core/src/ui/ProgressChip.test.tsx
  packages/core/src/ui/ProgressChip.tsx
  packages/core/src/util/createStopTokenRotation.test.ts
  packages/core/src/util/createStopTokenRotation.ts
  packages/core/src/util/index.ts
  packages/synteny-core/src/ComparativeFetchStatus.tsx
  packages/synteny-core/src/DiagonalizeLoadingScreen.tsx
  packages/synteny-core/src/DiagonalizeProgressMixin.ts
  packages/synteny-core/src/installComparativeFetchAutorun.ts
  packages/synteny-core/src/withDiagonalizeProgress.ts
  plugins/circular-view/src/ChordVariantDisplay/models/stateModelFactory.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayBackgroundProgress.tsx
  plugins/variants/src/shared/getMultiSampleVariantSourcesAutorun.ts
Due: prettier --write, eslint --fix

fix(breakpoint-split-view): give the overlay-feature fetch a stop token, and a chip
  agent-docs/TODO.md
  packages/sv-core/src/findJunctionsNear.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/BreakpointSplitView.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/model.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/util.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/moveMatchingPanel.ts
Due: prettier --write, eslint --fix

docs(reference): drop the clustering table's row for the moved newick parser
  agent-docs/reference/CLUSTERING_WORKFLOW.md
Due: prettier --write

fix(test): stop handing jsdom's EventTarget a node-realm AbortSignal
  config/jest/jsdomWithFetch.cjs
Due: none

chore(deps): drop declared-but-unimported deps and two unreferenced files
  example-plugins/score-example/package.json
  package.json
  packages/alignments-core/package.json
  packages/alignments-core/tsconfig.build.esm.json
  packages/core/package.json
  packages/core/src/pluggableElementTypes/renderers/util.ts
  packages/synteny-core/package.json
  packages/synteny-core/src/index.ts
  packages/synteny-core/tsconfig.build.esm.json
  packages/web-core/package.json
  plugins/alignments/package.json
  plugins/arc/package.json
  plugins/gccontent/package.json
  plugins/gccontent/tsconfig.build.esm.json
  plugins/linear-comparative-view/package.json
  plugins/linear-comparative-view/tsconfig.build.esm.json
  plugins/linear-genome-view/src/BaseLinearDisplay/util.ts
  plugins/menus/package.json
  plugins/sv-inspector/package.json
  plugins/variants/package.json
  plugins/variants/tsconfig.build.esm.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

test(browser): refresh the eight goldens that predate the scroll edge shadow
  products/jbrowse-web/browser-tests/snapshots.lock
Due: none

chore(autogen): regenerate the model docs and the chrome bundle sizes
  scripts/chromeBundleSizes.json
  website/docs/models/BreakpointSplitView.md
  website/docs/models/DiagonalizeProgressMixin.md
  website/docs/models/DotplotView.md
  website/docs/models/LinearSyntenyView.md
Due: prettier --write

docs(todo): file the unused-export sweep the dead-code pass left
  agent-docs/TODO.md
Due: prettier --write

figures: the multi-row pair shows its result, and the derivative's coverage step is the point
  figures.lock
  website/docs/tutorials/cancer_sv.md
  website/scripts/specs/cancer_sv.ts
  website/scripts/specs/ui.ts
Due: prettier --write, eslint --fix

feat(multirow): Partition by..., so the setting the display is built on has a way in
  plugins/canvas/src/LinearMultiRowFeatureDisplay/canvasHeightCap.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/featureAt.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/featurePaintInputs.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/renderSvg.test.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/colorLegend.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/drawMultiRowBlocks.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/drawMultiRowIndelGlyphs.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/multiRowInstanceBuffer.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rowArrangement.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rowGroupLegend.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/sortRowsMenu.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/trackHeightFloor.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/trackMenuItems.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/trackMenuItems.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/packMultiRowFeatures.test.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/packMultiRowFeatures.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/rpcTypes.ts
  website/docs/user_guides/multirow_feature_track.md
  website/scripts/specs/genomes_basics.ts
  website/scripts/specs/ui.ts
Due: prettier --write, eslint --fix

docs(chromhmm): say what ENCODE2012 is, since it is the reason the stripe reads mixed
  website/docs/tutorials/chromhmm.md
Due: prettier --write

docs(mappability-qc): the block's size is the subject, measured
  website/docs/tutorials/mappability_qc.md
  website/scripts/specs/qc.ts
Due: prettier --write, eslint --fix

fix(synteny): derive the RPC transfer list, which unblocks the pericentromere
  figures.lock
  packages/core/src/rpc/RpcServer.test.ts
  packages/core/src/rpc/RpcServer.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/executeSyntenyFeaturesAndPositions.ts
  website/scripts/screenshot-review-plan.md
  website/scripts/specs/hg002_haplotypes.ts
Due: prettier --write, eslint --fix

docs(ld): why the Fst lane cannot zoom out, measured
  website/scripts/specs/ld.ts
Due: prettier --write, eslint --fix

figures(pangenome): the callouts lead with the insert, not with the reference
  figures.lock
  website/docs/user_guides/graph_genome_view.md
  website/scripts/specs/graph-ecoli.ts
Due: prettier --write, eslint --fix

figures(hic): record that SCALE normalization is worse here, rendered not argued
  website/scripts/specs/hic.ts
Due: prettier --write, eslint --fix

chore(autogen): regenerate the model docs, gallery links and bundle sizes
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

chore(autogen): drop the packed dep the component test no longer declares
  component_tests/cgv-vite/package.json
Due: none

docs(release): five days of main the v5.0.0 draft did not have
  website/release_announcement_drafts/v5.0.0.md
Due: prettier --write

test(byo-examples): hold the MUI census to what ever rendered, not what survived
  agent-docs/TODO.md
  packages/browser-test-utils/src/examplesSmoke.ts
  products/jbrowse-build-your-own/examples-site/CLAUDE.md
  products/jbrowse-build-your-own/examples-site/scripts/smoke.mjs
Due: prettier --write, eslint --fix

docs(release): cut the plumbing out of the new v5.0.0 sections
  website/release_announcement_drafts/v5.0.0.md
Due: prettier --write

Update figures.lock
  figures.lock
Due: none

docs(release): cull the v5.0.0 additions nobody would read for
  website/release_announcement_drafts/v5.0.0.md
Due: prettier --write

fix(synteny): subdivide the marker grid to the ruler's own minor rule
  plugins/linear-comparative-view/src/LinearSyntenyRPC/buildSyntenyGeometry.markers.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/buildSyntenyGeometry.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/markerRulerParity.test.ts
Due: prettier --write, eslint --fix

fix(examples): build every example's engine with the hook, and check that we did
  agent-docs/reference/EXAMPLES_SITES.md
  packages/browser-test-utils/src/docLinks.ts
  packages/browser-test-utils/src/examplesChecks.ts
  packages/browser-test-utils/src/examplesEngineHooks.ts
  packages/browser-test-utils/src/index.ts
  products/jbrowse-react-app/examples-site/src/examples/ObserveSession.tsx
  products/jbrowse-react-app/examples-site/src/examples/WithImportConfigJson.tsx
  products/jbrowse-react-circular-genome-view/examples-site/CLAUDE.md
  products/jbrowse-react-circular-genome-view/examples-site/scripts/smoke.mjs
  products/jbrowse-react-circular-genome-view/examples-site/src/examples/SessionInUrl.tsx
  products/jbrowse-react-circular-genome-view/examples-site/src/examples/ShowTrack.tsx
Due: prettier --write, eslint --fix

docs(release): the v5.0.0 draft announces a command that was reverted
  website/release_announcement_drafts/v5.0.0.changelog.md
  website/release_announcement_drafts/v5.0.0.md
Due: prettier --write

docs(publishing): read the draft against the source before publishing
  PUBLISHING.md
  agent-docs/reference/REJECTED_IDEAS.md
Due: prettier --write

test(core): pin what the rewritten StatusProgressBar renders
  packages/core/src/ui/StatusProgressBar.test.tsx
Due: prettier --write, eslint --fix

fix(test): the fetch mock builds its Request without the caller's signal
  config/jest/fetchMockAfterEnv.js
Due: none
