Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

Prioritize short-insert pink over orientation; robust insert-size stats
  plugins/alignments/src/LinearAlignmentsDisplay/colorUtils.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/colorUtils.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/colorBy.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/menuHelpers.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/read.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/read.slang
  plugins/alignments/src/features/arcs/compute.ts
  plugins/alignments/src/shared/insertSizeStats.test.ts
  plugins/alignments/src/shared/insertSizeStats.ts
  website/docs/user_guides/alignments_track.md
  website/docs/user_guides/sv_visualization.md
  website/scripts/screenshot-specs.ts
  website/static/img/alignments/read_cloud.png
Due: prettier --write, eslint --fix

Migrate to dockview v7
  packages/app-core/package.json
  packages/app-core/src/ui/App/TiledViewsContainer.tsx
  packages/web-core/package.json
  products/jbrowse-desktop/package.json
  products/jbrowse-react-app/package.json
  products/jbrowse-web/package.json
Due: prettier --write, eslint --fix

feature_detail_sequence: human SELENOP gene + new protein/transl_except figure
  website/docs/user_guides/feature_sequence.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-review.json
  website/scripts/screenshot-specs.ts
  website/static/img/feature_detail_protein.png
  website/static/img/feature_detail_sequence.png
Due: prettier --write, eslint --fix

docs: add bidirectional See also cross-references and standardize heading levels
  website/docs/config_guides/alignments_track.md
  website/docs/config_guides/assemblies.md
  website/docs/config_guides/customizing_feature_details.md
  website/docs/config_guides/gwas_track.md
  website/docs/config_guides/hic_track.md
  website/docs/config_guides/jexl.md
  website/docs/config_guides/multiquantitative_track.md
  website/docs/config_guides/plugins.md
  website/docs/config_guides/quantitative_track.md
  website/docs/config_guides/synteny_track.md
  website/docs/config_guides/text_searching.md
  website/docs/config_guides/theme.md
  website/docs/config_guides/track_selector.md
  website/docs/config_guides/variant_track.md
  website/docs/developer_guides/config_model.md
  website/docs/developer_guides/creating_adapter.md
  website/docs/developer_guides/menus.md
  website/docs/developer_guides/pluggable_elements.md
  website/docs/developer_guides/refname_aliasing.md
  website/docs/user_guides/alignments_track.md
  website/docs/user_guides/basic_usage.md
  website/docs/user_guides/bookmark_widget.md
  website/docs/user_guides/connections.md
  website/docs/user_guides/dotplot_view.md
  website/docs/user_guides/feature_sequence.md
  website/docs/user_guides/gene_track.md
  website/docs/user_guides/gwas_track.md
  website/docs/user_guides/hic_track.md
  website/docs/user_guides/linear_synteny_view.md
  website/docs/user_guides/multiquantitative_track.md
  website/docs/user_guides/multivariant_track.md
  website/docs/user_guides/plugin_store.md
  website/docs/user_guides/quantitative_track.md
  website/docs/user_guides/sequence_track.md
  website/docs/user_guides/sv_inspector_view.md
  website/docs/user_guides/sv_visualization.md
  website/docs/user_guides/variant_track.md
Due: prettier --write

Screenshot review fixes + lgvSession spec refactor
  website/docs/user_guides/gene_track.md
  website/scripts/annotations.ts
  website/scripts/figure-manifest.json
  website/scripts/screenshot-specs.ts
  website/static/img/bigwig/whole_genome_coverage.png
  website/static/img/gene_track_color_by_cds.png
  website/static/img/gene_track_peptides.png
  website/static/img/sv_cgiab/deletion_sv_inspector_search.png
  website/static/img/trio-crossover-maternal.png
  website/static/img/trio-crossover-paternal.png
Due: prettier --write, eslint --fix

refactor: unify region-too-large limit resolution + reason text
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/index.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/fetchHelpers.ts
  plugins/linear-genome-view/src/index.ts
  plugins/linear-genome-view/src/shared/FeatureDensityMixin.tsx
  plugins/linear-genome-view/src/shared/featureDensityUtils.test.ts
  plugins/linear-genome-view/src/shared/featureDensityUtils.ts
  plugins/variants/src/LDDisplay/shared.ts
Due: prettier --write, eslint --fix

[skip ci] docs: note shared region-too-large decision primitives in ARCHITECTURE
  agent-docs/ARCHITECTURE.md
  agent-docs/TODO.md
  website/static/img/bigwig/whole_genome_coverage.png
  website/static/img/multiwig/addtrack.png
Due: prettier --write

[skip ci] docs: note shared region-too-large decision primitives in ARCHITECTURE
  agent-docs/TODO.md
Due: prettier --write

Fix nub at tip of red arrow annotations in screenshots
  website/scripts/annotations.ts
Due: prettier --write, eslint --fix

docs: tidy tutorial/user-guide prose and unify "See also" links
  website/docs/tutorials/display_settings.md
  website/docs/tutorials/embed_linear_genome_view.md
  website/docs/tutorials/rnaseq.md
  website/docs/user_guides/linear_synteny_view.md
Due: prettier --write

feat(core): rename track display shorthand to separate `displayDefaults` key
  agent-docs/config-examples-handoff.md
  packages/core/src/pluggableElementTypes/models/baseTrackConfig.ts
  packages/core/src/pluggableElementTypes/models/expandTrackConfigShorthand.ts
  packages/core/src/pluggableElementTypes/models/expandTrackConfigShorthandE2e.test.ts
  plugins/alignments/src/AlignmentsTrack/configSchemaF.ts
  plugins/alignments/src/LinearAlignmentsDisplay/configSchema.ts
  plugins/gccontent/src/GCContentTrack/configSchema.ts
  plugins/gccontent/src/LinearGCContentDisplay/config2.ts
  plugins/gwas/src/LinearManhattanDisplay/configSchemaFactory.ts
  plugins/hic/src/HicTrack/configSchema.ts
  plugins/hic/src/LinearHicDisplay/configSchema.ts
  plugins/linear-genome-view/src/FeatureTrack/configSchema.ts
  plugins/sequence/src/ReferenceSequenceTrack/configSchema.test.ts
  plugins/variants/src/LinearVariantDisplay/configSchema.ts
  plugins/variants/src/VariantTrack/configSchema.ts
  plugins/wiggle/src/LinearWiggleDisplay/configSchema.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/configSchema.ts
  plugins/wiggle/src/QuantitativeTrack/configSchema.ts
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/with-jexl-feature-colors-and-labels.md
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/with-track-color-shorthand.md
  products/jbrowse-react-linear-genome-view/examples-site/src/docs/with-wiggle-track.md
  products/jbrowse-react-linear-genome-view/examples-site/src/examples.ts
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithJexlFeatureColorsAndLabels.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithTrackColorShorthand.tsx
  products/jbrowse-react-linear-genome-view/examples-site/src/examples/WithWiggleTrack.tsx
  products/jbrowse-web/src/tests/TrackConfigShorthand.test.ts
  test_data/volvox/config.json
  website/docs/config_guides/alignments_track.md
  website/docs/config_guides/customizing_feature_colors.md
  website/docs/config_guides/quantitative_track.md
  website/docs/config_guides/tracks.md
  website/docs/config_guides/variant_track.md
Due: prettier --write, eslint --fix

refactor: route canvas region-too-large through shared evaluateRegionTooLarge
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
Due: prettier --write, eslint --fix

docs: render full track-config examples on adapter pages
  docs/generateConfigDocs.ts
  docs/util.test.ts
  docs/util.ts
  plugins/alignments/src/BamAdapter/configSchema.ts
  plugins/alignments/src/CramAdapter/configSchema.ts
  plugins/bed/src/BedTabixAdapter/configSchema.ts
  plugins/bed/src/BigBedAdapter/configSchema.ts
  plugins/comparative-adapters/src/PAFAdapter/configSchema.ts
  plugins/gff3/src/Gff3TabixAdapter/configSchema.ts
  plugins/gtf/src/GtfAdapter/configSchema.ts
  plugins/gtf/src/GtfTabixAdapter/configSchema.ts
  plugins/sequence/src/BgzipFastaAdapter/configSchema.ts
  plugins/sequence/src/IndexedFastaAdapter/configSchema.ts
  plugins/sequence/src/TwoBitAdapter/configSchema.ts
  plugins/variants/src/VcfTabixAdapter/configSchema.ts
  plugins/wiggle/src/BigWigAdapter/configSchema.ts
  website/docs/config/BamAdapter.md
  website/docs/config/BedTabixAdapter.md
  website/docs/config/BgzipFastaAdapter.md
  website/docs/config/BigBedAdapter.md
  website/docs/config/BigWigAdapter.md
  website/docs/config/CramAdapter.md
  website/docs/config/Gff3TabixAdapter.md
  website/docs/config/GtfAdapter.md
  website/docs/config/GtfTabixAdapter.md
  website/docs/config/IndexedFastaAdapter.md
  website/docs/config/PAFAdapter.md
  website/docs/config/TwoBitAdapter.md
  website/docs/config/VcfTabixAdapter.md
Due: prettier --write, eslint --fix

fix: reliably auto-diagonalize synteny/dotplot views on slow remote data
  plugins/dotplot-view/src/DotplotView/afterAttach.ts
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/dotplot-view/src/DotplotView/util/runDotplotDiagonalize.test.ts
  plugins/dotplot-view/src/DotplotView/util/runDotplotDiagonalize.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/util/runDiagonalize.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/util/runDiagonalize.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/LevelSyntenyCanvas.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/stateModelFactory.ts
Due: prettier --write, eslint --fix

alignments: keep pair-orientation color on split reads (drop orange override)
  plugins/alignments/src/LinearAlignmentsDisplay/colorUtils.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/colorUtils.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/chainOverlayUtils.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/coverageParity.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/reads.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/GpuAlignmentsRenderer.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/rendererTypes.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/alignmentsUniforms.slang
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/read.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/read.iface.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/read.slang
  plugins/alignments/src/features/read/drawCanvas.ts
Due: prettier --write, eslint --fix

gff3: update to gff-nostream 4.0.0 (parseStringSync/parseRecords/GffFeature)
  plugins/gff3/package.json
  plugins/gff3/src/Gff3Adapter/Gff3Adapter.ts
  plugins/gff3/src/Gff3TabixAdapter/Gff3TabixAdapter.ts
  plugins/linear-genome-view/src/shared/FeatureDensityMixin.tsx
  plugins/linear-genome-view/src/shared/autorunFeatureDensityStats.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

docs: add full track-config examples to remaining track adapters
  docs/generateConfigDocs.ts
  plugins/alignments/src/HtsgetBamAdapter/configSchema.ts
  plugins/bed/src/BedAdapter/configSchema.ts
  plugins/bed/src/BedGraphAdapter/configSchema.ts
  plugins/bed/src/BedGraphTabixAdapter/configSchema.ts
  plugins/bed/src/BedpeAdapter/configSchema.ts
  plugins/bed/src/StarFusionAdapter/configSchema.ts
  plugins/comparative-adapters/src/ChainAdapter/configSchema.ts
  plugins/comparative-adapters/src/DeltaAdapter/configSchema.ts
  plugins/comparative-adapters/src/MCScanAnchorsAdapter/configSchema.ts
  plugins/comparative-adapters/src/MCScanSimpleAnchorsAdapter/configSchema.ts
  plugins/comparative-adapters/src/MashMapAdapter/configSchema.ts
  plugins/comparative-adapters/src/PairwiseIndexedPAFAdapter/configSchema.ts
  plugins/gff3/src/Gff3Adapter/configSchema.ts
  plugins/hic/src/HicAdapter/configSchema.ts
  plugins/sequence/src/UnindexedFastaAdapter/configSchema.ts
  plugins/variants/src/VcfAdapter/configSchema.ts
  plugins/wiggle/src/MultiWiggleAdapter/configSchema.ts
  website/docs/config/BedAdapter.md
  website/docs/config/BedGraphAdapter.md
  website/docs/config/BedGraphTabixAdapter.md
  website/docs/config/BedpeAdapter.md
  website/docs/config/ChainAdapter.md
  website/docs/config/DeltaAdapter.md
  website/docs/config/Gff3Adapter.md
  website/docs/config/HicAdapter.md
  website/docs/config/HtsgetBamAdapter.md
  website/docs/config/MCScanAnchorsAdapter.md
  website/docs/config/MCScanSimpleAnchorsAdapter.md
  website/docs/config/MashMapAdapter.md
  website/docs/config/MultiWiggleAdapter.md
  website/docs/config/PAFAdapter.md
  website/docs/config/PairwiseIndexedPAFAdapter.md
  website/docs/config/StarFusionAdapter.md
  website/docs/config/UnindexedFastaAdapter.md
  website/docs/config/VcfAdapter.md
Due: prettier --write, eslint --fix

alignments: sync comments for supplementary-chain color twins
  plugins/alignments/src/LinearAlignmentsDisplay/colorUtils.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/read.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/read.slang
Due: prettier --write, eslint --fix

docs: add config example to LinearMultiRowFeatureDisplay
  plugins/canvas/src/LinearMultiRowFeatureDisplay/configSchema.ts
  website/docs/config/LinearMultiRowFeatureDisplay.md
Due: prettier --write, eslint --fix

chore(screenshots): widen hs1_vs_mm39 synteny ready timeout to 180s
  website/scripts/screenshot-specs.ts
Due: prettier --write, eslint --fix

docs: show sample BED data in LinearMultiRowFeatureDisplay example
  plugins/canvas/src/LinearMultiRowFeatureDisplay/configSchema.ts
  website/docs/config/LinearMultiRowFeatureDisplay.md
Due: prettier --write, eslint --fix

refactor(region-too-large): unify on byte-estimate gating, remove block-era density path
  packages/core/src/data_adapters/BaseAdapter/BaseFeatureDataAdapter.ts
  packages/core/src/data_adapters/BaseAdapter/BaseSequenceAdapter.ts
  packages/core/src/data_adapters/BaseAdapter/stats.test.ts
  packages/core/src/data_adapters/BaseAdapter/stats.ts
  packages/core/src/data_adapters/BaseAdapter/types.ts
  plugins/arc/src/LinearArcDisplay/model.ts
  plugins/arc/src/LinearPairedArcDisplay/model.ts
  plugins/arc/src/shared/BaseDisplayComponent.tsx
  plugins/arc/src/shared/fetchArcFeatures.ts
  plugins/canvas/src/LinearBasicDisplay/baseConfigSchema.ts
  plugins/hic/src/HicAdapter/HicAdapter.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/index.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/configSchema.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/fetchHelpers.test.ts
  plugins/linear-genome-view/src/index.ts
  plugins/linear-genome-view/src/shared/RegionTooLargeMixin.tsx
  plugins/linear-genome-view/src/shared/featureDensityUtils.test.ts
  plugins/linear-genome-view/src/shared/featureDensityUtils.ts
  plugins/maf/src/BigMafAdapter/BigMafAdapter.ts
  plugins/variants/src/VcfTabixAdapter/VcfTabixAdapter.ts
  plugins/wiggle/src/BigWigAdapter/BigWigAdapter.ts
  plugins/wiggle/src/MultiWiggleAdapter/MultiWiggleAdapter.ts
Due: prettier --write, eslint --fix

feat(canvas): sampleColorMap + per-row palette for multi-row feature display
  plugins/canvas/src/LinearMultiRowFeatureDisplay/configSchema.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/fetchMultiRowFeatures.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/executeMultiRowGetFeatures.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/multiRowColors.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/packMultiRowFeatures.test.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/packMultiRowFeatures.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/rpcTypes.ts
  website/docs/config/LinearMultiRowFeatureDisplay.md
Due: prettier --write, eslint --fix

test_data: highlight parents instead of cycling palette in sample demo
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
Due: none

test_data: dogfood multi-row per-sample coloring in volvox demo
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
Due: none

feat(canvas): interactive per-row colors for multi-row feature display
  plugins/canvas/src/LinearMultiRowFeatureDisplay/components/SetRowArrangementDialog.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/configSchema.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/drawMultiRowBlocks.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/drawMultiRowBlocks.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/multiRowInstanceBuffer.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/multiRowInstanceBuffer.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/multiRowRenderingBackendTypes.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/trackMenuItems.ts
  website/docs/config/LinearMultiRowFeatureDisplay.md
Due: prettier --write, eslint --fix

refactor(canvas): resolve multi-row per-row color in one place
  plugins/canvas/src/LinearMultiRowFeatureDisplay/fetchMultiRowFeatures.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/sourcesLogic.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/sourcesLogic.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/executeMultiRowGetFeatures.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/packMultiRowFeatures.test.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/packMultiRowFeatures.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/rpcTypes.ts
  website/docs/models/LinearMultiRowFeatureDisplay.md
Due: prettier --write, eslint --fix

feat(synteny): live progress + cancel for auto-diagonalize in synteny/dotplot
  packages/synteny-core/src/DiagonalizeLoadingScreen.tsx
  packages/synteny-core/src/index.ts
  packages/synteny-core/src/withDiagonalizeProgress.ts
  plugins/dotplot-view/src/DiagonalizeDotplotRpc.ts
  plugins/dotplot-view/src/DotplotView/afterAttach.ts
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-comparative-view/src/DiagonalizeSyntenyRpc.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/components/LinearSyntenyView.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
Due: prettier --write, eslint --fix

refactor(display-chrome): compiler-enforce ChromeModel contract; drop duplicated loadingOverlayVisible getter
  packages/render-core/src/RenderLifecycleMixin.ts
  packages/render-core/src/displayPhase.ts
  packages/wiggle-core/src/displayModel.ts
  plugins/canvas/src/LinearBasicDisplay/components/FeatureComponent.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayChrome.test.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayChrome.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayErrorBar.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayLoadingOverlay.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/GlobalDataDisplayMixin.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/MultiRegionDisplayMixin.ts
  plugins/linear-genome-view/src/shared/TooLargeMessage.tsx
  plugins/sequence/src/LinearReferenceSequenceDisplay/model.ts
Due: prettier --write, eslint --fix

build(wiggle): require @gmod/bbi ^9.3.0 for getFeaturesAsArraysMulti
  plugins/wiggle/package.json
Due: none

feat(wiggle): batch single-wiggle fetch into one multi-region RPC
  plugins/linear-genome-view/src/BaseLinearDisplay/index.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/MultiRegionDisplayMixin.ts
  plugins/linear-genome-view/src/index.ts
  plugins/wiggle/src/BigWigAdapter/BigWigAdapter.ts
  plugins/wiggle/src/LinearWiggleDisplay/model.ts
  plugins/wiggle/src/RenderWiggleDataRPC/RenderWiggleData.ts
  plugins/wiggle/src/RenderWiggleDataRPC/executeRenderWiggleData.ts
Due: prettier --write, eslint --fix

build: regenerate pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

[skip ci] test(wiggle): validate getFeatureArraysMulti against real volvox.bw
  plugins/wiggle/src/BigWigAdapter/BigWigAdapter.test.ts
Due: prettier --write, eslint --fix

Bump deps
  package.json
  packages/core/package.json
  packages/tree-sidebar/package.json
  plugins/data-management/package.json
  plugins/dotplot-view/package.json
  plugins/grid-bookmark/package.json
  plugins/menus/package.json
  plugins/spreadsheet-view/package.json
  plugins/variants/package.json
  plugins/wiggle/package.json
  pnpm-lock.yaml
  products/jbrowse-desktop/package.json
Due: none

Fix webpack error in production build due to error:
  packages/core/src/ReExports/MuiStylesReExports.ts
  packages/core/src/ReExports/modules.ts
Due: prettier --write, eslint --fix

[skip ci] Update snaps
  agent-docs/OTHER_IDEAS.md
  agent-docs/TODO.md
  products/jbrowse-img/img/yeast_dotplot.png
  website/static/img/add_track_tracklist.png
  website/static/img/bigwig/whole_genome_coverage.png
  website/static/img/drawer_widget_toggle.png
  website/static/img/hierarchical/hierarchical_user_menu-fs8.png
  website/static/img/inverted_duplication.png
  website/static/img/multiwig/trackselector.png
  website/static/img/sample_config.png
  website/static/img/sequence_track.png
  website/static/img/top_level_menus.png
Due: prettier --write

[skip ci] docs(cgiab): add reproducible CNV track workflow (log2 ratio, BAF, calibration)
  website/docs/tutorials/sv_visualization_cgiab.md
Due: prettier --write
