Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(alignments): bump @gmod/bam to 7.7.1
  plugins/alignments/package.json
  pnpm-lock.yaml
Due: none

docs(synteny): fix the OrthoFinder build, and read the 4A translocations off it
  scripts/build_orthofinder_synteny.sh
  scripts/check-build-scripts.py
  website/docs/tutorials/orthofinder_synteny.md
  website/scripts/figure-manifest.json
  website/scripts/long-captions.txt
  website/scripts/specs/synteny.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/orthofinder_synteny/wheat_4a.png
Due: prettier --write, eslint --fix

refactor(scripts): give the TCGA signal matrix its own script
  scripts/build_tcga_cohort_cnv.sh
  scripts/build_tcga_cohort_cnv_zarr.sh
Due: none

feat(app-core): let a session spec carry connections, so a hub can be more than one view
  packages/app-core/src/SessionSpec/loadSessionSpec.test.ts
  packages/app-core/src/SessionSpec/loadSessionSpec.ts
  packages/app-core/src/SessionSpec/parseSessionSpecUrl.ts
  products/jbrowse-web/src/specSessionConnections.test.ts
  website/docs/urlparams.md
Due: prettier --write, eslint --fix

docs(sv_multisamples): stop reading N_HOMALT=0 as a fact about this call
  website/docs/tutorials/sv_multisamples.md
Due: prettier --write

docs(tutorials): add the binned-matrix reading of the TCGA CNV cohort
  website/docs/tutorials/tcga_cohort_cnv.md
Due: prettier --write

docs(cancer_sv): show the reconstruction on a fold-back, not only on der(3)
  plugins/alignments/src/features/derivativePaths/realReads.foldback.test.ts
  website/docs/tutorials/cancer_sv.md
  website/scripts/specs/cancer_sv.ts
  website/static/img/cancer_sv/foldback_reconstruction.png
Due: prettier --write, eslint --fix

fix(demos): give the OrthoFinder demos the session their figures use
  demos/orthofinder_grasses/config.json
  demos/orthofinder_vertebrates/config.json
  demos/orthofinder_wheat/config.json
  scripts/check-build-scripts.py
Due: none

chore: bump @gmod/tabix to 3.5.4 and @gmod/bgzf-filehandle to 6.3.2
  packages/core/package.json
  plugins/bed/package.json
  plugins/comparative-adapters/package.json
  plugins/gff3/package.json
  plugins/gtf/package.json
  plugins/maf/package.json
  plugins/variants/package.json
  pnpm-lock.yaml
Due: none

refactor(core): delegate readTabixHeaderLines to getHeaderLines
  packages/core/src/util/tabix.test.ts
  packages/core/src/util/tabix.ts
Due: prettier --write, eslint --fix

perf(bed): take the coordinates tabix already computed, and memoize getNames
  plugins/bed/src/BedTabixAdapter/BedTabixAdapter.ts
Due: prettier --write, eslint --fix

docs(bed): explain the single-coordinate query widening
  plugins/bed/src/BedGraphTabixAdapter/BedGraphTabixAdapter.ts
Due: prettier --write, eslint --fix

chore(demos): check in the cancer_sv config the tutorial is built on
  demos/cancer_sv/config.json
Due: none

fix(test_data): point COLO829's demo tracks at the files their trackIds name
  test_data/config_demo.json
Due: none

fix(scripts): write chrom.sizes in the GFF3's order, not the size sort's
  scripts/build_orthofinder_synteny.sh
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

refactor(connections): say which of the two places addConnectionConf puts a connection
  packages/app-core/src/JBrowseModel/index.ts
  packages/app-core/src/SessionSpec/loadSessionSpec.test.ts
  packages/app-core/src/SessionSpec/loadSessionSpec.ts
  packages/product-core/src/Session/Connections.ts
  packages/web-core/src/SessionConnections.ts
  products/jbrowse-web/src/sessionModel/sessionModelFactory.test.ts
  products/jbrowse-web/src/specSessionConnections.test.ts
  products/jbrowse-web/src/tests/LGVSynteny.test.tsx
  website/docs/models/BaseWebSessionModel.md
  website/docs/models/ConnectionManagementSessionMixin.md
  website/docs/models/JBrowseDesktopSessionModel.md
  website/docs/models/JBrowseReactCircularGenomeViewSessionModel.md
  website/docs/models/JBrowseReactLinearGenomeViewSessionModel.md
  website/docs/models/JBrowseWebSessionModel.md
  website/docs/models/WebSessionConnectionsMixin.md
  website/docs/urlparams.md
Due: prettier --write, eslint --fix

docs(models): regenerate the two tables carrying JBrowseModel.addConnectionConf
  website/docs/models/AppCoreJBrowseModel.md
  website/docs/models/JBrowseDesktopConfigModel.md
Due: prettier --write

test(jbrowse-web): rebaseline the alignments canvas at trackWidthPx
  products/jbrowse-web/src/tests/__image_snapshots__/add-track-widget-test-tsx-adds-a-paf-via-the-add-track-workflow-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-cloud-mode-draws-flat-tlen-lines-over-coverage-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-long-read-arc-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-long-read-arc-display-full-view-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-long-read-arc-display-out-of-view-pairing-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-short-read-arc-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-short-read-arc-display-out-of-view-pairing-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-group-by-test-tsx-chain-mode-groups-whole-chains-by-hp-tag-into-sections-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-group-by-test-tsx-group-by-strand-stacks-two-sections-in-one-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-group-by-test-tsx-group-draws-per-section-paired-end-arcs-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-group-by-test-tsx-group-draws-per-section-read-cloud-lines-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-group-by-test-tsx-group-draws-per-section-sashimi-arcs-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-linked-test-tsx-long-read-linked-reads-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-linked-test-tsx-long-read-linked-reads-display-out-of-view-pairing-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-linked-test-tsx-short-read-linked-reads-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-linked-test-tsx-short-read-linked-reads-display-bezier-connections-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-linked-test-tsx-short-read-linked-reads-display-out-of-view-pairing-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-stack-test-tsx-long-read-stack-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-stack-test-tsx-long-read-stack-display-out-of-view-pairing-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-stack-test-tsx-short-read-stack-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-stack-test-tsx-short-read-stack-display-at-ctg-a-33-623-35-216-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-stack-test-tsx-short-read-stack-display-out-of-view-pairing-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-color-by-test-tsx-color-by-stranded-rna-seq-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-color-by-test-tsx-color-by-tag-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-filters-test-tsx-filter-by-hp-tag-bam-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-filters-test-tsx-filter-by-hp-tag-cram-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-methylation-test-tsx-color-by-methylation-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-modifications-test-tsx-color-by-modifications-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-soft-clip-test-tsx-opens-the-track-menu-and-enables-soft-clipping-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-sort-test-tsx-selects-a-sort-sort-by-base-pair-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-sort-test-tsx-selects-a-sort-sort-by-base-pair-2-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-tsx-opens-an-alignments-track-and-clicks-feature-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-tsx-test-snpcoverage-doesnt-count-snpcoverage-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-bam-test-tsx-reloads-alignments-track-bai-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-bam-test-tsx-reloads-alignments-track-bam-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-cram-test-tsx-reloads-alignments-track-crai-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-cram-test-tsx-reloads-alignments-track-cram-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/snp-coverage-test-tsx-snpcoverage-interbase-counts-rendering-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/stats-estimation-test-tsx-test-stats-estimation-pileup-force-load-to-see-1-snap.png
Due: none

docs(extension-points): point the alsoReads fence at the adapter it documents
  plugins/comparative-adapters/src/AllVsAllPAFAdapter/index.ts
  website/docs/developer_guides/extension_points.md
Due: prettier --write, eslint --fix

test(dotplot): assert the alpha uniform contract, not the packed byte
  plugins/dotplot-view/src/DotplotDisplay/instanceInterleave.ts
  products/jbrowse-web/src/tests/DotplotColorRecompute.test.tsx
Due: prettier --write, eslint --fix

fix(alignments): tell a reader the reads never arrived, not that there is no event
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/LinearDerivativeVsRef.tsx
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/index.ts
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write, eslint --fix

test(read-vs-ref): submit the dialog the dotplot launch now goes through
  products/jbrowse-web/src/tests/ReadVsRef.test.tsx
Due: prettier --write, eslint --fix

test(variants): rebaseline the clustered matrix after the row-order refactor
  products/jbrowse-web/src/tests/__image_snapshots__/vcf-cluster-test-tsx-opens-a-vcf-track-and-clusters-genotypes-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/vcf_cluster_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/VcfCluster.test.tsx.snap
Due: none

refactor(tracks): finish the session-vs-config split, so a spec's sessionTracks means the session
  packages/app-core/src/SessionSpec/loadSessionSpec.test.ts
  packages/app-core/src/SessionSpec/loadSessionSpec.ts
  packages/product-core/src/Session/SessionTracks.ts
  products/jbrowse-web/src/sessionModel/sessionModelFactory.test.ts
  products/jbrowse-web/src/specSessionTracks.test.ts
  website/docs/models/BaseWebSessionModel.md
  website/docs/models/JBrowseReactLinearGenomeViewSessionModel.md
  website/docs/models/JBrowseWebSessionModel.md
  website/docs/models/SessionTracksManagerSessionMixin.md
Due: prettier --write, eslint --fix

fix(tree-sidebar): reserve the label gutter off the drawn tree, and follow the theme
  packages/tree-sidebar/CLAUDE.md
  packages/tree-sidebar/src/ClusterProvenanceHint.tsx
  packages/tree-sidebar/src/RowLabelsOverlay.tsx
  packages/tree-sidebar/src/SvgRowLabels.tsx
  packages/tree-sidebar/src/SvgTreePath.tsx
  packages/tree-sidebar/src/SvgTreeSidebar.tsx
  packages/tree-sidebar/src/TreeSidebar.tsx
  packages/tree-sidebar/src/TreeSidebarMixin.test.ts
  packages/tree-sidebar/src/TreeSidebarMixin.ts
  packages/tree-sidebar/src/clusterDialog/ClusterManualTab.tsx
  packages/tree-sidebar/src/clusterProvenance.test.ts
  packages/tree-sidebar/src/clusterProvenance.ts
  packages/tree-sidebar/src/hierarchy.ts
  packages/tree-sidebar/src/index.ts
  packages/tree-sidebar/src/treeDrawingAutorun.test.ts
  packages/tree-sidebar/src/treeDrawingAutorun.ts
  packages/tree-sidebar/src/treeSidebarGeometry.ts
  packages/tree-sidebar/src/types.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/renderSvg.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/runMultiRowClustering.ts
  plugins/maf/src/LinearMafDisplay/components/LinearMafDisplayComponent.tsx
  plugins/variants/src/shared/clusterModelTypes.ts
  plugins/variants/src/shared/components/MultiSampleVariantOverlay.tsx
  plugins/variants/src/shared/components/SvgVariantOverlay.tsx
  plugins/variants/src/shared/renderSvgUtils.ts
  plugins/variants/src/shared/runGenotypeClustering.test.ts
  plugins/variants/src/shared/runGenotypeClustering.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/clusterModelTypes.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/MultiWiggleComponent.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/renderSvg.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/runWiggleClustering.ts
Due: prettier --write, eslint --fix

refactor(img): route track modifiers through one table keyed by display type
  products/jbrowse-img/README.md
  products/jbrowse-img/data/unknownTrackType.json
  products/jbrowse-img/src/applyTrackOpts.test.ts
  products/jbrowse-img/src/applyTrackOpts.ts
  products/jbrowse-img/src/circular.test.mjs
  products/jbrowse-img/src/configTrackCategory.test.ts
  products/jbrowse-img/src/makeConfigs.ts
  products/jbrowse-img/src/options.ts
  products/jbrowse-img/src/renderRegion.tsx
  products/jbrowse-img/src/types.ts
Due: prettier --write, eslint --fix

fix(canvas): score categorical paintings by mismatch, not by color-cube distance
  plugins/canvas/src/MultiRowClusterFeaturesRPC/buildMultiRowMatrix.test.ts
  plugins/canvas/src/MultiRowClusterFeaturesRPC/buildMultiRowMatrix.ts
Due: prettier --write, eslint --fix

fix(variants): cluster genotypes on per-ALT dosage, not on a genotype class
  plugins/variants/src/CLAUDE.md
  plugins/variants/src/VariantRPC/genotypeMatrixEncoding.test.ts
  plugins/variants/src/VariantRPC/genotypeMatrixEncoding.ts
  plugins/variants/src/VariantRPC/getGenotypeMatrix.test.ts
  plugins/variants/src/VariantRPC/getGenotypeMatrix.ts
Due: prettier --write, eslint --fix

docs(tutorials): state the signal latency numbers in prose, not a pasted output block
  scripts/measure_signal_latency.ts
  website/docs/tutorials/population_cnv.md
Due: prettier --write, eslint --fix

docs(clustering): say what the window buys and what the tree does not claim
  products/jbrowse-web/src/tests/__snapshots__/VcfCluster.test.tsx.snap
  website/docs/models/LinearMafDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
  website/docs/models/TreeSidebarMixin.md
  website/docs/user_guides/clustering.md
Due: prettier --write

docs(clustering): say what the window buys and what the tree does not claim
  website/docs/user_guides/clustering.md
Due: prettier --write

docs(tutorials): compare both signal formats over the same 2504 samples
  website/docs/tutorials/population_cnv.md
Due: prettier --write

fix(bed): determinate download progress for BigBed, clamp redispatch start
  plugins/bed/src/BigBedAdapter/BigBedAdapter.ts
Due: prettier --write, eslint --fix

test(tree-sidebar): cover the cluster-provenance chip
  packages/tree-sidebar/src/ClusterProvenanceHint.test.tsx
Due: prettier --write, eslint --fix

perf: take the CIGAR off the CRAM render path, and adopt cram-js's walk
  plugins/alignments/src/CLAUDE.md
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/CramAdapter/CramSlightlyLazyFeature.ts
  plugins/alignments/src/CramAdapter/packCigar.ts
  plugins/alignments/src/CramAdapter/readFeaturesToCIGAR.test.ts
  plugins/alignments/src/CramAdapter/readFeaturesToMismatches.test.ts
  plugins/alignments/src/CramAdapter/readFeaturesToMismatches.ts
  plugins/alignments/src/CramAdapter/readFeaturesToNumericCIGAR.ts
  plugins/alignments/src/shared/extractCigarFeatures.ts
Due: prettier --write, eslint --fix

chore: update @gmod/bbi to 10.0.2
  package.json
  plugins/bed/package.json
  plugins/wiggle/package.json
  pnpm-lock.yaml
Due: none

build: require @gmod/cram 10.3.0
  plugins/alignments/package.json
  pnpm-lock.yaml
Due: none

chore(alignments): bump @gmod/bam to 7.8.0
  plugins/alignments/package.json
  pnpm-lock.yaml
Due: none

docs(sv_multisamples): move the page onto a call the reads can settle, and show them
  website/docs/tutorials/sv_multisamples.md
  website/scripts/specs/ui.ts
  website/src/lib/spec-recipe/fields.ts
  website/static/img/multisv.png
  website/static/img/multisv_rhd_dosage.png
  website/static/img/multisv_rhd_mapq.png
  website/static/img/multisv_svtype.png
Due: prettier --write, eslint --fix

docs(tutorials): illustrate the binned TCGA cohort with a figure
  test_data/tcga_cnv/config.json
  website/docs/tutorials/tcga_cohort_cnv.md
  website/scripts/specs/tcga.ts
  website/static/img/tcga/cohort_cnv_zarr_erbb2.png
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
