Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

test(blat-proxy): cover handler end-to-end + reject oversized/empty userSeq
  aws/blat-proxy/README.md
  aws/blat-proxy/src/index.ts
  aws/blat-proxy/src/proxy.ts
  aws/blat-proxy/test/handler.test.ts
  aws/blat-proxy/test/proxy.test.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  products/jbrowse-img/README.md
  products/jbrowse-img/src/makeConfigs.test.ts
  products/jbrowse-react-app/examples-site/package.json
  products/jbrowse-react-circular-genome-view/examples-site/package.json
  products/jbrowse-react-linear-genome-view/examples-site/package.json
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/package.json
Due: prettier --write, eslint --fix

fix(blat-proxy): switch template to HTTP API to match v2 handler
  aws/blat-proxy/template.yaml
Due: none

docs: R export handoff doc
  agent-docs/R_EXPORT.md
Due: prettier --write

feat: export view as reproducible R script (wiggle, alignments, genes)
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRRun.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/canvas/src/LinearBasicDisplay/exportRCode.test.ts
  plugins/canvas/src/LinearBasicDisplay/exportRCode.ts
  plugins/canvas/src/LinearBasicDisplay/exportRRun.test.ts
  plugins/canvas/src/LinearBasicDisplay/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/ExportRDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
  plugins/linear-genome-view/src/LinearGenomeView/lazyDialogs.ts
  plugins/linear-genome-view/src/LinearGenomeView/menuItems.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/types.ts
  plugins/linear-genome-view/src/index.ts
  plugins/wiggle/src/LinearWiggleDisplay/exportRCode.test.ts
  plugins/wiggle/src/LinearWiggleDisplay/exportRCode.ts
  plugins/wiggle/src/LinearWiggleDisplay/exportRRun.test.ts
  plugins/wiggle/src/LinearWiggleDisplay/model.ts
Due: prettier --write, eslint --fix

feat: export multi-wiggle and variant tracks as reproducible R
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
  plugins/variants/src/LinearVariantDisplay/exportRCode.test.ts
  plugins/variants/src/LinearVariantDisplay/exportRCode.ts
  plugins/variants/src/LinearVariantDisplay/exportRRun.test.ts
  plugins/variants/src/LinearVariantDisplay/model.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/exportRCode.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/exportRCode.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/exportRRun.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
Due: prettier --write, eslint --fix

feat: export Hi-C contact map as reproducible R script
  agent-docs/R_EXPORT.md
  agent-docs/R_EXPORT_ADVANCED.md
  plugins/hic/src/LinearHicDisplay/exportRCode.test.ts
  plugins/hic/src/LinearHicDisplay/exportRCode.ts
  plugins/hic/src/LinearHicDisplay/exportRRun.test.ts
  plugins/hic/src/LinearHicDisplay/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
  website/static/img/rexport/README.md
  website/static/img/rexport/hic.png
Due: prettier --write, eslint --fix

docs: R export example gallery and advanced-viz handoff
  agent-docs/R_EXPORT.md
  agent-docs/R_EXPORT_ADVANCED.md
  website/static/img/rexport/README.md
  website/static/img/rexport/alignments.png
  website/static/img/rexport/combined.png
  website/static/img/rexport/genes.png
  website/static/img/rexport/multiwiggle_density.png
  website/static/img/rexport/multiwiggle_overlay.png
  website/static/img/rexport/multiwiggle_rows.png
  website/static/img/rexport/variants.png
  website/static/img/rexport/wiggle.png
Due: prettier --write

feat: export multi-sample variant matrix as reproducible R script
  agent-docs/R_EXPORT.md
  agent-docs/R_EXPORT_ADVANCED.md
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/exportRCode.test.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/exportRCode.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/exportRRun.test.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/model.ts
  website/static/img/rexport/README.md
  website/static/img/rexport/variant_matrix.png
Due: prettier --write, eslint --fix

docs: R export gallery figure — variant matrix over a canvas gene track
  website/static/img/rexport/README.md
  website/static/img/rexport/variant_matrix_genes.png
Due: prettier --write

feat: export non-matrix LinearMultiSampleVariantDisplay as R; R-export refactor
  agent-docs/R_EXPORT.md
  agent-docs/R_EXPORT_ADVANCED.md
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRRun.test.ts
  plugins/canvas/src/LinearBasicDisplay/exportRCode.ts
  plugins/gwas/src/LinearManhattanDisplay/exportRCode.test.ts
  plugins/gwas/src/LinearManhattanDisplay/exportRCode.ts
  plugins/gwas/src/LinearManhattanDisplay/exportRRun.test.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
  plugins/hic/src/LinearHicDisplay/exportRCode.test.ts
  plugins/hic/src/LinearHicDisplay/exportRCode.ts
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
  plugins/linear-genome-view/src/LinearGenomeView/rexportShared.ts
  plugins/linear-genome-view/src/index.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/exportRCode.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/exportRCode.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/exportRRun.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/model.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/exportRCode.ts
  plugins/variants/src/LinearVariantDisplay/exportRCode.test.ts
  plugins/variants/src/LinearVariantDisplay/exportRCode.ts
  plugins/wiggle/src/LinearWiggleDisplay/exportRCode.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/exportRCode.ts
  website/static/img/rexport/README.md
  website/static/img/rexport/alignments.png
  website/static/img/rexport/gwas.png
  website/static/img/rexport/variant_rows_genes.png
  website/static/img/rexport/variants.png
Due: prettier --write, eslint --fix

docs: R export handoff — alignments colorBy/threshold notes + gallery drift
  agent-docs/R_EXPORT.md
Due: prettier --write

docs: regenerate Hi-C R-export gallery as rotated triangle over real data
  website/static/img/rexport/README.md
  website/static/img/rexport/hic.png
  website/static/img/rexport/hic_genes.png
Due: prettier --write

Refname renaming: Design (minimal threading, despite the concern that it's "extensively threaded"):
  agent-docs/R_EXPORT.md
  agent-docs/R_EXPORT_ADVANCED.md
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRRun.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
  plugins/linear-genome-view/src/LinearGenomeView/exportRRefnames.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/types.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/exportRCode.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/exportRCode.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/exportRRun.test.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/exportRCode.test.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/exportRCode.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/exportRRun.test.ts
  website/static/img/rexport/README.md
  website/static/img/rexport/modifications.png
  website/static/img/rexport/modifications_human.png
Due: prettier --write, eslint --fix

feat: export CIGAR indel markers in R alignments pileup
  agent-docs/R_EXPORT.md
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRRun.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
  website/static/img/rexport/README.md
  website/static/img/rexport/spliced.png
Due: prettier --write, eslint --fix

feat: export perBaseQuality colorBy in R alignments pileup
  agent-docs/R_EXPORT.md
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRRun.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
Due: prettier --write, eslint --fix

Update wording for track heights
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRRun.test.ts
  plugins/canvas/src/LinearBasicDisplay/exportRCode.ts
  plugins/canvas/src/LinearBasicDisplay/exportRRun.test.ts
  plugins/gwas/src/LinearManhattanDisplay/exportRCode.test.ts
  plugins/gwas/src/LinearManhattanDisplay/exportRRun.test.ts
  plugins/hic/src/LinearHicDisplay/exportRCode.ts
  plugins/hic/src/LinearHicDisplay/exportRRun.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/ExportRDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/exportRRefnames.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/exportRCode.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/exportRCode.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/exportRRun.test.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/exportRCode.test.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/exportRCode.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/exportRRun.test.ts
  plugins/variants/src/LinearVariantDisplay/exportRCode.test.ts
  plugins/variants/src/LinearVariantDisplay/exportRCode.ts
  plugins/variants/src/LinearVariantDisplay/exportRRun.test.ts
  plugins/wiggle/src/LinearWiggleDisplay/exportRCode.test.ts
  plugins/wiggle/src/LinearWiggleDisplay/exportRCode.ts
  plugins/wiggle/src/LinearWiggleDisplay/exportRRun.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/exportRCode.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/exportRCode.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/exportRRun.test.ts
  website/static/img/rexport/README.md
Due: prettier --write, eslint --fix

docs: trim CLAUDE.md, move TS toolchain note out, drop stale R-export docs
  CLAUDE.md
  agent-docs/README.md
  agent-docs/R_EXPORT.md
  agent-docs/R_EXPORT_ADVANCED.md
  agent-docs/reference/TYPESCRIPT_TOOLCHAIN.md
  website/static/img/rexport/README.md
Due: prettier --write

feat: export alignments sort (position/strand/base) in R script
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRRun.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
  website/docs/user_guides/r_export.md
  website/static/img/rexport/alignments_sort.png
Due: prettier --write, eslint --fix

feat: export BED gene tracks + browser-matched gene glyph in R
  plugins/canvas/src/LinearBasicDisplay/exportRCode.test.ts
  plugins/canvas/src/LinearBasicDisplay/exportRCode.ts
  plugins/canvas/src/LinearBasicDisplay/exportRRun.test.ts
  website/static/img/rexport/README.md
  website/static/img/rexport/genes.png
Due: prettier --write, eslint --fix

fix(website): exclude symlinked asset trees from docs content glob
  website/src/content.config.ts
Due: prettier --write, eslint --fix

feat: export alignments "Filter by" (flags/read name/tags) in R script
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRRun.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
  website/docs/user_guides/r_export.md
Due: prettier --write, eslint --fix

fix(r-export): base-sort ranks deletions over sort_pos as '*' like JBrowse
  agent-docs/guides/R_EXPORT.md
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRRun.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
Due: prettier --write, eslint --fix

docs: R export handoff — architecture, recipe, next steps
  agent-docs/README.md
  agent-docs/guides/R_EXPORT.md
Due: prettier --write

feat(r-export): coverage panel carves deletions + draws interbase indicators
  agent-docs/guides/R_EXPORT.md
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRRun.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
Due: prettier --write, eslint --fix

fix(r-export): insert-size coloring uses JBrowse's robust MAD estimator
  plugins/alignments/src/LinearAlignmentsDisplay/exportRRun.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
Due: prettier --write, eslint --fix

fix(r-export): low-frequency mismatch fade matches JBrowse (pileup, zoom-gated)
  agent-docs/guides/R_EXPORT.md
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRRun.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
Due: prettier --write, eslint --fix

feat(r-export): multi-region figures on a cumulative-bp axis
  agent-docs/guides/R_EXPORT.md
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRRun.test.ts
  plugins/canvas/src/LinearBasicDisplay/exportRCode.test.ts
  plugins/canvas/src/LinearBasicDisplay/exportRCode.ts
  plugins/gwas/src/LinearManhattanDisplay/exportRCode.test.ts
  plugins/gwas/src/LinearManhattanDisplay/exportRCode.ts
  plugins/hic/src/LinearHicDisplay/exportRCode.test.ts
  plugins/hic/src/LinearHicDisplay/exportRCode.ts
  plugins/linear-genome-view/src/LinearGenomeView/exportR.ts
  plugins/linear-genome-view/src/LinearGenomeView/types.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/exportRCode.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/exportRCode.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/exportRCode.test.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/exportRCode.ts
  plugins/variants/src/LinearVariantDisplay/exportRCode.test.ts
  plugins/variants/src/LinearVariantDisplay/exportRCode.ts
  plugins/wiggle/src/LinearWiggleDisplay/exportRCode.test.ts
  plugins/wiggle/src/LinearWiggleDisplay/exportRCode.ts
  plugins/wiggle/src/LinearWiggleDisplay/exportRRun.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/exportRCode.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/exportRCode.ts
  website/docs/user_guides/r_export.md
  website/static/img/rexport/README.md
  website/static/img/rexport/multiregion.png
Due: prettier --write, eslint --fix

fix(r-export): refname test tracked the pre-multi-region codegen
  plugins/linear-genome-view/src/LinearGenomeView/exportRRefnames.test.ts
Due: prettier --write, eslint --fix

fix(r-export): SNP coverage panel respects "Filter by" like JBrowse
  agent-docs/guides/R_EXPORT.md
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRRun.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/rHelpers.generated.ts
  plugins/linear-genome-view/src/LinearGenomeView/rhelpers/bam_coverage.R
  plugins/linear-genome-view/src/LinearGenomeView/rhelpers/keep_rows.R
Due: prettier --write, eslint --fix

feat(r-export): reproduce the insertion/softclip/hardclip/tag sorts
  agent-docs/guides/R_EXPORT.md
  plugins/alignments/src/LinearAlignmentsDisplay/exportRCode.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRRun.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/exportRSortEquivalence.test.ts
  plugins/alignments/src/RenderAlignmentDataRPC/sortLayout.fixture.ts
  plugins/alignments/src/RenderAlignmentDataRPC/sortLayout.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/rHelpers.generated.ts
  plugins/linear-genome-view/src/LinearGenomeView/rhelpers/bam_tag_values.R
  plugins/linear-genome-view/src/LinearGenomeView/rhelpers/sortedPileupLayout.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/rhelpers/sorted_pileup_layout.R
Due: prettier --write, eslint --fix

fix(r-export): base sort crashed on a mismatch from a filtered-out read
  plugins/linear-genome-view/src/LinearGenomeView/rHelpers.generated.ts
  plugins/linear-genome-view/src/LinearGenomeView/rhelpers/sortedPileupLayout.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/rhelpers/sorted_pileup_layout.R
Due: prettier --write, eslint --fix

Update docs
  website/docs/user_guides/r_export.md
Due: prettier --write

fix(desktop): remember download folder and uniquify colliding filenames
  products/jbrowse-desktop/electron/downloads.ts
  products/jbrowse-desktop/electron/electron.ts
Due: prettier --write, eslint --fix

[skip ci] fix(lgv): remove view-scoped "Horizontally flip view" from region menu
  plugins/linear-genome-view/src/LinearGenomeView/components/ScalebarRefNameLabels.tsx
Due: prettier --write, eslint --fix

refactor(variants): author the LD compute kernels in Slang
  agent-docs/OTHER_IDEAS.md
  agent-docs/architecture-decision-records/adr-005-shader-codegen-slang.md
  packages/shader-tools/src/shader-codegen/codegen.test.ts
  packages/shader-tools/src/shader-codegen/codegen.ts
  plugins/variants/src/LDDisplay/components/shaders/ldCompute.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldCompute.iface.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldCompute.slang
  plugins/variants/src/LDDisplay/components/shaders/ldPhasedCompute.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldPhasedCompute.iface.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldPhasedCompute.slang
  plugins/variants/src/LDDisplay/components/shaders/ldUniform.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldUniforms.slang
  plugins/variants/src/VariantRPC/getLDMatrixGPU.ts
  plugins/variants/src/VariantRPC/ldComputeShader.ts
  plugins/variants/src/VariantRPC/ldPhasedComputeShader.ts
Due: prettier --write, eslint --fix

fix(tree-sidebar): draw dendrograms at true branch lengths by default
  packages/tree-sidebar/src/hierarchy.test.ts
  packages/tree-sidebar/src/hierarchy.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/configSchema.ts
  plugins/maf/src/LinearMafDisplay/displayDefaults.ts
  plugins/variants/src/shared/SharedVariantConfigSchema.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/configSchema.ts
Due: prettier --write, eslint --fix

fix(tree-sidebar): highlight hovered subtree rows in fit-to-height mode
  packages/tree-sidebar/CLAUDE.md
  packages/tree-sidebar/src/treeDrawingAutorun.test.ts
  packages/tree-sidebar/src/treeDrawingAutorun.ts
  packages/tree-sidebar/src/types.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/multiWiggleDisplayTypes.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
Due: prettier --write, eslint --fix

[skip ci] fix(variants): stop the LD GPU path silently returning an all-zero matrix
  plugins/variants/src/LDDisplay/components/shaders/ldCompute.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldCompute.iface.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldCompute.slang
  plugins/variants/src/LDDisplay/components/shaders/ldPhasedCompute.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldPhasedCompute.iface.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldPhasedCompute.slang
  plugins/variants/src/VariantRPC/getLDMatrixGPU.ts
Due: prettier --write, eslint --fix

fix(alignments): draw one sashimi arc per junction, not per strand
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiArcLabel.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/detailWidgets.ts
  plugins/alignments/src/RenderAlignmentDataRPC/types.ts
  plugins/alignments/src/features/sashimi/compute.test.ts
  plugins/alignments/src/features/sashimi/compute.ts
  plugins/alignments/src/features/sashimi/computeOverlay.ts
Due: prettier --write, eslint --fix
