Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

Misc
  packages/core/BaseFeatureWidget/SequenceFeatureDetails/SequenceFeatureDetails.test.tsx
  packages/core/BaseFeatureWidget/__snapshots__/index.test.tsx.snap
  packages/core/BaseFeatureWidget/index.test.tsx
  packages/core/util/stats.test.ts
  plugins/alignments/src/AlignmentsFeatureDetail/__snapshots__/index.test.tsx.snap
  plugins/alignments/src/BamAdapter/__snapshots__/BamAdapter.test.ts.snap
  plugins/alignments/src/MismatchParser/__snapshots__/index.test.ts.snap
  plugins/bed/src/BedAdapter/__snapshots__/BedAdapter.test.ts.snap
  plugins/bed/src/BedTabixAdapter/__snapshots__/BedTabixAdapter.test.ts.snap
  plugins/bed/src/BigBedAdapter/__snapshots__/BigBedAdapter.test.ts.snap
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/data-management/src/AddConnectionWidget/components/__snapshots__/AddConnectionWidget.test.tsx.snap
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.tsx.snap
  plugins/gff3/src/Gff3Adapter/__snapshots__/Gff3Adapter.test.ts.snap
  plugins/gff3/src/Gff3TabixAdapter/__snapshots__/Gff3TabixAdapter.test.ts.snap
  plugins/gtf/src/GtfAdapter/__snapshots__/GtfAdapter.test.ts.snap
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  plugins/menus/src/AboutWidget/components/__snapshots__/AboutWidget.test.tsx.snap
  plugins/menus/src/HelpWidget/components/__snapshots__/HelpWidget.test.tsx.snap
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/__snapshots__/BedImport.test.ts.snap
  plugins/svg/src/SvgFeatureRenderer/components/__snapshots__/SvgFeatureRendering.test.tsx.snap
  plugins/variants/src/VariantFeatureWidget/__snapshots__/VariantFeatureWidget.test.tsx.snap
  plugins/variants/src/VcfAdapter/__snapshots__/VcfAdapter.test.ts.snap
  plugins/variants/src/VcfFeature/__snapshots__/index.test.ts.snap
  products/jbrowse-cli/src/commands/__snapshots__/add-assembly.test.ts.snap
  products/jbrowse-cli/src/commands/__snapshots__/make-pif.test.ts.snap
  products/jbrowse-web/src/tests/JBrowse.test.tsx
  products/jbrowse-web/src/tests/Loader.test.tsx
  products/jbrowse-web/src/tests/util.tsx
Due: prettier --write, eslint --fix

Misc
  packages/core/BaseFeatureWidget/SequenceFeatureDetails/SequenceFeatureDetails.test.tsx
  packages/core/BaseFeatureWidget/index.test.tsx
  plugins/alignments/src/CramAdapter/CramAdapter.test.ts
  plugins/gtf/src/GtfAdapter/GtfAdapter.test.ts
  plugins/hic/src/HicAdapter/HicAdapter.ts
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/BedImport.test.ts
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/BedpeImport.test.ts
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/STARFusionImport.test.ts
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/VcfImport.test.ts
  plugins/variants/src/VcfTabixAdapter/VcfTabixAdapter.test.ts
  products/jbrowse-web/src/tests/Authentication.test.tsx
  products/jbrowse-web/src/tests/Connection.test.tsx
  products/jbrowse-web/src/tests/JBrowse.test.tsx
  products/jbrowse-web/src/tests/Synteny.test.tsx
  products/jbrowse-web/src/tests/util.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Misc2
  plugins/alignments/src/AlignmentsFeatureDetail/__snapshots__/index.test.tsx.snap
  plugins/alignments/src/BamAdapter/BamAdapter.test.ts
  plugins/alignments/src/CombinationTest.test.ts
  plugins/alignments/src/CramAdapter/__snapshots__/CramAdapter.test.ts.snap
  plugins/alignments/src/MismatchParser/index.test.ts
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/data-management/src/AddConnectionWidget/components/__snapshots__/AddConnectionWidget.test.tsx.snap
  plugins/data-management/src/AddTrackWidget/index.test.tsx
  plugins/data-management/src/AssemblyManager/AssemblyManager.test.tsx
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.tsx.snap
  plugins/legacy-jbrowse/src/NCListAdapter/NCListAdapter.test.ts
  plugins/legacy-jbrowse/src/NCListAdapter/__snapshots__/NCListAdapter.test.ts.snap
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/__snapshots__/BedImport.test.ts.snap
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/__snapshots__/BedpeImport.test.ts.snap
  plugins/variants/src/VariantFeatureWidget/__snapshots__/VariantFeatureWidget.test.tsx.snap
  plugins/variants/src/VcfTabixAdapter/__snapshots__/VcfTabixAdapter.test.ts.snap
  products/jbrowse-web/src/tests/ExportSvgBreakpointSplitView.test.tsx
  products/jbrowse-web/src/tests/ExportSvgCircular.test.tsx
  products/jbrowse-web/src/tests/ExportSvgDotplot.test.tsx
  products/jbrowse-web/src/tests/ExportSvgLinearGenomeView.test.tsx
  products/jbrowse-web/src/tests/ExportSvgLinearSyntenyView.test.tsx
  products/jbrowse-web/src/tests/loaderUtil.tsx
Due: prettier --write, eslint --fix

Minimum alpha
  plugins/alignments/src/shared/util.ts
  yarn.lock
Due: prettier --write, eslint --fix

[skip ci] v3.1.0 release announcement (#4890)
  website/release_announcement_drafts/v3.1.0.md
Due: prettier --write

Prepare for v3.1.0 release
  CHANGELOG.md
  website/blog/2025-03-14-v3.1.0-release.md
  website/docusaurus.config.json
Due: prettier --write

Revert "Prepare for v3.1.0 release"
  CHANGELOG.md
  website/blog/2025-03-14-v3.1.0-release.md
  website/docusaurus.config.json
Due: prettier --write

Bundle v2.18.0 vanilla
  products/jbrowse-react-app/package.json
  products/jbrowse-react-app/react-app.umd.development.js.gz
  products/jbrowse-react-app/react-app.umd.production.min.js.gz
  products/jbrowse-react-circular-genome-view/package.json
  products/jbrowse-react-circular-genome-view/react-circular-genome-view.umd.development.js.gz
  products/jbrowse-react-circular-genome-view/react-circular-genome-view.umd.production.min.js.gz
  products/jbrowse-react-linear-genome-view/package.json
  products/jbrowse-react-linear-genome-view/react-linear-genome-view.umd.development.js.gz
  products/jbrowse-react-linear-genome-view/react-linear-genome-view.umd.production.min.js.gz
Due: none

[skip ci] Bump version.js
  products/jbrowse-react-circular-genome-view/src/version.js
Due: none

[skip ci] Bump version.js
  products/jbrowse-react-app/src/version.js
Due: none

[skip ci] Bump version.js
  products/jbrowse-react-linear-genome-view/src/version.js
Due: none

New cluster
  plugins/variants/src/shared/components/ClusterDialog.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/ClusterDialog.tsx
  plugins/wiggle/src/WiggleBaseRenderer.tsx
  plugins/wiggle/src/WiggleRPC/MultiWiggleGetScoreMatrix.ts
Due: prettier --write, eslint --fix

Fix clustering for certain sets of bigwig files (#4897)
  plugins/variants/src/shared/components/ClusterDialog.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/ClusterDialog.tsx
  plugins/wiggle/src/WiggleBaseRenderer.tsx
  plugins/wiggle/src/WiggleRPC/MultiWiggleGetScoreMatrix.ts
Due: prettier --write, eslint --fix

Centralize loading byte progress util function
  packages/core/util/index.ts
  plugins/comparative-adapters/src/ChainAdapter/util.ts
  plugins/comparative-adapters/src/DeltaAdapter/util.ts
  plugins/comparative-adapters/src/util.ts
  plugins/gff3/src/Gff3Adapter/Gff3Adapter.ts
  plugins/gtf/src/GtfAdapter/GtfAdapter.ts
  plugins/variants/src/VcfAdapter/VcfAdapter.ts
  products/jbrowse-web/src/components/PreferencesDialog.tsx
Due: prettier --write, eslint --fix

[skip ci] Flip progress display string
  packages/core/util/index.ts
Due: prettier --write, eslint --fix

[skip ci] Flip progress display string
  plugins/variants/src/MultiLinearVariantMatrixRenderer/makeImageData.ts
  plugins/variants/src/MultiLinearVariantRenderer/makeImageData.ts
Due: prettier --write, eslint --fix

No re-render
  plugins/variants/src/MultiLinearVariantMatrixDisplay/model.ts
  plugins/variants/src/shared/MultiVariantBaseModel.tsx
Due: prettier --write, eslint --fix

Re-enable for each removals
  eslint.config.mjs
Due: none

Add stop token check before featurerenderertype
  packages/core/pluggableElementTypes/renderers/FeatureRendererType.ts
  plugins/wiggle/src/MultiDensityRenderer/MultiDensityRenderer.ts
Due: prettier --write, eslint --fix

Updates
  packages/core/util/index.ts
  packages/core/util/stopToken.ts
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
  plugins/hic/src/HicRenderer/makeImageData.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/ScalebarRefNameLabels.tsx
  plugins/wiggle/src/MultiDensityRenderer/MultiDensityRenderer.ts
  plugins/wiggle/src/MultiLineRenderer/MultiLineRenderer.ts
  plugins/wiggle/src/MultiRowLineRenderer/MultiRowLineRenderer.ts
  plugins/wiggle/src/MultiRowXYPlotRenderer/MultiRowXYPlotRenderer.ts
  plugins/wiggle/src/MultiXYPlotRenderer/MultiXYPlotRenderer.ts
  plugins/wiggle/src/drawDensity.ts
  plugins/wiggle/src/drawLine.ts
  plugins/wiggle/src/drawXY.ts
  products/jbrowse-web/src/util.ts
Due: prettier --write, eslint --fix

Misc
  plugins/alignments/src/LinearReadCloudDisplay/drawLongReadChains.ts
Due: prettier --write, eslint --fix

Misc
  packages/core/data_adapters/BaseAdapter/BaseFeatureDataAdapter.ts
  packages/core/util/rxjs.ts
  plugins/bed/src/BedAdapter/BedAdapter.ts
  plugins/bed/src/BedGraphAdapter/BedGraphAdapter.ts
  plugins/bed/src/BedGraphTabixAdapter/BedGraphTabixAdapter.ts
  plugins/bed/src/util.ts
  plugins/comparative-adapters/src/BlastTabularAdapter/BlastTabularAdapter.ts
  plugins/comparative-adapters/src/PAFAdapter/PAFAdapter.ts
  plugins/dotplot-view/src/DotplotRenderer/drawDotplot.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/drawSynteny.ts
  plugins/wiggle/src/BigWigAdapter/BigWigAdapter.ts
Due: prettier --write, eslint --fix

[skip ci] Misc
  packages/core/util/Base1DUtils.ts
Due: prettier --write, eslint --fix

Plimit
  packages/core/data_adapters/BaseAdapter/BaseFeatureDataAdapter.ts
  packages/core/package.json
  plugins/wiggle/package.json
  plugins/wiggle/src/MultiWiggleAdapter/MultiWiggleAdapter.ts
  yarn.lock
Due: prettier --write, eslint --fix

[skip ci] Modularize SVG
  plugins/svg/src/SvgFeatureRenderer/components/Box.tsx
  plugins/svg/src/SvgFeatureRenderer/components/FeatureGlyph.tsx
  plugins/svg/src/SvgFeatureRenderer/components/FeatureLabel.tsx
  plugins/svg/src/SvgFeatureRenderer/components/ProcessedTranscript.tsx
  plugins/svg/src/SvgFeatureRenderer/components/RenderedFeatureGlyph.tsx
  plugins/svg/src/SvgFeatureRenderer/components/RenderedFeatures.tsx
  plugins/svg/src/SvgFeatureRenderer/components/RepeatRegion.tsx
  plugins/svg/src/SvgFeatureRenderer/components/Subfeatures.tsx
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.tsx
  plugins/svg/src/SvgFeatureRenderer/components/SvgOverlay.tsx
  plugins/svg/src/SvgFeatureRenderer/components/chooseGlyphComponent.ts
  plugins/svg/src/SvgFeatureRenderer/components/types.ts
  plugins/svg/src/SvgFeatureRenderer/components/util.ts
Due: prettier --write, eslint --fix

Fix tooltip orientation, fixes #4903
  plugins/linear-genome-view/src/LinearGenomeView/components/RubberbandSpan.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Pinned tracks getters
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewRubberband.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewRubberbandHoverTooltip.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/Rubberband.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RubberbandSpan.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RubberbandTooltip.tsx
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/variants/src/VcfTabixAdapter/VcfTabixAdapter.ts
  plugins/variants/src/shared/components/ClusterDialog.tsx
  plugins/variants/src/shared/components/SourcesDataGrid.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/ClusterDialog.tsx
Due: prettier --write, eslint --fix

Double cluster bug
  plugins/variants/src/shared/MultiVariantBaseModel.tsx
  plugins/variants/src/shared/components/ClusterDialog.tsx
Due: prettier --write, eslint --fix

Refactor
  plugins/variants/src/shared/MultiVariantBaseModel.tsx
  plugins/variants/src/shared/components/ClusterDialog.tsx
  plugins/variants/src/shared/getSources.ts
Due: prettier --write, eslint --fix

Fix bug where applying clustering twice produces randomness (#4905)
  plugins/variants/src/shared/MultiVariantBaseModel.tsx
  plugins/variants/src/shared/components/ClusterDialog.tsx
  plugins/variants/src/shared/getSources.ts
Due: prettier --write, eslint --fix

Misc
  packages/core/data_adapters/BaseAdapter/BaseOptions.ts
  packages/core/data_adapters/BaseAdapter/types.ts
  plugins/bed/src/BigBedAdapter/BigBedAdapter.ts
  plugins/variants/src/VariantRPC/MultiVariantClusterGenotypeMatrix.ts
  plugins/variants/src/VariantRPC/MultiVariantGetGenotypeMatrix.ts
  plugins/variants/src/VariantRPC/cluster.ts
  plugins/variants/src/VariantRPC/getGenotypeMatrix.ts
  plugins/variants/src/VariantRPC/types.ts
  plugins/variants/src/index.ts
  plugins/variants/src/shared/MultiVariantBaseModel.tsx
  plugins/variants/src/shared/components/ClusterDialog.tsx
  plugins/variants/src/shared/components/ClusterDialogAuto.tsx
  plugins/variants/src/shared/components/ClusterDialogManual.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Simplify
  plugins/variants/src/VariantRPC/cluster.ts
  plugins/variants/src/shared/components/ClusterDialogAuto.tsx
Due: prettier --write, eslint --fix
