Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

selectEncodedFeature reaches the RPC through getRpcHost
  packages/core/src/util/selectEncodedFeature.ts
Due: prettier --write, eslint --fix

pnpm autogen
  packages/core/README.md
  packages/core/src/ReExports/coreModules.generated.ts
  packages/core/src/ReExports/coreWorkerModules.generated.ts
  packages/core/src/ReExports/list.ts
  packages/core/src/ReExports/reExports.generated.json
  website/docs/api/core.md
  website/docs/developer_guides/imports_and_reexports.md
  website/docs/developer_guides/plotting_features.md
  website/docs/models/LinearManhattanDisplay.md
Due: prettier --write, eslint --fix

The encoder fills a text lane of strings
  packages/core/src/util/markEncoding.test.ts
  packages/core/src/util/markEncoding.ts
  packages/core/src/util/markEncodingTypes.ts
Due: prettier --write, eslint --fix

A floated label has one emit: display-ui's FloatingText and SvgHaloText
  packages/display-ui/src/FloatingText.tsx
  packages/display-ui/src/index.ts
  plugins/arc/package.json
  plugins/arc/src/shared/Arcs.tsx
  plugins/arc/tsconfig.build.esm.json
  plugins/canvas/src/LinearBasicDisplay/components/overlayElements.tsx
  pnpm-lock.yaml
  products/jbrowse-desktop/src/workerReExports.generated.ts
  products/jbrowse-react-app/src/workerReExports.generated.ts
  products/jbrowse-react-circular-genome-view/src/workerReExports.generated.ts
  products/jbrowse-react-linear-genome-view/src/workerReExports.generated.ts
  products/jbrowse-web/src/workerReExports.generated.ts
Due: prettier --write, eslint --fix

Search: one gene two tracks draw with slightly different ends is one place
  packages/core/package.json
  packages/core/src/ReExports/coreModules.generated.ts
  packages/core/src/ReExports/coreWorkerModules.generated.ts
  packages/core/src/ReExports/list.ts
  packages/core/src/ReExports/reExports.generated.json
  packages/core/src/TextSearch/places.ts
  packages/core/src/ui/RefNameAutocomplete/SearchOption.tsx
  packages/core/src/ui/RefNameAutocomplete/util.test.ts
  packages/core/src/ui/RefNameAutocomplete/util.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchResultsTable.tsx
  plugins/linear-genome-view/src/searchUtils.test.ts
  plugins/linear-genome-view/src/searchUtils.ts
  scripts/registryBundleSizes.json
  website/docs/developer_guides/imports_and_reexports.md
Due: prettier --write, eslint --fix

Cattle tutorial links the bovine page on genomes.jbrowse.org
  website/docs/tutorials/pangenome_cattle.md
Due: prettier --write

Cattle tutorial: the portal link says what the page lists
  website/docs/tutorials/pangenome_cattle.md
Due: prettier --write

Multi-way lanes the session lacks are described by a plugin, in one batch
  agent-docs/ARCHITECTURE.md
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
  packages/core/src/PluginManager.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneFetch.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneStack.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/testEnv.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
  website/docs/developer_guides/extension_points.md
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write, eslint --fix

lint:eslint caps an agent run at two workers
  package.json
  scripts/eslint.sh
Due: none

Tutorials name genomes.jbrowse.org where their data comes from it
  website/docs/tutorials/CLAUDE.md
  website/docs/tutorials/alu_age.md
  website/docs/tutorials/amylase_haplotypes.md
  website/docs/tutorials/circular_synteny.md
  website/docs/tutorials/dog10k_svs.md
  website/docs/tutorials/gene_density.md
  website/docs/tutorials/hprc_multiway_synteny.md
  website/docs/tutorials/pangenome_chrm.md
Due: prettier --write

The arc displays' colour is the colour object, with a key the status chrome places
  agent-docs/ARCHITECTURE.md
  agent-docs/architecture-decision-records/adr-153-every-display-resolves-its-colour-through-one-function.md
  agent-docs/handoffs/grammar-of-graphics-convergence.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  packages/display-kit/src/DisplayChromeBase.tsx
  packages/display-kit/src/DisplayStatusChromeBase.tsx
  plugins/arc/src/LinearArcDisplay/configSchema.ts
  plugins/arc/src/LinearArcDisplay/model.ts
  plugins/arc/src/LinearPairedArcDisplay/configSchema.ts
  plugins/arc/src/LinearPairedArcDisplay/model.ts
  plugins/arc/src/shared/arcColor.test.tsx
  plugins/arc/src/shared/arcColor.ts
  plugins/arc/src/shared/arcColorConfigSchema.ts
  plugins/arc/src/shared/pairedArcColorConfigSchema.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/chromeBundleSizes.json
  website/docs/config/ArcColor.md
  website/docs/config/LinearArcDisplay.md
  website/docs/config/LinearPairedArcDisplay.md
  website/docs/config/PairedArcColor.md
  website/docs/developer_guides/configuration_schema.md
  website/docs/developer_guides/creating_display.md
  website/docs/models/LinearArcDisplay.md
  website/docs/models/LinearPairedArcDisplay.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

The docs generator reads a slot table built from factory calls
  agent-docs/architecture-decision-records/adr-108-a-display-declares-its-colour-scales.md
  plugins/arc/src/LinearArcDisplay/configSchema.ts
  plugins/arc/src/LinearPairedArcDisplay/configSchema.ts
  plugins/arc/src/shared/arcColor.test.tsx
  plugins/arc/src/shared/arcColor.ts
  plugins/arc/src/shared/arcColorConfigSchema.ts
  plugins/arc/src/shared/arcLegendConfigSchemaFields.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/ArcColor.md
  website/docs/config/LinearArcDisplay.md
  website/docs/config/LinearPairedArcDisplay.md
  website/docs/config/PairedArcColor.md
  website/scripts/api-docs/enumConstants.test.ts
  website/scripts/api-docs/enumConstants.ts
  website/scripts/api-docs/generateConfigDocs.ts
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

pnpm autogen
  scripts/registryBundleSizes.json
Due: none

Tutorials link genomes.jbrowse.org where they load from its hubs
  website/docs/tutorials/CLAUDE.md
  website/docs/tutorials/agent_synteny.md
  website/docs/tutorials/dog10k_lof.md
  website/docs/tutorials/dog10k_selection.md
  website/docs/tutorials/hg38_vertebrates_synteny.md
  website/docs/tutorials/local_ancestry.md
  website/docs/tutorials/pangenome_hprc_part3.md
Due: prettier --write

A described lane's answer holds readiness, and a failed one can be retried
  agent-docs/ARCHITECTURE.md
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneStack.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/testEnv.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write, eslint --fix

A spec-form defaultSession keeps tracks that name a display type
  packages/core/src/util/withLaunchInput.ts
  packages/product-core/src/pruneUnbuildableNodes.test.ts
  packages/product-core/src/pruneUnbuildableNodes.ts
Due: prettier --write, eslint --fix

chore: pre-push autofix
  packages/core/src/ReExports/reExports.generated.json
  scripts/registryBundleSizes.json
Due: none

readFor compares adapter configs by value, as the fetch key does
  packages/core/src/util/installPrerequisiteFetch.test.ts
  packages/core/src/util/installPrerequisiteFetch.ts
  plugins/marks/src/LinearMarkDisplay/rowDerivation.test.ts
  products/jbrowse-react-linear-genome-view/src/prerequisiteReadUndo.test.ts
Due: prettier --write, eslint --fix

setSlot refills an array slot through spliceWithArray
  packages/core/src/configuration/configurationSchema.ts
Due: prettier --write, eslint --fix

Drop BaseTrackModel.canConfigure and materializedRowColors
  packages/core/src/pluggableElementTypes/models/BaseTrackModel.ts
  packages/tree-sidebar/src/TreeSidebarMixin.ts
  packages/tree-sidebar/src/rowColorScale.ts
Due: prettier --write, eslint --fix

pnpm autogen, and FETCH_SKELETON names the fourth prerequisite read and readFor
  agent-docs/reference/FETCH_SKELETON.md
  agent-docs/reference/SVG_EXPORT.md
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/BaseTrackModel.md
Due: prettier --write

A phased region arrival re-derives no row while the ploidies hold
  plugins/variants/src/CLAUDE.md
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/__snapshots__/workCensus.test.ts.snap
  plugins/variants/src/shared/getSources.test.ts
  plugins/variants/src/shared/getSources.ts
Due: prettier --write, eslint --fix

ADR-160: the recolour's measured cost in a session, and the arrival that re-derives nothing
  agent-docs/architecture-decision-records/adr-160-a-rows-colour-is-one-categorical-channel-on-the-row-axis.md
Due: prettier --write

A prerequisite read of a config the display left lands nothing
  packages/core/src/util/installPrerequisiteFetch.test.ts
  packages/core/src/util/installPrerequisiteFetch.ts
Due: prettier --write, eslint --fix

installPrerequisiteFetch's docstring names the fourth read, the mark display's source list
  packages/core/src/util/installPrerequisiteFetch.ts
Due: prettier --write, eslint --fix

Docs: the row-model handoff after the third review round
  agent-docs/handoffs/row-model-colour-and-mark-rows.md
Due: prettier --write

pnpm autogen
  agent-docs/handoffs/README.md
  agent-docs/reference/SVG_EXPORT.md
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
Due: prettier --write

Primate ortholog lanes load their assemblies and genes from genome hubs
  agent-docs/reference/DEMO_DATASETS.md
  agent-docs/reference/HOSTING.md
  demos/primate_orthologs/config.json
  figures.lock
  scripts/build_primate_orthologs.sh
  website/docs/tutorials/primate_orthologs_synteny.md
  website/scripts/specs/synteny.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

GWAS add-track sniffs a bgzipped LD file by its filename, so a presigned URL gets the tabix adapter
  plugins/gwas/src/GWASAddTrackWorkflow/ldAdapterConfig.test.ts
  plugins/gwas/src/GWASAddTrackWorkflow/ldAdapterConfig.ts
Due: prettier --write, eslint --fix

Manhattan warns of a missing index SNP only where a loaded region holds the index
  plugins/gwas/src/LinearManhattanDisplay/fieldColoring.test.ts
  plugins/gwas/src/LinearManhattanDisplay/manhattanLayer.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
Due: prettier --write, eslint --fix

Manhattan adopts an index SNP only while an ldAdapter can join it
  plugins/gwas/src/LinearManhattanDisplay/ldAutoIndex.test.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
Due: prettier --write, eslint --fix

GWAS plugin: resolve the score transform at construction, drop an inert slot flag, thin comments
  plugins/gwas/src/GWASAdapter/GWASAdapter.ts
  plugins/gwas/src/GWASAdapter/ScoreColumnFields.tsx
  plugins/gwas/src/GWASAdapter/configSchema.ts
  plugins/gwas/src/GWASAdapter/index.ts
  plugins/gwas/src/GWASAdapter/scoreTransforms.ts
  plugins/gwas/src/GWASAddTrackComponent/GWASAddTrackComponent.tsx
  plugins/gwas/src/GWASAddTrackWorkflow/AddTrackWorkflow.tsx
  plugins/gwas/src/GWASAddTrackWorkflow/ldAdapterConfig.ts
  plugins/gwas/src/GWASAddTrackWorkflow/util.ts
  plugins/gwas/src/LinearManhattanDisplay/components/SetColorFieldDialog.tsx
  plugins/gwas/src/LinearManhattanDisplay/components/TooltipComponent.tsx
  plugins/gwas/src/LinearManhattanDisplay/components/manhattanDisplayTypes.ts
  plugins/gwas/src/LinearManhattanDisplay/configSchemaFactory.ts
  plugins/gwas/src/LinearManhattanDisplay/index.ts
  plugins/gwas/src/LinearManhattanDisplay/ldBins.ts
  plugins/gwas/src/LinearManhattanDisplay/manhattanRenderingBackendTypes.ts
  plugins/gwas/src/LinearManhattanDisplay/renderSvg.tsx
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
Due: prettier --write, eslint --fix

pnpm autogen
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearManhattanDisplay.md
Due: prettier --write

A box zoom on a locked dotplot keeps the whole box on both axes
  packages/core/src/util/Base1DViewModel.ts
  plugins/dotplot-view/src/DotplotView/model.test.ts
  plugins/dotplot-view/src/DotplotView/model.ts
Due: prettier --write, eslint --fix

The dotplot wheel reads a line-mode delta as pixels
  plugins/dotplot-view/src/DotplotView/components/useDotplotInteraction.test.ts
  plugins/dotplot-view/src/DotplotView/components/useDotplotInteraction.ts
Due: prettier --write, eslint --fix

A synteny view opened from a dotplot selection paints as the plot does
  plugins/dotplot-view/src/DotplotView/model.test.ts
  plugins/dotplot-view/src/DotplotView/model.ts
Due: prettier --write, eslint --fix

A dotplot coloured by reference paints the horizontal axis as query does
  packages/synteny-core/src/colorFunctions.test.ts
  packages/synteny-core/src/colorFunctions.ts
  plugins/dotplot-view/src/DotplotDisplay/stateModelFactory.tsx
  plugins/dotplot-view/src/DotplotView/hover.integration.test.ts
Due: prettier --write, eslint --fix

The dotplot names its axes x and y, and its comments name code that exists
  packages/synteny-core/src/colorModes.ts
  plugins/dotplot-view/src/DotplotDisplay/dotplotColors.ts
  plugins/dotplot-view/src/DotplotDisplay/shaders/dotplot.slang
  plugins/dotplot-view/src/DotplotView/afterAttach.ts
  plugins/dotplot-view/src/DotplotView/components/DotplotSettingsMenu.tsx
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/dotplot-view/src/DotplotView/svgcomponents/SVGDotplotView.test.tsx
Due: prettier --write, eslint --fix

The dotplot's vertical flip is the plot axis' own, written once
  plugins/dotplot-view/src/DotplotDisplay/AGENTS.md
  plugins/dotplot-view/src/DotplotDisplay/dotplotPickEngine.ts
  plugins/dotplot-view/src/DotplotDisplay/dotplotProject.ts
  plugins/dotplot-view/src/DotplotView/1dview.ts
  plugins/dotplot-view/src/DotplotView/components/Axes.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotGrid.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotTooltips.tsx
  plugins/dotplot-view/src/DotplotView/model.ts
Due: prettier --write, eslint --fix
