Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(cli): three more shapes jbrowse validate rejected, found by running it on our own configs
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.ts
  scripts/generateConfigManifest.ts
Due: prettier --write, eslint --fix

docs(alignments_track): pick the strand-bias window by pileup, not by eye
  website/docs/user_guides/alignments_track.md
  website/scripts/specs/alignments.ts
  website/static/img/alignments/strand_split_coverage.png
Due: prettier --write, eslint --fix

docs(drawer-widgets): the init table was two types merged into one, missing four keys from both
  plugins/linear-genome-view/src/LinearGenomeView/types.ts
  website/docs/developer_guides/drawer_widgets.md
  website/scripts/sync-doc-snippets.ts
Due: prettier --write, eslint --fix

feat(website): map the alignments read-connection, sort and show controls
  website/scripts/spec-recipe-unmapped.txt
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

fix(website): retire the showLabels/showDescriptions pair, and the path naming its gone checkbox
  website/scripts/spec-recipe-unmapped.txt
  website/scripts/specs/ui.ts
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

docs(ld_human): show the haplotypes the triangle summarises
  website/docs/tutorials/ld_human.md
  website/scripts/screenshot-review-plan.md
  website/scripts/specs/ld.ts
  website/static/img/ld/lct_haploblock.png
Due: prettier --write, eslint --fix

feat(website): map the variant, view and canvas remainder
  website/scripts/spec-recipe-unmapped.txt
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

feat(canvas): make showOnlyGenes a config slot, so the configs asking for it work
  demos/cancer_sv/config.json
  plugins/canvas/src/LinearBasicDisplay/configSchema.ts
  plugins/canvas/src/LinearBasicDisplay/model.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  test_data/config_demo.json
  website/docs/config/LinearBasicDisplay.md
Due: prettier --write, eslint --fix

feat(website): map the Hi-C toggles, chord stroke and view heights
  website/scripts/spec-recipe-unmapped.txt
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

feat(website): filter the docs sidebar, and lift the cookbook out of the config drawer
  website/docs/cookbook.md
  website/docs/embedded_components.md
  website/sidebars.json
  website/src/components/DocsSidebarNav.astro
  website/src/layouts/SidebarLayout.astro
  website/src/lib/docs-sidebar.ts
  website/src/pages/llms.txt.ts
  website/src/pages/search.astro
Due: prettier --write, eslint --fix

feat(website): give the gallery cards the same figure recipe dialog
  website/src/components/SpecDialog.astro
  website/src/layouts/BaseLayout.astro
  website/src/layouts/DocsLayout.astro
  website/src/pages/gallery.astro
Due: none

docs(svg-export): the guide's central API does not exist, and its renderSvg shape is the one the contract forbids
  packages/core/src/util/paintLayer.tsx
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  website/docs/developer_guides/svg_export.md
  website/scripts/sync-doc-snippets.ts
Due: prettier --write, eslint --fix

feat(wiggle): make displayCrossHatches a config slot, so demos/cgiab gets its hatches
  packages/wiggle-core/src/displayModel.ts
  plugins/wiggle/src/shared/WiggleScoreConfigMixin.ts
  plugins/wiggle/src/shared/wiggleConfigSchemaFields.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  website/docs/config/LinearManhattanDisplay.md
  website/docs/config/LinearWiggleDisplay.md
  website/docs/config/MultiLinearWiggleDisplay.md
  website/docs/config/SharedGCContentDisplay.md
  website/docs/models/WiggleCommonMixin.md
  website/docs/models/WiggleScoreConfigMixin.md
Due: prettier --write, eslint --fix

Update website
  website/docs/user_guides/alignments_track.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-review-plan.md
  website/scripts/screenshot-review.json
  website/static/img/maf_summary_zoomed_in.png
Due: prettier --write

chore: apply formatter to unformatted files
  packages/render-core/src/createRenderingBackend.ts
  plugins/alignments/src/LinearAlignmentsDisplay/bandHeight.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/derivedRegionTooLarge.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/fetchAutorun.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/groupTruncation.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.coupling.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/perLaneBands.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/showSoftClipping.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/zoomInvalidation.test.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/contextMenuItems.test.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/components/plainChromeOverlays.test.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/wiggle/src/LinearWiggleDisplay/testEnv.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/testEnv.ts
  products/jbrowse-web/browser-tests/suites/demo-inventory.ts
  products/jbrowse-web/browser-tests/suites/variants.ts
Due: prettier --write, eslint --fix

fix(ci): the four checks main is red on
  agent-docs/reference/DISPLAYCHROME.md
  plugins/canvas/src/LinearBasicDisplay/model.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.ts
  website/scripts/check-config-blocks.ts
  website/scripts/check-doc-imports.ts
Due: prettier --write, eslint --fix

chore: pnpm autogen
  packages/wiggle-core/README.md
  website/docs/api/wiggle-core.md
  website/docs/models/BaseDisplay.md
  website/docs/models/ChordVariantDisplay.md
  website/docs/models/DotplotDisplay.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearArcDisplay.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearHicDisplay.md
  website/docs/models/LinearMafDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/LinearPairedArcDisplay.md
  website/docs/models/LinearReferenceSequenceDisplay.md
  website/docs/models/LinearSyntenyDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
  website/docs/models/SharedGCContentModel.md
  website/docs/models/SharedLDModel.md
  website/docs/models/SyntenyFetchStateMixin.md
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

fix(website): scope the sidebar-filter Enter query, which eslint rejects
  website/src/components/DocsSidebarNav.astro
Due: none

fix(website): drop the dead featureSpacing key from four alignments figures
  website/scripts/figure-manifest.json
  website/scripts/spec-recipe-unmapped.txt
  website/scripts/specs/alignments.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

refactor(canvas): let LinearBasicDisplay's model see its own config slots
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/configSchema.ts
  plugins/canvas/src/LinearBasicDisplay/model.ts
  plugins/canvas/src/index.ts
  scripts/configReadTypeGaps.txt
Due: prettier --write, eslint --fix

fix(maf): the summary tier drew its bars under a loading scrim that never lifted
  plugins/maf/src/LinearMafDisplay/rowRendering.test.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  website/scripts/specs/maf.ts
  website/static/img/maf_summary_tier.png
  website/static/img/maf_summary_zoomed_in.png
  website/static/img/maf_summary_zoomed_out.png
Due: prettier --write, eslint --fix

docs(guides): the text search adapter guide reads two args that do not exist
  packages/core/src/data_adapters/BaseAdapter/types.ts
  packages/core/src/pluggableElementTypes/models/migrateTrackConfig.ts
  packages/synteny-core/src/defaultSyntenyFileFormats.tsx
  plugins/canvas/src/index.ts
  plugins/spreadsheet-view/src/LaunchSpreadsheetView/index.ts
  website/docs/developer_guides/creating_addtrack_workflow.md
  website/docs/developer_guides/creating_connection.md
  website/docs/developer_guides/creating_text_search_adapter.md
  website/docs/developer_guides/creating_view.md
  website/docs/developer_guides/extension_points.md
  website/scripts/sync-doc-snippets.ts
Due: prettier --write, eslint --fix

feat(website): close every figure-recipe gap that isn't a third-party plugin
  website/scripts/figure-manifest.json
  website/scripts/screenshot-spec-helpers.ts
  website/scripts/spec-recipe-unmapped.txt
  website/scripts/specs/alignments.ts
  website/scripts/specs/cnv1000g.ts
  website/scripts/specs/cookbook.ts
  website/scripts/specs/qtl.ts
  website/scripts/specs/sv.ts
  website/scripts/specs/synteny.ts
  website/src/lib/galleryLinks.generated.ts
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

fix(website): give the phyloP figure the 27px its gene track was cut off by
  website/scripts/specs/conservation.ts
  website/static/img/phylop_ncbi_refseq_tp53.png
Due: prettier --write, eslint --fix

docs(screenshots): the UCSC outage is over, and a rebuild mid-regen is not a broken spec
  website/scripts/screenshot-review-plan.md
Due: prettier --write

fix(website): convert the last retired showDescriptions keys in the figure specs
  website/scripts/figure-manifest.json
  website/scripts/specs/alignments.ts
  website/scripts/specs/graph.ts
  website/scripts/specs/synteny.ts
  website/scripts/specs/trio.ts
  website/src/lib/galleryLinks.generated.ts
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

fix(data-management): don't call isAlive on a plain track config
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/util.test.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/util.ts
Due: prettier --write, eslint --fix

fix(product-core): the alignments session migration read key names no session ever wrote
  packages/product-core/src/index.ts
  packages/product-core/src/sessionMigrations/index.ts
  packages/product-core/src/sessionMigrations/sessionMigrations.test.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/types.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.test.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.ts
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-methylation-test-tsx-color-by-methylation-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-modifications-test-tsx-color-by-modifications-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/ncbi-alias-adapter-test-tsx-ncbi-config-1-snap.png
  scripts/generateConfigManifest.ts
  test_data/cfam2/config.json
  test_data/config_gwas.json
  test_data/config_synteny_grape_peach.json
  test_data/methylation_test/config.json
  test_data/modifications_test/config.json
  test_data/sars-cov2/config.json
  test_data/svgwas/config.json
  test_data/yeast_synteny/config.json
Due: prettier --write, eslint --fix

docs(mst): "only self dispatches to a subclass override" is false, and a 4-backtick fence was swallowing a page
  plugins/alignments/src/BamAdapter/BamAdapter.ts
  plugins/arc/src/LinearArcDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/dotplot-view/src/DotplotDisplay/afterAttach.ts
  plugins/hic/src/LinearHicDisplay/model.ts
  plugins/variants/src/LinearVariantDisplay/model.ts
  plugins/wiggle/src/CreateMultiWiggleExtension/index.ts
  website/docs/developer_guides/configuration_schema.md
  website/docs/developer_guides/mst_patterns.md
  website/scripts/sync-doc-snippets.ts
Due: prettier --write, eslint --fix

docs(extension-points): Core-extraAboutPanel is a list point, and the guide taught the one shape that clobbers other plugins
  packages/product-core/src/ui/util.ts
  website/docs/developer_guides/extension_points.md
Due: prettier --write, eslint --fix

feat(maf): collapse the coverage band on the summary path
  plugins/maf/src/LinearMafDisplay/components/MAFTooltip.tsx
  plugins/maf/src/LinearMafDisplay/components/MafBandLabels.tsx
  plugins/maf/src/LinearMafDisplay/components/MafCoverageBand.tsx
  plugins/maf/src/LinearMafDisplay/renderSvg.tsx
  plugins/maf/src/LinearMafDisplay/rowRendering.test.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  website/docs/models/LinearMafDisplay.md
  website/static/img/maf_summary_tier.png
  website/static/img/maf_summary_zoomed_out.png
Due: prettier --write, eslint --fix

fix(jbrowse-img): the skbr3 sample session lost six of its nine display settings
  products/jbrowse-img/data/skbr3/session.json
Due: none

docs(extension-points): show the multi-track menu registration instead of linking to it
  plugins/wiggle/src/CreateMultiWiggleExtension/index.ts
  website/docs/developer_guides/extension_points.md
Due: prettier --write, eslint --fix

feat(cancer_sv): make the realigned-reads left half a breakpoint split view
  website/docs/tutorials/cancer_sv.md
  website/scripts/figure-manifest.json
  website/scripts/specs/cancer_sv.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/cancer_sv/realigned_reads.png
  website/static/img/cancer_sv/realigned_reads_derivative.png
  website/static/img/cancer_sv/realigned_reads_reference.png
Due: prettier --write, eslint --fix

chore(website): flip cancer_sv/realigned_reads to answered
  website/scripts/screenshot-review.json
Due: none

docs(jbrowse-img): the exported-session example names a config that has never existed
  products/jbrowse-img/README.md
  website/docs/jbrowse-img.md
Due: prettier --write

docs(maf): show the zoom-out summary tier in the user guide
  website/docs/user_guides/maf_track.md
Due: prettier --write

feat(core)!: contributeToExtensionPoint, so a plugin cannot delete another plugin's entries
  packages/core/src/PluginManager.ts
  packages/core/src/accumulatingExtensionPoint.test.tsx
  packages/core/src/ui/addExtensionElement.tsx
  packages/core/src/ui/addFeaturePanel.ts
  packages/core/src/ui/buildExtraTrackMenuItems.ts
  plugins/gccontent/src/extraTrackMenuItems.ts
  plugins/wiggle/src/CreateMultiWiggleExtension/index.ts
  website/docs/developer_guides/extension_points.md
Due: prettier --write, eslint --fix

docs(toolchain): name the accumulating-point form of the missing-augmentation symptom
  agent-docs/reference/TOOLCHAIN.md
Due: prettier --write

fix(jbrowse-img): wait for a session-supplied view's init, not only one this tool built
  products/jbrowse-img/src/renderRegion.tsx
  products/jbrowse-img/src/renderSessionInit.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
