Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

chore(docs): regenerate the session model pages for heldForMissingPlugins
  website/docs/models/BaseSessionModel.md
  website/docs/models/BaseWebSessionModel.md
  website/docs/models/EmbeddedSessionMixin.md
  website/docs/models/EmbeddedSessionThemeMixin.md
  website/docs/models/JBrowseDesktopSessionModel.md
  website/docs/models/JBrowseReactCircularGenomeViewSessionModel.md
  website/docs/models/JBrowseReactLinearGenomeViewSessionModel.md
  website/docs/models/JBrowseWebSessionModel.md
  website/docs/models/MultipleViewsSessionMixin.md
  website/docs/models/PreferencesSessionMixin.md
  website/docs/models/SessionTracksManagerSessionMixin.md
  website/docs/models/TracksManagerSessionMixin.md
Due: prettier --write

docs(ideas): a shape composes a scale, planned against its own consumers
  agent-docs/ideas/README.md
  agent-docs/ideas/a-display-declares-itself.md
  agent-docs/ideas/a-shape-composes-a-scale.md
  agent-docs/reference/SESSION_SPEC_FORMAT.md
Due: prettier --write

docs(ideas): correct the pileup claim and flag the census as stale
  agent-docs/ideas/README.md
  agent-docs/ideas/a-display-declares-itself.md
Due: prettier --write

docs: retract the dead levels, settle the ramp-vs-scale question, state census denominators
  agent-docs/ideas/README.md
  agent-docs/ideas/a-display-declares-itself.md
  agent-docs/ideas/a-shape-composes-a-scale.md
  agent-docs/reference/SESSION_SPEC_FORMAT.md
Due: prettier --write

docs(adr): ADR-094 — colour cardinality is one channel, not four shapes
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-094-colour-cardinality-is-one-channel-not-four-shapes.md
Due: prettier --write

docs(ideas): the LD shaders bind ldValue at two different attr slots
  agent-docs/ideas/a-shape-composes-a-scale.md
Due: prettier --write

feat(wiggle): compose density from rowRect and scoreScale
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/render-core/src/shaders/rowRect.slang
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/shaders/multiRow.generated.ts
  plugins/maf/src/LinearMafRenderer/shaders/maf.generated.ts
  plugins/wiggle/src/shared/GpuWiggleRenderer.ts
  plugins/wiggle/src/shared/densityColorParity.test.ts
  plugins/wiggle/src/shared/gpuWiggleRenderer.test.ts
  plugins/wiggle/src/shared/shaderValidation.test.ts
  plugins/wiggle/src/shared/shaders/wiggle.generated.ts
  plugins/wiggle/src/shared/shaders/wiggle.slang
  plugins/wiggle/src/shared/shaders/wiggleCommon.slang
  plugins/wiggle/src/shared/shaders/wiggleDensity.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleDensity.iface.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleDensity.slang
  plugins/wiggle/src/shared/wiggleInstanceBuffer.ts
Due: prettier --write, eslint --fix

docs(ideas): record Step 2's measured gate results
  agent-docs/ideas/README.md
  agent-docs/ideas/a-shape-composes-a-scale.md
  plugins/wiggle/src/shared/GpuWiggleRenderer.ts
Due: prettier --write, eslint --fix

docs(wiggle): the fill record now feeds two entry shaders
  plugins/wiggle/src/CLAUDE.md
  plugins/wiggle/src/shared/shaders/wiggleLine.slang
Due: prettier --write

docs: mark Step 1 done, date the census, list the parity test on normalizeScore's inventory row
  agent-docs/ideas/a-shape-composes-a-scale.md
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
Due: prettier --write

docs(ideas): Step 4 stops at the census — the dotplot draws capsules, and point already has its two consumers
  agent-docs/ideas/a-shape-composes-a-scale.md
Due: prettier --write

feat(render-core): one ramp module and one LUT upload path for HiC and LD
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/render-core/package.json
  packages/render-core/src/__snapshots__/publicApi.test.ts.snap
  packages/render-core/src/colorRampLut.test.ts
  packages/render-core/src/colorRampLut.ts
  packages/render-core/src/hal/mockHal.ts
  packages/render-core/src/shaders/colorRampLut.slang
  plugins/hic/src/LinearHicDisplay/components/GpuHicRenderer.ts
  plugins/hic/src/LinearHicDisplay/components/shaders/hic.generated.ts
  plugins/hic/src/LinearHicDisplay/components/shaders/hic.slang
  plugins/variants/src/LDDisplay/components/GpuLDRenderer.ts
  plugins/variants/src/LDDisplay/components/shaders/ldGenomic.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldUniform.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldUniforms.slang
Due: prettier --write, eslint --fix

refactor(core): the viridis spec moves to colorRamp, beside its builder
  packages/core/README.md
  packages/core/src/util/colorRamp.ts
  plugins/hic/src/LinearHicDisplay/components/colorRamp.ts
  website/docs/api/core.md
Due: prettier --write, eslint --fix

feat(wiggle): a named LUT ramp is density's third colour mode
  packages/wiggle-core/src/renderingBackendTypes.ts
  plugins/wiggle/src/shared/Canvas2DWiggleRenderer.ts
  plugins/wiggle/src/shared/GpuWiggleRenderer.ts
  plugins/wiggle/src/shared/WiggleCommonMixin.ts
  plugins/wiggle/src/shared/densityColorParity.test.ts
  plugins/wiggle/src/shared/densityColorRamp.ts
  plugins/wiggle/src/shared/getDensityColor.ts
  plugins/wiggle/src/shared/gpuWiggleRenderer.test.ts
  plugins/wiggle/src/shared/scoreLegendRampParity.test.tsx
  plugins/wiggle/src/shared/shaders/wiggle.generated.ts
  plugins/wiggle/src/shared/shaders/wiggle.iface.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleCommon.slang
  plugins/wiggle/src/shared/shaders/wiggleDensity.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleDensity.iface.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleDensity.slang
  plugins/wiggle/src/shared/shaders/wiggleLine.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleLine.iface.generated.ts
  plugins/wiggle/src/shared/wiggleComponentUtils.ts
  plugins/wiggle/src/shared/wiggleConfigSchemaFields.ts
  plugins/wiggle/src/shared/wiggleDrawFunctions.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  website/docs/config/LinearGCContentDisplay.md
  website/docs/config/LinearGCContentTrackDisplay.md
  website/docs/config/LinearWiggleDisplay.md
  website/docs/config/MultiLinearWiggleDisplay.md
  website/docs/config/SharedGCContentDisplay.md
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/SharedGCContentModel.md
  website/docs/models/WiggleCommonMixin.md
Due: prettier --write, eslint --fix

docs(ideas): record Step 3's measured results — Gate D, gauge, parity
  agent-docs/ideas/a-shape-composes-a-scale.md
Due: prettier --write

chore(docs): regenerate the ideas index for the Step 3 description
  agent-docs/ideas/README.md
Due: prettier --write

test: the config-slot census gains densityColorRamp
  products/jbrowse-web/src/tests/__snapshots__/ConfigSlotDefaults.test.ts.snap
Due: none

docs(handoffs): four shape-library follow-ups interrupted mid-flight
  agent-docs/handoffs/README.md
  agent-docs/handoffs/shape-library-followups-in-flight.md
Due: prettier --write

test(alignments): the MAPQ ramp is pinned against CSS hsl()
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  plugins/alignments/src/shaders/mapqHueParity.test.ts
  plugins/alignments/src/shaders/slang/alignmentsUniforms.js.generated.ts
  plugins/alignments/src/shaders/slang/alignmentsUniforms.slang
  plugins/alignments/src/shaders/slang/read.generated.ts
Due: prettier --write, eslint --fix

fix(maf): the row band takes the shader's 1px floor
  plugins/maf/src/LinearMafDisplay/components/visibleRegionGeometry.test.ts
  plugins/maf/src/LinearMafDisplay/components/visibleRegionGeometry.ts
Due: prettier --write, eslint --fix

test(wiggle): a reorder re-places rows without refetching
  plugins/wiggle/src/MultiLinearWiggleDisplay/fetchAutorun.test.ts
Due: prettier --write, eslint --fix

docs(ideas): Level 2 retires on the placement re-census
  agent-docs/ideas/README.md
  agent-docs/ideas/a-display-declares-itself.md
Due: prettier --write

fix(wiggle): the density legend draws the ramp the track paints
  agent-docs/ideas/a-shape-composes-a-scale.md
  packages/core/src/util/colorRamp.test.ts
  packages/core/src/util/colorRamp.ts
  plugins/hic/src/LinearHicDisplay/components/colorRamp.ts
  plugins/variants/src/LDDisplay/components/LDColorLegendContent.tsx
  plugins/wiggle/src/shared/ScoreLegend.test.tsx
  plugins/wiggle/src/shared/ScoreLegend.tsx
  plugins/wiggle/src/shared/scoreLegendRampParity.test.tsx
  plugins/wiggle/src/shared/wiggleDisplayViews.ts
Due: prettier --write, eslint --fix

fix(demos): the rebuilt grasses and vertebrates gene tracks are CSI-indexed
  demos/orthofinder_grasses/config.json
  demos/orthofinder_vertebrates/config.json
Due: none

docs(synteny): the OrthoFinder figures redraw off the gene-count rebuild
  figures.lock
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

docs(agent-docs): close the OrthoFinder chrom.sizes rebuild
  agent-docs/TODO.md
  agent-docs/todo/rebuild-the-three-orthofinder-demos-chromsizes.md
  website/src/lib/galleryLinks.generated.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

feat(render-core): one capsule SDF, and butt caps on the read connectors
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/render-core/package.json
  packages/render-core/src/shaders/capsule.slang
  plugins/alignments/src/shaders/buttSegmentCoverage.test.ts
  plugins/alignments/src/shaders/slang/alignmentsUniforms.js.generated.ts
  plugins/alignments/src/shaders/slang/alignmentsUniforms.slang
  plugins/alignments/src/shaders/slang/arc.generated.ts
  plugins/alignments/src/shaders/slang/arc.slang
  plugins/alignments/src/shaders/slang/arcFlat.generated.ts
  plugins/alignments/src/shaders/slang/arcFlat.slang
  plugins/alignments/src/shaders/slang/arcLine.generated.ts
  plugins/alignments/src/shaders/slang/arcLine.slang
  plugins/alignments/src/shaders/slang/linkedReadLine.generated.ts
  plugins/alignments/src/shaders/slang/linkedReadLine.slang
  plugins/dotplot-view/src/DotplotDisplay/shaders/dotplot.generated.ts
  plugins/dotplot-view/src/DotplotDisplay/shaders/dotplot.slang
  plugins/wiggle/src/shared/shaders/wiggleLine.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleLine.slang
Due: prettier --write, eslint --fix

docs(ideas): Step 5's measured results, and the handoff drops three threads
  agent-docs/handoffs/README.md
  agent-docs/handoffs/shape-library-followups-in-flight.md
  agent-docs/ideas/a-shape-composes-a-scale.md
  packages/core/README.md
  website/docs/api/core.md
Due: prettier --write

docs(ideas): the alignments reversal convention stays, measured
  agent-docs/handoffs/README.md
  agent-docs/handoffs/shape-library-followups-in-flight.md
  agent-docs/ideas/README.md
  agent-docs/ideas/alignments-reversal-convention-migration.md
Due: prettier --write

docs(synteny): the grasses lane figure and the manifest catch up to the rebuild
  figures.lock
  website/scripts/figure-manifest.json
Due: none

fix(render-core): the capsule pad test checks the shader, not its own copy
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/render-core/package.json
  packages/render-core/src/__snapshots__/publicApi.test.ts.snap
  packages/render-core/src/shaders/capsule.generated.ts
  packages/render-core/src/shaders/capsule.js.generated.ts
  packages/render-core/src/shaders/capsule.slang
  plugins/alignments/src/shaders/slang/alignmentsUniforms.slang
  plugins/dotplot-view/src/DotplotDisplay/shaders/dotplotCapsulePad.test.ts
Due: prettier --write, eslint --fix

docs(ideas): consolidate closed threads in ideas/
  agent-docs/ideas/README.md
  agent-docs/ideas/a-display-declares-itself.md
  agent-docs/ideas/alignments-reversal-convention-migration.md
  agent-docs/reference/REJECTED_IDEAS.md
Due: prettier --write

fix(alignments): the linked-read connector shares the frame it claimed to
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/render-core/src/shaders/capsule.slang
  plugins/alignments/src/shaders/slang/linkedReadLine.generated.ts
  plugins/alignments/src/shaders/slang/linkedReadLine.slang
Due: prettier --write, eslint --fix

docs(reference): the shape library gets a doc, and the display plan gets a name
  agent-docs/architecture-decision-records/adr-091-a-displays-settings-are-a-declaration.md
  agent-docs/ideas/README.md
  agent-docs/ideas/a-display-declares-itself.md
  agent-docs/ideas/one-declaration-per-display-band.md
  agent-docs/reference/DISPLAY_COMPLEXITY_CENSUS.md
  agent-docs/reference/GPU_RENDERING.md
  agent-docs/reference/README.md
  agent-docs/reference/SESSION_SPEC_FORMAT.md
  agent-docs/reference/SHADER_SHAPE_LIBRARY.md
Due: prettier --write

docs(todo): the triage sweep — five entries gained a fact, none closed
  agent-docs/TODO.md
  agent-docs/todo/a-sub-pixel-matrix-row-draws-1px-on-the-gpu-and-thinner-on-canvas2d.md
  agent-docs/todo/midnight-primary-is-invisible-on-the-dark-stock-ground.md
  agent-docs/todo/read-the-cross-backend-drift-the-aa-ramp-conversion-predicts.md
  agent-docs/todo/render-webgpu-in-the-blocking-cross-backend-gate-job.md
  agent-docs/todo/sample-the-seven-remaining-random-release-validation-units.md
  agent-docs/todo/watch-the-per-base-refetch-on-a-real-bam.md
Due: prettier --write

docs: generate the shape-consumer table, and say so on every generated block
  agent-docs/ARCHITECTURE.md
  agent-docs/reference/BGZF_WORKER_POOL.md
  agent-docs/reference/GENERATED_DOC_BLOCKS.md
  agent-docs/reference/REGION_TOO_LARGE.md
  agent-docs/reference/SHADER_SHAPE_LIBRARY.md
  website/docs/config_guides/connections.md
  website/docs/config_guides/customizing_feature_colors.md
  website/docs/config_guides/file_types.md
  website/docs/config_guides/jexl.md
  website/docs/config_guides/maf_track.md
  website/docs/config_guides/multiquantitative_track.md
  website/docs/config_guides/synteny_track.md
  website/docs/config_guides/tracks.md
  website/docs/config_guides/variant_track.md
  website/docs/developer_guides/configuration_schema.md
  website/docs/developer_guides/creating_adapter.md
  website/docs/developer_guides/creating_display.md
  website/docs/developer_guides/creating_gpu_display.md
  website/docs/developer_guides/creating_text_search_adapter.md
  website/docs/developer_guides/data_fetching.md
  website/docs/developer_guides/extension_points.md
  website/docs/developer_guides/imports_and_reexports.md
  website/docs/developer_guides/menus.md
  website/docs/developer_guides/plotting_features.md
  website/docs/developer_guides/pluggable_elements.md
  website/docs/developer_guides/theming.md
  website/docs/tutorials/orthofinder_synteny.md
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/urlparams.md
  website/docs/user_guides/alignments_track.md
  website/docs/user_guides/display_defaults.md
  website/docs/user_guides/graph_genome_view.md
  website/docs/user_guides/maf_track.md
  website/docs/user_guides/sv_visualization.md
  website/scripts/api-docs/generateShaderShapeDocs.ts
  website/scripts/api-docs/markerGenerators.ts
  website/scripts/api-docs/util.ts
Due: prettier --write, eslint --fix

docs: the generated-block notice reaches the second marker spelling too
  agent-docs/ARCHITECTURE.md
  agent-docs/TODO.md
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-052-slot-name-safety-is-a-write-guard.md
  agent-docs/architecture-decision-records/adr-064-parsed-chunk-budgets-are-per-worker-not-per-file.md
  agent-docs/architecture-decision-records/adr-091-a-displays-settings-are-a-declaration.md
  agent-docs/handoffs/README.md
  agent-docs/ideas/README.md
  agent-docs/ideas/gpu-sample-distance-matrix.md
  agent-docs/ideas/multiway-synteny-lgv-track.md
  agent-docs/ideas/offscreen-synteny-mates.md
  agent-docs/ideas/the-config-read-baseline-is-mostly-not-display-debt.md
  agent-docs/mechanisms/README.md
  agent-docs/reference/BGZF_WORKER_POOL.md
  agent-docs/reference/CLUSTERING_WORKFLOW.md
  agent-docs/reference/CROSS_BACKEND_GATE.md
  agent-docs/reference/DISPLAYCHROME.md
  agent-docs/reference/EAGER_BUNDLE.md
  agent-docs/reference/GPU_PORTABILITY.md
  agent-docs/reference/GPU_RENDERING.md
  agent-docs/reference/INTERACTION_PERF.md
  agent-docs/reference/MULTI_SAMPLE_VARIANTS.md
  agent-docs/reference/PER_BASE_SUBPIXEL_BIN.md
  agent-docs/reference/PROGRESS_REPORTING.md
  agent-docs/reference/README.md
  agent-docs/reference/REGION_TOO_LARGE.md
  agent-docs/reference/RENDERER_BENCHMARKS.md
  agent-docs/reference/SESSION_SPEC_FORMAT.md
  agent-docs/reference/SVG_EXPORT.md
  agent-docs/reference/SYNTENY_LOD.md
  agent-docs/reference/SYNTENY_PICKING.md
  agent-docs/reference/TRACK_SELECTOR_PERF.md
  website/diagrams/README.md
  website/docs/developer_guides/memory.md
  website/docs/developer_guides/optimizations.md
  website/scripts/api-docs/util.ts
  website/scripts/check-utils.ts
Due: prettier --write, eslint --fix

fix(variants): the matrix export draws the variant band the screen draws
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/Canvas2DVariantMatrixRenderer.ts
  products/jbrowse-web/src/tests/__image_snapshots__/vcf-cluster-test-tsx-opens-a-vcf-track-and-clusters-genotypes-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/vcf-matrix-test-tsx-matrix-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/vcf-matrix-test-tsx-mphased-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/vcf_cluster_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/VcfCluster.test.tsx.snap
Due: prettier --write, eslint --fix

docs(todo): close the matrix sub-pixel row entry — the call was taken
  agent-docs/TODO.md
  agent-docs/reference/CROSS_BACKEND_GATE.md
  agent-docs/todo/a-sub-pixel-matrix-row-draws-1px-on-the-gpu-and-thinner-on-canvas2d.md
Due: prettier --write

fix(website): the link sweep fetches a demo's relative uris too
  website/scripts/check-external-links.ts
Due: prettier --write, eslint --fix
