Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Fix brittle cgv-vite Cypress test asserting on feature-id testid
  component_tests/cgv-vite/cypress/e2e/basic.cy.ts
Due: prettier --write, eslint --fix

Auto-generate component_tests resolutions in pack.ts
  component_tests/app-vite/package.json
  component_tests/cgv-vite/package.json
  component_tests/cli-node18/package.json
  component_tests/jbrowse-img/package.json
  component_tests/lgv-vite/package.json
  scripts/pack.ts
Due: prettier --write, eslint --fix

Fix missing spaces and redesign integrations section on download page
  website/src/pages/download.astro
Due: none

Sync introduction page with current docs (missing tutorials, demo links)
  website/docs/introduction.md
Due: prettier --write

Drop card grid on download page, regroup integrations, fix stale package names
  website/src/pages/download.astro
Due: none

Add file types, plugin store, and direct support links to introduction
  website/docs/introduction.md
Due: prettier --write

Scope auto-generated resolutions to each app's actual dependency closure
  component_tests/app-vite/package.json
  component_tests/cgv-vite/package.json
  component_tests/cli-node18/package.json
  component_tests/jbrowse-img/package.json
  component_tests/lgv-vite/package.json
  scripts/pack.ts
Due: prettier --write, eslint --fix

Modernize and condense embedded components doc
  website/docs/embedded_components.md
Due: prettier --write

Cross-link quickstart paths and fix one-way tutorial link
  agent-docs/TODO.md
  products/jbrowse-react-app/examples-site/package.json
  products/jbrowse-react-circular-genome-view/examples-site/package.json
  products/jbrowse-react-linear-genome-view/examples-site/package.json
  scripts/pack.ts
  website/docs/embedded_components.md
  website/docs/faq.md
  website/docs/quickstart_desktop.md
  website/docs/tutorials/analyze_trio.md
  website/docs/tutorials/embed_linear_genome_view.md
  website/scripts/screenshot-specs.ts
  website/src/components/HomePage.astro
  website/src/pages/contact.astro
Due: prettier --write, eslint --fix

Cross-link quickstart paths and fix one-way tutorial link
  agent-docs/TODO.md
Due: prettier --write

Keep scrollZoom out of LGV snapshots as a personal per-browser setting
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
Due: prettier --write, eslint --fix

Keep drawerPosition and stickyViewHeaders out of shared session snapshots
  packages/product-core/src/Session/DrawerWidgets.ts
  packages/product-core/src/Session/MultipleViews.ts
Due: prettier --write, eslint --fix

Make scrollZoom a global personal preference shared by all wheel-zoom views
  packages/core/src/util/types/index.ts
  packages/product-core/src/RootModel/PreferencesConfig.ts
  packages/product-core/src/Session/BaseSession.ts
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/afterAttach.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
Due: prettier --write, eslint --fix

Default sashimi labels off and arcs pointing up
  plugins/alignments/src/LinearAlignmentsDisplay/configSchema.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
Due: prettier --write, eslint --fix

Fixing drawing canvas introns
  agent-docs/TODO.md
  plugins/alignments/src/features/gap/drawCanvas.ts
  plugins/alignments/src/features/read/buildRegion.ts
  plugins/alignments/src/features/read/drawCanvas.test.ts
  plugins/alignments/src/features/read/drawCanvas.ts
  website/docs/tutorials/methylation.md
  website/docs/user_guides/alignments_track.md
  website/scripts/screenshot-review.json
  website/scripts/screenshot-specs.ts
  website/static/img/add_track_tracklist.png
  website/static/img/alignments/arc_display.png
  website/static/img/alignments/modifications2.png
  website/static/img/alignments_sort_by_base.png
  website/static/img/bigwig/whole_genome_coverage.png
  website/static/img/linear_align_ctx_menu.png
  website/static/img/modifications.png
  website/static/img/rnaseq/longread_isoseq.png
  website/static/img/trio-matrix-phased-clean.png
  website/static/img/trio-matrix-phased.png
Due: prettier --write, eslint --fix

Verification: isAlive(model) guard prevents crash when closing an alignments track
  plugins/alignments/src/LinearAlignmentsDisplay/components/AlignmentsDisplayComponent.tsx
Due: prettier --write, eslint --fix

Non colliding clipids
  agent-docs/TODO.md
  package.json
  packages/core/src/util/SvgCanvas.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/ConfigOverrideMixin.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Fix missing synteny ribbons by resolving refName aliases on main thread
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/SyntenyGetFeaturesAndPositions.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/executeSyntenyFeaturesAndPositions.ts
Due: prettier --write, eslint --fix

Refname renaming for dotplot and synteny views
  agent-docs/TODO.md
  package.json
  packages/synteny-core/src/index.ts
  packages/synteny-core/src/renameRegionsForAdapter.ts
  plugins/dotplot-view/src/DotplotDisplay/afterAttach.ts
  plugins/dotplot-view/src/DotplotDisplay/executeDotplotFeaturesAndPositions.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  pnpm-lock.yaml
  products/jbrowse-img/README.md
  products/jbrowse-img/img/1.png
  products/jbrowse-img/img/grape_peach_synteny.png
  products/jbrowse-img/img/hs1_mm39_synteny.png
  products/jbrowse-img/img/skbr3_cov.png
  products/jbrowse-img/scripts/render-comparative-examples.sh
  products/jbrowse-web/src/SessionLoader.ts
  website/docs/jbrowse-img.md
  website/scripts/figure-manifest.json
  website/scripts/generate-screenshots.ts
  website/scripts/screenshot-specs.ts
  website/static/img/jbrowse-img/1.png
  website/static/img/jbrowse-img/grape_peach_synteny.png
  website/static/img/jbrowse-img/hs1_mm39_synteny.png
  website/static/img/jbrowse-img/skbr3_cov.png
Due: prettier --write, eslint --fix

Add fadeThinAlignments toggle
  agent-docs/TODO.md
  plugins/linear-comparative-view/src/LinearComparativeView/components/SyntenySettingsPopover.tsx
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/Canvas2DSyntenyRenderer.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/Canvas2DSyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/GpuSyntenyRenderer.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/GpuSyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyTypes.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/syntenyRenderingBackendTypes.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/types.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/util/initHelpers.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/ConfigOverrideMixin.ts
  products/jbrowse-img/img/grape_peach_synteny.png
  products/jbrowse-img/img/hg38_hs1_mm39_synteny.png
  products/jbrowse-img/img/hs1_mm39_synteny.png
  products/jbrowse-web/src/SessionLoader.ts
  website/scripts/figure-manifest.json
  website/scripts/generate-screenshots.ts
  website/scripts/screenshot-specs.ts
  website/static/img/jbrowse-img/grape_peach_synteny.png
  website/static/img/jbrowse-img/hg38_hs1_mm39_synteny.png
  website/static/img/jbrowse-img/hs1_mm39_synteny.png
Due: prettier --write, eslint --fix

Update snaps
  plugins/canvas/src/LinearBasicDisplay/__snapshots__/renderSvg.test.tsx.snap
  plugins/canvas/src/LinearBasicDisplay/__test-outputs__/reversed.svg
  products/jbrowse-web/src/tests/__image_snapshots__/alignments_vector_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/breakpoint_split_view_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/canvas_feature_vector_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_error_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_gridlines_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_gridlines_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_snapshot.svg
  products/jbrowse-web/src/tests/__overlap_demo__/short-read-paired.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgBreakpointSplitView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgDisplayTypes.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgError.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgLinearSyntenyView.test.tsx.snap
Due: none

Improve svg output
  plugins/canvas/src/LinearBasicDisplay/__snapshots__/renderSvg.test.tsx.snap
  plugins/canvas/src/LinearBasicDisplay/__test-outputs__/empty.svg
  plugins/canvas/src/LinearBasicDisplay/__test-outputs__/error.svg
  plugins/canvas/src/LinearBasicDisplay/__test-outputs__/reversed.svg
  plugins/canvas/src/LinearBasicDisplay/__test-outputs__/with-features.svg
  plugins/canvas/src/LinearBasicDisplay/renderSvg.test.tsx
Due: prettier --write, eslint --fix

Update snaps
  products/jbrowse-img/data/comparative/hg38_hs1_mm39.config.json
  products/jbrowse-img/data/comparative/hs1_mm39.config.json
  products/jbrowse-img/img/hg38_hs1_mm39_synteny.png
  products/jbrowse-img/img/hs1_mm39_synteny.png
  website/docs/config/LGVSyntenyDisplay.md
  website/docs/config/LinearAlignmentsDisplay.md
  website/docs/config/PreferencesConfigSchema.md
  website/docs/models/BaseSessionModel.md
  website/docs/models/BaseWebSessionModel.md
  website/docs/models/JBrowseDesktopSessionModel.md
  website/docs/models/JBrowseReactCircularGenomeViewSessionModel.md
  website/docs/models/JBrowseReactLinearGenomeViewSessionModel.md
  website/docs/models/JBrowseWebSessionModel.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearComparativeView.md
  website/docs/models/LinearGenomeView.md
  website/docs/models/LinearSyntenyDisplay.md
  website/docs/models/LinearSyntenyView.md
  website/docs/models/MultipleViewsSessionMixin.md
  website/docs/models/PreferencesSessionMixin.md
  website/docs/models/SessionTracksManagerSessionMixin.md
  website/docs/models/TracksManagerSessionMixin.md
  website/scripts/screenshot-review.json
  website/static/img/alignments_track_arcs.png
  website/static/img/gene_track_collapse_introns.png
  website/static/img/hs1_vs_mm39_synteny.png
  website/static/img/jbrowse-img/hg38_hs1_mm39_synteny.png
  website/static/img/jbrowse-img/hs1_mm39_synteny.png
  website/static/img/rnaseq/compact_stacked.png
Due: prettier --write

Update snaps
  agent-docs/TODO.md
  website/scripts/screenshot-review.json
Due: prettier --write

Rework alignments track user guide
  website/docs/user_guides/alignments_track.md
  website/docs/user_guides/sv_visualization.md
  website/scripts/screenshot-specs.ts
  website/static/img/alignments/arc_display.png
Due: prettier --write, eslint --fix

Update website images
  products/jbrowse-img/img/grape_peach_synteny.png
  products/jbrowse-img/img/hg38_hs1_mm39_synteny.png
  products/jbrowse-img/img/hs1_mm39_synteny.png
  products/jbrowse-img/img/yeast_synteny.png
  website/static/img/alignments_sort_by_base.png
  website/static/img/jbrowse-img/grape_peach_synteny.png
  website/static/img/jbrowse-img/hg38_hs1_mm39_synteny.png
  website/static/img/jbrowse-img/hs1_mm39_synteny.png
  website/static/img/jbrowse-img/yeast_synteny.png
Due: none

Fix padding for svg exports in synteny views
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGLinearGenomeView.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGLinearSyntenyView.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGSyntenyLevel.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGRuler.tsx
Due: prettier --write, eslint --fix

[skip ci] Improve feature density and byte size estimation gating
  agent-docs/ARCHITECTURE.md
  agent-docs/TODO.md
  packages/core/src/data_adapters/BaseAdapter/BaseFeatureDataAdapter.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/fetchAutorun.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/executeRenderFeatureData.ts
  plugins/canvas/src/RenderFeatureDataRPC/rpcTypes.ts
  plugins/gff3/src/Gff3TabixAdapter/Gff3TabixAdapter.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGLinearGenomeView.tsx
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/tutorials/rnaseq.md
  website/scripts/screenshot-review.json
  website/src/pages/demos.md
  website/src/pages/gallery.md
  website/static/img/chromhmm.png
Due: prettier --write, eslint --fix

Fix fiberseq sample data location to cover actual MAGEL2 reads
  products/jbrowse-web/src/components/NoConfigMessageSampleData.ts
Due: prettier --write, eslint --fix

Consolidate x=0/y=0 SVG clip rects onto shared SvgClipRect component
  plugins/dotplot-view/src/DotplotView/svgcomponents/SVGDotplotView.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGLinearGenomeView.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGSyntenyLevel.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGLinearGenomeView.tsx
Due: prettier --write, eslint --fix

Disambiguate mature-peptide labels shared by multiple polyprotein CDS
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/matureProteinRegion.test.ts
Due: prettier --write, eslint --fix

Document the clip-path id scoping convention
  agent-docs/ARCHITECTURE.md
Due: prettier --write

Add dismissible notice when canvas auto-collapses gene isoforms
  plugins/canvas/src/LinearBasicDisplay/components/BottomRightIndicators.tsx
  plugins/canvas/src/LinearBasicDisplay/components/FeatureComponent.tsx
  plugins/canvas/src/LinearBasicDisplay/components/IsoformCollapseNotice.tsx
  plugins/canvas/src/LinearBasicDisplay/components/OverflowIndicator.tsx
  plugins/canvas/src/LinearBasicDisplay/model.ts
  plugins/canvas/src/RenderFeatureDataRPC/executeRenderFeatureData.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/subfeatures.ts
  plugins/canvas/src/RenderFeatureDataRPC/rpcTypes.ts
  plugins/canvas/src/RenderFeatureDataRPC/types.ts
Due: prettier --write, eslint --fix

Add color by cds
  agent-docs/TODO.md
  products/jbrowse-web/src/components/NoConfigMessageSampleData.ts
  website/scripts/actions.ts
  website/scripts/figure-manifest.json
  website/scripts/probe_motif.mjs
  website/scripts/screenshot-review.json
  website/scripts/screenshot-specs.ts
  website/static/img/alignments_center_line.png
  website/static/img/protein/connected.png
  website/static/img/sv_cgiab/translocation_sv_inspector_view.png
  website/static/img/trio-crossover-maternal.png
  website/static/img/trio-crossover-paternal.png
Due: prettier --write, eslint --fix

Render protein3d/connected screenshot via Firefox on the Motif track
  website/scripts/generate-screenshots.ts
  website/scripts/screenshot-specs.ts
  website/static/img/protein/connected.png
Due: prettier --write, eslint --fix

Improve trio crossover screenshots with two-color highlights
  agent-docs/DISPLAY_HEIGHT_SYSTEM.md
  website/docs/tutorials/analyze_trio.md
  website/scripts/annotations.ts
  website/scripts/screenshot-specs.ts
  website/static/img/trio-crossover-maternal.png
  website/static/img/trio-crossover-paternal.png
Due: prettier --write, eslint --fix

Increase byte size estimates
  plugins/canvas/src/LinearBasicDisplay/configSchema.ts
  plugins/canvas/src/LinearBasicDisplay/fetchAutorun.test.ts
Due: prettier --write, eslint --fix

Better mouseovers
  agent-docs/TODO.md
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/Canvas2DVariantRenderer.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/VariantComponent.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/computeVariantCells.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/computeVariantCells.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/shaders/variant.generated.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/shaders/variant.slang
  plugins/variants/src/VariantRPC/executeVariantCellData.ts
  products/jbrowse-web/src/components/NoConfigMessageSampleData.ts
  website/scripts/figure-manifest.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
