Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

docs(allvsall_synteny): trim PanSN detail from TL;DR, keep it high-level
  website/docs/tutorials/allvsall_synteny.md
Due: prettier --write

fix: remove unnecessary type assertions flagged by oxlint
  plugins/comparative-adapters/src/MCScanBlocksAdapter/MCScanBlocksAdapter.test.ts
  website/src/lib/derive-add-track.ts
Due: prettier --write, eslint --fix

docs(basic_usage): add TL;DR
  website/docs/user_guides/basic_usage.md
Due: prettier --write

docs: regenerate user_guide index (titles-only, matches siblings)
  website/docs/user_guide.md
Due: prettier --write

docs(pangenome): auto-generate the force-directed graph figure
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/figure-manifest.json
  website/scripts/specs/graph.ts
  website/static/img/pangenome/graph_force.png
  website/static/img/pangenome/rgfa_bandage_ecoli.png
Due: prettier --write, eslint --fix

chore: bump dependencies and reflow docs/scripts with updated prettier
  package.json
  packages/core/package.json
  packages/tree-sidebar/package.json
  plugins/data-management/package.json
  plugins/dotplot-view/package.json
  plugins/grid-bookmark/package.json
  plugins/menus/package.json
  plugins/spreadsheet-view/package.json
  plugins/variants/package.json
  plugins/wiggle/package.json
  pnpm-lock.yaml
  products/jbrowse-desktop/package.json
  website/docs/api.md
  website/docs/config.md
  website/docs/config_guides/tracks.md
  website/docs/developer_guides/creating_adapter.md
  website/docs/developer_guides/creating_gpu_display.md
  website/docs/developer_guides/creating_text_search_adapter.md
  website/docs/developer_guides/extension_points.md
  website/docs/developer_guides/imports_and_reexports.md
  website/docs/developer_guides/pif_format.md
  website/docs/developer_guides/svg_export.md
  website/docs/developer_guides/testing_plugins.md
  website/docs/developer_guides/theming.md
  website/docs/introduction.md
  website/docs/models.md
  website/scripts/check-config-cli.ts
  website/scripts/figure-manifest.json
  website/src/pages/features.md
Due: prettier --write, eslint --fix

refactor(core): drop @jbrowse/render-core dependency
  packages/core/package.json
  packages/core/src/util/index.ts
  packages/core/src/util/useRenderingBackend.ts
  packages/core/src/util/useTabVisibilityRerender.ts
  packages/core/tsconfig.build.esm.json
  packages/wiggle-core/src/displayModel.ts
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/LevelSyntenyCanvas.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayChrome.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(canvas): opaque background for bottom-right status chips
  plugins/canvas/src/LinearBasicDisplay/components/StatusChip.tsx
Due: prettier --write, eslint --fix

refactor(core): convert util barrel's 40 export * to named re-exports
  packages/core/src/util/index.ts
Due: prettier --write, eslint --fix

fix(render-core): degenerate-block NaN, clamped-canvas CSS, WebGPU bind-group keying
  agent-docs/reference/GPU_RENDERING.md
  packages/render-core/CLAUDE.md
  packages/render-core/src/blockClipUtils.test.ts
  packages/render-core/src/blockClipUtils.ts
  packages/render-core/src/canvas2dUtils.test.ts
  packages/render-core/src/canvas2dUtils.ts
  packages/render-core/src/hal/mockHal.ts
  packages/render-core/src/hal/regionRegistry.test.ts
  packages/render-core/src/hal/regionRegistry.ts
  packages/render-core/src/hal/webgpuHal.ts
Due: prettier --write, eslint --fix

refactor(core): de-star the remaining high-traffic core barrels
  packages/core/src/configuration/index.ts
  packages/core/src/data_adapters/BaseAdapter/index.ts
  packages/core/src/pluggableElementTypes/index.ts
  packages/core/src/ui/index.ts
  products/jbrowse-desktop/src/rpcWorker.ts
  products/jbrowse-react-app/src/rpcWorker.ts
  products/jbrowse-react-linear-genome-view/src/rpcWorker.ts
  products/jbrowse-web/src/rpcWorker.ts
Due: prettier --write, eslint --fix

docs(pangenome): fix the rGFA recipe, install block, and graph-view figures
  scripts/build_ecoli_pangenome_graph.sh
  test_data/graphgenomeview/hprc.json
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/figure-manifest.json
  website/scripts/spec-recipe-unmapped.txt
  website/scripts/specs/graph.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/pangenome/graph_rgfa.png
  website/static/img/pangenome/hprc_mhc_bandage.png
  website/static/img/pangenome/hprc_mhc_subgraph.png
  website/static/img/pangenome/local_subgraph.png
  website/static/img/pangenome/rgfa_backbone.png
Due: prettier --write, eslint --fix

refactor(dotplot): use render-core prepareCanvas; document the canvas-clamp limit
  agent-docs/TODO.md
  packages/render-core/src/canvas2dUtils.ts
  plugins/dotplot-view/src/DotplotDisplay/Canvas2DDotplotRenderer.test.ts
  plugins/dotplot-view/src/DotplotDisplay/Canvas2DDotplotRenderer.ts
Due: prettier --write, eslint --fix

docs(agent-docs): add a live architectural-limits register; fix three stale claims
  agent-docs/ARCHITECTURE.md
  agent-docs/CLAUDE.md
  agent-docs/architecture-decision-records/adr-022-no-batched-wiggle-rpc.md
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  agent-docs/reference/DISPLAYCHROME.md
  agent-docs/reference/GPU_RENDERING.md
Due: prettier --write

docs(agent-docs): queue the WebGL2 context-budget measurement; note the second entry renderBlocks retires
  agent-docs/TODO.md
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
Due: prettier --write

fix(comparative-adapters): stop all-vs-all PAF dropping hap1-vs-hap2 alignments
  plugins/comparative-adapters/src/AllVsAllIndexedPAFAdapter/AllVsAllIndexedPAFAdapter.test.ts
  plugins/comparative-adapters/src/AllVsAllIndexedPAFAdapter/AllVsAllIndexedPAFAdapter.ts
  plugins/comparative-adapters/src/AllVsAllIndexedPAFAdapter/test_data/diploid.pif.gz
  plugins/comparative-adapters/src/AllVsAllIndexedPAFAdapter/test_data/diploid.pif.gz.tbi
  plugins/comparative-adapters/src/AllVsAllPAFAdapter/AllVsAllPAFAdapter.test.ts
  plugins/comparative-adapters/src/AllVsAllPAFAdapter/AllVsAllPAFAdapter.ts
  plugins/comparative-adapters/src/util.ts
Due: prettier --write, eslint --fix

fix(data-management): give a UI-added synteny track all its assemblies
  plugins/comparative-adapters/src/AllVsAllAddTrackComponent/AllVsAllAddTrackComponent.tsx
  plugins/comparative-adapters/src/ComparativeAddTrackComponent/ComparativeAddTrackComponent.tsx
  plugins/comparative-adapters/src/MCScanAddTrackComponent/MCScanAddTrackComponent.tsx
  plugins/comparative-adapters/src/MCScanBlocksAddTrackComponent/MCScanBlocksAddTrackComponent.tsx
  plugins/data-management/src/AddTrackWidget/index.test.tsx
  plugins/data-management/src/AddTrackWidget/model.ts
Due: prettier --write, eslint --fix

docs(allvsall): show one-vs-all grouped by mate assembly
  .gitignore
  plugins/alignments/src/shared/groupByLabels.ts
  plugins/alignments/src/shared/groupFeatures.ts
  website/docs/tutorials/allvsall_synteny.md
  website/scripts/figure-manifest.json
  website/scripts/specs/synteny.ts
  website/src/lib/spec-recipe/fields.ts
  website/static/img/multiway_synteny/ecoli_one_vs_all.png
Due: prettier --write, eslint --fix

fix(render-core): skip the WebGPU frame when its MSAA target is missing
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  packages/alignments-core/src/rendererUtils.ts
  packages/render-core/src/hal/webgpuHal.ts
Due: prettier --write, eslint --fix

docs(faq): refresh FAQ, add auth guidance, fix stale answers
  website/docs/config_guides/authentication.md
  website/docs/faq.md
Due: prettier --write

docs(pangenome): make the graph figures' live links real, and the E. coli graph browsable by locus
  scripts/build_ecoli_pangenome_graph.sh
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/figure-manifest.json
Due: prettier --write

perf(render-core): cap the render device pixel ratio at 2
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  packages/alignments-core/src/index.ts
  packages/alignments-core/src/rendererUtils.ts
  packages/render-core/CLAUDE.md
  packages/render-core/src/canvas2dUtils.test.ts
  packages/render-core/src/canvas2dUtils.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/GpuVariantMatrixRenderer.ts
Due: prettier --write, eslint --fix

docs(pangenome): spec-drive the E. coli indexed-route figure
  website/scripts/figure-manifest.json
  website/scripts/specs/graph.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/pangenome/rgfa_subgraph_launch.png
Due: prettier --write, eslint --fix

refactor: finish de-starring barrels and lock it with a lint rule
  .oxlintrc.json
  eslint.config.mjs
  packages/app-core/src/Assemblies/index.ts
  packages/app-core/src/index.ts
  packages/app-core/src/ui/App/index.ts
  packages/app-core/src/ui/index.ts
  packages/core/src/data_adapters/BaseAdapter/index.ts
  packages/core/src/ui/index.ts
  packages/core/src/util/color-bits/index.ts
  packages/core/src/util/layouts/index.ts
  packages/core/src/util/types/index.ts
  packages/product-core/src/RootModel/index.ts
  packages/product-core/src/Session/index.ts
  packages/product-core/src/index.ts
  packages/product-core/src/ui/index.ts
  packages/render-core/src/index.ts
  packages/sv-core/src/index.ts
  packages/text-indexing-core/src/index.ts
  packages/text-indexing/src/index.ts
  packages/web-core/src/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.ts
  plugins/wiggle/src/WiggleRPC/rpcMethods.ts
  plugins/wiggle/src/index.ts
  website/scripts/screenshot-specs.ts
  website/src/components/SearchBox.astro
Due: prettier --write, eslint --fix

fix(demos): point the E. coli tutorials at the NCTC86 assembly they were built from
  scripts/build_ecoli_pangenome_cactus.sh
  scripts/build_ecoli_pangenome_graph.sh
  scripts/build_ecoli_pangenome_synteny.sh
  website/docs/tutorials/allvsall_synteny.md
Due: prettier --write

fix(render-core): surface an unrestored WebGL context loss, offer Canvas2D
  agent-docs/reference/GPU_RENDERING.md
  packages/core/src/ui/ErrorBar.tsx
  packages/core/src/ui/ErrorOverlay.tsx
  packages/render-core/CLAUDE.md
  packages/render-core/src/gpuDevice.ts
  packages/render-core/src/hal/createHal.ts
  packages/render-core/src/index.ts
  packages/render-core/src/useRenderingBackend.test.ts
  packages/render-core/src/useRenderingBackend.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayChrome.test.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayRenderErrorOverlay.tsx
  website/docs/faq.md
Due: prettier --write, eslint --fix

docs(pangenome): regenerate the cactus locus figure against the fixed NCTC86 track
  website/static/img/pangenome_cactus/boxed_locus_synteny.png
Due: none

fix(render-core): give a re-init a canvas element that never held a context
  agent-docs/reference/DISPLAYCHROME.md
  agent-docs/reference/GPU_RENDERING.md
  packages/render-core/src/useRenderingBackend.test.ts
  packages/render-core/src/useRenderingBackend.ts
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/LevelSyntenyCanvas.tsx
Due: prettier --write, eslint --fix

docs(render-core): tighten the context-loss comments and prose
  agent-docs/reference/GPU_RENDERING.md
  packages/render-core/CLAUDE.md
  packages/render-core/src/useRenderingBackend.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayRenderErrorOverlay.tsx
  website/docs/faq.md
Due: prettier --write, eslint --fix

docs(chromhmm): script-first rewrite, and drop config the display no longer needs
  scripts/build_chromhmm_multirow.sh
  test_data/config_demo.json
  website/docs/tutorials/chromhmm.md
  website/src/lib/gallery.ts
Due: prettier --write, eslint --fix

perf(core): append connection tracks in chunks, not one push per track
  packages/core/src/pluggableElementTypes/models/BaseConnectionModelFactory.ts
Due: prettier --write, eslint --fix

fix(core): detect a server that ignores Range instead of caching wrong bytes
  packages/core/src/util/io/RemoteFileWithRangeCache.test.ts
  packages/core/src/util/io/RemoteFileWithRangeCache.ts
Due: prettier --write, eslint --fix

refactor(displays): one Clustering menu shape across stacked-row displays
  packages/tree-sidebar/src/index.ts
  packages/tree-sidebar/src/treeMenuItems.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/components/SetRowHeightDialog.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/trackMenuItems.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/components/MultiSampleVariantClusterDialog/ClusterDialog.tsx
  plugins/variants/src/shared/getMultiSampleVariantClusterAutorun.ts
  plugins/variants/src/shared/multiSampleVariantMenuItems.ts
  plugins/variants/src/shared/runGenotypeClustering.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/WiggleClusterDialog/WiggleClusterDialog.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
  products/jbrowse-web/src/tests/VcfCluster.test.tsx
  website/scripts/specs/bigwig.ts
  website/scripts/specs/variants.ts
  website/static/img/multiwig/cluster_dialog.png
  website/static/img/variants/cluster_dialog.png
Due: prettier --write, eslint --fix

docs(user_guides): review pass, plus a multi-row feature track guide
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/tutorials/sv_multisamples.md
  website/docs/tutorials/tcga_cohort_cnv.md
  website/docs/user_guide.md
  website/docs/user_guides/alignments_track.md
  website/docs/user_guides/basic_usage.md
  website/docs/user_guides/blat.md
  website/docs/user_guides/dotplot_view.md
  website/docs/user_guides/gwas_track.md
  website/docs/user_guides/linear_synteny_view.md
  website/docs/user_guides/maf_track.md
  website/docs/user_guides/multiquantitative_track.md
  website/docs/user_guides/multirow_feature_track.md
  website/docs/user_guides/multivariant_track.md
  website/docs/user_guides/quantitative_track.md
  website/docs/user_guides/sv_visualization.md
  website/docs/user_guides/variant_track.md
  website/scripts/figure-manifest.json
  website/scripts/generate-guide-indexes.ts
  website/scripts/specs/alignments.ts
  website/scripts/specs/ui.ts
  website/src/lib/galleryLinks.generated.ts
  website/src/lib/guide-categories.ts
  website/src/pages/docs/tutorials/index.astro
  website/static/img/alignments/height_mode_fit.png
  website/static/img/alignments/height_mode_fixed.png
  website/static/img/alignments/height_modes.png
  website/static/img/multirow/display_types_menu.png
Due: prettier --write, eslint --fix

fix(core): correct past-EOF range reads in RemoteFileWithRangeCache
  packages/core/src/util/io/RemoteFileWithRangeCache.test.ts
  packages/core/src/util/io/RemoteFileWithRangeCache.ts
Due: prettier --write, eslint --fix

perf(core): share in-flight chunk fetches, and make the cache cap a real bound
  packages/core/src/util/io/RemoteFileWithRangeCache.test.ts
  packages/core/src/util/io/RemoteFileWithRangeCache.ts
Due: prettier --write, eslint --fix

fix(alignments): group-by correctness pass, and cap runaway group counts
  plugins/alignments/src/LinearAlignmentsDisplay/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/components/GroupLabelsOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/groupedDataMaps.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/getGroupByMenuItem.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/groupByMenu.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/sortGroup.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderSvg.tsx
  plugins/alignments/src/RenderAlignmentDataRPC/CLAUDE.md
  plugins/alignments/src/RenderAlignmentDataRPC/executeRenderAlignmentData.ts
  plugins/alignments/src/shared/chainGroupingKey.ts
  plugins/alignments/src/shared/groupFeatures.test.ts
  plugins/alignments/src/shared/groupFeatures.ts
Due: prettier --write, eslint --fix

fix(alignments): key the group labels on the fetched sections, not on groupBy
  plugins/alignments/src/LinearAlignmentsDisplay/groupedDataMaps.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/groupedDataMaps.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/RenderAlignmentDataRPC/CLAUDE.md
  plugins/alignments/src/shared/groupFeatures.test.ts
  plugins/alignments/src/shared/groupFeatures.ts
Due: prettier --write, eslint --fix

refactor(comparative-views): share the import-form and re-order GUI plumbing
  packages/synteny-core/src/DiagonalizeDialog.tsx
  packages/synteny-core/src/diagonalizeTypes.ts
  packages/synteny-core/src/index.ts
  packages/synteny-core/src/useQuickStartState.ts
  plugins/dotplot-view/src/DotplotView/components/DiagonalizationProgressDialog.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotControls.tsx
  plugins/dotplot-view/src/DotplotView/components/ImportForm/TrackSelector.tsx
  plugins/dotplot-view/src/DotplotView/components/ImportForm/index.tsx
  plugins/dotplot-view/src/DotplotView/components/ReorderChromosomesDialog.tsx
  plugins/dotplot-view/src/DotplotView/util/runDotplotDiagonalize.ts
  plugins/linear-comparative-view/src/LinearComparativeView/components/SyntenyWarnings.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/DiagonalizationProgressDialog.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/ImportSyntenyTrackSelectorArea.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/LeftPanel.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/LinearSyntenyImportForm.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/doSubmit.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ReorderChromosomesDialog.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/util/importFormRows.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/util/importFormRows.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/util/runDiagonalize.ts
Due: prettier --write, eslint --fix
