Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

feat(gccontent): pin the GC content axis to [0,1] instead of autoscaling it
  packages/wiggle-core/src/ScoreScaleMixin.ts
  plugins/gccontent/src/LinearGCContentDisplay/gcParamsInvalidate.test.ts
  plugins/gccontent/src/LinearGCContentDisplay/shared.tsx
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/fullpage_bigwig-gc-content.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_bigwig-gc-content.png
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/ScoreScaleMixin.md
  website/docs/models/SharedGCContentModel.md
  website/docs/models/WiggleCommonMixin.md
  website/docs/models/WiggleScoreConfigMixin.md
Due: prettier --write, eslint --fix

fix(lint): main was failing both lint commands
  plugins/canvas/src/LinearMultiRowFeatureDisplay/featurePaintInputs.test.ts
  products/jbrowse-web/browser-tests/probe-webgpu-coverage.ts
  products/jbrowse-web/browser-tests/suites/breakpoint-split-view.ts
  products/jbrowse-web/browser-tests/suites/gwas-locuszoom.ts
  products/jbrowse-web/browser-tests/suites/main-thread-rpc.ts
  products/jbrowse-web/browser-tests/suites/redraw.ts
  products/jbrowse-web/browser-tests/suites/wiggle-color.ts
  website/scripts/generate-display-chrome-adoption.ts
Due: prettier --write, eslint --fix

fix(config): a callback read with no context is not an evaluation
  agent-docs/TODO.md
  agent-docs/reference/CONFIG_PATTERN.md
  packages/core/src/configuration/CLAUDE.md
  packages/core/src/configuration/configTypeNarrowing.test.ts
  packages/core/src/configuration/deferredSlotRead.test.ts
  packages/core/src/configuration/readConfObject.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/configSchema.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/partitionFieldTransport.test.ts
  plugins/gwas/src/LinearManhattanDisplay/colorSlotTransport.test.ts
Due: prettier --write, eslint --fix

docs(bisulfite): the class partition works now, and is worse here
  website/scripts/specs/methylation.ts
Due: prettier --write, eslint --fix

test(config): ratchet against resolving a callback slot with no context
  .github/workflows/push.yml
  package.json
  scripts/audit-deferred-slot-reads.ts
  scripts/deferredSlotReads.txt
Due: prettier --write, eslint --fix

docs(config): hand off the deferred-slot read for review, and regenerate its docs
  agent-docs/handoffs/deferred-config-slot-reads.md
  packages/core/src/configuration/readConfObject.ts
  website/docs/config/LinearMultiRowFeatureDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
Due: prettier --write, eslint --fix

fix(config): read a forwarded callback slot raw, and back out the reader-level rule
  agent-docs/TODO.md
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-066-callback-slots-are-read-raw-at-the-call-site.md
  agent-docs/handoffs/deferred-config-slot-reads.md
  agent-docs/reference/CONFIG_PATTERN.md
  packages/core/src/configuration/CLAUDE.md
  packages/core/src/configuration/configTypeNarrowing.test.ts
  packages/core/src/configuration/deferredSlotRead.test.ts
  packages/core/src/configuration/readConfObject.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/gwas/src/LinearManhattanDisplay/colorSlotTransport.test.ts
  plugins/gwas/src/LinearManhattanDisplay/configSchemaFactory.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
  website/docs/config/LinearManhattanDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
Due: prettier --write, eslint --fix

docs(handoffs): close the two whose threads ended, keep the seven that have not
  agent-docs/handoffs/screenshot-callout-anchoring.md
  agent-docs/handoffs/screenshot-review-bad-backlog.md
  website/scripts/screenshot-review-plan.md
Due: prettier --write

docs(hooks): say what the pre-commit hook costs, since it is not lint
  .githooks/pre-commit
Due: none

fix(hooks): drop the stale index entries a pathspec commit leaves behind
  .githooks/post-commit
Due: none

docs: sweep the two shader handoffs into ADR-051, reference and TODO, then delete
  CLAUDE.md
  agent-docs/TODO.md
  agent-docs/architecture-decision-records/adr-051-shader-js-codegen-is-scalar-only.md
  agent-docs/handoffs/shader-aa-ramps-and-synteny-coords.md
  agent-docs/handoffs/shader-codegen-open-threads.md
  agent-docs/reference/BP_PRECISION.md
  agent-docs/reference/GPU_RENDERING.md
  agent-docs/reference/REJECTED_IDEAS.md
  agent-docs/reference/SHADER_JS_CODEGEN.md
Due: prettier --write

docs: sweep the two screenshot handoffs into reference, then delete them
  agent-docs/TODO.md
  agent-docs/reference/DEMO_DATASETS.md
  agent-docs/reference/SCREENSHOT_CALLOUT_ANCHORS.md
  website/CLAUDE.md
  website/scripts/screenshot-review-plan.md
Due: prettier --write

docs: sweep the two pangenome handoffs, then delete them
  agent-docs/OTHER_IDEAS.md
  agent-docs/TODO.md
  agent-docs/handoffs/pangenome-graph-next.md
  agent-docs/handoffs/pangenome-scale-ladder.md
  agent-docs/reference/HOSTING.md
  agent-docs/reference/PANGENOME_GRAPHS.md
  website/CLAUDE.md
Due: prettier --write

docs(todo): correct the AA-ramp entry — the oracle is half blind, and so was the ranking
  agent-docs/TODO.md
Due: prettier --write

docs: sweep the MAF and HPRC handoffs into two new reference docs
  agent-docs/OTHER_IDEAS.md
  agent-docs/TODO.md
  agent-docs/handoffs/hprc-release2-in-jbrowse.md
  agent-docs/handoffs/maf-worker-pipeline.md
  agent-docs/reference/HPRC_RELEASE2.md
  agent-docs/reference/MAF_WORKER_PIPELINE.md
  agent-docs/reference/REJECTED_IDEAS.md
Due: prettier --write

docs: sweep the last handoff into a reference doc, and retire handoffs/
  agent-docs/CLAUDE.md
  agent-docs/TODO.md
  agent-docs/architecture-decision-records/adr-062-base-colors-stay-named-uniforms.md
  agent-docs/handoffs/cross-backend-gate-ci.md
  agent-docs/reference/CROSS_BACKEND_GATE.md
  agent-docs/reference/README.md
  agent-docs/reference/REJECTED_IDEAS.md
  agent-docs/reference/TEST_INFRASTRUCTURE.md
  products/jbrowse-web/browser-tests/crossBackendGate.ts
  products/jbrowse-web/browser-tests/runner.ts
Due: prettier --write, eslint --fix

docs(todo): hi-C is rendered and cleared, and it was never the visible one
  agent-docs/TODO.md
Due: prettier --write

chore: delete .fallowrc.json, which nothing could run
  .fallowrc.json
  plugins/alignments/src/CLAUDE.md
Due: prettier --write

fix(lint): the two errors main picked up during the audit
  products/jbrowse-web/browser-tests/review-app/App.tsx
  products/jbrowse-web/src/tests/Spreadsheet.test.tsx
  products/jbrowse-web/src/tests/util.tsx
Due: prettier --write, eslint --fix

build(lint): lint the staged paths in pre-commit, and thread eslint
  .githooks/pre-commit
  package.json
Due: none

build(lint): turn on the jest rules, starting with no-focused-tests
  .oxlintrc.json
  plugins/blat/src/liveBlat.test.ts
  products/jbrowse-cli/src/commands/add-assembly/__snapshots__/index.test.ts.snap
  products/jbrowse-cli/src/commands/add-assembly/index.test.ts
Due: prettier --write, eslint --fix

build(lint): four more oxlint rules, and the seven things they found
  .oxlintrc.json
  packages/browser-test-utils/src/reviewVerdicts.ts
  packages/core/src/ReExports/abiPreviousRelease.test.ts
  packages/render-core/src/createRenderingBackend.ts
  plugins/comparative-adapters/src/MCScanBlocksAdapter/MCScanBlocksAdapter.ts
  products/jbrowse-cli/src/utils.ts
  scripts/release.ts
Due: prettier --write, eslint --fix

perf(maf): profile the alignment RPC, and fix its two real hot spots
  agent-docs/reference/REJECTED_IDEAS.md
  plugins/maf/src/LinearMafGetAlignmentDataRpc/executeMafAlignmentData.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/mafWirePacker.test.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/mafWirePacker.ts
Due: prettier --write, eslint --fix

perf(maf): hoist coverage's bound test per block, and a bench that can prove it
  agent-docs/reference/REJECTED_IDEAS.md
  plugins/maf/benches/mafCoverage.bench.ts
  plugins/maf/package.json
  plugins/maf/src/LinearMafGetAlignmentDataRpc/computeMafCoverage.ts
Due: prettier --write, eslint --fix

docs(maf): coverage did have a lever, and the method that missed it
  agent-docs/reference/MAF_WORKER_PIPELINE.md
Due: prettier --write

test(browser-tests): re-baseline the gwas and wiggle goldens after the glyph AA ramp
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/fullpage_gwas-locuszoom-reanchored.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/fullpage_gwas-locuszoom-stat4.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/fullpage_gwas-manhattan.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/fullpage_wiggle-color-after-red.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/gwas-locuszoom-context-menu.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_gwas-locuszoom-reanchored.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_gwas-locuszoom-stat4.png
  products/jbrowse-web/browser-tests/__snapshots__/webgl/fullpage_gwas-locuszoom-reanchored.png
  products/jbrowse-web/browser-tests/__snapshots__/webgl/fullpage_gwas-locuszoom-stat4.png
  products/jbrowse-web/browser-tests/__snapshots__/webgl/fullpage_gwas-manhattan.png
  products/jbrowse-web/browser-tests/__snapshots__/webgl/fullpage_wiggle-color-after-red.png
  products/jbrowse-web/browser-tests/__snapshots__/webgl/gwas-locuszoom-context-menu.png
  products/jbrowse-web/browser-tests/__snapshots__/webgl/targeted_gwas-locuszoom-reanchored.png
  products/jbrowse-web/browser-tests/__snapshots__/webgl/targeted_gwas-locuszoom-stat4.png
  products/jbrowse-web/browser-tests/__snapshots__/webgl/targeted_gwas-manhattan.png
Due: none

docs(todo): the glyphs are rendered and cleared, with Canvas2D as the judge
  agent-docs/TODO.md
Due: prettier --write

perf(maf): the insertion loop takes the same fast arm, and ' ' gets a test
  plugins/maf/benches/mafCoverage.bench.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/computeMafCoverage.test.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/computeMafCoverage.ts
Due: prettier --write, eslint --fix

docs(maf): the insertion loop as the counterexample to its own fix
  agent-docs/reference/MAF_WORKER_PIPELINE.md
Due: prettier --write

build(lint): drop the duplicated hooks rule, and settle the deferred list
  eslint.config.mjs
  packages/core/src/ui/PaletteContext.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/SupplementaryAlignmentsLocStrings.tsx
Due: prettier --write, eslint --fix

chore(lint): delete 39 disable comments that suppressed nothing
  eslint.config.mjs
  package.json
  packages/core/src/util/types/index.ts
  packages/render-core/src/gpuDevice.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/fetchMultiRowFeatures.test.ts
  plugins/config/src/ConfigurationEditorWidget/components/useSlotEditorStyles.ts
  plugins/data-management/src/FacetedSelector/components/facetedTableStyles.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/trackListStyles.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/components/columns.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/TrackHeightMixin.test.ts
  plugins/maf/src/LinearMafDisplay/components/tooltipStyles.ts
  plugins/maf/src/LinearMafDisplay/fetchMafData.test.ts
  plugins/sv-inspector/src/SvInspectorView/model.ts
  plugins/variants/src/LinearVariantDisplay/breakendMenu.test.ts
  pnpm-lock.yaml
  products/aws/lambda-functions/saved-sessions/jbrowse_analytics.js
  products/jbrowse-desktop/src/components/StartScreen/availableGenomes/searchIndex.test.ts
  products/jbrowse-desktop/src/components/StartScreen/availableGenomes/searchIndex.ts
  products/jbrowse-react-circular-genome-view/src/loadPlugins.ts
  products/jbrowse-react-linear-genome-view/src/loadPlugins.ts
  products/jbrowse-web/browser-tests/suites/fetch-cancellation.ts
  products/jbrowse-web/browser-tests/workspaces-freeze-stress.ts
  website/scripts/cancel-bench.ts
  website/scripts/coi-probe.ts
  website/scripts/probe-startup.ts
Due: prettier --write, eslint --fix

build(lint): pin three CLAUDE.md invariants that fail silently
  eslint.config.mjs
  packages/core/src/configuration/getConf.ts
  packages/core/src/util/tracks.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/components/DisplayChromeBase.tsx
Due: prettier --write, eslint --fix

docs(lint): a reference for the parts that do not fit in a config comment
  agent-docs/reference/LINTING.md
  agent-docs/reference/README.md
Due: prettier --write

test(browser-tests): a probe for the synteny hover cue, which no suite can reach
  products/jbrowse-web/browser-tests/hover-probe.ts
Due: prettier --write, eslint --fix

docs(todo): fillShade is cleared, and the worry was on the wrong end of the slider
  agent-docs/TODO.md
Due: prettier --write

docs(lint): triage oxlint's 39 react-compiler findings — none is a bug
  agent-docs/reference/LINTING.md
  agent-docs/reference/README.md
Due: prettier --write

chore(docs): regenerate the five artifacts main is stale on, and trim four captions
  website/docs/developer_guides/creating_adapter.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/docs/user_guides/dotplot_view.md
  website/docs/user_guides/sv_visualization.md
  website/scripts/spec-recipe-unmapped.txt
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

figures: push the ten derived figures whose bytes never reached the store
  figures.lock
Due: none

perf(breakpoint-split-view): keep the overlay's React out of the eager set
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/AlignmentConnections.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/Breakends.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/BreakpointSplitView.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/Translocations.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/overlayGeometry.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/overlayUtils.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/featureMatching.test.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/featureMatching.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/model.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/util.test.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/util.ts
Due: prettier --write, eslint --fix

perf(byo-examples): bank the eager figures, and name the shader module behind the rest
  products/jbrowse-build-your-own/examples-site/CLAUDE.md
  products/jbrowse-build-your-own/examples-site/eagerBundleSizes.json
Due: prettier --write
