Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

bench(canvas): a baseline for the hand-written feature packer
  plugins/canvas/benches/packRenderArrays.bench.ts
Due: prettier --write, eslint --fix

docs(adr-114): canvas keeps its hand-written packer, measured
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-112-a-layer-owns-its-transform-and-its-zoom-range.md
  agent-docs/architecture-decision-records/adr-114-canvas-keeps-its-hand-written-packer.md
  agent-docs/measurements/canvas-packer-vs-encoder.json
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  agent-docs/reference/MARK_ENCODING.md
  packages/core/README.md
  plugins/canvas/benches/packRenderArrays.bench.ts
  website/docs/api/core.md
Due: prettier --write, eslint --fix

fix: type the flatten record path and the canvas bench's emit context
  packages/core/src/util/featureTransforms.test.ts
  packages/core/src/util/featureTransforms.ts
  plugins/canvas/benches/packRenderArrays.bench.ts
Due: prettier --write, eslint --fix

docs(tutorials): state the inversion test in terms of rank and sign
  website/docs/tutorials/pangenome_hprc_part2.md
Due: prettier --write

docs(tutorials): drop the stances given to reads, graphs and chromosomes
  website/docs/tutorials/hg38_vertebrates_synteny.md
  website/docs/tutorials/pangenome_nonhuman.md
  website/docs/tutorials/rnaseq.md
Due: prettier --write

docs(tutorials): describe the backbone instead of giving it a voice
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/tutorials/pangenome_hprc_part2.md
Due: prettier --write

test(marks): pin the declared value scale, the ramp bake and the unioned ramp domain
  packages/core/src/util/markEncoding.test.ts
  packages/render-core/src/marks/markRamp.test.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
Due: prettier --write, eslint --fix

feat(marks): the y channel carries its scale and a quantitative colour ramp resolves on the main thread
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/core/src/util/markEncoding.ts
  packages/core/src/util/markEncodingTypes.ts
  packages/render-core/package.json
  packages/render-core/src/marks/barMark.ts
  packages/render-core/src/marks/drawAgainstHit.test.ts
  packages/render-core/src/marks/index.ts
  packages/render-core/src/marks/markRamp.ts
  packages/render-core/src/marks/pointMark.ts
  packages/render-core/src/marks/spanMark.ts
  packages/render-core/src/marks/types.ts
  packages/render-core/src/shaders/barMark.generated.ts
  packages/render-core/src/shaders/barMark.iface.generated.ts
  packages/render-core/src/shaders/barMark.slang
  packages/render-core/src/shaders/markColor.generated.ts
  packages/render-core/src/shaders/markColor.slang
  packages/render-core/src/shaders/pointMark.generated.ts
  packages/render-core/src/shaders/pointMark.iface.generated.ts
  packages/render-core/src/shaders/pointMark.js.generated.ts
  packages/render-core/src/shaders/pointMark.slang
  packages/render-core/src/shaders/scoreScale.generated.ts
  packages/render-core/src/shaders/scoreScale.slang
  packages/render-core/src/shaders/valueScale.slang
  packages/wiggle-core/src/ScoreScaleMixin.ts
  plugins/marks/src/LinearMarkDisplay/components/MarkTooltip.tsx
  plugins/marks/src/LinearMarkDisplay/configSchema.ts
  plugins/marks/src/LinearMarkDisplay/findMarkHit.ts
  plugins/marks/src/LinearMarkDisplay/legend.ts
  plugins/marks/src/LinearMarkDisplay/markList.test.ts
  plugins/marks/src/LinearMarkDisplay/markList.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
Due: prettier --write, eslint --fix

docs(adr-113): a scale is declared on its channel and resolved where its cost says
  agent-docs/ARCHITECTURE.md
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-113-one-scale-rule-in-one-place.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  agent-docs/reference/MARK_ENCODING.md
  agent-docs/reference/SHADER_SHAPE_LIBRARY.md
  packages/core/README.md
  packages/core/benches/encodeFeatures.bench.ts
  packages/render-core/benches/markRampPaint.bench.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/api/core.md
  website/docs/config/LinearMarkDisplay.md
  website/docs/config_guides/mark_display.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMarkDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
  website/docs/models/ScoreScaleMixin.md
  website/docs/models/SharedGCContentModel.md
  website/docs/models/WiggleCommonMixin.md
  website/docs/models/WiggleScoreConfigMixin.md
Due: prettier --write, eslint --fix

fix(marks): a textured pass binds the inert table even when its mark names none
  packages/render-core/src/marks/defineMark.test.ts
  packages/render-core/src/marks/markBackend.ts
Due: prettier --write, eslint --fix

perf(marks): re-measure the encoder with the two ramp arms
  agent-docs/architecture-decision-records/adr-113-one-scale-rule-in-one-place.md
  agent-docs/measurements/mark-encoding-jexl-channel.json
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  agent-docs/reference/MARK_ENCODING.md
  packages/render-core/src/marks/markRamp.test.ts
Due: prettier --write, eslint --fix

docs(adr-113): regenerate the ADR index after the rebase onto ADR-114
  agent-docs/architecture-decision-records/README.md
Due: prettier --write

chore(shaders): valueToYPxScaled has its consumers now, so the lift inventory drops it
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
Due: prettier --write

fix(marks): the scale type stays config-only, since the shared radio offers symlog
  agent-docs/architecture-decision-records/adr-113-one-scale-rule-in-one-place.md
  agent-docs/reference/MARK_ENCODING.md
  plugins/marks/src/LinearMarkDisplay/model.ts
  website/docs/config_guides/mark_display.md
Due: prettier --write, eslint --fix

feat(marks): flatten is a config-authored transform step
  agent-docs/architecture-decision-records/adr-114-canvas-keeps-its-hand-written-packer.md
  plugins/marks/src/LinearMarkDisplay/configSchema.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/LinearMarkDisplay.md
  website/docs/config_guides/mark_display.md
Due: prettier --write, eslint --fix

Format with new plugin-astro formatter
  package.json
  pnpm-lock.yaml
  products/examples-site-shared/Gallery.astro
  products/examples-site-shared/Shell.astro
  products/jbrowse-build-your-own/examples-site/src/layouts/ExampleLayout.astro
  products/jbrowse-build-your-own/examples-site/src/layouts/ExampleSection.astro
  products/jbrowse-build-your-own/examples-site/src/pages/index.astro
  products/jbrowse-react-app/examples-site/src/layouts/ExampleLayout.astro
  products/jbrowse-react-app/examples-site/src/layouts/ExampleSection.astro
  products/jbrowse-react-app/examples-site/src/pages/index.astro
  products/jbrowse-react-circular-genome-view/examples-site/src/layouts/ExampleLayout.astro
  products/jbrowse-react-circular-genome-view/examples-site/src/layouts/ExampleSection.astro
  products/jbrowse-react-circular-genome-view/examples-site/src/pages/index.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/layouts/ExampleLayout.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/layouts/ExampleSection.astro
  products/jbrowse-react-linear-genome-view/examples-site/src/pages/index.astro
  website/package.json
  website/src/components/Breadcrumbs.astro
  website/src/components/CopyMarkdown.astro
  website/src/components/DocsSidebarNav.astro
  website/src/components/HomePage.astro
  website/src/components/Lightbox.astro
  website/src/components/NewsletterSignup.astro
  website/src/components/SearchBox.astro
  website/src/components/SidebarItem.astro
  website/src/components/TableOfContents.astro
  website/src/layouts/BaseLayout.astro
  website/src/layouts/BlogLayout.astro
  website/src/layouts/DocsLayout.astro
  website/src/pages/blog/[...slug].astro
  website/src/pages/blog/index.astro
  website/src/pages/contact.astro
  website/src/pages/docs/tutorials/index.astro
  website/src/pages/download.astro
  website/src/pages/plugin_store.astro
  website/src/pages/search.astro
Due: none

feat(transforms): stack is a transform step, greedy first-fit rows over the spans
  agent-docs/measurements/feature-transform-steps.json
  packages/core/benches/featureTransforms.bench.ts
  packages/core/src/util/featureTransforms.test.ts
  packages/core/src/util/featureTransforms.ts
  packages/core/src/util/markEncodingTypes.ts
Due: prettier --write, eslint --fix

feat(marks): stack is a config-authored transform step
  plugins/marks/src/LinearMarkDisplay/configSchema.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
Due: prettier --write, eslint --fix

feat(marks): a mark's y can resolve independent, and takes a second axis
  packages/core/src/util/markEncodingTypes.ts
  plugins/marks/src/LinearMarkDisplay/configSchema.ts
  plugins/marks/src/LinearMarkDisplay/findMarkHit.ts
  plugins/marks/src/LinearMarkDisplay/markList.test.ts
  plugins/marks/src/LinearMarkDisplay/markList.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
Due: prettier --write, eslint --fix

feat(marks): the mark display attaches to alignments and variant tracks too
  plugins/marks/src/LinearMarkDisplay/index.ts
  products/jbrowse-web/src/tests/MarkDisplay.test.tsx
Due: prettier --write, eslint --fix

docs(adr-115): layout is a transform, one mark may read its own axis
  .claude/skills/jbrowse-authoring/references/config-types.md
  agent-docs/ARCHITECTURE.md
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-115-one-mark-may-read-its-own-axis.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  agent-docs/reference/MARK_ENCODING.md
  packages/core/README.md
  plugins/marks/src/LinearMarkDisplay/configSchema.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/api/core.md
  website/docs/config/AlignmentsTrack.md
  website/docs/config/BamAdapter.md
  website/docs/config/BedpeAdapter.md
  website/docs/config/CramAdapter.md
  website/docs/config/HtsgetBamAdapter.md
  website/docs/config/LinearMarkDisplay.md
  website/docs/config/SamAdapter.md
  website/docs/config/SplitVcfTabixAdapter.md
  website/docs/config/StarFusionAdapter.md
  website/docs/config/VariantTrack.md
  website/docs/config/VcfAdapter.md
  website/docs/config/VcfTabixAdapter.md
  website/docs/config_guides/mark_display.md
  website/docs/config_guides/tracks.md
  website/docs/developer_guides/creating_display.md
  website/docs/models/LinearMarkDisplay.md
Due: prettier --write, eslint --fix

test(cli): an AlignmentsTrack now offers two displays, so the refusal names the track
  products/jbrowse-cli/src/commands/add-track-utils/track-config.ts
  products/jbrowse-cli/src/commands/add-track.test.ts
Due: prettier --write, eslint --fix

feat(circular): a synteny track draws its alignments as ribbons
  packages/synteny-core/src/index.ts
  packages/synteny-core/src/syntenyMate.ts
  plugins/circular-view/package.json
  plugins/circular-view/src/ChordSyntenyDisplay/components/ChordSyntenyDisplay.test.tsx
  plugins/circular-view/src/ChordSyntenyDisplay/components/ChordSyntenyDisplay.tsx
  plugins/circular-view/src/ChordSyntenyDisplay/index.ts
  plugins/circular-view/src/ChordSyntenyDisplay/models/configSchema.ts
  plugins/circular-view/src/ChordSyntenyDisplay/models/renderSvg.tsx
  plugins/circular-view/src/ChordSyntenyDisplay/models/stateModelFactory.ts
  plugins/circular-view/src/ChordVariantDisplay/components/ChordVariantDisplay.tsx
  plugins/circular-view/src/chords/ChordDisplayFrame.tsx
  plugins/circular-view/src/chords/DisplayError.tsx
  plugins/circular-view/src/chords/HatchCircle.tsx
  plugins/circular-view/src/chords/Loading.tsx
  plugins/circular-view/src/chords/Ribbon.tsx
  plugins/circular-view/src/chords/Ribbons.tsx
  plugins/circular-view/src/chords/ribbonGeometry.test.ts
  plugins/circular-view/src/chords/ribbonGeometry.ts
  plugins/circular-view/src/chords/ribbonLabel.ts
  plugins/circular-view/src/chords/types.ts
  plugins/circular-view/src/index.ts
  plugins/circular-view/tsconfig.build.esm.json
  plugins/linear-comparative-view/src/syntenyMate.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(circular): the circle draws more than one assembly
  plugins/circular-view/src/CircularView/init.test.ts
  plugins/circular-view/src/CircularView/model.ts
  plugins/circular-view/src/CircularView/types.ts
  plugins/circular-view/src/LaunchCircularView/index.test.ts
  plugins/circular-view/src/LaunchCircularView/index.ts
Due: prettier --write, eslint --fix

test(circular): the synteny display fetches and places both ends
  plugins/circular-view/src/ChordSyntenyDisplay/models/stateModelFactory.test.ts
  plugins/circular-view/src/ChordSyntenyDisplay/models/stateModelFactory.ts
Due: prettier --write, eslint --fix

docs(circular): ADR-116 and the synteny guide's circular section
  .claude/skills/jbrowse-authoring/references/config-types.md
  agent-docs/architecture-decision-records/adr-116-a-synteny-alignment-is-a-ribbon-on-the-circle.md
  agent-docs/reference/DISPLAY_HOOKS.md
  component_tests/cgv-vite/package.json
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/BlastTabularAdapter.md
  website/docs/config/ChainAdapter.md
  website/docs/config/ChordSyntenyDisplay.md
  website/docs/config/DeltaAdapter.md
  website/docs/config/MCScanAnchorsAdapter.md
  website/docs/config/MCScanBlocksAdapter.md
  website/docs/config/MCScanSimpleAnchorsAdapter.md
  website/docs/config/MashMapAdapter.md
  website/docs/config/MultiGenomeIndexedPAFAdapter.md
  website/docs/config/MultiGenomePAFAdapter.md
  website/docs/config/MultiPairwiseSyntenyAdapter.md
  website/docs/config/PAFAdapter.md
  website/docs/config/PairwiseIndexedPAFAdapter.md
  website/docs/config/SyntenyTrack.md
  website/docs/config_guides/synteny_track.md
  website/docs/developer_guides/creating_display.md
  website/docs/models/ChordSyntenyDisplay.md
  website/docs/models/CircularView.md
  website/docs/urlparams.md
Due: prettier --write, eslint --fix

test(web): the config-slot snapshot takes the new display's colours
  products/jbrowse-web/src/tests/__snapshots__/ConfigSlotDefaults.test.ts.snap
Due: none

chore: regenerate the indexes after the rebase
  agent-docs/ARCHITECTURE.md
  agent-docs/architecture-decision-records/README.md
  website/docs/config_guides/tracks.md
Due: prettier --write

fix(desktop): a manual update check that reports every outcome, on every platform
  products/jbrowse-desktop/electron/autoUpdater.test.ts
  products/jbrowse-desktop/electron/autoUpdater.ts
  products/jbrowse-desktop/electron/ipc/channelNames.ts
  products/jbrowse-desktop/electron/ipc/channelTypes.ts
  products/jbrowse-desktop/electron/window.ts
  products/jbrowse-desktop/src/rootModel/rootModel.ts
Due: prettier --write, eslint --fix

test(desktop): pin the Help menu's update check, and configure plugins the way the app does
  products/jbrowse-desktop/src/rootModel/rootModel.test.ts
Due: prettier --write, eslint --fix

fix(desktop): the update installer waits for the app it is replacing
  products/jbrowse-desktop/scripts/packaging/config.ts
  products/jbrowse-desktop/scripts/packaging/nsis.test.ts
  products/jbrowse-desktop/scripts/packaging/nsisScript.ts
  products/jbrowse-desktop/scripts/packaging/updateFeed.test.ts
  products/jbrowse-desktop/scripts/packaging/updateFeed.ts
  products/jbrowse-desktop/scripts/packaging/utils.ts
Due: prettier --write, eslint --fix

bench(alignments): the pileup layout against the shared stack step
  plugins/alignments/benches/pileupLayoutVsStack.bench.ts
Due: prettier --write, eslint --fix

test(core): stack answers the rows placeRect does
  packages/core/src/util/featureTransforms.test.ts
Due: prettier --write, eslint --fix

docs(adr-118): the display packers share a rule with stack, not a step
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-118-the-packers-share-a-rule-not-a-step.md
  agent-docs/measurements/pileup-layout-vs-stack.json
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
Due: prettier --write

docs(adr-118): re-take the port measurement and say where its cost sits
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-118-the-packers-share-a-rule-not-a-step.md
  agent-docs/measurements/pileup-layout-vs-stack.json
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  plugins/alignments/benches/pileupLayoutVsStack.bench.ts
Due: prettier --write, eslint --fix

feat(marks): a bin step takes "auto" and follows the zoom on a 1/2/5 ladder
  plugins/marks/src/LinearMarkDisplay/autoBin.ts
  plugins/marks/src/LinearMarkDisplay/configSchema.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
Due: prettier --write, eslint --fix

feat(marks): a mark declares source density and the sidecar stands in past the budget
  plugins/marks/src/LinearMarkDisplay/components/LinearMarkDisplayComponent.tsx
  plugins/marks/src/LinearMarkDisplay/components/markDisplayTypes.ts
  plugins/marks/src/LinearMarkDisplay/configSchema.ts
  plugins/marks/src/LinearMarkDisplay/densityLayer.ts
  plugins/marks/src/LinearMarkDisplay/densityTier.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  scripts/gatedBudgets.ts
Due: prettier --write, eslint --fix

test(marks): the sidecar draws past a forced-small byte limit in jbrowse-web
  products/jbrowse-web/src/tests/MarkDisplay.test.tsx
Due: prettier --write, eslint --fix

docs(adr-117): the density tier is a mark layer, and a bin may follow the zoom
  agent-docs/ARCHITECTURE.md
  agent-docs/architecture-decision-records/adr-112-a-layer-owns-its-transform-and-its-zoom-range.md
  agent-docs/architecture-decision-records/adr-113-one-scale-rule-in-one-place.md
  agent-docs/architecture-decision-records/adr-117-the-density-tier-is-a-mark-layer.md
  agent-docs/reference/DISPLAY_HOOKS.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  agent-docs/reference/MARK_ENCODING.md
  agent-docs/reference/REGION_TOO_LARGE.md
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/LinearMarkDisplay.md
  website/docs/config_guides/mark_display.md
  website/docs/models/LinearMarkDisplay.md
Due: prettier --write, eslint --fix

test(web): the mark display's gate and density-tier slots reach the slot snapshot
  products/jbrowse-web/src/tests/__snapshots__/ConfigSlotDefaults.test.ts.snap
Due: none
