Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs(launch): the MAF navigation doc and the session-url deriver name the flat shape
  agent-docs/reference/MAF_CROSS_VIEW_NAVIGATION.md
  website/src/lib/derive-session-url.ts
Due: prettier --write, eslint --fix

docs(indexes): regenerate the reference and ADR indexes
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-099-a-view-takes-one-authored-object.md
  agent-docs/reference/README.md
Due: prettier --write

docs(launch): three pages say what a view object is, not what it is not
  website/docs/automating.md
  website/docs/developer_guides/extension_points.md
  website/docs/urlparams.md
Due: prettier --write

chore(check-doc-surfaces): the nested spelling is exempt, not a page to teach it on
  website/scripts/check-doc-surfaces.ts
Due: prettier --write, eslint --fix

docs(view launch): the history section points at the ADR instead of restating it
  agent-docs/reference/VIEW_INIT.md
Due: prettier --write

chore(exports): regenerate after applyInitSettings leaves the map
  packages/core/package.json
  plugins/breakpoint-split-view/src/BreakpointSplitView/model.ts
  plugins/circular-view/src/CircularView/model.ts
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/spreadsheet-view/src/SpreadsheetView/SpreadsheetViewModel.ts
  website/docs/models/BreakpointSplitView.md
  website/docs/models/CircularView.md
  website/docs/models/DotplotView.md
  website/docs/models/LinearGenomeView.md
  website/docs/models/LinearSyntenyView.md
  website/docs/models/SpreadsheetView.md
  website/docs/models/SvInspectorView.md
Due: prettier --write, eslint --fix

test(views): the `init` acceptance tests become rejection tests
  agent-docs/reference/PLUGIN_ABI_STABILITY.md
  packages/app-core/src/SessionSpec/loadSessionSpec.test.ts
  packages/core/src/util/installInitAutorun.test.ts
  packages/core/src/util/withLaunchInput.test.ts
  packages/product-core/src/Session/addViewLaunchShape.test.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/launchInput.test.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/model.ts
  plugins/circular-view/src/CircularView/launchInput.test.ts
  plugins/dotplot-view/src/DotplotView/launchInput.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/components/AddRowDialog.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/launchInput.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/sameScale.integration.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/initKeys.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/initKeys.ts
  plugins/linear-genome-view/src/LinearGenomeView/launchInput.test.ts
  plugins/spreadsheet-view/src/SpreadsheetView/launchInput.test.ts
  plugins/sv-inspector/src/SvInspectorView/launchInput.test.ts
  plugins/sv-inspector/src/SvInspectorView/model.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.test.ts
  products/jbrowse-img/src/breakpointInit.test.ts
  products/jbrowse-react-app/src/JBrowse/JBrowse.test.tsx
  products/jbrowse-react-app/src/createApp.test.ts
  products/jbrowse-react-app/src/createViewStateFromProps.test.ts
  products/jbrowse-react-linear-genome-view/src/destroyViewState.test.ts
  products/jbrowse-web/src/tests/LinearSyntenyViewMultiwayInit.test.tsx
  website/docs/developer_guides/upgrading_v5.md
Due: prettier --write, eslint --fix

docs(view launch): the flow and the gates name `pendingLaunch`/`setLaunch`
  agent-docs/reference/VIEW_INIT.md
Due: prettier --write

fix(launch): the tests and doc surfaces that still spelled it `init`
  plugins/linear-comparative-view/src/LinearSyntenyView/initTracks.integration.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/types.ts
  products/jbrowse-web/src/applyDefaultSessionViewInit.test.ts
  products/jbrowse-web/src/tests/DotplotViewInit.test.tsx
  products/jbrowse-web/src/tests/LinearGenomeViewInit.test.tsx
  website/docs/urlparams.md
  website/scripts/check-doc-surfaces.ts
Due: prettier --write, eslint --fix

docs(todo): the init removal is done; what is left is typing addView
  agent-docs/TODO.md
  agent-docs/todo/delete-init-and-remap-launch-keys-on-the-view-object.md
  agent-docs/todo/type-addview-against-the-launch-key-registration.md
Due: prettier --write

docs(embedded): createViewState's init is a defaultValue, and says so
  products/jbrowse-react-circular-genome-view/src/createViewState.ts
  products/jbrowse-react-linear-genome-view/src/createViewState.ts
Due: prettier --write, eslint --fix

docs(jbrowse-img): the session example writes its settings on the view
  products/jbrowse-img/README.md
Due: prettier --write

docs(todo): the four late-migrated views have never been opened in a browser
  agent-docs/TODO.md
  agent-docs/todo/open-the-four-late-migrated-views-in-a-browser.md
Due: prettier --write

docs: the prefers-color-scheme default landed; the example sweep is what is left
  agent-docs/ideas/lightweight-toolkit.md
Due: prettier --write

feat(core): SessionPaletteProvider follows prefers-color-scheme with no mode
  packages/core/README.md
  packages/core/src/ui/PaletteContext.test.tsx
  packages/core/src/ui/PaletteContext.tsx
  website/docs/api/core.md
Due: prettier --write, eslint --fix

feat(views): dotplot and circular views get the same `status` getter
  plugins/circular-view/src/CircularView/model.ts
  plugins/dotplot-view/src/DotplotView/model.ts
  website/docs/models/CircularView.md
  website/docs/models/DotplotView.md
Due: prettier --write, eslint --fix

docs: open the expressiveness-as-self-service handoff
  agent-docs/handoffs/README.md
  agent-docs/handoffs/expressiveness-self-service.md
  scripts/chromeBundleSizes.json
Due: prettier --write

docs(handoff): cite the hashes that actually landed on main
  agent-docs/handoffs/expressiveness-self-service.md
Due: prettier --write

chore(byo-examples-site): re-bank the eager budgets after a site-wide 6 KB rise
  products/jbrowse-build-your-own/examples-site/eagerBundleSizes.json
Due: none

fix(alignments): MergedJunction is reachable from the package entry
  plugins/alignments/src/index.ts
Due: prettier --write, eslint --fix

chore: pre-push autofix
  plugins/linear-comparative-view/src/LinearComparativeView/components/ViewOptionsMenuButton.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/drawOffscreenMates.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/menus.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGOffscreenMates.tsx
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/OffscreenMateOverlay.tsx
Due: prettier --write, eslint --fix

fix(synteny): the band's white ground was enforced on screen and nowhere else
  agent-docs/ideas/README.md
  agent-docs/ideas/the-synteny-fetch-key-goes-blind-once-its-window-clamps.md
  packages/synteny-core/src/colorUtils.ts
  plugins/linear-comparative-view/src/LinearComparativeView/components/syntenySettingsMenuItems.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/Canvas2DSyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/GpuSyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/drawOffscreenMates.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyTypes.slang
  plugins/linear-comparative-view/src/LinearSyntenyRPC/collectOffscreenMates.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/collectOffscreenMates.ts
  plugins/linear-comparative-view/src/LinearSyntenyRPC/syntenyColors.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGSyntenyLevel.tsx
  products/jbrowse-web/src/tests/LinearSyntenyOffscreenMates.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_color_legend_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_gridlines_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_offscreen_mates_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgLinearSyntenyView.test.tsx.snap
  website/docs/models/LinearComparativeView.md
  website/docs/models/LinearSyntenyDisplay.md
  website/docs/models/LinearSyntenyView.md
Due: prettier --write, eslint --fix

fix(synteny): add the two files 920276000d left untracked
  packages/synteny-core/src/bandGround.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/syntenyGroundParity.test.ts
Due: prettier --write, eslint --fix

docs(synteny-core): regenerate for bandGroundColor / blendOverGround
  packages/synteny-core/README.md
Due: prettier --write

fix(synteny): levels[i] is typed, so four things it was hiding are now errors
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-055-mst-model-types-are-interfaces.md
  plugins/linear-comparative-view/src/LinearComparativeView/components/LinearComparativeRenderArea.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/components/syntenySettingsMenuItems.ts
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/ribbonSettingsCascade.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/components/AddRowDialog.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/initSettleGate.integration.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGLinearSyntenyView.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/util/runDiagonalize.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/hover.integration.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/offscreenMateMarkColors.ts
  plugins/linear-comparative-view/src/LinearSyntenyViewHelper/parentViewDuck.ts
  plugins/linear-comparative-view/src/index.ts
Due: prettier --write, eslint --fix

fix(canvas): a UTR is centered in its row again, not a pixel below it
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/render-core/src/shaders/hpmath.js.generated.ts
  packages/render-core/src/shaders/hpmath.slang
  plugins/canvas/src/LinearBasicDisplay/components/Canvas2DFeatureRenderer.ts
  plugins/canvas/src/LinearBasicDisplay/components/hpmathParity.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/utrRowAlignment.test.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/arrow.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/chevron.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/continuation.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/line.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/rect.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/rect.slang
Due: prettier --write, eslint --fix

docs(agent-docs): the reference index splits on audience:, a field it already carried
  agent-docs/reference/README.md
  website/scripts/generate-doc-indexes.ts
Due: prettier --write, eslint --fix

docs(agent-docs): three plugin-list docs were one subject written three times
  agent-docs/reference/GLOBAL_PLUGINS.md
  agent-docs/reference/PERMANENT_PLUGINS.md
  agent-docs/reference/PLUGIN_INSTALL_RESTART.md
  agent-docs/reference/PLUGIN_LISTS.md
  agent-docs/reference/README.md
  website/docs/user_guides/plugin_store.md
Due: prettier --write

docs(agent-docs): SEQUENCE_ADAPTER was a section of REFNAME_NAMESPACES
  agent-docs/ARCHITECTURE.md
  agent-docs/reference/README.md
  agent-docs/reference/REFNAME_NAMESPACES.md
  agent-docs/reference/SEQUENCE_ADAPTER.md
Due: prettier --write

docs(agent-docs): retire DISPLAY_COMPLEXITY_CENSUS, which had disowned itself
  agent-docs/architecture-decision-records/adr-091-a-displays-settings-are-a-declaration.md
  agent-docs/reference/DISPLAY_COMPLEXITY_CENSUS.md
  agent-docs/reference/README.md
  agent-docs/reference/SESSION_SPEC_FORMAT.md
Due: prettier --write

feat(views): v4's nested `init` is unwrapped and deprecated, not refused
  agent-docs/architecture-decision-records/adr-099-a-view-takes-one-authored-object.md
  agent-docs/reference/VIEW_INIT.md
  packages/app-core/src/SessionSpec/loadSessionSpec.test.ts
  packages/app-core/src/SessionSpec/loadSessionSpec.ts
  packages/app-core/src/SessionSpec/types.ts
  packages/core/src/util/unknownSnapshotKeys.ts
  packages/core/src/util/withLaunchInput.test.ts
  packages/core/src/util/withLaunchInput.ts
  packages/product-core/src/Session/addViewLaunchShape.test.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/launchInput.test.ts
  plugins/circular-view/src/CircularView/launchInput.test.ts
  plugins/dotplot-view/src/DotplotView/launchInput.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/launchInput.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/sameScale.integration.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/launchInput.test.ts
  plugins/spreadsheet-view/src/SpreadsheetView/launchInput.test.ts
  plugins/sv-inspector/src/SvInspectorView/launchInput.test.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.test.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.ts
  products/jbrowse-react-app/src/createApp.test.ts
  website/docs/developer_guides/upgrading_v5.md
  website/scripts/check-doc-surfaces.ts
Due: prettier --write, eslint --fix

docs(release): the changelog carries the 189 commits since it was last written
  website/release_announcement_drafts/v5.0.0.changelog.md
Due: prettier --write

docs(agent-docs): the three screenshot docs are four questions about one harness
  agent-docs/ideas/capture-stability-by-frame-agreement.md
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  agent-docs/reference/CROSS_BACKEND_GATE.md
  agent-docs/reference/FIGURE_CAPTURE.md
  agent-docs/reference/HISTORICAL.md
  agent-docs/reference/README.md
  agent-docs/reference/SCREENSHOT_CALLOUT_ANCHORS.md
  agent-docs/reference/SCREENSHOT_CAPTURE_RACE.md
  agent-docs/reference/SCREENSHOT_PERF.md
  agent-docs/todo/render-webgpu-in-the-blocking-cross-backend-gate-job.md
  plugins/canvas/src/LinearMultiRowFeatureDisplay/components/LinearMultiRowFeatureDisplayComponent.tsx
  products/jbrowse-web/browser-tests/README.md
  products/jbrowse-web/browser-tests/probe-webgpu-coverage.ts
  products/jbrowse-web/browser-tests/snapshot.ts
  website/CLAUDE.md
  website/scripts/check-specs.ts
  website/scripts/specs/synteny.ts
  website/scripts/specs/tcga.ts
Due: prettier --write, eslint --fix

fix(canvas): the strand arrowhead fits the feature it marks
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  plugins/canvas/src/LinearBasicDisplay/components/Canvas2DFeatureRenderer.ts
  plugins/canvas/src/LinearBasicDisplay/components/compactRowGlyphs.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/sharedRendererConstants.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/arrow.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/arrow.js.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/arrow.slang
Due: prettier --write, eslint --fix

fix(core): getViewType hands back the registered state model, not IAnyModelType
  packages/core/src/PluginManager.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/model.ts
  plugins/circular-view/src/CircularView/model.ts
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/spreadsheet-view/src/SpreadsheetView/SpreadsheetViewModel.ts
  plugins/sv-inspector/src/SvInspectorView/model.ts
  products/jbrowse-react-circular-genome-view/src/createModel/createSessionModel.ts
  products/jbrowse-react-linear-genome-view/src/createModel/createSessionModel.ts
Due: prettier --write, eslint --fix

docs(tutorials): name the app a page's output opens in, and fix four claims
  agent-docs/ideas/multihop-sv-review-portal.md
  agent-docs/ideas/tutorial-onboarding-and-accuracy-audit.md
  website/docs/config_guides/variant_track.md
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/analyze_trio.md
  website/docs/tutorials/cancer_sv.md
  website/docs/tutorials/display_settings.md
  website/docs/tutorials/dtu.md
  website/docs/tutorials/hic_structural_variants.md
  website/docs/tutorials/homoeolog_synteny.md
  website/docs/tutorials/k562_fusions.md
  website/docs/tutorials/ld_human.md
  website/docs/tutorials/ld_mosquitoes.md
  website/docs/tutorials/local_ancestry.md
  website/docs/tutorials/mappability_qc.md
  website/docs/tutorials/multiway_synteny_grape_peach_cacao.md
  website/docs/tutorials/population_genomics.md
  website/docs/tutorials/repeatmasker_classes.md
  website/docs/tutorials/selection_pressure.md
  website/docs/tutorials/sv_callset_review.md
  website/docs/tutorials/sv_contact_maps.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
