Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(synteny): the feature-details launch offers the same two destinations
  plugins/linear-comparative-view/src/SyntenyFeatureDetail/LinkToSyntenyView.tsx
  products/jbrowse-web/src/tests/LGVSynteny.test.tsx
Due: prettier --write, eslint --fix

fix(core): "Replace current view" was appending, in every view that has rows
  packages/core/src/ReExports/publicUtil.ts
  packages/core/src/ui/index.ts
  packages/core/src/ui/replaceViewAction.tsx
  packages/core/src/util/canReplaceView.test.ts
  packages/core/src/util/index.ts
  packages/core/src/util/types/index.ts
  plugins/alignments/src/ReadVsRefDialog/ReadVsRefDialog.tsx
  plugins/linear-comparative-view/src/LaunchSyntenyView/LaunchSyntenyViewDialog.tsx
  plugins/linear-comparative-view/src/LaunchSyntenyView/LaunchSyntenyViewForRegionDialog.test.tsx
  plugins/linear-comparative-view/src/LaunchSyntenyView/LaunchSyntenyViewForRegionDialog.tsx
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/LinearDerivativeVsRef.tsx
Due: prettier --write, eslint --fix

perf(synteny): resolve a launch panel's locus once, not once per keystroke
  plugins/linear-comparative-view/src/LaunchSyntenyView/panelOrder.test.ts
  plugins/linear-comparative-view/src/LaunchSyntenyView/panelOrder.ts
Due: prettier --write, eslint --fix

fix(shader-codegen): a candidate is one the emitter can actually emit
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  packages/shader-tools/src/build-shaders.ts
  packages/shader-tools/src/shader-codegen/liftReport.test.ts
  packages/shader-tools/src/shader-codegen/liftReport.ts
  packages/shader-tools/src/shader-codegen/wgslToJs.test.ts
  packages/shader-tools/src/shader-codegen/wgslToJs.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/alignmentsUniforms.slang
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/arc.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/arcLine.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/arcMarker.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/clip.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/connectingLine.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/coverage.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/flatQuad.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/gap.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/indicator.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/insertion.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/interbaseHistogram.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/linkedReadLine.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/mismatch.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/modCoverage.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/overlap.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/packedColorQuad.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/read.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/snpCoverage.generated.ts
Due: prettier --write, eslint --fix

perf(read-cloud): draw flat connectors as quads, not 130-vertex curve hulls
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/GpuAlignmentsRenderer.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/arc.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/arc.slang
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/arcFlat.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/arcFlat.iface.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/arcFlat.slang
  plugins/alignments/src/features/arcs/drawCanvas.ts
  plugins/alignments/src/features/arcs/packGpu.test.ts
  plugins/alignments/src/features/arcs/packGpu.ts
  plugins/alignments/src/features/arcs/uploadGpu.ts
Due: prettier --write, eslint --fix

refactor(linked-reads): generate the connecting-line palette index too
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/alignmentsUniforms.js.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/alignmentsUniforms.slang
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/arc.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/arcFlat.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/arcLine.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/arcMarker.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/clip.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/connectingLine.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/coverage.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/flatQuad.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/gap.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/indicator.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/insertion.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/interbaseHistogram.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/linkedReadLine.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/linkedReadLine.slang
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/mismatch.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/modCoverage.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/overlap.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/packedColorQuad.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/read.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/snpCoverage.generated.ts
  plugins/alignments/src/features/arcs/arcYScale.test.ts
  plugins/alignments/src/features/linkedReads/computeOverlay.ts
Due: prettier --write, eslint --fix

docs: a generated-file conflict is regenerated, never merged
  CLAUDE.md
Due: prettier --write

docs: cut the generated-file rule to the rule
  CLAUDE.md
Due: prettier --write

fix(shader-codegen): sweep every emittable function, and stop propagating NaN
  agent-docs/architecture-decision-records/adr-051-shader-js-codegen-is-scalar-only.md
  agent-docs/reference/SHADER_JS_CODEGEN.md
  packages/ld-core/src/ldStats.generated.ts
  packages/shader-tools/src/check-oracle.ts
  packages/shader-tools/src/shader-codegen/oracleProbe.ts
  packages/shader-tools/src/shader-codegen/parseDirectives.ts
  packages/shader-tools/src/shader-codegen/wgslToJs.test.ts
  packages/shader-tools/src/shader-codegen/wgslToJs.ts
  plugins/alignments/src/shaders/slang/gap.js.generated.ts
  plugins/alignments/src/shaders/slang/overlap.js.generated.ts
  plugins/alignments/src/shaders/slang/read.js.generated.ts
  plugins/gwas/src/LinearManhattanDisplay/shaders/manhattan.js.generated.ts
  plugins/hic/src/LinearHicDisplay/components/shaders/hic.js.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyTypes.js.generated.ts
  plugins/wiggle/src/shared/shaders/wiggle.js.generated.ts
Due: prettier --write, eslint --fix

chore(shader-codegen): say when a scoped run skipped the inventory
  packages/shader-tools/src/build-shaders.ts
Due: prettier --write, eslint --fix

fix(ci): explicit join separator, and a doc path that only exists after figures build
  agent-docs/reference/HOSTING.md
  website/scripts/check-widget-styles.ts
Due: prettier --write, eslint --fix

docs: file the abandoned in-repo graph-plugin revival where it will be found
  agent-docs/reference/PANGENOME_GRAPHS.md
  agent-docs/reference/REJECTED_IDEAS.md
Due: prettier --write

docs(todo): file the PanSN prefix picker and the synteny tiled-outline call
  agent-docs/TODO.md
Due: prettier --write

docs: file the screenshot review's durable half, now that the loop has closed
  agent-docs/reference/DEMO_DATASETS.md
  agent-docs/reference/HOSTING.md
  agent-docs/reference/REJECTED_IDEAS.md
  website/CLAUDE.md
Due: prettier --write

docs(ideas): park the three figure items the review left open
  agent-docs/OTHER_IDEAS.md
Due: prettier --write

style(website): oxfmt the notes just added
  website/CLAUDE.md
Due: prettier --write

docs: retire the agent-memory-retirement handoff
  CLAUDE.md
  agent-docs/handoffs/agent-memory-retirement.md
Due: prettier --write

docs: say how to make a worktree able to run the website scripts
  CLAUDE.md
Due: prettier --write

feat(website): an onion slider on the screenshot review UI
  website/CLAUDE.md
  website/scripts/review-screenshots-web.ts
Due: prettier --write, eslint --fix

docs: name the mechanism for resolving puppeteer out of a worktree
  CLAUDE.md
Due: prettier --write

docs(graph-view): move the rGFA build notes to where they are needed
  website/docs/user_guides/graph_genome_view.md
Due: prettier --write

docs(pangenome-cactus): stop re-explaining the snarl tree and the path walk
  website/docs/tutorials/pangenome_cactus.md
Due: prettier --write

docs(pangenome-hprc): stop restating three things the graph-view guide owns
  website/docs/tutorials/pangenome_hprc.md
Due: prettier --write

docs(pangenome): put the odgi extract -E warning where -E is used
  website/docs/tutorials/pangenome_ecoli.md
Due: prettier --write

docs(canvas): measure the rectSpanPx round trip, which was not behaviour-preserving
  agent-docs/architecture-decision-records/adr-051-shader-js-codegen-is-scalar-only.md
  agent-docs/reference/SHADER_JS_CODEGEN.md
  plugins/canvas/src/LinearBasicDisplay/components/rectSpanParity.test.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/rect.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/rect.slang
Due: prettier --write, eslint --fix

fix(render-core): share the GPU device and override across module copies
  packages/render-core/src/gpuDevice.test.ts
  packages/render-core/src/gpuDevice.ts
Due: prettier --write, eslint --fix

fix(render-core): generate publishConfig.exports from the exports map
  packages/render-core/package.json
  scripts/autogen.ts
  scripts/generate-publish-exports.ts
Due: prettier --write, eslint --fix

test(render-core): guard the public export surface
  packages/render-core/src/__snapshots__/publicApi.test.ts.snap
  packages/render-core/src/publicApi.test.ts
Due: prettier --write, eslint --fix

feat(core): serve dataAdapterCache and the region-renaming RPC bases as ABI
  packages/core/src/ReExports/abiBaseline.json
  packages/core/src/ReExports/list.ts
  packages/core/src/ReExports/modules.ts
  packages/core/src/pluggableElementTypes/index.ts
  website/docs/developer_guides/imports_and_reexports.md
Due: prettier --write, eslint --fix

docs: record the duplication-safety rule render-core's first publish exposed
  PUBLISHING.md
  agent-docs/architecture-decision-records/adr-030-render-core-package-static-import-only.md
  packages/render-core/CLAUDE.md
Due: prettier --write

docs(shader-codegen): say which parity the codegen is actually for
  agent-docs/architecture-decision-records/adr-051-shader-js-codegen-is-scalar-only.md
  agent-docs/reference/SHADER_JS_CODEGEN.md
  plugins/canvas/src/LinearBasicDisplay/components/rectSpanParity.test.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/rect.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/rect.slang
Due: prettier --write, eslint --fix

docs(figures): publish the 210 figures the trackLabelOffset change moved
  figures.lock
Due: none

docs: recover four findings and one decision from a deleted clone's memory
  CLAUDE.md
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-063-promotable-defaults-stay-read-time.md
  agent-docs/reference/HOSTING.md
  agent-docs/reference/PERF_INSTRUMENTATION.md
  agent-docs/reference/REJECTED_IDEAS.md
  agent-docs/reference/TEST_INFRASTRUCTURE.md
Due: prettier --write

fix(shader-codegen): scale oracle draws by arity, and finish the NaN fix it found
  packages/alignments-core/src/insertionWidth.generated.ts
  packages/ld-core/src/ldStats.generated.ts
  packages/render-core/src/shaders/rowRect.js.generated.ts
  packages/shader-tools/src/shader-codegen/oracleProbe.ts
  packages/shader-tools/src/shader-codegen/wgslToJs.test.ts
  packages/shader-tools/src/shader-codegen/wgslToJs.ts
  plugins/alignments/src/shaders/slang/alignmentsUniforms.js.generated.ts
  plugins/alignments/src/shaders/slang/mismatch.js.generated.ts
  plugins/alignments/src/shaders/slang/read.js.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/chevron.js.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/continuation.js.generated.ts
  plugins/gwas/src/LinearManhattanDisplay/shaders/manhattan.js.generated.ts
  plugins/hic/src/LinearHicDisplay/components/shaders/hic.js.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyTypes.js.generated.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/shaders/variant.js.generated.ts
  plugins/wiggle/src/shared/shaders/wiggle.js.generated.ts
Due: prettier --write, eslint --fix

docs: record that an ABI addition is a version floor for the next plugin build
  agent-docs/reference/PLUGIN_ABI_STABILITY.md
Due: prettier --write

refactor(alignments): drop the single-field wrapper around a path's read group
  plugins/alignments/src/features/derivativePaths/computePaths.ts
Due: prettier --write, eslint --fix

docs(sv): state the line the derivative reconstruction does not cross
  agent-docs/reference/SV_MULTIHOP.md
  plugins/alignments/src/features/derivativePaths/computePaths.test.ts
  plugins/alignments/src/features/derivativePaths/computePaths.ts
Due: prettier --write, eslint --fix

docs: say where a worktree's @jbrowse/* imports actually resolve
  CLAUDE.md
Due: prettier --write

fix(wiggle): keep multi-row axis labels inside the track
  packages/wiggle-core/src/YScaleBar.test.tsx
  packages/wiggle-core/src/YScaleBar.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/MultiWiggleSvgScales.test.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/MultiWiggleSvgScales.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
