Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

refactor(core): delete the dead util code the audit identified
  packages/core/src/util/aborting.ts
  packages/core/src/util/blobToDataURL.ts
  packages/core/src/util/blockTypes.ts
  packages/core/src/util/calculateStaticBlocks.test.ts
  packages/core/src/util/color-bits/format.ts
  packages/core/src/util/color-bits/index.ts
  packages/core/src/util/color/index.ts
  packages/core/src/util/compositeMap.test.ts
  packages/core/src/util/compositeMap.ts
  packages/core/src/util/flatbush/index.ts
  packages/core/src/util/flatqueue/README.md
  packages/core/src/util/flatqueue/index.ts
  packages/core/src/util/index.ts
  packages/core/src/util/locString.ts
  packages/core/src/util/nanoid.ts
  packages/core/src/util/offscreenCanvasPonyfill.ts
  packages/core/src/util/range.ts
  packages/core/src/util/seqUtils.ts
  packages/core/src/util/sessionSharing.ts
  packages/core/src/util/stopToken.ts
  packages/core/src/util/transferables.test.ts
  packages/core/src/util/transferables.ts
  products/jbrowse-web/src/sessionSharing.ts
Due: prettier --write, eslint --fix

docs(agent): record the dead-code pass and the plugin-ABI gate
  agent-docs/CORE_UTIL_AUDIT.md
Due: prettier --write

fix(core): order the getFileName re-export ahead of the tracks.ts cycle
  packages/core/src/util/tracks.ts
Due: prettier --write, eslint --fix

test: update the SVG export snapshots for the restored bold font-weight
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgError.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgLinearSyntenyView.test.tsx.snap
Due: none

fix(product-core): unwrap a feature proxy on the way into the selection
  packages/core/src/util/simpleFeature.test.ts
  packages/product-core/src/Session/BaseSession.ts
Due: prettier --write, eslint --fix

test: regenerate the VcfCluster snapshot for the connector-lines band
  products/jbrowse-web/src/tests/__snapshots__/VcfCluster.test.tsx.snap
Due: none

fix(core): make the track-assembly cache reactive and stop revalidating tree confs
  packages/core/src/util/renderToStaticMarkup.test.tsx
  packages/core/src/util/renderToStaticMarkup.ts
  packages/core/src/util/tracks.ts
Due: prettier --write, eslint --fix

fix(cli): realign the add-track guesser with the browser's
  products/jbrowse-cli/src/commands/add-track-utils/adapter-utils.test.ts
  products/jbrowse-cli/src/commands/add-track-utils/adapter-utils.ts
Due: prettier --write, eslint --fix

docs(agent): record the reactivity, showTrack and CLI-guesser fixes
  agent-docs/CORE_UTIL_AUDIT.md
Due: prettier --write

docs(pangenome): pin the tethered-label build, and derive the local graph configs
  agent-docs/guides/GRAPH_DELETION_ARC_HANDOFF.md
  test_data/graphgenomeview/config.json
  test_data/graphgenomeview/ecoli_pangenome.json
  test_data/graphgenomeview/hprc.json
  website/scripts/specs/graph.ts
  website/static/img/pangenome/hprc_lpa_kiv2.png
Due: prettier --write, eslint --fix

fix(canvas): keep main-thread-only config slots out of the RPC cache key
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/fetchAutorun.test.ts
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
Due: prettier --write, eslint --fix

fix(canvas): match layout's min-width clamp to the renderers'
  plugins/canvas/src/LinearBasicDisplay/layout.test.ts
  plugins/canvas/src/LinearBasicDisplay/layout.ts
Due: prettier --write, eslint --fix

fix(canvas): pack a zero-width rect sitting on a region boundary
  plugins/canvas/src/RenderFeatureDataRPC/packRenderArrays.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/packRenderArrays.ts
Due: prettier --write, eslint --fix

refactor(canvas): take collectRenderData's arguments as one object
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.ts
  plugins/canvas/src/RenderFeatureDataRPC/executeRenderFeatureData.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/matureProteinRegion.test.ts
Due: prettier --write, eslint --fix

fix(canvas): draw a motif's tick when only its bottom-strand cut is known
  plugins/canvas/src/RenderFeatureDataRPC/collect/glyphEmitters.ts
  plugins/canvas/src/RenderFeatureDataRPC/collect/motifEmit.test.ts
Due: prettier --write, eslint --fix

refactor(core): one codon table, and get the util barrel's weight down
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/types.ts
  packages/core/src/BaseFeatureWidget/SequenceFeatureDetails/useSequenceData.ts
  packages/core/src/util/dataGridUtils.ts
  packages/core/src/util/environment.ts
  packages/core/src/util/geneticCodes.test.ts
  packages/core/src/util/geneticCodes.ts
  packages/core/src/util/getStr.ts
  packages/core/src/util/index.ts
  packages/core/src/util/io/index.ts
  packages/core/src/util/objectUtils.ts
  packages/core/src/util/openFeatureWidget.ts
  packages/core/src/util/revlist.ts
  packages/core/src/util/seqUtils.test.ts
  packages/core/src/util/seqUtils.ts
Due: prettier --write, eslint --fix

docs(agent): record the rpcProps blocklist as its own refetch hazard
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
Due: prettier --write

refactor(core): finish splitting the util barrel grab-bag
  packages/core/src/util/color-bits/core.ts
  packages/core/src/util/index.ts
  packages/core/src/util/locString.ts
  packages/core/src/util/reorder.test.ts
  packages/core/src/util/reorder.ts
  packages/core/src/util/stringUtils.ts
Due: prettier --write, eslint --fix

docs: regenerate the model docs for the setSelection docstring
  website/docs/models/BaseSessionModel.md
  website/docs/models/BaseWebSessionModel.md
  website/docs/models/EmbeddedSessionThemeMixin.md
  website/docs/models/JBrowseDesktopSessionModel.md
  website/docs/models/JBrowseReactCircularGenomeViewSessionModel.md
  website/docs/models/JBrowseReactLinearGenomeViewSessionModel.md
  website/docs/models/JBrowseWebSessionModel.md
  website/docs/models/MultipleViewsSessionMixin.md
  website/docs/models/PreferencesSessionMixin.md
  website/docs/models/SessionTracksManagerSessionMixin.md
  website/docs/models/TracksManagerSessionMixin.md
Due: prettier --write

docs(agent): record the structural pass in the core/util audit
  agent-docs/CORE_UTIL_AUDIT.md
Due: prettier --write

fix(synteny): pad the fill geometry for the sub-pixel band, and drop the measured AA width
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurvePad.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillPad.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyTypes.slang
Due: prettier --write, eslint --fix

fix(website): make closeMenusFirst actually close menus, and prove it did
  agent-docs/guides/GRAPH_DELETION_ARC_HANDOFF.md
  website/scripts/generate-screenshots.ts
Due: prettier --write, eslint --fix

refactor(synteny): give the two fill passes one shared varying struct and fragment
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/AGENTS.md
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/GpuSyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyTypes.slang
Due: prettier --write, eslint --fix

fix(core): ResizeHandle drops its hand-rolled rAF for useRafCommit
  config/jest/pointerEvents.js
  jest.config.js
  packages/core/src/ui/ResizeHandle.test.tsx
  packages/core/src/ui/ResizeHandle.tsx
Due: prettier --write, eslint --fix

refactor: name the three shorten()s for what they do, and drop the when wrapper
  packages/core/src/assemblyManager/assemblyManager.ts
  packages/core/src/ui/FileSelector/util.test.ts
  packages/core/src/ui/FileSelector/util.ts
  packages/core/src/util/index.ts
  packages/core/src/util/io/RemoteFileWithRangeCache.ts
  packages/core/src/util/when.ts
  packages/sv-core/src/navToMultiLevelBreak.ts
  packages/sv-core/src/navToSingleLevelBreak.ts
  plugins/trix/src/TrixTextSearchAdapter/TrixTextSearchAdapter.test.ts
  plugins/trix/src/TrixTextSearchAdapter/TrixTextSearchAdapter.ts
Due: prettier --write, eslint --fix

docs(agent): record the ResizeHandle, naming and wrapper cleanups
  agent-docs/CORE_UTIL_AUDIT.md
Due: prettier --write

docs(pangenome): bow the deletion arcs around what they skip, and repin
  agent-docs/guides/GRAPH_DELETION_ARC_HANDOFF.md
  test_data/graphgenomeview/config.json
  test_data/graphgenomeview/ecoli_pangenome.json
  test_data/graphgenomeview/hprc.json
  website/docs/tutorials/pangenome_hprc.md
  website/static/img/pangenome/hprc_amylase_graph.png
  website/static/img/pangenome/hprc_mhc_anchored.png
  website/static/img/pangenome/hprc_mhc_layout_anchored.png
  website/static/img/pangenome/hprc_mhc_layout_force.png
Due: prettier --write

fix(synteny): stroke the clicked outline against the analytic bezier, not chords
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/AGENTS.md
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/GpuSyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillPad.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyTypes.slang
Due: prettier --write, eslint --fix

test(synteny): add the pass-geometry pins referenced by the previous commit
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyPassGeometry.test.ts
Due: prettier --write, eslint --fix

fix(alignments): read cloud stops parking unset-TLEN pairs on the baseline
  plugins/alignments/src/LinearAlignmentsDisplay/insertSizeTicks.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/GpuAlignmentsRenderer.ts
  plugins/alignments/src/features/arcs/arcYScale.ts
  plugins/alignments/src/features/arcs/compute.test.ts
  plugins/alignments/src/features/arcs/compute.ts
  plugins/alignments/src/features/arcs/drawCanvas.ts
  plugins/alignments/src/features/arcs/packGpu.ts
  plugins/alignments/src/features/arcs/types.ts
  plugins/alignments/src/features/arcs/uploadGpu.ts
Due: prettier --write, eslint --fix

fix(synteny): size the AA ramps by devicePixelRatio, not a bare CSS pixel
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/GpuSyntenyRenderer.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/GpuSyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillPad.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyTypes.slang
Due: prettier --write, eslint --fix

docs(wiggle): explain why the capsule SDF's ddx/ddy is not redundant
  plugins/wiggle/src/shared/shaders/wiggle.generated.ts
  plugins/wiggle/src/shared/shaders/wiggle.slang
Due: prettier --write, eslint --fix

docs(pangenome): retire the backbone graph layouts, and answer the round
  scripts/build_dog10k_fgf4_synteny.sh
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/dog10k_retrogene.md
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/user_guides/graph_genome_view.md
  website/scripts/figure-manifest.json
  website/scripts/gen-tutorial-thumbs.ts
  website/scripts/screenshot-review.json
  website/scripts/specs/dog10k.ts
  website/scripts/specs/graph.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/dog10k-fgf4-retrogene.png
  website/static/img/pangenome/hprc_graph_vs_callset.png
  website/static/img/pangenome/hprc_mhc_anchored.png
  website/static/img/pangenome/hprc_mhc_layout_anchored.png
  website/static/img/pangenome/hprc_mhc_layout_force.png
  website/static/img/pangenome/pggb_locus_graph.png
  website/static/img/pangenome/rgfa_launch_out_menu.png
  website/static/img/pangenome/rgfa_paa_bubble.png
  website/static/img/pangenome/rgfa_segment_neighbourhood.png
  website/static/img/pangenome/rgfa_strain_launch.png
  website/static/img/pangenome/rgfa_subgraph_launch.png
  website/static/img/tutorial-thumbs/dog10k_retrogene.webp
Due: prettier --write, eslint --fix

docs(pangenome): publish the deletion-label rewording and repin the graph plugin
  test_data/graphgenomeview/config.json
  test_data/graphgenomeview/ecoli_pangenome.json
  test_data/graphgenomeview/hprc.json
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/screenshot-review.json
  website/static/img/pangenome/hprc_amylase_graph.png
  website/static/img/pangenome/hprc_c4_subgraph.png
  website/static/img/pangenome/hprc_cfhr_deletion.png
  website/static/img/pangenome/hprc_graph_vs_callset.png
  website/static/img/pangenome/hprc_lpa_kiv2.png
  website/static/img/pangenome/hprc_mhc_anchored.png
  website/static/img/pangenome/hprc_mhc_layout_anchored.png
  website/static/img/pangenome/hprc_mhc_layout_force.png
  website/static/img/pangenome/hprc_node_menu.png
  website/static/img/tutorial-thumbs/pangenome_hprc.webp
Due: prettier --write

feat(canvas): tier the auto label gate so descriptions drop before names
  plugins/canvas/src/LinearBasicDisplay/baseConfigSchema.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/fetchAutorun.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/zoomThresholds.ts
  website/docs/config/LinearBasicDisplay.md
  website/docs/config/LinearCanvasBaseDisplay.md
  website/docs/config/LinearVariantDisplay.md
Due: prettier --write, eslint --fix

docs(pangenome): make the pggb tutorial answer a pggb reviewer
  scripts/build_ecoli_pangenome_graph.sh
  scripts/odgi_similarity_to_newick.py
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/user_guides/graph_genome_view.md
  website/scripts/specs/demoBase.ts
  website/scripts/specs/graph.ts
  website/scripts/specs/pangenome.ts
  website/static/img/pangenome/graph_resolution.png
  website/static/img/pangenome/graph_resolution_minigraph.png
  website/static/img/pangenome/graph_resolution_pggb.png
Due: prettier --write, eslint --fix

fix(pangenome): keep the pggb image pin, the newer one does not collapse
  scripts/build_ecoli_pangenome_graph.sh
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/specs/pangenome.ts
Due: prettier --write, eslint --fix

feat(canvas): collapse showLabels + showDescriptions into one label enum
  plugins/canvas/src/LinearBasicDisplay/baseConfigSchema.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/baseModelHelpers.ts
  plugins/canvas/src/LinearBasicDisplay/configSchema.test.ts
  plugins/canvas/src/LinearBasicDisplay/featureHeightMenu.test.ts
  plugins/canvas/src/LinearBasicDisplay/fetchAutorun.test.ts
  plugins/canvas/src/LinearBasicDisplay/fitToDisplayHeight.test.ts
  plugins/canvas/src/LinearBasicDisplay/hitTestCaching.test.ts
  plugins/canvas/src/LinearBasicDisplay/migrateBasicSnapshot.ts
  plugins/canvas/src/LinearBasicDisplay/showLabelsMode.ts
  plugins/canvas/src/LinearBasicDisplay/trackMenuShape.test.ts
  plugins/canvas/src/LinearBasicDisplay/trackMenus.ts
  plugins/canvas/src/RenderFeatureDataRPC/zoomThresholds.ts
  products/jbrowse-web/src/tests/VariantVocabulary.test.tsx
  website/docs/config/LinearBasicDisplay.md
  website/docs/config/LinearCanvasBaseDisplay.md
  website/docs/config/LinearVariantDisplay.md
Due: prettier --write, eslint --fix

Format and autogen docs
  package.json
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.test.ts
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix
