Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Cactus tutorial runs its own genome, depth and presence steps
  website/docs/tutorials/pangenome_cactus.md
  website/scripts/figure-actions.txt
Due: prettier --write

Cattle tutorial: OMIA lane built before it loads, no identity PanSN map
  scripts/build_bovine_pangenome.sh
  website/docs/tutorials/pangenome_cattle.md
Due: prettier --write

pggb tutorial: stack route on the page, captions match their frames
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/specs/graph-ecoli.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

HPRC part 2: amylase captions and build line match what they draw
  website/docs/tutorials/pangenome_hprc_haplotypes.md
Due: prettier --write

HPRC part 1: current filter slot, headings that name their subject
  website/docs/tutorials/pangenome_hprc.md
Due: prettier --write

HPRC part 3: headings name the repeat, paragraphs read cold
  website/docs/tutorials/pangenome_hprc_repeats.md
Due: prettier --write

Mouse tutorial: no identity PanSN map, headings say what they find
  website/docs/tutorials/pangenome_mouse.md
Due: prettier --write

Hosting-your-own-graph tutorial names its one command in the heading
  website/docs/tutorials/pangenome_prepare_graph.md
Due: prettier --write

Gene density tutorial builds its tracks before the first figure
  website/docs/tutorials/gene_density.md
Due: prettier --write

Pangenome tutorials: prose pass over the review rewrites
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_cattle.md
  website/docs/tutorials/pangenome_hprc_haplotypes.md
  website/docs/tutorials/pangenome_mouse.md
Due: prettier --write

Alu age tutorial: sidecar command uses the lengths file it lists
  website/docs/tutorials/alu_age.md
Due: prettier --write

Gene prediction tutorial: Tiberius introduced, merge heading names the genes
  website/docs/tutorials/gene_prediction_review.md
Due: prettier --write

Read marks tutorial: captions without coordinates, honest hosted config
  website/docs/tutorials/read_marks.md
Due: prettier --write

Methylation pages: give the SNRPN locus, and gloss what the openings assume
  website/docs/tutorials/bisulfite.md
  website/docs/tutorials/methylation.md
  website/scripts/specs/methylation.ts
Due: prettier --write, eslint --fix

alphagenome: name each route the panel takes, and what the figures show
  website/docs/tutorials/alphagenome.md
Due: prettier --write

Single-cell pages: say how to get the whole multi-wiggle fence
  website/docs/tutorials/scatac_pseudobulk.md
  website/docs/tutorials/scrna_pseudobulk.md
Due: prettier --write

chromhmm: NHEK opens HOXA through HOXA10, and the Roadmap fence says what it omits
  website/docs/tutorials/chromhmm.md
Due: prettier --write

RNA-seq, DTU and TP53 pages: locations before figures, real menu labels
  website/docs/tutorials/dtu.md
  website/docs/tutorials/rnaseq.md
  website/docs/tutorials/tp53_structures.md
  website/scripts/specs/dtu.ts
Due: prettier --write, eslint --fix

genomes.jbrowse.org pages: routes to each view, and captions that match
  website/docs/tutorials/genomes_basics.md
  website/docs/tutorials/genomes_proteins.md
  website/docs/tutorials/genomes_synteny.md
  website/docs/tutorials/repeatmasker_classes.md
Due: prettier --write

Regenerate live links and hold the figure-actions gain
  website/scripts/figure-actions.txt
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

A tandem repeat allele is labelled by its own runs, not the reference's SVLEN
  plugins/variants/src/VariantFeatureWidget/AltFormatter.tsx
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/tandemRepeat.ts
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.test.tsx
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
  plugins/variants/src/VcfFeature/index.test.ts
  plugins/variants/src/VcfFeature/util.ts
  plugins/variants/src/shared/tandemRepeatRuns.ts
Due: prettier --write, eslint --fix

A sequence insertion's size is the SVLEN its record states
  plugins/variants/src/shared/alleleLength.test.ts
  plugins/variants/src/shared/alleleLength.ts
Due: prettier --write, eslint --fix

Dotplot axis labels fit their gutter by measured width
  plugins/dotplot-view/src/DotplotView/1dview.ts
  plugins/dotplot-view/src/DotplotView/components/util.test.ts
  plugins/dotplot-view/src/DotplotView/components/util.ts
Due: prettier --write, eslint --fix

chore: pre-push autofix
  website/scripts/long-captions.txt
Due: none

v5 changelog names the figure button by its new label
  website/release_announcement_drafts/v5.0.0.changelog.md
Due: prettier --write

BigBed search test configures its track the way a hub builds it
  plugins/bed/src/BigBedTextSearchAdapter/navigation.test.ts
Due: prettier --write, eslint --fix

HPRC part 1 points at the graph build instead of handing it over bare
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/check-prereq-tools.ts
Due: prettier --write, eslint --fix

Callouts in two cancer figures drop an em-dash and specific values
  website/scripts/specs/cancer_sv.ts
  website/scripts/specs/sv.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

cancer_sv and k562_fusions: headings, glosses and missing routes
  website/docs/tutorials/cancer_sv.md
  website/docs/tutorials/k562_fusions.md
Due: prettier --write

sv_callset_review: headings that read alone, and the --manifest step
  website/docs/tutorials/sv_callset_review.md
Due: prettier --write

sv_visualization_cgiab: routes that run, and chr17's LOH boundary
  website/docs/tutorials/sv_visualization_cgiab.md
  website/scripts/figure-actions.txt
Due: prettier --write

TCGA cohort pages: hub source, CDH1 route before its figure, headings
  website/docs/tutorials/tcga_cohort_cnv.md
  website/docs/tutorials/tcga_cohort_mutations.md
Due: prettier --write

mappability_qc: GIAB flags two intervals over SMN, not one
  website/docs/tutorials/mappability_qc.md
Due: prettier --write

hic_structural_variants: track configs before the figures that need them
  website/docs/tutorials/hic_structural_variants.md
Due: prettier --write

population_cnv and sv_multisamples: say the PUR fence is cut, name RHD
  website/docs/tutorials/population_cnv.md
  website/docs/tutorials/sv_multisamples.md
Due: prettier --write

tutorials/CLAUDE.md stops calling the read-along bullet load-bearing
  website/docs/introduction.md
  website/docs/tutorials/CLAUDE.md
Due: prettier --write

allvsall_synteny: cold-start paragraphs, routes to every figure, script steps
  website/docs/tutorials/allvsall_synteny.md
Due: prettier --write

circular_synteny: assemblies that load the ring, sessions that match figures
  website/docs/tutorials/circular_synteny.md
  website/scripts/figure-actions.txt
Due: prettier --write

hg002_haplotypes: an opening in the reader's terms, a check against the chain
  website/docs/tutorials/hg002_haplotypes.md
Due: prettier --write

ecoli_orthologs_synteny: say where the 44-genome track is, fix the legend path
  website/docs/tutorials/ecoli_orthologs_synteny.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
