Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

docs(encoding): GenomeSpy's answers at the encoder seam
  agent-docs/reference/MARK_ENCODING.md
Due: prettier --write

docs(reference): the mark layer against the grammar of graphics, and the handoff closed
  agent-docs/TODO.md
  agent-docs/architecture-decision-records/adr-106-a-display-declares-its-marks.md
  agent-docs/handoffs/README.md
  agent-docs/handoffs/mark-grammar-v5.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  agent-docs/reference/README.md
  agent-docs/reference/diagrams/grammar-pipeline.dot
  agent-docs/reference/diagrams/grammar-pipeline.svg
  agent-docs/todo/look-at-the-mark-layers-guides-in-a-real-browser.md
Due: prettier --write

docs(handoffs): retire the proteinview thread, all three items settled
  agent-docs/handoffs/README.md
  agent-docs/handoffs/proteinview-agent-docs.md
  website/scripts/check-agent-doc-types.ts
Due: prettier --write, eslint --fix

fix(alignments): a hover leave respects the menu's pin, and a chain selection clears
  packages/sv-core/src/hiddenSegments.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/CrossRegionArcsOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupBezierOverlay.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupBezierOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiArcsOverlay.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiArcsOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/pileupBezierArcs.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/useAlignmentsBase.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
Due: prettier --write, eslint --fix

docs(autogen): the two new alignments model members
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write

fix(alignments): a hovered connector boxes each end on its own row
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupBezierOverlay.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupBezierOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/computeHighlightBoxes.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/computeHighlightBoxes.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/panState.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/useAlignmentsBase.ts
Due: prettier --write, eslint --fix

fix(comparative): the multi-region fetch emits in region order
  agent-docs/handoffs/synteny-docs-accuracy.md
  agent-docs/ideas/multiway-synteny-analysis-2026-09-06.md
  agent-docs/reference/HOSTING.md
  plugins/comparative-adapters/src/ComparativeAdapterBase.ts
  plugins/comparative-adapters/src/clipFeatureToRegion.test.ts
  website/docs/tutorials/primate_orthologs_synteny.md
  website/scripts/check-menu-labels.ts
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

chore(autogen): the two reshot figures' live links, and the handoff index
  agent-docs/handoffs/README.md
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

fix(figures): the amylase gene track names its display type
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

figures: the reshot chr17 inversions and amylase cluster
  figures.lock
Due: none

docs(take): turn one's whole-genome frame, seen and framed
  agent-docs/handoffs/record-ecoli-synteny-take.md
  scripts/agent-demos/takes/ecoli_synteny.md
Due: prettier --write

docs(handoffs): the multiway figures are shot, and the section that asked for them says so
  agent-docs/handoffs/README.md
  agent-docs/handoffs/multiway-graph-native.md
Due: prettier --write

test(axis): the exported coverage axis moves into the export margin
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-109-a-display-declares-its-value-scale.md
  agent-docs/ideas/row-display-followups.md
  agent-docs/reference/ARC_BAND.md
  plugins/alignments/src/features/arcs/compute.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  products/jbrowse-web/src/tests/__image_snapshots__/alignments_vector_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/breakpoint_split_view_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_gridlines_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/wiggle_vector_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgBreakpointSplitView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgDisplayTypes.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgLinearGenomeView.test.tsx.snap
  scripts/chromeBundleSizes.json
Due: prettier --write, eslint --fix

fix(alignments): use dataset API instead of setAttribute for data attributes
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupBezierOverlay.test.tsx
Due: prettier --write, eslint --fix

feat(display-kit): the chrome lights what a display says is highlighted
  packages/core/package.json
  packages/display-kit/src/ChromeHighlight.tsx
  packages/display-kit/src/DisplayChrome.test.tsx
  packages/display-kit/src/DisplayChromeBase.tsx
  packages/display-kit/src/highlightHost.ts
Due: prettier --write, eslint --fix

feat(render-core): a shape declares its ink, and the box implies the hit test
  packages/render-core/src/marks/barMark.ts
  packages/render-core/src/marks/drawAgainstHit.ts
  packages/render-core/src/marks/glyphPaint.ts
  packages/render-core/src/marks/index.ts
  packages/render-core/src/marks/markHit.test.ts
  packages/render-core/src/marks/markHit.ts
  packages/render-core/src/marks/markInk.test.ts
  packages/render-core/src/marks/markInk.ts
  packages/render-core/src/marks/pointMark.ts
  packages/render-core/src/marks/spanMark.test.ts
  packages/render-core/src/marks/spanMark.ts
  packages/render-core/src/marks/types.ts
Due: prettier --write, eslint --fix

feat(marks): the plugin shapes declare their ink
  packages/render-core/src/marks/index.ts
  plugins/alignments/src/features/pileupShape.ts
  plugins/alignments/src/features/read/mark.ts
  plugins/canvas/src/LinearBasicDisplay/marks/featureGlyphShapes.test.ts
  plugins/canvas/src/LinearBasicDisplay/marks/featureGlyphShapes.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/cellMark.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/shaders/variant.generated.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/shaders/variant.iface.generated.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/shaders/variant.slang
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/variantMarks.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/variantMarks.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/matrixCellMark.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/shaders/variantMatrix.generated.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/shaders/variantMatrix.iface.generated.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/shaders/variantMatrix.slang
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/variantMatrixMarks.test.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/variantMatrixMarks.ts
Due: prettier --write, eslint --fix

feat(canvas): the multi-row display lights its hovered block through the chrome
  plugins/canvas/src/LinearMultiRowFeatureDisplay/components/LinearMultiRowFeatureDisplayComponent.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/components/MultiRowHoverHighlight.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/featureAt.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/hitTesting.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/blockScreenRect.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/blockScreenRect.ts
  products/jbrowse-web/browser-tests/suites/cursor-guides.ts
  website/docs/models/LinearMultiRowFeatureDisplay.md
Due: prettier --write, eslint --fix

feat(marks): the mark display lights its hovered instance
  packages/display-kit/package.json
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  website/docs/models/LinearMarkDisplay.md
Due: prettier --write, eslint --fix

feat(variants): the multi-sample display lights its hovered cell through the chrome
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/VariantComponent.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/VariantLaneOverlay.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/model.ts
  products/jbrowse-web/browser-tests/suites/variants.ts
  website/docs/models/LinearMultiSampleVariantDisplay.md
Due: prettier --write, eslint --fix

feat(alignments): the pileup lights its hovered read or chain through the chrome
  plugins/alignments/src/LinearAlignmentsDisplay/components/ArcHoverOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/HighlightOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupComponent.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/computeHighlightBoxes.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/computeHighlightBoxes.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/pileupBezierArcs.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/readHighlightInk.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/readHighlightInk.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/Canvas2DAlignmentsRenderer.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/rendererTypes.ts
  plugins/alignments/src/features/read/hitTest.ts
  plugins/alignments/src/index.ts
Due: prettier --write, eslint --fix

fix(render-core): point keeps its centre hit test beside its ink
  packages/render-core/src/marks/drawAgainstHit.test.ts
  packages/render-core/src/marks/markHit.test.ts
  packages/render-core/src/marks/markHit.ts
  packages/render-core/src/marks/pointMark.ts
Due: prettier --write, eslint --fix

feat(gwas): the Manhattan display lights its hovered point through the chrome
  plugins/gwas/src/LinearManhattanDisplay/clearHover.test.ts
  plugins/gwas/src/LinearManhattanDisplay/components/HoverHighlight.tsx
  plugins/gwas/src/LinearManhattanDisplay/components/LinearManhattanDisplayComponent.tsx
  plugins/gwas/src/LinearManhattanDisplay/findManhattanHit.test.ts
  plugins/gwas/src/LinearManhattanDisplay/findManhattanHit.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
  website/docs/models/LinearManhattanDisplay.md
Due: prettier --write, eslint --fix

docs: ADR-110, the highlight as the third guide, and the example on ink
  agent-docs/architecture-decision-records/adr-110-a-display-declares-what-is-highlighted.md
  agent-docs/reference/GPU_RENDERING.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  example-plugins/score-example/src/LinearScoreDisplay/findScoreHit.ts
  example-plugins/score-example/src/LinearScoreDisplay/model.ts
  example-plugins/score-example/src/LinearScoreDisplay/scoreMark.ts
  example-plugins/score-example/src/LinearScoreDisplay/scoreMarks.test.ts
  packages/display-kit/src/ChromeHighlight.tsx
  packages/render-core/CLAUDE.md
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/developer_guides/creating_gpu_display.md
  website/docs/developer_guides/imports_and_reexports.md
  website/docs/developer_guides/plotting_features.md
  website/docs/models/LinearScoreDisplay.md
Due: prettier --write, eslint --fix

test(alignments): the row-key merge case, pinned on the walk
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-110-a-display-declares-what-is-highlighted.md
  plugins/alignments/src/LinearAlignmentsDisplay/components/readHighlightInk.test.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/chromeBundleSizes.json
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write, eslint --fix

fix(marks): the pileup ink covers what its painter fills, and the export stacks the axis under the key
  packages/alignments-core/src/index.ts
  packages/alignments-core/src/labelConstants.ts
  packages/alignments-core/src/rendererUtils.ts
  packages/display-kit/src/__snapshots__/publicApi.test.ts.snap
  packages/display-kit/src/renderDisplaySvg.test.tsx
  packages/display-kit/src/renderDisplaySvg.tsx
  packages/render-core/src/marks/types.ts
  plugins/alignments/src/LinearAlignmentsDisplay/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/components/readHighlightInk.ts
  plugins/alignments/src/features/arcs/cloudUnplaced.test.ts
  plugins/alignments/src/features/arcs/compute.test.ts
  plugins/alignments/src/features/insertion/mark.ts
  plugins/alignments/src/features/pileupInk.test.ts
  plugins/alignments/src/features/pileupShape.ts
  plugins/maf/src/LinearMafDisplay/components/MafBandLabels.tsx
Due: prettier --write, eslint --fix

docs(reference): the separator lines' rgba workaround lives in RowSeparatorLines now
  agent-docs/reference/CORE_UTIL_AUDIT.md
Due: prettier --write

docs(adr-109): what a ValueScale member may describe, and what it may not
  agent-docs/architecture-decision-records/adr-109-a-display-declares-its-value-scale.md
  packages/display-ui/README.md
  packages/display-ui/src/valueScale.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  website/docs/api/display-ui.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write, eslint --fix

docs: the pin does two jobs and shows one
  agent-docs/ideas/README.md
  agent-docs/ideas/the-pin-does-two-jobs-and-shows-one.md
Due: prettier --write

feat(encoding): a feature the encoder cannot place is counted, and the display says so
  agent-docs/reference/MARK_ENCODING.md
  example-plugins/score-example/src/LinearScoreDisplay/scoreMarks.test.ts
  packages/core/README.md
  packages/core/src/util/markEncoding.test.ts
  packages/core/src/util/markEncoding.ts
  packages/core/src/util/markEncodingTypes.ts
  packages/display-kit/package.json
  packages/display-kit/src/SkippedFeaturesIndicator.test.tsx
  packages/display-kit/src/SkippedFeaturesIndicator.tsx
  packages/display-kit/src/__snapshots__/publicApi.test.ts.snap
  plugins/gwas/src/LinearManhattanDisplay/components/LinearManhattanDisplayComponent.tsx
  plugins/gwas/src/LinearManhattanDisplay/components/manhattanDisplayTypes.ts
  plugins/gwas/src/LinearManhattanDisplay/manhattanFixture.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
  plugins/marks/src/LinearMarkDisplay/components/LinearMarkDisplayComponent.tsx
  plugins/marks/src/LinearMarkDisplay/components/markDisplayTypes.ts
  plugins/marks/src/LinearMarkDisplay/markList.test.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  products/jbrowse-web/src/tests/FeatureTrackQuantitative.test.tsx
  products/jbrowse-web/src/tests/MarkDisplay.test.tsx
  website/docs/api/core.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMarkDisplay.md
Due: prettier --write, eslint --fix

feat(encoding): the transform stage is a typed step list, with filters as sugar
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  agent-docs/reference/MARK_ENCODING.md
  packages/core/README.md
  packages/core/src/rpc/methods/CoreEncodeFeatures.test.ts
  packages/core/src/rpc/methods/CoreEncodeFeatures.ts
  packages/core/src/util/markEncoding.ts
  packages/core/src/util/markEncodingTypes.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/api/core.md
  website/docs/models/LinearMarkDisplay.md
Due: prettier --write, eslint --fix

docs(adr-106): startEnd stays interleaved, and why
  agent-docs/architecture-decision-records/adr-106-a-display-declares-its-marks.md
Due: prettier --write

fix(config): a shorthand fills in locations, it does not overwrite the ones you named
  packages/core/src/configuration/fillLocations.ts
  packages/core/src/configuration/index.ts
  packages/core/src/configuration/tabixShorthand.ts
  packages/core/src/data_adapters/CytobandAdapter/configSchema.ts
  plugins/alignments/src/BamAdapter/configSchema.ts
  plugins/alignments/src/BamAdapter/normalizeSnapshot.test.ts
  plugins/alignments/src/CramAdapter/configSchema.ts
  plugins/alignments/src/HtsgetBamAdapter/configSchema.ts
  plugins/alignments/src/SamAdapter/configSchema.ts
  plugins/bed/src/BedAdapter/configSchema.ts
  plugins/bed/src/BedGraphAdapter/configSchema.ts
  plugins/bed/src/BedpeAdapter/configSchema.ts
  plugins/bed/src/BigBedAdapter/configSchema.ts
  plugins/bed/src/StarFusionAdapter/configSchema.ts
  plugins/comparative-adapters/src/ChainAdapter/configSchema.ts
  plugins/comparative-adapters/src/DeltaAdapter/configSchema.ts
  plugins/comparative-adapters/src/MCScanAnchorsAdapter/configSchema.ts
  plugins/comparative-adapters/src/MCScanBlocksAdapter/configSchema.ts
  plugins/comparative-adapters/src/MCScanSimpleAnchorsAdapter/configSchema.ts
  plugins/comparative-adapters/src/MashMapAdapter/configSchema.ts
  plugins/comparative-adapters/src/MultiGenomePAFAdapter/configSchema.ts
  plugins/comparative-adapters/src/PAFAdapter/configSchema.ts
  plugins/config/src/normalizeUriSnapshot.ts
  plugins/data-management/src/JB2TrackHubConnection/configSchema.ts
  plugins/data-management/src/UCSCTrackHubConnection/configSchema.ts
  plugins/gff3/src/Gff3Adapter/configSchema.ts
  plugins/gtf/src/GtfAdapter/configSchema.ts
  plugins/hic/src/HicAdapter/configSchema.ts
  plugins/maf/src/util/mafShorthand.ts
  plugins/sequence/src/BgzipFastaAdapter/configSchema.ts
  plugins/sequence/src/ChromSizesAdapter/configSchema.ts
  plugins/sequence/src/IndexedFastaAdapter/configSchema.ts
  plugins/sequence/src/TwoBitAdapter/configSchema.ts
  plugins/sequence/src/UnindexedFastaAdapter/configSchema.ts
  plugins/trix/src/TrixTextSearchAdapter/configSchema.ts
  plugins/variants/src/PlinkLDAdapter/configSchema.ts
  plugins/variants/src/VcfAdapter/configSchema.ts
  plugins/wiggle/src/BigWigAdapter/configSchema.ts
  website/docs/developer_guides/configuration_schema.md
Due: prettier --write, eslint --fix

fix(assembly): the sequence shorthand guesses the type and lets the adapter expand the rest
  packages/core/src/assemblyManager/expandAssemblyConfigShorthand.ts
  plugins/sequence/src/expandAssemblySequenceAdapter.test.ts
  products/jbrowse-web/src/assemblyConfigSequenceShorthand.test.ts
Due: prettier --write, eslint --fix

docs(assembly): the shorthand docstring sits on the function it describes, and says what it now does
  packages/core/src/assemblyManager/expandAssemblyConfigShorthand.ts
Due: prettier --write, eslint --fix

feat(config): a raw .chrom.sizes names an assembly, the way it already does on the command line
  packages/add-track-core/src/formats.ts
  plugins/sequence/src/expandAssemblySequenceAdapter.test.ts
  products/jbrowse-web/src/addTrackFormats.test.ts
  products/jbrowse-web/src/assemblyConfigSequenceShorthand.test.ts
  website/docs/config_guides/assemblies.md
Due: prettier --write, eslint --fix

fix(lint): one import line per module in the three schemas the shorthand sweep touched
  plugins/comparative-adapters/src/MultiGenomePAFAdapter/configSchema.ts
  plugins/data-management/src/JB2TrackHubConnection/configSchema.ts
  plugins/data-management/src/UCSCTrackHubConnection/configSchema.ts
Due: prettier --write, eslint --fix
