Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

Tutorials: cancer_sv derivative prose, bisulfite scale note
  website/docs/tutorials/bisulfite.md
  website/docs/tutorials/cancer_sv.md
Due: prettier --write

Tutorials: cut pangenome_ecoli by a fifth, tighten prepare_graph
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_prepare_graph.md
Due: prettier --write

Dotplot legend draws above the canvas; symbols_to_blocks names genes by symbol so cluster legends read atpA not gene-b3731
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
  scripts/symbols_to_blocks.py
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
Due: prettier --write, eslint --fix

Figure specs: syri six-accession frame keeps its last row, linkage stack takes lighter ribbons, agent_synteny arm views drop gene tracks; caption fixes
  website/docs/tutorials/agent_synteny.md
  website/docs/tutorials/genomes_synteny.md
  website/docs/tutorials/orthofinder_synteny.md
  website/scripts/specs/agent_synteny.ts
  website/scripts/specs/linkage_groups.ts
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

Tutorials: trope fixes, format
  website/docs/tutorials/dog10k_svs.md
  website/docs/tutorials/pangenome_mouse.md
Due: prettier --write

Tutorials: satisfy figure and menu checks, document the data-URL toggle
  website/docs/tutorials/mappability_qc.md
  website/docs/tutorials/tp53_structures.md
  website/scripts/figure-actions.txt
Due: prettier --write

Tutorials CLAUDE.md: data files go in Where the data comes from
  website/docs/tutorials/CLAUDE.md
Due: prettier --write

bisulfite: drop the scale-pinning note
  website/docs/tutorials/bisulfite.md
Due: prettier --write

Multi-way gutters stack ribbon alpha again; ERBB2 figure window widened to 6 Mb
  agent-docs/reference/GPU_RENDERING.md
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayBackendParity.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayMarks.ts
  website/docs/tutorials/tcga_cohort_cnv.md
  website/scripts/specs/tcga.ts
Due: prettier --write, eslint --fix

Highlight bands skip tracks whose display does not draw in genomic coordinates
  plugins/linear-genome-view/src/LinearGenomeView/components/Highlight.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/HighlightBand.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/HighlightBand.tsx
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
  website/docs/models/LinearGenomeView.md
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

formatRelativeTime picks its unit from the rounded count, so 59.6 s reads "1 minute ago" and not "60 seconds ago"
  packages/core/src/util/formatRelativeTime.test.ts
  packages/core/src/util/formatRelativeTime.ts
Due: prettier --write, eslint --fix

Add missing peer deps and a test for them
  example-plugins/score-example/package.json
  packages/alignments-core/package.json
  packages/display-test-utils/package.json
  packages/display-ui/package.json
  packages/modifications-utils/package.json
  packages/synteny-core/package.json
  packages/tree-sidebar/package.json
  packages/wiggle-core/package.json
  plugins/alignments/package.json
  plugins/bed/package.json
  plugins/blat/package.json
  plugins/breakpoint-split-view/package.json
  plugins/canvas/package.json
  plugins/data-management/package.json
  plugins/gccontent/package.json
  plugins/gff3/package.json
  plugins/grid-bookmark/package.json
  plugins/gtf/package.json
  plugins/gwas/package.json
  plugins/hic/package.json
  plugins/jobs-management/package.json
  plugins/legacy-jbrowse/package.json
  plugins/maf/package.json
  plugins/marks/package.json
  plugins/menus/package.json
  plugins/rdf/package.json
  plugins/sequence/package.json
  plugins/spreadsheet-view/package.json
  plugins/sv-inspector/package.json
  plugins/text-indexing/package.json
  plugins/trix/package.json
  plugins/variants/package.json
  plugins/wiggle/package.json
  pnpm-lock.yaml
  products/jbrowse-desktop/package.json
  scripts/peerDependencies.test.ts
Due: prettier --write, eslint --fix

chore: pre-push autofix
  website/docs/developer_guides/imports_and_reexports.md
Due: prettier --write

Add missing peer dependencies and a test for them (#5633)
  example-plugins/score-example/package.json
  packages/alignments-core/package.json
  packages/display-test-utils/package.json
  packages/display-ui/package.json
  packages/modifications-utils/package.json
  packages/synteny-core/package.json
  packages/tree-sidebar/package.json
  packages/wiggle-core/package.json
  plugins/alignments/package.json
  plugins/bed/package.json
  plugins/blat/package.json
  plugins/breakpoint-split-view/package.json
  plugins/canvas/package.json
  plugins/data-management/package.json
  plugins/gccontent/package.json
  plugins/gff3/package.json
  plugins/grid-bookmark/package.json
  plugins/gtf/package.json
  plugins/gwas/package.json
  plugins/hic/package.json
  plugins/jobs-management/package.json
  plugins/legacy-jbrowse/package.json
  plugins/maf/package.json
  plugins/marks/package.json
  plugins/menus/package.json
  plugins/rdf/package.json
  plugins/sequence/package.json
  plugins/spreadsheet-view/package.json
  plugins/sv-inspector/package.json
  plugins/text-indexing/package.json
  plugins/trix/package.json
  plugins/variants/package.json
  plugins/wiggle/package.json
  pnpm-lock.yaml
  products/jbrowse-desktop/package.json
  scripts/peerDependencies.test.ts
  website/docs/developer_guides/imports_and_reexports.md
Due: prettier --write, eslint --fix

About dialog shows inline trackDb prose in the Description card
  packages/product-core/src/ui/AboutDialogContents.test.tsx
  packages/product-core/src/ui/AboutDialogContents.tsx
  packages/product-core/src/ui/DescriptionPanel.test.tsx
  packages/product-core/src/ui/DescriptionPanel.tsx
  packages/product-core/src/ui/descriptionHtml.test.ts
  packages/product-core/src/ui/descriptionHtml.ts
Due: prettier --write, eslint --fix

Long field values clip with Show more instead of scrolling in place
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/ArrayValue.tsx
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/BasicValue.test.tsx
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/BasicValue.tsx
  packages/core/src/BaseFeatureWidget/__snapshots__/index.test.tsx.snap
  plugins/alignments/src/AlignmentsFeatureDetail/__snapshots__/index.test.tsx.snap
  plugins/variants/src/VariantFeatureWidget/__snapshots__/VariantFeatureWidget.test.tsx.snap
Due: prettier --write, eslint --fix

The E. coli graph figures at IS5 and IS1 carry the strains' MAF rows
  figures.lock
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/specs/graph-ecoli.ts
  website/scripts/specs/pangenome_cactus.ts
  website/src/lib/liveLinks.generated.ts
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

Synteny sessions with view-level tracks open them again; unknown view keys log without a toast
  packages/core/src/util/unknownSnapshotKeys.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/initTracks.integration.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/launchInput.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/util/liftViewLevelTracks.test.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/util/liftViewLevelTracks.ts
Due: prettier --write, eslint --fix

A tour is a route that ends on a result
  website/CLAUDE.md
  website/scripts/video-spec-rules.ts
  website/scripts/videoSpecRules.test.ts
Due: prettier --write, eslint --fix

Cut the grape zoom-out and tier-to-fine tours
  agent-docs/ideas/collections/multiway-synteny-lgv-track.md
  website/docs/tutorials/multiway_synteny_grape_peach_cacao.md
  website/docs/tutorials/pangenome_ecoli.md
  website/media.lock
  website/scripts/specs/graph-ecoli.ts
  website/scripts/specs/synteny.ts
  website/scripts/videos/pangenome.ts
  website/scripts/videos/synteny.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Cut the layout-switch tour, which films the Sample rows layout
  website/docs/tutorials/pangenome_ecoli.md
  website/media.lock
  website/scripts/videos/pangenome.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

A drag across MAF rows no longer pans the view under it
  plugins/maf/src/LinearMafDisplay/components/LinearMafDisplayComponent.tsx
  plugins/maf/src/LinearMafDisplay/components/useDragSelection.test.ts
  plugins/maf/src/LinearMafDisplay/components/useDragSelection.ts
Due: prettier --write, eslint --fix

Idea: multi-file tracks take their rows from their members
  agent-docs/ideas/README.md
  agent-docs/ideas/ready/multi-file-tracks-take-their-rows-from-their-members.md
Due: prettier --write

A MAF display publishes the row under the pointer as its hoveredFeature
  agent-docs/ARCHITECTURE.md
  agent-docs/reference/DISPLAY_HOVER.md
  packages/core/src/pluggableElementTypes/models/BaseDisplayModel.tsx
  plugins/maf/src/LinearMafDisplay/components/LinearMafDisplayComponent.tsx
  plugins/maf/src/LinearMafDisplay/rowHover.test.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
  website/docs/developer_guides/creating_display.md
  website/docs/developer_guides/mst_patterns.md
  website/docs/models/BaseChordDisplay.md
  website/docs/models/BaseDisplay.md
  website/docs/models/ChordSyntenyDisplay.md
  website/docs/models/ChordVariantDisplay.md
  website/docs/models/DotplotDisplay.md
  website/docs/models/LDTrackDisplay.md
  website/docs/models/LinearHicDisplay.md
  website/docs/models/LinearMafDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/docs/models/LinearReferenceSequenceDisplay.md
  website/docs/models/LinearScoreDisplay.md
  website/docs/models/LinearSyntenyDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
Due: prettier --write, eslint --fix

Multi-file tracks idea: fold in the final review
  agent-docs/ideas/README.md
  agent-docs/ideas/ready/multi-file-tracks-take-their-rows-from-their-members.md
Due: prettier --write

The cattle HSPA1A figure draws the graph under the callset it is set against
  figures.lock
  website/docs/tutorials/pangenome_cattle.md
  website/scripts/check-menu-labels.ts
  website/scripts/gen-tutorial-thumbs.ts
  website/scripts/specs/graph-mouse-cattle.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Eleven tours end on a result the viewer can read
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/tutorials/sv_multisamples.md
  website/scripts/specs/graph-ecoli.ts
  website/scripts/specs/synteny.ts
  website/scripts/videos/config.ts
  website/scripts/videos/dog10k.ts
  website/scripts/videos/epigenomics.ts
  website/scripts/videos/pangenome.ts
  website/scripts/videos/sv.ts
  website/scripts/videos/synteny.ts
Due: prettier --write, eslint --fix

Third take: the Sakai payoff names the wedge, and the ChromHMM frame holds the app
  website/scripts/videos/epigenomics.ts
  website/scripts/videos/synteny.ts
Due: prettier --write, eslint --fix

Second take: the re-anchor keeps its flanks, and two captions
  website/scripts/videos/epigenomics.ts
  website/scripts/videos/pangenome.ts
  website/scripts/videos/synteny.ts
Due: prettier --write, eslint --fix

Publish nine re-filmed tours
  website/media.lock
Due: none

Handoff: multi-row add-track, the simple plan
  agent-docs/handoffs/README.md
  agent-docs/handoffs/multi-row-add-track.md
  agent-docs/ideas/README.md
  agent-docs/ideas/waiting-on-a-call/multi-file-tracks-take-their-rows-from-their-members.md
Due: prettier --write

The C4 tour's spec matches its published take again; live links regenerated
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/videos/pangenome.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Dotplot legend draws over the plot instead of under it
  plugins/dotplot-view/src/DotplotView/components/DotplotView.test.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
Due: prettier --write, eslint --fix

Multi-way gutters sit on paper from the first one down, and stripes stay off them
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
  plugins/linear-comparative-view/benches/multiwayZoomCost.probe.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.ts
Due: prettier --write, eslint --fix

MultiWiggleAdapter names and sizes a member in any format
  plugins/wiggle/package.json
  plugins/wiggle/src/MultiWiggleAdapter/MultiWiggleAdapter.ts
  plugins/wiggle/src/MultiWiggleAdapter/featureMembers.test.ts
  plugins/wiggle/src/MultiWiggleAdapter/memberLocation.ts
  plugins/wiggle/tsconfig.build.esm.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

"Partition by..." offers source
  plugins/canvas/src/MultiRowGetFeaturesRPC/packMultiRowFeatures.test.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/packMultiRowFeatures.ts
Due: prettier --write, eslint --fix

Multi-way gene names start at their gene's left edge, as a feature track's do
  plugins/canvas/src/LinearBasicDisplay/components/labelPositioning.ts
  plugins/canvas/src/index.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/LaneGeneLabels.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLabels.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLabels.ts
Due: prettier --write, eslint --fix

Add multi-row track: each file's format is checked, feature files stack
  agent-docs/reference/REGION_TOO_LARGE.md
  plugins/wiggle/src/CreateMultiWiggleExtension/ConfirmDialog.tsx
  plugins/wiggle/src/CreateMultiWiggleExtension/index.ts
  plugins/wiggle/src/MultiWiggleAdapter/featureMembers.test.ts
  plugins/wiggle/src/MultiWiggleAddTrackWorkflow/AddTrackWorkflow.tsx
  plugins/wiggle/src/MultiWiggleAddTrackWorkflow/DropZone.tsx
  plugins/wiggle/src/MultiWiggleAddTrackWorkflow/index.ts
  plugins/wiggle/src/MultiWiggleAddTrackWorkflow/util.test.ts
  plugins/wiggle/src/MultiWiggleAddTrackWorkflow/util.ts
  website/docs/developer_guides/creating_addtrack_workflow.md
  website/docs/developer_guides/extension_points.md
  website/docs/tutorials/scatac_pseudobulk.md
  website/scripts/specs/bigwig.ts
Due: prettier --write, eslint --fix

Close the multi-row add-track handoff
  agent-docs/handoffs/README.md
  agent-docs/handoffs/multi-row-add-track.md
  agent-docs/ideas/README.md
  agent-docs/ideas/waiting-on-a-call/multi-file-tracks-take-their-rows-from-their-members.md
Due: prettier --write
