Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(shaders): generate the append-at-a-time instance writer
  packages/shader-tools/src/build-shaders.ts
  packages/shader-tools/src/shader-codegen/codegen.test.ts
  packages/shader-tools/src/shader-codegen/codegen.ts
  packages/shader-tools/src/shader-codegen/parseDirectives.test.ts
  packages/shader-tools/src/shader-codegen/parseDirectives.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/multiRowInstanceBuffer.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/shaders/multiRow.generated.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/shaders/multiRow.iface.generated.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/rendering/shaders/multiRow.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/instanceInterleave.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.slang
  plugins/maf/src/LinearMafRenderer/mafInstanceBuffer.ts
  plugins/maf/src/LinearMafRenderer/shaders/maf.generated.ts
  plugins/maf/src/LinearMafRenderer/shaders/maf.iface.generated.ts
  plugins/maf/src/LinearMafRenderer/shaders/maf.slang
  website/docs/developer_guides/creating_gpu_display.md
  website/scripts/api-docs/generateShaderExportDocs.ts
Due: prettier --write, eslint --fix

fix(workspace): setPendingMove gained a required argument the plugin cannot pass
  packages/app-core/src/WorkspaceLayout/CLAUDE.md
  packages/app-core/src/WorkspaceLayout/model.ts
  products/jbrowse-web/src/tests/pluginFacingSessionApi.test.ts
  website/docs/models/BaseWebSessionModel.md
  website/docs/models/JBrowseDesktopSessionModel.md
  website/docs/models/JBrowseWebSessionModel.md
  website/docs/models/WorkspaceLayoutMixin.md
Due: prettier --write, eslint --fix

chore: regenerate the chrome bundle sizes, which had drifted on main
  scripts/chromeBundleSizes.json
Due: none

docs(todo): protein/connected is answered; what its figure showed is not
  agent-docs/TODO.md
Due: prettier --write

perf(synteny): keep the raw interleave loop — the generated writer is 1.9x slower
  packages/shader-tools/src/shader-codegen/codegen.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/instanceInterleave.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.iface.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.slang
Due: prettier --write, eslint --fix

feat(shaders): generate the per-element setter for an array uniform
  packages/shader-tools/src/shader-codegen/codegen.test.ts
  packages/shader-tools/src/shader-codegen/codegen.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/GpuAlignmentsRenderer.ts
  plugins/alignments/src/shaders/slang/arc.iface.generated.ts
  plugins/alignments/src/shaders/slang/arcFlat.iface.generated.ts
  plugins/alignments/src/shaders/slang/arcLine.iface.generated.ts
  plugins/alignments/src/shaders/slang/arcMarker.iface.generated.ts
  plugins/alignments/src/shaders/slang/clip.iface.generated.ts
  plugins/alignments/src/shaders/slang/connectingLine.iface.generated.ts
  plugins/alignments/src/shaders/slang/coverage.iface.generated.ts
  plugins/alignments/src/shaders/slang/flatQuad.iface.generated.ts
  plugins/alignments/src/shaders/slang/gap.iface.generated.ts
  plugins/alignments/src/shaders/slang/indicator.iface.generated.ts
  plugins/alignments/src/shaders/slang/insertion.iface.generated.ts
  plugins/alignments/src/shaders/slang/interbaseHistogram.iface.generated.ts
  plugins/alignments/src/shaders/slang/linkedReadLine.iface.generated.ts
  plugins/alignments/src/shaders/slang/mismatch.iface.generated.ts
  plugins/alignments/src/shaders/slang/modCoverage.iface.generated.ts
  plugins/alignments/src/shaders/slang/overlap.iface.generated.ts
  plugins/alignments/src/shaders/slang/packedColorQuad.iface.generated.ts
  plugins/alignments/src/shaders/slang/read.iface.generated.ts
  plugins/alignments/src/shaders/slang/snpCoverage.iface.generated.ts
  website/docs/developer_guides/creating_gpu_display.md
Due: prettier --write, eslint --fix

build(deps): @gmod/bam 8.9.0
  plugins/alignments/package.json
  pnpm-lock.yaml
Due: none

fix(demo): the ClinVar colours needed the [0] the docs already teach
  agent-docs/TODO.md
  packages/core/src/util/jexlStrings.test.ts
  test_data/protein3d_config.json
Due: prettier --write, eslint --fix

fix(alignments): count a translocation's support in one direction, not two
  plugins/alignments/src/features/arcs/compute.test.ts
  plugins/alignments/src/features/arcs/compute.ts
Due: prettier --write, eslint --fix

perf(alignments): size the interchrom clustering by its own arcs, not the feed
  plugins/alignments/src/features/arcs/compute.ts
Due: prettier --write, eslint --fix

fix(alignments): the SA walk had a second reader, and it lost its evidence
  agent-docs/reference/BAM_STACK_INTEGRATION.md
  plugins/alignments/src/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/fetchAutorun.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/RenderAlignmentDataRPC/executeRenderAlignmentData.ts
  plugins/alignments/src/RenderAlignmentDataRPC/types.ts
  plugins/alignments/src/shared/extractFeatureArrays.test.ts
  plugins/alignments/src/shared/extractFeatureArrays.ts
  plugins/alignments/src/shared/workerColorBy.test.ts
Due: prettier --write, eslint --fix

fix(alignments): the truncation caption's gap was being clobbered by its own top
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupTruncationRule.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupTruncationRule.tsx
Due: prettier --write, eslint --fix

figures: refresh protein/connected, which two fixes ago could not capture
  figures.lock
Due: none

test(canvas,variants): pin the two agreements the codegen sweep left unchecked
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/canvasPassGeometry.test.ts
  plugins/variants/src/LDDisplay/components/GpuLDRenderer.ts
  plugins/variants/src/LDDisplay/components/ldInstanceInterleave.test.ts
Due: prettier --write, eslint --fix

fix(figures): give derivative_inserts' hg38 lane room for its connectors
  figures.lock
  website/scripts/figure-manifest.json
  website/scripts/specs/cancer_sv.ts
Due: prettier --write, eslint --fix

fix(figures): re-frame the cancer_sv card off the taller derivative_inserts
  figures.lock
  website/scripts/gen-tutorial-thumbs.ts
Due: prettier --write, eslint --fix

perf(alignments): CRAM resolves one mate refName per contig too
  agent-docs/reference/CRAM_STACK_INTEGRATION.md
  plugins/alignments/src/CramAdapter/CramSlightlyLazyFeature.ts
  plugins/alignments/src/shared/readNextRefs.test.ts
Due: prettier --write, eslint --fix

chore: regenerate chrome bundle sizes after the mobx-state-tree 6.3.0 bump
  scripts/chromeBundleSizes.json
Due: none

docs(jexl): the fork is fixed, so say what the pin does when it lands
  agent-docs/TODO.md
  packages/core/src/util/jexlStrings.test.ts
Due: prettier --write, eslint --fix

fix(canvas): give implied UTRs the transcript as their parent
  plugins/canvas/src/RenderFeatureDataRPC/filterSubparts.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/filterSubparts.ts
  plugins/canvas/src/RenderFeatureDataRPC/util.test.ts
Due: prettier --write, eslint --fix

docs(dtu): read the transcript statistic from the box with feature.parent
  demos/dtu/config.json
  scripts/build_dtu_demo.sh
  website/docs/tutorials/dtu.md
Due: prettier --write

docs(demos): the DTU script no longer reproduces the deployed GFF3
  agent-docs/reference/DEMO_DATASETS.md
Due: prettier --write

feat(review): a card's compare bar sets the page, not just that card
  website/scripts/review-app/App.tsx
  website/scripts/review-app/Card.tsx
  website/scripts/review-app/Compare.tsx
  website/scripts/review-app/app.css
  website/scripts/review-screenshots-web.ts
Due: prettier --write, eslint --fix

deps: @jbrowse/jexl 4.0.1, which indexes by a non-string key again
  agent-docs/TODO.md
  packages/core/package.json
  packages/core/src/util/jexlStrings.test.ts
  plugins/arc/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(figures): make derivative_inserts' two lanes the same picture
  figures.lock
  website/docs/tutorials/cancer_sv.md
  website/scripts/figure-manifest.json
  website/scripts/gen-tutorial-thumbs.ts
  website/scripts/specs/cancer_sv.ts
Due: prettier --write, eslint --fix

chore: regenerate doc indexes and gallery links
  agent-docs/reference/README.md
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

chore: regenerate gallery links after the derivative_inserts re-frame
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

bench(shaders): the InstanceWriter numbers, remeasured with a control arm
  packages/shader-tools/src/shader-codegen/codegen.ts
  plugins/canvas/benches/instanceWriter.bench.ts
  plugins/linear-comparative-view/benches/instanceWriter.bench.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/instanceInterleave.ts
  website/docs/developer_guides/creating_gpu_display.md
  website/scripts/api-docs/generateShaderExportDocs.ts
Due: prettier --write, eslint --fix

test(alignments): pin the two menu defaults against the slots they mirror
  plugins/alignments/src/LinearAlignmentsDisplay/configDefaultParity.test.ts
  plugins/alignments/src/shared/buildBaseReadArrays.ts
Due: prettier --write, eslint --fix

fix(alignments): rank derivative alleles by something that separates them
  plugins/alignments/src/features/derivativePaths/computePaths.test.ts
  plugins/alignments/src/features/derivativePaths/computePaths.ts
Due: prettier --write, eslint --fix

test(review): probe that the compare view is the page's, on cards off screen too
  website/CLAUDE.md
  website/scripts/probe-review-compare.ts
Due: prettier --write, eslint --fix

fix(canvas): a container's own name label clears the label rows it holds
  figures.lock
  plugins/canvas/src/LinearBasicDisplay/belowLabelRows.test.ts
  plugins/canvas/src/LinearBasicDisplay/layout.ts
  plugins/canvas/src/RenderFeatureDataRPC/collect/glyphEmitters.ts
  plugins/canvas/src/RenderFeatureDataRPC/rpcTypes.ts
Due: prettier --write, eslint --fix

feat(website): label the figure recipe button instead of leaving it an icon
  website/src/components/SpecDialog.astro
  website/src/lib/spec-recipe/html.ts
  website/src/pages/gallery.astro
  website/src/styles/widgets/spec-recipe.css
Due: prettier --write, eslint --fix

docs(alignments): the caption sits below the rule because `rule` says so
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupTruncationRule.tsx
Due: prettier --write, eslint --fix

docs(tutorials): stop dating the wheat translocations, just show the swap
  figures.lock
  website/docs/tutorials/orthofinder_synteny.md
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

bench(hic): the Canvas2D accessor claim, converted from reasoning to a number
  plugins/hic/benches/instanceAccessors.bench.ts
  plugins/hic/src/LinearHicDisplay/components/Canvas2DHicRenderer.ts
Due: prettier --write, eslint --fix

docs(bisulfite): show the tools, not just the script that runs them
  website/docs/tutorials/bisulfite.md
Due: prettier --write

docs(bisulfite): name the MethylDackel output prefix explicitly
  website/docs/tutorials/bisulfite.md
Due: prettier --write

docs(tutorials): the subject-file command belongs in the prose
  website/docs/tutorials/CLAUDE.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
