Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Refresh bundle-size records after the colour parser and row key changes
  scripts/chromeBundleSizes.json
  scripts/registryBundleSizes.json
Due: none

maybeFileLocation reads a cleared local path as unset
  packages/core/src/configuration/configurationSlot.test.ts
  packages/core/src/configuration/configurationSlot.ts
Due: prettier --write, eslint --fix

LD scheme pick compares against the painted metric's preset, so reds on a D'-only file writes reds instead of unsetting back to blues
  plugins/variants/src/LDDisplay/colorEncoding.test.ts
  plugins/variants/src/LDDisplay/model.ts
Due: prettier --write, eslint --fix

Mark facet row cache checks the sections it measured, so a region first laid out under another field no longer reads NaN rows under its own
  plugins/marks/src/LinearMarkDisplay/facet.test.ts
  plugins/marks/src/LinearMarkDisplay/facet.ts
Due: prettier --write, eslint --fix

MAF insertion hover reads the per-bin merged channel the painter draws, so a merged marker reports the longest insertion it shows
  plugins/maf/src/LinearMafDisplay/components/findRowHover.test.ts
  plugins/maf/src/LinearMafDisplay/components/findRowHover.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/maf/src/LinearMafRenderer/rendering/insertions.ts
Due: prettier --write, eslint --fix

Hi-C count stats read a domainQuantile below 0.5 as 0.5, as quantileExtent and the scale notice do, through one shared MIN_DOMAIN_QUANTILE
  packages/core/src/util/quantileExtent.ts
  plugins/hic/src/RenderHicDataRPC/countStats.test.ts
  plugins/hic/src/RenderHicDataRPC/countStats.ts
Due: prettier --write, eslint --fix

Wiggle colour notices judge the colour as it paints, so a fieldless threshold reads as the score bands it draws: labelled bands warn nothing and bad cuts are flagged
  plugins/wiggle/src/LinearWiggleDisplay/model.ts
  plugins/wiggle/src/LinearWiggleDisplay/plotProblems.test.ts
  plugins/wiggle/src/shared/wiggleColor.ts
Due: prettier --write, eslint --fix

Regenerate model docs, re-exports and bundle sizes for the LD, wiggle and quantile changes
  packages/core/src/ReExports/reExports.generated.json
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LDTrackDisplay.md
  website/docs/models/LinearWiggleDisplay.md
Due: prettier --write

Remeasure registry bundle sizes after the display colour fixes rebase
  scripts/registryBundleSizes.json
Due: none

Hosted configs update
  website/src/lib/spec-recipe/hostedConfigs.generated.ts
Due: prettier --write, eslint --fix

Regenerate the jbrowse-img README and doc from their specs
  products/jbrowse-img/README.md
  website/docs/jbrowse-img.md
Due: prettier --write

Refresh jbrowse-web goldens for the 0.25 ribbon alpha, the shared connection classifier and the always-on workspace
  products/jbrowse-web/src/tests/__image_snapshots__/breakpoint_split_view_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/launch-synteny-test-tsx-horizontally-flipped-inverted-alignment-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/launch-synteny-test-tsx-regular-orientation-both-horizontally-flipped-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/launch-synteny-test-tsx-regular-orientation-inverted-alignment-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/launch-synteny-test-tsx-regular-orientation-inverted-alignment-bottom-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/launch-synteny-test-tsx-switch-rows-regular-orientation-both-horizontally-flipped-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/launch-synteny-test-tsx-switch-rows-regular-orientation-both-horizontally-flipped-both-rev-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/launch-synteny-test-tsx-switch-rows-regular-orientation-both-horizontally-flipped-rev-1-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/launch-synteny-test-tsx-switch-rows-regular-orientation-both-horizontally-flipped-rev-2-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/lgv-synteny-test-tsx-nav-to-synteny-from-feature-details-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/lgv-synteny-test-tsx-nav-to-synteny-from-right-click-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/lgv-synteny-test-tsx-nav-to-synteny-from-right-click-with-launch-connection-plugin-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/read-vs-ref-test-tsx-launch-read-vs-ref-panel-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/synteny-import-form-test-tsx-open-local-paf-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/synteny-import-form-test-tsx-open-local-pif-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/synteny-import-form-test-tsx-open-tracklist-file-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/synteny-import-form-test-tsx-three-level-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/synteny-import-form-test-tsx-three-level-2-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_color_legend_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_gridlines_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_offscreen_mates_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/vcf-matrix-test-tsx-regular-1-snap.png
  products/jbrowse-web/src/tests/__snapshots__/BreakpointSplitView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSession.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgBreakpointSplitView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgLinearSyntenyView.test.tsx.snap
Due: none

[skip ci] demos/arg: calmer PRNP track (shorter, no mutation ticks, three populations colored)
  demos/arg/config.json
Due: none

HPRC graph track label names the 2.1 build
  demos/hprc/config.json
  test_data/graphgenomeview/hprc.json
Due: none

Paper cohort figure: panel b adds the HPRC 2.1 graph under the copy-number heatmap
  figures.lock
  test_data/graphgenomeview/hprc_cnv.json
  website/docs/tutorials/CLAUDE.md
  website/docs/tutorials/agent_synteny.md
  website/scripts/specs/paper-cohort.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Bump deps
  package.json
  pnpm-lock.yaml
  products/jbrowse-build-your-own/examples-site/package.json
  products/jbrowse-react-app/examples-site/package.json
  products/jbrowse-react-circular-genome-view/examples-site/package.json
  products/jbrowse-react-linear-genome-view/examples-site/package.json
  website/package.json
Due: none

Multi-way lanes drop the purple off-anchor bars, ribbon tint and legend entry
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/offAnchor.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/offAnchor.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write, eslint --fix

Tutorials and figures follow the multi-way lanes without the purple marks
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
  figures.lock
  website/docs/tutorials/genomes_synteny.md
  website/docs/tutorials/hg38_vertebrates_synteny.md
  website/docs/tutorials/pangenome_hprc_haplotypes.md
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

Bump deps
  package.json
  packages/core/package.json
  packages/tree-sidebar/package.json
  plugins/data-management/package.json
  plugins/grid-bookmark/package.json
  plugins/menus/package.json
  plugins/spreadsheet-view/package.json
  plugins/variants/package.json
  plugins/wiggle/package.json
  pnpm-lock.yaml
  products/jbrowse-desktop/package.json
  products/jbrowse-web/package.json
Due: none

The status chrome is an observer, so the container follows a height change
  packages/display-kit/src/DisplayChrome.test.tsx
  packages/display-kit/src/DisplayStatusChromeBase.tsx
  packages/display-kit/src/chromeTestModel.ts
Due: prettier --write, eslint --fix

Every chrome component is an inline observer
  agent-docs/ARCHITECTURE.md
  agent-docs/reference/COMPILER_TERNARY_FINDING.md
  agent-docs/reference/DISPLAYCHROME.md
  packages/display-kit/src/DisplayChrome.test.tsx
  packages/display-kit/src/DisplayChrome.tsx
  packages/display-kit/src/DisplayChromeBase.tsx
  packages/display-kit/src/ReplacedDisplay.tsx
  packages/display-kit/src/trackControl/TrackControl.tsx
Due: prettier --write, eslint --fix

Registry bundle sizes after the chrome observer change
  scripts/registryBundleSizes.json
Due: none

Triage the seven rules unicorn 77 added
  eslint.config.mjs
  packages/alignments-core/src/coverageCompute.test.ts
  packages/core/src/svg/serializeSvg.test.tsx
  packages/core/src/ui/theme.test.ts
  packages/wiggle-core/src/ScoreAxisWidget/ScoreAxisWidget.test.tsx
  plugins/alignments/benches/modCombinedCode.bench.ts
  plugins/alignments/benches/modExtract.bench.ts
  plugins/bed/src/BedGraphTabixAdapter/BedGraphTabixAdapter.ts
  plugins/canvas/src/LinearBasicDisplay/CollapseIntronsDialog/CollapseIntronsDialog.tsx
  plugins/canvas/src/LinearBasicDisplay/isoformTrimPipeline.test.ts
  plugins/data-management/src/AddTrackWidget/index.test.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/OverrideBadge.tsx
  plugins/dotplot-view/src/DotplotDisplay/renderSvg.tsx
  plugins/legacy-jbrowse/src/JBrowse1TextSearchAdapter/JBrowse1TextSearchAdapter.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  products/jbrowse-react-linear-genome-view/src/createLinearGenomeView.test.tsx
  products/jbrowse-web/browser-tests/profile-zoom.ts
  products/jbrowse-web/src/jb1Connection.test.ts
  products/jbrowse-web/src/tests/ExportSvgDotplot.test.tsx
Due: prettier --write, eslint --fix

Tutorials: four more data-section corrections from a strict trace
  website/docs/tutorials/CLAUDE.md
  website/docs/tutorials/pangenome_hprc_repeats.md
  website/docs/tutorials/pangenome_prepare_graph.md
  website/docs/tutorials/repeatmasker_classes.md
  website/docs/tutorials/scatac_pseudobulk.md
Due: prettier --write

Lint requires observer on every component
  agent-docs/reference/COMPILER_TERNARY_FINDING.md
  agent-docs/reference/SVG_EXPORT.md
  eslint.config.mjs
  packages/core/src/ui/LegendSwatchGlyph.tsx
  packages/core/src/ui/PaletteContext.tsx
  packages/core/src/ui/SvgColorLegend.tsx
  packages/core/src/util/paintLayer.tsx
  packages/display-kit/src/GroupLabelBox.tsx
  packages/display-ui/src/AxisCaption.tsx
  packages/display-ui/src/AxisGutter.tsx
  packages/display-ui/src/CrossHatches.tsx
  packages/display-ui/src/ScoreDomainCaption.tsx
  packages/display-ui/src/ScoreRules.tsx
  packages/display-ui/src/YScaleBar.tsx
  packages/tree-sidebar/src/RowSeparatorLines.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupBezierArcsSvg.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiArcLabels.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiArcsSvg.tsx
  plugins/dotplot-view/src/DotplotView/components/Axes.tsx
  plugins/variants/src/LDDisplay/components/VariantLabels.tsx
Due: prettier --write, eslint --fix

Menu snapshots and the re-export test follow the observer shape
  packages/core/src/ReExports/modules.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/RegionWidthEditorDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ScalebarRefNameLabels.tsx
  plugins/sequence/src/LinearReferenceSequenceDisplay/components/SequenceDisplayComponent.tsx
  products/jbrowse-react-app/src/rootModel/__snapshots__/rootModel.test.ts.snap
  products/jbrowse-web/src/rootModel/__snapshots__/rootModel.test.ts.snap
Due: prettier --write, eslint --fix

Regenerate bundle sizes and doc snippets after the observer sweep
  scripts/chromeBundleSizes.json
  scripts/registryBundleSizes.json
  website/docs/developer_guides/creating_text_search_adapter.md
  website/docs/developer_guides/svg_export.md
Due: prettier --write

Paper figure spec: HG008-T CDKN2A deletion as HiFi chains and arcs over an Illumina read cloud
  website/scripts/screenshot-specs.ts
  website/scripts/specs/paper-sv-reads.ts
Due: prettier --write, eslint --fix

Paper read-evidence figure: SUZ12 tandem duplication and deletion in HG008-T as chains, read arcs and a read cloud
  figures.lock
  website/scripts/specs/paper-sv-reads.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Paper cohort figure: a text label names each track; the two part figures leave figures.lock
  figures.lock
  website/scripts/specs/paper-cohort.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Paper cohort figure: one screenshot holds the short-read calls, HGSVC calls, heatmap and graph
  website/scripts/specs/paper-cohort.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Multi-way lanes can print their genome names on the gene row
  agent-docs/ARCHITECTURE.md
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/LaneHeaders.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/configSchema.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneHeader.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneHeader.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneStack.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneStack.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/menus.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/menus.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/config/MultiWaySyntenyDisplay.md
  website/docs/models/MultiWaySyntenyDisplay.md
  website/scripts/screenshot-specs.ts
  website/scripts/specs/paper-ecoli.ts
  website/src/lib/spec-recipe/fields.ts
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

figures.lock records paper/ecoli_oantigen
  figures.lock
Due: none

Regenerate live links for paper/ecoli_oantigen
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
