Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

Reshoot agent_synteny/dotplot_arms without axis tick labels
  figures.lock
Due: none

Dotplot: a Tick labels setting hides the axis coordinates, and the arms figure uses it
  plugins/dotplot-view/src/DotplotView/1dview.ts
  plugins/dotplot-view/src/DotplotView/components/Axes.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotSettingsMenu.test.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotSettingsMenu.tsx
  plugins/dotplot-view/src/DotplotView/components/util.test.ts
  plugins/dotplot-view/src/DotplotView/components/util.ts
  plugins/dotplot-view/src/DotplotView/model.test.ts
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/dotplot-view/src/DotplotView/svgcomponents/SVGDotplotView.test.tsx
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/Dotplot1DView.md
  website/docs/models/DotplotView.md
  website/docs/urlparams.md
  website/scripts/specs/agent_synteny.ts
  website/src/lib/liveLinks.generated.ts
  website/src/lib/spec-recipe/fields.ts
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

The variant feature widget draws a <CNV:TR> record's alleles as a tandem repeat panel
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/TandemRepeatPanel.tsx
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/layout.test.ts
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/layout.ts
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/tandemRepeat.test.ts
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/tandemRepeat.ts
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.test.tsx
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
Due: prettier --write, eslint --fix

The tandem repeat panel draws one row per allele for a cohort, and a click on a row filters the Samples card
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/TandemRepeatPanel.tsx
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/layout.test.ts
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/tandemRepeat.test.ts
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/tandemRepeat.ts
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.test.tsx
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
  plugins/variants/src/VariantFeatureWidget/VariantSampleGrid/VariantSampleGrid.tsx
  plugins/variants/src/VariantFeatureWidget/VariantSampleGrid/getSampleGridRows.test.ts
  plugins/variants/src/VariantFeatureWidget/VariantSampleGrid/getSampleGridRows.ts
Due: prettier --write, eslint --fix

The tandem repeat panel holds up at cohort scale
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/TandemRepeatPanel.tsx
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/layout.test.ts
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/layout.ts
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/tandemRepeat.test.ts
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/tandemRepeat.ts
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.test.tsx
Due: prettier --write, eslint --fix

Review fixes for the tandem repeat panel: header, reference span, merged copies, undrawn alleles
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/TandemRepeatPanel.tsx
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/layout.test.ts
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/layout.ts
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/tandemRepeat.test.ts
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/tandemRepeat.ts
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.test.tsx
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
  plugins/variants/src/VariantFeatureWidget/VariantSampleGrid/VariantSampleGrid.tsx
Due: prettier --write, eslint --fix

The tandem repeat panel thins its axis ticks to the plot's width
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/TandemRepeatPanel.tsx
Due: prettier --write, eslint --fix

The HPRC repeats tutorial reads TRGT's ABCA7 alleles as tandem repeat records
  website/docs/tutorials/pangenome_hprc_repeats.md
  website/scripts/specs/graph-hprc.ts
Due: prettier --write, eslint --fix

The ABCA7 tandem repeat figure is rendered and in the figure store
  figures.lock
  website/scripts/specs/graph-hprc.ts
Due: prettier --write, eslint --fix

Reshoot 46 figures: multi-way gutters and left-edge gene names, dotplot legend on top, walk rows clear of labels, read_marks ideogram
  figures.lock
  website/docs/tutorials/read_marks.md
Due: prettier --write

Gene-symbol ortholog tables name groups by symbol and join renamed genes
  demos/ecoli_orthologs/config.json
  scripts/build_ecoli_orthologs.sh
  scripts/symbols_to_blocks.py
Due: none

E. coli symbol page describes the renamed-gene merge and the rows K-12 lacks
  website/docs/tutorials/ecoli_orthologs_synteny.md
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

Drosophila stack paints by melanogaster arm, fly inversions show the alignment alone, cattle callset draws its variant lane
  test_data/graphgenomeview/pangenome_nonhuman.json
  website/docs/tutorials/agent_synteny.md
  website/docs/tutorials/pangenome_cattle.md
  website/scripts/specs/agent_synteny.ts
  website/scripts/specs/graph-mouse-cattle.ts
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

Captions and prose for the melanogaster-anchored Drosophila stack and the cattle variant lane
  website/docs/tutorials/agent_synteny.md
  website/docs/tutorials/orthofinder_synteny.md
  website/docs/tutorials/pangenome_cattle.md
Due: prettier --write

Live links regenerated after the fly and cattle figure specs
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Publish the melanogaster-anchored Drosophila stack, the alignment-only fly inversions and the cattle POLLED lane; regenerate live links
  figures.lock
Due: none

Spec recipe names the synteny launch dialog by its Add menu row
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

Tandem repeat panel keys its positional lists by index on purpose
  plugins/variants/src/VariantFeatureWidget/TandemRepeatPanel/TandemRepeatPanel.tsx
Due: prettier --write, eslint --fix

Highlight bands skip tracks that do not draw in genomic coordinates
  plugins/linear-genome-view/src/LinearGenomeView/components/Highlight.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/HighlightBand.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/HighlightBand.tsx
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearGenomeView.md
Due: prettier --write, eslint --fix

Docs: 'Where the data comes from' shows host/.../file with a Show full URLs toggle
  website/src/lib/markdown-core.ts
  website/src/lib/rehype-data-urls.ts
  website/src/styles/prose.module.css
Due: prettier --write, eslint --fix

Data URL toggle test marks the sync transformer's return as ignored
  website/src/lib/rehype-data-urls.test.ts
  website/src/lib/rehype-data-urls.ts
  website/src/styles/prose.module.css
Due: prettier --write, eslint --fix

Raise the HPRC lanes-graph viewports, move the MAF row-menu drag on frame, cluster ERBB2 on its window inside a wider view
  website/scripts/specs/paper-hprc-workspace.ts
  website/scripts/specs/synteny.ts
  website/scripts/specs/tcga.ts
Due: prettier --write, eslint --fix

ERBB2, island-lanes and E. coli key captions match their reshoots; MAF row drag starts right of the sidebar; HPRC lanes-graph frames fit the graph
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/ecoli_orthologs_synteny.md
  website/docs/tutorials/tcga_cohort_cnv.md
  website/docs/user_guides/multirow_feature_track.md
  website/scripts/specs/paper-hprc-workspace.ts
  website/scripts/specs/synteny.ts
  website/scripts/specs/tcga.ts
Due: prettier --write, eslint --fix

Publish the symbol-named E. coli figures, the wider ERBB2 cluster, island lanes, LCT haploblock in the shared alt hue, the MAF row menu and the unclipped HPRC lanes-graph candidates
  figures.lock
Due: none

Live links regenerated after the ERBB2, MAF row menu and HPRC lanes-graph spec changes
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

Primate and E. coli ortholog docs describe the symbol-named rebuild
  agent-docs/reference/DEMO_DATASETS.md
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
  website/docs/tutorials/primate_orthologs_synteny.md
Due: prettier --write

Reshoot the primate TP53 and chr17 lane figures on the symbol-named table
  figures.lock
Due: none

Spec recipe unmapped list counts the ERBB2 figure's clusterRegion
  website/scripts/spec-recipe-unmapped.txt
Due: none

Tutorial review fixes: bxd_qtl bands strains by coat color, captions match their figures
  figures.lock
  scripts/bxd_build_demo.sh
  test_data/config_bxd.json
  website/docs/tutorials/CLAUDE.md
  website/docs/tutorials/alu_age.md
  website/docs/tutorials/analyze_trio.md
  website/docs/tutorials/bxd_qtl.md
  website/docs/tutorials/dog10k_lof.md
  website/docs/tutorials/dog10k_selection.md
  website/docs/tutorials/gene_density.md
  website/docs/tutorials/genomes_basics.md
  website/docs/tutorials/genomes_synteny.md
  website/docs/tutorials/hg002_haplotypes.md
  website/docs/tutorials/methylation.md
  website/docs/tutorials/pangenome_hprc_haplotypes.md
  website/docs/tutorials/pangenome_hprc_repeats.md
  website/docs/tutorials/pangenome_mouse.md
  website/docs/tutorials/population_cnv.md
  website/docs/tutorials/population_genomics.md
  website/docs/tutorials/repeatmasker_classes.md
  website/docs/tutorials/scatac_pseudobulk.md
  website/docs/tutorials/scrna_pseudobulk.md
  website/docs/tutorials/sv_multisamples.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/docs/tutorials/tcga_cohort_mutations.md
  website/media.lock
  website/scripts/figure-actions.txt
  website/scripts/long-captions.txt
  website/scripts/recipe-path-labels.ts
  website/scripts/specs/marks.ts
  website/scripts/specs/popgen.ts
  website/scripts/specs/qtl.ts
  website/scripts/specs/scrna.ts
  website/scripts/specs/sv.ts
  website/scripts/specs/synteny.ts
  website/scripts/specs/trio.ts
  website/scripts/video-specs.ts
  website/scripts/videos/qtl.ts
  website/scripts/videos/variants.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

A flattened row drops the labels that would overprint a kept one
  agent-docs/architecture-decision-records/adr-037-two-collapse-mechanisms.md
  plugins/canvas/src/LinearBasicDisplay/applyLayout.ts
  plugins/canvas/src/LinearBasicDisplay/layout.test.ts
  plugins/canvas/src/LinearBasicDisplay/layout.ts
  plugins/canvas/src/LinearBasicDisplay/layoutInputs.ts
  plugins/canvas/src/LinearBasicDisplay/packRef.ts
  plugins/variants/src/CLAUDE.md
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/VariantLaneOverlay.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/laneLabelCollision.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/model.ts
Due: prettier --write, eslint --fix

Label drops are named by what they remove; a one-row tie goes to the longer record
  plugins/canvas/src/LinearBasicDisplay/applyLayout.ts
  plugins/canvas/src/LinearBasicDisplay/layout.test.ts
  plugins/canvas/src/LinearBasicDisplay/layout.ts
  plugins/canvas/src/LinearBasicDisplay/packRef.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/laneLabelCollision.test.ts
Due: prettier --write, eslint --fix

Cattle KIT, TAS2R46 and HSPA1A figures reshot with a clean variant lane; captions name what it shows
  figures.lock
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/tutorials/pangenome_cattle.md
Due: prettier --write

chore: pre-push autofix
  website/scripts/long-captions.txt
Due: none

Docs checks green: read_marks aliases take the uri form, the round-trip tour names its heading, referencePath lives in the graph plugin
  website/docs/tutorials/read_marks.md
  website/scripts/check-doc-removed-symbols.ts
  website/scripts/videos/synteny.ts
Due: prettier --write, eslint --fix

chromhmm shows its ENCODE nine-cell track over HOXA; hic opens on the biology
  figures.lock
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/hic_structural_variants.md
  website/docs/tutorials/mappability_qc.md
  website/docs/tutorials/pangenome_hprc_haplotypes.md
  website/docs/tutorials/tcga_cohort_mutations.md
  website/scripts/long-captions.txt
  website/scripts/specs/ui.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

CI green after the afternoon push
  agent-docs/measurements/config-read-gap-populations.json
  agent-docs/measurements/config-read-type-gaps.json
  plugins/linear-genome-view/src/LinearGenomeView/launchInput.test.ts
  products/jbrowse-build-your-own/examples-site/scripts/smoke.mjs
  scripts/configReadTypeGaps.txt
  scripts/gatedAdapterBudgets.json
  website/src/lib/rehype-data-urls.ts
Due: prettier --write, eslint --fix

chore: pre-push autofix
  agent-docs/architecture-decision-records/adr-052-slot-name-safety-is-a-write-guard.md
  agent-docs/architecture-decision-records/adr-091-a-displays-settings-are-a-declaration.md
Due: prettier --write

population_genomics draws π in each In(2L)t arrangement as one ratio lane
  figures.lock
  scripts/build_dgrp_popgen.sh
  website/docs/config_guides/grouping_and_ordering.md
  website/docs/tutorials/population_genomics.md
  website/scripts/specs/popgen.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

A span or text coloured over the field its steps plot keeps its colour
  plugins/marks/src/LinearMarkDisplay/valueColor.test.ts
  plugins/marks/src/LinearMarkDisplay/valueColor.ts
Due: prettier --write, eslint --fix

A lane value at a threshold cut paints the interval the key names
  packages/render-core/src/marks/markRamp.test.ts
  packages/render-core/src/marks/markRamp.ts
Due: prettier --write, eslint --fix
