Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

feat(alignments): make groupBy a config slot for declarative pre-grouping
  plugins/alignments/src/LinearAlignmentsDisplay/components/GroupLabelsOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/configSchema.ts
  plugins/alignments/src/LinearAlignmentsDisplay/groupLayout.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  test_data/volvox/config.json
Due: prettier --write, eslint --fix

chore(deps): bump @babel/preset-env to ^8.0.2
  package.json
  pnpm-lock.yaml
Due: none

fix(lgv): prevent interregion padding blocks from covering track labels
  plugins/linear-genome-view/src/LinearGenomeView/components/PaddingBlocks.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TracksContainer.tsx
Due: prettier --write, eslint --fix

refactor(alignments): share pileup-layer z-order/gating across GPU + Canvas2D backends
  plugins/alignments/src/LinearAlignmentsDisplay/components/coverageParity.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/Canvas2DAlignmentsRenderer.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/GpuAlignmentsRenderer.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderers/pileupLayers.ts
Due: prettier --write, eslint --fix

fix(ts): remove stale sashimiScores from test fixtures and redundant sessionId from indexJobsModel
  plugins/alignments/src/LinearAlignmentsDisplay/computeChainLayout.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/fetchAutorun.test.ts
  plugins/alignments/src/features/arcs/compute.test.ts
  products/jbrowse-desktop/src/indexJobsModel.ts
Due: prettier --write, eslint --fix

feat(canvas): strand-aware hollow continuation arrows at screen edges
  plugins/canvas/src/LinearBasicDisplay/components/Canvas2DFeatureRenderer.ts
  plugins/canvas/src/LinearBasicDisplay/components/GpuCanvasFeatureRenderer.ts
  plugins/canvas/src/LinearBasicDisplay/components/hitTesting.test.ts
  plugins/canvas/src/LinearBasicDisplay/fetchAutorun.test.ts
  plugins/canvas/src/LinearBasicDisplay/layout.test.ts
  plugins/canvas/src/LinearBasicDisplay/passes/index.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/continuation.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/continuation.iface.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/continuation.slang
  plugins/canvas/src/LinearBasicDisplay/renderSvg.test.tsx
  plugins/canvas/src/LinearBasicDisplay/yMorph.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.ts
  plugins/canvas/src/RenderFeatureDataRPC/packRenderArrays.ts
  plugins/canvas/src/RenderFeatureDataRPC/rpcTypes.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/PaddingBlocks.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackRenderingContainer.tsx
Due: prettier --write, eslint --fix

fix(svg-export): paint interregion separators on top of track data
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGTracks.tsx
Due: prettier --write, eslint --fix

feat(lgv): dedupe repeated refName labels + skip clipped tick labels
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScalebar.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ScalebarCoordinateLabels.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ScalebarRefNameLabels.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGRuler.tsx
  plugins/linear-genome-view/src/LinearGenomeView/util.ts
Due: prettier --write, eslint --fix

fix(svg-export): dedup feature labels spanning back-to-back regions
  plugins/canvas/src/LinearBasicDisplay/components/labelPositioning.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/labelPositioning.ts
  plugins/canvas/src/LinearBasicDisplay/components/useOverlayElements.tsx
  plugins/canvas/src/LinearBasicDisplay/renderSvg.tsx
Due: prettier --write, eslint --fix

refactor(hic): align rpcProps with settings-only contract + unify fill LUT
  plugins/hic/src/HicAdapter/HicAdapter.ts
  plugins/hic/src/LinearHicDisplay/components/Canvas2DHicRenderer.ts
  plugins/hic/src/LinearHicDisplay/components/colorRamp.ts
  plugins/hic/src/LinearHicDisplay/model.ts
  plugins/hic/src/LinearHicDisplay/renderSvg.tsx
  plugins/hic/src/RenderHicDataRPC/executeRenderHicData.ts
  plugins/hic/src/RenderHicDataRPC/types.ts
Due: prettier --write, eslint --fix

fix(core): map 3-letter transl_except aa names to 1-letter codes
  packages/core/src/util/geneticCodes.test.ts
  packages/core/src/util/geneticCodes.ts
Due: prettier --write, eslint --fix

refactor(lgv-svg): scope cytoband work, share block-clip wrapper, fix Blob test mock
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/BlockClipGroup.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGGridlines.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGHeader.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGLinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGRuler.tsx
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgDisplayTypes.test.tsx.snap
  products/jbrowse-web/src/tests/svgExportMocks.ts
Due: prettier --write, eslint --fix

feat(canvas): add isoform to peptide hover tooltip + suppress text-select cursor
  plugins/canvas/src/LinearBasicDisplay/components/FeatureComponent.tsx
  plugins/canvas/src/LinearBasicDisplay/components/hitTesting.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/hitTesting.ts
  plugins/canvas/src/LinearBasicDisplay/components/peptidePositioning.ts
Due: prettier --write, eslint --fix

refactor(canvas): isolate hover/label overlays from cursor-state churn
  packages/core/src/ui/theme.ts
  plugins/canvas/src/LinearBasicDisplay/components/FeatureComponent.tsx
  plugins/canvas/src/LinearBasicDisplay/components/useOverlayElements.tsx
Due: prettier --write, eslint --fix

refactor(canvas): restore model drift-check, clarify renderDataMap naming
  plugins/canvas/src/LinearBasicDisplay/components/FeatureComponent.tsx
  plugins/canvas/src/LinearBasicDisplay/components/PeptideCanvas.tsx
  plugins/canvas/src/LinearBasicDisplay/components/labelPositioning.ts
  plugins/canvas/src/LinearBasicDisplay/components/useOverlayElements.tsx
  plugins/canvas/src/LinearBasicDisplay/modelContract.ts
Due: prettier --write, eslint --fix

docs(canvas): mark modelContract.ts as intentionally importer-less
  plugins/canvas/src/LinearBasicDisplay/modelContract.ts
Due: prettier --write, eslint --fix

feat(canvas): render intact transposon (repeat_region) subparts
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/findGlyph.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/repeatRegion.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/repeatRegion.ts
  plugins/canvas/src/RenderFeatureDataRPC/types.ts
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/fullpage_demo-maize-edta-te.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_demo-maize-edta-te.png
  products/jbrowse-web/browser-tests/suites/demo-inventory.ts
  products/jbrowse-web/src/components/NoConfigMessageSampleData.ts
  test_data/maize_te/Zm-B73-NAM5-chr1-slice.2bit
  test_data/maize_te/Zm-B73-NAM5.TE.slice.gff3.gz
  test_data/maize_te/Zm-B73-NAM5.TE.slice.gff3.gz.tbi
  test_data/maize_te/config.json
Due: prettier --write, eslint --fix

chore(gff3): bump gff-nostream to 3.0.11
  agent-docs/OTHER_IDEAS.md
  plugins/gff3/package.json
  pnpm-lock.yaml
Due: prettier --write

docs(agent): add circular genome / origin-spanning feature design notes
  agent-docs/CIRCULAR_GENOME_SUPPORT.md
Due: prettier --write

docs(faq): add S3/MinIO CORS configuration guidance
  website/docs/faq.md
Due: prettier --write

feat(canvas): gate off-screen continuation marker on min overhang
  plugins/canvas/src/LinearBasicDisplay/components/Canvas2DFeatureRenderer.ts
  plugins/canvas/src/LinearBasicDisplay/components/sharedRendererConstants.ts
  plugins/canvas/src/LinearBasicDisplay/passes/index.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/continuation.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/continuation.iface.generated.ts
  plugins/canvas/src/LinearBasicDisplay/passes/shaders/continuation.slang
Due: prettier --write, eslint --fix

feat(ld): regroup LD track menu + document PLINK adapter setup
  plugins/variants/src/LDDisplay/shared.ts
  website/docs/config_guides/gwas_track.md
  website/docs/config_guides/variant_track.md
Due: prettier --write, eslint --fix

refactor(ld): align fit-to-height menu item with hi-c triangular display
  plugins/variants/src/LDDisplay/shared.ts
  website/docs/config_guides/variant_track.md
Due: prettier --write, eslint --fix

feat(export): emit spec-compliant GenBank for SnapGene/Geneious import
  packages/core/src/pluggableElementTypes/models/saveTrackFileTypes/__snapshots__/genbank.test.ts.snap
  packages/core/src/pluggableElementTypes/models/saveTrackFileTypes/genbank.test.ts
  packages/core/src/pluggableElementTypes/models/saveTrackFileTypes/genbank.ts
Due: prettier --write, eslint --fix

MIN_DISPLAY_HEIGHT
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/renderSvg.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/index.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/TrackHeightMixin.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/const.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/package.json
Due: prettier --write, eslint --fix

Prettier formatting
  packages/core/src/pluggableElementTypes/models/saveTrackFileTypes/genbank.ts
  packages/core/src/ui/VerticalScrollbar.tsx
  packages/core/src/util/sessionSharing.ts
  packages/product-core/src/Session/MultipleViews.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupComponent.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiArcsOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiArcsSvg.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/menus/readConnections.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/sectionLayout.test.ts
  plugins/alignments/src/features/sashimi/computeOverlay.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/svgcomponents/SVGBreakpointSplitView.tsx
  plugins/canvas/src/LinearBasicDisplay/components/Canvas2DFeatureRenderer.ts
  plugins/canvas/src/LinearBasicDisplay/components/hitTesting.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/labelPositioning.test.ts
  plugins/canvas/src/LinearBasicDisplay/passes/index.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/repeatRegion.test.ts
  plugins/circular-view/src/CircularView/svgcomponents/SVGCircularView.tsx
  plugins/dotplot-view/src/DotplotView/svgcomponents/SVGDotplotView.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/BlockClipGroup.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGHeader.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/VariantComponent.tsx
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/components/VariantMatrixComponent.tsx
  plugins/variants/src/VcfFeature/index.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
  products/jbrowse-web/browser-tests/README.md
  products/jbrowse-web/browser-tests/review-snapshots-web.ts
  products/jbrowse-web/browser-tests/snapshot-review-lib.ts
  products/jbrowse-web/browser-tests/suites/demo-inventory.ts
  products/jbrowse-web/src/components/NoConfigMessageSampleData.ts
  website/docs/config_guides/gwas_track.md
  website/docs/config_guides/variant_track.md
Due: prettier --write, eslint --fix

Update snaps
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/__snapshots__/JBrowseCircularGenomeView.test.tsx.snap
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/AlignmentsFilters.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-group-by-test-tsx-chain-mode-groups-whole-chains-by-hp-tag-into-sections-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-group-by-test-tsx-group-by-strand-stacks-two-sections-in-one-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-group-by-test-tsx-group-draws-per-section-paired-end-arcs-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-group-by-test-tsx-group-draws-per-section-read-cloud-samplot-lines-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/gc-content-test-tsx-gccontent-1-snap.png
  products/jbrowse-web/src/tests/testLinkedReadsDisplay.tsx
Due: prettier --write, eslint --fix

Update docs snaps
  website/static/img/alignments/modifications1.png
  website/static/img/alignments/select_arc_display.png
  website/static/img/alignments_soft_clipped.png
  website/static/img/alignments_soft_clipped_menu.png
  website/static/img/alignments_track_arcs.png
  website/static/img/bigwig/whole_genome_coverage.png
  website/static/img/cnv.png
  website/static/img/customized_feature_details.png
  website/static/img/dotplot.png
  website/static/img/favorite_tracks.png
  website/static/img/feature_detail_sequence.png
  website/static/img/gene_track_collapse_introns.png
  website/static/img/hs1_vs_mm39_synteny.png
  website/static/img/linear_synteny.png
  website/static/img/linear_synteny_gallery.png
  website/static/img/link_to_split_view.png
  website/static/img/multiwig/multi_renderer_types.png
  website/static/img/read_vs_ref_insertion.png
  website/static/img/rnaseq/compact_stacked.png
  website/static/img/rnaseq/longread_isoseq.png
  website/static/img/sv_cgiab/cnv_multi_bigwig.png
  website/static/img/sv_cgiab/cnv_show_all_regions.png
  website/static/img/sv_cgiab/deletion_sv_inspector_search.png
  website/static/img/sv_cgiab/synteny_view.png
  website/static/img/sv_cgiab/translocation_sv_inspector_view.png
  website/static/img/sv_inspector_importform_after.png
  website/static/img/sv_inspector_importform_filtered.png
  website/static/img/sv_inspector_importform_loaded.png
  website/static/img/sv_synteny/linear_synteny_genes.png
  website/static/img/synteny_from_dotplot_view.png
  website/static/img/upstream_downstream_details.png
  website/static/img/variant_panel.png
Due: none

Update test snaps
  products/jbrowse-web/src/tests/AlignmentGroupBy.test.tsx
  products/jbrowse-web/src/tests/ExportSession.test.tsx
  products/jbrowse-web/src/tests/ReversedRegionLabels.test.tsx
  products/jbrowse-web/src/tests/VcfCluster.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/reversed_region_labels_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ReversedRegionLabels.test.tsx.snap
  website/scripts/screenshot-specs.ts
Due: prettier --write, eslint --fix

GFF3 tests
  packages/core/src/pluggableElementTypes/models/saveTrackFileTypes/gff3.test.ts
  packages/core/src/pluggableElementTypes/models/saveTrackFileTypes/gff3.ts
Due: prettier --write, eslint --fix

Synthesize phase
  packages/core/src/pluggableElementTypes/models/saveTrackFileTypes/gff3.test.ts
  packages/core/src/pluggableElementTypes/models/saveTrackFileTypes/gff3.ts
Due: prettier --write, eslint --fix

Update jbrowse-img component-test resolutions for new view types
  component_tests/jbrowse-img/package.json
Due: none

Fix polynomial ReDoS in parseTranslExcept
  packages/core/src/util/geneticCodes.ts
Due: prettier --write, eslint --fix

Fix CI: stale GFF3 export snapshot, regen docs, fix stale Cypress selector
  component_tests/lgv-vite/cypress/e2e/basic.cy.ts
  products/jbrowse-web/src/tests/__file_snapshots__/save_track_data.bed.gff3
  products/jbrowse-web/src/tests/__snapshots__/SaveTrackData.test.tsx.snap
  website/docs/models/BaseInternetAccountModel.md
  website/docs/models/DockviewLayoutMixin.md
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write, eslint --fix

Add missing exports entry and fix doc formatting
  packages/core/package.json
  packages/core/scripts/generateExports.mjs
  website/docs/models/BaseInternetAccountModel.md
  website/docs/models/DockviewLayoutMixin.md
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write

Pin @jbrowse/plugin-canvas resolution in cgv-vite
  component_tests/cgv-vite/package.json
Due: none

Run prettier CLI after gendocs to match Format job's check
  docs/generate.ts
Due: prettier --write, eslint --fix
