Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs(website): a Dog10K tutorial on the CYP1A2 nonsense allele
  scripts/build_dog10k_cyp1a2.sh
  test_data/dog10k/config.json
  test_data/dog10k/dog10k_cyp1a2_snvs.vcf.gz
  test_data/dog10k/dog10k_cyp1a2_snvs.vcf.gz.tbi
  website/docs/tutorials/dog10k_lof.md
  website/scripts/gen-tutorial-thumbs.ts
  website/scripts/specs/dog10k.ts
  website/src/lib/gallery.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/dog10k-cyp1a2-nonsense.png
  website/static/img/tutorial-thumbs/dog10k_lof.webp
Due: prettier --write, eslint --fix

docs(agent): record the CYP1A2 tutorial and what dog CN data does not exist
  agent-docs/guides/TUTORIAL_FOCUS_HANDOFF.md
Due: prettier --write

fix(track-selector): add the two files 022e69cdb1 imports but did not commit
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/MoreHorizGlyph.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/showAddWidget.ts
Due: prettier --write, eslint --fix

refactor(track-selector): resolve each track's tree fields once, in allTracks
  plugins/data-management/src/HierarchicalTrackSelectorWidget/generateHierarchy.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/sortUtils.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/types.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/util.ts
Due: prettier --write, eslint --fix

docs(agent): record why dog CN can't be recomputed, and which assembly we use
  agent-docs/guides/TUTORIAL_FOCUS_HANDOFF.md
Due: prettier --write

refactor(track-selector): hoist sessionTrackIds, drop generateHierarchy's model
  plugins/data-management/src/HierarchicalTrackSelectorWidget/generateHierarchy.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/types.ts
Due: prettier --write, eslint --fix

docs(agent): record where the track selector's time actually goes
  agent-docs/CLAUDE.md
  agent-docs/reference/TRACK_SELECTOR_PERF.md
Due: prettier --write

perf(lgv): clip instead of hidden so the per-frame overlays aren't scroll ports
  plugins/linear-genome-view/src/LinearGenomeView/components/Gridlines.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/HighlightBand.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScalebar.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/Scalebar.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ScalebarCoordinateLabels.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ScalebarRefNameLabels.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackRenderingContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/util.ts
Due: prettier --write, eslint --fix

perf(maf): decimate base cells once they go sub-pixel
  packages/render-core/src/canvas2dUtils.ts
  plugins/maf/src/BgzipTaffyAdapter/BgzipTaffyAdapter.ts
  plugins/maf/src/BigMafAdapter/BigMafAdapter.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/collectTransferables.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/executeMafAlignmentData.ts
  plugins/maf/src/LinearMafRenderer/binning.test.ts
  plugins/maf/src/LinearMafRenderer/binning.ts
  plugins/maf/src/LinearMafRenderer/drawMafBlocks.test.ts
  plugins/maf/src/LinearMafRenderer/drawMafBlocks.ts
  plugins/maf/src/LinearMafRenderer/mafInstanceBuffer.test.ts
  plugins/maf/src/LinearMafRenderer/mafInstanceBuffer.ts
  plugins/maf/src/LinearMafRenderer/mafRenderingBackendTypes.ts
  plugins/maf/src/LinearMafRenderer/rendering/bases.ts
  plugins/maf/src/LinearMafRenderer/rendering/types.ts
  plugins/maf/src/MafTabixAdapter/MafTabixAdapter.ts
  plugins/maf/src/util/getSamples.ts
Due: prettier --write, eslint --fix

perf(lgv): clip the overview refName label too
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScalebar.tsx
Due: prettier --write, eslint --fix

docs(agent): handoff for MAF-tabix megabase blocks
  agent-docs/CLAUDE.md
  agent-docs/guides/MAF_LARGE_BLOCKS.md
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  agent-docs/reference/REGION_TOO_LARGE.md
Due: prettier --write

docs(agent): backlog entry for the maf fetch-cost work
  agent-docs/TODO.md
Due: prettier --write

refactor(dialogs): adopt SubmitDialog/ConfirmDialog over hand-rolled footers
  plugins/authentication/src/ExternalTokenModel/ExternalTokenEntryForm.tsx
  plugins/authentication/src/HTTPBasicModel/HTTPBasicLoginForm.tsx
  plugins/canvas/src/LinearBasicDisplay/components/ColorByAttributeDialog.tsx
  plugins/variants/src/shared/components/LDFilterDialog.tsx
  products/jbrowse-web/src/components/PluginWarningDialog.tsx
Due: prettier --write, eslint --fix

refactor(dialogs): extract SubmitCancelActions for shared-Dialog tab panes
  packages/core/src/ui/SubmitCancelActions.tsx
  packages/core/src/ui/index.ts
  packages/tree-sidebar/src/clusterDialog/ClusterAutoTab.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/CrisprGuidePanel.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/MotifListPanel.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SequencePatternPanel.tsx
Due: prettier --write, eslint --fix

refactor(lgv): drop the overview hover guide div, which painted nothing
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewRubberbandHoverTooltip.tsx
Due: prettier --write, eslint --fix

perf(maf): hoist the identity plot's per-column work out of the row loop
  plugins/maf/src/LinearMafDisplay/components/drawConservation.test.ts
  plugins/maf/src/LinearMafDisplay/components/drawConservation.ts
  plugins/maf/src/LinearMafDisplay/components/drawRowIdentity.test.ts
  plugins/maf/src/LinearMafDisplay/components/drawRowIdentity.ts
Due: prettier --write, eslint --fix

perf(maf): emit worker mismatches as typed arrays instead of objects
  plugins/maf/src/LinearMafGetAlignmentDataRpc/buildMafCoverageRegion.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/computeMafCoverage.test.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/computeMafCoverage.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/coverageTooltipBin.test.ts
Due: prettier --write, eslint --fix

docs(maf): note that binBp decimation does not generalize to the mean bands
  plugins/maf/src/LinearMafRenderer/binning.ts
Due: prettier --write, eslint --fix

perf(maf): memoize the source-chromosome ranks instead of ranking per frame
  plugins/maf/src/LinearMafDisplay/components/MafRowsCanvas.tsx
  plugins/maf/src/LinearMafDisplay/components/drawSourceChrom.ts
  plugins/maf/src/LinearMafDisplay/renderSvg.tsx
  plugins/maf/src/LinearMafDisplay/stateModel.ts
Due: prettier --write, eslint --fix

docs(agent): calibrate the maf block-size check against in-tree files
  agent-docs/guides/MAF_LARGE_BLOCKS.md
Due: prettier --write

perf(maf): stop building deletion markers that can never be drawn
  plugins/maf/src/LinearMafDisplay/components/computeVisibleDeletions.test.ts
  plugins/maf/src/LinearMafDisplay/components/computeVisibleDeletions.ts
Due: prettier --write, eslint --fix

docs(agent): record the overlay half of the maf decimation work
  agent-docs/guides/MAF_LARGE_BLOCKS.md
Due: prettier --write

style: drop em dashes from code comments
  example-plugins/score-example/src/LinearScoreDisplay/components/GpuScoreRenderer.ts
  example-plugins/score-example/src/LinearScoreDisplay/model.ts
  packages/core/src/ui/theme.ts
Due: prettier --write, eslint --fix

style: apply pending formatter fixes
  plugins/maf/src/LinearMafDisplay/components/computeVisibleDeletions.test.ts
  plugins/variants/src/shared/components/LDFilterDialog.tsx
  website/src/pages/search.astro
Due: prettier --write, eslint --fix

docs: regenerate model docs to match source
  website/docs/models/HierarchicalTrackSelectorWidget.md
  website/docs/models/LinearMafDisplay.md
Due: prettier --write

docs: remove em dashes and add missing cross-links
  website/docs/automating.md
  website/docs/config_guides/assemblies.md
  website/docs/config_guides/slot_types.md
  website/docs/config_guides/text_searching.md
  website/docs/developer_guides/configuration_schema.md
  website/docs/developer_guides/creating_display.md
  website/docs/developer_guides/creating_gpu_display.md
  website/docs/developer_guides/data_fetching.md
  website/docs/developer_guides/extension_points.md
  website/docs/developer_guides/menus.md
  website/docs/developer_guides/pif_format.md
  website/docs/developer_guides/plotting_features.md
  website/docs/developer_guides/pluggable_elements.md
  website/docs/developer_guides/svg_export.md
  website/docs/developer_guides/testing_plugins.md
  website/docs/embedded_components.md
  website/docs/jbrowse_jupyter.md
  website/docs/jbrowser.md
  website/docs/tutorials/bxd_qtl.md
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/multiway_synteny.md
  website/docs/tutorials/tcga_cohort_cnv.md
  website/docs/user_guides/alignments_track.md
  website/docs/user_guides/basic_usage.md
  website/docs/user_guides/consensus_sequence.md
  website/docs/user_guides/feature_sequence.md
  website/docs/user_guides/gene_track.md
  website/docs/user_guides/graph_genome_view.md
  website/docs/user_guides/multirow_feature_track.md
  website/docs/user_guides/sv_visualization.md
Due: prettier --write

fix(website): support multiple lightbox links per gallery card
  website/src/components/Lightbox.astro
Due: none

docs(pangenome_hprc): drop the retired local-ancestry (PCLAI) section
  scripts/build_hprc2_pclai.sh
  test_data/hprc2/config.json
  test_data/hprc2/hprc2_pclai_chr1.bed.gz
  test_data/hprc2/hprc2_pclai_chr1.bed.gz.tbi
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/screenshot-review.json
  website/scripts/specs/hprc2.ts
  website/static/img/hprc2/local_ancestry.png
  website/static/img/hprc2/local_ancestry_clustered.png
Due: prettier --write, eslint --fix

feat(dog10k): paint CYP1A2 copy number for all 1,987 canids
  scripts/build_dog10k_cyp1a2_cn.sh
  test_data/dog10k/config.json
  test_data/dog10k/dog10k_cyp1a2_cn.bed.gz
  test_data/dog10k/dog10k_cyp1a2_cn.bed.gz.tbi
  test_data/dog10k/dog10k_cyp1a2_cohort_cn.bed.gz
  test_data/dog10k/dog10k_cyp1a2_cohort_cn.bed.gz.tbi
  website/docs/tutorials/dog10k_lof.md
  website/scripts/specs/dog10k.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/dog10k-cyp1a2-cohort-copy-number.png
  website/static/img/dog10k-cyp1a2-copy-number.png
Due: prettier --write, eslint --fix

test(jbrowse-web): wait for triggered async work before tests end
  products/jbrowse-web/src/tests/ErrorConditions.test.tsx
  products/jbrowse-web/src/tests/ExportSession.test.tsx
  products/jbrowse-web/src/tests/JBrowse.test.tsx
  products/jbrowse-web/src/tests/LGVSynteny.test.tsx
  products/jbrowse-web/src/tests/SpreadsheetViewInit.test.tsx
  products/jbrowse-web/src/tests/TrackMenu.test.tsx
  products/jbrowse-web/src/tests/createPluginManager.test.tsx
  products/jbrowse-web/src/tests/util.tsx
Due: prettier --write, eslint --fix

fix(core): don't apply a promoted default that was cleared before the click
  agent-docs/reference/DISPLAY_TYPE_DEFAULTS.md
  packages/core/src/configuration/configTypeNarrowing.test.ts
  packages/core/src/configuration/configurationSlot.ts
  packages/core/src/configuration/promotableDefaults.test.ts
  packages/core/src/configuration/promotableDefaults.ts
  packages/core/src/configuration/types.ts
Due: prettier --write, eslint --fix

refactor(svg-export): single renderSvg shell, and fix the 2px export clip
  CLAUDE.md
  agent-docs/ARCHITECTURE.md
  agent-docs/reference/SVG_EXPORT.md
  packages/wiggle-core/src/YScaleBarOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/renderSvg.tsx
  plugins/canvas/src/LinearBasicDisplay/renderSvg.tsx
  plugins/canvas/src/LinearBasicDisplay/trackMenus.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/renderSvg.tsx
  plugins/canvas/src/MultiRowGetFeaturesRPC/packMultiRowFeatures.ts
  plugins/canvas/src/RenderFeatureDataRPC/collect/glyphColors.ts
  plugins/gwas/src/LinearManhattanDisplay/renderSvg.tsx
  plugins/hic/src/LinearHicDisplay/renderSvg.tsx
  plugins/linear-genome-view/src/index.ts
  plugins/linear-genome-view/src/shared/renderDisplaySvg.test.tsx
  plugins/linear-genome-view/src/shared/renderDisplaySvg.tsx
  plugins/maf/src/LinearMafDisplay/renderSvg.tsx
  plugins/sequence/src/LinearReferenceSequenceDisplay/renderSvg.tsx
  plugins/variants/src/LDDisplay/renderSvg.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/renderSvg.tsx
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/renderSvg.tsx
  plugins/wiggle/src/LinearWiggleDisplay/renderSvg.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/configSchema.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/renderSvg.tsx
  plugins/wiggle/src/index.ts
  plugins/wiggle/src/shared/WiggleFamilySvg.tsx
  plugins/wiggle/src/shared/remapRetiredAutoscale.ts
Due: prettier --write, eslint --fix

Remove methylation/arabidopsis_wgbs_boundary spec
  website/scripts/screenshot-review.json
  website/scripts/specs/methylation.ts
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

fix(maf): stop coverage counting phantom bases past a short row
  plugins/maf/src/LinearMafGetAlignmentDataRpc/computeMafCoverage.test.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/computeMafCoverage.ts
  plugins/maf/src/util/asciiBytes.ts
Due: prettier --write, eslint --fix

perf(maf): bound the insertion overlay, share the overlay span math
  plugins/maf/src/LinearMafDisplay/components/DragSelectionRect.tsx
  plugins/maf/src/LinearMafDisplay/components/LinearMafDisplayComponent.tsx
  plugins/maf/src/LinearMafDisplay/components/MafAlignmentTooltipContents.tsx
  plugins/maf/src/LinearMafDisplay/components/computeVisibleAnnotations.ts
  plugins/maf/src/LinearMafDisplay/components/computeVisibleCodons.test.ts
  plugins/maf/src/LinearMafDisplay/components/computeVisibleCodons.ts
  plugins/maf/src/LinearMafDisplay/components/computeVisibleDeletions.ts
  plugins/maf/src/LinearMafDisplay/components/computeVisibleEmptyLines.ts
  plugins/maf/src/LinearMafDisplay/components/computeVisibleInsertions.test.ts
  plugins/maf/src/LinearMafDisplay/components/computeVisibleInsertions.ts
  plugins/maf/src/LinearMafDisplay/components/computeVisibleInversions.ts
  plugins/maf/src/LinearMafDisplay/components/computeVisibleSummaryBars.ts
  plugins/maf/src/LinearMafDisplay/components/drawRowIdentity.ts
  plugins/maf/src/LinearMafDisplay/components/drawSourceChrom.ts
  plugins/maf/src/LinearMafDisplay/components/useDragSelection.ts
  plugins/maf/src/LinearMafDisplay/components/visibleRegionGeometry.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
Due: prettier --write, eslint --fix

fix(alignments): make layout order and printed locations deterministic
  plugins/alignments/src/AlignmentsFeatureDetail/BreakpointPair.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/LaunchSupplementaryAlignmentBreakpointSplitViewPanel.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/LinkedPairedAlignments.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/parseSupplementaryAlignment.test.ts
  plugins/alignments/src/AlignmentsFeatureDetail/parseSupplementaryAlignment.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/AlignmentsTooltip.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/hitTestPipeline.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/lengthStats.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/sashimiTooltip.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/tooltipLengthStats.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/tooltipUtils.ts
  plugins/alignments/src/LinearAlignmentsDisplay/computeChainLayout.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/computeChainLayout.ts
  plugins/alignments/src/RenderAlignmentDataRPC/sortLayout.ts
  plugins/alignments/src/features/modification/hitTest.ts
  plugins/alignments/src/features/read/hitTest.ts
  plugins/alignments/src/shared/hitTestTypes.ts
  plugins/alignments/src/shared/legendUtils.ts
  plugins/alignments/src/shared/locStrings.test.ts
  plugins/alignments/src/shared/locStrings.ts
Due: prettier --write, eslint --fix

fix(app-core): let plugins append to a thunk-form menu instead of crashing
  packages/app-core/src/menus.test.ts
  packages/app-core/src/menus.ts
Due: prettier --write, eslint --fix

fix(text-search): survive a failing index, and stop hiding refnames past the cap
  packages/core/src/TextSearch/TextSearchManager.test.ts
  packages/core/src/TextSearch/TextSearchManager.ts
  packages/core/src/ui/RefNameAutocomplete/index.tsx
  packages/core/src/ui/RefNameAutocomplete/util.test.ts
  packages/core/src/ui/RefNameAutocomplete/util.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSearchAdapter/JBrowse1TextSearchAdapter.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchBox.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchResultsDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchResultsTable.tsx
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/linear-genome-view/src/searchUtils.test.ts
  plugins/linear-genome-view/src/searchUtils.ts
  plugins/trix/src/TrixTextSearchAdapter/TrixTextSearchAdapter.ts
  products/jbrowse-img/src/renderRegion.tsx
  website/docs/models/LinearGenomeView.md
Due: prettier --write, eslint --fix

docs(tutorials): one curl, one bash, for every build script
  scripts/build_dog10k_wolfdog_ancestry.sh
  scripts/build_ecoli_pangenome_cactus.sh
  scripts/build_ecoli_pangenome_graph.sh
  scripts/build_khv_trio_hapibd.sh
  scripts/build_pggb_tabix.sh
  scripts/build_tcga_cohort_cnv.sh
  scripts/bxd_build_demo.sh
  scripts/check-build-scripts.py
  website/docs/quickstart_web.md
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/analyze_trio.md
  website/docs/tutorials/bisulfite.md
  website/docs/tutorials/bxd_qtl.md
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/dog10k_lof.md
  website/docs/tutorials/dog10k_svs.md
  website/docs/tutorials/local_ancestry.md
  website/docs/tutorials/mcscan_synteny.md
  website/docs/tutorials/multiway_synteny.md
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/tutorials/population_cnv.md
  website/docs/tutorials/population_genomics.md
  website/docs/tutorials/scatac_pseudobulk.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/docs/tutorials/tcga_cohort_cnv.md
  website/docs/user_guides/graph_genome_view.md
Due: prettier --write

fix(canvas): make "Clear filters" clear the gene-only view too
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/model.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
