Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Resolve volvox.2bit URI in createPluginManager test to avoid 404
  packages/core/src/gpu/RenderLifecycleMixin.test.ts
  packages/core/src/gpu/RenderLifecycleMixin.ts
  packages/core/src/gpu/globalBackend.ts
  packages/core/src/util/useRenderBackend.ts
  packages/core/src/util/useRenderer.test.ts
  packages/core/src/util/useRenderer.ts
  products/jbrowse-web/src/tests/createPluginManager.test.tsx
Due: prettier --write, eslint --fix

Fix region-merge shrinking on contained features in config adapters
  plugins/config/src/FromConfigAdapter/FromConfigAdapter.ts
  plugins/config/src/FromConfigRegionsAdapter/FromConfigRegionsAdapter.test.ts
  plugins/config/src/NcbiSequenceReportAliasAdapter/NcbiSequenceReportAliasAdapter.ts
Due: prettier --write, eslint --fix

Promote alignments arcLineWidth to a config slot, fix getConfigOverrides test
  packages/core/src/util/getConfigOverrides.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/configSchema.ts
  plugins/alignments/src/LinearAlignmentsDisplay/migrateAlignmentsSnapshot.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/migrateAlignmentsSnapshot.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  products/jbrowse-img/README.md
  products/jbrowse-img/src/renderRegion.tsx
Due: prettier --write, eslint --fix

Remove stale volvox.2bit_404 console filter
  config/jest/console.js
Due: none

Dedupe sub-menu path resolution in app-core menus
  packages/app-core/src/menus.ts
  packages/app-core/src/ui/App/AppToolbar.tsx
Due: prettier --write, eslint --fix

Fix doc errors across user/config/developer guides and tutorials
  website/docs/config_guides/avoiding_stale_config.md
  website/docs/config_guides/intro.md
  website/docs/config_guides/multiquantitative_track.md
  website/docs/config_guides/theme.md
  website/docs/developer_guides/data_fetching.md
  website/docs/developer_guides/extension_points.md
  website/docs/developer_guides/svg_export.md
  website/docs/quickstart_web.md
  website/docs/tutorials/analyze_trio.md
  website/docs/tutorials/embed_linear_genome_view.md
  website/docs/tutorials/sv_multisamples.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/docs/user_guides/alignments_track.md
  website/docs/user_guides/basic_usage.md
  website/docs/user_guides/multiquantitative_track.md
  website/docs/user_guides/sv_visualization.md
Due: prettier --write

Simplify hierarchical track selector; fix swapped favorite star icons
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/BadgeDropdownTracks.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/FavoriteTracks.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/HierarchicalHeader.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/RecentlyUsedTracks.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackCategory.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackSelectorTrackMenu.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/util.ts
Due: prettier --write, eslint --fix

Dedup LGV highlight color/coords logic and share Save track data label
  packages/core/src/pluggableElementTypes/models/BaseTrackModel.ts
  packages/core/src/pluggableElementTypes/models/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/Highlight.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewHighlight.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabelMenu.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/util.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
Due: prettier --write, eslint --fix

Autofit toolbar logo to the toolbar height
  packages/app-core/src/ui/App/AppToolbar.tsx
Due: prettier --write, eslint --fix

Clarify track/display concepts (BasicTrack, BaseLinearDisplay family)
  agent-docs/ARCHITECTURE.md
  agent-docs/TRACK_DISPLAY_CONCEPTS.md
  packages/core/src/pluggableElementTypes/models/baseTrackConfig.ts
  plugins/canvas/src/LinearBasicDisplay/model.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/model.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/configSchema.ts
  plugins/linear-genome-view/src/BasicTrack/configSchema.ts
  plugins/linear-genome-view/src/LinearBareDisplay/index.ts
  plugins/linear-genome-view/src/LinearBareDisplay/model.ts
Due: prettier --write, eslint --fix

Renamings
  website/docs/developer_guides/creating_gpu_display.md
  website/docs/developer_guides/pluggable_elements.md
  website/docs/models/GlobalDataDisplayMixin.md
  website/docs/models/GpuLifecycleMixin.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearHicDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiRegionDisplayMixin.md
  website/docs/models/SharedGCContentModel.md
  website/docs/models/SharedLDModel.md
  website/docs/tutorials/rnaseq.md
  website/docs/urlparams.md
Due: prettier --write

Renamings
  agent-docs/ARCHITECTURE.md
  agent-docs/TODO.md
  packages/product-core/src/RootModel/BaseRootModel.ts
  packages/product-core/src/RootModel/InternetAccounts.ts
  packages/product-core/src/RootModel/createConfigModel.ts
  packages/product-core/src/Session/Connections.ts
  packages/product-core/src/Session/ReferenceManagement.ts
  packages/product-core/src/Session/Themes.ts
  packages/product-core/src/Session/Tracks.ts
  packages/product-core/src/sessionUtils.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/chainOverlayUtils.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/coverageParity.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/fetchAutorun.test.ts
  plugins/data-management/src/JB2TrackHubConnection/addRelativeUris.ts
  plugins/data-management/src/JB2TrackHubConnection/doConnect.ts
  products/jbrowse-img/src/renderRegion.tsx
  products/jbrowse-web/browser-tests/suites/arcs-display.ts
Due: prettier --write, eslint --fix

Fix modal widgets, theme memoization, and minor cleanups in web/embedded-core
  packages/embedded-core/src/ui/ModalWidget.tsx
  packages/embedded-core/src/ui/VersionAboutDialog.tsx
  packages/web-core/src/BaseWebSession/index.ts
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/JBrowseCircularGenomeView.tsx
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/JBrowseLinearGenomeView.tsx
Due: prettier --write, eslint --fix

Reference test files from GPU implementation comments
  packages/core/src/gpu/RenderLifecycleMixin.ts
  packages/core/src/gpu/hal/regionRegistry.ts
  packages/core/src/gpu/hal/webgl2Hal.ts
  packages/core/src/gpu/hal/webgpuHal.ts
  packages/core/src/gpu/installPerRegionLifecycle.ts
  packages/core/src/gpu/regionUploadSync.ts
Due: prettier --write, eslint --fix

[skip ci] Add samplot-down browser test + baselines, finalize test name
  products/jbrowse-web/browser-tests/__snapshots__/arcs-samplot-down-canvas.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/arcs-samplot-down-canvas.png
  products/jbrowse-web/browser-tests/suites/arcs-display.ts
Due: prettier --write, eslint --fix

Rename arcsHeight/arcLineWidth -> pairedConnections* band settings
  plugins/alignments/src/LinearAlignmentsDisplay/components/GpuAlignmentsRenderer.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupComponent.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/chainOverlayUtils.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/coverageParity.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/rendererTypes.ts
  plugins/alignments/src/LinearAlignmentsDisplay/configSchema.ts
  plugins/alignments/src/LinearAlignmentsDisplay/insertSizeTicks.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/insertSizeTicks.ts
  plugins/alignments/src/LinearAlignmentsDisplay/migrateAlignmentsSnapshot.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/migrateAlignmentsSnapshot.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/features/arcs/drawCanvas.ts
  products/jbrowse-img/README.md
  products/jbrowse-img/src/renderRegion.tsx
Due: prettier --write, eslint --fix

Rename pairedConnections -> readConnections (covers mate-pairs + split reads)
  plugins/alignments/src/LinearAlignmentsDisplay/components/Canvas2DAlignmentsRenderer.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/GpuAlignmentsRenderer.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupComponent.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/chainOverlayUtils.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/coverageParity.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/pileupBezierArcs.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/rendererTypes.ts
  plugins/alignments/src/LinearAlignmentsDisplay/configSchema.ts
  plugins/alignments/src/LinearAlignmentsDisplay/constants.ts
  plugins/alignments/src/LinearAlignmentsDisplay/fetchAutorun.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/insertSizeTicks.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/insertSizeTicks.ts
  plugins/alignments/src/LinearAlignmentsDisplay/migrateAlignmentsSnapshot.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/migrateAlignmentsSnapshot.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/renderSvg.tsx
  plugins/alignments/src/features/arcs/drawCanvas.ts
  plugins/alignments/src/shared/menus/index.ts
  plugins/alignments/src/shared/menus/menuHelpers.ts
  products/jbrowse-img/README.md
  products/jbrowse-img/src/renderRegion.tsx
  products/jbrowse-web/browser-tests/suites/arcs-display.ts
Due: prettier --write, eslint --fix

sv-inspector: simplify refName collection, dedup bar height, harden chord click
  plugins/sv-inspector/src/SvInspectorView/components/SvInspectorView.tsx
  plugins/sv-inspector/src/SvInspectorView/index.ts
  plugins/sv-inspector/src/SvInspectorView/model.ts
Due: prettier --write, eslint --fix

Extract shared synteny shader helpers; dedup curve segment counts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.slang
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyTypes.slang
  plugins/linear-comparative-view/src/LinearSyntenyRPC/syntenyColors.ts
Due: prettier --write, eslint --fix

Add LocusZoom-style GWAS LD demo with interactive re-anchoring
  plugins/gwas/src/LinearManhattanDisplay/components/LinearManhattanDisplayComponent.tsx
  plugins/gwas/src/LinearManhattanDisplay/components/manhattanDisplayTypes.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
  plugins/variants/src/PlinkLDAdapter/PlinkLDAdapter.test.ts
  plugins/variants/src/PlinkLDAdapter/PlinkLDAdapter.ts
  plugins/variants/src/PlinkLDAdapter/test_data/example.ld
  products/jbrowse-web/browser-tests/__snapshots__/gwas-locuszoom-context-menu.png
  products/jbrowse-web/browser-tests/__snapshots__/gwas-locuszoom-reanchored-canvas.png
  products/jbrowse-web/browser-tests/__snapshots__/gwas-locuszoom-stat4-canvas.png
  products/jbrowse-web/browser-tests/suites/gwas-locuszoom.ts
  products/jbrowse-web/src/components/NoConfigMessage.tsx
  test_data/config_gwas.json
  test_data/gwas/SLE.ld
  test_data/gwas/SLE_gwas.bed.gz
  test_data/gwas/SLE_gwas.bed.gz.tbi
Due: prettier --write, eslint --fix

Improve jbrowse-desktop Open Sequence dialog
  pnpm-lock.yaml
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/src/components/OpenSequenceDialog.tsx
  products/jbrowse-desktop/src/components/openSequenceDialogModel.test.ts
  products/jbrowse-desktop/src/components/util.test.ts
  products/jbrowse-desktop/src/components/util.ts
Due: prettier --write, eslint --fix

grid-bookmark: dedupe overview highlight coords, fix per-view keyboard shortcuts
  plugins/grid-bookmark/src/GridBookmarkWidget/components/BookmarkGrid.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/Highlight/Highlight.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/Highlight/OverviewHighlight.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/Highlight/index.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/dialogs/EditHighlightColorDialog.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/model.ts
  plugins/grid-bookmark/src/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/afterAttach.ts
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
  products/jbrowse-web/src/sessionLoaderHelpers.test.ts
  products/jbrowse-web/src/sessionLoaderHelpers.ts
Due: prettier --write, eslint --fix

grid-bookmark: dedupe colWidth helper; stable overview highlight key
  plugins/grid-bookmark/src/GridBookmarkWidget/components/BookmarkGrid.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/HighlightGrid.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/utils.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewHighlight.tsx
Due: prettier --write, eslint --fix

Split Open Sequence dialog into GuidedForm/BulkForm, move staging to advanced
  products/jbrowse-desktop/src/components/BulkForm.tsx
  products/jbrowse-desktop/src/components/GuidedForm.tsx
  products/jbrowse-desktop/src/components/OpenSequenceDialog.tsx
Due: prettier --write, eslint --fix

website: exclude CLAUDE.md from docs content collection glob
  website/src/content.config.ts
Due: prettier --write, eslint --fix

docs: fix composed-of parsing and dead exports in jbrowse-react products
  docs/util.ts
  products/jbrowse-react-app/src/createModel.ts
  products/jbrowse-react-app/src/sessionModel/index.ts
  products/jbrowse-react-circular-genome-view/src/createModel/createModel.ts
  products/jbrowse-react-circular-genome-view/src/createModel/createSessionModel.ts
  products/jbrowse-react-linear-genome-view/src/createModel/createModel.ts
  products/jbrowse-react-linear-genome-view/src/createModel/createSessionModel.ts
Due: prettier --write, eslint --fix

docs: add keyboard shortcuts, dotplot navigation, faceted selector, and synteny format notes
  website/docs/config_guides/track_selector.md
  website/docs/quickstart_web.md
  website/docs/user_guides/basic_usage.md
  website/docs/user_guides/dotplot_view.md
Due: prettier --write

circular-view: remove pxPerRadian alias, extract HatchCircle, fix comment
  plugins/circular-view/src/ChordVariantDisplay/components/DisplayError.tsx
  plugins/circular-view/src/ChordVariantDisplay/components/HatchCircle.tsx
  plugins/circular-view/src/ChordVariantDisplay/components/Loading.tsx
  plugins/circular-view/src/CircularView/model.ts
  plugins/circular-view/src/CircularView/slices.ts
  plugins/circular-view/src/CircularView/viewportVisibleRegion.ts
Due: prettier --write, eslint --fix

docs: add FAQ entry for converting from JBrowse 1
  website/docs/faq.md
Due: prettier --write

circular-view: use parseSvAlt from sv-core for SV endpoint parsing
  plugins/circular-view/package.json
  plugins/circular-view/src/ChordRenderer/Chord.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Regenerate docs
  website/docs/config/BaseLinearDisplay.md
  website/docs/config/BasicTrack.md
  website/docs/config/LGVSyntenyDisplay.md
  website/docs/config/LinearAlignmentsDisplay.md
  website/docs/models/BaseLinearDisplay.md
  website/docs/models/BaseSessionModel.md
  website/docs/models/BaseWebSession.md
  website/docs/models/DotplotView.md
  website/docs/models/FacetedModel.md
  website/docs/models/GlobalDataDisplayMixin.md
  website/docs/models/HierarchicalTrackSelectorWidget.md
  website/docs/models/JBrowseDesktopRootModel.md
  website/docs/models/JBrowseReactAppRootModel.md
  website/docs/models/JBrowseReactCircularGenomeViewSessionModel.md
  website/docs/models/JBrowseReactLinearGenomeViewSessionModel.md
  website/docs/models/JBrowseWebRootModel.md
  website/docs/models/JBrowseWebSessionModel.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearBareDisplay.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearGenomeView.md
  website/docs/models/LinearHicDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiRegionDisplayMixin.md
  website/docs/models/MultipleViewsSessionMixin.md
  website/docs/models/RenderLifecycleMixin.md
  website/docs/models/SharedGCContentModel.md
  website/docs/models/SharedLDModel.md
  website/docs/models/SvInspectorView.md
  website/docs/models/TracksManagerSessionMixin.md
  website/docs/urlparams.md
Due: prettier --write

hic: remove dead code and re-export indirection
  plugins/hic/src/HicAdapter/HicAdapter.ts
  plugins/hic/src/LinearHicDisplay/components/HicRenderer.ts
  plugins/hic/src/LinearHicDisplay/components/colorRamp.ts
  plugins/hic/src/LinearHicDisplay/model.ts
Due: prettier --write, eslint --fix

docs: improve faq.md clarity, fix errors, add entries
  website/docs/faq.md
Due: prettier --write

gccontent: add GC skew mode with in-app toggle; rdf: tidy SPARQLAdapter
  plugins/gccontent/src/GCContentAdapter/GCContentAdapter.test.ts
  plugins/gccontent/src/GCContentAdapter/GCContentAdapter.ts
  plugins/gccontent/src/GCContentAdapter/configSchema.ts
  plugins/gccontent/src/LinearGCContentDisplay/config1.ts
  plugins/gccontent/src/LinearGCContentDisplay/config2.ts
  plugins/gccontent/src/LinearGCContentDisplay/shared.ts
  plugins/rdf/src/SPARQLAdapter/SPARQLAdapter.ts
  plugins/rdf/src/SPARQLAdapter/__snapshots__/SPARQLAdapter.test.ts.snap
  website/docs/config/GCContentAdapter.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/SharedGCContentModel.md
Due: prettier --write, eslint --fix

comparative-adapters: remove dead parsePanSN
  plugins/comparative-adapters/src/util.test.ts
  plugins/comparative-adapters/src/util.ts
Due: prettier --write, eslint --fix

dotplot: add interactive highlight chips; fix PluggableComponent
  packages/core/src/ui/PluggableComponent.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotHighlightBands.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotHighlightChipOverlay.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotHighlightChips.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotHighlights.tsx
  plugins/dotplot-view/src/DotplotView/components/MouseInteractionLayer.tsx
  plugins/dotplot-view/src/DotplotView/components/highlightUtils.ts
  plugins/dotplot-view/src/DotplotView/components/installDotplotHighlights.tsx
  website/docs/user_guides/alignments_track.md
  website/docs/user_guides/quantitative_track.md
  website/docs/user_guides/sv_visualization.md
Due: prettier --write, eslint --fix

docs: fix incorrect code examples, imports, and cross-references
  website/docs/config_guides/variant_track.md
  website/docs/developer_guides/creating_renderer.md
  website/docs/developer_guides/data_fetching.md
  website/docs/developer_guides/renderer_architecture.md
  website/docs/developer_guides/rpc_workers.md
  website/docs/developer_guides/svg_export.md
  website/docs/quickstart_web.md
  website/docs/tutorials/methylation.md
  website/docs/user_guides/quantitative_track.md
Due: prettier --write

shaders
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/Canvas2DSyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyEdgeStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillCurve.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyFillStraight.generated.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/shaders/syntenyTypes.slang
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
