Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(hprc): the CFH panel is picked from the callset, and fetched in parallel
  _typos.toml
  demos/hprc/config.json
  scripts/build_hprc_cfhr_synteny.sh
Due: none

chore: regenerate the live-link tables for the HPRC panel figures
  website/src/lib/galleryLinks.generated.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

docs(hprc): the CFH cluster as one lane per haplotype
  figures.lock
  scripts/build_hprc_cfhr_synteny.sh
  website/docs/tutorials/multiway_synteny_lgv_track.md
  website/docs/tutorials/orthofinder_synteny.md
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/specs/synteny.ts
Due: prettier --write, eslint --fix

chore: regenerate the display tables after rebasing onto LinearScoreDisplay
  website/docs/config/MultiWaySyntenyDisplay.md
  website/docs/developer_guides/creating_display.md
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write

test: regenerate the config-slot snapshot after the rebase
  products/jbrowse-web/src/tests/__snapshots__/ConfigSlotDefaults.test.ts.snap
Due: none

chore: regenerate the display census after the alphagenome rebase
  agent-docs/ARCHITECTURE.md
Due: prettier --write

perf(variants): bit-plane the composite LD kernel
  agent-docs/reference/SHADER_LIFT_INVENTORY.md
  plugins/variants/src/LDDisplay/components/shaders/ldCompute.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldCompute.iface.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldCompute.slang
  plugins/variants/src/VariantRPC/getLDMatrixGPU.ts
Due: prettier --write, eslint --fix

feat(variants): let a phased callset be read as composite LD
  agent-docs/ARCHITECTURE.md
  plugins/variants/src/LDDisplay/SharedLDConfigSchema.ts
  plugins/variants/src/LDDisplay/shared.ts
  plugins/variants/src/VariantRPC/getLDMatrix.ts
  plugins/variants/src/shared/detectPhased.test.ts
  plugins/variants/src/shared/detectPhased.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  website/docs/config/LDDisplay.md
  website/docs/config/LDTrackDisplay.md
  website/docs/config/SharedLDDisplay.md
  website/docs/models/SharedLDModel.md
Due: prettier --write, eslint --fix

Typo
  _typos.toml
Due: none

Bump to electron 44
  package.json
  packages/browser-test-utils/package.json
  packages/core/package.json
  pnpm-lock.yaml
  products/jbrowse-build-your-own/examples-site/package.json
  products/jbrowse-desktop/package.json
  products/jbrowse-react-app/examples-site/package.json
  products/jbrowse-react-circular-genome-view/examples-site/package.json
  products/jbrowse-react-linear-genome-view/examples-site/package.json
  website/package.json
Due: none

fix(website): type the app-phase probe's query as an HTMLElement
  website/scripts/probe-loading-text.ts
Due: prettier --write, eslint --fix

test: add the ldMethod slot to the config-slot snapshot
  products/jbrowse-web/src/tests/__snapshots__/ConfigSlotDefaults.test.ts.snap
Due: none

fix(desktop): bump electron-chromedriver alongside electron 44
  pnpm-lock.yaml
  pnpm-workspace.yaml
  products/jbrowse-desktop/package.json
Due: none

docs: trim CLAUDE.md
  CLAUDE.md
Due: prettier --write

docs: move four silent traps from agent memory into the code
  agent-docs/TODO.md
  agent-docs/todo/a-polyprotein-cds-reads-as-non-coding-and-ranks-last.md
  plugins/comparative-adapters/src/util.ts
  products/jbrowse-web/src/rootModel/test_util.ts
  products/jbrowse-web/src/tests/util.tsx
  scripts/workspaceLayering.test.ts
  tsconfig.json
Due: prettier --write, eslint --fix

refactor(synteny-core): extract COLOR_MODES to a leaf module so the recipes import it
  packages/synteny-core/src/colorByMenuItems.tsx
  packages/synteny-core/src/colorModes.ts
  packages/synteny-core/src/index.ts
  website/src/lib/spec-recipe/fields.ts
Due: prettier --write, eslint --fix

docs(agent-docs): triage six backlog entries — two done, four declined
  agent-docs/TODO.md
  agent-docs/ideas/a-display-declares-itself.md
  agent-docs/reference/REJECTED_IDEAS.md
  agent-docs/todo/decide-whether-a-tracks-height-should-be-bounded-at-all.md
  agent-docs/todo/does-a-sixth-alignments-track-want-a-sixth-rpc-worker.md
  agent-docs/todo/import-the-recipes-remaining-copied-label-tables.md
  agent-docs/todo/make-the-webgl-blank-verdict-conclusive.md
  agent-docs/todo/put-the-manhattan-display-on-plotgeometry.md
  agent-docs/todo/sweep-the-unused-exports-with-a-real-tool-or-close-the-question.md
Due: prettier --write

fix(workspace): the splitter drag took any button, from any pointer
  packages/app-core/src/WorkspaceLayout/CLAUDE.md
  packages/app-core/src/WorkspaceLayout/LayoutRenderer.test.tsx
  packages/app-core/src/WorkspaceLayout/LayoutRenderer.tsx
Due: prettier --write, eslint --fix

docs(workspace): a doc comment on the wrong function, and a sizing rule that contradicted itself
  packages/app-core/src/WorkspaceLayout/CLAUDE.md
  packages/app-core/src/WorkspaceLayout/spec.test.ts
  packages/app-core/src/WorkspaceLayout/spec.ts
  packages/app-core/src/ui/App/JBrowseTabMenu.tsx
  website/docs/urlparams.md
Due: prettier --write, eslint --fix

refactor(workspace): two sugars reached their callee sideways with `this`
  packages/app-core/src/WorkspaceLayout/model.test.ts
  packages/app-core/src/WorkspaceLayout/model.ts
Due: prettier --write, eslint --fix

refactor(workspace): "closing closes its views" was spelled a third time
  packages/app-core/src/WorkspaceLayout/CLAUDE.md
  packages/app-core/src/WorkspaceLayout/WorkspaceContainer.tsx
  packages/app-core/src/WorkspaceLayout/WorkspacePanelActions.test.tsx
  packages/app-core/src/WorkspaceLayout/WorkspacePanelActions.tsx
Due: prettier --write, eslint --fix

docs: regenerate, the two sugars moved to their own actions block
  website/docs/models/BaseWebSessionModel.md
  website/docs/models/JBrowseDesktopSessionModel.md
  website/docs/models/JBrowseWebSessionModel.md
  website/docs/models/WorkspaceLayoutMixin.md
Due: prettier --write

docs(architecture): the byte estimate's nav clear is the mixin's autorun
  agent-docs/ARCHITECTURE.md
Due: prettier --write

docs(workspace): three close gestures, not four
  packages/app-core/src/WorkspaceLayout/CLAUDE.md
Due: prettier --write

fix(alignments): resolve a split read's primary by pair role, not name alone
  plugins/alignments/src/ReadVsRefDialog/fetchPrimaryAlignment.test.ts
  plugins/alignments/src/ReadVsRefDialog/fetchPrimaryAlignment.ts
Due: prettier --write, eslint --fix

fix(synteny-launch): one pairwise launch helper, and the feature widget clips to the visible window
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/contextMenuItems.test.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/contextMenuItems.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/testEnv.ts
  plugins/linear-comparative-view/src/LaunchSyntenyView/pairwiseSyntenyLaunch.ts
  plugins/linear-comparative-view/src/LaunchSyntenyView/visibleSpanOnRefName.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/bandMoveTargets.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/moveMatchingPanel.ts
  plugins/linear-comparative-view/src/SyntenyFeatureDetail/LinkToSyntenyView.test.ts
  plugins/linear-comparative-view/src/SyntenyFeatureDetail/LinkToSyntenyView.tsx
  products/jbrowse-web/src/tests/LGVSynteny.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/lgv-synteny-test-tsx-nav-to-synteny-from-feature-details-1-snap.png
Due: prettier --write, eslint --fix

fix(synteny): the self-lane toggle hides a lane keyed on an alias the track declares
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/hiddenGroupKeys.test.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/model.ts
Due: prettier --write, eslint --fix

feat(synteny-launch): the pairwise dialog prints where each panel will open
  plugins/linear-comparative-view/src/LaunchSyntenyView/LaunchSyntenyViewDialog.tsx
  plugins/linear-comparative-view/src/LaunchSyntenyView/PanelList.tsx
Due: prettier --write, eslint --fix

docs(synteny-launch): the guide matches the open-tracks scoping; park the rest of the review
  agent-docs/ideas/README.md
  agent-docs/ideas/maf-row-synteny-launch.md
  agent-docs/reference/REGION_VIEW_LAUNCH.md
  plugins/linear-comparative-view/src/LaunchSyntenyView/LaunchSyntenyViewForRegionDialog.tsx
  plugins/linear-comparative-view/src/LaunchSyntenyView/findPosInCigar.ts
  plugins/linear-comparative-view/src/LaunchSyntenyView/regionLaunchMenuItems.ts
  plugins/linear-comparative-view/src/LaunchSyntenyView/useMateDiscovery.ts
  website/docs/user_guides/linear_synteny_view.md
Due: prettier --write, eslint --fix

fix(sv-core): a mate position has to be a 1-based coordinate
  packages/sv-core/src/util.test.ts
  packages/sv-core/src/util.ts
Due: prettier --write, eslint --fix

test(data-management): pin htmlLink's escaping of hub-controlled text
  plugins/data-management/src/UCSCTrackHubConnection/util.test.ts
Due: prettier --write, eslint --fix

docs(workspace): pointer capture is what keeps a drag from selecting text
  packages/app-core/src/WorkspaceLayout/CLAUDE.md
Due: prettier --write

test(dotplot): pin where the axis-margin cutoff steps, and correct its comment
  plugins/dotplot-view/src/DotplotView/components/util.test.ts
  plugins/dotplot-view/src/DotplotView/components/util.ts
Due: prettier --write, eslint --fix

test(browser): refuse to capture an element with no layout box
  products/jbrowse-web/browser-tests/probe-dotplot-border-bistable.ts
  products/jbrowse-web/browser-tests/probe-dotplot-drift-state.ts
  products/jbrowse-web/browser-tests/snapshot.ts
Due: prettier --write, eslint --fix

docs(website): re-film the protein launch tour against protein3d 0.9.0
  agent-docs/TODO.md
  agent-docs/reference/REJECTED_IDEAS.md
  agent-docs/todo/re-film-the-protein-launch-tour-once-protein3d-ships-the-a3m-removal.md
  website/media.lock
  website/scripts/specs/features.ts
  website/scripts/videos/proteins.ts
Due: prettier --write, eslint --fix

chore: pre-push autofix
  website/docs/models/LGVSyntenyDisplay.md
Due: prettier --write

test(variants): pin the LD band walk against bandPairIndex
  plugins/variants/src/LDDisplay/components/Canvas2DLDRenderer.test.ts
Due: prettier --write, eslint --fix

test(alignments): chain a paired read's split mate through the real fetch
  plugins/alignments/src/features/derivativePaths/fetchToPaths.test.ts
Due: prettier --write, eslint --fix

feat(alignments): mark a derivative route that is a run of a longer one
  agent-docs/mechanisms/derivative-allele-candidates.md
  plugins/alignments/src/features/derivativePaths/computePaths.test.ts
  plugins/alignments/src/features/derivativePaths/computePaths.ts
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/LinearDerivativeVsRef.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
