Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

[skip ci] Bump version.ts
  products/jbrowse-react-circular-genome-view/src/version.ts
Due: prettier --write, eslint --fix

[skip ci] Bump version.ts
  products/jbrowse-react-linear-genome-view/src/version.ts
Due: prettier --write, eslint --fix

[skip ci] Bump version.ts
  products/jbrowse-react-app/src/version.ts
Due: prettier --write, eslint --fix

[skip ci] Permissions write
  .github/workflows/release.yml
Due: none

Draft
  products/jbrowse-cli/README.md
  website/release_announcement_drafts/v4.0.2.md
Due: prettier --write

Include connection tracks and rename tracksById to getTracksById
  packages/core/src/configuration/configurationSchema.ts
  packages/core/src/util/tracks.ts
  packages/core/src/util/types/index.ts
  packages/product-core/src/Session/Tracks.ts
Due: prettier --write, eslint --fix

Draft
  website/release_announcement_drafts/v4.0.3.md
Due: prettier --write

[skip ci] Add google form/survey to collect feedback (#5362)
  website/src/pages/contact.mdx
Due: prettier --write

[update docs only] Update blog
  website/blog/2026-01-10-v4.0.0-release.md
  website/blog/2026-01-10-v4.0.1-release.md
  website/blog/2026-01-10-v4.0.2-release.md
  website/blog/2026-01-10-v4.0.3-release.md
Due: prettier --write

[update docs only] Normal markdown images
  website/blog/2026-01-10-v4.0.3-release.md
Due: prettier --write

[update docs only] Fix typo
  website/blog/2026-01-10-v4.0.3-release.md
  website/release_announcement_drafts/v4.0.0.md
Due: prettier --write

Cluster haplotypes
  package.json
  plugins/variants/src/VariantRPC/executeClusterGenotypeMatrix.ts
  plugins/variants/src/VariantRPC/getHaplotypeMatrix.ts
  plugins/variants/src/shared/MultiVariantBaseModel.ts
  plugins/variants/src/shared/components/MultiVariantClusterDialog/ClusterDialogAuto.tsx
  plugins/variants/src/shared/components/MultiVariantClusterDialog/types.ts
  plugins/variants/src/shared/getSources.ts
  pnpm-lock.yaml
  website/src/pages/contact.mdx
Due: prettier --write, eslint --fix

Rm logging
  plugins/variants/src/MultiLinearVariantMatrixRenderer/makeImageData.ts
  plugins/variants/src/MultiLinearVariantRenderer/makeImageData.ts
  plugins/variants/src/shared/MultiVariantBaseModel.ts
  plugins/variants/src/shared/getSources.ts
  plugins/variants/src/shared/types.ts
Due: prettier --write, eslint --fix

No need for label and id
  plugins/variants/src/VariantRPC/getHaplotypeMatrix.test.ts
  plugins/variants/src/shared/components/MultiVariantColorLegend.tsx
  plugins/variants/src/shared/components/MultiVariantLegendBar.tsx
  plugins/variants/src/shared/components/RectBg.tsx
  plugins/variants/src/shared/components/SourcesDataGrid.tsx
  plugins/variants/src/shared/components/TreeSidebar.tsx
  plugins/variants/src/shared/getSources.test.ts
  plugins/variants/src/shared/getSources.ts
  plugins/variants/src/shared/types.ts
Due: prettier --write, eslint --fix

Rename
  plugins/variants/src/VariantRPC/executeClusterGenotypeMatrix.ts
  plugins/variants/src/VariantRPC/getPhasedGenotypeMatrix.test.ts
  plugins/variants/src/VariantRPC/getPhasedGenotypeMatrix.ts
Due: prettier --write, eslint --fix

Bumps
  component_tests/app-vite/package.json
  component_tests/cgv-vite/package.json
  component_tests/lgv-vite/package.json
Due: none

Refactor: Reset existing loader instead of creating new one
  products/jbrowse-web/src/SessionLoader.ts
  products/jbrowse-web/src/components/Loader.tsx
Due: prettier --write, eslint --fix

Refactor: Use key-based remount for plugin reload
  products/jbrowse-web/src/components/Loader.tsx
Due: prettier --write, eslint --fix

Refactor: Use imperative approach for plugin reload
  products/jbrowse-web/src/components/Loader.tsx
Due: prettier --write, eslint --fix

Refactor: Remove session saving from useEffect cleanup
  products/jbrowse-web/src/components/Loader.tsx
Due: prettier --write, eslint --fix

[skip ci] Allow clustering haplotypes (#5403)
  component_tests/app-vite/package.json
  component_tests/cgv-vite/package.json
  component_tests/lgv-vite/package.json
  package.json
  plugins/variants/src/MultiLinearVariantMatrixRenderer/makeImageData.ts
  plugins/variants/src/MultiLinearVariantRenderer/makeImageData.ts
  plugins/variants/src/VariantRPC/executeClusterGenotypeMatrix.ts
  plugins/variants/src/VariantRPC/getPhasedGenotypeMatrix.test.ts
  plugins/variants/src/VariantRPC/getPhasedGenotypeMatrix.ts
  plugins/variants/src/shared/MultiVariantBaseModel.ts
  plugins/variants/src/shared/components/MultiVariantClusterDialog/ClusterDialogAuto.tsx
  plugins/variants/src/shared/components/MultiVariantClusterDialog/types.ts
  plugins/variants/src/shared/components/MultiVariantColorLegend.tsx
  plugins/variants/src/shared/components/MultiVariantLegendBar.tsx
  plugins/variants/src/shared/components/RectBg.tsx
  plugins/variants/src/shared/components/SourcesDataGrid.tsx
  plugins/variants/src/shared/components/TreeSidebar.tsx
  plugins/variants/src/shared/getSources.test.ts
  plugins/variants/src/shared/getSources.ts
  plugins/variants/src/shared/types.ts
  pnpm-lock.yaml
  website/src/pages/contact.mdx
Due: prettier --write, eslint --fix

Add workspaces tests
  products/jbrowse-web/browser-tests/runner.ts
Due: prettier --write, eslint --fix

Fix tsc
  packages/core/src/ui/HoverMenu.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete/AutocompleteTextField.tsx
Due: prettier --write, eslint --fix

WDIO
  .github/workflows/push.yml
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/test/screenshots/.gitignore
  products/jbrowse-desktop/test/screenshots/.gitkeep
  products/jbrowse-desktop/wdio.conf.ts
Due: prettier --write, eslint --fix

Connections for app
  packages/app-core/src/SessionConnections/index.ts
  packages/app-core/src/index.ts
  packages/web-core/src/BaseWebSession/index.ts
  packages/web-core/src/SessionConnections.ts
  pnpm-lock.yaml
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/src/sessionModel/sessionModel.ts
  products/jbrowse-web/browser-tests/__snapshots__/alignments-bam.png
  products/jbrowse-web/browser-tests/__snapshots__/main-thread-rpc-bam.png
  products/jbrowse-web/browser-tests/runner.ts
  products/jbrowse-web/package.json
Due: prettier --write, eslint --fix

Wow
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/test/specs/test.e2e.ts
  products/jbrowse-desktop/tsconfig.wdio.json
  products/jbrowse-desktop/wdio.conf.ts
Due: prettier --write, eslint --fix

Wow
  products/jbrowse-desktop/test/specs/test.e2e.ts
Due: prettier --write, eslint --fix

Bump deps in component_tests
  component_tests/app-vite/package.json
  component_tests/cgv-vite/package.json
  component_tests/lgv-vite/package.json
Due: none

Working
  packages/app-core/src/ui/App/TiledViewsContainer.tsx
  packages/web-core/src/BaseWebSession/index.ts
  packages/web-core/src/SessionConnections.ts
  products/jbrowse-web/browser-tests/__snapshots__/alignments-bam.png
  products/jbrowse-web/browser-tests/__snapshots__/main-thread-rpc-bam.png
  products/jbrowse-web/browser-tests/__snapshots__/workspaces-add-view.png
  products/jbrowse-web/browser-tests/__snapshots__/workspaces-new-tab.png
  products/jbrowse-web/browser-tests/__snapshots__/workspaces-split-view.png
  products/jbrowse-web/browser-tests/runner.ts
Due: prettier --write, eslint --fix

Rm
  packages/app-core/src/SessionConnections/index.ts
  packages/app-core/src/index.ts
  packages/app-core/src/ui/App/TiledViewsContainer.tsx
  packages/web-core/src/BaseWebSession/index.ts
  packages/web-core/src/SessionConnections.ts
Due: prettier --write, eslint --fix

No rm
  products/jbrowse-desktop/src/sessionModel/sessionModel.ts
Due: prettier --write, eslint --fix

Add delay
  packages/app-core/src/ui/App/TiledViewsContainer.tsx
Due: prettier --write, eslint --fix
