Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

docs(figures): publish the graph plugin's bubble fix and regenerate
  agent-docs/guides/PANGENOME_GRAPH_NEXT.md
  test_data/graphgenomeview/config.json
  test_data/graphgenomeview/ecoli_pangenome.json
  test_data/graphgenomeview/hprc.json
  website/scripts/screenshot-review.json
  website/static/img/gallery/inverted_duplication.png
  website/static/img/inverted_duplication.png
  website/static/img/pangenome/hprc_graph_vs_callset.png
  website/static/img/pangenome/hprc_mhc_anchored.png
  website/static/img/pangenome/hprc_mhc_sample_rows.png
  website/static/img/pangenome/hprc_node_menu.png
  website/static/img/pangenome/local_subgraph.png
  website/static/img/pangenome/pggb_locus_graph.png
  website/static/img/pangenome/pggb_locus_sample_rows.png
Due: prettier --write

docs(figures): regenerate two stale tutorial-card thumbnails
  website/static/img/tutorial-thumbs/display_settings.webp
  website/static/img/tutorial-thumbs/pangenome_graph_view.webp
Due: none

Update arcs compute
  plugins/alignments/src/features/arcs/compute.test.ts
  plugins/alignments/src/features/arcs/compute.ts
  website/docs/introduction.md
  website/docs/user_guides/multirow_feature_track.md
  website/scripts/screenshot-review.json
  website/scripts/screenshot-spec-helpers.ts
  website/scripts/specs/cookbook.ts
  website/scripts/specs/sv.ts
  website/scripts/specs/ui.ts
  website/src/lib/gallery.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/alignments/read_cloud.png
  website/static/img/gallery/inverted_duplication.png
  website/static/img/inverted_duplication.png
Due: prettier --write, eslint --fix

docs(figures): add the LPA KIV-2 pangenome figure, and show what a launch produces
  test_data/graphgenomeview/config.json
  test_data/graphgenomeview/ecoli_pangenome.json
  test_data/graphgenomeview/hprc.json
  website/docs/tutorials/pangenome_graph_view.md
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/screenshot-review-plan.md
  website/scripts/screenshot-review.json
  website/scripts/specs/graph.ts
  website/static/img/pangenome/hprc_c4_subgraph.png
  website/static/img/pangenome/hprc_graph_vs_callset.png
  website/static/img/pangenome/hprc_mhc_anchored.png
  website/static/img/pangenome/hprc_mhc_bandage.png
  website/static/img/pangenome/hprc_mhc_sample_rows.png
  website/static/img/pangenome/hprc_node_menu.png
  website/static/img/pangenome/local_subgraph.png
  website/static/img/pangenome/pggb_locus_graph.png
  website/static/img/pangenome/pggb_locus_sample_rows.png
  website/static/img/pangenome/rgfa_hover_correspondence.png
  website/static/img/pangenome/rgfa_hover_from_linear.png
  website/static/img/pangenome/rgfa_launch_menu.png
  website/static/img/pangenome/rgfa_launch_out_menu.png
  website/static/img/pangenome/rgfa_sample_rows.png
  website/static/img/pangenome/rgfa_segment_neighbourhood.png
  website/static/img/pangenome/rgfa_strain_paths.png
  website/static/img/pangenome/rgfa_subgraph_launch.png
Due: prettier --write, eslint --fix

docs(figures): launch a strain into its own genes, and pare the pangenome set
  test_data/graphgenomeview/config.json
  test_data/graphgenomeview/ecoli_pangenome.json
  test_data/graphgenomeview/hprc.json
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_graph_view.md
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-review-plan.md
  website/scripts/screenshot-review.json
  website/scripts/specs/graph.ts
  website/src/lib/gallery.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/pangenome/hprc_c4_subgraph.png
  website/static/img/pangenome/hprc_graph_vs_callset.png
  website/static/img/pangenome/hprc_lpa_kiv2.png
  website/static/img/pangenome/hprc_mhc_anchored.png
  website/static/img/pangenome/hprc_mhc_bandage.png
  website/static/img/pangenome/hprc_mhc_sample_rows.png
  website/static/img/pangenome/hprc_node_menu.png
  website/static/img/pangenome/local_subgraph.png
  website/static/img/pangenome/pggb_locus_graph.png
  website/static/img/pangenome/pggb_locus_sample_rows.png
  website/static/img/pangenome/rgfa_hover_correspondence.png
  website/static/img/pangenome/rgfa_hover_from_linear.png
  website/static/img/pangenome/rgfa_hover_sync.png
  website/static/img/pangenome/rgfa_launch_menu.png
  website/static/img/pangenome/rgfa_launch_out_menu.png
  website/static/img/pangenome/rgfa_sample_rows.png
  website/static/img/pangenome/rgfa_segment_neighbourhood.png
  website/static/img/pangenome/rgfa_strain_launch.png
  website/static/img/pangenome/rgfa_subgraph_launch.png
Due: prettier --write, eslint --fix

docs(figures): retire the two pangenome genotype matrices
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-review.json
  website/scripts/specs/graph.ts
  website/scripts/specs/pangenome.ts
  website/scripts/specs/pangenome_cactus.ts
  website/src/lib/gallery.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/pangenome/pangenome_variants.png
  website/static/img/pangenome_cactus/variant_matrix.png
Due: prettier --write, eslint --fix

docs(scatac): lead with why pseudobulk, and make the workflow runnable
  scripts/build_scatac_pseudobulk.sh
  website/docs/tutorials/scatac_pseudobulk.md
Due: prettier --write

Update spans
  agent-docs/TODO.md
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/shared/legendUtils.test.ts
  plugins/alignments/src/shared/legendUtils.ts
  test_data/config_demo.json
  website/docs/tutorials/bxd_qtl.md
  website/docs/tutorials/scatac_pseudobulk.md
  website/scripts/image-pipeline.ts
  website/scripts/screenshot-review.json
  website/scripts/specs/scatac.ts
  website/static/img/add_track_form.png
  website/static/img/add_track_tracklist.png
  website/static/img/alignments/modifications2.png
  website/static/img/alignments/select_arc_display.png
  website/static/img/chromhmm.png
  website/static/img/display_type_default_badge.png
  website/static/img/drawer_widget_toggle.png
  website/static/img/gallery/inverted_duplication.png
  website/static/img/gc_content.png
  website/static/img/hierarchical/collapse_toplevelcategories-fs8.png
  website/static/img/horizontally_flip.png
  website/static/img/horizontally_flip_after.png
  website/static/img/hprc2/local_ancestry.png
  website/static/img/inverted_duplication.png
  website/static/img/ld/lct_lactase.png
  website/static/img/multi-sv-trio.png
  website/static/img/multirow/display_types_menu.png
  website/static/img/multiway_synteny/ecoli_launch_selection.png
  website/static/img/multiway_synteny/ecoli_one_vs_all.png
  website/static/img/qtl/bxd_overview.png
  website/static/img/qtl/bxd_tyrp1_locus.png
  website/static/img/rnaseq/compact_stacked.png
  website/static/img/sample_config.png
  website/static/img/scatac/pbmc5k_cd8a.png
  website/static/img/sv_cgiab/driver_cdkn2a_deletion.png
  website/static/img/synteny_from_dotplot_view.png
  website/static/img/trio-crossover-paternal.png
  website/static/img/variant_with_pileup.png
  website/static/img/variants/potato_missingness_after.png
  website/static/img/volvox_variants.png
Due: prettier --write, eslint --fix

Update typos
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/features/arcs/compute.ts
  plugins/alignments/src/shared/legendUtils.test.ts
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/tutorials/tcga_cohort_cnv.md
  website/docs/user_guides/multirow_feature_track.md
  website/scripts/screenshot-review.json
  website/scripts/specs/graph.ts
  website/src/pages/features.md
  website/src/pages/gallery.astro
Due: prettier --write, eslint --fix

Fix CI: regenerate gallery links, drop dangling anchor link
  website/docs/tutorials/sv_visualization_cgiab.md
  website/src/lib/galleryLinks.generated.ts
Due: prettier --write, eslint --fix

Fix CI: point pangenome_ecoli tutorial thumb at pav.png, regen stale thumbs
  website/scripts/gen-tutorial-thumbs.ts
  website/static/img/tutorial-thumbs/bxd_qtl.webp
  website/static/img/tutorial-thumbs/chromhmm.webp
  website/static/img/tutorial-thumbs/linkage_disequilibrium.webp
  website/static/img/tutorial-thumbs/pangenome_ecoli.webp
  website/static/img/tutorial-thumbs/pangenome_graph_view.webp
Due: prettier --write, eslint --fix

Update snaps
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/__snapshots__/JBrowseCircularGenomeView.test.tsx.snap
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-short-read-arc-display-out-of-view-pairing-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-bam-test-tsx-reloads-alignments-track-bai-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-bam-test-tsx-reloads-alignments-track-bam-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-cram-test-tsx-reloads-alignments-track-crai-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-cram-test-tsx-reloads-alignments-track-cram-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/stats-estimation-test-tsx-test-stats-estimation-pileup-force-load-to-see-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_color_legend_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/vcf_cluster_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgLinearSyntenyView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/VcfCluster.test.tsx.snap
Due: none

Fix CI: regenerate stale homepage gallery images
  website/static/img/home-gallery/alignments.webp
  website/static/img/home-gallery/copynumber.webp
  website/static/img/home-gallery/genes.webp
  website/static/img/home-gallery/sv.webp
  website/static/img/home-gallery/synteny.webp
  website/static/img/home-gallery/variants.webp
  website/static/img/screenshot.webp
Due: none

Fix CI: repair broken doc path refs, drop stale fenced snippet, regen shader
  agent-docs/guides/DESKTOP_SCREENSHOTS.md
  agent-docs/reference/CLUSTERING_WORKFLOW.md
  plugins/variants/src/LinearMultiSampleVariantDisplay/components/shaders/variant.generated.ts
  website/docs/developer_guides/data_fetching.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
Due: prettier --write, eslint --fix

Fix CI: avoid check-doc-imports false positive on unbuilt CLI dist/
  agent-docs/guides/DESKTOP_SCREENSHOTS.md
Due: prettier --write

Bump deps
  package.json
  pnpm-lock.yaml
  products/jbrowse-react-app/examples-site/package.json
  products/jbrowse-react-circular-genome-view/examples-site/package.json
  products/jbrowse-react-linear-genome-view/examples-site/package.json
  website/package.json
Due: none

Fix CI: re-export types that leaked into published .d.ts as src paths
  plugins/linear-genome-view/src/BaseLinearDisplay/index.ts
  plugins/linear-genome-view/src/index.ts
Due: prettier --write, eslint --fix

Fix CI: drop JS-style comment from .oxlintrc.json, it's imported as strict JSON
  .oxlintrc.json
Due: none

Merge config slot overrides over their base, and tighten the promotable cascade
  agent-docs/reference/DISPLAY_TYPE_DEFAULTS.md
  packages/core/README.md
  packages/core/src/configuration/CLAUDE.md
  packages/core/src/configuration/configurationSchema.ts
  packages/core/src/configuration/getConf.ts
  packages/core/src/configuration/promotableDefaults.test.ts
  packages/core/src/configuration/promotableDefaults.ts
  packages/core/src/configuration/promotableResolve.ts
  packages/product-core/src/Session/shareableSnapshot.ts
  plugins/canvas/src/LinearBasicDisplay/promotableCascade.test.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/configSchemaF.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/promotableCascade.test.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/testEnv.ts
  website/docs/api/core-configuration.md
  website/docs/config/DropboxOAuthInternetAccount.md
  website/docs/config/LGVSyntenyDisplay.md
  website/docs/config/LinearAlignmentsDisplay.md
  website/docs/config/LinearManhattanDisplay.md
  website/docs/config/LinearMultiSampleVariantDisplay.md
  website/docs/config/LinearMultiSampleVariantMatrixDisplay.md
  website/scripts/api-docs/generateConfigDocs.ts
Due: prettier --write, eslint --fix

docs(figures): rework the HPRC pangenome figures for density and correspondence
  agent-docs/CLAUDE.md
  agent-docs/guides/PANGENOME_FIGURE_PASS_HANDOFF.md
  website/docs/tutorials/pangenome_hprc.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-review.json
  website/scripts/specs/graph.ts
  website/scripts/specs/hprc2.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/hprc2/local_ancestry.png
  website/static/img/hprc2/local_ancestry_clustered.png
  website/static/img/hprc2/mhc_clustered.png
  website/static/img/pangenome/hprc_c4_subgraph.png
  website/static/img/pangenome/hprc_graph_vs_callset.png
  website/static/img/pangenome/hprc_lpa_kiv2.png
  website/static/img/pangenome/hprc_mhc_anchored.png
  website/static/img/pangenome/hprc_node_menu.png
  website/static/img/pangenome/rgfa_hover_sync.png
  website/static/img/pangenome/rgfa_sample_rows.png
  website/static/img/pangenome/rgfa_subgraph_launch.png
  website/static/img/tutorial-thumbs/pangenome_hprc.webp
Due: prettier --write, eslint --fix

Bump deps
  package.json
  packages/browser-test-utils/package.json
  pnpm-lock.yaml
  products/jbrowse-cli/README.md
  products/jbrowse-img/package.json
  products/jbrowse-react-app/examples-site/package.json
  products/jbrowse-react-circular-genome-view/examples-site/package.json
  products/jbrowse-react-linear-genome-view/examples-site/package.json
  website/package.json
  website/scripts/screenshot-review.json
Due: prettier --write

Format/lint
  packages/core/src/configuration/CLAUDE.md
  packages/product-core/src/Session/shareableSnapshot.ts
  products/jbrowse-cli/README.md
Due: prettier --write, eslint --fix

Updates
  agent-docs/TODO.md
  website/docs/user_guide.md
Due: prettier --write

Remove duplicate boundary figure from bisulfite tutorial
  website/docs/tutorials/bisulfite.md
  website/static/img/methylation/arabidopsis_wgbs_boundary.png
Due: prettier --write

docs(variants): show plink --r2 command and output snippet on LD adapter config pages
  plugins/variants/src/PlinkLDAdapter/configSchema.ts
  plugins/variants/src/PlinkLDAdapter/configSchemaTabix.ts
  website/docs/config/PlinkLDAdapter.md
  website/docs/config/PlinkLDTabixAdapter.md
Due: prettier --write, eslint --fix

docs(graph-genome-view): move from tutorial to user guide, improve navigation
  website/docs/tutorials/pangenome_cactus.md
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_hprc.md
  website/docs/user_guide.md
  website/docs/user_guides/graph_genome_view.md
Due: prettier --write

docs(tutorials): note sibling helper scripts needed to reproduce builds
  website/docs/tutorials/analyze_trio.md
  website/docs/tutorials/bxd_qtl.md
  website/docs/tutorials/tcga_cohort_cnv.md
Due: prettier --write

docs(bxd-qtl): link multi-row painting to its user guide, not chromhmm tutorial
  website/docs/tutorials/bxd_qtl.md
Due: prettier --write

docs(tutorials): merge the Setup one-liner into a Prerequisites section
  website/docs/tutorials/CLAUDE.md
  website/docs/tutorials/allvsall_synteny.md
  website/docs/tutorials/bisulfite.md
  website/docs/tutorials/chromhmm.md
  website/docs/tutorials/cli_desktop.md
  website/docs/tutorials/display_settings.md
  website/docs/tutorials/embed_linear_genome_view.md
  website/docs/tutorials/genomes_synteny.md
  website/docs/tutorials/linkage_disequilibrium.md
  website/docs/tutorials/methylation.md
  website/docs/tutorials/multiway_synteny.md
  website/docs/tutorials/population_cnv.md
  website/docs/tutorials/population_genomics.md
  website/docs/tutorials/protein_structure.md
  website/docs/tutorials/rnaseq.md
  website/docs/tutorials/scatac_pseudobulk.md
  website/docs/tutorials/sv_multisamples.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/docs/tutorials/synteny_visualization.md
Due: prettier --write

docs(ld): show the recombination track in the LCT lactase LD figure
  website/scripts/specs/ld.ts
  website/static/img/ld/lct_lactase.png
Due: prettier --write, eslint --fix

docs(tutorials): rename CNV tutorials to use CNV instead of Copy number
  website/docs/tutorials/population_cnv.md
  website/docs/tutorials/tcga_cohort_cnv.md
Due: prettier --write

docs(todos): mark CNV tutorial rename as complete
  agent-docs/TODO.md
Due: prettier --write

docs(ld): trim prose further, fold recombination note into sweep section
  website/docs/tutorials/linkage_disequilibrium.md
Due: prettier --write

docs(vcf/bam): fix stale TBI/CSI gotcha, add csi:true shorthand to BamAdapter
  plugins/alignments/src/BamAdapter/configSchema.ts
  plugins/alignments/src/BamAdapter/normalizeSnapshot.test.ts
  plugins/variants/src/VcfTabixAdapter/configSchema.ts
  website/docs/config/BamAdapter.md
  website/docs/config/VcfTabixAdapter.md
  website/docs/config_guides/alignments_track.md
  website/docs/config_guides/file_types.md
  website/docs/config_guides/variant_track.md
Due: prettier --write, eslint --fix

docs(tutorials): reduce embed_linear_genome_view to a minimal quick start
  website/docs/tutorials/embed_linear_genome_view.md
Due: prettier --write

docs(config_guides): condense and restructure assemblies guide
  website/docs/config_guides/assemblies.md
Due: prettier --write

Autogen docs and misc
  agent-docs/TODO.md
  agent-docs/reference/PLUGIN_ABI_STABILITY.md
  packages/core/src/configuration/CLAUDE.md
  packages/core/src/configuration/configurationSchema.test.ts
  packages/core/src/configuration/configurationSchema.ts
  packages/core/src/configuration/types.ts
  plugins/alignments/src/LinearAlignmentsDisplay/configSchema.ts
  plugins/canvas/src/LinearBasicDisplay/baseConfigSchema.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/gwas/src/LinearManhattanDisplay/configSchemaFactory.ts
  plugins/variants/src/LDDisplay/index.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/configSchema.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/configSchema.ts
  website/docs/cli.md
  website/docs/config/LGVSyntenyDisplay.md
  website/docs/config/LinearAlignmentsDisplay.md
  website/docs/config/LinearManhattanDisplay.md
  website/docs/config/LinearMultiSampleVariantDisplay.md
  website/docs/config/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/config_guides/authentication.md
  website/docs/config_guides/intro.md
  website/docs/config_guides/maf_track.md
  website/docs/developer_guides/configuration_schema.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/quickstart_web.md
  website/docs/tutorials/bxd_qtl.md
  website/docs/tutorials/cli_desktop.md
  website/docs/tutorials/pangenome_graph_view.md
  website/docs/user_guides/graph_genome_view.md
  website/docs/user_guides/multirow_feature_track.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-review.json
Due: prettier --write, eslint --fix

Fix fractional bp position in per-letter hover tooltip
  plugins/canvas/src/LinearBasicDisplay/components/hitTesting.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/hitTesting.ts
Due: prettier --write, eslint --fix

Catch analytics errors, don't ignore
  packages/core/src/util/analytics.ts
  products/jbrowse-desktop/src/components/StartScreen/util.tsx
Due: prettier --write, eslint --fix
