Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

feat(website): tag parallel screenshot logs with spec name + progress counter
  website/scripts/generate-screenshots.ts
Due: prettier --write, eslint --fix

Update snaps
  packages/modifications-utils/src/getModProbabilities.test.ts
  plugins/canvas/src/LinearBasicDisplay/CollapseIntronsDialog/CollapseIntronsDialog.tsx
  products/jbrowse-img/img/hs1_mm39_synteny.png
  products/jbrowse-img/src/makeConfigs.test.ts
  products/jbrowse-img/src/makeConfigs.ts
  products/jbrowse-img/src/options.ts
  website/docs/tutorials/sv_visualization_cgiab.md
  website/scripts/figure-manifest.json
  website/scripts/generate-screenshots.ts
  website/scripts/screenshot-specs.ts
  website/static/img/alignments_sort_by_base.png
  website/static/img/sv_cgiab/cnv_log2ratio_genome.png
Due: prettier --write, eslint --fix

Update snaps
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-stack-test-tsx-short-read-stack-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-methylation-test-tsx-color-by-methylation-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-modifications-test-tsx-color-by-modifications-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/vcf-matrix-regular-test-tsx-regular-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/vcf-matrix-regular-test-tsx-rphased-1-snap.png
  products/jbrowse-web/src/tests/__overlap_demo__/long-read-sv.svg
  products/jbrowse-web/src/tests/__overlap_demo__/short-read-paired.png
  products/jbrowse-web/src/tests/__overlap_demo__/short-read-paired.svg
Due: none

Bump astro
  _typos.toml
  pnpm-lock.yaml
  products/jbrowse-react-app/examples-site/package.json
  products/jbrowse-react-circular-genome-view/examples-site/package.json
  products/jbrowse-react-linear-genome-view/examples-site/package.json
  website/package.json
Due: none

test(jbrowse-img): port stale comparative library-API tests to argv API
  component_tests/jbrowse-img/run.mjs
Due: none

refactor: route folder dialog through PluggableComponent, add Suspense to synteny pickers
  packages/core/src/ui/PluggableComponent.tsx
  packages/synteny-core/src/ImportSyntenyOpenCustomTrack.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackCategory.tsx
  plugins/dotplot-view/src/DotplotView/components/ImportForm/TrackSelector.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/ImportSyntenyTrackSelectorArea.tsx
Due: prettier --write, eslint --fix

docs(cgiab): single-color log2, het-only BAF note, scatter over no-fill
  website/docs/tutorials/sv_visualization_cgiab.md
  website/scripts/cgiab-demo-config.json
  website/scripts/screenshot-specs.ts
Due: prettier --write, eslint --fix

docs(cgiab): regen log2 figures with single-color (non-bicolor) scatter
  website/static/img/sv_cgiab/cnv_calibration.png
  website/static/img/sv_cgiab/cnv_log2_baf.png
  website/static/img/sv_cgiab/cnv_log2ratio_genome.png
Due: none

fix(track-selector): clamp virtualized scroll; hide undisplayable favorites
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/DropdownTrackSelector.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/HierarchicalTree.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackCategory.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/trackListStyles.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/useMenuGuardedClick.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/filterTracks.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
Due: prettier --write, eslint --fix

refactor(canvas): split collectRenderData, add glyph helpers + emit registry
  plugins/canvas/src/LinearBasicDisplay/CollapseIntronsDialog/util.ts
  plugins/canvas/src/LinearBasicDisplay/components/Canvas2DFeatureRenderer.ts
  plugins/canvas/src/LinearBasicDisplay/components/GpuCanvasFeatureRenderer.ts
  plugins/canvas/src/LinearBasicDisplay/components/sharedRendererConstants.ts
  plugins/canvas/src/RenderFeatureDataRPC/collect/emitPrimitives.ts
  plugins/canvas/src/RenderFeatureDataRPC/collect/glyphColors.ts
  plugins/canvas/src/RenderFeatureDataRPC/collect/glyphEmitters.ts
  plugins/canvas/src/RenderFeatureDataRPC/collect/peptideMapping.ts
  plugins/canvas/src/RenderFeatureDataRPC/collect/renderContext.ts
  plugins/canvas/src/RenderFeatureDataRPC/collectRenderData.ts
  plugins/canvas/src/RenderFeatureDataRPC/featureAdmission.ts
  plugins/canvas/src/RenderFeatureDataRPC/filterSubparts.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/findGlyph.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/glyphUtils.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/matureProteinRegion.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/repeatRegion.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/segments.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/subfeatures.ts
  plugins/canvas/src/RenderFeatureDataRPC/packRenderArrays.ts
  plugins/canvas/src/RenderFeatureDataRPC/peptides/cdsSegments.ts
  plugins/canvas/src/RenderFeatureDataRPC/peptides/peptideUtils.ts
  plugins/canvas/src/RenderFeatureDataRPC/util.ts
Due: prettier --write, eslint --fix

docs(cgiab): add "reading the somatic driver landscape" walkthrough
  website/docs/tutorials/sv_visualization_cgiab.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-specs.ts
  website/static/img/sv_cgiab/driver_cdkn2a_deletion.png
  website/static/img/sv_cgiab/driver_chr17_loh.png
Due: prettier --write, eslint --fix

docs(cgiab): fix CUZD1 live-demo link to chr10 (SV_85 locus)
  website/docs/tutorials/sv_visualization_cgiab.md
Due: prettier --write

feat(core): compose feature-detail panels via an array, type the extension points
  packages/core/src/BaseFeatureWidget/BaseFeatureDetail/FeatureDetails.tsx
  packages/core/src/PluginManager.ts
  packages/core/src/util/index.ts
  packages/core/src/util/matchTrackId.test.ts
  packages/core/src/util/matchTrackId.ts
  website/docs/developer_guides/extension_points.md
Due: prettier --write, eslint --fix

docs: drop prose live-demo links that duplicate auto-linked figures
  website/docs/tutorials/rnaseq.md
  website/docs/tutorials/sv_visualization_cgiab.md
  website/docs/tutorials/synteny_visualization.md
  website/docs/user_guides/multivariant_track.md
  website/docs/user_guides/sv_visualization.md
Due: prettier --write

maf: fix renderer textAlign leak + terminal-region read truncation, simplify plugin
  plugins/maf/src/BgzipTaffyAdapter/BgzipTaffyAdapter.test.ts
  plugins/maf/src/BgzipTaffyAdapter/BgzipTaffyAdapter.ts
  plugins/maf/src/BgzipTaffyAdapter/tafParsing.ts
  plugins/maf/src/BgzipTaffyAdapter/taiIndex.test.ts
  plugins/maf/src/BgzipTaffyAdapter/taiIndex.ts
  plugins/maf/src/BgzipTaffyAdapter/types.ts
  plugins/maf/src/BgzipTaffyAdapter/virtualOffset.ts
  plugins/maf/src/LinearMafDisplay/components/LinearMafDisplayComponent.tsx
  plugins/maf/src/LinearMafDisplay/components/MAFTooltip.tsx
  plugins/maf/src/LinearMafDisplay/components/MafAlignmentTooltipContents.tsx
  plugins/maf/src/LinearMafDisplay/components/MafBandResizeHandle.tsx
  plugins/maf/src/LinearMafDisplay/components/MafConservationCanvas.tsx
  plugins/maf/src/LinearMafDisplay/components/MafConservationResizeHandle.tsx
  plugins/maf/src/LinearMafDisplay/components/MafCoverageCanvas.tsx
  plugins/maf/src/LinearMafDisplay/components/MafCoverageResizeHandle.tsx
  plugins/maf/src/LinearMafDisplay/components/MafCoverageTooltipContents.tsx
  plugins/maf/src/LinearMafDisplay/components/MafInterbaseTooltipContents.tsx
  plugins/maf/src/LinearMafDisplay/components/MafRowIdentityCanvas.tsx
  plugins/maf/src/LinearMafDisplay/components/TrackBandCanvas.tsx
  plugins/maf/src/LinearMafDisplay/components/tooltipStyles.ts
  plugins/maf/src/LinearMafDisplay/components/useDragSelection.ts
  plugins/maf/src/LinearMafDisplay/fetchMafData.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/maf/src/LinearMafDisplay/trackMenuItems.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/LinearMafGetAlignmentData.ts
  plugins/maf/src/LinearMafGetSummaryDataRpc/LinearMafGetSummaryData.ts
  plugins/maf/src/LinearMafRenderer/drawMafBlocks.ts
  plugins/maf/src/LinearMafRenderer/rendering/deletions.ts
  plugins/maf/src/LinearMafRenderer/rendering/insertions.test.ts
  plugins/maf/src/LinearMafRenderer/rendering/types.ts
  plugins/maf/src/MafSequenceWidget/LabelsCanvas.tsx
  plugins/maf/src/MafSequenceWidget/SequenceCanvas.tsx
  plugins/maf/src/types.ts
Due: prettier --write, eslint --fix

maf: integration test for the zoom-out summary pipeline
  plugins/maf/src/BigMafAdapter/BigMafAdapter.summaryPipeline.test.ts
  website/static/img/maf_conservation.png
Due: prettier --write, eslint --fix

maf: fix MAF tracks rendering blank when assembly/adapter chrom names differ
  packages/core/src/util/renameRegions.test.ts
  packages/core/src/util/renameRegions.ts
  plugins/maf/src/LinearMafDisplay/fetchMafData.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/LinearMafGetAlignmentData.ts
  plugins/maf/src/LinearMafGetAlignmentDataRpc/executeMafAlignmentData.ts
  plugins/maf/src/LinearMafGetSummaryDataRpc/LinearMafGetSummaryData.ts
  plugins/maf/src/LinearMafGetSummaryDataRpc/executeMafSummaryData.ts
  plugins/maf/src/MafGetSequencesRpc/MafGetSequences.ts
  plugins/maf/src/types.ts
  plugins/maf/src/util/loadMafSamplesAdapter.ts
Due: prettier --write, eslint --fix

faceted: unify metadata/non-metadata fields, fix sidebar count divergence
  plugins/data-management/src/FacetedSelector/components/FacetFilter.tsx
  plugins/data-management/src/FacetedSelector/components/getFacetedColumns.tsx
  plugins/data-management/src/FacetedSelector/components/useVirtualRows.ts
  plugins/data-management/src/FacetedSelector/components/util.ts
  plugins/data-management/src/FacetedSelector/facetedFilter.test.ts
  plugins/data-management/src/FacetedSelector/facetedFilter.ts
  plugins/data-management/src/FacetedSelector/facetedModel.ts
Due: prettier --write, eslint --fix

variants: add runtime "Color samples by" menu + unify multi-sample config schemas
  plugins/variants/src/LinearMultiSampleVariantDisplay/backCompat.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/colorBy.test.ts
  plugins/variants/src/LinearMultiSampleVariantDisplay/configSchema.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/configSchema.ts
  plugins/variants/src/LinearMultiSampleVariantMatrixDisplay/index.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.test.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/multiSampleVariantMenuItems.ts
  website/docs/config/LinearMultiSampleVariantDisplay.md
  website/docs/config/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
Due: prettier --write, eslint --fix

website: upload via rclone sync --checksum instead of aws s3 sync
  .github/workflows/update-docs.yml
  agent-docs/OTHER_IDEAS.md
  website/CLAUDE.md
  website/deploy_staging.sh
  website/rclone.conf
Due: prettier --write

scroll: clamp variant scrollTop, fix short-track thumb, dedup scroll hooks
  packages/core/package.json
  packages/core/src/ui/VerticalScrollbar.tsx
  packages/core/src/util/useScrollTopSync.ts
  plugins/canvas/src/LinearBasicDisplay/components/useScrollSync.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/applyRowResizeWheel.ts
  plugins/variants/src/shared/useVariantNativeScroll.ts
  plugins/variants/src/shared/useVariantVirtualScroll.ts
Due: prettier --write, eslint --fix

scroll: unify wheel-delta normalizer, add row-resize tests
  packages/core/src/util/scrollLatch.test.ts
  packages/core/src/util/scrollLatch.ts
  packages/core/src/util/wheelZoom.test.ts
  packages/core/src/util/wheelZoom.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/PileupComponent.tsx
  plugins/canvas/src/LinearBasicDisplay/components/useScrollSync.ts
  plugins/variants/src/shared/applyRowResizeWheel.test.ts
  plugins/variants/src/shared/useVariantVirtualScroll.ts
Due: prettier --write, eslint --fix

docs: prune C-GIAB tutorial — cut calibration section, merge CNV walkthroughs
  website/docs/tutorials/sv_visualization_cgiab.md
Due: prettier --write

Allow specifying id via urls for declarative use in connected view ids
  plugins/linear-genome-view/src/LaunchLinearGenomeView/index.ts
  products/jbrowse-web/src/types.ts
Due: prettier --write, eslint --fix

lgv launch: cleaner assembly narrowing, drop unreachable assembly wait
  plugins/linear-genome-view/src/LaunchLinearGenomeView/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/afterAttach.ts
Due: prettier --write, eslint --fix

Share dialog primitives: TagTextField, JexlFilterDialog, RestoreDefaultsDialog
  packages/core/src/ui/JexlFilterDialog.tsx
  packages/core/src/ui/RestoreDefaultsDialog.tsx
  packages/core/src/ui/TagTextField.test.tsx
  packages/core/src/ui/TagTextField.tsx
  packages/core/src/ui/index.ts
  packages/core/src/util/index.ts
  packages/core/src/util/tags.ts
  plugins/alignments/src/LinearAlignmentsDisplay/dialogs/ColorByTagDialog.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/dialogs/SortByTagDialog.tsx
  plugins/alignments/src/shared/util.ts
  plugins/canvas/src/LinearBasicDisplay/components/AddFiltersDialog.tsx
  plugins/canvas/src/LinearBasicDisplay/components/SetColorDialog.tsx
  plugins/variants/src/shared/components/AddFiltersDialog.tsx
  plugins/wiggle/src/LinearWiggleDisplay/components/SetColorDialog.tsx
Due: prettier --write, eslint --fix

Fold RestoreDefaultsDialog into a SubmitDialog onReset option
  packages/core/src/ui/RestoreDefaultsDialog.tsx
  packages/core/src/ui/SubmitDialog.tsx
  packages/core/src/ui/index.ts
  plugins/canvas/src/LinearBasicDisplay/components/SetColorDialog.tsx
  plugins/wiggle/src/LinearWiggleDisplay/components/SetColorDialog.tsx
Due: prettier --write, eslint --fix

Simplify screenshot review: drop CLI reviewer, dead curated taxonomy, trim filters
  website/package.json
  website/scripts/review-screenshots-web.ts
  website/scripts/review-screenshots.ts
  website/scripts/screenshot-review-lib.ts
Due: prettier --write, eslint --fix

Fix overview highlight visibility toggle, dedupe highlight helpers
  packages/core/package.json
  packages/core/src/util/highlights.ts
  plugins/dotplot-view/src/DotplotView/components/highlightUtils.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/components/Highlight/LGVHighlightSVG.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewHighlight.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SVGHighlightBand.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TracksContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/util.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGHighlights.tsx
  plugins/linear-genome-view/src/index.ts
Due: prettier --write, eslint --fix

Converge arc SVG export onto shared svgReady + renderSvgChrome contract
  agent-docs/ARCHITECTURE.md
  plugins/arc/src/LinearArcDisplay/model.ts
  plugins/arc/src/LinearArcDisplay/renderSvg.tsx
  plugins/arc/src/LinearPairedArcDisplay/model.ts
  plugins/arc/src/LinearPairedArcDisplay/renderSvg.tsx
  plugins/arc/src/shared/BaseDisplayComponent.tsx
  products/jbrowse-web/src/tests/ExportSvgDisplayTypes.test.tsx
Due: prettier --write, eslint --fix

jbrowse-web: read URL params from the hash fragment; persist DockviewLayout init
  packages/app-core/src/DockviewLayout/DockviewLayout.test.ts
  packages/app-core/src/DockviewLayout/index.ts
  products/jbrowse-web/src/useQueryParam.test.ts
  products/jbrowse-web/src/useQueryParam.ts
Due: prettier --write, eslint --fix

alignments: O(n log depth) pileup layout via interval-partitioning heaps
  plugins/alignments/src/RenderAlignmentDataRPC/sortLayout.test.ts
  plugins/alignments/src/RenderAlignmentDataRPC/sortLayout.ts
Due: prettier --write, eslint --fix

alignments: harden heap layout fast path (negative-start sentinel + equivalence fuzz)
  plugins/alignments/src/RenderAlignmentDataRPC/sortLayout.test.ts
  plugins/alignments/src/RenderAlignmentDataRPC/sortLayout.ts
  products/jbrowse-web/src/useQueryParam.ts
Due: prettier --write, eslint --fix

fix test type errors: drop undeclared displayId and redundant @jest/globals import
  plugins/variants/src/LinearMultiSampleVariantDisplay/colorBy.test.ts
  products/jbrowse-web/src/useQueryParam.test.ts
Due: prettier --write, eslint --fix

jbrowse-web: put inline share URLs in the hash; tidy session-loader URL helpers
  products/jbrowse-web/src/SessionLoader.ts
  products/jbrowse-web/src/components/ShareDialog.tsx
  products/jbrowse-web/src/components/buildShareUrl.ts
  products/jbrowse-web/src/sessionLoaderHelpers.ts
  products/jbrowse-web/src/useQueryParam.ts
Due: prettier --write, eslint --fix

jbrowse-web: preserve existing params (config) when relocating share session to hash
  products/jbrowse-web/src/components/buildShareUrl.test.ts
  products/jbrowse-web/src/components/buildShareUrl.ts
Due: prettier --write, eslint --fix

jbrowse-web: cover hash-fragment session/config read; document hash-XOR-query invariant
  products/jbrowse-web/src/SessionLoader.test.ts
  products/jbrowse-web/src/useQueryParam.ts
Due: prettier --write, eslint --fix

maf: per-species CDS reading-frame overlay (UCSC mafFrames) + screenshot example
  agent-docs/MAF_COMPARATIVE_NOTES.md
  plugins/maf/src/LinearMafDisplay/components/AnnotationOverlay.tsx
  plugins/maf/src/LinearMafDisplay/components/LinearMafDisplayComponent.tsx
  plugins/maf/src/LinearMafDisplay/components/MAFTooltip.tsx
  plugins/maf/src/LinearMafDisplay/components/MafAlignmentTooltipContents.tsx
  plugins/maf/src/LinearMafDisplay/components/computeVisibleAnnotations.test.ts
  plugins/maf/src/LinearMafDisplay/components/computeVisibleAnnotations.ts
  plugins/maf/src/LinearMafDisplay/configSchema.ts
  plugins/maf/src/LinearMafDisplay/displayDefaults.ts
  plugins/maf/src/LinearMafDisplay/fetchMafData.ts
  plugins/maf/src/LinearMafDisplay/renderSvg.tsx
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/maf/src/LinearMafDisplay/trackMenuItems.ts
  plugins/maf/src/LinearMafGetAnnotationDataRpc/LinearMafGetAnnotationData.ts
  plugins/maf/src/LinearMafGetAnnotationDataRpc/executeMafAnnotationData.ts
  plugins/maf/src/LinearMafGetAnnotationDataRpc/index.ts
  plugins/maf/src/LinearMafRenderer/rendering/annotations.ts
  plugins/maf/src/LinearMafRenderer/util.ts
  plugins/maf/src/index.ts
  plugins/maf/src/types.ts
  test_data/ce11.26way.chrI_subset.frames.bb
  test_data/ce_maf_frames.json
  website/docs/config_guides/maf_track.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-specs.ts
  website/static/img/maf_cds_frames.png
Due: prettier --write, eslint --fix
