Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs(dog10k): name Collie eye anomaly on the figure again
  website/docs/tutorials/dog10k_svs.md
  website/scripts/specs/dog10k.ts
  website/static/img/dog10k-nhej1-cea-deletion.png
Due: prettier --write, eslint --fix

docs(local-ancestry): paint the hound clade, so the breed has a control
  scripts/build_dog10k_wolfdog_ancestry.sh
  test_data/dog10k/config.json
  test_data/dog10k/dog10k_anglofrench.chr1.bed.gz
  test_data/dog10k/dog10k_anglofrench.chr1.bed.gz.tbi
  test_data/dog10k/dog10k_anglofrench.chr38.bed.gz
  test_data/dog10k/dog10k_anglofrench.chr38.bed.gz.tbi
  website/docs/tutorials/local_ancestry.md
  website/scripts/figure-manifest.json
  website/scripts/long-captions.txt
  website/scripts/specs/dog10k.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/dog10k-anglofrench-hounds-chr38.png
  website/static/img/dog10k-anglofrench-hounds-chromosome.png
  website/static/img/dog10k-anglofrench-hounds-unlabelled.png
  website/static/img/dog10k-anglofrench-hounds.png
Due: prettier --write, eslint --fix

test(browser-tests): refresh the sashimi golden the arc band-height fix invalidated
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_arcs-paired-end-rnaseq.png
Due: none

docs(dog10k): give the IGF1 tapestry an Fst lane to be read against
  scripts/build_dog10k_igf1.sh
  scripts/igf1_site_fst.py
  test_data/dog10k/dog10k_igf1_fst.bed.gz
  test_data/dog10k/dog10k_igf1_fst.bed.gz.tbi
  website/docs/tutorials/dog10k_selection.md
  website/scripts/figure-manifest.json
  website/scripts/specs/dog10k.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/dog10k-igf1-haplotype.png
Due: prettier --write, eslint --fix

Revert "feat(alignments): place a read on a derivative path by transforming its coordinates"
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/features/arcs/compute.ts
  plugins/alignments/src/features/derivativePaths/computePaths.ts
  plugins/alignments/src/features/derivativePaths/projectReads.test.ts
  plugins/alignments/src/features/derivativePaths/projectReads.ts
  plugins/alignments/src/features/derivativePaths/realReads.colo829.test.ts
  plugins/alignments/src/index.ts
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/LinearDerivativeVsRef.tsx
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/buildDerivativeVsRefSpec.test.ts
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/buildDerivativeVsRefSpec.ts
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/index.ts
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/readsOnRibbonAxis.test.ts
Due: prettier --write, eslint --fix

docs(cancer_sv): put the base-level check back where it can actually be made
  plugins/alignments/README.md
  website/docs/api/alignments.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/tutorials/cancer_sv.md
  website/scripts/specs/cancer_sv.ts
  website/static/img/cancer_sv/derivative_autogenerated.png
  website/static/img/cancer_sv/foldback_reconstruction.png
Due: prettier --write, eslint --fix

feat(variants): open a breakend's split view from its right-click menu
  plugins/variants/src/LinearVariantDisplay/breakendMenu.test.ts
  plugins/variants/src/LinearVariantDisplay/breakendMenu.ts
  plugins/variants/src/LinearVariantDisplay/labels.ts
  plugins/variants/src/LinearVariantDisplay/model.ts
  website/docs/models/LinearVariantDisplay.md
  website/scripts/figure-manifest.json
  website/scripts/specs/cancer_sv.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/cancer_sv/split_view_from_breakend.png
Due: prettier --write, eslint --fix

chore(website): answer the multihop review, and correct a reply the revert invalidated
  website/scripts/screenshot-review.json
Due: none

fix(website): keep screenshot-review note text across a reload
  website/scripts/review-screenshots-web.ts
Due: prettier --write, eslint --fix

feat(sv): open a reconstructed path as a breakpoint split view
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/LinearDerivativeVsRef.tsx
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/buildSplitViewFromPath.test.ts
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/buildSplitViewFromPath.ts
  website/docs/tutorials/cancer_sv.md
  website/scripts/figure-manifest.json
  website/scripts/specs/cancer_sv.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/cancer_sv/multihop_split_view_steps.png
Due: prettier --write, eslint --fix

docs(agent-docs): file the backlog by readiness, and make the frontmatter index real
  agent-docs/CLAUDE.md
  agent-docs/OTHER_IDEAS.md
  agent-docs/TODO.md
  agent-docs/reference/CORE_UTIL_AUDIT.md
  agent-docs/reference/DESKTOP_CONTEXT_ISOLATION.md
  agent-docs/reference/DESKTOP_SCREENSHOTS.md
  agent-docs/reference/NETWORK_ABORT.md
  agent-docs/reference/PANGENOME_GRAPHS.md
  agent-docs/reference/PERF_INSTRUMENTATION.md
  agent-docs/reference/ROW_HEIGHT_AND_FIT.md
  agent-docs/reference/SCREENSHOT_CAPTURE_RACE.md
  agent-docs/reference/TOOLCHAIN.md
  website/scripts/VIDEO_HANDOFF.md
Due: prettier --write

fix(browser-tests): keep snapshot-review note text across a reload
  products/jbrowse-web/browser-tests/review-snapshots-web.ts
Due: prettier --write, eslint --fix

fix(circular-view): don't fit the figure before anything has measured it
  plugins/circular-view/src/CircularView/model.test.ts
  plugins/circular-view/src/CircularView/model.ts
Due: prettier --write, eslint --fix

test(browser-tests): finish the webgl re-baseline for the two custom-url captures
  products/jbrowse-web/browser-tests/__snapshots__/webgl/fullpage_breakpoint_split_view_snapshot.png
  products/jbrowse-web/browser-tests/__snapshots__/webgl/fullpage_methylation_snapshot.png
Due: none

docs(website): work the screenshot-review bad list, four deletions and three answers
  test_data/hprc2/config.json
  website/docs/tutorials/dog10k_selection.md
  website/docs/tutorials/ld_mosquitoes.md
  website/docs/tutorials/local_ancestry.md
  website/docs/tutorials/pangenome_ecoli.md
  website/docs/tutorials/pangenome_hprc.md
  website/release_announcement_drafts/v5.0.0.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-review.json
  website/scripts/screenshot-spec-helpers.ts
  website/scripts/screenshot-specs.ts
  website/scripts/specs/dog10k.ts
  website/scripts/specs/graph.ts
  website/scripts/specs/hprc2.ts
  website/scripts/specs/ld.ts
  website/src/lib/gallery.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/dog10k-igf1-haplotype.png
  website/static/img/dog10k-wolfdog-ancestry-clustered.png
  website/static/img/hprc2/mhc_clustered.png
  website/static/img/ld/anopheles_r2_vs_dprime.png
  website/static/img/pangenome/hprc_repeat_classes.png
  website/static/img/pangenome/local_subgraph.png
  website/static/img/pangenome/local_subgraph_anchored.png
  website/static/img/pangenome/local_subgraph_force.png
  website/static/img/tutorial-thumbs/dog10k_selection.webp
Due: prettier --write, eslint --fix

docs(local-ancestry): delete the block-genotypes figure, keep the check it was making
  website/docs/tutorials/local_ancestry.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-review.json
  website/scripts/specs/dog10k.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/dog10k-wolfdog-block-genotypes.png
Due: prettier --write, eslint --fix

fix(comparative): stop opening the reconstruction dialog with a paragraph
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/LinearDerivativeVsRef.tsx
  website/scripts/specs/cancer_sv.ts
  website/static/img/cancer_sv/derivative_autogenerated.png
  website/static/img/cancer_sv/foldback_reconstruction.png
  website/static/img/cancer_sv/multihop_split_view_steps.png
Due: prettier --write, eslint --fix

chore(website): flip the reconstruction dialog review
  website/scripts/screenshot-review.json
Due: none

docs(local-ancestry): drop the block-edge check section with its figure
  website/docs/tutorials/local_ancestry.md
  website/scripts/specs/dog10k.ts
Due: prettier --write, eslint --fix

fix(comparative): give the split-view launch the MST node getSnapshot needs
  plugins/linear-comparative-view/src/LinearDerivativeVsRef/LinearDerivativeVsRef.tsx
Due: prettier --write, eslint --fix

refactor(scripts): drop sv_multihop's --splice, the tool is DNA-only
  agent-docs/reference/SV_MULTIHOP.md
  scripts/sv_multihop.py
Due: prettier --write

docs(dog10k-svs): tag the OMIA track block for its CLI tab
  website/docs/tutorials/dog10k_svs.md
Due: prettier --write

fix(scripts): give the igf1 and OMIA builds their HELPERS arrays
  scripts/build_dog10k_igf1.sh
  scripts/build_omia_dog_variants.sh
Due: none

feat(variants): let a session say which locus the clustering runs over
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/clusterRegion.test.ts
  plugins/variants/src/shared/clusterRegion.ts
  plugins/variants/src/shared/getMultiSampleVariantClusterAutorun.ts
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
  website/docs/tutorials/dog10k_selection.md
  website/scripts/figure-manifest.json
  website/scripts/screenshot-review.json
  website/scripts/specs/dog10k.ts
  website/src/lib/galleryLinks.generated.ts
  website/static/img/dog10k-igf1-haplotype.png
Due: prettier --write, eslint --fix

docs(local-ancestry): stop claiming a wolf-looking haplotype can only be recent
  website/docs/tutorials/local_ancestry.md
Due: prettier --write

fix(alignments): center the canvas2d sub-pixel width clamp, as the shader does
  packages/alignments-core/src/rendererUtils.ts
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/fullpage_inversion-pbsim-coverage.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/fullpage_inversion-pbsim-linked.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/fullpage_inversion-pbsim.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_inversion-paired-cloud.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_inversion-paired-coverage.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_inversion-pbsim-coverage.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_inversion-pbsim-linked.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_inversion-pbsim.png
  products/jbrowse-web/browser-tests/crossBackendGate.ts
Due: prettier --write, eslint --fix

docs(handoff): record the pbsim override audit and what it found
  agent-docs/handoffs/cross-backend-gate-ci.md
Due: prettier --write

Update snaps
  packages/tree-sidebar/package.json
  plugins/linear-comparative-view/README.md
  plugins/maf/package.json
  pnpm-lock.yaml
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/svg-export-alignments.svg
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/svg-export-genes-peptides-alias.svg
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/svg-export-genes-peptides.svg
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/svg-export-multi-wiggle.svg
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/svg-export-multiple-tracks.svg
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/svg-export-sashimi-arcs.svg
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/svg-export-sequence.svg
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/svg-export-synteny-2way.svg
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/svg-export-synteny-3way.svg
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/svg-export-wiggle.svg
  website/docs/api/linear-comparative-view.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/scripts/screenshot-review.json
  website/static/img/tutorial-thumbs/dog10k_selection.webp
  website/static/img/tutorial-thumbs/dog10k_svs.webp
  website/static/img/tutorial-thumbs/local_ancestry.webp
Due: prettier --write

refactor(tree-sidebar): give all three clustering displays a clusterRegion
  packages/tree-sidebar/src/clusterRegion.test.ts
  packages/tree-sidebar/src/clusterRegion.ts
  packages/tree-sidebar/src/index.ts
  packages/tree-sidebar/src/runClusteringAutorun.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/getMultiRowClusterAutorun.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/runMultiRowClustering.test.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/runMultiRowClustering.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/getMultiSampleVariantClusterAutorun.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/clusterOptions.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/getWiggleClusterAutorun.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/model.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/runWiggleClustering.ts
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/docs/models/MultiLinearWiggleDisplay.md
Due: prettier --write, eslint --fix

test(browser-tests): make a capture that isn't the app impossible to record
  products/jbrowse-web/browser-tests/runner.ts
  products/jbrowse-web/browser-tests/snapshot.ts
  products/jbrowse-web/browser-tests/suites/custom-url.ts
Due: prettier --write, eslint --fix

docs(website): a figure a non-specialist can't read is a bad figure
  website/CLAUDE.md
Due: prettier --write

fix(alignments): snap the interbase bar to whole pixels on both backends
  packages/alignments-core/src/rendererUtils.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/interbaseHistogram.generated.ts
  plugins/alignments/src/LinearAlignmentsDisplay/shaders/slang/interbaseHistogram.slang
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/svg-export-sashimi-arcs.svg
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_arcs-rnaseq-sashimi.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_inversion-pbsim-coverage.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_inversion-simple-bam-linked.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_inversion-simple-bam.png
  products/jbrowse-web/browser-tests/__snapshots__/canvas2d/targeted_inversion-simple-cram.png
  products/jbrowse-web/browser-tests/crossBackendGate.ts
Due: prettier --write, eslint --fix

refactor(core): one locstring-to-regions parse, and drop the view the run no longer uses
  packages/core/src/util/index.ts
  packages/core/src/util/locStringsToRegions.test.ts
  packages/core/src/util/locStringsToRegions.ts
  packages/tree-sidebar/src/clusterRegion.test.ts
  packages/tree-sidebar/src/clusterRegion.ts
  packages/tree-sidebar/src/index.ts
  packages/tree-sidebar/src/runClusteringAutorun.ts
  plugins/alignments/src/consensus/ConsensusSequenceDialog.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/getMultiRowClusterAutorun.ts
  plugins/variants/src/shared/getMultiSampleVariantClusterAutorun.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/getWiggleClusterAutorun.ts
Due: prettier --write, eslint --fix

docs(handoff): record both pbsim fixes and why the residual is left alone
  agent-docs/handoffs/cross-backend-gate-ci.md
Due: prettier --write

fix(alignments): make the pileup hit test agree with what it draws
  plugins/alignments/src/LinearAlignmentsDisplay/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/components/hitTestPipeline.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/hitTestPipeline.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/useAlignmentsBase.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/contextMenu.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/contextMenu.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/alignments/src/LinearAlignmentsDisplay/viewMateRegion.ts
  plugins/alignments/src/features/insertion/hitTest.ts
  plugins/alignments/src/features/modification/hitTest.test.ts
  plugins/alignments/src/features/modification/hitTest.ts
  plugins/alignments/src/features/softclip/hitTest.ts
  plugins/alignments/src/shared/clipPass.ts
  plugins/alignments/src/shared/hitTestTypes.ts
Due: prettier --write, eslint --fix

docs(gallery): drop the LD card, and give the dotplot card a diagonal
  website/docs/user_guides/dotplot_view.md
  website/src/lib/gallery.ts
Due: prettier --write, eslint --fix

test(browser-tests): audit the threshold overrides, delete seven of eight
  products/jbrowse-web/browser-tests/crossBackendGate.ts
Due: prettier --write, eslint --fix

docs(handoff): the override list is audited down to one entry
  agent-docs/handoffs/cross-backend-gate-ci.md
Due: prettier --write

fix(maf): three places the plugin measured, attributed or computed the wrong thing
  plugins/maf/src/BgzipTaffyAdapter/BgzipTaffyAdapter.test.ts
  plugins/maf/src/BgzipTaffyAdapter/BgzipTaffyAdapter.ts
  plugins/maf/src/BgzipTaffyAdapter/taiIndex.test.ts
  plugins/maf/src/BgzipTaffyAdapter/taiIndex.ts
  plugins/maf/src/LinearMafDisplay/overlayModeGating.test.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/maf/src/LinearMafRenderer/mafRenderingBackendTypes.ts
  plugins/maf/src/util/parseBigMaf.test.ts
  plugins/maf/src/util/parseBigMaf.ts
  website/docs/models/LinearMafDisplay.md
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
