Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

hg38_vertebrates_synteny: the gorilla lane at TP53, a check against a chain
  website/docs/tutorials/hg38_vertebrates_synteny.md
Due: prettier --write

homoeolog_synteny: the oat build writes the detail columns the page shows
  scripts/build_oat_homoeologs.sh
  website/docs/tutorials/homoeolog_synteny.md
Due: prettier --write

mcscan_synteny_grape_peach: figures after their routes, a caption the spec bears out
  website/docs/tutorials/mcscan_synteny_grape_peach.md
  website/scripts/figure-actions.txt
Due: prettier --write

multiway_synteny_grape_peach_cacao: say the fences are cut to three genomes
  website/docs/tutorials/multiway_synteny_grape_peach_cacao.md
  website/scripts/specs/synteny.ts
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

odp_linkage_groups_synteny: no derived percentages, headings with subjects
  website/docs/tutorials/odp_linkage_groups_synteny.md
Due: prettier --write

orthofinder_synteny: a route before each set's figure, coffee as the outgroup
  website/docs/tutorials/orthofinder_synteny.md
  website/scripts/figure-actions.txt
Due: prettier --write

primate_orthologs_synteny: a route to the chr2 fusion view, keys described as drawn
  website/docs/tutorials/primate_orthologs_synteny.md
  website/scripts/figure-actions.txt
Due: prettier --write

selection_pressure: a session that opens the figure's window, columns the script writes
  scripts/build_primate_selection.sh
  website/docs/tutorials/selection_pressure.md
Due: prettier --write

synteny_visualization: the Quick start button is Swap, script steps listed
  website/docs/tutorials/synteny_visualization.md
Due: prettier --write

syri_synteny: headings that name their subject, script steps listed
  website/docs/tutorials/syri_synteny.md
Due: prettier --write

chore: pre-push autofix
  website/scripts/long-captions.txt
Due: none

Regenerate model docs without the rowColorChoiceSetting method
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearMafDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMarkDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
  website/docs/models/TreeSidebarMixin.md
Due: prettier --write

The unknown colour is the dialog's Other swatch
  agent-docs/architecture-decision-records/adr-207-a-rows-colour-resolves-once-and-shows-beside-its-label.md
  agent-docs/reference/TREE_SIDEBAR.md
  packages/tree-sidebar/src/TreeSidebarMixin.ts
  packages/tree-sidebar/src/rowColorChoice.test.ts
  packages/tree-sidebar/src/rowColorChoice.ts
  packages/tree-sidebar/src/setColorDialog/RowColorPanel.tsx
  packages/tree-sidebar/src/setColorDialog/SetColorDialog.test.tsx
  packages/tree-sidebar/src/setColorDialog/SetColorDialog.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/trackMenuItems.test.ts
Due: prettier --write, eslint --fix

Review fixes: a value shows the colour it inherits, and none is not auto
  agent-docs/architecture-decision-records/adr-207-a-rows-colour-resolves-once-and-shows-beside-its-label.md
  packages/tree-sidebar/src/setColorDialog/RowColorPanel.tsx
  packages/tree-sidebar/src/setColorDialog/SetColorDialog.test.tsx
  packages/tree-sidebar/src/setColorDialog/SetColorDialog.tsx
Due: prettier --write, eslint --fix

A lane opens a hole at each deletion it carries, so every carrier draws it alike
  agent-docs/ideas/collections/multiway-synteny-lgv-track.md
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
  plugins/linear-comparative-view/benches/multiwayOrientation17p.probe.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneDecision.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneHeader.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneMotion.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneOpenings.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneStack.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/layoutMultiWay.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.ts
Due: prettier --write, eslint --fix

Graph track docs: past the cut it asks to zoom in, the overview is retired
  demos/hprc/README.txt
  website/docs/tutorials/pangenome_prepare_graph.md
  website/docs/user_guides/graph_genome_view.md
Due: prettier --write

READMEs show the managed component, and the react-app stylesheet is described as it is
  products/jbrowse-react-app/README.md
  products/jbrowse-react-app/examples-site/src/docs/basic-example.md
  products/jbrowse-react-app/examples-site/src/docs/create-app-synteny.md
  products/jbrowse-react-circular-genome-view/README.md
  products/jbrowse-react-linear-genome-view/README.md
  website/docs/embedded_components.md
Due: prettier --write

Examples link check reads page files and inbound website links
  packages/browser-test-utils/src/docLinks.test.ts
  packages/browser-test-utils/src/docLinks.ts
  packages/browser-test-utils/src/examplesSiteCli.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/developer_guides/drawer_widgets.md
  website/docs/developer_guides/no_build_plugin.md
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write, eslint --fix

Export text inherits the export's font instead of the theme's Roboto stack
  packages/display-ui/src/FloatingText.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/SvgLaneHeaders.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneLabels.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/renderSvg.test.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/renderSvg.tsx
  plugins/marks/src/LinearMarkDisplay/renderSvg.test.tsx
  plugins/marks/src/LinearMarkDisplay/renderSvg.tsx
  plugins/marks/src/LinearMarkDisplay/textMarks.ts
Due: prettier --write, eslint --fix

LD and matrix exports draw frozen components, not view observers
  plugins/variants/src/LDDisplay/components/LDColumnZone.tsx
  plugins/variants/src/LDDisplay/components/LDLabelZone.tsx
  plugins/variants/src/LDDisplay/components/LinesConnectingMatrixToGenomicPosition.tsx
  plugins/variants/src/LDDisplay/components/VariantLabels.tsx
  plugins/variants/src/LDDisplay/renderSvg.test.tsx
  plugins/variants/src/LDDisplay/renderSvg.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/matrix/LinesConnectingMatrixToGenomicPosition.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/matrix/renderMatrixSvg.tsx
  plugins/variants/src/shared/ConnectorLines.test.tsx
  plugins/variants/src/shared/ConnectorLines.tsx
  plugins/variants/src/shared/constants.ts
Due: prettier --write, eslint --fix

SVG export reads the palette from context, one spelling for every display
  packages/display-kit/src/GroupLabelBox.tsx
  packages/display-kit/src/types.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiArcLabels.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiArcsOverlay.test.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiArcsOverlay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/components/SashimiArcsSvg.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/renderSvg.tsx
  plugins/canvas/src/LinearBasicDisplay/renderSvg.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/renderSvg.tsx
  plugins/maf/src/LinearMafDisplay/components/MafBandLabels.tsx
  plugins/maf/src/LinearMafDisplay/components/bandLabelsExport.test.tsx
  plugins/maf/src/LinearMafDisplay/renderSvg.tsx
  plugins/marks/src/LinearMarkDisplay/renderSvg.tsx
  plugins/sequence/src/LinearReferenceSequenceDisplay/renderSvg.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/renderSvg.tsx
Due: prettier --write, eslint --fix

Export bodies paint marks through one MarkSvgLayer; theme inputs take the palette
  example-plugins/score-example/src/LinearScoreDisplay/renderSvg.tsx
  packages/display-kit/package.json
  packages/display-kit/src/MarkSvgLayer.tsx
  packages/display-kit/src/TriangleMatrixSvgLayer.tsx
  packages/display-kit/src/__snapshots__/publicApi.test.ts.snap
  packages/wiggle-core/src/ScorePlotSvgFrame.tsx
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/renderSvg.test.tsx
  plugins/canvas/src/LinearBasicDisplay/renderSvg.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/renderSvg.test.tsx
  plugins/canvas/src/LinearMultiRowFeatureDisplay/renderSvg.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/renderSvg.tsx
  plugins/marks/src/LinearMarkDisplay/renderSvg.tsx
  plugins/sequence/src/LinearReferenceSequenceDisplay/model.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/renderSvg.test.tsx
  plugins/sequence/src/LinearReferenceSequenceDisplay/renderSvg.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/matrix/renderMatrixSvg.tsx
  plugins/variants/src/LinearMultiSampleVariantDisplay/renderSvg.tsx
  plugins/variants/src/shared/renderSvgUtils.ts
  plugins/wiggle/src/LinearWiggleDisplay/renderSvg.tsx
Due: prettier --write, eslint --fix

pnpm autogen
  packages/core/src/ReExports/list.ts
  packages/core/src/ReExports/reExports.generated.json
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  products/jbrowse-desktop/src/reExports.generated.ts
  products/jbrowse-desktop/src/workerReExports.generated.ts
  products/jbrowse-react-app/src/reExports.generated.ts
  products/jbrowse-react-app/src/workerReExports.generated.ts
  products/jbrowse-react-circular-genome-view/src/reExports.generated.ts
  products/jbrowse-react-circular-genome-view/src/workerReExports.generated.ts
  products/jbrowse-react-linear-genome-view/src/reExports.generated.ts
  products/jbrowse-react-linear-genome-view/src/workerReExports.generated.ts
  products/jbrowse-web/src/reExports.generated.ts
  products/jbrowse-web/src/workerReExports.generated.ts
  scripts/registryBundleSizes.json
  website/docs/developer_guides/creating_gpu_display.md
  website/docs/developer_guides/imports_and_reexports.md
  website/docs/developer_guides/plotting_features.md
  website/docs/developer_guides/svg_export.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/docs/models/LinearReferenceSequenceDisplay.md
  website/docs/models/LinearVariantDisplay.md
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write, eslint --fix

Clip outliers fences a spike, and Always include 0 joins Set min/max
  agent-docs/architecture-decision-records/README.md
  agent-docs/architecture-decision-records/adr-179-an-open-scale-end-follows-one-quantile.md
  agent-docs/architecture-decision-records/adr-182-an-axis-reaches-0-unless-its-scale-says-otherwise.md
  agent-docs/architecture-decision-records/adr-183-a-bar-the-axis-cut-wears-a-red-strip.md
  agent-docs/architecture-decision-records/adr-208-clip-outliers-fences-a-spike-and-0-joins-min-max.md
  packages/alignments-core/src/coverageDownsampling.test.ts
  packages/alignments-core/src/coverageDownsampling.ts
  packages/core/README.md
  packages/core/src/ReExports/reExports.generated.json
  packages/core/src/util/quantileExtent.ts
  packages/wiggle-core/README.md
  packages/wiggle-core/src/SetMinMaxDialog.test.tsx
  packages/wiggle-core/src/SetMinMaxDialog.tsx
  packages/wiggle-core/src/autoscale.test.ts
  packages/wiggle-core/src/autoscale.ts
  packages/wiggle-core/src/index.ts
  packages/wiggle-core/src/scoreMenuItems.test.ts
  packages/wiggle-core/src/scoreMenuItems.ts
  packages/wiggle-core/src/valueScaleConfigSchema.ts
  plugins/alignments/src/LinearAlignmentsDisplay/coverageZero.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/coverage.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  plugins/wiggle/src/shared/WiggleCommonMixin.ts
  plugins/wiggle/src/util.test.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  products/jbrowse-img/README.md
  website/docs/api/core.md
  website/docs/api/wiggle-core.md
  website/docs/config/ValueScale.md
  website/docs/jbrowse-img.md
  website/docs/user_guides/quantitative_track.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

One Y axis drawer widget replaces the Score submenu
  packages/wiggle-core/package.json
  packages/wiggle-core/src/AutoscaleGroupDialog.tsx
  packages/wiggle-core/src/ResolutionStepper.tsx
  packages/wiggle-core/src/ScoreAxisWidget/RangeFields.tsx
  packages/wiggle-core/src/ScoreAxisWidget/ReferenceLines.tsx
  packages/wiggle-core/src/ScoreAxisWidget/ResetAxisButton.tsx
  packages/wiggle-core/src/ScoreAxisWidget/ScoreAxisHeading.tsx
  packages/wiggle-core/src/ScoreAxisWidget/ScoreAxisWidget.test.tsx
  packages/wiggle-core/src/ScoreAxisWidget/ScoreAxisWidget.tsx
  packages/wiggle-core/src/ScoreAxisWidget/Section.tsx
  packages/wiggle-core/src/ScoreAxisWidget/ShareAxisWith.tsx
  packages/wiggle-core/src/ScoreAxisWidget/constants.ts
  packages/wiggle-core/src/ScoreAxisWidget/index.ts
  packages/wiggle-core/src/ScoreAxisWidget/stateModel.ts
  packages/wiggle-core/src/ScoreAxisWidget/types.ts
  packages/wiggle-core/src/ScoreAxisWidget/writeThrough.ts
  packages/wiggle-core/src/SetMinMaxDialog.test.tsx
  packages/wiggle-core/src/SetMinMaxDialog.tsx
  packages/wiggle-core/src/SetScoreRulesDialog.test.tsx
  packages/wiggle-core/src/autoscaleGroup.test.ts
  packages/wiggle-core/src/chrome.ts
  packages/wiggle-core/src/index.ts
  packages/wiggle-core/src/scoreMenuItems.test.ts
  packages/wiggle-core/src/scoreMenuItems.ts
  plugins/alignments/src/LinearAlignmentsDisplay/coverageScaleGuides.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/coverage.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/coverage.ts
  plugins/alignments/src/LinearAlignmentsDisplay/menus/index.ts
  plugins/alignments/src/LinearAlignmentsDisplay/model.ts
  plugins/circular-view/src/rings/ringTypes.test.ts
  plugins/gccontent/src/GCContentTrack/gcTrack.test.ts
  plugins/marks/src/LinearMarkDisplay/markMenus.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/wiggle/src/LinearWiggleDisplay/model.ts
  plugins/wiggle/src/LinearWiggleDisplay/scoreRules.test.ts
  plugins/wiggle/src/LinearWiggleDisplay/trackMenuItems.test.ts
  plugins/wiggle/src/index.ts
  plugins/wiggle/src/shared/wiggleMenuItems.tsx
Due: prettier --write, eslint --fix

Regenerate type docs and bundle sizes after the rebase
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
Due: none

MAF export encodes rows in its own palette and paints through MarkSvgLayer
  plugins/maf/src/LinearMafDisplay/renderSvg.test.tsx
  plugins/maf/src/LinearMafDisplay/renderSvg.tsx
  plugins/maf/src/LinearMafDisplay/stateModel.ts
Due: prettier --write, eslint --fix

pnpm autogen
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearMafDisplay.md
Due: prettier --write

Export docs teach MarkSvgLayer, usePalette, the inherited font and frozen overlays
  agent-docs/reference/SVG_EXPORT.md
  products/jbrowse-web/src/tests/ExportSvgMultiSampleVariant.test.tsx
  website/docs/developer_guides/creating_gpu_display.md
  website/docs/developer_guides/svg_export.md
Due: prettier --write, eslint --fix

Tutorials name the Coverage axis row and keep a menu path on one line
  website/docs/tutorials/alphagenome.md
  website/docs/tutorials/sv_multisamples.md
Due: prettier --write

Tests read the row colour as the mixin now exposes it
  products/jbrowse-react-app/src/sessionTrackEdits.test.ts
  products/jbrowse-web/browser-tests/suites/variants.ts
Due: prettier --write, eslint --fix

The variant menu's row colour pick writes the dialog's object
  agent-docs/architecture-decision-records/adr-164-the-arrangement-dialog-shows-the-row-colour-object.md
  agent-docs/architecture-decision-records/adr-207-a-rows-colour-resolves-once-and-shows-beside-its-label.md
  agent-docs/reference/TREE_SIDEBAR.md
  agent-docs/reference/VARIANTS_DISPLAY.md
  packages/tree-sidebar/src/index.ts
  packages/tree-sidebar/src/rowColorChoice.test.ts
  packages/tree-sidebar/src/rowColorChoice.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/rowOrderIsCustom.test.ts
Due: prettier --write, eslint --fix

Regenerate model docs for setRowColorField
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
Due: prettier --write

Review fixes: None leaves parked name pairs parked, one paintsAttribute
  agent-docs/architecture-decision-records/adr-164-the-arrangement-dialog-shows-the-row-colour-object.md
  agent-docs/reference/TREE_SIDEBAR.md
  agent-docs/reference/VARIANTS_DISPLAY.md
  packages/tree-sidebar/src/TreeSidebarMixin.ts
  packages/tree-sidebar/src/rowColorChoice.test.ts
  packages/tree-sidebar/src/rowColorChoice.ts
Due: prettier --write, eslint --fix

A ruler-only row's controls rise from the ruler instead of hanging below it
  plugins/linear-genome-view/src/LinearGenomeView/components/MiniControls.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/collapsedRowRubberband.test.tsx
Due: prettier --write, eslint --fix

A breakend connector meets its feature on the side facing its mate
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/Variants.test.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/Variants.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/model.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/util.test.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/util.ts
Due: prettier --write, eslint --fix

A stacked split view's read curve bulges no further than a short gap's
  packages/core/src/util/bezierConnector.test.ts
  packages/core/src/util/bezierConnector.ts
Due: prettier --write, eslint --fix

A stacked view header's search boxes shrink to fit before the strip scrolls
  plugins/linear-genome-view/src/LinearGenomeView/components/HeaderSearchBoxes.tsx
Due: prettier --write, eslint --fix
