Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

A same-start pile keeps its leader's name under fit decimation
  plugins/canvas/src/LinearBasicDisplay/fitToDisplayHeight.test.ts
  plugins/canvas/src/LinearBasicDisplay/labelReservation.ts
  plugins/canvas/src/LinearBasicDisplay/layout.test.ts
Due: prettier --write, eslint --fix

Handoff: the fit label priority calls still open after the gene tier and the pile rule
  agent-docs/handoffs/README.md
  agent-docs/handoffs/fit-label-priority.md
Due: prettier --write

The gene-like rule anchors `transcript` at the end
  agent-docs/handoffs/README.md
  agent-docs/handoffs/fit-label-priority.md
  packages/core/src/util/featureTypes.test.ts
  packages/core/src/util/featureTypes.ts
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

WebGL2 multisamples only a display whose passes ask for it
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  agent-docs/reference/GPU_RENDERING.md
  packages/render-core/src/hal/createHal.ts
  packages/render-core/src/hal/types.ts
  packages/render-core/src/hal/webgl2Hal.ts
  packages/render-core/src/hal/webgl2HalSampleCount.test.ts
  plugins/circular-view/src/chords/ChordCanvas.tsx
  plugins/circular-view/src/chords/chordLayer.test.ts
  plugins/circular-view/src/chords/chordLayer.ts
  plugins/circular-view/src/chords/ribbonGeometry.test.ts
Due: prettier --write, eslint --fix

The GWAS browser scenes wait on the mark display's testid
  products/jbrowse-web/browser-tests/suites/gwas.ts
Due: prettier --write, eslint --fix

Quantitative and Hi-C docs pass the full docs gate
  website/docs/config_guides/quantitative_track.md
  website/docs/user_guides/hic_track.md
  website/docs/user_guides/quantitative_track.md
Due: prettier --write

Config read-type baseline: 126 unchecked source reads down to 123
  agent-docs/architecture-decision-records/adr-052-slot-name-safety-is-a-write-guard.md
  agent-docs/architecture-decision-records/adr-091-a-displays-settings-are-a-declaration.md
  agent-docs/measurements/config-read-gap-populations.json
  agent-docs/measurements/config-read-type-gaps.json
  scripts/configReadTypeGaps.txt
Due: prettier --write

The canvas base model names LabelRoomFactors for the variant display's declarations
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
Due: prettier --write, eslint --fix

A mark's key takes ggplot's controls, and the LD key reads as LocusZoom's
  agent-docs/ARCHITECTURE.md
  agent-docs/architecture-decision-records/adr-178-manhattan-is-the-mark-display-with-a-default-plot.md
  plugins/gwas/src/LinearManhattanDisplay/configSchemaFactory.ts
  plugins/gwas/src/LinearManhattanDisplay/ldPlot.ts
  plugins/marks/src/LinearMarkDisplay/components/MarkScaleRow.tsx
  plugins/marks/src/LinearMarkDisplay/components/MarkTooltip.test.tsx
  plugins/marks/src/LinearMarkDisplay/configSchema.ts
  plugins/marks/src/LinearMarkDisplay/legend.test.ts
  plugins/marks/src/LinearMarkDisplay/legend.ts
  plugins/marks/src/LinearMarkDisplay/markColorConfigSchema.ts
  plugins/marks/src/LinearMarkDisplay/markEdit.test.ts
  plugins/marks/src/LinearMarkDisplay/markEdit.ts
  plugins/marks/src/LinearMarkDisplay/markList.test.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  products/jbrowse-cli/src/commands/validate/configManifest.generated.ts
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  test_data/config_gwas.json
  test_data/gwas/locuszoom_ld.json
  website/docs/config/LinearManhattanDisplay.md
  website/docs/config/LinearMarkDisplay.md
  website/docs/config/MarkColor.md
  website/docs/config_guides/gwas_track.md
  website/docs/config_guides/mark_display.md
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

The LocusZoom LD figure frames its gene strip whole
  website/scripts/specs/gwas.ts
Due: prettier --write, eslint --fix

pnpm autogen
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

The Manhattan figures are shot from the mark display
  figures.lock
Due: none

The jbrowse-img README's session example names its mark
  products/jbrowse-img/README.md
Due: prettier --write

The LocusZoom browser scenes wait on the mark display's testid
  products/jbrowse-web/browser-tests/suites/gwas-locuszoom.ts
Due: prettier --write, eslint --fix

GWAS browser goldens from the mark display
  products/jbrowse-web/browser-tests/snapshots.lock
Due: none

pnpm autogen
  agent-docs/architecture-decision-records/README.md
  scripts/registryBundleSizes.json
Due: prettier --write

Auto labels keep gene names while the genes alone are sparse
  agent-docs/handoffs/README.md
  agent-docs/handoffs/fit-label-priority.md
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/fetchAutorun.test.ts
  plugins/canvas/src/LinearBasicDisplay/fitLadder.ts
  plugins/canvas/src/LinearBasicDisplay/fitLadderViews.ts
  plugins/canvas/src/LinearBasicDisplay/layout.ts
  plugins/canvas/src/LinearBasicDisplay/layoutInputs.ts
  plugins/canvas/src/LinearBasicDisplay/packRef.ts
Due: prettier --write, eslint --fix

pnpm autogen
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
Due: prettier --write

A chord display's on-screen group spans its disc
  plugins/circular-view/src/ChordSyntenyDisplay/components/ChordSyntenyDisplay.test.tsx
  plugins/circular-view/src/chords/ShapePaths.tsx
Due: prettier --write, eslint --fix

Publish the circular synteny figures on the liftOver chain's coarse tier
  figures.lock
  website/scripts/figure-manifest.json
Due: none

The ribbon hover figure expects its tooltip
  website/scripts/specs/circular.ts
Due: prettier --write, eslint --fix

Portal launch figures: compact lanes so the graph and its node menu sit in frame, and three frames sized to their content
  website/scripts/specs/genomes_pangenome.ts
  website/scripts/specs/graph-hprc.ts
Due: prettier --write, eslint --fix

Two portal launch frames sized to the fit-mode allele lane, and the HPRC handoff records the release
  agent-docs/handoffs/hprc-graph-overview-and-live-stack.md
  website/scripts/specs/genomes_pangenome.ts
  website/scripts/specs/graph-hprc.ts
Due: prettier --write, eslint --fix

The haplotype-launch figure's second frame ends at its content
  website/scripts/specs/graph-hprc.ts
Due: prettier --write, eslint --fix

Ten pangenome figures reshot against the released plugin: the following graph, its tiers and the graph-stated lanes
  figures.lock
Due: none

A hidden wait can scope its text to a selector, and the browse tour gates the haplotype view on its track label
  website/scripts/actions.ts
  website/scripts/videos/pangenome.ts
Due: prettier --write, eslint --fix

pnpm autogen
  agent-docs/handoffs/README.md
  website/src/lib/liveLinks.generated.ts
Due: prettier --write, eslint --fix

The pggb and Cactus subgraph-launch clips, re-filmed on the released plugin
  website/media.lock
Due: none

A text target looks past the tour's own caption
  website/scripts/actions.ts
  website/scripts/video-overlay.ts
Due: prettier --write, eslint --fix

pnpm autogen
  agent-docs/handoffs/README.md
Due: prettier --write

The tier clip re-filmed on the released plugin, and the handoff records the browse clip's open anchor miss
  agent-docs/handoffs/hprc-graph-overview-and-live-stack.md
  website/media.lock
Due: prettier --write

Fit labels: pile leaders yield past the factor cap, and gene-only snaps
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/canvas/src/LinearBasicDisplay/fitLadder.ts
  plugins/canvas/src/LinearBasicDisplay/fitToDisplayHeight.test.ts
  plugins/canvas/src/LinearBasicDisplay/labelReservation.ts
  plugins/canvas/src/LinearBasicDisplay/layout.test.ts
  plugins/canvas/src/LinearBasicDisplay/packRef.ts
  plugins/canvas/src/LinearBasicDisplay/yMorph.test.ts
  plugins/canvas/src/LinearBasicDisplay/yMorph.ts
  plugins/canvas/src/LinearBasicDisplay/yMorphViews.ts
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

The gene-like rule refuses `transcript_region`
  packages/core/src/util/featureTypes.test.ts
  packages/core/src/util/featureTypes.ts
Due: prettier --write, eslint --fix

A shape key draws its shapes in the one colour its mark paints
  plugins/marks/src/LinearMarkDisplay/legend.test.ts
  plugins/marks/src/LinearMarkDisplay/legend.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
Due: prettier --write, eslint --fix

Manhattan LD: the index SNP is a pink diamond in a mark of its own
  agent-docs/architecture-decision-records/adr-178-manhattan-is-the-mark-display-with-a-default-plot.md
  agent-docs/reference/GRAMMAR_OF_GRAPHICS.md
  agent-docs/reference/MARK_ENCODING.md
  plugins/gwas/src/GWASAddTrackWorkflow/util.test.ts
  plugins/gwas/src/GWASAddTrackWorkflow/util.ts
  plugins/gwas/src/LinearManhattanDisplay/configSchemaFactory.ts
  plugins/gwas/src/LinearManhattanDisplay/featureDetails.test.ts
  plugins/gwas/src/LinearManhattanDisplay/ldAutoIndex.test.ts
  plugins/gwas/src/LinearManhattanDisplay/ldKey.test.ts
  plugins/gwas/src/LinearManhattanDisplay/ldPlot.test.ts
  plugins/gwas/src/LinearManhattanDisplay/ldPlot.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
  test_data/config_gwas.json
  test_data/gwas/locuszoom_ld.json
  website/docs/config_guides/gwas_track.md
Due: prettier --write, eslint --fix

Edit as JSON says a null marks resets to the default plot where there is one
  plugins/marks/src/LinearMarkDisplay/components/PlotJsonDialog.tsx
  plugins/marks/src/LinearMarkDisplay/markPlot.test.ts
  plugins/marks/src/LinearMarkDisplay/markPlot.ts
Due: prettier --write, eslint --fix

The numeric-key hint counts the rows the key lists, after breaks
  plugins/marks/src/LinearMarkDisplay/legend.test.ts
  plugins/marks/src/LinearMarkDisplay/legend.ts
Due: prettier --write, eslint --fix

jb.help names LinearManhattanDisplay as the mark display type on a GWASTrack
  packages/app-core/src/JbApi/jbApi.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
