Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,css}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

refactor(worker): one copy of the static-rendering guard, in initializeWorker
  packages/product-core/src/rpcWorker.ts
  products/jbrowse-desktop/src/rpcWorker.ts
  products/jbrowse-react-app/src/rpcWorker.ts
  products/jbrowse-react-linear-genome-view/src/rpcWorker.ts
  products/jbrowse-web/src/rpcWorker.ts
Due: prettier --write, eslint --fix

docs(abi): three RPC signature changes external plugins inherit
  agent-docs/reference/PLUGIN_ABI_STABILITY.md
Due: prettier --write

docs(rpc): regenerate the rename-base snippet for the dropped parameter
  website/docs/developer_guides/rpc_workers.md
Due: prettier --write

refactor(rpc): `wire:` means one thing, and a redundant one is an error
  packages/core/src/rpc/RpcRegistry.ts
  plugins/canvas/src/MultiRowGetFeaturesRPC/rpcTypes.ts
  plugins/canvas/src/RenderFeatureDataRPC/rpcTypes.ts
Due: prettier --write, eslint --fix

fix(alignments): an interchromosomal tick's weight is its clusters too
  agent-docs/reference/ARC_BAND.md
  plugins/alignments/src/features/arcs/compute.test.ts
  plugins/alignments/src/features/arcs/compute.ts
Due: prettier --write, eslint --fix

fix(alignments): the cross-region overlay ranks by category too, not support alone
  agent-docs/reference/ARC_BAND.md
  plugins/alignments/src/LinearAlignmentsDisplay/components/CrossRegionArcsOverlay.tsx
  plugins/alignments/src/features/arcs/compute.ts
  plugins/alignments/src/features/arcs/crossRegionOverlay.ts
  plugins/alignments/src/features/arcs/crossRegionPaintOrder.test.ts
Due: prettier --write, eslint --fix

docs(alignments): two claims the arc/tick split left behind
  plugins/alignments/src/LinearAlignmentsDisplay/menus/readConnections.ts
  plugins/alignments/src/features/arcs/compute.ts
Due: prettier --write, eslint --fix

docs(alignments): name the array that actually spans the feed
  plugins/alignments/src/features/arcs/compute.ts
Due: prettier --write, eslint --fix

Bump deps
  package.json
  packages/browser-test-utils/package.json
  packages/core/package.json
  plugins/gff3/package.json
  plugins/trix/package.json
  pnpm-lock.yaml
  products/jbrowse-capture/package.json
  website/scripts/screenshot-review.json
Due: none

refactor(arcs): one ranking rule for the hover, and the log2 moves past the reject
  plugins/alignments/src/LinearAlignmentsDisplay/CLAUDE.md
  plugins/alignments/src/LinearAlignmentsDisplay/components/useAlignmentsBase.ts
  plugins/alignments/src/features/arcs/hitTest.test.ts
  plugins/alignments/src/features/arcs/hitTest.ts
Due: prettier --write, eslint --fix

fix(canvas): the isoform cap counts every isoform, not the seven types it names
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/subfeatures.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/subfeatures.ts
  plugins/canvas/src/RenderFeatureDataRPC/labelUtils.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/labelUtils.ts
Due: prettier --write, eslint --fix

docs(canvas): canonicalTranscriptTags reads best-first, and its default follows
  plugins/canvas/src/LinearBasicDisplay/baseConfigSchema.ts
  website/docs/config/LinearBasicDisplay.md
  website/docs/config/LinearCanvasBaseDisplay.md
  website/docs/config/LinearVariantDisplay.md
Due: prettier --write, eslint --fix

perf(canvas): only a collapsing gene pays for codingLength
  plugins/canvas/src/RenderFeatureDataRPC/collect/glyphEmitters.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/subfeatures.ts
Due: prettier --write, eslint --fix

fix(canvas): the isoform cap spends the gene's own label lines, not "one row"
  plugins/canvas/src/LinearBasicDisplay/fetchAutorun.test.ts
  plugins/canvas/src/LinearBasicDisplay/model.ts
Due: prettier --write, eslint --fix

fix(canvas): longestCoding is the cap at one, decorations included
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/subfeatures.test.ts
  plugins/canvas/src/RenderFeatureDataRPC/glyphs/subfeatures.ts
  plugins/canvas/src/RenderFeatureDataRPC/labelUtils.ts
Due: prettier --write, eslint --fix

docs(canvas): transcriptTypes says what it still decides, and a cap of one reads right
  plugins/canvas/src/LinearBasicDisplay/baseConfigSchema.ts
  plugins/canvas/src/LinearBasicDisplay/components/GeneGlyphControl.tsx
  plugins/canvas/src/LinearBasicDisplay/components/geneGlyphTooltip.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/geneGlyphTooltip.ts
  website/docs/config/LinearBasicDisplay.md
  website/docs/config/LinearCanvasBaseDisplay.md
  website/docs/config/LinearVariantDisplay.md
  website/docs/models/LinearBasicDisplay.md
Due: prettier --write, eslint --fix

fix(dotplot): the plot moving under a stationary cursor is one invalidation rule
  plugins/dotplot-view/src/DotplotDisplay/dotplotPickEngine.test.ts
  plugins/dotplot-view/src/DotplotDisplay/dotplotPickEngine.ts
  plugins/dotplot-view/src/DotplotDisplay/stateModelFactory.tsx
  plugins/dotplot-view/src/DotplotView/afterAttach.ts
  plugins/dotplot-view/src/DotplotView/components/DotplotTooltips.tsx
  plugins/dotplot-view/src/DotplotView/components/useDotplotInteraction.test.ts
  plugins/dotplot-view/src/DotplotView/components/useDotplotInteraction.ts
  plugins/dotplot-view/src/DotplotView/hover.integration.test.ts
  plugins/dotplot-view/src/DotplotView/model.ts
  website/docs/models/DotplotDisplay.md
  website/docs/models/DotplotView.md
Due: prettier --write, eslint --fix

docs(dotplot): the hover has two invalidation questions, and one is not a list
  plugins/dotplot-view/src/DotplotDisplay/AGENTS.md
Due: prettier --write

perf(maf): the codon spine indexes the blocks it reads, not every block
  plugins/maf/src/LinearMafDisplay/components/computeVisibleCodons.ts
  plugins/maf/src/LinearMafDisplay/components/computeVisibleLabels.test.ts
  plugins/maf/src/LinearMafDisplay/components/computeVisibleLabels.ts
Due: prettier --write, eslint --fix

perf(maf): source-chromosome ranks follow the data, not the pan
  plugins/maf/src/LinearMafDisplay/components/drawSourceChrom.ts
  plugins/maf/src/LinearMafDisplay/sourceChromRanks.test.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
Due: prettier --write, eslint --fix

docs(maf): record the two render passes and the memo-key lesson
  agent-docs/reference/MAF_LARGE_BLOCKS.md
Due: prettier --write

fix(maf): the band canvases are as wide as the box they paint into
  plugins/maf/src/LinearMafDisplay/components/MafRowsCanvas.tsx
  plugins/maf/src/LinearMafDisplay/components/TrackBandCanvas.tsx
  plugins/maf/src/LinearMafDisplay/components/drawMafRowsCanvas2d.ts
  plugins/maf/src/LinearMafDisplay/renderSvg.tsx
Due: prettier --write, eslint --fix

perf(comparative-adapters): a PAF region query walks one contig, not the whole file
  plugins/comparative-adapters/src/AllVsAllIndexedPAFAdapter/AllVsAllIndexedPAFAdapter.ts
  plugins/comparative-adapters/src/AllVsAllPAFAdapter/AllVsAllPAFAdapter.ts
  plugins/comparative-adapters/src/BlastTabularAdapter/BlastTabularAdapter.ts
  plugins/comparative-adapters/src/PAFAdapter/PAFAdapter.test.ts
  plugins/comparative-adapters/src/PAFAdapter/PAFAdapter.ts
  plugins/comparative-adapters/src/PAFAdapter/util.ts
  plugins/comparative-adapters/src/util.ts
Due: prettier --write, eslint --fix

refactor(dotplot): one cumBp -> px reconstruction, and the bench that picked its shape
  agent-docs/reference/REJECTED_IDEAS.md
  plugins/dotplot-view/benches/cumBpProjection.bench.ts
  plugins/dotplot-view/src/DotplotDisplay/AGENTS.md
  plugins/dotplot-view/src/DotplotDisplay/dotplotPickEngine.ts
  plugins/dotplot-view/src/DotplotDisplay/dotplotProject.ts
  plugins/dotplot-view/src/DotplotDisplay/drawDotplot.ts
  plugins/dotplot-view/src/DotplotDisplay/stateModelFactory.tsx
Due: prettier --write, eslint --fix

fix(alignments): a split junction is never windowed, whatever the chromosomes
  agent-docs/reference/ARC_BAND.md
  plugins/alignments/src/features/arcs/compute.test.ts
  plugins/alignments/src/features/arcs/compute.ts
Due: prettier --write, eslint --fix

docs: park the one-mark-per-cluster question, with the zoom half answered
  agent-docs/ideas/README.md
  agent-docs/ideas/arc-cluster-one-mark.md
Due: prettier --write

docs: regenerate the two artifacts main was missing
  website/docs/developer_guides/mst_patterns.md
  website/docs/models/LinearMafDisplay.md
Due: prettier --write

test(synteny): a fixture that tells the two axes' refName resolvers apart
  products/jbrowse-web/src/tests/LinearSyntenyRefNameAlias.test.tsx
  test_data/volvox/config.json
  test_data/volvox/volvox_alias_target.paf
Due: prettier --write, eslint --fix

refactor(synteny): the return-direction rename reads the alias table, not an inverted map
  packages/synteny-core/src/getCanonicalRefNameFn.test.ts
  packages/synteny-core/src/getCanonicalRefNameFn.ts
  packages/synteny-core/src/index.ts
  packages/synteny-core/src/renameRefNameDict.test.ts
  packages/synteny-core/src/renameRefNameDict.ts
  packages/synteny-core/src/renameRegionsForAdapter.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/moveMatchingPanel.ts
Due: prettier --write, eslint --fix

test(jbrowse-web): regenerate the config snapshot the new fixture track left stale
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
Due: none

docs(synteny): correct three claims the refName fix left in the reference doc
  agent-docs/TODO.md
  agent-docs/ideas/two-axis-synteny-fetch.md
  agent-docs/reference/REFNAME_NAMESPACES.md
  plugins/linear-comparative-view/src/SyntenyFollow/CLAUDE.md
Due: prettier --write

fix(synteny): the mate ASSEMBLY name is a namespace too, and the follow compared across it
  agent-docs/reference/REFNAME_NAMESPACES.md
  packages/synteny-core/src/index.ts
  packages/synteny-core/src/renameDictLane.test.ts
  packages/synteny-core/src/renameDictLane.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/afterAttach.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/LinearSyntenyRefNameAlias.test.tsx
  test_data/volvox/config.json
  test_data/volvox/volvox_asmalias.paf
Due: prettier --write, eslint --fix

docs: regenerate the reference index for the refname doc's new description
  agent-docs/reference/README.md
Due: prettier --write

refactor(rpc): diagonalize is two ordinary RPC methods, not a generic base
  packages/core/src/pluggableElementTypes/RpcMethodType.ts
  packages/core/src/pluggableElementTypes/rpcExecuteArgsSignature.test.ts
  packages/synteny-core/src/DiagonalizeRpcBase.ts
  packages/synteny-core/src/index.ts
  packages/synteny-core/src/runDiagonalize.ts
  plugins/dotplot-view/src/DiagonalizeDotplotRpc.ts
  plugins/linear-comparative-view/src/DiagonalizeSyntenyRpc.ts
Due: prettier --write, eslint --fix

docs(rpc): ownArgs is not structuredClone for a production reason
  packages/core/src/pluggableElementTypes/RpcMethodType.test.ts
  packages/core/src/pluggableElementTypes/RpcMethodType.ts
Due: prettier --write, eslint --fix

docs(abi): the second type parameter and DiagonalizeRpcBase
  agent-docs/reference/PLUGIN_ABI_STABILITY.md
Due: prettier --write

test(rpc): the escape hatch is silent, so scan for it
  packages/core/src/pluggableElementTypes/rpcExecuteArgsSignature.test.ts
Due: prettier --write, eslint --fix

refactor(synteny-core): the barrel stops re-exporting executeDiagonalize
  agent-docs/reference/PLUGIN_ABI_STABILITY.md
  packages/synteny-core/src/index.ts
Due: prettier --write, eslint --fix

test(display): one session shim for the ten display harnesses
  agent-docs/ideas/README.md
  agent-docs/ideas/display-test-harness.md
  agent-docs/reference/TEST_INFRASTRUCTURE.md
  packages/display-test-utils/package.json
  packages/display-test-utils/src/displayTestSessionModel.ts
  packages/display-test-utils/src/index.ts
  packages/display-test-utils/src/testAssembly.ts
  plugins/arc/package.json
  plugins/arc/src/shared/testEnv.ts
  plugins/canvas/package.json
  plugins/canvas/src/LinearBasicDisplay/testEnv.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/testEnv.ts
  plugins/gwas/package.json
  plugins/gwas/src/LinearManhattanDisplay/testEnv.ts
  plugins/hic/package.json
  plugins/hic/src/LinearHicDisplay/testEnv.ts
  plugins/linear-comparative-view/package.json
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/testEnv.ts
  plugins/maf/package.json
  plugins/maf/src/LinearMafDisplay/testEnv.ts
  plugins/variants/package.json
  plugins/variants/src/shared/testEnv.ts
  plugins/wiggle/package.json
  plugins/wiggle/src/LinearWiggleDisplay/testEnv.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/testEnv.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

bump deps 2
  pnpm-lock.yaml
Due: none
