Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

The facet remap runs through the encode memo, so a region landing re-uploads only itself
  plugins/marks/src/LinearMarkDisplay/facet.ts
  plugins/marks/src/LinearMarkDisplay/facetUploadSchedule.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  website/docs/models/LinearMarkDisplay.md
Due: prettier --write, eslint --fix

A faceted layer hands the encoder its features as their steps left them, with the stacked rows beside them
  agent-docs/architecture-decision-records/adr-130-a-facet-is-the-displays-and-splits-before-each-layers-steps.md
  packages/core/README.md
  packages/core/src/ReExports/reExports.generated.json
  packages/core/src/rpc/methods/CoreEncodeFeatures.ts
  packages/core/src/rpc/methods/CoreGetEncodedFeature.ts
  packages/core/src/rpc/methods/layerFeatures.ts
  packages/core/src/util/featureTransforms.test.ts
  packages/core/src/util/featureTransforms.ts
  packages/core/src/util/markEncoding.ts
  website/docs/api/core.md
Due: prettier --write, eslint --fix

Regenerate the type docs and bundle sizes for the facet memo
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
Due: none

Two list slot types: colorArray and stringEnumArray
  packages/core/src/configuration/configTypeNarrowing.test.ts
  packages/core/src/configuration/configurationSlot.test.ts
  packages/core/src/configuration/configurationSlot.ts
  packages/core/src/configuration/slotFacade.test.ts
  packages/core/src/configuration/slotFacade.ts
  packages/core/src/configuration/types.ts
  plugins/config/src/ConfigurationEditorWidget/components/ColorEditor.tsx
  plugins/config/src/ConfigurationEditorWidget/components/EntryListEditor.test.tsx
  plugins/config/src/ConfigurationEditorWidget/components/EntryListEditor.tsx
  plugins/config/src/ConfigurationEditorWidget/components/SlotEditor.tsx
  products/jbrowse-cli/src/commands/validate/configSchema.generated.ts
  scripts/configJsonSchema.ts
  website/docs/config_guides/slot_types.md
  website/docs/developer_guides/configuration_schema.md
  website/scripts/api-docs/generateConfigDocs.ts
  website/scripts/api-docs/generateSlotTypeDocs.ts
  website/static/schema/v5/config.json
Due: prettier --write, eslint --fix

The encoder reads a ramp's ends, reverse and scheme as the config spells them
  packages/core/README.md
  packages/core/src/ReExports/reExports.generated.json
  packages/core/src/util/categoricalField.test.ts
  packages/core/src/util/categoricalField.ts
  packages/core/src/util/colorRamp.ts
  packages/core/src/util/colorSchemes.ts
  packages/core/src/util/markEncoding.test.ts
  packages/core/src/util/markEncoding.ts
  packages/core/src/util/markEncodingTypes.ts
  plugins/canvas/src/RenderFeatureDataRPC/featureColors.ts
  plugins/gwas/src/LinearManhattanDisplay/stateModelFactory.ts
  plugins/gwas/src/ManhattanRPC/executeGetManhattanData.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/geneColor.ts
  plugins/marks/src/LinearMarkDisplay/facet.ts
  plugins/marks/src/LinearMarkDisplay/legend.test.ts
  plugins/marks/src/LinearMarkDisplay/legend.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  scripts/moduleClosure.test.ts
  website/docs/api/core.md
Due: prettier --write, eslint --fix

A layer's own pileup is its row channel's default in the worker
  packages/core/src/rpc/methods/CoreEncodeFeatures.test.ts
  packages/core/src/rpc/methods/CoreEncodeFeatures.ts
  packages/core/src/rpc/methods/layerFeatures.ts
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
Due: prettier --write, eslint --fix

Registry bundle sizes after the rebase onto main
  scripts/registryBundleSizes.json
Due: none

The one-slot-write walk writes a list slot's choices as lists
  products/jbrowse-web/src/tests/ChannelObjectSlotWrites.test.ts
Due: prettier --write, eslint --fix

Hoist the morph clock and easing into core beside animationAllowed
  packages/core/src/util/animationAllowed.test.ts
  packages/core/src/util/animationAllowed.ts
  packages/core/src/util/index.ts
  plugins/canvas/src/LinearBasicDisplay/components/FeatureComponent.tsx
  plugins/canvas/src/LinearBasicDisplay/yMorph.test.ts
  plugins/canvas/src/LinearBasicDisplay/yMorph.ts
  plugins/canvas/src/LinearBasicDisplay/yMorphViews.ts
Due: prettier --write, eslint --fix

Capture waits hold while a display is animating
  packages/app-core/src/JbApi/jbApi.test.ts
  packages/app-core/src/JbApi/jbApi.ts
  packages/display-kit/src/DisplayChrome.test.tsx
  packages/display-kit/src/DisplayChromeBase.tsx
  packages/display-kit/src/chromeTestModel.ts
  plugins/canvas/src/LinearBasicDisplay/yMorphViews.ts
  products/jbrowse-capture/src/appSettled.test.ts
  products/jbrowse-capture/src/index.ts
  products/jbrowse-capture/src/pageBusy.test.ts
  products/jbrowse-capture/src/waits.ts
  products/jbrowse-web/browser-tests/README.md
  products/jbrowse-web/browser-tests/crossBackendGate.ts
  products/jbrowse-web/browser-tests/snapshot.ts
  website/docs/jbrowse-capture.md
Due: prettier --write, eslint --fix

A per-lane map in the multi-way render state
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayBackendParity.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayMarks.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayRenderTypes.ts
Due: prettier --write, eslint --fix

Flip the capture test's animating attribute through dataset
  products/jbrowse-capture/src/appSettled.test.ts
Due: prettier --write, eslint --fix

Regenerate for the hoisted morph clock and the animating signal
  packages/core/src/ReExports/reExports.generated.json
  products/jbrowse-capture/README.md
  scripts/chromeBundleSizes.json
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
Due: prettier --write

Animate a mate lane's same-contig jump instead of snapping it
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/afterAttach.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/components/ReactComponent.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneMotion.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneMotion.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneMotionDrawn.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneStack.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/layoutMultiWay.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/model.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/multiwayGeometry.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/renderSvg.tsx
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/testEnv.ts
Due: prettier --write, eslint --fix

A re-decision that moves nothing on screen starts no transition
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneMotion.test.ts
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneMotion.ts
Due: prettier --write, eslint --fix

Reference: how a multi-way lane moves between two frames
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
Due: prettier --write

The magnified-ribbon test builds its stack with the contig options
  plugins/linear-comparative-view/src/MultiWaySyntenyDisplay/laneMotionDrawn.test.ts
Due: prettier --write, eslint --fix

Regenerate the type docs, the display census and bundle sizes for lane motion
  agent-docs/ARCHITECTURE.md
Due: prettier --write

Canvas's row morph ends at its end time whatever the frame loop did
  plugins/canvas/src/LinearBasicDisplay/yMorphAutorun.test.ts
  plugins/canvas/src/LinearBasicDisplay/yMorphViews.ts
Due: prettier --write, eslint --fix

Regenerate the lane-motion model docs, type docs and bundle sizes after the rebase onto main
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/registryBundleSizes.json
  website/docs/models/MultiWaySyntenyDisplay.md
Due: prettier --write

Close the multiway review handoff: landings into the reference, follow-ups into the ideas file
  agent-docs/handoffs/README.md
  agent-docs/handoffs/multiway-review-plan.md
  agent-docs/ideas/collections/multiway-synteny-lgv-track.md
  agent-docs/reference/MULTIWAY_SYNTENY_DISPLAY.md
Due: prettier --write

No realm reaches shader text statically: a lint rule, and the registry gate
  eslint.config.mjs
  scripts/measureRegistryBundle.ts
  scripts/registryBundleSizes.json
Due: prettier --write, eslint --fix

A display's first frame waits for its shader text and is its only frame
  packages/render-core/src/firstPaintAwaitsShaderText.test.ts
Due: prettier --write, eslint --fix

The GPU guides say where a shader's text lives and when it loads
  agent-docs/reference/GPU_RENDERING.md
  agent-docs/reference/SHADER_JS_CODEGEN.md
  packages/core/src/ReExports/reExports.generated.json
  website/docs/developer_guides/creating_gpu_display.md
Due: prettier --write

EAGER_BUNDLE records why shader text reached every realm and what moved it
  agent-docs/reference/EAGER_BUNDLE.md
  agent-docs/reference/PLUGIN_ABI_STABILITY.md
Due: prettier --write

GPU_RENDERING names the multi-way glyph block's range by its current function
  agent-docs/reference/GPU_RENDERING.md
Due: prettier --write

A null member reads as unset on the create path, as setSlot reads it
  agent-docs/architecture-decision-records/adr-146-null-is-the-json-spelling-of-a-slot-reset.md
  packages/core/src/configuration/CLAUDE.md
  packages/core/src/configuration/configurationSchema.test.ts
  packages/core/src/configuration/configurationSchema.ts
  packages/core/src/configuration/schemaRegistry.ts
  packages/core/src/configuration/snapshotPreprocess.ts
  packages/wiggle-core/src/valueScaleConfigSchema.ts
  website/docs/config/ValueScale.md
Due: prettier --write, eslint --fix

An aggregate op's as reaches the worker resolved to its output name
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
Due: prettier --write, eslint --fix

A jexl: colour field exports, and an SVG export that throws fails loudly
  packages/core/src/util/renderToStaticMarkup.test.tsx
  packages/core/src/util/renderToStaticMarkup.ts
  plugins/canvas/src/LinearBasicDisplay/colorViews.ts
  products/jbrowse-img/src/configuredDisplay.test.ts
Due: prettier --write, eslint --fix

The score menu offers reference lines only where the display draws them
  packages/core/src/ReExports/reExports.generated.json
  packages/display-ui/src/axisPlacement.ts
  packages/wiggle-core/src/ScoreScaleMixin.ts
  packages/wiggle-core/src/scoreMenuItems.test.ts
  packages/wiggle-core/src/scoreMenuItems.ts
  plugins/wiggle/src/LinearWiggleDisplay/scoreRules.test.ts
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearGCContentDisplay.md
  website/docs/models/LinearGCContentTrackDisplay.md
  website/docs/models/LinearManhattanDisplay.md
  website/docs/models/LinearMarkDisplay.md
  website/docs/models/LinearWiggleDisplay.md
  website/docs/models/ScoreFieldConfigMixin.md
  website/docs/models/ScoreScaleMixin.md
  website/docs/models/SharedGCContentModel.md
  website/docs/models/WiggleCommonMixin.md
  website/docs/models/WiggleScoreConfigMixin.md
Due: prettier --write, eslint --fix

The mark display's two notices name what they read
  packages/core/src/util/markEncoding.ts
  packages/core/src/util/markEncodingTypes.ts
  packages/display-kit/src/skippedFeatures.ts
  plugins/marks/src/LinearMarkDisplay/components/MarkTooltip.test.tsx
  plugins/marks/src/LinearMarkDisplay/components/MarkTooltip.tsx
  plugins/marks/src/LinearMarkDisplay/model.test.ts
  plugins/marks/src/LinearMarkDisplay/model.ts
  website/docs/models/LinearMarkDisplay.md
Due: prettier --write, eslint --fix

MultiWiggleAdapter lists its subtracks' features in declared order
  plugins/wiggle/src/MultiWiggleAdapter/MultiWiggleAdapter.test.ts
  plugins/wiggle/src/MultiWiggleAdapter/MultiWiggleAdapter.ts
Due: prettier --write, eslint --fix

A path reaches a dotted INFO key, and an unreadable pileup start packs last
  packages/core/src/util/featureTransforms.test.ts
  packages/core/src/util/featureTransforms.ts
  packages/core/src/util/fieldReader.test.ts
  packages/core/src/util/fieldReader.ts
Due: prettier --write, eslint --fix

An axis caption keeps clear of wide tick labels and inside its display
  packages/core/package.json
  packages/core/src/ReExports/list.ts
  packages/core/src/ReExports/reExports.generated.json
  packages/display-kit/src/DisplayChrome.test.tsx
  packages/display-kit/src/renderDisplaySvg.test.tsx
  packages/display-kit/src/renderDisplaySvg.tsx
  packages/display-ui/src/AxisCaption.test.tsx
  packages/display-ui/src/AxisCaption.tsx
  packages/display-ui/src/AxisGutter.tsx
  packages/display-ui/src/YScaleBar.tsx
  packages/display-ui/src/YScaleBarOverlay.tsx
  packages/display-ui/src/axisPlacement.ts
  packages/display-ui/src/index.ts
  packages/display-ui/src/yAxisConstants.ts
  packages/display-ui/src/yScaleTicks.ts
  plugins/wiggle/src/LinearWiggleDisplay/WiggleRowLabels.tsx
  products/jbrowse-desktop/src/workerReExports.generated.ts
  products/jbrowse-react-app/src/workerReExports.generated.ts
  products/jbrowse-react-circular-genome-view/src/workerReExports.generated.ts
  products/jbrowse-react-linear-genome-view/src/workerReExports.generated.ts
  products/jbrowse-web/src/workerReExports.generated.ts
Due: prettier --write, eslint --fix

Regenerate the core module registry, docs and bundle sizes after the rebase onto main
  packages/core/src/ReExports/coreModules.generated.ts
  packages/core/src/ReExports/coreWorkerModules.generated.ts
  products/jbrowse-desktop/electron/mcp/docs/typeDocs.generated.json
  scripts/chromeBundleSizes.json
  scripts/registryBundleSizes.json
  website/docs/developer_guides/imports_and_reexports.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
Due: prettier --write, eslint --fix

The WebGPU HAL builds each pass's layout from what its shader reads
  agent-docs/ideas/closed/size-the-uniform-ring-to-its-measured-occupancy.md
  agent-docs/reference/ARCHITECTURAL_LIMITS.md
  agent-docs/reference/GPU_GLOSSARY.md
  agent-docs/reference/GPU_RENDERING.md
  agent-docs/reference/PLUGIN_ABI_STABILITY.md
  packages/render-core/src/colorRampLut.test.ts
  packages/render-core/src/computePipeline.ts
  packages/render-core/src/hal/deviceGpuCache.test.ts
  packages/render-core/src/hal/deviceGpuCache.ts
  packages/render-core/src/hal/types.ts
  packages/render-core/src/hal/webgpuHal.ts
  packages/render-core/src/hal/webgpuHalBindingVisibility.test.ts
  packages/render-core/src/perRegionRenderingBackend.test.ts
  packages/render-core/src/sampleCountDerivation.test.ts
  packages/render-core/src/slangPass.test.ts
  packages/render-core/src/slangPass.ts
  packages/render-core/src/webgpuUtils.ts
Due: prettier --write, eslint --fix

TextureBinding drops the WebGPU indices the binding table carries
  agent-docs/reference/PLUGIN_ABI_STABILITY.md
  packages/render-core/src/colorRampLut.test.ts
  packages/render-core/src/hal/types.ts
  packages/render-core/src/hal/webgl2HalPrograms.test.ts
  packages/render-core/src/marks/defineMark.test.ts
  packages/render-core/src/shaders/barMark.iface.generated.ts
  packages/render-core/src/shaders/pointMark.iface.generated.ts
  packages/render-core/src/slangPass.test.ts
  packages/shader-tools/src/shader-codegen/codegen.test.ts
  packages/shader-tools/src/shader-codegen/codegen.ts
  packages/shader-tools/src/shader-codegen/reflection.test.ts
  packages/shader-tools/src/shader-codegen/reflection.ts
  plugins/circular-view/src/rings/shaders/ringWarp.iface.generated.ts
  plugins/hic/src/LinearHicDisplay/components/shaders/hic.iface.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldGenomic.iface.generated.ts
  plugins/variants/src/LDDisplay/components/shaders/ldUniform.iface.generated.ts
  plugins/wiggle/src/shared/shaders/wiggleDensity.iface.generated.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
