Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Generic-filehandle electron fix
  products/jbrowse-desktop/scripts/config.js
Due: none

Generic filehandle electron fix (#5109)
  package.json
  products/jbrowse-cli/package.json
  products/jbrowse-desktop/scripts/config.js
  yarn.lock
Due: none

[skip ci] Remove commented webpack config
  products/jbrowse-desktop/scripts/config.js
Due: none

[skip ci] Release draft
  website/release_announcement_drafts/v3.6.3.md
Due: prettier --write

Update snap
  products/jbrowse-cli/src/commands/__snapshots__/add-connection.test.ts.snap
Due: none

Prepare for v3.6.3 release
  CHANGELOG.md
  website/blog/2025-07-14-v3.6.3-release.md
  website/docusaurus.config.json
Due: prettier --write

[skip ci] Bump version.js
  products/jbrowse-react-circular-genome-view/src/version.js
Due: none

[skip ci] Bump version.js
  products/jbrowse-react-app/src/version.js
Due: none

[skip ci] Bump version.js
  products/jbrowse-react-linear-genome-view/src/version.js
Due: none

Wdio starter
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/test/specs/test.e2e.ts
  products/jbrowse-desktop/wdio.conf.ts
Due: prettier --write, eslint --fix

Start
  package.json
  products/jbrowse-desktop/wdio.conf.ts
  yarn.lock
Due: prettier --write, eslint --fix

Appears to still work
  package.json
  products/jbrowse-desktop/wdio.conf.ts
  yarn.lock
Due: prettier --write, eslint --fix

Move dependencies used in testing auth around
  auth_test_utils/package.json
  auth_test_utils/yarn.lock
  package.json
  yarn.lock
Due: none

Reduce
  products/jbrowse-desktop/test/specs/test.e2e.ts
  products/jbrowse-desktop/wdio.conf.ts
Due: prettier --write, eslint --fix

Built test
  .github/workflows/push.yml
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/test/specs/test.e2e.ts
  products/jbrowse-desktop/wdio.conf.ts
Due: prettier --write, eslint --fix

Fix issue where multiple submenus could be opened at once
  packages/core/ui/CascadingMenu.tsx
  packages/core/ui/hooks.ts
Due: prettier --write, eslint --fix

Fix issue where multiple cascading submenus could be opened at once (#5111)
  packages/core/ui/CascadingMenu.tsx
  packages/core/ui/hooks.ts
Due: prettier --write, eslint --fix

Modularize
  packages/product-core/src/ui/AboutDialogContents.tsx
  packages/product-core/src/ui/HeaderButtons.tsx
  packages/product-core/src/ui/util.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/configSchemaF.ts
Due: prettier --write, eslint --fix

Misc
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/configSchemaF.ts
Due: prettier --write, eslint --fix

Add locstrings to synteny mouseovers (#5114)
  packages/product-core/src/ui/AboutDialogContents.tsx
  packages/product-core/src/ui/HeaderButtons.tsx
  packages/product-core/src/ui/util.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/configSchemaF.ts
Due: prettier --write, eslint --fix

Add track widget bug
  plugins/data-management/src/AddTrackWidget/components/DefaultAddTrackWorkflow.tsx
  plugins/data-management/src/AddTrackWidget/model.ts
  products/jbrowse-web/src/tests/AddTrackWidget.test.tsx
Due: prettier --write, eslint --fix

Split manual and auto selected adapter hint
  plugins/data-management/src/AddTrackWidget/components/ConfirmTrack.tsx
  plugins/data-management/src/AddTrackWidget/components/TrackAdapterSelector.tsx
  plugins/data-management/src/AddTrackWidget/model.ts
Due: prettier --write, eslint --fix

Add padding if selecting search result from table
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchResultsTable.tsx
Due: prettier --write, eslint --fix

[skip ci] Add track widget bug
  plugins/data-management/src/AddTrackWidget/components/DefaultAddTrackWorkflow.tsx
  plugins/data-management/src/AddTrackWidget/model.ts
  products/jbrowse-web/src/tests/AddTrackWidget.test.tsx
Due: prettier --write, eslint --fix

Fix 'Add track widget' adapter type inferrence when changing input filename (#5115)
  plugins/data-management/src/AddTrackWidget/components/DefaultAddTrackWorkflow.tsx
  plugins/data-management/src/AddTrackWidget/model.ts
  products/jbrowse-web/src/tests/AddTrackWidget.test.tsx
Due: prettier --write, eslint --fix

Rubberband offsets
  plugins/linear-genome-view/src/LinearGenomeView/components/useRangeSelect.ts
Due: prettier --write, eslint --fix

[skip ci] Dialog for editing label was removed
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.tsx
Due: prettier --write, eslint --fix

Avoid clearing click-and-drag rubberband boundaries onMouseOut (#5118)
  plugins/linear-genome-view/src/LinearGenomeView/components/useRangeSelect.ts
Due: prettier --write, eslint --fix

Add padding if selecting search result from table (#5116)
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchResultsTable.tsx
Due: prettier --write, eslint --fix

[skip-ci] De-duplicate error handling
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchResultsTable.tsx
Due: prettier --write, eslint --fix

Add jb2 connection
  plugins/data-management/src/JB2TrackHubConnection/addRelativeUris.ts
  plugins/data-management/src/JB2TrackHubConnection/configSchema.ts
  plugins/data-management/src/JB2TrackHubConnection/doConnect.ts
  plugins/data-management/src/JB2TrackHubConnection/index.ts
  plugins/data-management/src/JB2TrackHubConnection/model.ts
  plugins/data-management/src/JB2TrackHubConnection/util.ts
  plugins/data-management/src/UCSCTrackHubConnection/configSchema.ts
  plugins/data-management/src/UCSCTrackHubConnection/doConnect.ts
  plugins/data-management/src/UCSCTrackHubConnection/index.ts
  plugins/data-management/src/UCSCTrackHubConnection/model.ts
  plugins/data-management/src/UCSCTrackHubConnection/ucscAssemblies.ts
  plugins/data-management/src/UCSCTrackHubConnection/ucscTrackHub.ts
  plugins/data-management/src/UCSCTrackHubConnection/util.ts
  plugins/data-management/src/index.ts
  test_data/volvox/jb2conn.json
Due: prettier --write, eslint --fix

Add concept of launching connection on seeing unknown assembly
  packages/core/assemblyManager/assemblyManager.ts
  packages/web-core/src/SessionConnections.ts
  plugins/data-management/src/JB2TrackHubConnection/doConnect.ts
  test_data/volvox/config.json
  test_data/volvox/config2.json
  test_data/volvox/umd_plugin.js
Due: prettier --write, eslint --fix

Updates
  .ignore
  plugins/data-management/src/JB2TrackHubConnection/doConnect.ts
  plugins/data-management/src/index.ts
  test_data/volvox/jb2conn.json
Due: prettier --write, eslint --fix

Unused
  packages/core/assemblyManager/assemblyManager.ts
  packages/web-core/src/SessionConnections.ts
  test_data/volvox/umd_plugin.js
Due: prettier --write, eslint --fix

Test
  plugins/data-management/src/JB2TrackHubConnection/doConnect.ts
  products/jbrowse-web/src/tests/LGVSynteny.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/lgv-synteny-test-tsx-nav-to-synteny-from-right-click-with-launchame-connection-plugin-1-snap.png
  products/jbrowse-web/src/tests/util.tsx
  test_data/volvox/umd_plugin.js
Due: prettier --write, eslint --fix

weekly
  packages/core/assemblyManager/assemblyManager.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/filterTracks.ts
  plugins/data-management/src/JB2TrackHubConnection/doConnect.ts
  test_data/volvox/umd_plugin.js
Due: prettier --write, eslint --fix

Add guard for the known 'assemblyNamesList' for determining unrecognized
  packages/core/assemblyManager/assemblyManager.ts
Due: prettier --write, eslint --fix

[skip ci] No yargs
  products/jbrowse-img/package.json
  products/jbrowse-img/src/index.ts
  products/jbrowse-img/src/parseArgv.ts
  yarn.lock
Due: prettier --write, eslint --fix

Test
  packages/core/assemblyManager/assemblyManager.ts
  plugins/data-management/src/JB2TrackHubConnection/doConnect.ts
  products/jbrowse-web/src/tests/LGVSynteny.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/lgv-synteny-test-tsx-nav-to-synteny-from-right-click-with-launch-connection-plugin-1-snap.png
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
