Repository GMOD/jbrowse-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(rpc): the boot handshake and the error frame both stop losing a failure
  packages/core/src/rpc/RpcClient.test.ts
  packages/core/src/rpc/RpcClient.ts
  packages/core/src/rpc/RpcServer.ts
  packages/core/src/rpc/WebWorkerRpcDriver.ts
  packages/product-core/src/rpcWorker.test.ts
  packages/product-core/src/rpcWorker.ts
Due: prettier --write, eslint --fix

fix(render-core): effectiveRenderer knows about the software-rasterizer skip
  packages/render-core/src/graphicsCapabilities.test.ts
  packages/render-core/src/graphicsCapabilities.ts
Due: prettier --write, eslint --fix

docs(handoff): what the v5.0.0 triage left open
  agent-docs/handoffs/v5-release-triage.md
Due: prettier --write

docs(core): say why the four parent-walk caches in mstUtils are there
  packages/core/src/util/mstUtils.ts
  scripts/chromeBundleSizes.json
Due: prettier --write, eslint --fix

fix(synteny): the display model's type alias blew past tsc's declaration limit
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  website/docs/models/LinearSyntenyViewHelper.md
Due: prettier --write, eslint --fix

fix(display-ui): allow Tooltip's cloneElement, and say why it is there
  packages/display-ui/README.md
  packages/display-ui/src/tooltip/Tooltip.tsx
  website/docs/api/display-ui.md
Due: prettier --write, eslint --fix

build(docs): record the fence-baseline raise createCircularGenomeView caused
  website/scripts/sync-doc-snippets.ts
Due: prettier --write, eslint --fix

chore: pre-push autofix
  scripts/chromeBundleSizes.json
Due: none

docs(agent): record the ten-lane audit of the v5.0.0 announcement draft
  agent-docs/handoffs/v5-announcement-audit.md
Due: prettier --write

docs(gpu): file the three simplifications the render path is holding
  agent-docs/handoffs/gpu-architecture-review.md
Due: prettier --write

fix(docs): correct the v5.0.0 draft, and generate the claims that drift
  agent-docs/reference/PLUGIN_ABI_STABILITY.md
  package.json
  packages/core/src/ReExports/abiPreviousRelease.test.ts
  packages/core/src/ReExports/knownRemovals.ts
  scripts/autogen.ts
  scripts/release.ts
  scripts/releaseBlog.test.ts
  scripts/releaseBlog.ts
  website/release_announcement_drafts/v5.0.0.md
  website/scripts/audit-figures.ts
  website/scripts/check-release-drafts.ts
  website/scripts/figure-manifest.json
  website/scripts/generate-abi-removals.ts
  website/scripts/paths.ts
  website/scripts/sync-inline-figures.ts
  website/scripts/sync-measurements.ts
Due: prettier --write, eslint --fix

build(docs): give the lines-of-code chart a generator
  CLAUDE.md
  PUBLISHING.md
  package.json
  website/release_announcement_drafts/v5.0.0.md
  website/scripts/generate-loc-chart.ts
Due: prettier --write, eslint --fix

fix(cli): say where a sequenceAdapter comes from, and drop two that did nothing
  demos/hg002/config-chr22.json
  products/jbrowse-cli/src/commands/validate/validateConfig.test.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.ts
Due: prettier --write, eslint --fix

build(ci): watch what the published plugins take off the ABI, weekly
  .github/workflows/abi-watch.yml
  PUBLISHING.md
  package.json
  packages/core/src/ReExports/publishedPluginBreaks.json
  scripts/check-published-plugins.ts
Due: prettier --write, eslint --fix

fix(gccontent): take the sequence from the assembly, like every other adapter
  packages/core/package.json
  packages/core/src/data_adapters/getSequenceSubAdapter.ts
  plugins/gccontent/src/GCContentAdapter/GCContentAdapter.test.ts
  plugins/gccontent/src/GCContentAdapter/GCContentAdapter.ts
  plugins/gccontent/src/GCContentAdapter/configSchema.ts
  plugins/gccontent/src/GCContentTrack/configSchema.ts
  plugins/gccontent/src/LinearGCContentDisplay/configSchemaTrack.ts
  plugins/gccontent/src/LinearGCContentDisplay/stateModelTrack.ts
  plugins/sequence/src/ReferenceScanAdapter.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.test.ts
  products/jbrowse-cli/src/commands/validate/validateConfig.ts
  products/jbrowse-react-app/examples-site/src/volvox-config.json
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/config_demo.json
  test_data/config_synteny_grape_peach.json
  test_data/volvox/config.json
  website/docs/config/GCContentAdapter.md
  website/docs/config/GCContentTrack.md
  website/docs/config/LinearGCContentTrackDisplay.md
  website/docs/developer_guides/creating_adapter.md
  website/docs/models/LinearGCContentTrackDisplay.md
Due: prettier --write, eslint --fix

chore: refresh the cgv snapshot
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/__snapshots__/JBrowseCircularGenomeView.test.tsx.snap
Due: none

test(core): cover the sequence-adapter priming where it actually lives
  packages/core/src/data_adapters/BaseAdapter/BaseAdapter.ts
  packages/core/src/data_adapters/sequenceAdapterPriming.test.ts
  packages/core/src/rpc/methods/CoreGetRefNames.test.ts
Due: prettier --write, eslint --fix

docs(ideas): park the lightweight-toolkit analysis
  agent-docs/ideas/README.md
  agent-docs/ideas/lightweight-toolkit.md
Due: prettier --write

refactor(core): one spelling for the assembly's sequence adapter
  agent-docs/ARCHITECTURE.md
  packages/core/src/util/fetchSeq.ts
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/fetchSequence.ts
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearCanvasBaseDisplay.md
  website/docs/models/LinearVariantDisplay.md
Due: prettier --write, eslint --fix

fix(core): say what the missing sequence adapter actually means
  packages/core/src/util/fetchSeq.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/fetchSequence.ts
Due: prettier --write, eslint --fix

feat(lgv): give the view one status getter instead of nine
  packages/core/package.json
  packages/core/src/util/viewStatus.test.ts
  packages/core/src/util/viewStatus.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  products/jbrowse-build-your-own/examples-site/src/docs/loading-and-errors.md
  products/jbrowse-build-your-own/examples-site/src/docs/one-track.md
  products/jbrowse-build-your-own/examples-site/src/examples/BringYourOwnOverlays.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/DriveItFromYourApp.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/EveryChromosome.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/HighlightARegion.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/LoadingAndErrors.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/OneTrack.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/PanAndZoom.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/RunItInAWorker.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/Scalebar.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/SearchByName.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/SearchResultsDropdown.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/StackOfTracks.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/SvgFigure.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/SyntenyRibbons.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/TrackLabels.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/TrackSelectorSidebar.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/TrackSettings.tsx
  products/jbrowse-build-your-own/examples-site/src/examples/YourOwnFeatureDetails.tsx
Due: prettier --write, eslint --fix

refactor(core): derive the sequence adapter where the assembly is already resolved
  packages/core/src/pluggableElementTypes/RpcMethodTypeWithRenameRegion.ts
  packages/core/src/util/renameRegions.ts
  plugins/alignments/src/LinearAlignmentsDisplay/rpcCalls.ts
  plugins/alignments/src/ReadVsRefDialog/fetchPrimaryAlignment.ts
  plugins/alignments/src/consensus/ConsensusSequenceDialog.tsx
  plugins/canvas/src/LinearBasicDisplay/baseModel.ts
Due: prettier --write, eslint --fix

docs(lgv): regenerate the model page for the status getter
  website/docs/models/LinearGenomeView.md
Due: prettier --write

docs(arch): the sequence-adapter section describes the code again
  agent-docs/ARCHITECTURE.md
  agent-docs/reference/REJECTED_IDEAS.md
Due: prettier --write

fix(alignments): the cross-group strand consensus shared no locus with itself
  plugins/alignments/src/LinearAlignmentsDisplay/chainStrandConsensus.ts
  plugins/alignments/src/LinearAlignmentsDisplay/chainStrandFramesByGroup.test.ts
  plugins/alignments/src/LinearAlignmentsDisplay/groupLayout.ts
Due: prettier --write, eslint --fix

fix(maf): the coverage tooltip's SNP snap searched the neighbouring pixel
  plugins/maf/src/LinearMafDisplay/components/MAFTooltip.tsx
  plugins/maf/src/LinearMafDisplay/coverageInsertion.ts
  plugins/maf/src/LinearMafDisplay/coverageSnpSnap.test.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
Due: prettier --write, eslint --fix

docs(alignments): three comments naming the state their fix retired
  plugins/alignments/src/LinearAlignmentsDisplay/components/computeVisibleLabels.ts
  plugins/alignments/src/features/arcs/hitTest.ts
  plugins/alignments/src/features/mismatch/drawCanvas.ts
Due: prettier --write, eslint --fix

test(core): pin the one ordering in CoreGetRefNames that reads as arbitrary
  packages/core/src/data_adapters/BaseAdapter/BaseAdapter.ts
  packages/core/src/data_adapters/getFeatureAdapter.ts
  packages/core/src/data_adapters/sequenceAdapterPriming.test.ts
  packages/core/src/rpc/RpcRegistry.ts
  packages/core/src/rpc/methods/CoreGetRefNames.ts
  plugins/alignments/src/RenderAlignmentDataRPC/GetConsensusSequence.ts
  plugins/alignments/src/RenderAlignmentDataRPC/GetFeatureDetails.ts
  plugins/alignments/src/RenderAlignmentDataRPC/types.ts
  plugins/canvas/src/RenderFeatureDataRPC/rpcTypes.ts
Due: prettier --write, eslint --fix

docs(core): trim the comments 772a55fbd3 added, and put one beside its statement
  packages/core/src/data_adapters/getFeatureAdapter.ts
  packages/core/src/rpc/RpcRegistry.ts
  packages/core/src/rpc/methods/CoreGetRefNames.ts
Due: prettier --write, eslint --fix

Misc draft update
  website/release_announcement_drafts/v5.0.0.md
  website/scripts/import-jb2bench.ts
Due: prettier --write, eslint --fix

fix(canvas): the boxes covering a badge stop one padding short of it
  plugins/canvas/src/LinearBasicDisplay/components/labelPositioning.ts
  plugins/canvas/src/LinearBasicDisplay/moreIsoformsBadge.test.tsx
Due: prettier --write, eslint --fix

fix(canvas): an SVG export tells the reader to click a control it does not have
  plugins/canvas/src/LinearBasicDisplay/renderSvg.test.tsx
  plugins/canvas/src/LinearBasicDisplay/renderSvg.tsx
Due: prettier --write, eslint --fix

refactor(canvas): a resolved label is a union, so the badge stops being a flag
  plugins/canvas/src/LinearBasicDisplay/components/labelPositioning.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/overlayElements.tsx
  plugins/canvas/src/RenderFeatureDataRPC/rpcTypes.ts
Due: prettier --write, eslint --fix

docs(canvas): Representative transcript does carry a badge, on a gene you opened
  website/docs/user_guides/gene_track.md
Due: prettier --write

docs(canvas): the isoform cap's three comment blocks stop outweighing their code
  plugins/canvas/src/LinearBasicDisplay/components/geneGlyphTooltip.ts
  plugins/canvas/src/LinearBasicDisplay/isoformBudget.ts
  plugins/canvas/src/RenderFeatureDataRPC/floatingLabels.ts
Due: prettier --write, eslint --fix

docs(canvas): three comments still named maxLabelTextWidth
  plugins/canvas/src/LinearBasicDisplay/components/labelPositioning.test.ts
  plugins/canvas/src/LinearBasicDisplay/components/labelPositioning.ts
  plugins/canvas/src/RenderFeatureDataRPC/floatingLabels.ts
Due: prettier --write, eslint --fix

wip: RowHeightMixin
  packages/tree-sidebar/src/index.ts
  packages/tree-sidebar/src/rowHeight/RowHeightMixin.ts
  packages/tree-sidebar/src/rowHeight/rowHeightConfigSchemaFields.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/configSchema.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/maf/src/LinearMafDisplay/configSchema.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
  plugins/variants/src/shared/SharedVariantConfigSchema.ts
Due: prettier --write, eslint --fix

wip: RowHeightMixin test
  packages/tree-sidebar/src/rowHeight/RowHeightMixin.test.ts
Due: prettier --write, eslint --fix

wip: docs
  agent-docs/ARCHITECTURE.md
  agent-docs/reference/DUPLICATE_SWEEPS.md
  agent-docs/reference/README.md
  agent-docs/reference/ROW_HEIGHT_AND_FIT.md
  packages/tree-sidebar/CLAUDE.md
  packages/tree-sidebar/src/rowHeight/RowHeightMixin.test.ts
  packages/tree-sidebar/src/rowHeight/rowHeightConfigSchemaFields.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/configSchema.ts
  website/docs/config/LinearMafDisplay.md
  website/docs/config/LinearMultiRowFeatureDisplay.md
  website/docs/config/LinearMultiSampleVariantDisplay.md
  website/docs/config/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/config/SharedVariantDisplay.md
  website/docs/developer_guides/creating_display.md
  website/docs/developer_guides/mst_patterns.md
  website/docs/models/LinearMafDisplay.md
  website/docs/models/LinearMultiRowFeatureDisplay.md
  website/docs/models/LinearMultiSampleVariantDisplay.md
  website/docs/models/LinearMultiSampleVariantMatrixDisplay.md
  website/docs/models/MultiSampleVariantBaseModel.md
  website/docs/models/RowHeightMixin.md
  website/scripts/api-docs/generateConfigDocs.ts
Due: prettier --write, eslint --fix

wip: RowHeightMixin, "pinned" -> "fixed" throughout
  agent-docs/reference/ROW_HEIGHT_AND_FIT.md
  packages/tree-sidebar/src/rowHeight/RowHeightMixin.ts
  packages/tree-sidebar/src/rowHeight/rowHeightMenu.ts
  plugins/canvas/src/LinearMultiRowFeatureDisplay/model.ts
  plugins/maf/src/LinearMafDisplay/stateModel.ts
  plugins/variants/src/shared/MultiSampleVariantBaseModel.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,mdx,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
